<div class="shoptitle general">
	<h3>About Us</h3>
	<div class="intro"></div>
</div>  

<div class="about">
	<div class="menu">
		<dl>
			<dd><ul>
				<li><a href="{{path_prefix}}/about/">About Us</a></li>
				<li><a href="{{path_prefix}}/contact/">Contact Us</a></li>
			</ul></dd>
		</dl>
	</div>
	<p>{{settings.about|linebreaks}}</p>
</div>