<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=1300, user-scalable=yes" />
	<meta charset="utf-8">
	<title>{{settings.page_title}}{% if thing.name %} - {{thing.name}}{% endif %}</title>
	{% if thing %}
	<meta property="og:site_name" content="{{settings.page_title}}">
	<meta property="og:title" content="{{settings.page_title}} - {{thing.name}}">
	<meta property="og:description" content="{{thing.sale.description}}">
	<meta property="og:image" content="{{thing.image.url}}">
	{% endif %}
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	{{ 'theme.css' | asset_css }}
	{{ header_content }}
	{{ 'js/jquery.js' | common_asset_script }}
	{{ 'js/jquery-ui.js' | common_asset_script }}  	
	{{ 'js/underscore.js' | common_asset_script }}
	{{ 'js/contact.js' | common_asset_script }}
	{{ 'js/popup.js' | common_asset_script }}
	{{ 'js/tabpage.js' | common_asset_script }}
	{{ 'main.js' | asset_script }}
</head>
<body>
<div id="widget" style="">
	<div class="after">
		{%if viewer.id == seller.id and not is_preview %}
			<div class="dropdown">
				<a class="btn-dashboard dark"><i class="icon"></i>Dashboard</a>
				<div class="dropdown_list">
					<ul>
						<li><a href="http://fancy.com/merchant/dashboard">Dashboard</a></li>
						<li><a href="http://fancy.com/merchant/orders/open">Orders</a></li>
						<li><a href="http://fancy.com/merchant/products">Products</a></li>
						<li><a href="http://fancy.com/merchant/storefront">Storefront</a></li>
						<li><a href="http://fancy.com/merchant/campaigns">Campaigns</a></li>
					</ul>
					<ul>
						<li><a href="http://fancy.com/about/merchants/mobile">Download Seller App</a></li>
						<li><a href="http://fancy.com/about/merchants">Help Center</a></li>
					</ul>
				</div>
			</div>
			<div class="dropdown" >
				<a href="http://fancy.com/merchant/storefront#set_password" class="btn-pw {%if storefront.prop.is_locked%}on{%endif%}">Password</a>
				<div class="dropdown_list">
					<ul {%if storefront.prop.is_locked%}style="display: none;"{%endif%}>
						<li><a href="http://fancy.com/merchant/storefront#set_password" class="change" >Set a new password</a></li>
					</ul>
					<ul {%if not storefront.prop.is_locked%}style="display: none;"{%endif%}>
						<li><a href="http://fancy.com/merchant/storefront#set_password" class="change" >Change your password</a></li>
					</ul>
				</div>
			</div>
			<a class="btn-customize dark"><i class="icon"></i>Customize</a>
		{%else%}
			<a href="#cart" class="btn-cart dark" data-component='popup'><i class="icon"></i>Cart <small class="count">0</small></a>
		{%endif%}
		{%if settings.newsletter and settings.newsletter.display_in_footer%}
			<a href="#newsletter" data-component="popup" class="show_newsletter">NEWSLETTER</a>
		{%endif%}
	</div>
</div>
<div id="wrap">
	<header id="header">
		<div class="inner after bg">
			<h1 class="logo"><a href="{{path_prefix}}/"><img src="{{settings.logo_image|asset_url}}" alt="" ></a></h1>
			<ul class="navigation">
				<li><a href="{{path_prefix}}/" {% if path_prefix|add:'/'|startswith:current_path %}class="current"{% endif %}><b>HOME</b><span>HOME</span></a></li>
				<li><a href="{{path_prefix}}/shop" {% if path_prefix|add:'/shop'|is_prefix_of:current_path %}class="current"{% endif %}><b>SHOP</b><span>SHOP</span></a></li>
				<li><a href="#merchant-about" data-component="popup"><b>ABOUT</b><span>ABOUT</span></a></li>
				<li><a href="#merchant-contact" data-component="popup"><b>CONTACT</b><span>CONTACT</span></a></li>				
			</ul>
			<div class="search">
				<fieldset>
					<input type="text" name="q" {%if params.q %}style="display:none"{%endif%}>
					<b class="result" {%if params.q %}style="display:inline"{%endif%}>{{params.q}}</b>
					<button class="btn-search">Search</button>
					<button class="btn-remove" {%if params.q %}style="display:inline-block"{%endif%}>Remove</button>
				</fieldset>
			</div>
		</div>
	</header>
	<div id="container">
		<div id="content">
{{ main_content }}
		</div>
	</div>
	<div id="footer">
		<div class="inner after">
			{% if seller.external_links|length > 0 %}
			<ul class="sns">
				{% for social in seller.external_links %}
				<li><a href="{{social.link}}">{{social.name}}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
			<p class="copyright"><a href="http://fancy.com">POWERED BY <b>FANCY</b></a></p>
		</div>
	</div>
</div>
<div id="popup_container">
	<div id="blog-post" class="blog-post popup">
		<div class="cover">
			<img class="cover_image" src="">
		</div>
		<div class="title">
			<div class="inner">
				<h2 class="title_"></h2>
				<p class="tagline_"></p>
			</div>
		</div>
		<div class="date"></div>
		<div class="post content_">
		</div>
		<button class="popup_close"></button>
	</div>
	<div id="merchant-about" class="popup merchant-about">
		<h3 class="title">ABOUT</h3>
		<div class="introduce">
		{{seller_profile.bio|safe}}
		</div>
		<ul class="sns">
			{% if seller.external_links|length > 0 %}
			{% for social in seller.external_links %}
			<li><a href="{{social.link}}">{{social.name}}</a></li>
			{% endfor %}
			{% endif %}
			<li><a href="#merchant-policy" data-component="popup">POLICIES</a></li>
		</ul>
		<button class="popup_close"></button>
	</div>
	{%if settings.newsletter and settings.newsletter.display_in_footer%}
	{{ 'js/subscribe_email.js' | common_asset_script }}
	<div data-component="subscribe-email" id="newsletter" class="popup newsletter">
		<div class="frm">
			<h3 class="title">{{settings.newsletter.title}}</h3>
			<fieldset>
				<form>
					<input type="hidden" name="code" value="{{settings.newsletter.code}}"/>
					<input type="hidden" name="seller_username" value="{{seller.username}}"/>          
					<p class="email"><label class="label">Email</label> <input type="text" class="text" name="email" placeholder="Enter your email address" /></p>
					<button class="buttons btn-send">Sign Up</button>
				</form>
			</fieldset>
		</div>
		<button class="popup_close"></button>
	</div>
	{%endif%}
	<div id="merchant-contact" class="popup merchant-contact" data-component="shop-contact">
		<form class="frm">
			<h3 class="title">CONTACT US</h3>
			<fieldset>
				<input type="hidden" name="seller_username" value="{{seller.username}}">
				<input type="hidden" name="subject" value="E-mail from a customer">
				<p class="container_">
					<input type="text" name="from_name" id="contact-from_name" class="text name" placeholder="Your name" value="{{viewer.full_name}}">
					<label class="error-msg" for="contact-from_name" data-text="NAME REQUIRED"></label>
				</p>
				<p class="container_">
					<input type="text" name="from_email" id="contact-from_email" class="text email" placeholder="Your email" value="{{viewer.email}}">
					<label class="error-msg" for="contact-from_email" data-text="EMAIL REQUIRED"></label>
				</p>
				<p class="container_">
					<textarea name="message" class="text msg" id="contact-message" placeholder="Your message"></textarea>
					<label class="error-msg" for="contact-message" data-text="MESSAGE REQUIRED"></label>
				</p>
				<button type="submit" class="buttons btn-send" disabled>SEND MESSAGE</button>
			</fieldset>
		</form>
		<p class="complete" style="display:none">
		{{settings.msg_message_sent}}
		</p>
		<button class="popup_close"></button>
	</div>
	<div id="things" class="popup things">
		<div class="figure-item after">
			<div class="info">
				<h2 class="title title_"></h2>
				<p class="price">$<b class="price_"></b> <small class="currency_">USD</small></p>
				<fieldset class="frm">
					<p class="option">
						<label class="label">SELECT OPTION</label>
						<span class="selectBox">
						<select name="option">
						<script type="template">
						<% _.each(options, function(opt, index) { %>
						<% if(!opt.soldout){ %>
						<option value="<%= opt.id %>" data-soldout="<%= opt.soldout %>" data-price="<%= opt.price %>" data-retail_price="<%= opt.retail_price %>" data-quantity="<%= opt.quantity%>"><%= opt.name %></option>
						<% } %>
						<% }); %>
						</script>
						</select>
						</span>
					</p>	
					<p class="qty">
						<label class="label">QUANTITY</label>
						<input type="text" class="text" name="qty" value="1">
					</p>
					{%if viewer.id != seller.id%}
					<button class="buttons btn-cart">ADD TO CART</button>
					{%else%}
					<a href="/merchant/products/{{thing.sale.id}}/edit" class="buttons btn-cart" target="_blank">EDIT SALE</a>
					{%endif%}
				</fieldset>
				<div class="detail" data-component="tabpage">
					<ul class="detail-menu">
						<li><a href="#tab-description" class="link_">DESCRIPTION</a></li>
						<li><a href="#tab-shipping" class="link_">SHIPPING INFO</a></li>
					</ul>
					<dl id="tab-description" class="description">
						<dt>DESCRIPTION</dt>
						<dd class="description_"></dd>
					</dl>
					<dl id="tab-shipping" class="shipping">
						<dt>SHIPPING INFO</dt>
						<dd class="shipping_policy_"></dd>
					</dl>
				</div>
			</div>
		</div>
		<button class="popup_close"></button>
	</div>
	<div id="cart" class="popup cart">
		<h2 class="title inner">Shopping Cart</h2>
		<div class="inner">
			<div class="not-empty" style='display:none'>
				<table class="order-list">
					<colgroup>
						<col width="*">
						<col width="120">
						<col width="90">
						<col width="120">
					</colgroup>
					<thead>
						<tr>
							<th class="item">Item</th>
							<th class="price">Price</th>
							<th class="qty">Quantity</th>
							<th class="total">Total</th>
							<th class="btn"></th>
						</tr>
					</thead>
					<tbody>
						<script type="template">
							<% _.each(items, function(item){ %>
							<tr data-id="<%= item.id %>">
								<td class="item"><div class="product">
									<a href="{{path_prefix}}/shop/<%=item.thing_id%>">
										<img src="{{ 'img/blank.gif' | common_asset_url }}" style="background-image:url('<%= item.image_url %>');background-size:cover">
									<b class="title"><%= item.title %></b></a>
									<% if(item.option){ %>
									<span class="option">
										<span class="selectBox"><select data-option-id="<%= item.option_id%>">
											<% _.each(item.available_options, function(option){ %>
											<option value="<%=option.id%>" <% if(item.option_id == option.id){ %>selected <%}%> ><%= option.name %></option>
											<% }); %>
											<% if ( item.is_sold_out ) { %>
											<option value="<%=item.option_id%>" selected disabled><%= item.option %></option>
											<% } %>
										</select></span>
									</span>
									<% };%>
									<% if ( !item.available_before_shipping ) { %>
									<span class="error"><%= item.error_message_before_shipping %></span>
									<% } %>
								</div></td>
								<% if (item.item_retail_price > 0) { %>
									<td class="price sales">$<%= item.item_price %> <small class="before">$<%= item.item_retail_price %></small></td>
								<% } else { %>
									<td class="price">$<%= item.item_price %></td>
								<% } %>
								<td class="qty"><input type="text" class="text quantity" value="<%= item.quantity %>" data-value="<%= item.quantity %>"></td>
								<td class="total">$<%= item.subtotal_price %></td>
								<td class="btn"><a href="#" class="remove"><i class="icon"></i></a></td>
							</tr>
							<% }); %>
						</script>
					</tbody>
				</table>
				<div class="sub-total">
					<span class="label">Sub Total</span>
					<b class="price subtotal_">$0</b>
				</div>
				<div class="btn-area">
					{%if viewer.id != seller.id%}
					<a href="#" class="buttons btn-checkout" onclick="if($(this).attr('disabled')) return false;">Proceed to checkout</a>
					{%else%}
					<button class="buttons btn-checkout" disabled>You can't purchase from your own store</button>
					{%endif%}		
				</div>
			</div>
			<div class="empty">
				<i class="icon"></i>There are no items in your cart.
			</div>
		</div>
		<button class="popup_close"></button>
	</div>
	<div id="merchant-policy" class="popup merchant-policy">
		<h3 class="title">Policies</h3>
		<div class="agreement">
			{%if seller.terms_of_services%}
				<h4>Terms of Services</h4>
				<p>{{seller.terms_of_services}}</p>
			{%endif%}
			{%if seller.shipping_policy%}
				<h4>Shipping Policy</h4>
				<p>{{seller.shipping_policy}}</p>
			{%endif%}
			{%if seller.custom_policy%}
				<h4>Return Policy</h4>
				<p>{{seller.custom_policy}}</p>
			{%endif%}
		</div>
	</div>
</div>
</body>
</html>
