@import url("https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
.after:after, .article .description .graphic:after, .article .stream:after, .article .itemList:after, .article .mode-grid:after, .article.edit .status:after, .article.edit .description .graphic.multi:after, .popup.add_thing_item .featured ul:after {
  content: '';
  clear: both;
  display: block;
}

.article .figure-item.add:after, #medium-editor-toolbar-1 .medium-editor-action:before, .medium-editor-toolbar .editable_tools a:before, .article.edit .add_option_tools a:before, .article.edit .add_option .show_option, .article.edit .move:before, .article.edit .remove:before, .article.edit .delete:before, .article.edit #coverImage .add:before, .article.edit .description .gallery .photo-list .placeholder:before, .article.edit .description .add:before {
  background: url("../../images/normal/create_article.png") no-repeat;
  background-size: 400px 300px;
}

.thing-stream-wrapper #content {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#overlay-article .container {
  min-height: auto;
}

#medium-editor-toolbar-1 {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}

#medium-editor-toolbar-1 .medium-editor-action {
  display: inline-block;
  width: 29px;
  min-width: 0;
  height: 29px;
  padding: 0;
  direction: ltr;
  text-indent: -1000em;
  position: relative;
  margin: 0 0 0 1px;
  vertical-align: top;
  border-radius: 0;
  border-right: 0;
  border-left: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

#medium-editor-toolbar-1 .medium-editor-action:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 12px;
  margin-top: -6px;
}

#medium-editor-toolbar-1 .medium-editor-action.seperator {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  width: 1px;
}

#medium-editor-toolbar-1 .medium-editor-action-bold:before {
  width: 10px;
  background-position: -90px -250px;
  margin-left: -5px;
}

#medium-editor-toolbar-1 .medium-editor-action-italic:before {
  width: 4px;
  background-position: -105px -250px;
  margin-left: -2px;
}

#medium-editor-toolbar-1 .medium-editor-action-justifyLeft:before, #medium-editor-toolbar-1 .medium-editor-action-justifyCenter:before, #medium-editor-toolbar-1 .medium-editor-action-justifyRight:before {
  width: 14px;
  margin-left: -7px;
}

#medium-editor-toolbar-1 .medium-editor-action-anchor:before, #medium-editor-toolbar-1 .medium-editor-action-anchor2:before, #medium-editor-toolbar-1 .medium-editor-action-quote:before {
  width: 12px;
  margin-left: -6px;
}

#medium-editor-toolbar-1 .medium-editor-action-justifyLeft:before {
  background-position: -90px -265px;
}

#medium-editor-toolbar-1 .medium-editor-action-justifyCenter:before {
  background-position: -105px -265px;
}

#medium-editor-toolbar-1 .medium-editor-action-justifyRight:before {
  background-position: -120px -265px;
}

#medium-editor-toolbar-1 .medium-editor-action-anchor:before {
  background-position: -110px -250px;
}

#medium-editor-toolbar-1 .medium-editor-action-anchor2:before {
  background-position: -110px -250px;
}

#medium-editor-toolbar-1 .medium-editor-action-quote:before {
  background-position: -125px -250px;
}

#medium-editor-toolbar-1 .medium-editor-toolbar-form {
  background: #2f333b;
}

#medium-editor-toolbar-1 .medium-editor-toolbar-form .medium-editor-toolbar-save {
  display: none;
}

#medium-editor-toolbar-1 .medium-editor-toolbar-form .medium-editor-toolbar-input {
  background: #2f333b;
  padding: 16px;
  border-radius: 5px;
  width: 280px;
}

#medium-editor-toolbar-1 .medium-editor-toolbar-form a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: lighter;
  font-size: 23px;
}

#medium-editor-toolbar-1 .medium-editor-toolbar-form:before {
  content: '';
  border: 7px solid transparent;
  border-top-color: #2f333b;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -7px;
}

#medium-editor-toolbar-1 .medium-editor-button-active {
  background: #2184dc;
  border-radius: 3px;
}

#medium-editor-toolbar-actions1 {
  position: absolute;
  bottom: 100%;
  margin-bottom: 12px;
  left: 50%;
  background: #2f333b;
  line-height: 27px;
  border-radius: 3px;
  padding: 10px 10px 10px 9px;
  font-size: 0;
  white-space: nowrap;
  width: 220px;
  -webkit-transform: translateX(-110px);
          transform: translateX(-110px);
}

#medium-editor-toolbar-actions1:before {
  content: '';
  border: 7px solid transparent;
  border-top-color: #2f333b;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -7px;
}

#medium-editor-toolbar-actions1 > li {
  display: inline-block;
  margin: 0 0 0 1px;
  vertical-align: top;
}

#medium-editor-toolbar-actions1 button {
  background: #2f333b;
}

#editable-codeview {
  width: 100%;
  height: 500px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Source Code Pro, consolas, monospace;
  max-width: 960px;
  margin: 0 auto;
  display: block;
  overflow: auto;
  font-size: 13px;
  line-height: 22px;
  background: none;
  white-space: pre-wrap;
}

body .medium-editor-placeholder:after, body > .medium-toolbar-arrow-under:after, body > .medium-editor-insert-plugin.medium-editor-placeholder:after {
  display: none;
}

body > .medium-insert-images-toolbar {
  border-width: 0 !important;
}

.add_option .trick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
  z-index: 0;
}

.add_option.medium-insert-buttons[data-active-addon="images"] .show_option {
  display: none;
}

.medium-editor-toolbar .editable_tools {
  position: absolute;
  bottom: 100%;
  margin-bottom: 12px;
  background: #2f333b;
  line-height: 27px;
  border-radius: 3px;
  padding: 10px 10px 10px 9px;
  font-size: 0;
  white-space: nowrap;
  margin-left: -55px;
}

.medium-editor-toolbar .editable_tools:before {
  content: '';
  border: 7px solid transparent;
  border-top-color: #2f333b;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -7px;
}

.medium-editor-toolbar .editable_tools a {
  display: inline-block;
  width: 29px;
  height: 29px;
  padding: 0;
  direction: ltr;
  text-indent: -1000em;
  position: relative;
  margin: 0 0 0 1px;
  vertical-align: top;
}

.medium-editor-toolbar .editable_tools a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 12px;
  margin-top: -6px;
}

.medium-editor-toolbar .editable_tools span {
  display: inline-block;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 0 0 1px;
  vertical-align: top;
}

.medium-editor-toolbar .editable_tools span:first-child {
  margin-left: 0;
  border: 0;
}

.medium-editor-toolbar .editable_tools .selected {
  background: #2184dc;
  border-radius: 3px;
}

.medium-editor-toolbar .editable_tools .edit_bold:before {
  width: 10px;
  background-position: -90px -250px;
  margin-left: -5px;
}

.medium-editor-toolbar .editable_tools .edit_italic:before {
  width: 4px;
  background-position: -105px -250px;
  margin-left: -2px;
}

.medium-editor-toolbar .editable_tools .edit_left:before, .medium-editor-toolbar .editable_tools .edit_center:before, .medium-editor-toolbar .editable_tools .edit_right:before, .medium-editor-toolbar .editable_tools .edit_normal:before {
  width: 14px;
  margin-left: -7px;
}

.medium-editor-toolbar .editable_tools .edit_link:before, .medium-editor-toolbar .editable_tools .edit_quote:before {
  width: 12px;
  margin-left: -6px;
}

.medium-editor-toolbar .editable_tools .edit_full:before, .medium-editor-toolbar .editable_tools .edit_normal:before {
  height: 14px;
  margin-top: -7px;
}

.medium-editor-toolbar .editable_tools .edit_full:before {
  width: 17px;
  background-position: -90px -280px;
  margin-left: -9px;
}

.medium-editor-toolbar .editable_tools .edit_with_quote:before {
  width: 22px;
  height: 10px;
  background-position: -125px -285px;
  margin: -5px 0 0 -11px;
}

.medium-editor-toolbar .editable_tools .edit_left:before {
  background-position: -90px -265px;
}

.medium-editor-toolbar .editable_tools .edit_center:before {
  background-position: -105px -265px;
}

.medium-editor-toolbar .editable_tools .edit_right:before {
  background-position: -120px -265px;
}

.medium-editor-toolbar .editable_tools .edit_link:before {
  background-position: -110px -250px;
}

.medium-editor-toolbar .editable_tools .edit_quote:before {
  background-position: -125px -250px;
}

.medium-editor-toolbar .editable_tools .edit_normal:before {
  background-position: -110px -280px;
}

.medium-insert-images figcaption {
  display: none !important;
}

.medium-insert-images .remove {
  display: none;
}

.medium-insert-images :hover > .remove {
  display: block;
}

.medium-insert-images .medium-insert-image-active {
  border: 2px solid #4e8ed9;
}

.medium-insert-images.medium-insert-active .btn-caption {
  opacity: 1;
}

.article #content {
  background: none;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.article #content h3, .article #content input.item_header {
  font-size: 22px;
  color: #38424c;
  text-align: center;
  line-height: 30px;
  padding: 15px 0 37px;
  background-color: transparent;
  display: block;
  width: 100%;
  font-weight: bold;
}

.article #summary {
  position: relative;
  margin: 40px auto 18px;
  overflow: hidden;
  padding-bottom: 120px;
  background: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
}

.article #summary .description {
  padding: 15px 0 0;
  border-top: 1px solid #f5f5f6;
}

.article #summary .more {
  display: block;
  line-height: 60px;
  text-align: center;
  border-top: 1px solid #f5f5f6;
  color: #4487c2;
  font-weight: bold;
  margin: 25px 0 -25px;
}

.article #summary .btn-like {
  display: inline-block;
  border: 1px solid #ebeded;
  border-radius: 3px;
  vertical-align: middle;
  color: #636e7b;
  white-space: nowrap;
  line-height: 30px;
  text-align: center;
  background: none;
  font-size: 12px;
  font-weight: bold;
  padding: 0 10px;
}

.article #summary .btn-like:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 11px;
  background-position: -130px -95px;
  margin: -3px 6px 0 0;
}

.article #summary .info {
  position: relative;
  padding: 50px 20px 0;
  max-width: 920px;
  margin: 0 auto;
}

.article #summary .info .title {
  text-align: left;
  font-weight: normal;
  padding-bottom: 55px;
}

.article #summary .title b textarea, .article #summary .title small textarea {
  text-align: left;
  font-weight: normal;
}

.article #summary .title h1, .article #summary .title b, .article #summary .title b textarea {
  display: block;
  font-size: 38px;
  padding: 0;
  letter-spacing: -1px;
  line-height: 50px;
  font-weight: bold;
}

.article #summary .title small, .article #summary .title small textarea {
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  padding-top: 5px;
  display: block;
  color: #9099a6;
}

.article #coverImage {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  position: relative;
  display: block;
  text-align: center;
  max-width: none;
}

.article #coverImage .video_player {
  z-index: 0;
  -webkit-transition: -webkit-filter 0.1s ease-in-out;
  transition: -webkit-filter 0.1s ease-in-out;
  transition: filter 0.1s ease-in-out;
  transition: filter 0.1s ease-in-out, -webkit-filter 0.1s ease-in-out;
}

.article #coverImage .video_player.floating {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.article #coverImage img {
  width: 100%;
  vertical-align: top;
  height: auto;
  visibility: visible;
}

.article .description {
  color: #38424c;
  text-align: left;
  font-weight: normal;
}

.article .description .author {
  color: #373d47;
  font-size: 13px;
  text-transform: uppercase;
  padding: 35px 0 10px;
  font-weight: bold;
}

.article .description .author span {
  padding: 0 4px;
}

.article .description .author label {
  font-weight: 300;
}

.article .description img {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.article .description .article .description.less {
  max-height: 125px;
  overflow: hidden;
}

.article .description .article .description.less img {
  display: none;
}

.article .description .article .description.more img {
  display: inline-block;
  vertical-align: top;
}

.article .description p, .article .description p textarea {
  font-weight: 400;
  letter-spacing: -0.3px;
  font-size: 22px;
  line-height: 34px;
  color: #38424c;
  text-transform: none;
  font-family: 'Spectral', serif;
}

.article .description p {
  padding: 34px 20px 0;
  max-width: 920px;
  margin: 0 auto;
}

.article .description p:first-child {
  padding-top: 0px;
}

.article .description .graphic + p, .article .description .gallery + p, .article .description .mode-normal + p, .article .description .mode-quoted + p, .article .description .mode-full + p, .article .description p + .article-media, .article .description .medium-insert-images-mode-normal + p, .article .description .medium-insert-images-mode-quoted + p, .article .description .medium-insert-images-mode-full + p {
  padding: 58px 0 0;
}

.article .description .quote, .article .description blockquote, .article .description .mode-quoted p, .article .description .mode-quoted p {
  font-family: 'Spectral', serif;
  font-size: 26px;
  line-height: 39px;
  font-style: italic;
  color: #9099a6;
}

.article .description blockquote {
  padding: 30px;
  text-align: center;
}

.article .description i {
  font-style: italic;
}

.article .description .quote {
  max-width: 648px;
}

.article .description .mode-full {
  display: block;
  margin-top: 88px;
}

.article .description .mode-full img {
  width: 100%;
  border-radius: 0;
}

.article .description :not(.media-youtube) iframe {
  width: 970px;
  min-width: 100%;
  margin: 0 -120px;
  display: block;
  margin-top: 10px;
  height: 543px !important;
}

.article .description .quote textarea, .article .description .mode-normal, .article .description .article.edit .description .medium-insert-images-mode-normal {
  text-align: center;
  margin: 40px 0 0;
}

.article .description .mode-quoted {
  margin: 58px auto 0;
  display: table;
  border-collapse: collapse;
  width: 100%;
  max-width: 960px;
}

.article .description .mode-quoted p {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  width: 50%;
}

.article .description .mode-quoted p:last-child {
  padding-left: 30px;
}

.article .description .mode-quoted img {
  width: 100%;
  max-width: 460px;
  vertical-align: middle;
}

.article .description .graphic {
  max-width: 1160px;
  padding: 35px 0 0;
  text-align: center;
}

.article .description .graphic img {
  display: block;
  margin: 0 auto;
}

.article .description .graphic img + img {
  margin-top: 4px;
}

.article .description .graphic iframe {
  margin: 0;
}

.article .description .graphic.multi img {
  float: right;
  width: 48%;
  width: calc(50%- 20px);
  width: -moz-calc(50%- 20px);
}

.article .description .graphic.multi img:nth-child(2n+1) {
  float: left;
  clear: both;
}

.article .description .graphic.third {
  padding-right: 4px;
}

.article .description .graphic.third img {
  display: block;
  margin: 0 0 4px 4px;
  width: 48%;
  width: calc(50% - 4px);
  width: -moz-calc(50% - 4px);
}

.article .description .graphic.third img:first-child {
  float: right;
}

.article .description .gallery {
  margin: 35px auto 0;
  background: #2f333b;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.article .description .gallery h3 {
  padding: 50px 62px;
  color: #fff;
  font-size: 34px;
  line-height: 40px;
  text-align: left;
}

.article .description .gallery small {
  display: block;
  font-weight: normal;
  color: #808287;
  font-size: 14px;
  line-height: 24px;
}

.article .description .gallery .paging {
  position: absolute;
  right: 20px;
  bottom: 50px;
  line-height: 6px;
  left: 20px;
  text-align: center;
}

.article .description .gallery .paging a {
  display: inline-block;
  direction: ltr;
  text-indent: -1000em;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #fff;
  vertical-align: top;
  opacity: 0.2;
  margin-left: 4px;
}

.article .description .gallery .paging .current {
  opacity: 1;
}

.article .description .gallery .photo-list {
  position: relative;
  left: 0;
  transition: left 0.22s;
  -webkit-transition: left 0.22s;
  -o-transition: left 0.22s;
  -moz-transition: 0.22s;
  white-space: nowrap;
  padding: 0 0 135px;
  background: none;
  border: 0;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.article .description .gallery .photo-list li {
  position: relative;
  display: inline-block;
  line-height: 300px;
  padding: 0 8px;
  vertical-align: top;
  text-align: left;
}

.article .description .gallery .photo-list li:first-child span {
  left: auto;
}

.article .description .gallery .photo-list li:hover img {
  opacity: 0.6;
}

.article .description .gallery .photo-list li.active img {
  opacity: 1;
}

.article .description .gallery .photo-list li:hover span em, .article .description .gallery .photo-list li.active span em {
  display: block;
}

.article .description .gallery .photo-list img {
  max-width: none;
  height: 300px;
  vertical-align: middle;
  opacity: 0.4;
  cursor: pointer;
}

.article .description .gallery .photo-list span, .article .description .gallery .photo-list em {
  font-size: 14px;
  line-height: 18px;
  left: 8px;
  color: #fff;
  padding-top: 16px;
  opacity: 0.8;
  position: absolute;
  top: 100%;
  display: none;
  width: 100%;
}

.article .description .gallery .photo-list .linked {
  display: inline-block;
}

.article .description .gallery .photo-list .linked img {
  cursor: pointer;
}

.article .stream > li .remove {
  z-index: 1;
  top: 10px;
  right: 10px;
  display: none;
}

.article .stream > li, .article .itemListElement {
  position: relative;
  float: left;
  margin: 0 0 18px 18px;
  width: calc(25% - 14px);
  padding: 0;
}

.article .stream > li:nth-child(4n+1), .article .itemListElement:nth-child(4n+1) {
  clear: both;
  margin-left: 0;
}

.article .itemListElement .figcaption {
  position: relative;
  display: block;
  padding: 17px 0 20px;
  line-height: 20px;
}

.article .itemListElement .figure {
  position: relative;
  display: block;
  overflow: hidden;
  background: #f5f5f5;
}

.article .itemListElement .figure img {
  display: block;
  background: no-repeat 50% 50% #f5f5f5;
  -webkit-box-shadow: inset 0 0 0 1px #f5f5f5;
          box-shadow: inset 0 0 0 1px #f5f5f5;
  background-blend-mode: darken;
  background-size: contain;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);
  transition: -webkit-transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);
  transition: transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);
  transition: transform 0.3s cubic-bezier(0, 0.38, 0, 1.28), -webkit-transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);
  -o-transition: transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);
  -webkit-transition: transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);
  -moz-transition: transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);
  -webkit-transform: scale(0.802);
          transform: scale(0.802);
}

.article .itemListElement .figure video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article .itemListElement .figure.fit img {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
}

.article .itemListElement .title {
  display: block;
  font-size: 15px;
  color: #1a1b1c;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
  white-space: normal;
}

.article .itemListElement .price {
  display: block;
  font-size: 14px;
  color: #636673;
  font-weight: 500;
}

.article .itemListElement .price.sales {
  color: #1a1b1c;
}

.article .itemListElement .price.sales small {
  font-size: 1em;
  margin-right: 4px;
  position: absolute;
  top: 4px;
  right: 100%;
  line-height: 15px;
  text-decoration: line-through;
  color: #8a8f9c;
  font-weight: 400;
}

.article .itemListElement:hover .figure img {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.article .itemListElement:hover .figure.fit img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.article .itemListElement.add {
  background: none;
}

.article .itemListElement.add .title {
  width: 80%;
  background: #ddd;
  height: 20px;
  margin: 10px 0;
  opacity: 0.7;
}

.article .itemListElement.add .btn-cart {
  width: 20%;
  background: #ddd;
  height: 20px;
  margin: 10px 0;
  opacity: 0.3;
}

.article .itemListElement.add figure:before {
  content: '';
  width: 84px;
  height: 84px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -42px 0 0 -42px;
  background: url("../../../whitelabel/gear/images/svg/article_add.svg") no-repeat;
  z-index: 1;
}

.article .itemListElement.placeholder .title {
  width: 80%;
  background: #ddd;
  height: 20px;
  margin: 10px 0;
  opacity: 0.7;
}

.article .itemListElement.placeholder .btn-cart {
  width: 20%;
  background: #ddd;
  height: 20px;
  margin: 10px 0;
  opacity: 0.3;
}

.article .medium-insert-images img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.article .medium-insert-images .btn-caption {
  position: absolute;
  opacity: 0;
  top: 15px;
  right: 53px;
  background: #fff;
  line-height: 32px;
  border-radius: 16px;
  font-size: 13px;
  color: #1a1b1c;
  font-weight: 600;
  padding: 0 15px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.article .grid {
  float: left;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  width: 50%;
  position: relative;
  z-index: 0;
}

.article .grid:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
}

.article .grid img {
  width: 100%;
  display: block;
  background: no-repeat 50% 50% #f5f5f5;
  background-size: cover;
  border-radius: 0;
}

.article .grid:nth-of-type(5n+6):nth-last-of-type(9n+4), .article .grid:first-of-type:last-of-type, .article .grid:nth-of-type(3n):last-of-type {
  width: auto;
  clear: both;
  float: none;
}

.article .grid:nth-of-type(5n+3):nth-last-of-type(9n+7), .article .grid:nth-of-type(5n+4):nth-last-of-type(9n+6), .article .grid:nth-of-type(5n+5):nth-last-of-type(9n+5), .article .grid:nth-of-type(5n+7):nth-last-of-type(9n+3), .article .grid:nth-of-type(5n+8):nth-last-of-type(9n+2), .article .grid:nth-of-type(5n+9):nth-last-of-type(9n+1), .article .grid:nth-of-type(5n+1):nth-last-of-type(8n+8), .article .grid:nth-of-type(5n+2):nth-last-of-type(8n+7), .article .grid:nth-of-type(5n+3):nth-last-of-type(8n+6), .article .grid:nth-of-type(5n+6):nth-last-of-type(8n+3), .article .grid:nth-of-type(5n+7):nth-last-of-type(8n+2), .article .grid:nth-of-type(5n+8):nth-last-of-type(8n+1), .article .grid:nth-of-type(5n+3):nth-last-of-type(7n+5), .article .grid:nth-of-type(5n+4):nth-last-of-type(7n+4), .article .grid:nth-of-type(5n+5):nth-last-of-type(7n+3), .article .grid:nth-of-type(5n+3):nth-last-of-type(6n+4), .article .grid:nth-of-type(5n+4):nth-last-of-type(6n+3), .article .grid:nth-of-type(5n+5):nth-last-of-type(6n+2), .article .grid:nth-of-type(5n+3):nth-last-of-type(5n+3), .article .grid:nth-of-type(5n+4):nth-last-of-type(5n+2), .article .grid:nth-of-type(5n+5):nth-last-of-type(5n+1) {
  width: calc(100%/3);
  float: left;
  clear: none;
}

.article .grid:hover {
  z-index: 1;
}

.article .grid:hover:before {
  opacity: 0.3;
}

.article .grid:hover .btn-caption, .article .grid:hover figcaption {
  opacity: 1;
}

.article .grid figcaption {
  opacity: 0;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  max-width: 43%;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  margin: 0;
}

.article .grid figcaption:after {
  content: '';
  background: #fff;
  height: 2px;
  display: block;
  opacity: 0.5;
  margin: 15px auto 0;
  max-width: 53%;
}

.article.edit ::-moz-selection, .article.edit ::-moz-selection {
  color: white;
  background-color: #5694db;
}

.article.edit ::selection, .article.edit ::-moz-selection {
  color: white;
  background-color: #5694db;
}

.article.edit > div {
  position: static;
  display: block;
  z-index: 0;
}

.article.edit .figure-item .figure {
  height: 306px;
}

.article.edit .figure-item.add {
  height: 78px;
  width: 78px;
  border-radius: 100%;
  background: #2986d9;
  margin: 0 auto;
}

.article.edit .figure-item.add input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.article.edit .figure-item.add:before, .article.edit .figure-item.add:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 28px;
  background: #fff;
  margin: -14px 0 0 -1px;
}

.article.edit .figure-item.add:after {
  width: 28px;
  height: 2px;
  margin: -1px 0 0 -14px;
}

.article.edit .ptit {
  margin-bottom: 18px;
  background: #fff;
}

.article.edit .ptit a {
  color: #737883;
}

.article.edit .ptit b {
  color: #373d48;
}

.article.edit .status {
  padding: 10px;
}

.article.edit .status ul {
  float: right;
  color: #3b4351;
  font-weight: bold;
  font-size: 12px;
  padding: 3px 0;
}

.article.edit .status li {
  float: left;
  padding: 0 10px;
  line-height: 30px;
  border-left: 1px solid #e6e7e8;
}

.article.edit .status li:first-child {
  border-left: 0;
}

.article.edit .status .btn-switch {
  margin-left: 6px;
  direction: ltr;
  text-indent: -1000em;
  width: 30px;
  height: 16px;
  vertical-align: middle;
}

.article.edit .status .btn-switch:before {
  width: 14px;
  margin: 0;
  height: 14px;
  top: 1px;
  left: 1px;
}

.article.edit .status .btn-switch.on:before {
  left: 50%;
}

.article.edit .status .url {
  float: left;
  position: relative;
  padding: 0;
  width: 50%;
}

.article.edit .status .url input.text {
  padding-left: 172px;
  color: #2184dc;
  width: 100%;
}

.article.edit .status .url input.text::-webkit-input-placeholder {
  color: #2184dc;
}

.article.edit .status .url input.text:-moz-input-placeholder {
  color: #2184dc;
}

.article.edit .status .url input.text:-ms-input-placeholder {
  color: #2184dc;
}

.article.edit .status .url input.text.placeholder {
  color: #2184dc;
}

.article.edit .status .url span {
  line-height: 37px;
  position: absolute;
  color: #b7bdc5;
  top: 0;
  left: 10px;
  z-index: 1;
}

.article.edit .height-maker {
  visibility: hidden;
  max-width: 100%;
}

.article.edit .info .btn-shop {
  cursor: pointer;
  right: 0;
  font-size: 13px;
  font-weight: bold;
  padding: 0 15px;
  color: #fff;
  background: #2784fa;
  display: inline-block;
  line-height: 32px;
  border-radius: 16px;
  vertical-align: middle;
  bottom: 124px;
  position: absolute;
}

.article.edit .info .btn-shop:before {
  display: none;
}

.article.edit .remove, .article.edit .delete, .article.edit .move {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #fff;
  direction: ltr;
  text-indent: -1000em;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.article.edit .remove:before, .article.edit .delete:before, .article.edit .move:before {
  content: '';
  position: absolute;
  background-position: -90px -210px;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
}

.article.edit .move {
  right: 54px;
  width: 28px;
  height: 28px;
}

.article.edit .move:before {
  background-position: -100px -210px;
  width: 16px;
  margin-left: -8px;
}

.article.edit .editable {
  display: inline-block;
  position: relative;
  background: #2184dc !important;
  color: #fff !important;
}

.article.edit .editable.image {
  vertical-align: middle;
}

.article.edit .editable.image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
  border-radius: 5px;
}

.article.edit .editable.image img {
  -webkit-box-shadow: 0 0 0 2px #2184dc;
          box-shadow: 0 0 0 2px #2184dc;
  border-radius: 5px;
  vertical-align: top;
}

.article.edit .add_option {
  position: absolute;
  top: 0;
  left: -45px;
  z-index: 4;
}

.article.edit .add_option .show_option {
  display: block;
  width: 29px;
  height: 29px;
  background-position: -90px -220px;
  border-radius: 0;
  border: 0;
  z-index: 1;
}

.article.edit .add_option_tools {
  position: absolute;
  width: 168px;
  margin-left: -84px;
  bottom: 100%;
  margin-bottom: 12px;
  left: 50%;
  background: #2f333b;
  line-height: 40px;
  border-radius: 3px;
  padding: 0;
  z-index: 1;
}

.article.edit .add_option_tools:before {
  content: '';
  border: 7px solid transparent;
  border-top-color: #2f333b;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -7px;
}

.article.edit .add_option_tools a {
  display: block;
  padding: 0 30px 0 14px;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.article.edit .add_option_tools a:hover {
  color: #fff;
}

.article.edit .add_option_tools a:hover:before {
  opacity: 1;
}

.article.edit .add_option_tools a:before {
  content: '';
  width: 10px;
  right: 14px;
  height: 10px;
  background-position: -120px -220px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  opacity: 0.3;
}

.article.edit .add_option_tools a:first-child {
  border-top: 0;
}

.article.edit .button_option {
  position: absolute;
  width: 203px;
  margin-left: -101px;
  bottom: 100%;
  margin-bottom: 12px;
  left: 50%;
  background: #2f333b;
  line-height: 40px;
  border-radius: 3px;
  padding: 0;
}

.article.edit .button_option:before {
  content: '';
  border: 7px solid transparent;
  border-top-color: #2f333b;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -7px;
}

.article.edit .button_option input {
  display: block;
  line-height: 20px;
  padding: 10px 14px;
  color: #fff;
  width: 175px;
  background: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.article.edit .button_option input:first-child {
  border: 0;
}

.article.edit .description .add {
  display: block;
  position: relative;
  height: 246px;
  background: #f7f8f9;
}

.article.edit .description .add:before {
  content: '';
  width: 132px;
  height: 67px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -34px 0 0 -61px;
}

.article.edit .description .add > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.article.edit .description .gallery h3 input {
  background: none;
  border: 0;
  color: #fff;
  font-size: 34px;
  line-height: 40px;
  text-align: left;
  font-weight: bold;
  width: 100%;
}

.article.edit .description .gallery small input {
  font-weight: normal;
  color: #808287;
  font-size: 14px;
  line-height: 24px;
}

.article.edit .description .gallery input {
  border: 0;
}

.article.edit .description .gallery input:focus {
  background: none;
  background-color: transparent !important;
}

.article.edit .description .gallery .photo-list {
  padding: 0 0 150px;
}

.article.edit .description .gallery .photo-list .move, .article.edit .description .gallery .photo-list .remove {
  opacity: 0;
}

.article.edit .description .gallery .photo-list li:hover .move, .article.edit .description .gallery .photo-list li:hover .remove {
  opacity: 1;
}

.article.edit .description .gallery .photo-list span input {
  background: none;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  width: 100%;
  font-style: normal;
}

.article.edit .description .gallery .photo-list span input:focus {
  background-color: transparent;
}

.article.edit .description .gallery .photo-list .placeholder, .article.edit .description .gallery .photo-list .add {
  background: #343840;
  height: 300px;
  width: 500px;
}

.article.edit .description .gallery .photo-list .add .loader, .article.edit .description .gallery .photo-list .add span {
  display: none;
}

.article.edit .description .gallery .photo-list .add:before {
  opacity: 0.65;
  background-position: 0 -210px;
  width: 88px;
  height: 88px;
  margin: -44px 0 0 -44px;
}

.article.edit .description .gallery .photo-list .add:hover span {
  display: block;
}

.article.edit .description .gallery .photo-list .add.adding .loader {
  display: inline-block;
  position: absolute;
  top: 114px;
  left: 192px;
  opacity: 0.65;
  width: 132px;
  height: 67px;
  -webkit-mask: url("../../images/article_loading.svg") 0 0/132px 67px;
  mask: url("../../images/article_loading.svg") 0 0/132px 67px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#5b5f66));
  background-image: linear-gradient(top, #ffffff, #5b5f66);
  background-position: -132px;
  background-size: 132px;
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}

.article.edit .description .gallery .photo-list .add.adding:before {
  display: none;
}

.article.edit .description .gallery .photo-list span {
  display: block;
}

.article.edit .description .gallery .photo-list span.link {
  margin-top: 40px;
  padding-top: 0;
}

.article.edit .description .gallery .photo-list .placeholder:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.65;
  background-position: 0 -70px;
  width: 132px;
  height: 67px;
  margin: -34px 0 0 -61px;
}

.article.edit .description textarea {
  font-size: 14px;
  line-height: 25px;
  color: #38424c;
  width: 100%;
  resize: none;
  height: 100px;
}

.article.edit .description textarea.regular::-webkit-input-placeholder {
  color: #393d4d;
}

.article.edit .description textarea.regular:-moz-input-placeholder {
  color: #393d4d;
}

.article.edit .description textarea.regular:-ms-input-placeholder {
  color: #393d4d;
}

.article.edit .description textarea.regular.placeholder {
  color: #393d4d;
}

.article.edit .description .mode-quoted textarea {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #393d4d;
  height: 270px;
  line-height: 36px;
}

.article.edit .description .mode-quoted .add {
  width: 466px;
  height: 270px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 30px;
}

.article.edit .description .mode-quoted span.image {
  display: block;
  position: relative;
}

.article.edit .description .mode-quoted .remove {
  right: 15px;
}

.article.edit .description .graphic.multi .add {
  float: right;
  width: 48%;
  width: calc(50%- 20px);
  width: -moz-calc(50%- 20px);
}

.article.edit .description .graphic.multi .add:nth-child(2n+1) {
  float: left;
  clear: both;
}

.article.edit .nested {
  position: relative;
}

.article.edit .nested .featured-control {
  display: none;
  position: absolute;
  width: 200px;
  height: 47px;
  z-index: 10;
  text-align: center;
  background-color: white;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.2);
  top: 42px;
  margin-left: -59px;
  border-radius: 3px;
}

.article.edit .nested input.text {
  margin-top: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 168px;
}

.article.edit .nested .has-arrow:after {
  border: 8px solid transparent;
  border-top-color: #fff;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -8px;
}

.article.edit .nested .has-arrow:before {
  border: 9px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -9px;
}

.article.edit .nested.show-featured .featured-control {
  display: block;
}

.article.edit .video-loop, .article.edit .video-autoplay {
  position: absolute;
  bottom: 50px;
  left: 115px;
  color: #eee;
  padding: 9px 10px;
  background-color: #272626;
  border-radius: 4px;
  line-height: 10px;
  z-index: 2;
}

.article.edit .video-autoplay {
  left: 13px;
}

.article.edit .video_player {
  z-index: 0;
}

.article.edit .video_player .stop .btn-play:after {
  width: 970px;
  height: 545px;
  margin: -272px 0 0 -485px;
}

.article.edit .video-wait-banner {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  padding-top: 110px;
  width: 300px;
  text-align: center;
}

.article.edit .cover-image-thumbnail {
  width: 100px;
  height: 100px;
  top: 18px;
  left: 18px;
  position: absolute;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-position: center center;
}

.article.edit .cover-image-thumbnail .remove {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
}

.article.edit .cover-image-thumbnail:hover .remove {
  display: block;
}

.article.edit #coverImage .add_option_tools {
  display: none;
  bottom: 50%;
}

.article.edit #coverImage .time {
  position: absolute;
  border-radius: 2px;
  line-height: 18px;
  color: #eee;
  font-size: 11px;
  font-weight: normal;
  right: 13px;
  bottom: 50px;
  padding: 1px 5px;
  background-color: #272626;
  z-index: 2;
}

.article.edit #coverImage .add {
  display: block;
  position: relative;
  background: #f7f8f9;
  height: 246px;
}

.article.edit #coverImage .add .loader {
  display: none;
  width: 132px;
  height: 67px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -34px 0 0 -61px;
  opacity: 0.7;
  -webkit-mask: url("../../images/article_loading.svg") 0 0/132px 67px;
  mask: url("../../images/article_loading.svg") 0 0/132px 67px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2184dc), to(#cacfd4));
  background-image: linear-gradient(top, #2184dc, #cacfd4);
  background-position: -132px;
  background-size: 132px;
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}

.article.edit #coverImage .add input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.article.edit #coverImage .add.img-filled {
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  height: auto !important;
  background-color: transparent;
}

.article.edit #coverImage .add.blank .loader, .article.edit #coverImage .add.loading .loader {
  display: inline-block;
}

.article.edit #coverImage input[type="checkbox"] {
  margin: 0 5px 0px 0;
}

.article.edit #coverImage:hover .add_option_tools {
  display: block;
}

.article.edit #summary {
  margin-top: 0;
  z-index: 0;
}

.article.edit #summary .title small textarea {
  padding-top: 0;
  width: 100%;
  resize: none;
  height: 34px;
}

.article.edit #summary .title b textarea {
  width: 100%;
  height: 50px;
}

.article.edit #summary .description {
  padding-top: 0;
  border-top: 0;
}

.article.edit #summary .info .interaction {
  right: 120px;
  bottom: 15px;
  top: auto;
  left: auto;
}

.article.edit #summary .info .title small input {
  font-size: 16px;
  text-align: center;
  color: #9099a6;
  width: 100%;
}

.article.edit #summary .info .author-input {
  width: 100%;
  display: block;
  margin: 0 auto;
  color: #373d47;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 132px 0 10px;
}

.article.edit #summary .info:after {
  content: '';
  position: absolute;
  left: -50%;
  width: 200%;
  height: 1px;
  bottom: 74px;
  background: #f5f5f6;
}

.article.edit .whitelabel-article .stream {
  max-width: 750px;
  margin: 0 auto;
}

.article.edit .wrapper-content input, .article.edit .wrapper-content textarea, .article.edit .info input, .article.edit .info textarea {
  border: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  white-space: normal;
}

.article.edit .wrapper-content input:focus, .article.edit .wrapper-content textarea:focus, .article.edit .info input:focus, .article.edit .info textarea:focus {
  border: 0 !important;
  background: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.article.edit .stream li:hover .remove {
  display: block;
}

.whitelabel-article .interaction .menu-container, .whitelabel-article .status .nested {
  display: none;
}

.whitelabel-article .description blockquote, .whitelabel-article .description .mode-quoted p:last-child {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.whitelabel-article .description .gallery h3, .whitelabel-article .description .gallery h3 span, .whitelabel-article .description .gallery input {
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Exo 2', sans-serif !important;
}

.whitelabel-article .description .gallery input {
  border: 0;
  padding: 0;
}

.whitelabel-article .description .gallery input:focus {
  background-color: transparent !important;
}

.whitelabel-article .description .author, .whitelabel-article .description .author-input {
  max-width: 720px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 18px;
  color: #9099a6;
  font-weight: 400;
}

.whitelabel-article .description p {
  padding-left: 0;
  padding-right: 0;
}

.whitelabel-article .product, .whitelabel-article .gallery, .whitelabel-article .gallery-container {
  max-width: 1022px;
  margin: 0 auto;
}

.whitelabel-article .itemList, .whitelabel-article .description blockquote, .whitelabel-article .description p, .whitelabel-article .description .mode-quoted, .whitelabel-article #summary .info, .whitelabel-article .mode-grid {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.whitelabel-article #coverImage {
  border-radius: 0;
}

.whitelabel-article #coverImage img {
  width: auto;
  max-width: 100%;
}

.whitelabel-article .status {
  max-width: 970px;
  margin: 0 auto;
}

.whitelabel-article .status li:last-child {
  padding-right: 0;
}

.whitelabel-article .status .url span {
  line-height: 32px;
}

.whitelabel-article .status .url input.text {
  padding-left: 199px;
}

.whitelabel-article #editable-codeview {
  max-width: 770px;
  border: 0;
}

.whitelabel-article #summary {
  border-radius: 0;
  margin-top: 0;
  padding-bottom: 58px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.whitelabel-article #summary .title small textarea {
  height: 28px;
  padding-top: 0;
}

.whitelabel-article #summary .info {
  padding-bottom: 0;
}

.whitelabel-article #summary .info .btn-shop {
  right: auto;
  bottom: 63px;
  left: 20px;
  font-family: 'Inter UI',"Helvetica Neue",sans-serif;
}

.whitelabel-article #summary .info .author-input {
  padding-top: 82px;
}

.whitelabel-article #summary .info .title {
  padding-bottom: 30px;
}

.whitelabel-article #summary .description {
  clear: both;
  padding-top: 0;
  border: 0;
}

.whitelabel-article #summary .title b, .whitelabel-article #summary .title b textarea {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 54px;
}

.whitelabel-article #summary .title b textarea {
  height: 54px;
}

.whitelabel-article #summary .title small, .whitelabel-article #summary .title small textarea {
  font-family: Georgia, serif;
  font-size: 19px;
  line-height: 28px;
  font-style: italic;
  color: #636672;
  padding-top: 10px;
}

.whitelabel-article #summary .info:after {
  display: none;
}

.whitelabel-article #summary .info .title {
  font-family: 'Exo 2', sans-serif;
  padding-bottom: 0;
}

.whitelabel-article #summary .info .btn-shop {
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 0 16px;
  background: #1A1B1C;
  line-height: 48px;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 15px;
  text-align: center;
}

.whitelabel-article #summary .info .interaction {
  padding-top: 32px;
}

.whitelabel-article #summary .info .interaction:after {
  content: '';
  clear: both;
  display: block;
}

.whitelabel-article #summary .info .share {
  float: right;
  padding: 8px 0;
}

.whitelabel-article #summary .info .share li {
  float: left;
  margin-left: 8px;
}

.whitelabel-article #summary .info .share a {
  display: block;
  width: 33px;
  height: 32px;
}

.whitelabel-article #summary .info .share a:before {
  content: '';
  display: block;
  height: 32px;
  background-position: 0 -30px;
}

.whitelabel-article #summary .info .share a.tw:before {
  background-position: -39px -30px;
}

.whitelabel-article #summary .info .share a.email:before {
  background-position: -78px -30px;
}

.whitelabel-article #summary .info .share a.link:before {
  background-position: -117px -30px;
}

.whitelabel-article #summary .info .share a:hover .tooltip {
  display: block;
}

.whitelabel-article #summary .info .share a:hover .tooltip._copied {
  margin-left: -36px;
}

.whitelabel-article #summary .info .share .tooltip {
  position: absolute;
  bottom: 34px;
  border-radius: 3px;
  left: 50%;
  background: #272c31;
  padding: 0 8px;
  line-height: 28px;
  font-size: 11px;
  color: #fff;
  white-space: nowrap;
  display: none;
  text-indent: 0;
  margin-left: -31px;
  font-weight: bold;
}

.whitelabel-article #summary .info .share .tooltip:before {
  content: '';
  position: absolute;
  top: 100%;
  border: 4px solid transparent;
  border-top-color: #272c31;
  left: 50%;
  margin-left: -4px;
}

.whitelabel-article #summary .info .share .tooltip:after {
  display: none;
}

.whitelabel-article #summary .info .like {
  display: inline-block;
  vertical-align: middle;
}

.whitelabel-article #summary .info .like .count {
  display: inline-block;
  vertical-align: middle;
  line-height: 48px;
}

.whitelabel-article #summary .info .like ._count {
  color: #9BA0A5;
  font-size: 14px;
  line-height: 48px;
}

.whitelabel-article #summary .info .like ._count:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -3px 4px 0 0;
  width: 22px;
  height: 22px;
  background-position: 0 0;
}

.whitelabel-article #summary .info .like ._count.fancyd, .whitelabel-article #summary .info .like.on ._count {
  color: #1c1e27;
}

.whitelabel-article #summary .info .like ._count.fancyd:before, .whitelabel-article #summary .info .like.on ._count:before {
  background-position: -124px 1px;
}

.whitelabel-article #content {
  padding: 0 10px;
  max-width: 1380px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#popup_container.add_thing_item .popup.add_thing_item {
  display: block;
}

#popup_container .popup.add_thing_item {
  background: #fff;
  border-radius: 3px;
  width: 480px;
}

.popup.add_thing_item .label {
  display: block;
  font-weight: bold;
  padding-bottom: 6px;
}

.popup.add_thing_item .search {
  padding: 13px 15px 15px;
  border-bottom: 1px solid #ecedee;
}

.popup.add_thing_item .search input.text {
  width: 434px;
}

.popup.add_thing_item .featured {
  padding: 13px 0 5px 15px;
}

.popup.add_thing_item .featured dd {
  position: relative;
}

.popup.add_thing_item .featured dd:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 0.1;
}

.popup.add_thing_item .featured ul {
  height: 316px;
  overflow: auto;
}

.popup.add_thing_item .featured li {
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
}

.popup.add_thing_item .featured li:nth-child(4n) {
  margin-right: 0;
}

.popup.add_thing_item .featured li input {
  position: absolute;
  width: 29px;
  height: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 0;
  top: 10px;
  right: 10px;
  cursor: pointer;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup.add_thing_item .featured li input:checked {
  background: url("../../images/normal/message.png") no-repeat -155px -40px;
  background-size: 200px 100px;
  border: 0;
  opacity: 1;
}

.popup.add_thing_item .featured li.selected:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3987d5;
  content: '';
  opacity: 0.8;
  cursor: pointer;
}

.popup.add_thing_item .featured img {
  width: 105px;
  height: 105px;
  display: block;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.popup.add_thing_item .btn-area {
  padding: 15px;
  text-align: right;
}

.popup.add_thing_item .btn-area button {
  font-size: 12px;
  line-height: 29px;
  margin: 0 0 0 6px;
}

.popup.add_thing_item .more {
  text-align: center;
  display: block;
  margin: 3px 0 0 0;
}

@media screen and (max-width: 1180px) {
  .article .stream > li:nth-child(4n) .menu-container #more-menu, .article .stream > li:nth-child(4n) .has-arrow, .article .stream > li:nth-child(4n) .more-share-popup {
    left: auto;
    right: -10px;
    margin-left: 0;
  }
  .article .stream > li:nth-child(4n) .has-arrow::before, .article .stream > li:nth-child(4n) .has-arrow::after {
    left: auto;
    right: 14px;
  }
}

@media screen and (max-width: 920px) {
  .whitelabel-article #summary .title b, .whitelabel-article #summary .title b textarea {
    font-size: 34px;
    line-height: 34px;
  }
  .whitelabel-article #summary .info .btn-shop {
    margin-right: 0;
  }
  .article #summary .title h1, .article #summary .title b, .article #summary .title b textarea {
    font-size: 24px;
    line-height: 28px;
  }
  .article #summary .title small, .article #summary .title small textarea {
    font-size: 16px;
    line-height: 22px;
  }
  .article .description p, .article .description p textarea {
    font-size: 14px;
    line-height: 20px;
  }
  .article .description .quote, .article .description blockquote, .article .description .mode-quoted p {
    font-size: 13px;
    line-height: 18px;
  }
  .article .description .mode-quoted {
    display: block;
    margin-top: 25px;
  }
  .article .description .mode-quoted p {
    display: block;
    width: auto;
  }
  .article .description .mode-quoted p:last-child {
    padding-left: 0;
  }
  .article .description .mode-quoted p + p {
    padding-top: 20px;
  }
  .article .description .gallery h3 {
    padding: 20px;
    font-size: 28px;
    line-height: 32px;
  }
  .article .description .gallery small {
    font-size: 12px;
    line-height: 18px;
  }
  .article .description .gallery .photo-list {
    padding: 0 12px 20px;
    overflow: auto;
    display: block;
  }
  .article .description .gallery .photo-list img {
    opacity: 1;
  }
  .article .description .gallery .paging {
    display: none;
  }
  .article .description .author {
    padding-top: 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .popup.add_thing_item li input:checked {
    background-image: url("../../images/retina/message.png");
  }
  .article .figure-item.add:after, #medium-editor-toolbar-1 .medium-editor-action:before, .medium-editor-toolbar .editable_tools a:before, .article.edit .add_option_tools a:before, .article.edit .add_option .show_option, .article.edit .move:before, .article.edit .remove:before, .article.edit .delete:before, .article.edit #coverImage .add:before, .article.edit .description .gallery .photo-list .placeholder:before, .article.edit .description .add:before {
    background-image: url("../../images/retina/create_article.png");
  }
  .article.edit .video-autoplay-value, .article.edit .video-loop-value {
    background-image: url("../../images/common/check@2x.png");
  }
  .article.edit .video-autoplay-value:checked, .article.edit .video-loop-value:checked {
    background-image: url("../../images/common/check-active@2x.png");
  }
}
/*# sourceMappingURL=article_description.v2.css.map */