@charset "UTF-8";

.ptit {background: -webkit-linear-gradient(top,#f4f5f6,#eeeff0);background: -ms-linear-gradient(top,#f4f5f6,#eeeff0);background: -moz-linear-gradient(top,#f4f5f6,#eeeff0);background: -o-linear-gradient(top,#f4f5f6,#eeeff0);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f5f6',endColorstr='#eeeff0');font-size: 15px;text-shadow: 0 1px 0 #fff;line-height: 45px;padding: 0 15px;border: 0;color: #4E5263;font-weight: normal;box-shadow: 0 1px 0px 0px rgb(208, 209, 213), 0 0px 0px 1px rgba(220, 221, 224, 0.85);border-radius: 3px;position: relative;margin-bottom: 18px;font-weight: bold;}
.wrapper {margin: 0 0 18px;}
.wrapper .menu {position:absolute;top: 0;right: 0;overflow:hidden;border-radius: 0 3px 3px 0;font-size: 13px;}
.wrapper .menu li {float:left;}
.wrapper .menu a {float: left;font-weight: bold;padding: 14px 20px;line-height: 17px;color: #767F8D;border-left: 1px solid #DCDDE0;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.wrapper .menu li:last-child a {border-radius:0 3px 3px 0;}
.wrapper .menu small {font-weight:normal;font-size:12px;color:#9ea1a6;}
.wrapper .menu a:hover {background: rgba(255, 255, 255, 0.6);text-decoration: none;color: #585D6B;}
.wrapper .menu a.current {background: #ffffff;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0);background: -webkit-linear-gradient(top,#ffffff,#fafafa);background: -moz-linear-gradient(top,#ffffff,#fafafa);background: -o-linear-gradient(top,#ffffff,#fafafa);color: #585d6b;border-left-color:#d5d6d9;border-right:1px solid #d5d6d9;position:relative;margin-right:-1px;}

/* who to follow */
.who-to-follow {background:none;box-shadow: none;}
.who-to-follow li {position:relative;float:left;width: calc((100% - 54px)/4);margin: 0 0 18px 18px;z-index: 0;}
.who-to-follow li.active {z-index:1;}
.who-to-follow li:nth-child(4n+1) {clear:both;margin-left:0;}
.who-to-follow .ptit a {position:absolute;top: 0;right: 0;font-weight: bold;padding: 14px 20px;line-height: 17px;color: #767F8D;border-left: 1px solid #DCDDE0;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);border-radius: 0 3px 3px 0;font-size: 13px;}
.who-to-follow .ptit a:hover {background: rgba(255, 255, 255, 0.6);text-decoration: none;color: #585D6B;}
.who-to-follow #content {padding:0;width: auto;background: none;box-shadow:none;}

/* invite */
.invite .wrapper .icon, .invite .security .icon, .invite .directly .share-sns button .icon {background: url("../../images/normal/invite.png") no-repeat;background-size: 300px 150px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.invite .wrapper .icon, .invite .security .icon, .invite .directly .share-sns button .icon {background-image: url("../../images/retina/invite.png") ;}
}
.invite #content {padding:0;width: auto;background: none;box-shadow:none;}
.invite .sns ul {display: table;width: 100%;}
.invite .sns li {display:table-cell;width:20%;text-align:center;vertical-align:middle;border-left:1px solid #f2f2f2;}
.invite .sns li:first-child {border-left:0;}
.invite .sns button {color: #5B6273;background: none;font-size: 16px;font-weight: bold;height: 80px;padding-top: 1px;width: 100%;position: relative;top: 0px;}
.invite .sns button:hover {color: #4b505f;background: #FEFEFE;}
.invite .sns .icon {display:inline-block;width:24px;height:24px;vertical-align:middle;margin:-3px 4px 0 0;}
.invite .sns .btn-twitter-dlg .icon {background-position:-30px 0;}
.invite .sns .gplus-post .icon {background-position:-60px 0;}
.invite .sns .btn-gmail-dlg .icon {background-position:-93px 0;}
.invite .sns .btn-email-dlg .icon {background-position:-125px 0;}
.invite .sns .btn-facebook-dlg:hover .icon {background-position:0 -30px;}
.invite .sns .btn-facebook-dlg:hover {border-radius: 3px 0 0 3px;}
.invite .sns .btn-twitter-dlg:hover .icon {background-position:-30px -30px;}
.invite .sns .gplus-post:hover .icon {background-position:-60px -30px;}
.invite .sns .btn-gmail-dlg:hover .icon {background-position:-93px -30px;}
.invite .sns .btn-email-dlg:hover {border-radius: 0px 3px 3px 0px;}
.invite .sns .btn-email-dlg:hover .icon {background-position:-125px -30px;}
.invite .security {color:#717780;font-size:11px;text-align:center;padding:2px 0 20px;}
.invite .security .icon {display:inline-block;width:9px;height:11px;vertical-align:middle;margin:-3px 1px 0 0;background-position:-20px -60px;}
.invite .directly dl {float:left;width:50%;}
.invite .directly dl:last-child {box-shadow: -1px 0px 0px 0px #F2F2F2;}
.invite .directly dt {padding:20px 20px 10px;font-weight:bold;}
.invite .directly dd {padding:0 20px 20px;}
.invite .directly button {border: 1px solid #dcddde;border-radius: 2px;color: #6D7384;font-weight: bold;padding: 1px 9px 0 6px;line-height: 26px;margin-right: 1px;font-size: 12px;width: auto;height: auto;background: #fff;}
.invite .directly .link fieldset {position:relative;width:372px;margin-bottom:14px;}
.invite .directly .link .text {width:356px;background:#f8f8f8;box-shadow:none;}
.invite .directly .link .text:focus {border-color: rgba(132,185,211,0.8) !important;box-shadow: 0 0 5px 1px rgba(156,199,219,0.9);outline: 0;background: #FFFFFF !important;}
.invite .directly .link .btn-copy {position:absolute;top:0;right:0;border-radius:0 3px 3px 0;border:1px solid #cacccf;background:#fff;height:100%;color:#646973;font-weight:bold;margin: 0;padding:0;}
.invite .directly .link .btn-copy .tooltip {color:#646973;padding:0 10px 0 9px;line-height:26px;}
.invite .directly .link .btn-copy .tooltip small {font-size:11px;font-weight:normal;white-space:nowrap;padding:1px 10px;bottom:35px;}
.invite .directly .link .btn-copy .tooltip:hover small {display:block;}
.invite .directly .link .btn-copy .icon {display:inline-block;width:12px;height: 6px;background-position:0 -60px;vertical-align: middle;margin: -3px 3px 0 0;}
.invite .directly .status-invite {padding-bottom: 20px;}
.invite .directly .status-invite small {color: #8A8F9C;font-size: 11px;margin-top: 6px;display: block;}
.invite .directly .status-invite small b {color:#383d48;font-weight:normal;}
.invite .directly .bonus p {padding-bottom: 19px;line-height: 18px;}
.invite .directly .bonus a {color:#4978b3;}
.invite .directly .bonus .terms {font-size: 11px;color: #8A8F9C;padding: 0;}
.invite .directly .share-sns li {float:left;margin-right:5px;}
.invite .directly .share-sns button:hover {background: #f8f8f8;text-decoration:none;}
.invite .directly .share-sns button .icon {display: inline-block;vertical-align: middle;width: 16px;height: 16px;margin: -3px 3px 0 0;}
.invite .directly .share-sns button.btn-tw{margin-left:-1px;}
.invite .directly .share-sns button.btn-tw .icon{background-position: 0 -115px;}
.invite .directly .share-sns button.btn-gg .icon {background-position:0 -134px;}
.invite .directly .share-sns button.btn-fb .icon {background-position: 0 -80px;}
.invite .directly .share-sns button.btn-tw:hover .icon {background-position: -40px -115px;}
.invite .directly .share-sns button.btn-gg:hover .icon {background-position:-40px -134px;}
.invite .directly .share-sns button.btn-fb:hover .icon {background-position:-40px -80px;}

/* invite email popup */
.popup.invite-email .btn-del {background: url("../../images/normal/invite.png") no-repeat;background-size: 300px 150px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.popup.invite-email .btn-del {background-image: url("../../images/retina/invite.png") ;}
}
#popup_container.invite-email .popup.invite-email {display:block;}
#popup_container .popup.invite-email {width:480px;background:#fff;border-radius:3px;}
.popup.invite-email .ltit {margin-bottom:15px;}
.popup.invite-email dl {padding:0 15px 14px;}
.popup.invite-email dt {padding-bottom:5px;color:#63696e;}
.popup.invite-email textarea.text, .popup.invite-email .email-frm{background:#f8f8f8;border:1px solid #cacccf;border-radius:2px;box-shadow:inset 0 1px 0 #f4f4f4;}
.popup.invite-email textarea.text:focus, .popup.invite-email .email-frm.focus { border-color: #ACBDCB !important;box-shadow: 0 0 0 2px rgba(78, 133, 184, 0.17) !important;background-color: #FFF !important;}
.popup.invite-email .email-frm {padding:3px;color:#aaaeb1;}
.popup.invite-email .btn-del {width:7px;height:7px;text-indent:-1000em;background-position:-30px -60px;margin: -2px 0 0 6px;vertical-align: middle;}
.popup.invite-email .email-frm .name {background:#f9fcff;display:inline-block;padding:0 6px;border:1px solid #abccee;border-radius:2px;vertical-align:middle;line-height:21px;color:#525966;font-weight:normal;margin: 1px 3px 1px 0;}
.popup.invite-email .email-frm .add {line-height:21px;padding-left:4px;display:inline-block;vertical-align:middle;}
.popup.invite-email textarea.text {display:block;margin-bottom:4px;width: 434px;height: 79px;}
.popup.invite-email .btn-area {padding:14px 9px;text-align:right;border-top:1px solid #e9eaed;}
.popup.invite-email .btn-area button {margin-right:6px;font-size:12px;line-height:29px;}
.popup.invite-email .email-frm input.text {width: 436px;border: 0;box-shadow: none;padding: 0;background: none;vertical-align: middle;line-height: 21px;height: 21px;padding: 0 3px;}
.popup.invite-email .email-frm input.text:focus {box-shadow:none !important;}

/* invite sns popup */
.popup.invite#infscr-loading {background: url("../../images/normal/spinner.gif") no-repeat 50% 50%;}
.popup.invite .find-people .find-keyword .icon, .popup.invite .find-people .find-keyword .remove {background: url("../../images/normal/invite.png") no-repeat;background-size: 300px 150px;}
.popup.invite .friends input[type="checkbox"] {background: url("../../images/normal/checkbox4.png") no-repeat;background-size: 34px 14px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.popup.invite#infscr-loading {background-image: url("../../images/retina/spinner.gif");}
	.popup.invite .find-people .find-keyword .icon, .popup.invite .find-people .find-keyword .remove {background-image: url("../../images/retina/invite.png");}
	.popup.invite .friends input[type="checkbox"] {background-image: url("../../images/retina/checkbox4.png");}
}
#popup_container .popup.invite {width:480px;background:#fff;border-radius:3px;}
.popup.invite dt {line-height:24px;padding:0;display:none;}
.popup.invite dl {padding:15px;}
.popup.invite dt b {font-size:18px;display:block;}
.popup.invite dt small {font-size:13px;color:#8a90a1;}
.popup.invite li {position:relative;clear:both;width:100%;line-height:34px;color:#8a90a1;border-top:1px solid #e7e8ea;}
.popup.invite li:first-child {border-top:0;}
.popup.invite li label {display: table;width:100%;color:#8a90a1;cursor:pointer;}
.popup.invite li label strong {color:#4781b9;}
.popup.invite li span {float:left;width:230px;}
.popup.invite li .btn-invite[disabled] border-color:#c5c7c9 #cdced1 #cdced1;background:#fff;opacity:0.5;cursor:default;color:#646973;}
.popup.invite li .btn-invite.invited {display:inline-block;background:-webkit-linear-gradient(top,#83c448,#83c448);background:-moz-linear-gradient(top,#538cc4,#4781b9);background:-o-linear-gradient(top,#538cc4,#4781b9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#538cc4',endColorstr='#4781b9');background-image:-ms-linear-gradient(#538cc4, #4781b9);border:1px solid #396c9d;border-radius:3px;box-shadow:0 1px 0 rgba(0,0,0,0.11), inset 0 1px 1px rgba(175,207,235,0.14);text-shadow:0 -1px 0 #457bac;}
.popup.invite li .btn-invite.invited:hover {background: -webkit-linear-gradient(bottom, #83c448, #83c448);background: -ms-linear-gradient(bottom, #508bc2, #5a94ca);background: -moz-linear-gradient(bottom, #508bc2, #5a94ca);background: -o-linear-gradient(bottom, #508bc2, #5a94ca);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#508bc2',endColorstr='#5a94ca');}
.popup.invite .scroll {border-radius:2px;margin-top:20px;border:1px solid #e9eaed;border-left: 0;border-right: 0;padding-right:4px;margin: 0 -15px;}
.popup.invite .search {position:relative;}
.popup.invite .search input {width: 533px;padding: 7px 7px 6px 28px;}
.popup.invite .search .ic-search {position: absolute;left: 10px;top: 11px;display: block;width: 11px;height: 11px;background-position: -119px -26px;}
.popup.invite .result {color:#8a8f9c;font-size:13px;line-height:24px;text-align:center;padding:15px;}
.popup.invite .result b {font-weight:normal;font-size:24px;}
.popup.invite .empty {text-align:center;color: #8a90a1;font-size: 16px;}
.popup.invite .btn-area {clear:both;margin:0;background:none;border-top-color:#e6e8ea;box-shadow:none;padding:0 15px 15px;text-align:right;}
.popup.invite .btn-area .btn-close {background:none;color:#3e3e40;margin-left:6px;}
.popup.invite .btn-area button {margin-left:6px;font-size: 12px;line-height: 29px;}
.popup.invite .find-people .find-keyword {margin: 0 0 15px;padding:0;background:none;top: 0;position: relative;}
.popup.invite .find-people .find-keyword .remove {position:absolute;top: 11px;right:10px;width:9px;height:9px;background-position:-60px -80px;text-indent: -1000em;display: none;}
.popup.invite .find-people .find-keyword.focus .remove {display:block;}
.popup.invite .find-people .find-keyword .icon {position:absolute;top: 9px;left: 8px;width: 13px;height: 14px;background-position: -40px -60px;}
.popup.invite .find-people .find-keyword .text {display: block;background: #F8F8F8;border: 1px solid #CACCCF;border-radius: 3px;box-shadow: inset 0 1px 0 #F4F4F4;box-sizing: border-box;-webkit-box-sizing: border-box;width: 100%;padding-left: 25px;}
.popup.invite .find-people .find-keyword .text:focus,.popup.invite .find-people .find-keyword.focus .text {border-color: rgba(132,185,211,0.8) !important;box-shadow: 0 0 5px 1px rgba(156,199,219,0.9);outline: 0;background: #FFFFFF !important;}
.popup.invite .friends {max-height:352px;overflow:auto;padding: 0 0 0 15px;}
.popup.invite .friends.no-result {border:0;}
.popup.invite .friends .friends {border:0;border-radius:0;overflow:visible;max-height:20000px;}
.popup.invite .friends li {width:auto;padding: 7px 0;line-height:20px;font-size:13px;color:#8a90a1;border-top: 1px solid #e9eaed;width: 450px;}
.popup.invite .friends li.empty, .popup.invite .no-result .empty {padding:166px 0;}
.popup.invite .friends li:first-child {border:0;}
.popup.invite .friends li b {width: 195px;white-space: nowrap;padding-left: 20px;color: #393d4d;vertical-align: middle;margin: -3px 16px 0 0;}
.popup.invite .friends input[type="checkbox"] {width: 14px;height: 14px;-webkit-appearance: none;background-position: -20px 0;vertical-align: middle;margin: -4px 0 0;}
.popup.invite .friends input[type="checkbox"]:checked {background-position:0 0;}
.popup.invite ::-webkit-scrollbar, .popup.invite ::-webkit-scrollbar-thumb {width: 8px;height: 8px;border-radius: 4px;border-radius: 4px;background: rgba(0, 0, 0, 0);}
.popup.invite ::-webkit-scrollbar, .popup.invite ::-webkit-scrollbar-track-piece {background:transparent;}
.popup.invite ::-webkit-scrollbar-button {width:6px;display:block;height:6px;background:transparent;}
.popup.invite ::-webkit-scrollbar-thumb {background:#c2c2c2;}
.popup.invite .pagination {border-radius:0 0 3px 3px;}
.popup.invite div.pagination {text-align:center; margin:10px 10px}
.popup.invite li.pagination {background:#e7e8ea;text-align:center;color:#8a90a1;list-style-type:none;width: auto !important;margin-left: -15px;border-radius: 0;}
.popup.invite li.pagination:after {content:'.';display:block;visibility:hidden;clear:both;height:0;overflow:hidden;}
.popup.invite li.pagination a {display:block;color:#8a90a1;background: none;box-shadow: none;text-shadow: none;border: 0;border-radius: 0;}
.popup.invite li.pagination a:hover {background:none !important;}
.popup.invite li.pagination span {float:none;width: auto;display: inline;}
.popup.invite #infscr-loading {background: none;padding: 0;top: 0;border-top: 1px solid #e9eaed;height: 34px;}
.popup.invite #infscr-loading div {display: none;width: 16px;height: 11px;text-indent: -1000em;margin: 2px 0;}

/* invite sns popup > gmail */
#popup_container.invite-gmail .invite-gmail {display:block;}
.popup.invite-gmail .friends li b {display: inline-block;width: 195px;color:#393d4d;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.popup.invite-gmail li span {display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 215px;vertical-align: middle;margin-top: -3px;float: none;}
.popup.invite-gmail li input {position:absolute;top: 13px;left: 0;}
.popup.invite-gmail .friends {border-radius: 0;}

/* invite sns popup > facebook */
#popup_container.invite-facebook .invite-facebook {display:block;}
.popup.invite-facebook li .btn-invite {position:absolute;top: 50%;right: 0;padding:0 10px;line-height: 26px;height: 28px;font-size: 12px;margin-top: -14px;}
.popup.invite-facebook li {position:relative;float:left;clear:both;width:100%;color:#8a90a1;border-top:1px solid #e7e8ea;}
.popup.invite-facebook li b {padding-left:9px;float:left;width:248px;color:#393d4d;margin-top:13px;}
.popup.invite-facebook li img {width: 50px;vertical-align: middle;height: 50px;margin: 3px -4px 3px 0;}

/* invite sns popup > twitter */
#popup_container.invite-twitter .invite-twitter {display:block;}
.popup.invite-twitter li label {display:inline-block;float:none;vertical-align:middle;line-height: 16px;width:auto;}
.popup.invite-twitter li img {display:inline-block;width:50px;height:50px;margin: 3px 12px 3px 0;vertical-align:middle;}
.popup.invite-twitter li b {float:left;padding-left:9px;width:248px;color:#393d4d;}
.popup.invite-twitter li .btn-invite {position:absolute;top: 50%;right: 0;padding:0 10px;line-height: 26px;height: 28px;margin-top: -12px;font-size: 12px;}
.popup.invite-twitter .friends li b {float:none;display:block;width:auto;padding:0;}
.popup.invite-twitter .friends li small {display:block;}

/* find friends */
.find_f .wrapper .icon, .find_f .connect-sns .icon, .find_f .empty .icon {background: url("../../images/normal/invite.png") no-repeat;background-size: 300px 150px;}
.find_f .fancyd-stuff-list {background: url("../../images/normal/blank-lists.png") no-repeat;background-size: 69px 69px}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.find_f .wrapper .icon, .find_f .connect-sns .icon, .find_f .empty .icon {background-image: url("../../images/retina/invite.png") ;}
	.find_f .fancyd-stuff-list {background-image: url("../../images/retina/blank-lists.png")}
}
.find_f #content {float:right;width: 723px;padding: 0;background: none;box-shadow: none;width:calc(100% - 250px);}
.find_f #sidebar {float:left;width:230px;}
.find_f .find-type {font-size: 13px;line-height: 28px;padding: 7px 0;}
.find_f .find-type a {display: block;padding: 0 15px;color: #5B6273;line-height: 27px;text-decoration: none;}
.find_f .find-type a.current {font-weight:bold;color:#383d48;background:#f6f6f7;}
.find_f .find-type .icon {display:inline-block;width:16px;height:16px;vertical-align:middle;margin:-3px 10px 0 0;}
.find_f .find-type .facebook-find_f .icon {background-position:0 -80px;}
.find_f .find-type .facebook-find_f:hover .icon {background-position:-20px -80px;}
.find_f .find-type .facebook-find_f.current .icon {background-position:-40px -80px;}
.find_f .find-type .twitter .icon {background-position:0 -115px;}
.find_f .find-type .twitter:hover .icon {background-position:-20px -115px;}
.find_f .find-type .twitter.current .icon {background-position:-40px -115px;}
.find_f .find-type .google .icon {background-position:0 -134px;}
.find_f .find-type .google:hover .icon {background-position:-20px -134px;}
.find_f .find-type .google.current .icon {background-position:-40px -134px;}
.find_f .find-type .gmail .icon {background-position:0 -100px;height:13px;}
.find_f .find-type .gmail:hover .icon {background-position:-20px -100px;}
.find_f .find-type .gmail.current .icon {background-position:-40px -100px;}
.find_f .find-keyword {position:relative;border-top:1px solid #f2f2f2;}
.find_f .find-keyword input {display:block;line-height: 22px;padding:10px 0 10px 40px;border-radius:0 0 3px 3px;border: 0;width: 100%;box-sizing: border-box;background:none;}
.find_f .find-keyword .icon {position:absolute;width:12px;height:12px;top:50%;left:17px;margin-top:-6px;background-position:-60px -60px;}
.find_f .find-keyword:hover .icon, .find_f .find-keyword.focus .icon {background-position:-80px -60px;}
.find_f .followers-listing .vcard, .find_f .followers-listing .vcard:nth-of-type(4n+1) {margin-left:18px;}
.find_f .followers-listing .vcard:nth-of-type(3n+1) {margin-left:0;}
.find_f .connect-sns, .find_f .empty {clear:both;padding:77px 0;text-align:center;}
.find_f .connect-sns b, .find_f .empty b {display:block;font-size:18px;line-height:24px;padding-bottom:10px;color:#555b67;}
.find_f .connect-sns p, .find_f .empty p {font-size:14px;line-height:20px;color:#828790;}
.find_f .connect-sns .btn-connect {color: #5a616f;background: #fdfdfd;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdfdfd', GradientType=0);background: -webkit-linear-gradient(top,#ffffff,#fdfdfd);background: -moz-linear-gradient(top,#ffffff,#fdfdfd);background: -o-linear-gradient(top,#ffffff,#fdfdfd);background-image: -ms-linear-gradient(#ffffff,#fdfdfd);box-shadow: 0 1px 0 rgba(0,0,0,0.03);line-height: 36px;padding: 0 20px;border-color: #d2d2d4;border-bottom-color: #c5c7c9;margin-top: 20px;}
.find_f .connect-sns .btn-connect:hover {text-decoration: none;}
.find_f .connect-sns .btn-connect:active {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=0);background: -webkit-linear-gradient(#F0F0F0,#FFF) !important;background: -moz-linear-gradient(#f0f0f0,#ffffff) !important;background: -o-linear-gradient(#f0f0f0,#ffffff) !important;background: linear-gradient(#F0F0F0,#FFF) !important;-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1) !important;-moz-box-shadow: inset 0 0 2px rgba(0,0,0,0.1) !important;box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);border-color: #d2d2d4;}
.find_f .connect-sns .icon {display:block;width:72px;height:72px;margin:0 auto 26px;opacity:0.5;}
.find_f .connect-sns.facebook .icon {background-position:-150px 0;}
.find_f .connect-sns.twitter .icon {background-position:-225px 0;}
.find_f .connect-sns.google .icon {background-position:-150px -75px;}
.find_f .connect-sns.gmail .icon {background-position:-225px -75px;}
.find_f .empty .icon {display:block;width:48px;height:48px;background-position:-95px -60px;margin:0 auto 20px;}
.find_f .empty.connect-sns .icon {width:56px;height:42px;background-position:-60px -105px;margin:0 auto 24px;}
