@charset "UTF-8";
.after:after, .messaging .sort:after, .messaging .message-filed .msg:after {
  content: '';
  clear: both;
  display: block;
}

.messaging .btn-new:before, .messaging .to .selected .delete:before, .messaging .msg-list .status .return, .messaging .dropdown.user-type .show:before {
  background: url("../../images/normal/message.png") no-repeat;
  background-size: 200px 100px;
}

.messaging .frm .attached_file:after, .messaging .controller .btn-set:before, .messaging .frm .attached-menu .more:before {
  background: url("../../images/svg/ic-activity.svg") no-repeat;
}

.messaging.container {
  position: absolute;
  top: 120px;
  width: 1160px;
  left: 50%;
  margin-left: -620px;
  border-radius: 5px;
  bottom: 0;
  padding-top: 0;
  min-height: 808px;
}

.messaging.container + #footer {
  display: none;
}

.messaging.merchant {
  top: 0;
  width: 1200px;
  margin-left: -615px;
}

.messaging.merchant .wrapper-content {
  top: 76px;
  right: 15px;
  width: calc(100% - 30px);
}

.messaging.merchant h3 .label {
  line-height: 17px;
  padding: 0 5px;
  font-size: 10px;
  margin-left: 1px;
}

.messaging.merchant h3 .label.customer {
  background: #fff;
  color: #58b364;
  -webkit-box-shadow: inset 0 0 0 1px #a8ddae;
          box-shadow: inset 0 0 0 1px #a8ddae;
}

.messaging.newsletter h1 {
  display: block;
  font-size: 16px;
  padding: 19px 15px;
}

.messaging#content {
  background: #ebeced;
  padding: 20px;
}

.messaging#content + #footer {
  display: none;
}

.messaging#content .activity-menu {
  position: static;
  float: left;
  margin-left: 0;
}

.messaging#content .wrapper-content {
  float: right;
  position: relative;
  right: 0;
  min-height: 808px;
}

.messaging iframe.newsletter, .messaging .news-list {
  position: absolute;
  left: 0;
  top: 61px;
  width: 100%;
  height: 90%;
  height: calc(100% - 61px);
  height: -moz-calc(100% - 60px);
}

.messaging iframe.newsletter {
  z-index: 2;
  border-radius: 0 0 5px 0;
}

.messaging .news-list {
  left: -1px;
  overflow: auto;
  padding-left: 1px;
}

.messaging .news-list p {
  text-align: center;
  padding: 60px 0;
  font-size: 15px;
  line-height: 20px;
  color: #999;
}

.messaging .news-list p b {
  color: #373d48;
}

.messaging .news-list ul {
  -webkit-box-shadow: inset 0 1px 0 #f3f3f4;
          box-shadow: inset 0 1px 0 #f3f3f4;
}

.messaging .news-list li a {
  display: block;
  -webkit-box-shadow: inset 0 -1px 0 #f3f3f4;
          box-shadow: inset 0 -1px 0 #f3f3f4;
  padding: 15px;
  font-size: 12px;
  color: #797d8a;
  line-height: 18px;
  position: relative;
}

.messaging .news-list li img {
  display: none;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: 15px;
  width: 36px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.messaging .news-list li .current {
  background: #2280fe;
  color: #ffffff;
}

.messaging .news-list li .current .title {
  color: #ffffff;
}

.messaging .news-list li .title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  color: #383d48;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  position: relative;
  text-overflow: ellipsis;
  font-size: 14px;
}

.messaging .news-list li .date {
  font-size: 12px;
  font-weight: 500;
}

.messaging .news-list.empty p:before {
  background-image: url("../../images/normal/shop_category.png");
  background-size: 500px 150px;
}

.messaging .empty {
  display: table;
  top: 104px;
  height: calc(100% - 104px);
  height: -moz-calc(100% - 104px);
}

.messaging .empty p {
  display: table-cell;
  padding: 0;
  text-align: center;
  font-size: 14px;
  color: #adb1b4;
  vertical-align: middle;
}

.messaging .empty p:before {
  display: block;
  width: 63px;
  height: 52px;
  content: '';
  background-position: -320px 0;
  margin: 0 auto 21px;
}

.messaging #sidebar {
  position: absolute;
  float: left;
  width: 310px;
  height: 100%;
}

.messaging #content {
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: calc(100% - 310px);
  border-radius: 0 5px 5px 0;
}

.messaging .btn-new {
  position: absolute;
  right: 11px;
  top: 15px !important;
  font-size: 14px;
  line-height: 26px;
  color: #2785fa;
  font-weight: 600;
}

.messaging h1 {
  display: none;
  font-size: 14px;
  line-height: 24px;
  padding: 15px 11px;
  color: #434649;
  font-weight: 700;
}

.messaging .ptit {
  border-bottom: 1px solid #E6E6E8;
  position: relative;
  border: 0;
  font-size: 15px;
  border-radius: 3px;
  padding: 13px 17px 11px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F4F5F6), to(#EEEFF0));
  background-image: linear-gradient(top, #F4F5F6, #EEEFF0);
  -webkit-box-shadow: 0 1px 0px 0px #d0d1d5, 0 0px 0px 1px rgba(220, 221, 224, 0.85);
          box-shadow: 0 1px 0px 0px #d0d1d5, 0 0px 0px 1px rgba(220, 221, 224, 0.85);
  line-height: 21px;
  height: 22px;
  cursor: default;
  color: #4E5263;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  margin-bottom: 18px;
}

.messaging .ptit a {
  color: #3e4147;
  text-decoration: none;
}

.messaging .ptit .btn-new {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 12px;
  line-height: 28px;
  color: #5A616F;
  padding: 0 10px;
  border-color: #D5D6D8 #D5D6D8 #c5c7c9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
}

.messaging .ptit .btn-new:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  background-position: -150px 0;
  margin: -3px 5px 0 0;
}

.messaging .ptit .btn-new:active {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  border-color: #c5c7c9;
}

.messaging .wrapper-content {
  position: absolute;
  right: 40px;
  top: 0;
  bottom: 70px;
  z-index: 0;
  background: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
  width: calc(100% - 320px);
  width: -moz-calc(100% - 320px);
}

.messaging .wrapper-content:before {
  content: '';
  position: absolute;
  left: 309px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #EBECED;
  z-index: 2;
}

.messaging .msg-list {
  position: absolute;
  top: 104px;
  left: -1px;
  width: 100%;
  height: 90%;
  height: calc(100% - 104px);
  height: -moz-calc(100% - 104px);
  overflow: auto;
  padding-left: 1px;
}

.messaging .msg-list.empty {
  display: table;
  width: 100%;
}

.messaging .msg-list.empty p {
  display: table-cell;
  vertical-align: middle;
  font-weight: 600;
  color: #8e9399;
}

.messaging .msg-list.empty p:before {
  content: '';
  display: block;
  margin: 0 auto 20px;
  width: 40px;
  height: 40px;
  background: url("../../images/svg/icon-header-b.svg") no-repeat -80px -100px;
  background-size: 400px 200px;
  opacity: 0.5;
}

.messaging .msg-list p {
  text-align: center;
  padding: 60px 0;
  font-size: 15px;
  line-height: 20px;
  color: #999;
}

.messaging .msg-list p b {
  color: #373d48;
}

.messaging .msg-list a {
  position: relative;
  display: block;
  padding: 14px 14px 14px 65px;
  font-size: 13px;
  line-height: 19px;
  color: #383d48;
}

.messaging .msg-list .current {
  background: #2785fa;
  color: #fff;
}

.messaging .msg-list .current .message, .messaging .msg-list .current .status .date {
  color: #fff;
}

.messaging .msg-list .current .message.otherline {
  color: #979a9d;
}

.messaging .msg-list .current .message .highlight {
  background: #666;
  color: #fff;
}

.messaging .msg-list .current .message:after {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 133, 250, 0)), to(#2785fa));
  background-image: linear-gradient(left, rgba(39, 133, 250, 0), #2785fa);
}

.messaging .msg-list .current .status .return {
  background-position: -50px -15px;
}

.messaging .msg-list .current .username {
  font-weight: bold;
  color: #fff;
}

.messaging .msg-list .current img {
  -webkit-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
}

.messaging .msg-list img {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 41px;
  height: 41px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  vertical-align: top;
}

.messaging .msg-list li.store img {
  border-radius: 3px;
}

.messaging .msg-list li.unread .username {
  font-weight: bold;
}

.messaging .msg-list li.unread .message:before {
  content: '';
  margin: -2px 5px 0 0;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #4b98e6;
  vertical-align: middle;
}

.messaging .msg-list .status .date {
  display: block;
  position: absolute;
  font-size: 11px;
  right: 14px;
  top: 14px;
  text-align: right;
  color: #8a8f9c;
  font-weight: 500;
}

.messaging .msg-list .status .new {
  display: none !important;
}

.messaging .msg-list .status .return {
  position: absolute;
  display: inline-block;
  width: 11px;
  height: 9px;
  background-position: -50px 0;
  opacity: 0.8;
  left: 47px;
  top: 42px;
}

.messaging .msg-list .username {
  display: block;
  font-weight: 600;
  margin-right: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messaging .msg-list .username.store:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-position: -160px -70px;
  top: 12px;
  left: 42px;
}

.messaging .msg-list .message {
  position: relative;
  color: #8a8f9c;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-weight: 500;
  font-size: 13px;
}

.messaging .msg-list .message.otherline {
  color: #979a9d;
}

.messaging .msg-list .message.focusline {
  color: #383d48;
}

.messaging .msg-list .message:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  height: 100%;
  margin: 0;
}

.messaging .msg-list .message .highlight {
  padding: 0 1px;
  background: #fff5a9;
  font-weight: bold;
}

.messaging .msg-list .message .emoji, .messaging .msg-list .username .emoji {
  position: static;
  width: auto;
  height: auto;
  border-radius: 0;
}

.messaging .msg-list.loading:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #949597;
  border-radius: 100% !important;
  height: 40px;
  opacity: 1;
  width: 40px;
  margin-top: -22px;
  margin-left: -22px;
  line-height: 40px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.messaging .dropdown {
  position: relative;
  display: none;
}

.messaging .dropdown .show {
  display: block;
  width: 31px;
  height: 31px;
  position: relative;
}

.messaging .dropdown .show:after {
  content: '';
  border: 4px solid transparent;
  border-top-color: #8c8d91;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -4px;
  opacity: 0.5;
}

.messaging .dropdown ul {
  position: absolute;
  top: 100%;
  right: 0;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: 0.22s;
  -webkit-transition: 0.22s;
  -moz-transition: 0.22s;
  -o-transition: 0.22s;
  padding: 7px 0;
  font-size: 14px;
  font-weight: 500;
}

.messaging .dropdown li a {
  display: block;
  padding: 1px 20px;
  line-height: 30px;
  color: #3d4956;
  white-space: nowrap;
  position: relative;
}

.messaging .dropdown li a.current, .messaging .dropdown li a:hover {
  background: #f7f7f7;
}

.messaging .dropdown.opened ul {
  opacity: 1;
  visibility: visible;
  margin-top: 10px;
}

.messaging .dropdown.opened.disabled ul {
  display: none;
}

.messaging .dropdown.user-type {
  float: left;
  display: block;
}

.messaging .dropdown.user-type .show {
  display: inline-block;
  width: auto;
  color: #8a8f9c;
  padding: 21px 14px 18px 5px;
  line-height: 21px;
  height: 21px;
}

.messaging .dropdown.user-type .show.current {
  font-weight: bold;
  color: #383d48;
}

.messaging .dropdown.user-type .show.current:before {
  background-position: -180px -15px;
}

.messaging .dropdown.user-type .show:after {
  display: none;
}

.messaging .dropdown.user-type .show:before {
  width: 16px;
  height: 16px;
  background-position: -80px -15px;
  position: static;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 4px 0 0;
}

.messaging .dropdown.user-type ul {
  min-width: 108px;
  top: 50px;
  left: 5px;
}

.messaging .dropdown.user-type ul:before {
  left: 29px;
}

.messaging .dropdown.user-type ul:after {
  left: 30px;
}

.messaging .search {
  padding: 0 15px 12px;
  position: relative;
}

.messaging .search .remove {
  position: absolute;
  right: 21px;
  top: 7px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.messaging .search .remove:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  top: 5px;
  left: 5px;
  background: url("../../images/normal/shop_keyword.png") no-repeat -20px 0;
}

.messaging .search .dropdown {
  position: absolute;
  top: 0;
  width: 30px;
  left: 15px;
}

.messaging .search input.text {
  width: 100%;
  border-radius: 50px;
  line-height: 22px;
  padding: 7px 7px 7px 34px;
}

.messaging .search:before {
  content: '';
  position: absolute;
  top: 11px;
  left: 28px;
  width: 14px;
  height: 14px;
  background: url("../../images/svg/icon-header-b.svg") no-repeat 0 -20px;
  right: auto;
  z-index: 1;
  opacity: 0.7;
}

.messaging .search-result {
  padding: 14px 16px 10px;
  line-height: 17px;
  font-size: 13px;
  border-top: 1px solid #e5e6e6;
}

.messaging .sort {
  color: #8D9195;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding: 15px 11px;
}

.messaging .sort li {
  float: left;
}

.messaging .sort li + li:before {
  content: '·';
}

.messaging .sort a {
  padding: 0 4px;
  color: #8D9195;
}

.messaging .sort .current {
  color: #434649;
  font-weight: 700;
}

.messaging .new-message div.title {
  background: #fff;
  border-radius: 0 5px 0 0;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #EBECED;
}

.messaging h3 .label, .messaging .to .label {
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  padding: 0 4px;
  line-height: 14px;
  font-size: 8px;
  margin: -3px 0 0 -1px;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
  font-weight: bold;
}

.messaging h3 .label.customer, .messaging .to .label.customer {
  background: #73b084;
}

.messaging h3 .label.vip, .messaging .to .label.vip {
  background: #4f8ecf;
}

.messaging h3 {
  line-height: 21px;
  padding: 22px 40px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #434649;
  min-height: 21px;
  vertical-align: middle;
}

.messaging h3 a {
  color: #3e4147;
  margin-right: 2px;
}

.messaging .controller {
  margin-top: -16px;
  right: 15px;
  padding: 0;
  position: absolute;
  z-index: 3;
  top: 50%;
}

.messaging .controller .btns-gray-embo {
  display: inline-block;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 29px;
  border-left: 1px solid #e5e6e7;
  border-radius: 0;
  color: #62666f;
  font-size: 12px;
}

.messaging .controller .btn-set {
  width: 32px;
  display: block;
  height: 32px;
  background: #EBECED;
  border-radius: 100%;
  text-align: center;
  line-height: 29px;
}

.messaging .controller .btn-set:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 4px;
}

.messaging .controller .dropdown {
  display: block;
}

.messaging .controller .dropdown ul {
  left: auto;
  right: -12px;
}

.messaging .controller .dropdown ul:before {
  left: auto;
  right: 16px;
}

.messaging .controller .dropdown ul:after {
  left: auto;
  right: 17px;
}

.messaging .controller .dropdown.opened .btn-set, .messaging .controller .dropdown:hover .btn-set {
  background: #e5e6e6;
}

.messaging .to {
  position: relative;
  padding: 19px 18px;
  background: #fff;
  z-index: 1;
  border-radius: 0 5px 0 0;
}

.messaging .to input.text {
  background: none;
  padding: 4px 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}

.messaging .to input.text:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.messaging .to .to {
  font-size: 14px;
  line-height: 31px;
  font-weight: bold;
  color: #3e4147;
  padding: 0;
}

.messaging .to .selected {
  border-radius: 22px;
  color: #ffffff;
  background: #2785f9;
  line-height: 22px;
  height: 22px;
  font-weight: 600;
  padding: 1px 9px;
  display: inline-block;
  margin: 2px 0 3px 7px;
  vertical-align: middle;
}

.messaging .to .selected:hover {
  color: #fff;
  background: #2785f9;
}

.messaging .to .selected .delete {
  display: inline-block;
  width: 15px;
  font-weight: bold;
  color: #fff;
  position: relative;
  background: none;
  direction: ltr;
  text-indent: -1000em;
  vertical-align: middle;
  margin-top: -5px;
  font-size: 15px;
}

.messaging .to .selected .delete:after {
  content: '×';
  position: absolute;
  right: 0;
  top: 0;
  text-indent: 0;
  opacity: 0.7;
  line-height: 24px;
}

.messaging .to .selected .delete:hover:after {
  opacity: 1;
}

.messaging .to .userlist {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.messaging .to .userlist .empty {
  padding: 15px 10px;
  text-align: center;
  color: #8a8f9c;
}

.messaging .to .userlist .listing {
  display: none;
  position: absolute;
  top: 39px;
  left: 0;
  width: 260px;
  background: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 3px;
}

.messaging .to .userlist .listing:before, .messaging .to .userlist .listing:after {
  content: '';
  border: 9px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-left: -9px;
  left: 12px;
  margin-left: 0;
}

.messaging .to .userlist .listing:after {
  border-bottom-color: #fff;
  border-width: 8px;
  top: -16px;
  left: 13px;
}

.messaging .to .userlist ul {
  max-height: 260px;
  overflow: auto;
}

.messaging .to .userlist ul a {
  position: relative;
  display: block;
  padding: 9px 9px 9px 58px;
  font-size: 13px;
  line-height: 17px;
  color: #8a8f9c;
}

.messaging .to .userlist ul a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 58px;
  width: 70%;
  width: calc(100% - 58px);
  width: -moz-calc(100% - 58px);
  background: #ebebed;
  opacity: 0.7;
  height: 1px;
}

.messaging .to .userlist ul a:hover {
  text-decoration: none;
  background: #f1f1f2;
  -webkit-box-shadow: 0 1px 0 #f1f1f2;
          box-shadow: 0 1px 0 #f1f1f2;
}

.messaging .to .userlist ul b {
  color: #383d48;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messaging .to .userlist ul img {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 14px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  vertical-align: top;
}

.messaging .to .userlist ul .username {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messaging .to .userlist ul .message {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messaging .to .userlist.opened .listing {
  display: block;
}

.messaging .frm {
  white-space: nowrap;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 12px 0 12px 13px;
  border-top: 1px solid #EBECED;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 7;
  background: #fff;
  border-radius: 0 0 5px 0;
}

.messaging .frm.disabled:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  visibility: visible;
  z-index: 3;
}

.messaging .frm .byte {
  line-height: 30px;
  color: #9c9fa6;
  padding-right: 21px;
  float: right;
}

.messaging .frm .byte.caution {
  color: #9f6666;
}

.messaging .frm .byte.error {
  color: #ca4949;
}

.messaging .frm .attached-menu {
  position: absolute;
  right: 62px;
  top: 12px;
}

.messaging .frm .attached-menu small {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: 0.22s;
  -webkit-transition: 0.22s;
  -moz-transition: 0.22s;
  -o-transition: 0.22s;
  padding: 7px 0;
  font-size: 14px;
  font-weight: 500;
}

.messaging .frm .attached-menu small a {
  display: block;
  padding: 1px 20px;
  line-height: 30px;
  color: #3d4956;
  position: relative;
}

.messaging .frm .attached-menu small a:hover {
  background: #f7f7f7;
}

.messaging .frm .attached-menu .file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.messaging .frm .attached-menu .more {
  display: block;
  cursor: pointer;
  line-height: 40px;
  padding: 0 15px;
  z-index: 0;
}

.messaging .frm .attached-menu .loading:before {
  width: 14px;
  height: 14px;
  margin: -3px 1px 0 0;
  background: url("../../images/normal/spinner.gif") no-repeat;
  background-size: 14px 14px;
  opacity: 1;
}

.messaging .frm .attached-menu.opened small {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.messaging .frm .attached-menu.opened .more:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.messaging .frm .attached-menu.opened .more:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-position: -35px 0;
  vertical-align: middle;
  margin-top: -3px;
  opacity: 0.7;
}

.messaging .frm .attached-menu.opened .more:before, .messaging .frm .attached-menu:hover .more:before {
  opacity: 1;
}

.messaging .frm .attached_file {
  position: absolute;
  right: 69px;
  top: 50%;
  margin-top: -13px;
  background: #fff;
  border-radius: 13px;
  line-height: 26px;
  padding: 0 30px 0 13px;
  z-index: 2;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
  font-weight: 600;
}

.messaging .frm .attached_file:after {
  content: '';
  position: absolute;
  direction: ltr;
  text-indent: -1000em;
  width: 10px;
  height: 10px;
  right: 10px;
  top: 50%;
  margin-top: -5px;
  background-position: -20px 0;
  cursor: pointer;
}

.messaging .frm .text {
  display: block;
  height: 40px;
  width: 100%;
  border-radius: 20px;
  line-height: 20px;
  padding: 10px 16px;
}

.messaging .frm .text.error::-moz-selection {
  color: #383d48;
  background: #ffcccc;
}

.messaging .frm .text.error::selection {
  color: #383d48;
  background: #ffcccc;
}

.messaging .frm .text_box {
  float: left;
  width: calc(100% - 62px);
}

.messaging .frm .auto-message {
  float: right;
  line-height: 29px;
  color: #a9abb2;
  font-size: 12px;
  overflow: hidden;
}

.messaging .frm .auto-message input, .messaging .frm .auto-message label {
  display: none;
}

.messaging .frm .btn-send {
  line-height: 40px;
  font-size: 14px;
  float: right;
  width: 62px;
  padding: 0;
  border: 0;
  background: none;
  color: #2785fa;
  font-weight: 700;
}

.messaging .frm .btn-send[disabled] {
  background: none !important;
  color: #CDCFD1;
}

.messaging .frm .btn-send:hover {
  background: none !important;
}

.messaging .frm .file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.messaging .message-filed {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 90%;
  height: calc(100% - 82px);
  height: -moz-calc(100% - 82px);
  overflow: auto;
  padding-bottom: 17px;
}

.messaging .message-filed .figure-item {
  width: 280px;
  border-radius: 18px 8px 8px 18px;
  background: #2785fa;
  color: #fff;
  overflow: hidden;
  text-align: left;
  margin-top: 2px;
}

.messaging .message-filed .figure-item figcaption .title {
  font-weight: bold;
  color: #fff;
  height: auto;
}

.messaging .message-filed .figure-item:first-of-type {
  margin-top: 0;
  border-top-right-radius: 18px;
}

.messaging .message-filed .figure-item:nth-last-child(2) {
  border-bottom-right-radius: 18px;
}

.messaging .message-filed .figure-item.none:nth-last-child(2) {
  border-bottom-right-radius: 8px;
}

.messaging .message-filed .figure-item.loading a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.messaging .message-filed .attach {
  text-align: center;
  color: #41444a;
  padding: 15px 0 11px;
  font-size: 11px;
  width: 96px;
  border-radius: 3px;
  display: block;
  margin-top: 18px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #e9eaeb;
          box-shadow: inset 0 0 0 1px #e9eaeb;
}

.messaging .message-filed .attach.pdf:before {
  content: '';
  display: block;
  margin: 0 auto 8px;
  width: 34px;
  height: 43px;
  background-position: 0 -40px;
}

.messaging .message-filed .attach.img {
  padding: 0;
}

.messaging .message-filed .attach small {
  font-size: 11px;
  color: #77797e;
}

.messaging .message-filed .attach img {
  width: 96px;
  height: 96px;
  border-radius: 5px;
  background: no-repeat 50% 50%;
  background-size: cover;
  vertical-align: top;
  display: block;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.messaging .message-filed .attached {
  position: relative;
  text-align: center;
  clear: both;
  display: table;
  width: 188px;
  border-radius: 18px;
  background: #2785fa;
  overflow: hidden;
}

.messaging .message-filed .attached a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

.messaging .message-filed .attached .file {
  margin: 0;
  min-width: 80px;
  text-align: left;
}

.messaging .message-filed .attached img {
  display: inline-block;
  vertical-align: top;
  border-radius: 18px;
}

.messaging .message-filed .attached .date {
  cursor: pointer;
  color: #9cc9f6;
}

.messaging .message-filed .attached.loading a {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 180px;
  height: 180px;
}

.messaging .message-filed .start-date {
  clear: both;
  text-align: center;
  color: #a0a4ae;
  font-size: 12px;
  position: relative;
  padding: 0 0 17px;
  margin: 0 15px;
}

.messaging .message-filed .start-date:first-of-type {
  padding-top: 17px;
}

.messaging .message-filed .msg {
  float: right;
  position: relative;
  clear: both;
  margin: 0 13px 18px 60px;
  text-align: right;
}

.messaging .message-filed .msg .order-num {
  color: #517eb6;
  font-weight: bold;
}

.messaging .message-filed .msg .message {
  padding: 9px 14px;
  max-width: 346px;
  background: #2785fa;
  color: #fff;
  clear: both;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  border-radius: 18px;
  word-break: break-word;
  text-align: left;
  font-weight: 500;
}

.messaging .message-filed .msg .message a {
  color: #fff;
  word-break: break-all;
}

.messaging .message-filed .msg .message .status {
  left: 10px;
  bottom: 5px;
}

.messaging .message-filed .msg .message .status .date {
  cursor: pointer;
  color: #9cc9f6;
}

.messaging .message-filed .msg .order-num {
  color: #517eb6;
  font-weight: bold;
}

.messaging .message-filed .msg img {
  max-width: 100%;
}

.messaging .message-filed .msg .emoji {
  margin-top: -3px;
}

.messaging .message-filed .msg .avatar {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  vertical-align: top;
}

.messaging .message-filed .msg .info {
  position: absolute;
  bottom: 0px;
  left: -43px;
  display: none;
  color: #383d48;
}

.messaging .message-filed .msg .info .username {
  display: none;
  margin-right: 100px;
}

.messaging .message-filed .msg .customer:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-position: -182px -72px;
  top: -3px;
  left: 26px;
  border-radius: 100%;
  border: 2px solid #f7f7f7;
}

.messaging .message-filed .msg .status {
  position: absolute;
  font-size: 10px;
  left: 84px;
  bottom: 10px;
  text-align: right;
  z-index: 2;
}

.messaging .message-filed .msg .status .new {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #3095d5;
}

.messaging .message-filed .msg .status .return {
  display: inline-block;
  width: 11px;
  height: 9px;
  background-position: -50px 0;
  opacity: 0.8;
}

.messaging .message-filed .msg .status .date {
  display: none;
}

.messaging .message-filed .msg .status .date em {
  position: absolute;
  bottom: 20px;
  left: 50%;
  border-radius: 3px;
  color: #fff;
  padding: 0 11px;
  white-space: nowrap;
  background-color: #2c3239;
  font-size: 11px;
  font-weight: bold;
  line-height: 31px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: none;
}

.messaging .message-filed .msg .status .date em:after {
  content: '';
  border: 4px solid transparent;
  border-top-color: #2c3239;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -4px;
}

.messaging .message-filed .msg .status .date:hover em {
  display: block;
}

.messaging .message-filed .msg .attached .status, .messaging .message-filed .msg.continue:hover .attached .status {
  left: 7px;
  bottom: 7px;
}

.messaging .message-filed .msg.store .avatar {
  border-radius: 3px;
}

.messaging .message-filed .msg.hasnext {
  margin-bottom: 3px;
}

.messaging .message-filed .msg.hasnext .message {
  display: inline-block;
}

.messaging .message-filed .msg.hasnext .message, .messaging .message-filed .msg.hasnext .attached, .messaging .message-filed .msg.hasnext .attached img, .messaging .message-filed .msg.hasnext .figure-item:nth-last-child(2) {
  border-bottom-right-radius: 8px;
}

.messaging .message-filed .msg.continue .message, .messaging .message-filed .msg.continue .attached, .messaging .message-filed .msg.continue .attached img, .messaging .message-filed .msg.continue .figure-item:first-of-type {
  border-top-right-radius: 8px;
}

.messaging .message-filed .msg.continue:hover .status {
  display: block;
}

.messaging .message-filed .msg.user {
  float: left;
  text-align: left;
}

.messaging .message-filed .msg.user .figure-item {
  color: #2E363E;
  background: #EDEFF0;
  border-radius: 8px 18px 18px 8px;
}

.messaging .message-filed .msg.user .figure-item:nth-last-child(2) {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.messaging .message-filed .msg.user .figure-item.none:nth-last-child(2) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 18px;
}

.messaging .message-filed .msg.user .figure-item figcaption .title {
  color: #2E363E;
}

.messaging .message-filed .msg.user .attached {
  background: #edeff0;
}

.messaging .message-filed .msg.user .attached .date {
  color: #bbbdc2;
}

.messaging .message-filed .msg.user .info {
  display: block;
}

.messaging .message-filed .msg.user .info .username {
  color: #517eb6;
}

.messaging .message-filed .msg.user .message {
  background: #edeff0;
  color: #383d48;
}

.messaging .message-filed .msg.user .message a {
  color: #2581E3;
}

.messaging .message-filed .msg.user .status .date, .messaging .message-filed .msg.user .attached .status .date {
  color: #bbbdc2;
}

.messaging .message-filed .msg.user.hasnext .info {
  display: none;
}

.messaging .message-filed .msg.user.hasnext .message, .messaging .message-filed .msg.user.hasnext .attached, .messaging .message-filed .msg.user.hasnext .attached img, .messaging .message-filed .msg.user.hasnext .figure-item:nth-last-child(2) {
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 8px;
}

.messaging .message-filed .msg.user.continue .message, .messaging .message-filed .msg.user.continue .attached, .messaging .message-filed .msg.user.continue .attached img, .messaging .message-filed .msg.user.continue .figure-item:first-of-type {
  border-top-right-radius: 18px;
  border-top-left-radius: 8px;
}

.messaging .message-filed .msg.file .message, .messaging .message-filed .msg.figure .message {
  margin-top: 2px;
  border-top-right-radius: 8px;
  display: inline-block;
  vertical-align: top;
}

.messaging .message-filed .msg.file.user .message, .messaging .message-filed .msg.figure.user .message {
  border-top-right-radius: 18px;
  border-top-left-radius: 8px;
}

.messaging .message-filed .msg.file.none .message, .messaging .message-filed .msg.figure.none .message {
  display: none;
}

.messaging .message-filed .figure-item.loading:before, .messaging .message-filed .attached.loading:before {
  content: '';
  display: block !important;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  bottom: auto;
  margin: 0;
  visibility: visible;
  opacity: 1;
  z-index: 0;
}

.messaging .message-filed .figure-item.loading a:before, .messaging .message-filed .attached.loading a:before {
  content: '';
  position: absolute;
  left: 22%;
  top: 50%;
  margin-top: -3px;
  border-radius: 3px;
  background: #fff;
  opacity: 0.3;
  height: 6px;
  z-index: 4;
  width: 56%;
}

.messaging .message-filed .figure-item.loading a:after, .messaging .message-filed .attached.loading a:after {
  content: '';
  position: absolute;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  left: 22%;
  top: 50%;
  margin-top: -3px;
  animation: loading_file 1s ease-out;
  -webkit-animation: loading_file 1s ease-out;
  -moz-animation: loading_file 1s ease-out;
  z-index: 5;
  width: 56%;
}

#popup_container.zoom_attached {
  display: table !important;
  background: rgba(48, 51, 57, 0.95);
}

#popup_container.zoom_attached .popup.zoom_attached {
  display: table-cell !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 0;
}

#container-wrapper, .fixed #container-wrapper {
  position: static;
}

#popup_container, #alertify {
  top: 0 !important;
}

@-webkit-keyframes loading_file {
  0% {
    width: 0;
  }
  100% {
    width: 56%;
  }
}

@keyframes loading_file {
  0% {
    width: 0;
  }
  100% {
    width: 56%;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .messaging .frm .attached-menu .loading .icon {
    background-image: url("../../images/retina/spinner.gif");
  }
  .messaging .btn-new:before, .messaging .to .selected .delete:before, .messaging .msg-list .status .return, .messaging .dropdown.user-type .show:before {
    background-image: url("../../images/retina/message.png");
  }
  .messaging .news-list.empty p:before {
    background-image: url("../../images/retina/shop_category.png");
  }
}

@media screen and (max-width: 1180px) {
  body .messaging.container {
    left: 0;
    width: calc(100% - 20px);
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) {
  body .messaging.container {
    width: auto;
    position: relative;
    padding: 54px 0 0;
    min-height: 0;
    margin: 0;
    top: 0 !important;
    height: auto !important;
  }
  .messaging {
    padding-bottom: 15px;
  }
  .messaging .wrapper-content {
    top: 0;
    position: relative;
    right: 0;
    height: auto;
    width: auto;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-bottom: 68px;
  }
  .messaging .wrapper-content:before {
    display: none;
  }
  .messaging #sidebar, .messaging #content, .messaging .msg-list, .messaging .message-filed {
    float: none;
    width: auto;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
  }
  .messaging #sidebar, .messaging #content {
    background: #FFF;
    overflow: hidden;
    border-radius: 0;
  }
  .messaging #sidebar {
    margin: 0 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
            box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
  }
  .messaging .message-filed {
    padding-bottom: 45px;
  }
  .messaging .message-filed .figure-item {
    width: 240px;
  }
  .messaging .msg-list {
    padding: 0;
  }
  .messaging .frm {
    position: fixed;
    padding-bottom: 70px;
  }
  .messaging.detail #sidebar, .messaging.newsletter h1, .messaging #content {
    display: none;
  }
  .messaging.detail #content {
    display: block;
  }
  .messaging#content {
    padding: 0;
  }
  .messaging#content .wrapper-content, .messaging#content .activity-menu {
    float: none;
    margin-top: 0;
    min-height: 0;
  }
  .messaging.merchant .wrapper-content {
    top: 0;
    right: 0;
    width: auto;
  }
  .messaging .news-list {
    position: static;
  }
  .messaging .news-list li a {
    padding-left: 60px;
  }
  .messaging .news-list li .current {
    background: none;
    color: #797d8a;
  }
  .messaging .news-list li .current .title {
    color: #383d48;
  }
  .messaging .news-list li img {
    display: block;
  }
}
/*# sourceMappingURL=messages.v2.css.map */