.after:after, .wrapper-content:after, #sidebar:after, #summary .refine_menu:after, .accept_contributor:after, .lists:after {
  content: '';
  clear: both;
  display: block;
}

#sidebar .send-msg:before, .popup.followers-lists .follow:before, .about .elsewhere li a:before, .interaction .btn-follow .follow:before, #sidebar .extra li:before, .title .ic-verified:before, #sidebar .sign .change:before, #coverImage .camera:before, #coverImage .menu-title:before, #coverImage .camera.btn-upload-cover:before {
  background: url("../../images/svg/ic_user.svg") no-repeat;
  background-size: 100px 100px;
}

.wrapper-content {
  position: relative;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper-content div.empty {
  clear: both;
  padding: 170px 0 0;
  text-align: center;
}

.wrapper-content div.empty h3 {
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 6px;
  color: #2E363E;
}

.wrapper-content div.empty p {
  font-size: 15px;
  line-height: 22px;
  color: #676e79;
  padding-bottom: 34px;
  font-weight: 500;
}

.wrapper-content div.empty .btns-blue-embo {
  line-height: 36px;
  border-radius: 18px;
  font-size: 14px;
}

.ui-sortable .figure-item figure > a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: no-repeat url("../../images/svg/ic_move.svg") 50% 50% rgba(0, 0, 0, 0.2);
  background-size: 28px 28px;
  width: 100%;
  height: 100%;
  cursor: move;
  opacity: 0;
}

.ui-sortable .figure-item:hover figure > a:after {
  opacity: 0.7;
}

.interaction .btn-follow {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 36px;
  overflow: hidden;
  margin-left: 10px;
}

.interaction .btn-follow a {
  display: block;
  line-height: 36px;
  padding: 0 15px;
  border: 0;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.interaction .btn-follow a small {
  font-size: 13px;
  color: #B3D3FD;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.interaction .btn-follow .unfollow {
  background: #ebeced;
  color: #4D545B;
}

.interaction .btn-follow .unfollow small {
  color: #5C677A;
}

.interaction .btn-follow .follow, .interaction .btn-follow .following {
  background: #1E7EFC;
  color: #fff;
}

.interaction .btn-follow .follow:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: -45px -20px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

.interaction .btn-follow.unfollow .following, .interaction .btn-follow.following .following, .interaction .btn-follow.follow .following {
  display: none;
}

.interaction .btn-follow.following .follow, .interaction .btn-follow.unfollow .follow {
  margin-top: -36px;
}

.interaction > .btns-gray-embo {
  border-radius: 6px;
  line-height: 34px;
  padding: 0 15px;
  font-size: 14px;
  margin-left: 10px;
  font-weight: bold;
}

.interaction > .btns-gray-embo.active-selling {
  border-color: #373d48;
  background: #373d48;
  color: #ffffff;
}

.title .ic-verified, #sidebar .sign .change {
  position: relative;
}

.title .ic-verified em, #sidebar .sign .change em {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  font-size: 13px;
  color: #000;
  padding: 0 13px;
  line-height: 36px;
  border-radius: 5px;
  background: #fff;
  white-space: nowrap;
  opacity: 1;
  width: auto;
  margin: 0 0 10px;
  text-indent: 0;
  height: auto;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
}

.title .ic-verified em:after, #sidebar .sign .change em:after {
  content: '';
  position: absolute;
  border: 4px solid transparent;
  border-top-color: #fff;
  left: 50%;
  margin-left: -4px;
  top: 100%;
}

.title .ic-verified:hover em, #sidebar .sign .change:hover em {
  visibility: visible;
  opacity: 1;
}

#content {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

#content.profile {
  padding: 20px;
  background: #ebeced;
}

#content.profile .wrapper-content {
  max-width: 1160px;
  margin: 0 auto;
}

#sidebar .sign {
  position: relative;
  margin-bottom: 18px;
}

#sidebar .sign .change {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: all ease-in-out 0.18s;
  -webkit-transition: all ease-in-out 0.18s;
  -moz-transition: all ease-in-out 0.18s;
  -o-transition: all ease-in-out 0.18s;
  z-index: 1;
  border: 0;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  top: 50%;
  right: 50%;
  margin: -27px -27px 0 0;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  padding: 0;
  text-align: center;
  line-height: 54px;
}

#sidebar .sign .change:before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -40px -65px;
  vertical-align: middle;
  margin: -3px 0 0;
}

#sidebar .sign img {
  width: 100%;
  border-radius: 5px;
  display: block;
  background: no-repeat 50% 50% #fff;
  background-size: contain;
}

#sidebar .sign .blank {
  background-color: #3d4a5d;
}

#sidebar.fixed {
  position: fixed;
  top: 120px;
}

#sidebar.fixed.fixedBottom {
  top: auto;
  bottom: 0;
}

#sidebar.fixed.stop {
  position: absolute;
  top: auto !important;
  bottom: 0;
  left: 0 !important;
}

#sidebar .title h1 {
  position: relative;
  display: inline-block;
  word-break: break-word;
  font-size: 22px;
}

#sidebar .title small {
  font-size: 15px;
  font-weight: 500;
  display: block;
  color: #7D828D;
  line-height: 22px;
  padding-top: 5px;
}

#sidebar .title .ic-verified {
  display: inline-block;
  margin: -3px 0 0 0;
  vertical-align: middle;
}

#sidebar .title .ic-verified:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-position: -20px -20px;
}

#sidebar .extra, #sidebar .followers {
  padding-top: 14px;
}

#sidebar .extra li, #sidebar .followers li {
  font-size: 14px;
  line-height: 20px;
  padding: 1px 0;
  color: #2E363E;
  font-weight: 500;
}

#sidebar .extra a, #sidebar .followers a {
  display: block;
  color: #2E363E;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar .extra li {
  position: relative;
  padding-left: 22px;
}

#sidebar .extra li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
}

#sidebar .extra .location:before {
  height: 18px;
  margin-top: -9px;
  background-position: -80px 0;
}

#sidebar .extra .website:before {
  height: 14px;
  margin-top: -7px;
  background-position: 0 -20px;
}

#sidebar .extra .opened {
  margin-top: 17px;
}

#sidebar .extra .opened:before {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background-position: -60px -20px;
  left: -1px;
}

#sidebar .send-msg {
  display: block;
  color: #2E363E;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
  line-height: 39px;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

#sidebar .send-msg:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 15px;
  margin: -3px 6px 0 0;
  background-position: 0 -84px;
}

#sidebar .report {
  color: #8a8f9c;
  font-size: 12px;
  display: block;
  margin-top: 18px;
  font-weight: 500;
}

#sidebar .tagline {
  font-size: 14px;
  line-height: 22px;
  padding-top: 15px;
  font-weight: 500;
  word-break: break-word;
  position: relative;
  overflow: hidden;
  max-height: 88px;
  color: #2E363E;
}

#sidebar .tagline * {
  display: inline;
  float: none !important;
  font-weight: 500;
  color: #2E363E;
}

#sidebar .tagline img {
  display: none !important;
}

#sidebar .tagline a.more {
  color: #2E363E;
}

#sidebar .tagline a.more b {
  display: inline-block;
  text-decoration: underline;
  font-weight: 600;
}

#sidebar .tagline a.more:before {
  content: '...';
  margin-right: 4px;
  letter-spacing: -0.8px;
}

#sidebar .tagline.more {
  max-height: none;
}

#summary {
  position: relative;
  background: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
  margin-bottom: 20px;
  z-index: 1;
}

#summary .interaction {
  float: right;
  padding: 12px 12px 12px 0;
}

#summary .refine_menu {
  float: left;
  width: 325px;
}

#summary .refine_menu dl {
  height: auto;
  margin: 0;
  padding: 0;
  width: calc(100% - 135px);
}

#summary .refine_menu .filter dd {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  visibility: visible;
  opacity: 1;
}

#summary .refine_menu .filter .keyword label, #summary .refine_menu .filter dt {
  display: none;
}

#summary .refine_menu .filter .keyword {
  padding: 0;
}

#summary .refine_menu .filter .keyword:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  opacity: 0.7;
  background: url("../../images/svg/icon-header-b.svg") no-repeat 0 -20px;
}

#summary .refine_menu .filter .keyword input {
  padding-left: 32px;
}

#summary .refine_menu .sort {
  margin-left: 10px;
  width: 125px;
}

#summary .refine_menu .sort.show dt a, #summary .refine_menu .sort dt a {
  background: #EBECED;
  line-height: 36px;
}

#summary .refine_menu .sort dd {
  margin: 0;
  left: 0;
  width: 100%;
}

#summary .refine_menu .filter .keyword input, #summary .refine_menu dt a {
  font-size: 14px;
  font-weight: 600;
}

#summary .menu {
  float: left;
  font-size: 0;
  letter-spacing: 0;
  white-space: nowrap;
  padding: 0 10px;
  overflow: auto;
}

#summary .menu li {
  display: inline-block;
  vertical-align: top;
}

#summary .menu a {
  display: block;
  padding: 0 13px;
  color: #4D545B;
  font-size: 16px;
  line-height: 60px;
  font-weight: bold;
}

#summary .menu a small {
  font-size: 13px;
  font-weight: 500;
  opacity: 0.5;
}

#summary .menu .current {
  -webkit-box-shadow: inset 0 -3px 0 #1F7FFC;
          box-shadow: inset 0 -3px 0 #1F7FFC;
  color: #1F7FFC;
}

#summary .reposition {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 15px 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 0 0 5px 5px;
  display: none;
}

#summary .reposition .guide {
  float: left;
  line-height: 36px;
}

#summary .reposition .btns {
  float: right;
}

#summary .reposition .btns a {
  line-height: 34px;
  border-radius: 18px;
  font-size: 14px;
  padding: 0 15px;
}

#summary .menu-container.opened .menu-title:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#summary .menu-container.opened .menu-content {
  opacity: 1;
  visibility: visible;
}

#summary .menu-content {
  position: absolute;
  top: 43px;
  right: -5px;
  padding: 7px 0;
  background: #fff;
  text-align: left;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 168px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;
  -moz-transition: opacity ease-in-out 0.3s;
  -o-transition: opacity ease-in-out 0.3s;
  visibility: hidden;
}

#summary .menu-content a {
  display: block;
  border-radius: 0;
  white-space: nowrap;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  font-size: 13px;
  line-height: 17px;
  padding: 6px 13px;
  color: #383d48;
  font-weight: 600;
  background: #fff;
  text-align: left;
}

#summary .menu-content a:hover {
  background: #f0f0f2;
}

#summary .reposition, #summary .organize-list, #summary div.reposition {
  display: none;
}

#coverImage {
  position: relative;
  height: 300px;
}

#coverImage .camera, #coverImage .menu-container, #coverImage .camera.btn-upload-cover {
  visibility: hidden;
  position: absolute;
  top: 14px;
  right: 16px;
  opacity: 0;
  transition: all ease-in-out 0.18s;
  -webkit-transition: all ease-in-out 0.18s;
  -moz-transition: all ease-in-out 0.18s;
  -o-transition: all ease-in-out 0.18s;
  z-index: 1;
}

#coverImage .camera, #coverImage .menu-title, #coverImage .camera.btn-upload-cover {
  border: 0;
  padding: 0 16px;
  line-height: 37px;
  display: block;
  border-radius: 19px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

#coverImage .camera:before, #coverImage .menu-title:before, #coverImage .camera.btn-upload-cover:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 14px;
  background-position: -20px -65px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

#coverImage img {
  display: block;
  height: 300px;
  width: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#coverImage .image {
  margin: 0;
  position: relative;
  background-color: #3d4a5d;
  height: 300px;
}

#coverImage .menu-container .menu-title:hover {
  opacity: 1;
}

#coverImage .video_player .timestamp .progress i.loading {
  display: block;
  padding: 0;
  border: 0;
  height: 100%;
}

#coverImage .add {
  height: 300px;
  background: #3d4a5d;
}

#coverImage .add.loading {
  height: 300px;
  text-align: center;
}

#coverImage .add.loading span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 125px auto 0;
  direction: ltr;
  text-indent: -1000em;
}

#coverImage .add, #coverImage .loading, #coverImage .loading, #coverImage .image img {
  display: none;
}

#coverImage.blue .image {
  background: #3d4a5d;
}

#coverImage.silver .image {
  background: #a3a7af;
}

#coverImage.green .image {
  background: #92b3bd;
}

#coverImage.purple .image {
  background: #929fbd;
}

#coverImage.image {
  overflow: hidden;
}

#coverImage.image .image {
  background: none;
  height: 300px;
  overflow: hidden;
  min-height: 300px;
}

#coverImage.image .image img {
  background: no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 300px;
}

#coverImage.add {
  overflow: hidden;
  position: relative;
  background: #FFF;
  border-radius: 3px 3px 0 0;
}

#coverImage.loading .loading, #coverImage.image .image img {
  display: block;
}

#coverImage.video {
  max-height: 300px;
}

.owner #coverImage .image {
  min-height: 300px;
}

.owner #sidebar .sign .change, .owner #coverImage .camera, .owner #coverImage .menu-container, .owner #coverImage .camera.btn-upload-cover {
  visibility: visible;
  display: block !important;
}

.owner #sidebar .sign:hover .change, .owner #coverImage:hover .camera, .owner #coverImage .menu-container.opened, .owner #coverImage:hover .menu-container, .owner #coverImage:hover .camera.btn-upload-cover {
  opacity: 1;
}

.yet_product {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: rgba(103, 110, 121, 0.7);
  padding: 170px 0;
}

.yet_product b {
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 6px;
  color: #2E363E;
}

.yet_product p {
  font-size: 15px;
  line-height: 22px;
  color: #676e79;
  padding-bottom: 34px;
  font-weight: 500;
}

.yet_product .btns-blue-embo {
  line-height: 36px;
  border-radius: 18px;
  font-size: 14px;
}

.empty-result {
  font-size: 15px;
  line-height: 22px;
  color: #676e79;
  padding: 170px 0 34px;
  font-weight: 500;
  text-align: center;
}

#popup_container.followers-lists .popup.followers-lists {
  display: block;
}

#popup_container .popup.followers-lists {
  width: 450px;
}

#popup_container .popup.biography-pop {
  width: 600px;
}

.popup.biography-pop .biography {
  padding: 20px;
  font-size: 15px;
  line-height: 22px;
  max-height: 508px;
  overflow: auto;
  font-weight: 500;
}

.popup.biography-pop .biography p:last-child {
  padding-bottom: 0;
}

.popup.followers-lists .btn-area {
  text-align: right;
  padding: 15px;
  border-top: 1px solid #e7e8ea;
}

.popup.followers-lists ul {
  overflow: auto;
  padding: 0 16px;
  height: 424px;
}

.popup.followers-lists li {
  position: relative;
  padding: 11px 0;
  color: #393d4d;
  font-weight: bold;
  line-height: 30px;
  font-size: 12px;
}

.popup.followers-lists li:first-child {
  border-top: 0;
}

.popup.followers-lists li img {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 0;
  border-radius: 100%;
  top: 50%;
  margin-top: -17px;
  background-size: cover;
}

.popup.followers-lists .loading {
  min-height: 34px;
}

.popup.followers-lists .loading:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.popup.followers-lists .loading:after {
  content: '';
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid #949597;
  border-radius: 100% !important;
  height: 16px;
  opacity: 1;
  width: 16px;
  margin-top: -9px;
  margin-left: -9px;
  line-height: 16px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.popup.followers-lists .more {
  text-align: center;
}

.popup.followers-lists .username {
  line-height: 18px;
  padding-left: 45px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  color: #8a8f9c;
  font-size: 13px;
}

.popup.followers-lists .username b {
  display: block;
  color: #393d4d;
  font-size: 14px;
}

.popup.followers-lists .follow, .popup.followers-lists .following, .popup.followers-lists .private {
  position: absolute;
  margin-top: -17px;
  right: 0;
  top: 50%;
  display: block;
  line-height: 34px;
  padding: 0 13px;
  border: 0;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  background: #ebeced;
  color: #4D545B;
}

.popup.followers-lists .follow:before, .popup.followers-lists .following:before, .popup.followers-lists .private:before {
  display: none;
}

.popup.followers-lists .follow {
  background: #1E7EFC;
  color: #fff;
}

.popup.followers-lists .follow:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: -45px -20px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

.popup.followers-lists .remove {
  position: absolute;
  right: 100px;
  line-height: 20px;
  top: 50%;
  margin-top: -10px;
  color: #c54747;
}

.popup.followers-lists.loading {
  height: 468px;
}

.popup.followers-lists.loading:before {
  content: '';
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 424px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 3;
}

.popup.followers-lists.loading:after {
  content: '';
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #949597;
  border-radius: 100% !important;
  height: 40px;
  opacity: 1;
  width: 40px;
  margin-top: -22px;
  margin-left: -22px;
  line-height: 40px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
  z-index: 4;
}

.accept_contributor {
  position: relative;
  margin-bottom: 18px;
  padding: 15px;
  text-align: right;
  z-index: 1;
  -webkit-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
          box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
  background: #fff;
  border-radius: 3px;
}

.accept_contributor p {
  padding-bottom: 0;
  float: left;
  text-align: left;
  line-height: 20px;
}

.accept_contributor a, .accept_contributor button {
  font-size: 12px;
  line-height: 29px;
  margin: 4px 0 4px 4px;
}

.profile #sidebar {
  float: left;
  width: 214px;
  padding-bottom: 20px;
}

.profile #summary, .profile #content {
  float: right;
  clear: right;
  width: calc(100% - 233px);
}

.profile .stream li, .profile .stream li:nth-child(4n+1) {
  position: relative;
  float: left;
  width: calc((100% - 36px)/3);
  margin: 0 0 18px 18px;
  clear: none;
}

.profile .stream li:nth-child(3n+1) {
  clear: both;
  margin-left: 0;
}

.lists .listsection {
  position: relative;
  float: left;
  width: calc((100% - 36px)/3);
  margin: 0 0 18px 18px;
}

.lists .listsection .title {
  position: relative;
  padding: 12px 13px;
}

.lists .listsection .figure-list {
  padding: 0;
}

.lists .listsection .go {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.lists .listsection:nth-child(3n+1) {
  clear: both;
  margin-left: 0;
}

@media screen and (max-width: 800px) {
  .interaction .edit-profile {
    position: absolute;
    right: 20px;
    top: 173px;
    padding: 0;
    width: 75px;
  }
  .interaction .active-selling {
    position: absolute;
    right: 103px;
    top: 173px;
    padding: 0;
    width: 110px;
  }
  .profile {
    padding: 110px 0 0;
  }
  .profile .stream {
    padding: 0 15px 0 0;
  }
  .profile .stream > li {
    position: relative;
    float: left;
    width: calc(50% - 15px);
    margin: 0 0 15px 15px;
    z-index: 0;
  }
  .profile .stream > li:nth-child(4n+1), .profile .stream > li:nth-child(3n+1) {
    clear: none;
    margin-left: 15px;
    width: calc(50% - 15px);
  }
  .profile .stream > li:nth-child(2n+1) {
    clear: both;
  }
  .profile .stream > .active {
    z-index: 1;
  }
  .profile.ui-sortable {
    width: auto;
    margin: 0;
    padding: 0 15px 0 0;
  }
  .profile.ui-sortable > li, .profile.ui-sortable > li:nth-child(3n+1) {
    clear: none;
    width: calc(50% - 15px);
    margin: 0 0 15px 15px;
  }
  .profile.ui-sortable > .ui-sortable-placeholder {
    max-height: 369.98px;
  }
  .profile .figure-item .buttons {
    display: none;
  }
  .profile .figure-item .show_cart {
    margin-top: 5px;
  }
  .profile .loading #infscr-loading .loading {
    margin-left: 100px;
  }
  .profile #sidebar, .profile #summary, .profile #content, .profile .wrapper.private {
    float: none;
    width: auto;
  }
  .profile #sidebar {
    padding-bottom: 0;
  }
  .profile#content {
    padding: 0;
  }
  #sidebar {
    padding: 224px 20px 20px;
    background: #fff;
  }
  #sidebar.fixed, #sidebar.fixed.stop {
    position: static;
  }
  #sidebar .sign {
    position: absolute;
    top: 90px;
    left: 20px;
    width: 120px;
    z-index: 1;
  }
  #sidebar .report {
    display: none;
  }
  #sidebar .send-msg {
    position: absolute;
    top: 153px;
    right: 20px;
    width: 36px;
    height: 36px;
    text-indent: -1000em;
    background: #ebeced;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #sidebar .send-msg:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -7px;
  }
  #sidebar .tagline {
    padding-top: 10px;
  }
  #summary {
    position: static;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 15px;
  }
  #summary .btn-follow {
    position: absolute;
    top: 173px;
    right: 20px;
    width: calc(100% - 175px);
  }
  #summary .menu {
    padding: 0 20px;
    background: #fff;
    text-align: center;
  }
  #summary .menu a {
    line-height: 63px;
  }
  #summary .menu li {
    width: 50%;
  }
  #summary .menu li:first-child:last-child {
    width: 100%;
  }
  #summary .menu-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  #summary .menu, #summary .interaction {
    float: none;
    width: auto;
  }
  #summary .interaction {
    padding: 0;
  }
  #summary .refine_menu {
    float: none;
    width: auto;
    padding: 15px 15px 0;
  }
  #summary .refine_menu dl {
    float: left;
  }
  #summary .refine_menu dl.show dd {
    position: fixed;
    bottom: 0;
    border: 0;
    border-radius: 5px 5px 0 0;
    top: auto;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  }
  #summary .refine_menu .sort.show dt a, #summary .refine_menu .sort dt a, #summary .refine_menu .filter .keyword input {
    background-color: #fff;
    border-radius: 5px;
  }
  #summary .refine_menu .keyword a.remove {
    bottom: 10px;
    right: 10px;
  }
  #popup_container .popup.followers-lists, #popup_container .popup.biography-pop {
    width: 300px;
  }
  #coverImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 158px;
  }
  #coverImage .image img {
    border-radius: 0;
  }
  #coverImage.image .image, #coverImage.image .image img, #coverImage .image, #coverImage .image img {
    height: 158px;
  }
  .owner #coverImage .image {
    min-height: 158px;
  }
  .owner #sidebar .sign .change, .owner #coverImage .camera, .owner #coverImage .menu-container, .owner #coverImage .camera.btn-upload-cover {
    opacity: 1;
  }
}
/*# sourceMappingURL=profile.v3.new.css.map */