.after:after, .wrapper-content:after, #sidebar:after, .about dl:after, .accept_contributor:after, .lists:after {
  content: '';
  clear: both;
  display: block;
}

.interaction .add-list:before, .interaction .edit-list:before, .popup.followers-lists .follow:before, .about .elsewhere li a:before, .interaction .btn-follow .follow:before, .interaction .send-msg:before, #sidebar .followers li:before, .title .ic-verified:before, .interaction .menu-title:before, .interaction .btn-share-popover:before, #sidebar .sign .change:before, .interaction .refine:before, .interaction .btn-share:before, .interaction .btn-user-share:before, #coverImage .camera:before, #coverImage .menu-title:before, #coverImage .camera.btn-upload-cover:before {
  background: url("../../images/svg/ic_user.svg") no-repeat;
  background-size: 100px 100px;
}

.wrapper-content {
  position: relative;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper-content div.empty {
  clear: both;
  padding: 170px 0;
  text-align: center;
}

.wrapper-content div.empty h3 {
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 6px;
  color: #373d48;
}

.wrapper-content div.empty p {
  font-size: 15px;
  line-height: 22px;
  color: #676e79;
  padding-bottom: 34px;
  font-weight: 500;
}

.wrapper-content div.empty .btns-blue-embo {
  line-height: 36px;
  border-radius: 18px;
  font-size: 14px;
}

.ui-sortable .figure-item figure > a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: no-repeat url("../../images/svg/ic_move.svg") 50% 50% rgba(0, 0, 0, 0.2);
  background-size: 28px 28px;
  width: 100%;
  height: 100%;
  cursor: move;
  opacity: 0;
}

.ui-sortable .figure-item:hover figure > a:after {
  opacity: 0.7;
}

.interaction .add-item, .interaction .add-list, .interaction .edit-list, .interaction .send-msg, .interaction .refine, .interaction .btn-share, .interaction .btn-user-share, .interaction .btn-share-popover, .interaction .menu-title {
  line-height: 36px;
  width: 36px;
  background: #ebeced;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  direction: ltr;
  text-indent: -1000em;
  margin: 10px 0 0 6px;
  padding: 0;
  border: 0;
  text-align: left;
  cursor: pointer;
}

.interaction .add-item:before, .interaction .add-list:before, .interaction .edit-list:before, .interaction .send-msg:before, .interaction .refine:before, .interaction .btn-share:before, .interaction .btn-user-share:before, .interaction .btn-share-popover:before, .interaction .menu-title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.85;
}

.interaction .add-item:hover, .interaction .add-list:hover, .interaction .edit-list:hover, .interaction .send-msg:hover, .interaction .refine:hover, .interaction .btn-share:hover, .interaction .btn-user-share:hover, .interaction .btn-share-popover:hover, .interaction .menu-title:hover {
  background: #e5e6e6;
}

.interaction .btn-shop {
  line-height: 36px;
  margin: 10px 0 0 6px;
}

.interaction :not(.add-list).add-item {
  width: auto;
  border-radius: 18px;
  text-indent: 0;
  padding: 0 15px;
  color: #404757;
  font-weight: bold;
}

.interaction .refine:before {
  width: 17px;
  height: 14px;
  margin: -9px 0 0 -9px;
  opacity: 0.8;
}

.interaction .edit-list:before {
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  opacity: 0.8;
  background-position: -80px -20px;
}

.interaction .add-list:before {
  width: 14px;
  height: 14px;
  margin: -7px 0 0 -7px;
  opacity: 0.8;
  background-position: -70px -70px;
}

.interaction .menu-title:before {
  width: 18px;
  height: 4px;
  background-position: -40px -7px;
  margin: -2px 0 0 -9px;
  opacity: 0.7;
}

.interaction .btn-share:before, .interaction .btn-share-popover:before, .interaction .btn-user-share:before {
  width: 16px;
  height: 16px;
  margin: -9px 0 0 -10px;
  background-position: -60px 0;
}

.interaction .send-msg:before {
  width: 18px;
  height: 16px;
  background-position: -20px 0;
  margin: -9px 0 0 -9px;
}

.interaction .share-container, .interaction .menu-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.interaction .share-container.opened, .interaction .menu-container.opened {
  z-index: 3;
}

.interaction .share-container .btn-share, .interaction .share-container .btn-share-popover, .interaction .menu-container .menu-title {
  display: block;
}

.interaction .edit-profile {
  border-color: #ebeced;
  background: #ebeced;
  border-radius: 18px;
  line-height: 34px;
  padding: 0 15px;
  font-size: 14px;
  color: #404757;
  margin: 10px 0 0 16px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.interaction .view-store, .interaction .active-selling {
  border-color: #373d48;
  background: #373d48;
  border-radius: 18px;
  line-height: 34px;
  padding: 0 15px;
  font-size: 14px;
  color: #ffffff;
  margin: 10px 0 0 16px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.interaction .active-selling + .edit-profile {
  margin-left: 6px;
}

.interaction .more-share-popup {
  bottom: 50px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.interaction .more-share-popup:after, .interaction .more-share-popup:before {
  display: none;
}

.interaction .more-share-popup.bot {
  bottom: auto;
  top: 50px;
  text-align: left;
}

.interaction .btn-follow {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 36px;
  overflow: hidden;
  margin: 10px 0 0 6px;
}

.interaction .btn-follow a {
  display: block;
  line-height: 36px;
  padding: 0 15px;
  border: 0;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.interaction .btn-follow a small {
  font-size: 13px;
  color: #B3D3FD;
  font-weight: 400;
}

.interaction .btn-follow .unfollow {
  background: #ebeced;
  color: #4D545B;
}

.interaction .btn-follow .unfollow small {
  color: #5C677A;
}

.interaction .btn-follow .follow, .interaction .btn-follow .following {
  background: #1E7EFC;
  color: #fff;
}

.interaction .btn-follow .follow:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: -45px -20px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

.interaction .btn-follow.unfollow .following, .interaction .btn-follow.following .following, .interaction .btn-follow.follow .following {
  display: none;
}

.interaction .btn-follow.following .follow, .interaction .btn-follow.unfollow .follow {
  margin-top: -36px;
}

.title .ic-verified, #sidebar .sign .change {
  position: relative;
}

.title .ic-verified em, #sidebar .sign .change em {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  font-size: 13px;
  color: #000;
  padding: 0 13px;
  line-height: 36px;
  border-radius: 5px;
  background: #fff;
  white-space: nowrap;
  opacity: 1;
  width: auto;
  margin: 0 0 10px;
  text-indent: 0;
  height: auto;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
}

.title .ic-verified em:after, #sidebar .sign .change em:after {
  content: '';
  position: absolute;
  border: 4px solid transparent;
  border-top-color: #fff;
  left: 50%;
  margin-left: -4px;
  top: 100%;
}

.title .ic-verified:hover em, #sidebar .sign .change:hover em {
  visibility: visible;
  opacity: 1;
}

#content {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

#sidebar .sign {
  position: relative;
  margin-bottom: 18px;
}

#sidebar .sign .change {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: all ease-in-out 0.18s;
  -webkit-transition: all ease-in-out 0.18s;
  -moz-transition: all ease-in-out 0.18s;
  -o-transition: all ease-in-out 0.18s;
  z-index: 1;
  border: 0;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  top: 50%;
  right: 50%;
  margin: -27px -27px 0 0;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  padding: 0;
  text-align: center;
  line-height: 54px;
}

#sidebar .sign .change:before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -40px -65px;
  vertical-align: middle;
  margin: -3px 0 0;
}

#sidebar .sign img {
  width: 100%;
  border-radius: 100%;
  display: block;
  background: no-repeat 50% 50%;
  background-size: cover;
}

#sidebar.fixed {
  position: fixed;
  top: 120px;
}

#sidebar.fixed.fixedBottom {
  top: auto;
  bottom: 0;
}

#sidebar.fixed.stop {
  position: absolute;
  top: auto !important;
  bottom: 0;
  left: 0 !important;
}

#sidebar .title {
  font-size: 22px;
}

#sidebar .title h1 {
  position: relative;
  display: inline-block;
  word-break: break-word;
  font-size: 1em;
}

#sidebar .title small {
  font-size: 15px;
  font-weight: 600;
  display: block;
  color: #7D828D;
}

#sidebar .title .ic-verified {
  display: inline-block;
  margin: -3px 0 0 0;
  vertical-align: middle;
}

#sidebar .title .ic-verified:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-position: -20px -20px;
}

#sidebar .credit {
  padding-top: 20px;
}

#sidebar .credit li {
  font-size: 14px;
  padding: 6px 0;
  line-height: 20px;
  color: #2E363E;
  font-weight: 500;
}

#sidebar .credit li a {
  color: #2E363E;
}

#sidebar .credit li:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 19px;
  vertical-align: middle;
  margin: -4px 3px 0 0;
  background: url("../../images/normal/setting_icon.png") no-repeat;
  background-size: 70px 380px;
}

#sidebar .credit li.purchases:before {
  background-position: -25px -151px;
}

#sidebar .credit li.earned:before {
  background-position: -25px -209px;
}

#sidebar .credit li.balance:before {
  background-position: -24px -305px;
}

#sidebar .followers {
  padding-top: 20px;
}

#sidebar .followers li {
  font-size: 13px;
  line-height: 20px;
  padding: 1px 0;
  color: #2E363E;
  font-weight: 500;
}

#sidebar .followers li.location {
  position: relative;
  padding-left: 22px;
  margin-top: 20px;
}

#sidebar .followers li.location:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 18px;
  margin-top: -9px;
  background-position: -80px 0;
}

#sidebar .followers a {
  display: block;
  color: #2E363E;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar .tagline {
  font-size: 15px;
  line-height: 22px;
  padding-top: 17px;
  font-weight: 500;
  word-break: break-word;
}

#sidebar .tagline[onclick] {
  cursor: pointer;
}

#summary {
  position: relative;
  background: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
  margin-bottom: 20px;
  z-index: 1;
}

#summary .interaction {
  float: right;
  padding: 5px 15px 15px 0;
}

#summary .menu {
  float: left;
  font-size: 0;
  letter-spacing: 0;
  white-space: nowrap;
  padding: 15px;
  overflow: auto;
}

#summary .menu li {
  display: inline-block;
  vertical-align: top;
}

#summary .menu a {
  display: block;
  padding: 0 15px;
  color: #5d6771;
  font-size: 15px;
  line-height: 36px;
  border-radius: 18px;
  font-weight: bold;
}

#summary .menu small {
  display: none;
}

#summary .menu .current {
  background: #ebeced;
  color: #2E363E;
}

#summary .reposition {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 15px 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 0 0 5px 5px;
  display: none;
}

#summary .reposition .guide {
  float: left;
  line-height: 36px;
}

#summary .reposition .btns {
  float: right;
}

#summary .reposition .btns a {
  line-height: 34px;
  border-radius: 18px;
  font-size: 14px;
  padding: 0 15px;
}

#summary .menu-container.opened .menu-content {
  opacity: 1;
  visibility: visible;
}

#summary .menu-content {
  position: absolute;
  top: 43px;
  right: -5px;
  padding: 7px 0;
  background: #fff;
  text-align: left;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 168px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;
  -moz-transition: opacity ease-in-out 0.3s;
  -o-transition: opacity ease-in-out 0.3s;
  visibility: hidden;
}

#summary .menu-content a {
  display: block;
  border-radius: 0;
  white-space: nowrap;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  font-size: 13px;
  line-height: 17px;
  padding: 6px 13px;
  color: #383d48;
  font-weight: 600;
  background: #fff;
  text-align: left;
}

#summary .menu-content a:hover {
  background: #f0f0f2;
}

#summary .reposition, #summary .organize-list, #summary div.reposition {
  display: none;
}

#coverImage {
  position: relative;
  height: 300px;
}

#coverImage .camera, #coverImage .menu-container, #coverImage .camera.btn-upload-cover {
  visibility: hidden;
  position: absolute;
  top: 14px;
  right: 16px;
  opacity: 0;
  transition: all ease-in-out 0.18s;
  -webkit-transition: all ease-in-out 0.18s;
  -moz-transition: all ease-in-out 0.18s;
  -o-transition: all ease-in-out 0.18s;
  z-index: 1;
}

#coverImage .camera, #coverImage .menu-title, #coverImage .camera.btn-upload-cover {
  border: 0;
  padding: 0 16px;
  line-height: 37px;
  display: block;
  border-radius: 19px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

#coverImage .camera:before, #coverImage .menu-title:before, #coverImage .camera.btn-upload-cover:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 14px;
  background-position: -20px -65px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

#coverImage img {
  display: block;
  height: 300px;
  width: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

#coverImage .image {
  margin: 0;
  position: relative;
  background-color: #3d4a5d;
  height: 300px;
}

#coverImage .menu-container .menu-title:hover {
  opacity: 1;
}

#coverImage .video_player .timestamp .progress i.loading {
  display: block;
  padding: 0;
  border: 0;
  height: 100%;
}

#coverImage .add {
  height: 300px;
  background: #3d4a5d;
}

#coverImage .add.loading {
  height: 300px;
  text-align: center;
}

#coverImage .add.loading span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 125px auto 0;
  direction: ltr;
  text-indent: -1000em;
}

#coverImage .add, #coverImage .loading, #coverImage .loading, #coverImage .image img {
  display: none;
}

#coverImage.blue .image {
  background: #3d4a5d;
}

#coverImage.silver .image {
  background: #a3a7af;
}

#coverImage.green .image {
  background: #92b3bd;
}

#coverImage.purple .image {
  background: #929fbd;
}

#coverImage.image {
  overflow: hidden;
  position: relative;
}

#coverImage.image .image {
  background: none;
  height: 300px;
  overflow: hidden;
  min-height: 300px;
}

#coverImage.image .image img {
  background: no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 300px;
}

#coverImage.add {
  overflow: hidden;
  position: relative;
  background: #FFF;
  border-radius: 3px 3px 0 0;
}

#coverImage.loading .loading, #coverImage.image .image img {
  display: block;
}

#coverImage.video {
  max-height: 300px;
}

.owner #coverImage .image {
  min-height: 300px;
}

.owner #sidebar .sign .change, .owner #coverImage .camera, .owner #coverImage .menu-container, .owner #coverImage .camera.btn-upload-cover {
  visibility: visible;
  display: block !important;
}

.owner #sidebar .sign:hover .change, .owner #coverImage:hover .camera, .owner #coverImage .menu-container.opened, .owner #coverImage:hover .menu-container, .owner #coverImage:hover .camera.btn-upload-cover {
  opacity: 1;
}

.about #content {
  background: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
  margin-bottom: 20px;
}

.about dl {
  padding: 28px 20px 0;
  color: #2E363E;
}

.about dl:last-child dd {
  border-bottom: 0;
}

.about dt {
  float: left;
  font-size: 16px;
  padding-bottom: 15px;
  font-weight: bold;
  line-height: 24px;
}

.about dd {
  float: right;
  max-width: 100%;
  width: 700px;
  border-bottom: 1px solid #ebeced;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 28px;
}

.about p {
  padding: 0;
}

.about p + p {
  margin-top: 24px;
}

.about .elsewhere li {
  padding: 5px 0;
}

.about .elsewhere li a {
  display: block;
  padding-left: 32px;
  position: relative;
  color: #2E363E;
  font-weight: 600;
}

.about .elsewhere li a:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 19px;
  height: 19px;
  background-position: 0 -65px;
}

.about .elsewhere .Twitter a:before {
  background-position: -40px -45px;
  width: 21px;
}

.about .elsewhere .Facebook a:before {
  background-position: 0 -45px;
}

.about .elsewhere .Instagram a:before {
  background-position: -20px -45px;
}

.about .elsewhere .Pinterest a:before {
  background-position: -65px -45px;
}

.about .payment label {
  font-size: 14px;
  padding-bottom: 10px;
  display: block;
}

.about .payment img + img {
  margin-left: 1px;
}

.profile #contain {
  padding: 20px;
  background: #ebeced;
  width: auto;
}

.yet_product {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: rgba(103, 110, 121, 0.7);
  padding: 170px 0 0;
}

.yet_product b {
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 6px;
  color: #373d48;
}

.yet_product p {
  font-size: 15px;
  line-height: 22px;
  color: #676e79;
  padding-bottom: 34px;
  font-weight: 500;
}

.yet_product .btns-blue-embo {
  line-height: 36px;
  border-radius: 18px;
  font-size: 14px;
}

.empty-result {
  font-size: 15px;
  line-height: 22px;
  color: #676e79;
  padding: 170px 0 34px;
  font-weight: 500;
  text-align: center;
}

.shop #sidebar .sign img {
  border-radius: 5px;
  background-size: contain;
  background-color: #fff;
}

.shop #sidebar .sign .blank {
  background-color: #3d4a5d;
}

.wrapper.private {
  float: right;
  clear: right;
  width: calc(100% - 200px);
  padding: 170px 0;
  font-size: 16px;
  line-height: 28px;
  color: #686e78;
  text-align: center;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper.private b {
  font-size: 20px;
  line-height: 22px;
  color: #373d48;
}

#popup_container.followers-lists .popup.followers-lists, #popup_container.seller_tagline .popup.seller_tagline, #popup_container.biography-pop .popup.biography-pop {
  display: block;
}

#popup_container .popup.seller_tagline, #popup_container .popup.biography-pop {
  width: 540px;
}

#popup_container .popup.followers-lists {
  width: 450px;
}

.popup.biography-pop .biography {
  font-size: 14px;
  line-height: 22px;
  padding: 20px;
  position: relative;
  background: #FFF;
  font-weight: 500;
}

.popup.biography-pop .biography p {
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 22px;
}

.popup.biography-pop .biography p:last-child {
  padding-bottom: 0;
}

.popup.biography-pop .biography p big {
  font-size: 18px;
  line-height: 26px;
}

.popup.biography-pop .biography a {
  color: #4978b3;
}

.popup.biography-pop .biography .text {
  width: 650px;
  margin-top: -5px;
}

.popup.biography-pop .username {
  padding-top: 20px;
}

.popup.biography-pop .username img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: 0 auto;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.popup.seller_tagline .sellername {
  text-align: center;
  background: #e7ebec;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  padding: 32px 0;
}

.popup.seller_tagline .sellername img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.popup.seller_tagline .biography {
  font-size: 14px;
  line-height: 22px;
  padding: 40px 25px;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  font-weight: 500;
}

.popup.seller_tagline .biography p:last-child {
  padding-bottom: 0;
}

.popup.followers-lists .btn-area {
  text-align: right;
  padding: 15px;
  border-top: 1px solid #e7e8ea;
}

.popup.followers-lists ul {
  overflow: auto;
  padding: 0 16px;
  height: 424px;
}

.popup.followers-lists li {
  position: relative;
  padding: 11px 0;
  color: #393d4d;
  font-weight: bold;
  line-height: 30px;
  font-size: 12px;
}

.popup.followers-lists li:first-child {
  border-top: 0;
}

.popup.followers-lists li img {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 0;
  border-radius: 100%;
  top: 50%;
  margin-top: -17px;
  background-size: cover;
}

.popup.followers-lists .loading {
  min-height: 34px;
}

.popup.followers-lists .loading:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.popup.followers-lists .loading:after {
  content: '';
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid #949597;
  border-radius: 100% !important;
  height: 16px;
  opacity: 1;
  width: 16px;
  margin-top: -9px;
  margin-left: -9px;
  line-height: 16px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.popup.followers-lists .more {
  text-align: center;
}

.popup.followers-lists .username {
  line-height: 18px;
  padding-left: 45px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  color: #8a8f9c;
  font-size: 13px;
}

.popup.followers-lists .username b {
  display: block;
  color: #393d4d;
  font-size: 14px;
}

.popup.followers-lists .follow, .popup.followers-lists .following, .popup.followers-lists .private {
  position: absolute;
  margin-top: -17px;
  right: 0;
  top: 50%;
  display: block;
  line-height: 34px;
  padding: 0 13px;
  border: 0;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  background: #ebeced;
  color: #4D545B;
}

.popup.followers-lists .follow:before, .popup.followers-lists .following:before, .popup.followers-lists .private:before {
  display: none;
}

.popup.followers-lists .follow {
  background: #1E7EFC;
  color: #fff;
}

.popup.followers-lists .follow:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: -45px -20px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

.popup.followers-lists .remove {
  position: absolute;
  right: 100px;
  line-height: 20px;
  top: 50%;
  margin-top: -10px;
  color: #c54747;
}

.popup.followers-lists.loading {
  height: 468px;
}

.popup.followers-lists.loading:before {
  content: '';
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 424px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 3;
}

.popup.followers-lists.loading:after {
  content: '';
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #949597;
  border-radius: 100% !important;
  height: 40px;
  opacity: 1;
  width: 40px;
  margin-top: -22px;
  margin-left: -22px;
  line-height: 40px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
  z-index: 4;
}

.accept_contributor {
  position: relative;
  margin-bottom: 18px;
  padding: 15px;
  text-align: right;
  z-index: 1;
  -webkit-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
          box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
  background: #fff;
  border-radius: 3px;
}

.accept_contributor p {
  padding-bottom: 0;
  float: left;
  text-align: left;
  line-height: 20px;
}

.accept_contributor a, .accept_contributor button {
  font-size: 12px;
  line-height: 29px;
  margin: 4px 0 4px 4px;
}

.user-list .figure-item, .profile-section .figure-item {
  background: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
}

.user-list .figure-item:hover, .profile-section .figure-item:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.03);
}

.user-list .figure-item figcaption, .profile-section .figure-item figcaption {
  font-size: 14px;
  line-height: 20px;
  padding: 13px;
  min-height: 40px;
}

.user-list .figure-item figcaption .title, .profile-section .figure-item figcaption .title {
  font-size: 15px;
  font-weight: 600;
}

.user-list .figure-item figure > a:after, .user-list .figure-item .video_player a, .user-list .figure-item .figure, .profile-section .figure-item figure > a:after, .profile-section .figure-item .video_player a, .profile-section .figure-item .figure {
  border-radius: 4px 4px 0 0;
}

.user-list .pagination, .profile-section .pagination {
  padding-bottom: 28px;
}

.user-list {
  background: #ebeced;
}

.user-list .stream, .user-list .stream.ui-sortable {
  margin-left: -18px;
  width: calc(100% + 18px);
}

.user-list .stream > li, .user-list .stream > li:nth-child(4n+1), .user-list .stream.ui-sortable > li, .user-list .stream.ui-sortable > li:nth-child(4n+1) {
  float: left;
  margin: 0 0 18px 18px;
  width: calc((100%/3) - 18px);
}

.user-list .stream > li:nth-child(3n+1), .user-list .stream.ui-sortable > li:nth-child(3n+1) {
  clear: both;
}

.user-list .owner #coverImage {
  display: block;
}

.user-list .owner #coverImage:not(.image) .camera, .user-list .owner #coverImage:not(.image) .menu-title, .user-list .owner #coverImage:not(.image) .camera.btn-upload-cover {
  background: #ebeced;
  color: #2E363E;
}

.user-list .owner #coverImage:not(.image) .camera:before, .user-list .owner #coverImage:not(.image) .menu-title:before, .user-list .owner #coverImage:not(.image) .camera.btn-upload-cover:before {
  background-position: -20px -83px;
}

.user-list .owner #coverImage:not(.image) .camera:hover, .user-list .owner #coverImage:not(.image) .menu-title:hover, .user-list .owner #coverImage:not(.image) .camera.btn-upload-cover:hover {
  background: #e5e6e6;
}

.user-list .owner #coverImage:not(.image) .camera, .user-list .owner #coverImage:not(.image) .menu-container, .user-list .owner #coverImage:not(.image) .camera.btn-upload-cover {
  opacity: 1;
  top: auto;
  bottom: 85px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.user-list #coverImage {
  height: auto;
  display: none;
  position: static;
}

.user-list #coverImage .inner-wrapper {
  display: table;
  width: 100%;
}

.user-list #coverImage .image {
  position: static;
  min-height: 0;
  display: none;
  height: auto;
}

.user-list #coverImage.image {
  display: table-cell;
  position: relative;
  max-width: 62.1%;
  width: 720px;
}

.user-list #coverImage.image .image {
  position: relative;
  height: auto;
  display: block;
}

.user-list #coverImage.image .image img {
  height: auto;
  max-height: 720px;
  border-radius: 5px 0 0 5px;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 320px;
}

.user-list #coverImage.image + .info {
  display: table-cell;
  width: 37.9%;
  padding-top: 21px;
}

.user-list #coverImage.image .title {
  padding-bottom: 0;
}

.user-list #coverImage.add .add {
  display: block;
  height: auto;
  background: none;
}

.user-list #summary .info {
  vertical-align: middle;
  text-align: center;
  padding: 65px 20px 66px;
  position: relative;
}

.user-list #summary .interaction {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 20px;
  text-align: right;
}

.user-list #summary .interaction .ownername {
  float: left;
  line-height: 35px;
  font-size: 15px;
  padding: 10px 0 0 45px;
  position: relative;
  max-width: calc(100% - 170px);
  font-weight: bold;
}

.user-list #summary .interaction .ownername a {
  color: #2E363E;
}

.user-list #summary .interaction .ownername img {
  position: absolute;
  top: 10px;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.user-list #summary .title {
  font-weight: 500;
  font-size: 20px;
  color: #6B717D;
  line-height: 26px;
  padding-bottom: 37px;
}

.user-list #summary .title h1 {
  display: block;
  color: #2E363E;
  font-size: 34px;
  line-height: 40px;
  font-size: 1em;
}

.user-list #summary .title h1:nth-last-child(3) {
  padding-right: 4px;
}

.user-list #summary .title .description {
  font-weight: 500;
  font-size: 20px;
  color: #6B717D;
  line-height: 26px;
  padding-top: 15px;
}

.user-list #summary .title .description * {
  display: inline;
}

.user-list #summary .title .description br {
  display: none;
}

.user-list #summary.owner .title {
  padding-bottom: 77px;
}

.user-list #summary.owner #coverImage + .info .title h1 {
  padding-bottom: 15px;
}

.user-list #summary.owner #coverImage.image + .info .title {
  padding-bottom: 0;
}

.user-list #summary.owner #coverImage.image + .info .title h1 {
  padding-bottom: 0;
}

.user-list .interaction .more-share-popup.bot {
  left: auto;
  right: 0;
}

.user-list .interaction .refine {
  display: none;
}

.user-list .private #summary .title h1:before {
  content: '';
  width: 18px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  margin: -5px 8px 0 0;
  background: url("../../images/svg/ic-detail.svg") no-repeat -10px -30px;
  background-size: 100px 100px;
}

.user-list #content.collections {
  max-width: 1160px;
  margin: 0 auto;
}

.profile-section #sidebar {
  float: left;
  width: 180px;
  padding-bottom: 20px;
}

.profile-section #summary, .profile-section #content {
  float: right;
  clear: right;
  width: calc(100% - 200px);
}

.profile-section .stream > li, .profile-section .stream > li:nth-child(4n+1) {
  position: relative;
  float: left;
  width: calc((100% - 36px)/3);
  margin: 0 0 18px 18px;
  clear: none;
}

.profile-section .stream > li:nth-child(3n+1) {
  clear: both;
  margin-left: 0;
}

.profile-section .stream.ui-sortable {
  width: calc(100% + 18px);
  margin-left: -18px;
}

.profile-section .stream.ui-sortable > li {
  width: calc((100%/3) - 18px);
}

.profile-section .stream.ui-sortable > li:nth-child(3n+1) {
  margin-left: 18px;
  clear: none;
}

.lists .listsection {
  position: relative;
  float: left;
  width: calc((100% - 36px)/3);
  margin: 0 0 18px 18px;
}

.lists .listsection .title:nth-last-child(2) {
  bottom: 37px;
}

.lists .listsection:nth-child(3n+1) {
  clear: both;
  margin-left: 0;
}

.user-list .refine_menu dl, .profile .refine_menu dl {
  width: calc((100% - 72px)/5);
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #sidebar .credit li:before {
    background-image: url("../../images/retina/setting_icon.png");
  }
}

@media screen and (min-width: 800px) {
  .user-list .stream > li:nth-child(3n) .figure-item .menu-container .has-arrow, .stream.ui-sortable > li:nth-child(3n) .figure-item .menu-container .has-arrow, .profile-section .stream > li:nth-child(3n) .figure-item .menu-container .has-arrow, .profile-section .stream.ui-sortable > li:nth-child(3n) .figure-item .menu-container .has-arrow {
    left: auto;
    right: 100%;
  }
}

@media screen and (max-width: 800px) {
  .user-list #coverImage.image, .user-list #coverImage.image + .info {
    display: block;
    width: auto;
    max-width: none;
  }
  .user-list #coverImage.image .image img {
    border-radius: 0;
  }
  .user-list .container {
    padding: 55px 0 0;
  }
  .user-list .stream > li, .user-list .stream > li:nth-child(3n+1), .user-list .stream.ui-sortable > li, .user-list .stream.ui-sortable > li:nth-child(3n+1) {
    clear: none;
    margin-left: 15px;
    width: calc(50% - 15px);
  }
  .profile-section .stream, .user-list .stream {
    padding: 0 15px 0 0;
  }
  .profile-section .stream > li, .user-list .stream > li {
    position: relative;
    float: left;
    width: calc(50% - 15px);
    margin: 0 0 15px 15px;
    z-index: 0;
  }
  .profile-section .stream > li:nth-child(4n+1), .profile-section .stream > li:nth-child(3n+1), .user-list .stream > li:nth-child(4n+1), .user-list .stream > li:nth-child(3n+1) {
    clear: none;
    float: left;
    margin-left: 15px;
    width: calc(50% - 15px);
  }
  .profile-section .stream > li:nth-child(2n+1), .user-list .stream > li:nth-child(2n+1) {
    clear: both;
  }
  .profile-section .stream > .active, .user-list .stream > .active {
    z-index: 1;
  }
  .profile-section .stream.ui-sortable, .user-list .stream.ui-sortable {
    width: auto;
    margin-left: 0;
  }
  .profile-section .stream.ui-sortable > li, .profile-section .stream.ui-sortable > li:nth-child(3n+1), .profile-section .stream.ui-sortable > li:nth-child(4n+1), .user-list .stream.ui-sortable > li, .user-list .stream.ui-sortable > li:nth-child(3n+1), .user-list .stream.ui-sortable > li:nth-child(4n+1) {
    width: calc(50% - 15px);
    margin-left: 15px;
  }
  .profile-section .stream.ui-sortable > li:nth-child(2n+1), .user-list .stream.ui-sortable > li:nth-child(2n+1) {
    clear: both;
  }
  .profile-section .refine_menu dd, .user-list .refine_menu dd {
    left: 0;
    width: 100%;
  }
  .profile-section .refine_menu dl, .user-list .refine_menu dl {
    width: auto;
    margin: 0;
    padding: 0;
  }
  .profile-section .refine .refine_menu, .user-list .refine .refine_menu {
    padding: 0 15px 10px;
  }
  .profile .loading #infscr-loading .loading {
    margin-left: 100px;
  }
  .profile .container {
    padding-left: 0;
    padding-right: 0;
    margin-top: -20px;
  }
  .profile .wrapper-content {
    padding-top: 150px;
  }
  .profile #contain {
    padding: 0;
  }
  .profile-section.refine .refine_menu {
    padding: 0 15px 10px;
  }
  .profile-section #sidebar, .profile-section #summary, .profile-section #content, .profile-section .wrapper.private {
    float: none;
    width: auto;
  }
  .profile-section #summary {
    position: static;
  }
  .profile-section #summary .interaction {
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 1;
  }
  .profile-section #summary .menu-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    top: auto;
  }
  .profile-section #coverImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
  }
  .profile-section #coverImage img, .profile-section #coverImage .image {
    height: 150px;
    min-height: 150px;
  }
  .profile-section #sidebar {
    position: relative;
    padding: 65px 20px 0;
    z-index: 1;
    background: #fff;
  }
  .profile-section #sidebar .sign {
    position: absolute;
    width: 85px;
    top: -33px;
    left: 20px;
  }
  .profile-section #sidebar .sign img {
    border: 2px solid #fff;
    background-color: #fff;
  }
  .profile-section #sidebar .credit {
    padding: 0 0 10px;
  }
  .profile-section #sidebar .followers {
    padding: 0 0 20px;
  }
  .profile-section #sidebar .followers li {
    display: inline-block;
    vertical-align: middle;
  }
  .profile-section #sidebar .followers li + li {
    margin-left: 10px;
  }
  .profile-section #sidebar .followers li.location {
    display: block;
    margin: 10px 0 0;
  }
  .profile-section #sidebar .title .ic-verified {
    position: absolute;
    left: 85px;
    top: 37px;
  }
  .profile-section #sidebar .title small {
    display: none;
  }
  .profile-section #sidebar .title, .profile-section #sidebar .extra, .profile-section #sidebar .followers {
    width: auto;
    float: none;
    width: auto;
  }
  .profile-section .figure-item figcaption a {
    padding-right: 0;
  }
  .profile-section .figure-item .menu-container {
    display: none;
  }
  #sidebar.fixed, #sidebar.fixed.top {
    position: relative !important;
    top: 0 !important;
  }
  #sidebar .sign {
    float: left;
    width: 180px;
    max-width: 30%;
    margin: 0 20px 0 0;
  }
  #sidebar .title, #sidebar .extra, #sidebar .followers {
    float: right;
    clear: right;
    width: calc(100% - 200px);
    min-width: calc(70% - 20px);
  }
  #sidebar .tagline {
    padding: 0;
  }
  #summary {
    border-radius: 0;
  }
  #summary .interaction {
    float: none;
    padding: 5px 10px 15px 4px;
    text-align: right;
    position: relative;
  }
  #summary .btn-follow {
    position: absolute;
    bottom: 100%;
    right: 0;
    margin: 0 15px 15px 0;
  }
  #summary .menu {
    float: none;
    width: auto;
    padding: 15px 10px;
    border-top: 1px solid #f2f2f2;
  }
  .interaction .edit-profile, .interaction .view-store {
    margin-left: 6px;
  }
  .interaction .more-share-popup, .interaction .more-share-popup.bot {
    bottom: 0;
    top: auto;
  }
  #coverImage .menu-container .menu-title {
    opacity: 1;
  }
  .owner #sidebar .sign .change, .owner #coverImage .camera, .owner #coverImage .menu-container, .owner #coverImage .camera.btn-upload-cover {
    opacity: 1;
  }
}
/*# sourceMappingURL=profile.v3.css.map */