.after:after, .wrapper-content:after, #summary:after, .accept_contributor:after {
  content: '';
  clear: both;
  display: block;
}

.interaction .add-list:before, .interaction .edit-list:before, .popup.followers-lists .follow:before, .about .elsewhere li a:before, .interaction .btn-follow .follow:before, .interaction .send-msg:before, #sidebar .followers li:before, .title .ic-verified:before, .interaction .menu-title:before, .interaction .btn-share-popover:before, #sidebar .sign .change:before, .interaction .refine:before, .interaction .btn-share:before, .interaction .btn-user-share:before, #coverImage .camera:before, #coverImage .menu-title:before, #coverImage .camera.btn-upload-cover:before {
  background: url("../../images/svg/ic_user.svg") no-repeat;
  background-size: 100px 100px;
}

.container.collections {
  max-width: none;
  background: #fff;
}

.wrapper-content {
  position: relative;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  max-width: 1280px;
  margin: 0 auto;
}

.user-list .stream li {
  width: calc((100% - 54px)/4);
  float: left;
  clear: none;
  margin: 0 0 16px 18px;
}

.user-list .stream li:nth-child(4n+1) {
  margin-left: 0;
  clear: both;
}

.user-list .stream.ui-sortable .figure-item {
  background: #fff;
}

.user-list .stream.ui-sortable .figure-item figure > a:hover:after {
  background: no-repeat url("../../images/svg/ic_move.svg") 50% 50% rgba(0, 0, 0, 0.2);
  background-size: 28px 28px;
  opacity: 1;
}

div.empty {
  clear: both;
  padding: 170px 0;
  text-align: center;
}

div.empty h3 {
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 6px;
  color: #373d48;
}

div.empty p {
  font-size: 15px;
  line-height: 22px;
  color: #676e79;
  padding-bottom: 34px;
  font-weight: 500;
}

div.empty .btns-blue-embo {
  line-height: 36px;
  border-radius: 18px;
  font-size: 14px;
}

#content {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

#summary {
  position: relative;
}

#summary .interaction {
  text-align: right;
  padding-bottom: 24px;
}

#summary .interaction .add-item, #summary .interaction .add-list, #summary .interaction .edit-list, #summary .interaction .btn-share, #summary .interaction .btn-user-share, #summary .interaction .btn-share-popover, #summary .interaction .menu-title {
  line-height: 36px;
  width: 36px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  direction: ltr;
  text-indent: -1000em;
  margin: 0 0 0 6px;
  padding: 0;
  border: 0;
  text-align: left;
  cursor: pointer;
  background: none;
}

#summary .interaction .add-item:before, #summary .interaction .add-list:before, #summary .interaction .edit-list:before, #summary .interaction .btn-share:before, #summary .interaction .btn-user-share:before, #summary .interaction .btn-share-popover:before, #summary .interaction .menu-title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.85;
}

#summary .interaction .ownername {
  float: left;
  font-size: 16px;
  line-height: 36px;
  padding: 0;
  font-weight: 600;
}

#summary .interaction .ownername a {
  color: #3F434B;
}

#summary .interaction .ownername img {
  width: 36px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  margin: -3px 4px 0 0;
  vertical-align: middle;
}

#summary .interaction .edit-list:before {
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  background-position: -80px -20px;
}

#summary .interaction .add-list:before {
  width: 14px;
  height: 14px;
  margin: -7px 0 0 -7px;
  background-position: -70px -70px;
}

#summary .interaction .menu-title:before {
  width: 18px;
  height: 4px;
  background-position: -40px -7px;
  margin: -2px 0 0 -9px;
}

#summary .interaction .btn-share:before, #summary .interaction .btn-share-popover:before, #summary .interaction .btn-user-share:before {
  width: 16px;
  height: 16px;
  margin: -9px 0 0 -10px;
  background-position: -60px 0;
}

#summary .interaction .send-msg:before {
  width: 18px;
  height: 16px;
  background-position: -20px 0;
  margin: -9px 0 0 -9px;
}

#summary .interaction .share-container, #summary .interaction .menu-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

#summary .interaction .share-container.opened, #summary .interaction .menu-container.opened {
  z-index: 3;
}

#summary .interaction .share-container .btn-share, #summary .interaction .share-container .btn-share-popover, #summary .interaction .menu-container .menu-title {
  display: block;
}

#summary .interaction .more-share-popup {
  bottom: 50px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  text-align: left;
}

#summary .interaction .more-share-popup:after, #summary .interaction .more-share-popup:before {
  display: none;
}

#summary .interaction .more-share-popup.bot {
  bottom: auto;
  top: 50px;
  text-align: left;
}

#summary .interaction .btn-follow {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 36px;
  overflow: hidden;
  margin: 0 0 0 6px;
}

#summary .interaction .btn-follow a {
  display: block;
  line-height: 36px;
  padding: 0 15px;
  border: 0;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#summary .interaction .btn-follow a small {
  font-size: 13px;
  color: #B3D3FD;
  font-weight: 400;
}

#summary .interaction .btn-follow .unfollow {
  background: #ebeced;
  color: #4D545B;
}

#summary .interaction .btn-follow .unfollow small {
  color: #5C677A;
}

#summary .interaction .btn-follow .follow, #summary .interaction .btn-follow .following {
  background: #1E7EFC;
  color: #fff;
}

#summary .interaction .btn-follow .follow:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: -45px -20px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

#summary .interaction .btn-follow.unfollow .following, #summary .interaction .btn-follow.following .following, #summary .interaction .btn-follow.follow .following {
  display: none;
}

#summary .interaction .btn-follow.following .follow, #summary .interaction .btn-follow.unfollow .follow {
  margin-top: -36px;
}

#summary .menu {
  float: left;
  font-size: 0;
  letter-spacing: 0;
  white-space: nowrap;
  padding: 15px;
  overflow: auto;
}

#summary .menu li {
  display: inline-block;
  vertical-align: top;
}

#summary .menu a {
  display: block;
  padding: 0 15px;
  color: #5d6771;
  font-size: 15px;
  line-height: 36px;
  border-radius: 18px;
  font-weight: bold;
}

#summary .menu small {
  display: none;
}

#summary .menu .current {
  background: #ebeced;
  color: #2E363E;
}

#summary .reposition {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 15px 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 0 0 5px 5px;
  display: none;
}

#summary .reposition .guide {
  float: left;
  line-height: 36px;
}

#summary .reposition .btns {
  float: right;
}

#summary .reposition .btns a {
  line-height: 34px;
  border-radius: 18px;
  font-size: 14px;
  padding: 0 15px;
}

#summary .menu-container.opened .menu-content {
  opacity: 1;
  visibility: visible;
}

#summary .menu-content {
  position: absolute;
  top: 43px;
  right: -5px;
  padding: 7px 0;
  background: #fff;
  text-align: left;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 168px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;
  -moz-transition: opacity ease-in-out 0.3s;
  -o-transition: opacity ease-in-out 0.3s;
  visibility: hidden;
}

#summary .menu-content a {
  display: block;
  border-radius: 0;
  white-space: nowrap;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  font-size: 13px;
  line-height: 17px;
  padding: 6px 13px;
  color: #383d48;
  font-weight: 600;
  background: #fff;
  text-align: left;
}

#summary .menu-content a:hover {
  background: #f0f0f2;
}

#summary .reposition, #summary .organize-list, #summary div.reposition {
  display: none;
}

.private-list #coverImage .title h1:before {
  content: '';
  width: 18px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  margin: -5px 8px 0 0;
  background: url("../../images/svg/ic-detail.svg") no-repeat -10px -30px;
  background-size: 100px 100px;
}

#coverImage {
  text-align: center;
  padding-bottom: 70px;
}

#coverImage .camera, #coverImage .menu-title, #coverImage .camera.btn-upload-cover, #coverImage .view-admin {
  line-height: 37px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #3F434B;
  color: #3F434B;
  padding: 0 12px;
  font-size: 13px;
  font-weight: 700;
  background: none;
}

#coverImage .view-admin {
  position: absolute;
  top: 14px;
  right: 14px;
}

#coverImage .camera, #coverImage .menu-title, #coverImage .camera.btn-upload-cover {
  width: 150px;
  margin: 0 auto;
}

#coverImage .camera:before, #coverImage .menu-title:before, #coverImage .camera.btn-upload-cover:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 14px;
  background-position: -20px -83px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

#coverImage img {
  display: block;
  height: 300px;
  width: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

#coverImage .menu-container .menu-title:hover {
  opacity: 1;
}

#coverImage .video_player .timestamp .progress i.loading {
  display: block;
  padding: 0;
  border: 0;
  height: 100%;
}

#coverImage .add.loading {
  text-align: center;
}

#coverImage .add.loading span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 125px auto 0;
  direction: ltr;
  text-indent: -1000em;
}

#coverImage .add, #coverImage .loading, #coverImage .loading, #coverImage .image img {
  display: none;
}

#coverImage .title {
  position: relative;
  padding: 70px 30px 10px;
}

#coverImage .title h1 {
  position: relative;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}

#coverImage .title .description {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0 14px;
}

#coverImage.blue .image {
  background: #3d4a5d;
}

#coverImage.silver .image {
  background: #a3a7af;
}

#coverImage.green .image {
  background: #92b3bd;
}

#coverImage.purple .image {
  background: #929fbd;
}

#coverImage.image {
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
}

#coverImage.image .image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
}

#coverImage.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

#coverImage.image .camera, #coverImage.image .menu-title, #coverImage.image .camera.btn-upload-cover, #coverImage.image .view-admin {
  border-color: #fff;
  color: #fff;
}

#coverImage.image .camera:before, #coverImage.image .menu-title:before, #coverImage.image .camera.btn-upload-cover:before {
  background-position: -20px -65px;
}

#coverImage.image .title {
  color: #fff;
}

#coverImage.add {
  overflow: hidden;
  position: relative;
  background: #FFF;
  border-radius: 3px 3px 0 0;
}

#coverImage.loading .loading, #coverImage.image .image img {
  display: block;
}

#coverImage.video {
  max-height: 300px;
}

.yet_product {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: rgba(103, 110, 121, 0.7);
  padding: 170px 0 0;
}

.yet_product b {
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 6px;
  color: #373d48;
}

.yet_product p {
  font-size: 15px;
  line-height: 22px;
  color: #676e79;
  padding-bottom: 34px;
  font-weight: 500;
}

.yet_product .btns-blue-embo {
  line-height: 36px;
  border-radius: 18px;
  font-size: 14px;
}

.empty-result {
  font-size: 15px;
  line-height: 22px;
  color: #676e79;
  padding: 170px 0 34px;
  font-weight: 500;
  text-align: center;
}

#popup_container.followers-lists .popup.followers-lists, #popup_container.seller_tagline .popup.seller_tagline, #popup_container.biography-pop .popup.biography-pop, #popup_container.view-admin .popup.view-admin {
  display: block;
}

#popup_container .popup.seller_tagline, #popup_container .popup.biography-pop {
  width: 540px;
}

#popup_container .popup.followers-lists {
  width: 450px;
}

#popup_container .popup.view-admin {
  width: 450px;
  margin: 0;
  left: auto;
  top: auto;
}

.accept_contributor {
  position: relative;
  margin-bottom: 18px;
  padding: 15px;
  text-align: right;
  z-index: 1;
  -webkit-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
          box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
  background: #fff;
  border-radius: 3px;
}

.accept_contributor p {
  padding-bottom: 0;
  float: left;
  text-align: left;
  line-height: 20px;
}

.accept_contributor a, .accept_contributor button {
  font-size: 12px;
  line-height: 29px;
  margin: 4px 0 4px 4px;
}

.pagination {
  padding-bottom: 28px;
}

.popup.minimum-share {
  width: 335px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.popup.minimum-share .ltit {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 16px 0 12px;
  border: 0;
  text-align: center;
}

.popup.minimum-share .ly-close {
  width: 52px;
  height: 54px;
}

.popup.minimum-share .ly-close:before, .popup.minimum-share .ly-close:after {
  content: '';
  opacity: 1;
  position: absolute;
  width: 13px;
  height: 1px;
  background: #3F434B;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  left: 50%;
  margin: 0 0 0 -6px;
}

.popup.minimum-share .ly-close:after {
  width: 1px;
  height: 13px;
  margin: -6px 0 0 0;
  -webkit-transform: translate(-45deg);
          transform: translate(-45deg);
}

.popup.minimum-share ul {
  padding-bottom: 12px;
}

.popup.minimum-share li {
  line-height: 20px;
  padding: 6px 24px;
  font-size: 14px;
}

.popup.minimum-share li a {
  display: block;
  padding: 6px 0 6px 32px;
  position: relative;
  color: #3F434B;
}

.popup.minimum-share li a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background: url("../../images/svg/product-detail.svg") no-repeat;
}

.popup.minimum-share li .link:before {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background-position: -70px -110px;
}

.popup.minimum-share li .pin:before {
  width: 14px;
  height: 15px;
  margin-top: -8px;
  background-position: -90px -110px;
}

.popup.minimum-share li .email:before {
  width: 16px;
  height: 12px;
  margin-top: -6px;
  background-position: -50px -110px;
}

.popup.minimum-share li .url {
  position: fixed;
  top: -1000em;
  left: -1000em;
  width: 0;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 900px) {
  .popup.minimum-share {
    width: 295px;
  }
  .container.collections {
    padding-left: 0;
    padding-right: 0;
    margin-top: -15px;
  }
  #summary .interaction {
    padding: 0 20px 24px 24px;
  }
  #summary .interaction .edit-profile, #summary .interaction .view-store {
    margin-left: 6px;
  }
  #summary .interaction .more-share-popup, #summary .interaction .more-share-popup.bot {
    bottom: 0;
    top: auto;
  }
  #coverImage.image, #coverImage.image + .info {
    display: block;
    width: auto;
    max-width: none;
  }
  #coverImage.image .image img {
    border-radius: 0;
  }
  #coverImage .menu-container .menu-title {
    opacity: 1;
  }
  .owner #sidebar .sign .change, .owner #coverImage .camera, .owner #coverImage .menu-container, .owner #coverImage .camera.btn-upload-cover {
    opacity: 1;
  }
  .user-list .stream {
    padding: 0 24px 8px;
  }
  .user-list .stream li {
    width: calc(50% - 9px);
  }
  .user-list .stream li:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
}
/*# sourceMappingURL=user-list.css.map */