/* article */
.article img {max-width:100%;}
.article .cover img {vertical-align:top;}
.article #content {position:relative;background:#fff;box-shadow:0 1px 0 rgba(0,0,0,0.08);margin-bottom:17px;}
.article h3 {font-weight:500;line-height:30px;padding:38px 0;text-align:center;font-size:26px;}
.article .stream > li {margin:0 0 18px 18px;width:23%;width: calc(25% - 14px);width:-webkit-calc(25% - 14px);width:-moz-calc(25% - 14px);float: left;}
.article .stream > li:nth-child(4n+1) {margin-left:0;clear:both;}
.article .sns {position:absolute;top:30px;left:30px;}
.article .sns li {margin-bottom:10px;}
.article .sns a {display:block;width:33px;height:32px;text-indent:-1000em;border-radius:3px;position: relative;}
.article .sns a.fb {background:url('../images/svg/article-share-fb.svg') no-repeat;}
.article .sns a.tw {background:url('../images/svg/article-share-tw.svg') no-repeat;}
.article .sns a.msg {background:url('../images/svg/article-share-email.svg') no-repeat;}
.article .description {padding:65px 200px 90px;font-family: 'Merriweather',sans-serif;font-weight: 400;font-size:16px;line-height:28px;border-top:1px solid #f0f1f2;}
.article .description p+p {margin-top:28px;}
.article .description .mode-full {margin:0 -200px;padding:70px 0;}
.article .description .mode-quoted {margin:70px -90px;display:table;text-align: center;}
.article .description .mode-quoted > p {width:50%;display:table-cell;vertical-align: middle;}
.article .description .mode-quoted > p.textarea {width: 50%;padding:0 5%;}
.article .description .quote, .article .description blockquote, .article .description .mode-quoted p { font-family: 'Roboto Condensed', sans-serif;  font-size: 30px; line-height: 36px;font-weight: 600; }
.article .description .quote, .article .description blockquote, .article .description .mode-normal {margin:70px 0;text-align:center; }
.article .info {text-align:center;padding:45px 100px;}
.article .info h2 {font-family:'Roboto Condensed', sans-serif;font-size:40px;padding-bottom: 23px;color:#313336;}
.article .info p {font-size:20px;color:#5e5e5f;padding-bottom: 35px;}
.article .info .interaction > a {display:inline-block;color:#fff;line-height: 45px;background: #26303c;border-radius: 3px;font-size: 14px;padding: 0 30px;font-weight: 500;}

@media screen and (max-width: 770px) {
	.article .sns {position:static;padding:30px 0 5px 15px;}
	.article .sns:after {content:'';clear:both;display:block;}
	.article .sns li {float:left;margin-right:10px;}
	.article .info {padding:0 15px 30px;}
	.article .info h2 {font-size:30px;padding-bottom:15px;}
	.article .info p {font-size:16px;padding-bottom:20px;}
	.article .description {padding:30px 15px;font-size:14px;line-height:20px;}
	.article .description p+p {margin-top:20px;}
	.article .description .mode-full {margin:0 -15px;}
	.article .description .mode-quoted {margin:20px 0;display:block;text-align: center;}
	.article .description .mode-quoted p, .article .description .mode-quoted > p.textarea {display:block;width:auto;}
	.article .stream > li {float:none;margin:0 0 15px;width:auto;}
	.article h3 {padding:0 0 15px;}
	.article .picks {padding:15px 15px 0;}
}