
.popup.add_file .icon:before, .popup.add_file .btn-new:before {background:url('../../../_ui/images/normal/editor_icons.png') no-repeat;background-size:200px 200px}
#popup_container.add_file .popup.add_file {display:block;}
#popup_container .popup.add_file {position:relative;width:482px;background:#fff;border-radius:3px;text-align:center;padding-bottom: 15px;}
.popup.add_file .ltit {text-align:left;}
.popup.add_file .icon {display:block;width: 96px;height: 97px;margin: 0 auto 39px;background: none;box-shadow: inset 0 0 0 1px #f6f7f7;border-radius: 100%;}
.popup.add_file .icon:before {content:'';display:block;width: 96px;height: 89px;background-color:#fff;}
.popup.add_file b {display:block;font-size:16px;color: #393d4d;}
.popup.add_file small {display:block;color:#393d4d;font-size:11px;text-transform:uppercase;opacity:0.6;line-height: 43px;}
.popup.add_file .btns-gray-embo {font-size: 12px;line-height: 29px;background: #f8f8f8;border-color: #d9dcde;}
.popup.add_file .uploader {border: 1px dashed rgba(146, 154, 165, 0.4);margin: 15px 15px 0;padding: 77px 0;}
.popup.add_file fieldset {text-align:left;padding:15px 15px 0;}
.popup.add_file fieldset p {padding:0;}
.popup.add_file fieldset p:after {content:'';clear:both;display:block;}
.popup.add_file .label {display:block;padding-bottom:7px;color: #48505d;font-size: 12px;font-weight: 600;}
.popup.add_file .select-boxes2 {float:left;width: 339px;width:calc(100% - 113px);width:-webkit-calc(100% - 113px);}
.popup.add_file .btn-new {float:right;padding:0;width: 103px;}
.popup.add_file .btn-new:before {content:'';display:inline-block;width:8px;height:8px;background-position:-170px 0;vertical-align:middle;margin:-3px 7px 0 0;}

#popup_container.uploading_file .popup.add_file:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(48,51,57,0.6);z-index:4;}
#popup_container.uploading_file .popup.uploading_file {display:block;}
#popup_container .popup.uploading_file {width:482px;background:#fff;border-radius:3px;z-index:5;padding-bottom:15px;}
.popup.uploading_file .table {margin:15px 15px 0;border:1px solid #dcdee0;border-radius:2px;overflow:hidden;}
.popup.uploading_file table {width:100%;table-layout: fixed;}
.popup.uploading_file thead th {height:30px;padding:0 10px;background:#f8f8f8;border-bottom:1px solid #cacccf;font-size:11px;font-weight:bold;color:#525665;border-left:1px solid #e1e2e3;}
.popup.uploading_file thead th:first-child {text-align:center;padding:0;border-left:0;}
.popup.uploading_file tbody td {border-bottom:1px solid #f2f3f3;border-left:1px solid #f2f3f3;font-size:12px;color:#393d4d;line-height:18px;padding:11px 10px;vertical-align:middle;}
.popup.uploading_file tbody td.file_ {overflow-x: hidden;text-overflow: ellipsis;}
.popup.uploading_file tbody td:first-child{padding:0;text-align:center;border-left:0;}
.popup.uploading_file tbody tr:last-child td {border-bottom:0;}
.popup.uploading_file .error {color:#9a1b1b;}
.popup.uploading_file .progress {display:block;width:100px;height:6px;border-radius:3px;background:#e5e6e7;overflow:hidden;}
.popup.uploading_file .progress .gauge {display:block;height:6px;background:#4f89c1;border-radius:3px;}

#popup_container.resize_image .popup.resize_image {display:block;}
#popup_container .popup.resize_image {width:465px;background:#fff;border-radius:3px;}
.popup.resize_image .data-frm {padding:15px 15px 0;}
.popup.resize_image .data-frm p {clear:both;padding-bottom:15px;}
.popup.resize_image .data-frm p.width {float:left;width:49%;width:calc(50% - 6px);width:-webkit-calc(50% - 6px);width:-moz-calc(50% - 6px);}
.popup.resize_image .data-frm p.height {float:right;clear:none;width:49%;width:calc(50% - 6px);width:-webkit-calc(50% - 6px);width:-moz-calc(50% - 6px);}
.popup.resize_image .data-frm p.link button {float:right;padding:0;width:82px;line-height:29px}
.popup.resize_image .data-frm p.link .text {width:80%;width:calc(100% - 92px);width:-webkit-calc(100% - 92px);width:-moz-calc(100% - 92px);}
.popup.resize_image .data-frm .text, .popup.resize_image .data-frm select {box-sizing:border-box;-webkit-box-sizing:border-box;height: 31px;width:100%;}
.popup.resize_image .data-frm .size {display:block;position:relative;}
.popup.resize_image .data-frm .size small {position:absolute;right: 11px;line-height: 30px;color: #4b4f5d;opacity: 0.5;font-size: 13px;}
.popup.resize_image .data-frm:after, .popup.resize_image .data-frm p:after {content:'';clear:both;display:block;}

.uploader_image .table  .btn-del:before {background: url('../../../_ui/images/normal/product_new.png') no-repeat;background-size: 200px 200px;}
#content.uploader_image {background:none;box-shadow:none;}
.uploader_image .data-field {position: relative;background: #FFF;border-radius: 3px;-moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.015), 0 0 0 1px #DBDBDC;box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);padding: 15px 0;}
.uploader_image .data-field .pagination4 {padding: 15px 15px 0;border-top: 1px solid #e4e6e8;}
.uploader_image .data-field .table{margin: 0 15px 15px;}
.uploader_image .ptit {margin-bottom:18px;}
.uploader_image .table img {width:50px;height:50px;background:no-repeat 50% 50% #949ea6;background-size:cover;}
.uploader_image .table .image {display:block;white-space:nowrap;font-size:11px;line-height:16px;color:#72757f;text-overflow:ellipsis;overflow-x:hidden;}
.uploader_image .table .image b {display:block;color:#4487c2;font-weight:normal;font-size:13px;}
.uploader_image .table .btn-del, .uploader_image .table .editor {float:left;border:1px solid #5d8fca;border-radius:3px;line-height:29px;background:#fff;}
.uploader_image .table .editor a {float:left;padding:0 12px;color:#4487c2;font-size:12px;border-left:1px solid #aec7e5;text-align:center;}
.uploader_image .table .editor a:hover {text-decoration:none;}
.uploader_image .table .editor a:first-child {border-left:0;}
.uploader_image .table .btn-del {text-indent:-1000em;float:right;width:29px;position:relative;}
.uploader_image .table .btn-del:before {content: '';display: inline-block;width: 9px;height: 11px;position:absolute;top:50%;left:50%;margin:-6px 0 0 -5px;background-position:-90px -15px;}
.uploader_image .table .uploader {display:block;}

@media screen and (max-width: 800px) {
	.uploader_image .data-field .controller {margin:0 15px;}
	.uploader_image .table img {position:absolute;top:10px;left:10px;}
	.uploader_image .table a.image, .uploader_image .table td.size {padding-left: 60px;}
	.uploader_image .table td.size {padding-bottom:10px;}
	.uploader_image .table .time, .uploader_image .table .date {display:none;}
}