#c.google,#c.resource {
     background-color: #dee0e3;
     margin:0; padding:10px;
 }
#c.google .glass {
    background-color:white;
    -moz-box-shadow: 0 0 6px rgba(202,203,209,.19), 0 1px 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 6px rgba(202,203,209,.19), 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 6px rgba(202,203,209,.19), 0 1px 1px 0 rgba(0,0,0,.1);
    border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
	padding-bottom:25px;
}
.glass .summary {
    margin:0; background:transparent; padding:0;
	border-bottom:1px solid #edf0f1;
}
#c .glass .summary h2,#c .anywhere h2 {
    font-size:14px; font-weight:normal; color:#383d48;
    line-height:44px; padding-left:10px; margin:0;
    background-color:#f8f9f9; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
#c .glass .summary h2 strong {
    font-weight:bold;
}
#c .glass .summary p {
    background:#fcfcfd url('../images/help_glass01.png') no-repeat  50% 0;
    background-size:300px 122px; padding:133px 10px 12px; margin:-1px 0 0 0;
    font-size:12px; line-height:18px;
}

#c .glass .summary span {
    display:block; background-color:#fcfcfd; padding:0 10px 12px;
	font-size:14px;font-weight:bold;
}
#c .glass .wrapper {
    border-top:#edf0f1 1px solid;  margin:10px;
}

#c.google .glass h3 {
    font-size:13px; font-weight:normal; color:#383d48;
    line-height:20px; margin:0;
}
#c.google .glass h3 b {
    font-weight:bold;
}
#c .glass .use p {
    padding:137px 0 24px; margin:1px 0 0 0;
    font-size:12px; line-height:15px; color:#8a8f9c;
}
#c .glass .use p.explore {
    background: url('../images/help_glass_use01.png') no-repeat 50% 0;
    background-size:280px 122px;
}
#c .glass .use p.buy {
    background: url('../images/help_glass_use02.png') no-repeat 50% 0;
    background-size:280px 122px;
}
#c .glass .use p.find {
    background: url('../images/help_glass_use03.png') no-repeat 50% 0;
    background-size:280px 122px;
}

#c .glass .wrapper {
    border-top:#edf0f1 1px solid;
}
#c .glass .wrapper.use {
    border:0;
}
#c .glass .wrapper strong {
    color:#383d48; font-weight:normal; padding-bottom:5px; display:block;
}
#c .glass .movie {
    margin:-14px 10px 0;
}
#c .glass .movie video {
    display:block; width:280px;margin:0 auto;
}
#c .glass .movie iframe {
    display:block; width:280px;margin:0 auto;
}
#c .glass .help {
    padding-bottom:15px;
}
#c .glass .help a {
    color:#588cc7;
}
.help #c.resource .anywhere .slide .bg {background:url(../../_ui/images/business/anywhere_slide1.png) no-repeat 0 0;background-size: 292px 219px;}
.help #c.resource .anywhere .slide .slide2 .img {background:url(../../_ui/images/business/anywhere_slide2.png) no-repeat 0 0;background-size:231px 392px;}
.help #c.resource .anywhere .slide .slide3 .img {background:url(../../_ui/images/business/anywhere_slide3.png) no-repeat 0 0;background-size:231px 392px;}
.help #c.resource .anywhere .slide .slide4 .img {background:url(../../_ui/images/business/anywhere_slide4.png) no-repeat 0 0;background-size:231px 392px;}
.help #c.resource .anywhere .slide .slide5 .img {background:url(../../_ui/images/business/anywhere_slide5.png) no-repeat 0 0;background-size:231px 392px;}
.resource .anywhere .intro .img.tum-img {background:url(../../_ui/images/business/anywhere_img1_tum2x.png) no-repeat 50% 0;background-size:250px 162px;}
.tumblr-logo {background:url(../../_ui/images/business/tumblr2x.png) no-repeat;background-size:50px 25px;vertical-align: middle;margin-top: -3px;}
.resource .anywhere .intro {position:relative;padding: 10px 10px 0;background:#fcfcfd;border-bottom: 1px solid #edf0f1;}
.help #c.resource .anywhere .intro h3 {font-size:16px;padding: 15px 0 20px;color:#232323;}
.resource .anywhere .intro h3 sup {font-size: 13px;font-weight: normal;position: relative;top: 3px;}
.resource .anywhere .intro strong {display:inline-block;font-size:13px;padding:0 90px 15px 0;}
.resource .anywhere .intro p {font-size:13px;line-height:20px;color:#333333;}
.resource .anywhere .intro .img {display: block;text-align: center;padding-bottom: 20px;}
.resource .anywhere .intro .img img {width:250px;}
.resource .anywhere h4 {font-size: 14px;padding: 30px 0 0 10px;clear:both;}
.resource .anywhere .source {padding: 0 10px;}
.resource .anywhere dt {padding: 20px 10px 13px;font-size: 13px;}
.resource .anywhere .head textarea.input-text {height: 60px;padding: 10px 9px;width: 260px;}
.resource .anywhere .copy dd {}
.resource .anywhere .copy label {display:block;padding: 0 0 5px;}
.resource .anywhere .copy label small {font-size:12px;}
.resource .anywhere .copy .input-text {width: 276px;height: 25px;}
.resource .anywhere .copy textarea.input-text {height: 65px;padding:10px 9px;width: 260px;}
.resource .anywhere .copy .input-text.size {width:42px;}
.resource .anywhere .copy p.first label {padding-top:0;}
.resource .anywhere .copy dd.left {border-bottom: 0;}
.resource .anywhere .copy dd.right {border-top: 0;padding-top: 0;padding-bottom:10px;}
.help #c.resource .anywhere .copy dd.right p {margin:0;}
.resource .anywhere .how-user,.resource .anywhere .how-work {background:#fff;}
.help #c.resource .anywhere .slide p {color:#888888;font-size: 12px;text-align:center;padding: 10px 0 20px;margin: 0;}
.resource .anywhere .slide b {color:#333;display:block;font-size: 14px;padding-bottom:5px;}
.resource .anywhere .slide {padding: 10px 10px 0;margin-bottom: -10px;}
.resource .anywhere .animation2 .slide {left:-818px;}
.resource .anywhere .animation3 .slide {left:-1626px;}
.resource .anywhere .animation4 .slide {left:-2444px;}
.resource .anywhere .animation5 .slide {left:-3262px;}
.help #c.resource .anywhere .slide .bg {width: 292px;height: 219px;display: none;float: none;}
.help #c.resource .anywhere .slide .slide1 .bg {opacity:1;display: block;margin: 0 auto;}
.resource .anywhere .slide .img {width:231px;height:392px;margin:0 auto;}
.resource .anywhere .slide-item {position:relative;}
.resource .anywhere #animation {position:relative;margin-top: 15px;}
.resource .anywhere .intro .img.tum-img {height:162px}
.tumblr-logo {text-indent:-100em;display:inline-block;width:47px;height:12px;}
.tumblr-logo.sm {width:53px;height:13px;background-position:0 -20px;}