.after:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  border: 0;
}

.summary {
  background: #fff;
  padding: 30px 0 0;
  border-bottom: 10px solid #f5f6f7;
}

.summary h2 {
  font-size: 26px;
  padding: 0 19px;
}

.summary .menu {
  overflow: auto;
  white-space: nowrap;
  padding: 0 7px;
}

.summary .menu li {
  display: inline-block;
  vertical-align: top;
  min-width: 80px;
  text-align: center;
}

.summary .menu a {
  display: block;
  color: #373d48;
  padding: 14px 0 13px;
}

.summary .menu a.current i {
  background: #f5f6f7;
}

.summary .menu a.activity i:before {
  background-image: url("../images/svg/mweb-tab-activity-active.svg");
}

.summary .menu a.inbox i:before {
  background-image: url("../images/svg/activity-icons-inbox.svg");
}

.summary .menu a.notify i:before {
  background-image: url("../images/svg/activity-icons-notifications.svg");
}

.summary .menu a.chats i:before {
  background-image: url("../images/svg/activity-icons-chats.svg");
}

.summary .menu a.chats small {
  padding: 0 6px;
}

.summary .menu a.article i:before {
  background-image: url("../images/svg/activity-icons-articles.svg");
}

.summary .menu a.newsletter i:before {
  background-image: url("../images/svg/activity-icons-newsletter.svg");
}

.summary .menu i {
  display: block;
  margin: 0 auto 8px;
  position: relative;
  width: 53px;
  height: 53px;
  border: 2px solid #f5f6f7;
  border-radius: 100%;
  line-height: 50px;
}

.summary .menu i:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  background-size: contain;
  vertical-align: middle;
}

.summary .menu small {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #fff;
  background: #2785fa;
  line-height: 15px;
  border-radius: 8px;
  padding: 0 4px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  min-width: 7px;
}

.activity .list > li {
  margin-bottom: 5px;
  background: #fff;
}

.activity .list .activity-status {
  display: table;
  width: 100%;
  font-size: 15px;
}

.activity .list .activity-status a {
  font-weight: bold;
}

.activity .list .activity-status p {
  display: table-cell;
  vertical-align: middle;
  padding: 15px 15px 15px 63px;
  position: relative;
  height: 37px;
}

.activity .list .activity-status img {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 37px;
  height: 37px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  margin-top: -19px;
}

.activity .list .activity-status img.store {
  border-radius: 3px;
}

.activity .list .activity-status .name {
  color: #373d48;
}

.activity .list .activity-status .name.verified:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  background: url("../images/svg/activity-verified.svg") no-repeat;
  background-size: cover;
  margin: -3px 2px 0 4px;
}

.activity .list .store-update {
  position: relative;
  padding-bottom: 10px;
}

.activity .list .store-update .activity-status {
  font-size: 16px;
}

.activity .list .store-update .bio {
  font-size: 14px;
  line-height: 20px;
  display: block;
  padding: 12px 15px;
  border-top: 1px solid rgba(234, 234, 234, 0.7);
}

.activity .list .store-update .figure {
  display: block;
  background: no-repeat 50% 50%;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
}

.activity .list .store-update .figcaption {
  position: relative;
  display: block;
  background: #f5f6f7;
  margin: 10px 10px 0;
  font-size: 13px;
  line-height: 18px;
  padding: 7px 0 7px 60px;
}

.activity .list .store-update .figcaption img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.activity .list .store-update .figcaption .title {
  display: block;
  font-size: 14px;
  color: #373d48;
  font-weight: 400;
}

.activity .list .store-update .figcaption .price {
  font-size: 13px;
  color: #373d48;
  font-weight: 600;
}

.activity .list .store-update .btn-blue {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.activity .list .items {
  overflow: auto;
  white-space: nowrap;
  padding: 0 9px 15px;
}

.activity .list .items li {
  display: inline-block;
  vertical-align: top;
  margin: 0 4px;
  width: 150px;
}

.activity .list .items a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #373d48;
}

.activity .list .items img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: no-repeat 50% 50%;
  background-size: cover;
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

.activity .list .items .title {
  font-weight: 500;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity .list .items .price {
  font-weight: 600;
}

.activity .list .items .price.sales {
  color: #ff4933;
}

.activity .list .items .price .before {
  font-weight: normal;
  text-decoration: line-through;
  color: black;
}

.activity .list .empty {
  font-size: 14px;
  color: #8a8f9c;
  text-align: center;
  background: none;
  padding: 47px 0 0;
}

.activity .list .empty:after {
  content: '';
  display: block;
  width: 205px;
  height: 134px;
  background: url("../images//svg/activity-graphic.svg") no-repeat;
  background-size: cover;
  margin: 46px auto 0;
}

.activity .list .empty b {
  display: block;
  font-size: 21px;
  color: #373d48;
  padding-bottom: 8px;
}

.activity .list .empty .btn-blue {
  margin-top: 17px;
}

.activity .activity-item {
  margin: 0;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.activity .activity-item .user-profile {
  position: relative;
  border-top: 0;
}

.activity .activity-item .user-profile .info {
  position: relative;
  display: block;
  font-size: 13px;
  line-height: 18px;
  padding: 13px 120px 13px 106px;
  color: #8a8f9c;
}

.activity .activity-item .user-profile .info a {
  display: block;
}

.activity .activity-item .user-profile .info .photo {
  position: absolute;
  left: 15px;
  bottom: 12px;
  width: 82px;
  height: 82px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  border: 2px solid #fff;
}

.activity .activity-item .user-profile .info .username {
  color: #373d48;
  font-size: 14px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity .activity-item .user-profile .follow, .activity .activity-item .user-profile .following {
  position: absolute;
  right: 25px;
  bottom: 25px;
  line-height: 30px;
  margin-left: 6px;
  border-radius: 18px;
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  font-weight: 500;
  text-indent: 0;
  text-align: center;
  background: #2785fa;
  border: 1px solid #2785fa;
  color: #fff;
  padding-left: 21px;
  width: 60px;
}

.activity .activity-item .user-profile .follow:before, .activity .activity-item .user-profile .following:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  background: url("../images/svg/mweb-profile-follow.svg") no-repeat;
  background-size: contain;
  width: 11px;
  height: 11px;
  top: 13px;
  left: 13px;
}

.activity .activity-item .user-profile .following {
  background: #fff;
  border-color: #e6e7e8;
  color: #8a8f9c;
  width: 70px;
  padding-left: 27px;
}

.activity .activity-item .user-profile .following:before {
  left: 20px;
}

.activity .activity-item .user-profile .following.follow-store {
  width: 100px;
}

.activity .activity-item .activity-status:before, .activity .activity-item .activity-status:after {
  display: none;
}

.activity .comment-list {
  padding: 7px 0;
  border-top: 1px solid rgba(234, 234, 234, 0.7);
}

.activity .comment-list li {
  position: relative;
  padding: 9px 0 9px 63px;
}

.activity .comment-list .username {
  display: block;
  color: #373d48;
  font-size: 13px;
  line-height: 18px;
}

.activity .comment-list img {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.activity .cover img {
  max-width: 100%;
  display: block;
}

.activity .livechat {
  position: relative;
}

.activity .livechat .info {
  position: relative;
  display: block;
  font-size: 13px;
  line-height: 18px;
  padding: 13px 0 13px 106px;
  color: #8a8f9c;
}

.activity .livechat .info a {
  display: block;
}

.activity .livechat .info .photo {
  position: absolute;
  left: 15px;
  bottom: 12px;
  width: 82px;
  height: 82px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  border: 2px solid #fff;
}

.activity .livechat .info .username {
  color: #373d48;
  font-size: 14px;
}

.activity .livechat-dialog {
  padding: 7px 0;
  border-top: 1px solid rgba(234, 234, 234, 0.7);
}

.activity .livechat-dialog li {
  position: relative;
  padding: 9px 0 9px 63px;
}

.activity .livechat-dialog .username {
  display: block;
  color: #373d48;
  font-size: 13px;
  line-height: 18px;
}

.activity .livechat-dialog img {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.activity .livechat-dialog .option {
  display: block;
  padding-top: 9px;
}

.activity .livechat-dialog .option a {
  color: #8a8f9c;
  font-size: 11px;
}

.activity .livechat-dialog .option a + a {
  margin-left: 7px;
}

.activity .livechat-dialog .option a:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: url("../images/livechat.png") no-repeat;
  background-size: 100px 100px;
  margin: -3px 6px 0 0;
}

.activity .livechat-dialog .option a.vote:before {
  width: 9px;
  height: 15px;
  background-position: 0 -20px;
}

.activity .livechat-dialog .option a.downvote:before {
  background-position: -10px -20px;
  opacity: 1;
}

.activity .livechat-dialog .option a.reply:before {
  width: 14px;
  height: 10px;
  background-position: -20px -20px;
}

.activity .livechat-dialog .option a.share:before {
  width: 13px;
  height: 10px;
  background-position: -35px -20px;
}

.activitiy-tab {
  display: none;
}

.wrap.notifications {
  -webkit-box-shadow: 0 0 2px rgba(200, 200, 200, 0.08), 0 1px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 2px rgba(200, 200, 200, 0.08), 0 1px 0 rgba(0, 0, 0, 0.06);
}

.notification-list {
  position: relative;
  font-size: 13px;
  color: #373d48;
  padding: 15px 15px 15px 64px;
  min-height: 36px;
  line-height: 18px;
  border-top: 5px solid #f0f3f5;
  background: #fff;
}

.notification-list:first-child {
  border-top: 0;
}

.notification-list .avatar {
  position: absolute;
  top: 12px;
  left: 12px;
}

.notification-list .avatar img {
  width: 41px;
  height: 41px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.notification-list dt a {
  color: #373d48;
}

.notification-list dt a.user {
  font-weight: bold;
}

.notification-list .comment {
  display: block;
  color: #8a8f9c;
}

.notification-list .deals img {
  width: 63px;
  display: none;
}

.notification-list .thumnail, .notification-list .lists {
  display: none;
  margin: 5px 0;
  white-space: nowrap;
  overflow: auto;
}

.notification-list .thumnail img, .notification-list .lists img {
  width: 63px;
  height: 63px;
  border-radius: 3px;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.036);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.036);
}

.notification-list .lists {
  display: block;
}

.notification-list .timer {
  display: block;
  color: #8a8f9c;
  font-size: 11px;
  padding-top: 2px;
}

.notification-list .follow, .notification-list .following {
  line-height: 25px;
  height: 25px;
  width: 25px;
  text-align: center;
  display: block;
  border: 1px solid;
  border-radius: 3px;
  font-weight: bold;
  color: #4c4f53;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f0f0f0));
  background-image: linear-gradient(top, #fcfcfc, #f0f0f0);
  border-color: #c3c3c3 #bebebe #b6b6b6;
  margin-top: 5px;
  padding: 0;
  display: none;
}

.notification-list .follow .icon, .notification-list .following .icon {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/search.png") no-repeat;
  background-size: 50px 50px;
  margin-top: -3px;
  width: 14px;
  height: 15px;
  background-position: 0 -15px;
}

.notification-list .follow span, .notification-list .following span {
  display: none;
}

.notification-list .following .icon {
  width: 15px;
  height: 14px;
  background-position: -20px -15px;
}

.notify-empty {
  padding: 0 50px 60px;
  color: #999ca1;
  text-align: center;
}

.notify-empty .icon {
  background: none;
  display: block;
  margin: 60px auto 20px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 100%;
  border: 5px solid #c5c8cc;
}

.notify-empty .ic-notify {
  display: inline-block;
  width: 60px;
  height: 42px;
  vertical-align: middle;
  background: url("../images/no-notify.png") no-repeat;
  background-size: 60px 42px;
}
/*# sourceMappingURL=m.activity.css.map */