
	.amazon .design .text:before {right:auto;left: 50%;margin-left: -100px;}
	.amazon .visual .inner {height:auto;}
	.amazon .visual .text {padding:100px 20px 40px;text-align:center;}
	.amazon .visual h2 {font-size: 30px;line-height:36px;padding-bottom:20px;margin: 0 auto;}
	.amazon .visual h2 small {font-size: 16px;padding-top:10px;line-height: 22px;}
	.amazon .visual .text:before {position:static;display:block;width: 100%;margin: 0 0 40px;height: 240px;background-size: contain;background-position: 50% 0;}
	.container {overflow:visible;height:auto;}
	.amazon .seo:before {left:auto;right:100%;margin-right: -80px;}
	.amazon .seo:after {left:100%;right:auto;margin-left: -80px;}
	.amazon .seo p {padding: 20px 20px 100px;font-size:20px;}
	.amazon .seo .btn-contact {margin: 10px auto;display: block;}
	.amazon .seo li {position:relative;float:none;padding: 0 20px 30px 90px;width: auto;}
	.amazon .seo li:before {position:absolute;left: 17px;top:-13px;}
	.amazon .commerce .text ul {float:none;width:auto;margin:0 20px;}
	.amazon .commerce .text .thumb {position:static;display:block;width: auto;background-size: contain;margin: 0 20px;height: 238px;background-position: 50% 0;}
	.amazon .design ul {float:none;width:auto;padding: 50px 20px 0 90px;}
	.amazon h3 {padding: 50px 20px 0;font-size: 24px;}
	.amazon h3 small {font-size:15px;}
	.amazon .signup h3 {font-size: 20px;}
	.amazon .commerce {padding-bottom:0;}
	.amazon .seo .text {padding-top:50px;}
	.amazon .design .text {margin-top:0;}
	.amazon .design .thumb {position:static;display:block;line-height:1em;text-align:right;width: auto;padding-top: 30px;}
	.amazon .design .thumb img {width: 67%;}
	.amazon .signup .inner {margin:0 15px;width: auto;display: block;height: auto;max-width: none;}
	.amazon .signup h3 {display:block;padding:50px 20px 0;text-align:center;}
	.amazon .signup h3:before {position:static;display:block;margin:0 auto 40px;}
	.amazon .signup p {display:block;padding:20px 0 50px;text-align:center;}
	.amazon .inner {padding:0;}
	.amazon .signup {padding-bottom:20px;}
	.amazon .signup .mask {display:none;}
