.switch_brand:after {
    background: url('../images/profile_button.png') no-repeat;
    background-size: 70px 70px;
}
.switch_brand {
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -10px;
    z-index: 100;
    padding-top: 11px;
}
.switch_brand span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 300px;
    height: 30px;
    margin-left: -150px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    text-align: center;
}
.switch_brand:after {
    content: '';
    width: 20px;
    height: 12px;
    display: block;
    background-position: -35px -45px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: arrow;
    animation-name: arrow;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    -webkit-transform-origin: 0 0 12px;
    transform-origin: 0 0 12px;
}
.brand_cover {
    background-color: #2A2D33;
    overflow: hidden;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 100;
}
.brand_cover img {
    z-index: 0;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
}
.brand_cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.brand_cover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index: 1;
}
@-webkit-keyframes arrow {
    0% {
        -webkit-transform: translate3d(0, 0, 10px) rotateX(37deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translate3d(0, 0, 10px) rotateX(0);
        opacity: 1;
    }
    60% {
        -webkit-transform: translate3d(0, 0, 10px) rotateX(0);
        opacity: 1;
    }
    80% {
        -webkit-transform: translate3d(0, 0, 10px) rotateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 10px) rotateX(-45deg);
        opacity: 0;
    }
}
@keyframes arrow {
    0% {
        transform: translate3d(0, 0, 10px) rotateX(37deg);
        opacity: 0;
    }
    20% {
        transform: translate3d(0, 0, 10px) rotateX(0);
        opacity: 1;
    }
    60% {
        transform: translate3d(0, 0, 10px) rotateX(0);
        opacity: 1;
    }
    80% {
        transform: translate3d(0, 0, 10px) rotateX(0);
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 10px) rotateX(-45deg);
        opacity: 0;
    }
}
