.delivery-type .label i,.payment_type .label i,.shipping-preference .label i {background: url("../images/m_img.png") no-repeat;background-size: 150px 150px;}
.cart input[type="checkbox"]:checked,.wrap input[type="checkbox"]:checked {background: url("../images/checkbox.png") no-repeat 50% 50%;background-size: 11px 8px;}
.complete-view-order .arrow,.complete .ic-end,.payment .card-cvs,.cart-list dt .ic-del,.add-hotelinfo .frm .security .ic-cvs,.birthday .add .ic-del,.payment .card-type,.cart-empty .ic-cart,.complete .select-sdd dt:after,.payment .icon-gw,.delivery-type .icon,.payment_type .icon,.cart-empty .ic-cart,.address-list .btn-area .btn-remove span,.address-frm .btn-area .btn-remove span {background: url("../images/cart.png") no-repeat;background-size: 175px 120px;}
.cart #loading .spinner {background: url("../../_ui/images/common/spinner-medium2x.png") no-repeat;background-size: 48px 48px;}
.payment-list .card-info .card {background: url("../images/checkout2x.png") no-repeat;background-size: 260px 260px;}

.fancybox_manager .option-frm .arrow,.setting .btn-add-addr .ic-plus,.payment-list .card-info .visa, .payment-list .card-info .master,.payment-list .card-info .mastercard, .payment-list .card-info .amex,.card-item .card-info .arrow,.address-list .default .ic-check {background: url("../images/setting.png") no-repeat;background-size: 110px 100px;}
/* layout */
#c dl.error-box,.gate-item,.wrap {background: #fff;border: 1px solid rgba(208, 211, 216, 0.83);box-shadow: 0 0 2px rgba(202, 203, 209, 0.11), 0 0px 1px rgba(0, 0, 0, 0.04);border-radius: 3px;margin: 10px 10px 0;}
#c dl.error-box dt,.gate-item .tit,.wrap .tit {border-radius: 3px 3px 0 0;font-weight: 700;border-bottom: 1px solid #e2e5e7;font-size: 14px;line-height: 20px;padding: 12px 10px;background: #f8f9f9;}
.wrap .tit a {color: #383d48;}
.wrap.tit {border-radius: 3px;font-weight: 700;font-size: 14px;line-height: 20px;padding: 12px 10px;}
.wrap .gate-item {box-shadow: none;border-radius: 0;background: none;border: 0;margin: 0;}
.cart select,.wrap select {height: 30px;padding: 0 8px;-webkit-padding-end: 20px;border: 1px solid #cacccf;border-radius: 3px;background: url("../images/select_boxes.png") no-repeat 100% 50% #f8f8f8;background-size: 18px 21px;}
.cart textarea,.cart input.text,.cart input[type="text"],.wrap textarea,.wrap input.text,.wrap input[type="text"] {border: 1px solid #cacccf;border-radius: 3px;background: #f8f8f8;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;height: 30px;padding: 0 8px;}
.cart input[type="checkbox"],.cart input[type="radio"],.wrap input[type="checkbox"],.wrap input[type="radio"] {width: 14px;height: 14px;vertical-align: middle;margin-top: -3px;border: 1px solid #ccc;background-color: #f8f8f8;}
.cart input[type="radio"],.wrap input[type="radio"] {border-radius: 100%;}
.cart input[type="radio"]:checked,.wrap input[type="radio"]:checked {background: #666;box-shadow: inset 0 0 0 3px #f8f8f8;}
.cart input[type="checkbox"],.wrap input[type="checkbox"] {border-radius: 3px;width: 18px;height: 18px;}
.cart input[type="checkbox"]:checked,.wrap input[type="checkbox"]:checked {background-color: #f8f8f8;}
/* cart */
.cart #frm-addr,.cart #frm-recipient-addr,.cart-list .frm,.cart.show-one form,form.show-this .cart-list .frm.frm-checkout,.cart.show-addr #frm-item,.cart.show-recipient-addr #frm-item {display: none}
.cart.show-one form.show-this,form.show-this .cart-list .frm,.cart.show-addr #frm-addr,.cart.show-recipient-addr #frm-recipient-addr,#frm-addr form,#frm-recipient-addr form {display: block;padding-top: 0;}
form.show-this .cart-list .frm {padding-bottom: 10px;}
.gate-item .frm {padding: 0 10px;}
.shipping-preference li label b {display: inline-block;font-size: 15px;color: #383d48;}
.fbplugin span {display: block;}
.show-one .wrap.title {display: none;}
.show-addr {margin: 0;}
.shown-cart .cart-list .frm {display: block;padding: 0 20px 0}
.cart-empty {padding: 0 50px;color: #999ca1;text-align: center;}
.cart-empty .icon {background: none;display: block;margin: 60px auto 20px;width: 100px;height: 100px;line-height: 100px;border-radius: 100%;border: 5px solid #c5c8cc;}
.cart-empty .ic-cart {display: inline-block;width: 47px;height: 45px;background-position: -105px 0;vertical-align: middle;margin: 2px 4px 0 0;}
.cart-list .frm.frm-checkout {display: block;padding-bottom: 10px;}
.cart-list .frm .delivery-terms {padding: 15px 10px 0;border-bottom: 1px solid #d8d9dc;margin: 0 -10px;}
.cart-list .frm .delivery-terms p {border: 0;padding-top: 0;}
.cart-list .frm p {position: relative;padding: 15px 10px;margin: 0 -10px;border-bottom: 1px solid #d8d9dc;}
.cart-list .frm .address-box {display: block;color: #8a8f9c;line-height: 18px;}
.cart-list .frm .address-name {display: inline-block;padding: 10px 0 5px;color: #383d48;}
.cart-list .frm select,.cart-list .btn-payment,.cart-list .btn-checkout {display: block;width: 100%;}
.cart-list .btn-payment,.cart-list .google-wallet-button,.cart-list #amex-express-checkout {margin-top: 10px;line-height: 42px;font-size: 14px;}
.cart-list .google-wallet-button div {vertical-align: top;}
#amex-express-checkout div[class^="express-checkout-button"] {display: block !important;width: auto !important;max-width: none !important;}
#amex-express-checkout * {font-size: 14px !important;}
.cart-list .frm .btn-address {position: absolute;top: 12px;right: 10px;}
.cart-list .frm .address-delete {display: inline-block;padding-top: 7px;}
.cart-list .frm textarea {width: 100%;height: 60px;padding: 5px 8px;}
.cart-list .frm .option textarea {margin-top: 10px;display: none;}
.cart-list .frm .btn-apply {position: absolute;top: 15px;padding: 0;width: 65px;text-align: center;right: 10px;}
.cart-list .frm input[type="tel"],.cart-list .frm input[type="zip"],.cart-list .frm input[type="number"],.cart-list .frm input[type="text"] {width: 80%;width: calc(100% - 70px);width: -webkit-calc(100% - 70px);width: -moz-calc(100% - 70px);}
.cart-list .label {display: block;font-size: 14px;font-weight: bold;padding: 0 0 7px;margin-top: -3px;}
.cart-list .trick {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(255, 255, 255, 0.8);z-index: 2;}
.cart-list .tit {position: relative;font-size: 13px;font-weight: normal;}
.cart-list dt .ic-del,.birthday .add .ic-del {display: inline-block;width: 11px;height: 11px !important;margin-top: -3px;background-position: 0 -50px;vertical-align: middle;}
.cart-list dd.cart-item .btn-remove {position: absolute;top: 31px;right: 10px;z-index: 3;}
.cart-list dt .btn-gray {position: absolute;top: 8px;right: 10px;line-height: 26px;box-shadow: none;}
.cart-list dt .btn-remove {width: 28px;padding: 0;}
.cart-list dt .btn-cancel,.cart-list dd .btn-remove,.cart-list.edit dt .btn-remove,.cart-list.edit .qty,.cart-list .trick {display: none;}
.cart-list.edit dt .btn-cancel,.cart-list.edit dd .btn-remove,.cart-list dt .btn-remove,.cart-list .qty,.cart-list.edit .trick {display: inline-block;}
.cart-list dt .ship-title {font-size: 14px;}
.cart-list .update-card .frm p {margin: 0;border: 0;}
.cart-list .receipt {padding: 15px 0 0;}
.wrap.title .tit {background: none;border: 0;}
.receipt {padding-top: 15px;}
.receipt li {clear: both;line-height: 22px;text-align: right;color: #383d48;}
.receipt span {float: left;text-align: left;color: #8a8f9c;}
.receipt small {font-weight: normal;font-size: 11px;}
.receipt li.total {margin-top: 10px;padding: 10px 0;border-top: 1px solid #eef0f1;}
.receipt li.total span {color: #383d48;font-weight: bold;}
.receipt .left {float: left;}
.receipt .right {float: right;}
.cart-item {border-bottom: 1px solid #d8d9dc;}
.cart-item:after,.cart-item li:after {content: '';clear: both;display: block;}
.cart-item li {position: relative;min-height: 70px;padding: 10px 90px 10px 10px;border-top: 1px solid #eef0f1;}
.cart-item li:first-child {border-top: 0;}
.cart-item img {float: left;width: 70px;height: 70px;margin-right: 10px;background-position: 50% 50%;background-size: cover;}
.cart-item a {display: inline-block;padding-bottom: 5px;color: #383d48;font-size: 13px;}
.cart-item .option {position: absolute;right: 10px;top: 10px;max-width: 80px;text-align: right;}
.cart-item .option .price {padding-bottom: 6px;color: #383d48;}
.cart-item .stit {float: left;width: 40%;width: calc(100% - 80px);width: -webkit-calc(100% - 80px);width: -moz-calc(100% - 80px);color: #8a8f9c;font-size: 12px;}
.cart-item .stit .error {display: block;font-size: inherit;padding-top: 1px;}
.cart-item .price {clear: both;display: block;color: #8a8f9c;}
.cart-item .price small {font-weight: normal;font-size: 11px;}
.cart-item .error {color: #ed462f;font-style: normal;}
.cart-item .qty {color: #8a8f9c;font-size: 11px;}
.cart-item .delivery-type {clear: both;border: 0;padding: 0 0 15px;margin: 0;}
.cart-item .delivery-type li {padding: 10px 10px 0;min-height: 0;border: 0;}
.cart-item .delivery-type li label b {display: inline;font-weight: normal;}
.cart-item .delivery-type li .plus {display: none;}
.cart-item .delivery-type li.selected label {color: #383d48}
.cart-item .delivery-type .icon {margin-top: 0;}
.cart-item .delivery-type .ic-delivery {margin-top: 0;}
.cart-item .delivery-type li input {vertical-align: middle;margin-top: 0;}
.delivery-type,.payment_type,.shipping-preference {position: relative;margin: 0 -10px;border-bottom: 1px solid #d8d9dc;}
.delivery-type .label,.payment_type .label,.shipping-preference .label {position: relative;padding: 14px 10px;margin: 0;}
.delivery-type .label em,.payment_type .label em,.shipping-preference .label em {position: absolute;top: 50%;right: 10px;font-size: 14px;color: #8a8f9c;font-weight: normal;line-height: 20px;margin-top: -10px;}
.delivery-type .label i,.payment_type .label i,.shipping-preference .label i {display: inline-block;width: 13px;height: 10px;background-position: -70px -90px;opacity: 0.7;margin: -3px 0 0 4px;vertical-align: middle;}
.delivery-type ul {display: none;}
.payment_type ul,.shipping-preference ul {border-top: 1px solid #e2e5e7;}
.delivery-type li,.payment_type li,.shipping-preference li {position: relative;padding: 10px;border-top: 1px solid #e2e5e7;line-height: 20px;font-size: 13px;}
.payment_type li:first-child,.shipping-preference li:first-child {border-top: 0;}
.delivery-type li label,.payment_type li label,.shipping-preference li label {display: inline-block;vertical-align: middle;color: #383d48;opacity: 0.55;margin-left: 4px;}
.delivery-type li label b {display: block;color: #383d48;}
.delivery-type li input {margin-right: 4px;}
.delivery-type .plus {position: absolute;top: 50%;right: 10px;margin-top: -10px;color: #8a8f9c;line-height: 20px;}
.delivery-type li.selected label,.shipping-preference li.selected label {opacity: 1;color: #8a8f9c;}
.delivery-type li.selected .plus,.shipping-preference li.selected .plus {color: #383d48;}
.delivery-type .icon {display: inline-block;opacity: 0.5;vertical-align: middle;margin-top: -3px;}
.delivery-type li.selected .icon {opacity: 1;}
.delivery-type .ic-truck_s {width: 22px;height: 14px;background-position: -153px -65px;margin-left: 4px;}
.delivery-type .ic-truck {width: 26px;background-position: -126px -65px;height: 14px;}
.delivery-type .ic-delivery {width: 23px;height: 16px;background-position: -125px -83px;margin-left: 3px;}
.delivery-type.open ul {display: block;}
.delivery-type.open .label i {background-position: -85px -90px;}
.payment_type li label {color: #383d48;}
.payment_type li small {display: block;font-size: 12px;color: #383d48;}
.payment_type .icon {display: inline-block;vertical-align: middle;margin-top: -3px;}
.payment_type .card {width: 124px;height: 24px;background-position: 0 -90px;}
.payment_type .amex-card {width: 40px;height: 24px;background-position: -85px -90px;}
.payment_type .bitcoin {width: 27px;height: 27px;background-position: -149px -83px;margin-right: 4px;}
.payment_type li.selected label {opacity: 1;}
.payment_type li.selected small {color: #8a8f9c;}
/* purchase */
.tab {font-size:0;letter-spacing:0;white-space:nowrap;padding: 15px;overflow: auto;}
.tab li {display:inline-block;vertical-align:top;}
.tab a {display:block;padding:0 15px;color: #5d6771;font-size:15px;line-height:36px;border-radius: 18px;font-weight: bold;}
.tab a.current {background:#EBECED;color: #2E363E;}
.purchase-list dt .tit {display: block;font-weight: normal;color: #383d48;background: none;}
.purchase-list dt .tit b {color: #2785FA;}
.purchase-list p {color: #40454b;line-height: 20px;padding: 10px;}
.purchase-list .order-list li {position: relative;border-top: 1px solid #f0f2f3;padding: 10px 90px;min-height: 70px;color: #8a8f9c;}
.purchase-list .order-list .thing {display: block;padding-bottom: 5px;color: #383d48}
.purchase-list .order-list img {position: absolute;top: 10px;left: 10px;width: 70px;height: 70px;background-position: 50% 50%;background-size: cover;}
.purchase-list .order-list .price {position: absolute;top: 10px;right: 10px;color: #383d48}
.purchase-list .order-list .price small {font-size: 11px;}
.purchase-list .order-list .qty {position: absolute;top: 30px;right: 10px;}
.purchase-list .order-list a {color: #8a8f9c;}
.purchase-list .status b {display: block;}
.purchase-empty {padding: 0 50px;color: #999ca1;text-align: center;}
.purchase-empty .icon {display: block;margin: 60px auto 20px;width: 100px;height: 100px;line-height: 100px;border-radius: 100%;border: 5px solid #c5c8cc;background: none;}
.purchase-empty .ic-purchase {display: inline-block;background: url("../images/no-purchase.png") no-repeat;background-size: 43px 55px;width: 43px;height: 56px;vertical-align: middle;margin-bottom: 3px;}
/* purchase detail */
.order .wrap.status .msg-us {margin: 0 10px 10px;}
.order .wrap.status .tit {background: none;}
.order .wrap.status ul {padding: 10px 10px 0;}
.order .wrap.status li {line-height: 20px;}
.order .wrap.status .stit {color: #8a8f9c;font-size: 12px;}
.order .wrap.status address {line-height: 20px;font-style: normal;padding: 10px;}
.order .wrap.status address .stit {display: inline-block;padding-bottom: 3px;}
.order .cart-list .tit {background: none;}
.order .cart-list .label {padding-bottom: 10px;display: block;}
.order .cart-list .frm {display: block;padding: 0 10px 10px;}
.order .receipt li.total {padding-bottom: 0;}
/* new address */
.address-frm {padding-top: 5px;}
.address-frm .label {display: block;padding: 7px 0;}
.address-frm p {clear: both;padding: 0 10px;}
.address-frm .check {padding: 10px 10px 15px;}
.address-frm input[type="tel"],.address-frm input[type="zip"],.address-frm input[type="number"],.address-frm input[type="text"],.address-frm textarea,.address-frm select {display: block;width: 100%;margin-bottom: 5px;}
.address-frm .btn-area,.payment .btn-area {padding: 10px;border-top: 1px solid #eef0f1;text-align: right;}
.address-frm .btn-area:after {content: '';clear: both;display: block;}
.address-frm .city,.address-frm .zip {float: left;width: 65%;width: -webkit-calc(70% - 20px);width: -moz-calc(70% - 20px);width: calc(70% - 20px);}
.address-frm .city {padding-right: 0;}
.address-frm .zip {clear: none;float: right;width: 25%;width: -webkit-calc(30% - 10px);width: -moz-calc(30% - 10px);width: calc(30% - 10px);padding-left: 0;}
/* update card */
.update-card {display: none;border-bottom: 1px solid #eef0f1;padding: 0 10px;}
.update-card .shipping .label {padding: 10px 0 7px;font-weight: bold;}
.update-card .receipt .label {padding: 10px 0 7px;font-weight: bold;}
.update-card .frm {display: block;margin: 0;}
.update-card .frm.address {display: block;padding-bottom: 0;}
.update-card .frm .label {padding: 5px 0 7px;font-weight: normal;font-size: 13px;}
.update-card .frm .btn-gray {margin: 0;}
.update-card button.btn-green {line-height: 38px;width: 100%;}
.update-card .frm {padding: 10px 0;margin: 0 10px;}
.update-card .frm h3 {font-size: 14px;padding-bottom: 10px;}
.update-card .btn-area:after {content: '';clear: both;display: block;}
.update-card .btn-area button {line-height: 38px;font-size: 13px;width: 48.2%;width: calc(50% - 5px);width: -webkit-calc(50% - 5px);width: -moz-calc(50% - 5px);float: left;}
.update-card .btn-area .btn-cancel {margin-left: 10px;}
.coupon-list {display: block;line-height: 22px;padding: 10px 0 0;}
.coupon-list em {display: block;font-style: normal;font-size: 11px;color: #666a75;}
.coupon-list a {margin-left: 3px;}
.delivery-option label small {color: #8a8f9c;font-weight: normal;font-size: 11px;}
.delivery-option .comment {color: #8a8f9c;font-weight: normal;font-size: 11px;padding-top: 7px;display: block;}
/* payment */
.fancybox_manager .category,.fancybox_manager .preferences,.fancybox_manager .option-frm dd {padding: 5px 10px 10px;border-bottom: 1px solid #eef0f1;}
.payment .frm span.error,.address-frm span.error {color: #ed462f;font-size: 12px;display: block;margin: -3px 0 3px;}
.payment .icon-gw {display: inline-block;width: 22px;height: 23px;background-position: -100px -66px;vertical-align: middle;margin: -3px 4px 0 0;}
.payment .card-type {display: inline-block;text-indent: -1000em;width: 72px;height: 16px;background-position: 0 -65px;vertical-align: middle;margin: -3px 0 0 6px;}
.payment .label {margin: 0;padding: 14px 0 10px;display: block;}
.payment .cart-list .tit {font-size: 14px;font-weight: bold;margin: 0 -10px;}
.payment .cart-list .btn-payment {margin-top: 0;}
.payment .cart-list .frm {display: block;border-bottom: 1px solid #f5f6f7;}
.payment .cart-list .frm .zip {clear: none;float: right;width: 30%}
.payment .frm .zip {clear: none;float: right;width: 30%}
.payment .frm.card-frm {padding: 7px 0 10px;border-bottom: 1px solid #eef0f1;margin: 0;}
.payment .frm.card-frm p {margin: 0;border: 0}
.payment .frm.address {display: none;margin: 15px 0 0;border: 0;border-top: 1px solid #eef0f1;}
.payment .frm.address p {margin: 0;border: 0}
.payment .frm.btn-area {border: 0;margin: 0;padding: 10px 0 15px;}
.payment .frm .city {float: left;width: 68%;width: -webkit-calc(70% - 10px);width: -moz-calc(70% - 10px);width: calc(70% - 10px);}
.payment .frm .exp-month {width: 60px;}
.payment .frm .exp-year {width: 80px;}
.payment .frm p {clear: both;padding: 0;}
.payment .frm p.primary {padding-top: 10px;}
.payment .frm .check {padding: 10px 10px 11px;}
.payment .frm input[type="tel"],.payment .frm input[type="zip"],.payment .frm input[type="number"],.payment .frm input[type="text"],.payment .frm .state select {display: block;width: 100%;margin-bottom: 7px;}
.payment .frm .country select {display: block;width: 100%;margin: 0;}
.payment .frm select {display: inline-block;width: auto;margin-bottom: 7px;}
.payment .frm .name {clear: none;float: left;width: 46.5%;width: -webkit-calc(50% - 10px);width: -moz-calc(50% - 10px);width: calc(50% - 10px);}
.payment .frm .name.last {clear: none;float: right;}
.payment .frm .security input[type="text"] {display: inline-block;width: 46.5%;width: -webkit-calc(50% - 10px);width: -moz-calc(50% - 10px);width: calc(50% - 10px);}
.payment address {font-style: normal;font-size: 12px;line-height: 18px;color: #666a75;}
.payment address b {color: #383d48;}
.payment .card-cvs {display: inline-block;width: 48px;height: 32px;vertical-align: middle;background-position: 0 -15px;margin: -3px 0 6px 4px;}
.payment .easy_pay {background: #f9fafb;border: 1px solid #ccd1d6;padding: 7px 10px;margin-top: 10px;color: #62656c;border-radius: 3px;line-height: 18px;}
.payment .easy_pay b {display: inline-block;padding-bottom: 5px;}
.payment .default-card .select-card {display: block;width: 100%;margin: 10px 0 0;}
.payment .default-card .card-info {padding: 8px 0 5px;line-height: 18px;}
.payment .default-card .card-info small {color: #8a8f9c;font-size: 13px;}
.payment .default-card,.payment .amex {border-bottom: 0px;padding: 0 10px;}
.payment .terms {padding: 0 10px 15px;font-size: 12px;line-height: 16px;}
.payment .billing {padding: 15px 0 10px;}
.payment .billing .frm .label {font-weight: normal;font-size: 13px;padding-bottom: 7px;}
.payment .billing .label {font-weight: bold;padding: 0 0 15px;font-size: 14px;}
.payment .shipping {padding: 0 10px 15px;border-bottom: 1px solid #eef0f1;}
.payment .receipt {padding: 0 10px;}
.payment .cart-list .update-card .btn-area .btn-cancel {margin-left: 0;width: 100%;}
/* complete */
.complete .summary {text-align: center;background: #fcfcfc;border-radius: 3px;padding: 25px 20px;overflow: hidden;}
.complete .summary p {color: #8a8f9c;padding: 15px 0 0;font-size: 12px;line-height: 18px;}
.complete .summary h2 {font-size: 18px;color: #74b86e;}
.complete .summary .circle {display: block;width: 74px;height: 74px;margin: 0 auto 10px;line-height: 74px;border: 2px solid #e2e5e7;border-radius: 100%;}
.complete .summary .ic-end {display: inline-block;width: 46px;height: 41px;background-position: -55px 0;vertical-align: middle;margin: 0;}
.complete .complete-tail {padding: 14px 10px;color: #8a8f9c;border-top: 1px solid #c6ccd2;}
.complete-view-order {position: relative;display: block;padding: 12px 10px;line-height: 20px;font-size: 14px;color: #383d48;}
.complete-view-order .arrow {position: absolute;right: 10px;top: 50%;display: block;width: 10px;height: 14px;background-position: -22px 0;margin-top: -7px;}
.complete-view-order b {color: #588cc7;}
.complete .select-sdd dd {padding: 10px;border-top: 1px solid #f1f1f1;}
.complete .select-sdd .btn-green {display: block;width: 100%;margin-top: 10px;line-height: 38px;}
.complete .select-sdd textarea {display: block;width: 100%;padding: 6px 8px;height: 80px;}
.complete .select-sdd dt {position: relative;}
.complete .select-sdd dt a {display: block;color: #67717a;padding: 10px;line-height: 20px;}
.complete .select-sdd dt .day {display: block;font-size: 11px;color: #8a8f9c;}
.complete .select-sdd dt .day b {color: #67717a;}
.complete .select-sdd dt .time {display: block;font-size: 14px;font-weight: bold;}
.complete .select-sdd dt:after {content: '';position: absolute;top: 50%;right: 10px;width: 10px;height: 14px;background-position: -22px 0;margin-top: -7px;}
.complete .receipt {padding: 8px 10px;border-bottom: 1px solid #e2e5e7;}
.complete .receipt span {color: #383d48;}
#c dl.error-box p {color: #e0646d;}
#c dl.error-box dd.txt-error {padding: 10px;display: none;color: #e0646d;}
.cart div.error {background: #fffccc;margin: 0;color: #40454b;border-top: 1px solid #cfcda6;padding: 10px;border-radius: 0 0 3px 3px;line-height: 25px;}
.cart div.error p {display: inline-block;vertical-align: middle;line-height: 18px;}
.cart div.error:first-child {border-top: 0;border-radius: 3px;}
.cart #loading {position: absolute;display: block;top: 0;right: 0;width: 100%;background: rgba(255, 255, 255, 0.8);height: 100%;z-index: 1;}
.cart #loading .spinner {position: fixed;left: 50%;top: 50%;width: 50px;height: 50px;margin: -25px 0 0 -25px;animation: loading_spin 0.8s infinite linear;-webkit-animation: loading_spin 0.8s infinite linear;-moz-animation: loading_spin 0.8s infinite linear;}
.cart-item .msg {clear: both;display: block;padding-top: 0.55em;margin: 0 -6em -0.3em 0;}
.cart-item .msg li {padding-top: 0.2em;line-height: 1.32em;color: #383d48;padding: 0;min-height: 0;border: 0;word-break: break-all;}
.cart-item .msg b {font-weight: normal;color: #8a8f9c;}
@media screen and (-webkit-min-device-pixel-ratio: 2) {#c dl.error-box,#c dl.error-box dt,.cart-list .frm .delivery-terms,.cart-list .frm p,.receipt li.total,.cart-item,.cart-item li,.delivery-type,.payment_type,.shipping-preference,.payment_type ul,.shipping-preference ul,.delivery-type li,.payment_type li,.shipping-preference li,.tab a,.purchase-list .order-list li,.address-frm .btn-area,.payment .btn-area,.update-card,.fancybox_manager .category,.fancybox_manager .preferences,.fancybox_manager .option-frm dd,.payment .cart-list .frm,.payment .frm.card-frm,.payment .frm.address,.payment .easy_pay,.payment .shipping,.complete .summary,.complete .complete-tail,.complete .select-sdd dd,.complete .receipt,.cart div.error {border-width: 0.0385em;}
}
/* setting payment */
.payment-list .tit {position: relative;}
.payment-list .tit a {font-size: 13px;font-weight: normal;line-height: 20px;right: 10px;top: 50%;margin-top: -10px;position: absolute;}
.payment-list .card-info a {position: relative;display: block;padding: 10px;color: #40454b;}
.payment-list .card-info b {display: block;padding-bottom: 6px;}
.payment-list .card-info small {font-size: 12px;color: #8a8f9c;font-weight: normal;padding-left: 4px;}
.payment-list .card-info .card {display: inline-block;width: 30px;height: 20px;margin: -3px 3px 0 0;vertical-align: middle;background-position:-192px -33px;}
.payment-list .card-info .visa {background-position: -30px -79px;}
.payment-list .card-info .master,.payment-list .card-info .mastercard {background-position: 0 -79px;}
.payment-list .card-info .amex {background-position: -60px -79px;}
.payment-list .card-info .arrow {position: absolute;top: 50%;right: 10px;width: 13px;height: 9px;background-position: -90px -90px;margin-top: -5px;}
.payment-list .card-info span {display: block;line-height: 18px;}
.payment-list .detail {display: none;border-top: 1px solid #d9dadb;}
.payment-list .detail p {color: #383d48;padding: 10px 10px 0;}
.payment-list .detail p b {display: block;color: #40454b;padding-bottom: 4px;}
.payment-list .detail .btn-area {margin-top: 10px;border-top: 1px solid #e2e5e7;background: #f8f9f9;padding: 10px 0;border-radius: 0 0 3px 3px;text-align: center;}
.payment-list .show .detail {display: block;}
.payment-list .show .card-info .arrow {background-position: -90px -80px;}
.payment-list .detail .btn-blue,.payment-list .detail .btn-gray {width: 48%;width: calc(50% - 15px);width: -webkit-calc(50% - 15px);width: -moz-calc(50% - 15px);margin: 0 5px;}
.payment.wrap .update-card.add-card {display: block;padding: 0;border: 0;}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
.payment-list .detail,.payment-list .detail .btn-area {border-width: 0.0385em;}
}
/* shipping address */
.setting .btn-area {padding: 10px;}
.setting .btn-area button {width: 100%;line-height: 38px;font-size: 14px;}
.setting.fixed_btn {padding-bottom: 60px;}
.setting.fixed_btn .profile-frm:last-of-type dd:last-of-type {border-bottom-width: 0;}
.setting.fixed_btn .btn-wrap {position: fixed;bottom: 0;left: 0;width: 100%;padding-bottom: 10px;background: #dee0e3;}
.setting.fixed_btn .btn-wrap .btn-area {background: #fff;border: 1px solid #bcbfc3;border-radius: 0 0 3px 3px;box-shadow: 0 0 2px rgba(202, 203, 209, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);margin: 0 10px;}
.address-list .tit {background: none;}
.address-list li {line-height: 20px;}
.address-list a {color: #8a8f9c;}
.address-list .current a {color: #383d48;}
.address-list address {font-style: normal;float: left;width: 50%;padding: 13px 12px 11px;width: calc(50% - 24px);width: -webkit-calc(50% - 24px);width: -moz-calc(50% - 24px);}
.address-frm .btn-area .btn-remove,.address-list .btn-area .btn-remove {padding: 0;width: 27px;text-align: center;margin-left: 0;}
.address-frm .btn-area .btn-remove {float: left;}
.address-frm .btn-area .btn-remove span,.address-list .btn-area .btn-remove span {vertical-align: middle;margin-top: -3px;text-indent: -1000em;display: inline-block;width: 9px;height: 11px;background-position: -15px -50px;}
.address-frm .btn-area button,.address-list .btn-area button {line-height: 27px;margin-left: 2px;width: auto;}
.address-list .btn-area button span,.address-frm .btn-area button span {font-size: 12px;}
.address-list .btn-area {display: block;clear: both;background: #f8f8f8;border-top: 1px solid #e2e3e3;text-align: right;}
.address-list .tel {width: 50%;padding: 13px 12px 11px;width: calc(50% - 24px);width: -webkit-calc(50% - 24px);width: -moz-calc(50% - 24px);}
.address-list .primary {color: #fff;text-transform: uppercase;font-size: 8px;line-height: 15px;padding: 0 5px;border-radius: 3px;display: inline-block;vertical-align: middle;margin: -3px 0 0 6px;background: #373d48;}
.address-list label {display: block;font-size: 10px;line-height: 20px;color: #8a8f9c;text-transform: uppercase;}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
.setting .btn-area {border-width: 0.0385em;}
}
/* group gift contribute */
.group-gift .contribute .gift-to {position: relative;padding: 10px 10px 10px 65px;line-height: 16px;}
.group-gift .contribute .gift-to img {position: absolute;top: 10px;left: 10px;width: 45px;height: 45px;border-radius: 3px;background-position: 50% 50%;background-size: cover;}
.group-gift .contribute .gift-to small {display: block;font-size: 12px;color: #8a8f9c;}
.group-gift .contribute .gift-to b {display: block;}
.group-gift .contribute .gift-to a {color: #383d48;}
.group-gift .contribute .gift-to .location {display: block;font-size: 11px;padding-top: 2px;line-height: 14px;}
.group-gift .payment .update-card {display: block;}
.contribute-frm .btn-area {border-top: 1px solid #d8d9dc;padding: 10px;}
.contribute-frm .btn-payment {width: 100%;line-height: 36px;font-size: 14px;margin-bottom: 10px;}
.contribute-frm fieldset {padding: 15px 10px;}
.contribute-frm fieldset p {padding-bottom: 15px;line-height: 16px;}
.contribute-frm fieldset .cmt {padding: 15px 0 0;color: #8a8f9c;font-size: 12px;}
.contribute-frm fieldset button,.contribute-frm fieldset input[type="tel"],.contribute-frm fieldset input[type="number"],.contribute-frm fieldset input[type="zip"],.contribute-frm fieldset input[type="text"] {background: #f7f7f7;border: 1px solid #b6b6b6;border-radius: 3px;width: 57px;line-height: 28px;color: #56585b;text-shadow: 0 1px 0 #fff;font-weight: bold;text-align: center;box-shadow: none;padding: 0;}
.contribute-frm fieldset input[type="text"],.contribute-frm fieldset input[type="zip"],.contribute-frm fieldset input[type="number"],.contribute-frm fieldset input[type="tel"] {color: #2785FA;}
.contribute-frm fieldset input[type="text"]::-webkit-input-placeholder,.contribute-frm fieldset input[type="zip"]::-webkit-input-placeholder,.contribute-frm fieldset input[type="number"]::-webkit-input-placeholder,.contribute-frm fieldset input[type="tel"]::-webkit-input-placeholder {color: #76787a;}
.contribute-frm fieldset input[type="text"]:-moz-placeholder,.contribute-frm fieldset input[type="zip"]:-moz-placeholder,.contribute-frm fieldset input[type="number"]:-moz-placeholder,.contribute-frm fieldset input[type="tel"]:-moz-placeholder {color: #76787a;}
.contribute-frm fieldset input[type="text"]:-ms-input-placeholder,.contribute-frm fieldset input[type="zip"]:-ms-input-placeholder,.contribute-frm fieldset input[type="number"]:-ms-input-placeholder,.contribute-frm fieldset input[type="tel"]:-ms-input-placeholder {color: #76787a;}
.contribute-frm fieldset input[type="text"].focus,.contribute-frm fieldset input[type="zip"].focus,.contribute-frm fieldset input[type="number"].focus,.contribute-frm fieldset input[type="tel"].focus {border-color: #428ad6;}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
.contribute-frm .btn-area,.contribute-frm fieldset button,.contribute-frm fieldset input[type="tel"],.contribute-frm fieldset input[type="zip"],.contribute-frm fieldset input[type="number"],.contribute-frm fieldset input[type="text"] {border-width: 0.0385em;}
}
/* fancybox manager */
.fancybox_intro {line-height: 18px;}
.fancybox_intro p {padding: 10px;}
.fancybox_intro span {color: #8a8f9c;}
.fancybox_intro small {font-size: 12px;display: inline-block;padding-top: 10px;}
.fancybox_manager.fixed_btn {padding-bottom: 110px;}
.fancybox_manager.fixed_btn .btn-wrap {position: fixed;bottom: 0;left: 0;width: 100%;background: #dee0e3;padding-bottom: 10px;}
.fancybox_manager.fixed_btn .btn-wrap .btn-area {background: #fff;border: 1px solid #bcbfc3;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);margin: 0 10px;border-top-color: #eef0f1;border-radius: 0 0 3px 3px;}
.fancybox_manager .label {padding: 10px 0 6px;}
.fancybox_manager .label small {font-size: 11px;color: #8a8f9c;}
.fancybox_manager .shipping a,.fancybox_manager .default-card a {float: right;}
.fancybox_manager .shipping select,.fancybox_manager .preferences select {width: 100%;margin-bottom: 10px;}
.fancybox_manager .category ul:after,.fancybox_manager .preferences ul:after,.fancybox_manager .device ul:after {clear: both;content: '';display: block;}
.fancybox_manager .category li,.fancybox_manager .preferences li,.fancybox_manager .device li {float: left;width: 50%;line-height: 30px;}
.fancybox_manager .category input,.fancybox_manager .preferences input,.fancybox_manager .device input,.check input,.payment .billing input {vertical-align: middle;margin: -3px 4px 0 0;}
.fancybox_manager .category li:nth-child(odd),.fancybox_manager .preferences li:nth-child(odd) {clear: both;}
.fancybox_manager .preferences {padding-bottom: 10px;}
.fancybox_manager .preferences dt {padding: 10px 0 6px;}
.fancybox_manager .preferences dd {padding-bottom: 6px;}
.fancybox_manager .preferences dl {border-bottom: 1px solid #f4f6f6;}
.fancybox_manager .preferences textarea {width: 100%;height: 80px;padding: 8px;}
.fancybox_manager .preferences .preference-note {border: 0;}
.fancybox_manager .preferences .preference-gender dt {padding-top: 0;}
.fancybox_manager .preferences .preference-device ul {margin-top: 5px;}
.fancybox_manager .option-frm .arrow {position: absolute;display: block;right: 10px;top: 50%;width: 13px;height: 9px;background-position: -90px -90px;margin-top: -5px;}
.fancybox_manager .option-frm.show .arrow {background-position: -90px -80px;}
.fancybox_manager .option-frm dt {position: relative;}
.fancybox_manager .option-frm dt a {display: block;padding: 12px 10px;line-height: 20px;font-weight: bold;color: #40454b;border-bottom: 1px solid #e2e5e7;}
.fancybox_manager .option-frm dd {display: none;}
.fancybox_manager .option-frm.show dd {display: block;}
.fancybox_manager .birthday,.fancybox_manager .device {padding: 4px 0 10px;border-bottom: 1px solid #f4f6f6;}
.fancybox_manager .birthday .default label {display: block;margin: 2px 0 0;color: #8a8f9c;}
.fancybox_manager .birthday select {width: 90px;margin: 7px 0 0 2px;}
.fancybox_manager .birthday select.year {margin-left: 0;}
.fancybox_manager .birthday .add {margin-top: 10px;}
.fancybox_manager .birthday .add input {width: 248px;}
.fancybox_manager .birthday .btn-add {display: inline-block;padding: 12px 0 5px;}
.fancybox_manager .birthday .add .btn-remove {vertical-align: middle;text-align: center;padding: 0;width: 30px;}
.fancybox_manager .preferences .device dd {padding: 0;}
.fancybox_manager .size {padding-bottom: 5px;}
.fancybox_manager .size select {width: 100%;}
.fancybox_manager .payment .default-card {padding: 5px 10px 10px;}
.fancybox_manager .payment .default-card .card-info {font-size: 12px;line-height: 20px;}
.fancybox_manager .btn-cancel {padding: 0 0 10px;line-height: 32px;background: none;font-size: 13px;width: 100%;border-bottom: 1px solid #f4f6f6;color: #588cc7;font-weight: bold;}
.fancybox_manager .btn-save {display: block;width: 100%;line-height: 32px;margin-top: 10px;}
.fancybox_manager .option-frm dd {border-color: #e2e5e7;padding-top: 0;}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
.fancybox_manager .btn-cancel,.fancybox_manager.fixed_btn .btn-wrap .btn-area,.fancybox_manager .preferences dl,.fancybox_manager .option-frm dt a,.fancybox_manager .birthday,.fancybox_manager .device {border-width: 0.0385em;}
}
.setting .btn-add-addr {line-height: 33px;margin: 10px 10px 0;width: 90%;width: calc(100% - 20px);width: -webkit-calc(100% - 20px);width: -moz-calc(100% - 20px);}
.setting .btn-add-addr span {font-size: 12px;}
.order .wrap {margin:5px 0 0;border-radius:0;border:0;box-shadow:none;}
.order .wrap:first-of-type {border-top-width: 10px;}
.order .wrap.purchase-list:first-of-type {border-top: 10px solid #dee0e3;}
.order .wrap.purchase-list {border-top: 5px solid #dee0e3;margin: 0;}
.order .referral {padding:10px;}
