.after:after, #sidebar:after, .wrapper-content:after, .stream:after, .accept_contributor:after {
  content: '';
  clear: both;
  display: block;
}

.interaction .add-item:before, .interaction .edit-list:before, .popup.followers-lists .follow:before, .about .elsewhere li a:before, .interaction .btn-follow .follow:before, .interaction .send-msg:before, #sidebar .extra li:before, .title .ic-verified:before, .interaction .menu-title:before, .interaction .btn-share-popover:before, #sidebar .sign .change:before, .interaction .refine:before, .interaction .btn-share:before, .interaction .btn-user-share:before, #coverImage .camera:before, #coverImage .menu-title:before, #coverImage .camera.btn-upload-cover:before {
  background: url("../../_ui/images/svg/ic_user.svg") no-repeat;
  background-size: 100px 100px;
}

.interaction .add-item, .interaction .edit-list, .interaction .send-msg, .interaction .refine, .interaction .btn-share, .interaction .btn-user-share, .interaction .btn-share-popover, .interaction .menu-title {
  position: relative;
  line-height: 36px;
  width: 36px;
  background: #ebeced;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  text-indent: -1000em;
  margin: 10px 0 0 6px;
  padding: 0;
  border: 0;
  text-align: left;
  cursor: pointer;
}

.interaction .add-item:before, .interaction .edit-list:before, .interaction .send-msg:before, .interaction .refine:before, .interaction .btn-share:before, .interaction .btn-user-share:before, .interaction .btn-share-popover:before, .interaction .menu-title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.85;
}

.interaction .refine {
  display: none;
}

.interaction .refine:before {
  width: 17px;
  height: 14px;
  margin: -9px 0 0 -9px;
  opacity: 0.8;
}

.interaction .edit-list:before {
  width: 12px;
  height: 12px;
  margin: -6px 0 0 -6px;
  opacity: 0.8;
  background-position: -80px -20px;
}

.interaction .add-list:before {
  width: 14px;
  height: 14px;
  margin: -7px 0 0 -7px;
  opacity: 0.8;
  background-position: -70px -70px;
}

.interaction .send-msg:before {
  width: 18px;
  height: 16px;
  background-position: -20px 0;
  margin: -9px 0 0 -9px;
}

.interaction .share-container, .interaction .menu-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.interaction .share-container.opened, .interaction .menu-container.opened {
  z-index: 3;
}

.interaction .share-container .btn-share, .interaction .share-container .btn-share-popover {
  display: block;
}

.interaction .share-container .btn-share:before, .interaction .share-container .btn-share-popover:before {
  width: 16px;
  height: 16px;
  margin: -9px 0 0 -10px;
  background-position: -60px 0;
}

.interaction .menu-container .menu-title {
  display: block;
}

.interaction .menu-container .menu-title:before {
  width: 18px;
  height: 4px;
  background-position: -40px -7px;
  margin: -2px 0 0 -9px;
  opacity: 0.7;
}

.interaction .edit-profile, .interaction .view-store, .interaction .active-selling {
  margin: 10px 0 0 6px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  border-radius: 18px;
  line-height: 34px;
  padding: 0 15px;
  font-size: 14px;
}

.interaction .edit-profile {
  border-color: #ebeced;
  background: #ebeced;
  color: #404757;
}

.interaction .view-store, .interaction .active-selling {
  border-color: #373d48;
  background: #373d48;
  color: #ffffff;
}

.interaction .active-selling + .edit-profile {
  margin-left: 6px;
}

.interaction .more-share-popup {
  bottom: 50px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.interaction .more-share-popup:after, .interaction .more-share-popup:before {
  display: none;
}

.interaction .more-share-popup.bot {
  bottom: auto;
  top: 50px;
  text-align: left;
  left: auto;
  right: 0;
}

.interaction .btn-follow {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 36px;
  overflow: hidden;
  margin: 10px 0 0 6px;
}

.interaction .btn-follow a {
  display: block;
  line-height: 36px;
  padding: 0 15px;
  border: 0;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.interaction .btn-follow a small {
  font-size: 13px;
  color: #B3D3FD;
  font-weight: 400;
}

.interaction .btn-follow .unfollow {
  background: #ebeced;
  color: #4D545B;
}

.interaction .btn-follow .unfollow small {
  color: #5C677A;
}

.interaction .btn-follow .follow, .interaction .btn-follow .following {
  background: #1E7EFC;
  color: #fff;
}

.interaction .btn-follow .follow:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: -45px -20px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

.interaction .btn-follow.unfollow .following, .interaction .btn-follow.following .following, .interaction .btn-follow.follow .following {
  display: none;
}

.interaction .btn-follow.following .follow, .interaction .btn-follow.unfollow .follow {
  margin-top: -36px;
}

.title .ic-verified em, #sidebar .sign .change em {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  font-size: 13px;
  color: #000;
  padding: 0 13px;
  line-height: 36px;
  border-radius: 5px;
  background: #fff;
  white-space: nowrap;
  opacity: 1;
  width: auto;
  margin: 0 0 10px;
  text-indent: 0;
  height: auto;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
}

.title .ic-verified em:after, #sidebar .sign .change em:after {
  border: 4px solid transparent;
  border-top-color: #fff;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -4px;
}

#sidebar .sign {
  float: left;
  width: 180px;
  max-width: 30%;
  margin: 0 20px 0 0;
}

#sidebar .sign .change {
  visibility: hidden;
  position: absolute;
  top: 14px;
  right: 16px;
  opacity: 0;
  transition: all ease-in-out 0.18s;
  -webkit-transition: all ease-in-out 0.18s;
  -moz-transition: all ease-in-out 0.18s;
  -o-transition: all ease-in-out 0.18s;
  z-index: 1;
  padding: 0 16px;
  line-height: 37px;
  display: block;
  border-radius: 19px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border: 0;
}

#sidebar .sign .change:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0 0;
  width: 22px;
  height: 22px;
  background-position: -40px -65px;
}

#sidebar .title, #sidebar .extra, #sidebar .followers {
  float: right;
  clear: right;
  width: calc(100% - 200px);
  min-width: calc(70% - 20px);
}

#sidebar.fixed {
  position: static;
}

#summary {
  position: relative;
  z-index: 1;
}

#summary .menu {
  font-size: 0;
  letter-spacing: 0;
  white-space: nowrap;
  overflow: auto;
  width: auto;
  padding: 15px 10px;
  border-top: 1px solid #f2f2f2;
}

#summary .menu li {
  display: inline-block;
  vertical-align: top;
}

#summary .menu a {
  display: block;
  padding: 0 15px;
  color: #5d6771;
  font-size: 15px;
  line-height: 36px;
  border-radius: 18px;
  font-weight: bold;
}

#summary .menu a.current {
  background: #ebeced;
  color: #373d48;
}

#summary .menu small {
  display: none;
}

#summary .btn-follow {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin: 0 15px 15px 0;
}

#summary .reposition {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 15px 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 0 0 5px 5px;
  display: none;
}

#summary .reposition .guide {
  float: left;
  line-height: 36px;
}

#summary .reposition .btns {
  float: right;
}

#summary .menu-container.opened .menu-content {
  opacity: 1;
  visibility: visible;
}

#summary .menu-content {
  position: absolute;
  top: 43px;
  right: -5px;
  padding: 7px 0;
  background: #fff;
  text-align: left;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 168px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;
  -moz-transition: opacity ease-in-out 0.3s;
  -o-transition: opacity ease-in-out 0.3s;
  visibility: hidden;
}

#summary .menu-content a {
  display: block;
  border-radius: 0;
  white-space: nowrap;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  font-size: 13px;
  line-height: 17px;
  padding: 6px 13px;
  color: #383d48;
  font-weight: 600;
  background: #fff;
}

#summary .info {
  vertical-align: middle;
  text-align: center;
  padding: 65px 20px 66px;
  position: relative;
}

#summary .interaction {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 20px;
  text-align: right;
}

#summary .interaction .ownername {
  float: left;
  line-height: 35px;
  font-size: 15px;
  padding: 10px 0 0 45px;
  position: relative;
  max-width: calc(100% - 170px);
  font-weight: bold;
}

#summary .interaction .ownername a {
  color: #373d48;
}

#summary .interaction .ownername img {
  position: absolute;
  top: 10px;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

#summary .title {
  font-weight: 500;
  font-size: 20px;
  color: #6B717D;
  line-height: 26px;
  padding-bottom: 37px;
}

#summary .title b {
  display: block;
  color: #373d48;
  font-size: 34px;
  line-height: 40px;
}

#summary .title small {
  display: block;
  padding-top: 15px;
}

#summary.owner .title {
  padding-bottom: 77px;
}

#summary.owner #sidebar .sign .change {
  opacity: 1;
}

#summary.owner #coverImage {
  display: block;
}

#summary.owner #coverImage .menu-container.opened {
  opacity: 1;
}

#summary.owner #coverImage + .info .title {
  padding-bottom: 0;
}

#summary.owner #coverImage + .info .title b {
  padding-bottom: 15px;
}

#summary.owner #coverImage.image + .info .title b {
  padding-bottom: 0;
}

#summary.owner #coverImage:not(.image) .camera, #summary.owner #coverImage:not(.image) .menu-container, #summary.owner #coverImage:not(.image) .camera.btn-upload-cover {
  opacity: 1;
  top: auto;
  bottom: 85px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#summary.owner #coverImage:not(.image) .camera, #summary.owner #coverImage:not(.image) .menu-title, #summary.owner #coverImage:not(.image) .camera.btn-upload-cover {
  background: #ebeced;
  color: #373d48;
}

#summary.owner #coverImage:not(.image) .camera:before, #summary.owner #coverImage:not(.image) .menu-title:before, #summary.owner #coverImage:not(.image) .camera.btn-upload-cover:before {
  background-position: -20px -83px;
}

#summary.owner #coverImage .camera, #summary.owner #coverImage .menu-container, #summary.owner #coverImage .camera.btn-upload-cover {
  opacity: 1;
}

#coverImage {
  display: none;
}

#coverImage .inner-wrapper {
  display: table;
  width: 100%;
}

#coverImage .camera {
  visibility: hidden;
  position: absolute;
  top: 14px;
  right: 16px;
  opacity: 0;
  transition: all ease-in-out 0.18s;
  -webkit-transition: all ease-in-out 0.18s;
  -moz-transition: all ease-in-out 0.18s;
  -o-transition: all ease-in-out 0.18s;
  z-index: 1;
}

#coverImage .camera, #coverImage .menu-title {
  padding: 0 16px;
  line-height: 37px;
  display: block;
  border-radius: 19px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  border: 0;
}

#coverImage .camera:before, #coverImage .menu-title:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 14px;
  background-position: -20px -65px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

#coverImage .menu-container {
  visibility: hidden;
  position: absolute;
  top: 14px;
  right: 16px;
  opacity: 1;
  transition: all ease-in-out 0.18s;
  -webkit-transition: all ease-in-out 0.18s;
  -moz-transition: all ease-in-out 0.18s;
  -o-transition: all ease-in-out 0.18s;
  z-index: 1;
}

#coverImage img {
  display: block;
  background: no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  max-height: 720px;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 320px;
}

#coverImage .image {
  margin: 0;
  position: relative;
  background-color: #3d4a5d;
  display: none;
}

#coverImage .add {
  height: 300px;
  background: #3d4a5d;
}

#coverImage .add.loading {
  height: 300px;
  text-align: center;
}

#coverImage .add.loading span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 125px auto 0;
  text-indent: -1000em;
}

#coverImage .add, #coverImage .loading {
  display: none;
}

#coverImage.blue .image {
  background: #3d4a5d;
}

#coverImage.silver .image {
  background: #a3a7af;
}

#coverImage.green .image {
  background: #92b3bd;
}

#coverImage.purple .image {
  background: #929fbd;
}

#coverImage.image {
  overflow: hidden;
  position: relative;
}

#coverImage.image .image {
  background: none;
  overflow: hidden;
  display: block;
}

#coverImage.image .image img {
  display: block;
}

#coverImage.image + .info {
  padding-top: 21px;
}

#coverImage.image + .info .title {
  padding-bottom: 0;
}

#coverImage.add {
  overflow: hidden;
  position: relative;
  background: #FFF;
}

#coverImage.add .add {
  display: block;
  height: auto;
  background: none;
}

#coverImage.loading .loading {
  display: block;
}

#coverImage.video {
  max-height: 300px;
}

.wrapper-content {
  position: relative;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper-content div.empty {
  clear: both;
  padding: 170px 0 0;
  text-align: center;
}

.wrapper-content div.empty h3 {
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 6px;
  color: #373d48;
}

.wrapper-content div.empty p {
  font-size: 15px;
  line-height: 22px;
  color: #676e79;
  padding-bottom: 34px;
  font-weight: 500;
}

.stream {
  padding: 15px 15px 5px 5px;
  background: #ebeced;
}

.stream > li {
  position: relative;
  float: left;
  margin: 0 0 10px 10px;
  z-index: 0;
  width: calc(50% - 10px);
  border: 0;
  border-radius: 5px;
  overflow: hidden;
}

.stream .figure-item {
  border: 0;
  border-radius: 5px;
  overflow: hidden;
}

.stream .figure-item figcaption .title {
  font-size: 13px;
  line-height: 18px;
  white-space: normal;
  height: 36px;
}

.stream .figure-item .btn-cart {
  position: absolute;
  right: 7px;
  top: 50%;
  border: 1px solid rgba(101, 192, 125, 0.5);
  color: #65C07D;
  font-weight: bold;
  background: #fff;
  padding: 2px 8px;
  line-height: 19px;
  border-radius: 12px;
  font-size: 12px;
  margin-top: -12px;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 5px #fff;
          box-shadow: 0 0 0 5px #fff;
}

.stream .figure-item .btn-cart:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  height: 100%;
  margin: 0;
  padding: 8px 0;
  margin-right: 1px;
  top: -8px;
}

.stream .figure-item .btn-cart.sales {
  color: #ec3f3f;
  border-color: rgba(236, 63, 63, 0.5);
}

.yet_product, .empty-result {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: rgba(103, 110, 121, 0.7);
  padding: 170px 0 0;
}

.yet_product b, .empty-result b {
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 6px;
  color: #373d48;
}

.yet_product p, .empty-result p {
  font-size: 15px;
  line-height: 22px;
  color: #676e79;
  padding-bottom: 34px;
  font-weight: 500;
}

#popup_container.followers-lists .popup.followers-lists {
  display: block;
}

.popup.followers-lists {
  width: 450px;
  background: #fff;
  border-radius: 5px;
}

.popup.followers-lists .btn-area {
  text-align: right;
  padding: 15px;
  border-top: 1px solid #e7e8ea;
}

.popup.followers-lists ul {
  overflow: auto;
  padding: 0 16px;
  height: 424px;
}

.popup.followers-lists li {
  position: relative;
  padding: 11px 0;
  color: #393d4d;
  font-weight: bold;
  line-height: 30px;
  font-size: 12px;
}

.popup.followers-lists li img {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -17px;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.popup.followers-lists li.more {
  text-align: center;
}

.popup.followers-lists li:first-child {
  border-top: 0;
}

.popup.followers-lists li.loading {
  min-height: 34px;
}

.popup.followers-lists li.loading:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.popup.followers-lists li.loading:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid #949597;
  border-radius: 100% !important;
  height: 16px;
  opacity: 1;
  width: 16px;
  margin-top: -9px;
  margin-left: -9px;
  line-height: 16px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.popup.followers-lists a.username {
  line-height: 18px;
  padding-left: 45px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  color: #8a8f9c;
  font-size: 13px;
}

.popup.followers-lists a.username b {
  display: block;
  color: #393d4d;
  font-size: 14px;
}

.popup.followers-lists .follow, .popup.followers-lists .following, .popup.followers-lists .private {
  position: absolute;
  margin-top: -17px;
  right: 0;
  top: 50%;
  display: block;
  line-height: 34px;
  padding: 0 13px;
  border: 0;
  border-radius: 18px;
  font-size: 14px;
  font-weight: bold;
}

.popup.followers-lists .follow {
  background: #1E7EFC;
  color: #fff;
}

.popup.followers-lists .follow:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-position: -45px -20px;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

.popup.followers-lists .private, .popup.followers-lists .following {
  background: #ebeced;
  color: #4D545B;
}

.popup.followers-lists .private:before, .popup.followers-lists .following:before {
  display: none;
}

.popup.followers-lists .remove {
  position: absolute;
  right: 100px;
  line-height: 20px;
  top: 50%;
  margin-top: -10px;
  color: #c54747;
}

.popup.followers-lists.loading {
  height: 468px;
}

.popup.followers-lists.loading:before {
  content: '';
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 424px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 3;
}

.popup.followers-lists.loading:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #949597;
  border-radius: 100% !important;
  height: 40px;
  opacity: 1;
  width: 40px;
  margin-top: -22px;
  margin-left: -22px;
  line-height: 40px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.accept_contributor {
  position: relative;
  margin-bottom: 18px;
  padding: 15px;
  text-align: right;
  z-index: 1;
  -webkit-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
          box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
  background: #fff;
}

.accept_contributor p {
  padding-bottom: 0;
  float: left;
  text-align: left;
  line-height: 20px;
}

.accept_contributor a, .accept_contributor button {
  font-size: 12px;
  line-height: 29px;
  margin: 4px 0 4px 4px;
}

.private #summary .title b:before {
  content: '';
  width: 18px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  margin: -5px 8px 0 0;
  background: url("../../_ui/images/svg/ic-detail.svg") no-repeat -10px -30px;
  background-size: 100px 100px;
}
/*# sourceMappingURL=m.collection.v2.css.map */