@charset "UTF-8";
@import url("../../_ui/css/font/HankenGrotesk.css"); 

body,select,input,textarea,button {font-size:13px;color:#373d48;font-family:'Hanken Grotesk',"Helvetica Neue",sans-serif;}
#accessibility-nav {position:absolute;top:-1000em;left:-1000em;width:0;height:0;overflow:hidden;}

/* notification bar */
#notification-bar a.add:before, #notification-bar button.close, #notification-bar div:before {background:url("../../_ui/images/normal/extention_bar.png") no-repeat;background-size:100px 50px;}
#header .submenu .gnb.hover > a:before, #header .menu-contain-seller a.back:before, #header .menu-contain-seller .multiple-index p a b:after {background:url("../../_ui/images/common/ic-items.png") no-repeat;background-size:100px 100px;background-image: url("../../_ui/images/svg/ic-items.svg");}
.holiday_banner .btn-shop:after {background:url("../../_ui/images/normal/shop_index.png") no-repeat;background-size: 76px 40px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	#notification-bar a.add:before, #notification-bar button.close, #notification-bar div:before {background-image:url("../../_ui/images/retina/extention_bar.png");}
	.holiday_banner .btn-shop:after {background-image:url("../../_ui/images/normal/shop_index.png");}
}
#notification-bar {position:relative;display:none;top:0;color:#4b505e;box-shadow:inset 0 1px 0 #ffffff;background: #eeeff0;background: -webkit-linear-gradient(top,#f4f5f6,#eeeff0);background: -moz-linear-gradient(top,#f4f5f6,#eeeff0);background: -o-linear-gradient(top,#f4f5f6,#eeeff0);background-image: -ms-linear-gradient(#f4f5f6,#eeeff0);z-index: 9;z-index:9;}
#notification-bar > div {width:1160px;margin:0 auto;padding: 8px 0;position:relative;text-align:left;}
#notification-bar .for-chrome:before {content:'';position:absolute;width:31px;height:31px;top:50%;left:0;margin-top:-15px;}
#notification-bar .for-firefox:before {content:'';position:absolute;width:31px;height:31px;top:50%;left:0;margin-top:-15px;background-position:-35px 0;}
#notification-bar p {display:table-cell;vertical-align:middle;color:#000;margin:0;padding:0 0 0 42px;width:700px;height:30px;line-height:15px;}
#notification-bar p a {color:#1c6cb8;}
#notification-bar a.add {position:absolute;padding: 0 12px 0 25px;right: 27px;top: 50%;margin-top: -15px;}
#notification-bar a.add:before {content:'';position:absolute;left:10px;top:50%;margin-top:-5px;width:11px;height:11px;background-position:-17px -32px;}
#notification-bar button.close {position:absolute;top: 50%;right:0;margin-top: -8px;width: 17px;height: 17px;background-position: 0 -32px;text-indent:-99em;overflow:hidden;}

/* show_sales_banner */
.holiday_banner  a.close:before, .notify-butter .inner a.close {background:url("../../_ui/images/normal/snow.png") no-repeat;background-size:60px 30px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.holiday_banner a.close:before, .notify-butter .inner a.close {background-image:url("../../_ui/images/retina/snow.png");}
}
.notify-butter {background: #2184dc;position: relative;z-index: 2;}
.notify-butter .inner, #header-new .notify-butter .inner {position:relative;padding:15px 0;line-height:18px;text-align:center;background-position:50% 50%;color:#fafdff;}
.notify-butter .inner a {color:#fff;font-weight:bold;text-decoration:underline;}
.notify-butter .inner a.close {position:absolute;right:15px;top:50%;margin-top:-6px;width:12px;height:12px;background-position:-25px -15px;}

/* pending_email_confirmation */
.notify-default {background: #4491D2;text-align: center;color: #C1E1FC;padding: 12px 0;position: relative;z-index: 2;}
.notify-default .inner {height:auto;text-align: center;}
.notify-default a, .notify-default p a {color:#EBF6FF;font-weight:bold;}
.notify-default a:hover {color: #FFFFFF;text-decoration: none;}
.notify-default p {line-height:19px;transition:0.5s;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;padding: 0;}

.holiday_banner {position:relative;background: #2184dc;}
.holiday_banner p {margin:0 auto;max-width: 1070px;padding:10px 0;line-height:23px;color:#fff;padding-left: 90px;}
.holiday_banner .btn-shop {display: inline-block;font-family: 'Helvetica Neue',Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 11px;color: #fff;background: #1a6ab0;padding: 0 8px;border-radius: 3px;line-height: 23px;text-decoration: none;font-weight: bold;float: right;text-transform: uppercase;}
.holiday_banner .btn-shop:after {content:'';display:inline-block;vertical-align:middle;margin:-3px 0 0 4px;width:5px;height:7px;background-position: -60px 0;opacity: 0.85;}
.holiday_banner a {position:absolute;left:0;top:0;width:100%;height:100%;}
.holiday_banner a:hover {text-decoration:none;}
.holiday_banner a.close {padding:15px;width:auto;height:auto;}
.holiday_banner a.close:before {content:'';width:12px;height:12px;display:block;;background-position:-25px -15px;}
body ::-webkit-scrollbar, body ::-webkit-scrollbar-thumb {width:7px;height:7px;border-radius:4px;}
body ::-webkit-scrollbar, body ::-webkit-scrollbar-track-piece {background:transparent;}
body ::-webkit-scrollbar-thumb {border-radius:3px;background:rgba(0,0,0,0.3);}
body ::-webkit-scrollbar-button {display: none;}
body ::-ms-scrollbar, body ::-ms-scrollbar-thumb {width:7px;height:7px;border-radius:4px;}
body ::-ms-scrollbar, body ::-ms-scrollbar-track-piece {background:transparent;}
body ::-ms-scrollbar-thumb {border-radius:3px;background:rgba(0,0,0,0.3);}
body ::-ms-scrollbar-button {display: none;}

#header .menu-contain-seller p a:before, #header .search fieldset .keyword .recently .del:before, #header .search fieldset:before, #header .gnb > a[class^="mn"]:before, #header .logo a:before, #header .menu-contain-you .add-file:before, #header .menu-contain-you .add-email:before, #header .menu-contain-you .add-web:before, #header .menu-contain-you a.affiliate:before, #header .menu-contain-you a.add-to-fancy:before, #header .menu-contain-you a.admin:before, #header .menu-contain-you a.orders:before, #header .menu-contain-you a.profile:before, #header .menu-contain-you a.wishlist:before, #header .menu-contain-you .back:before {background:url("../../_ui/images/common/icon-header-b.png") no-repeat;background:url("../../_ui/images/svg/icon-header-b.svg");}
#header .menu-contain-you a.credit:before {background-image:url("../../_ui/images/normal/header_white.png");background-size:180px 50px;}
#header .prompt-inbox a.close:before {background: url("../../_ui/images/normal/add.png") no-repeat;background-size: 253px 200px;}
#header .search fieldset .keyword dd a b .ic-verified {background: url("../../_ui/images/normal/user-icon.png") no-repeat;background-size: 200px 200px;}
#header .feed-activity .notifications .fancy, #header .feed-activity .notifications .badge {background:url("../../_ui/images/normal/icon_notification.png") no-repeat;background-size:200px 40px;}
#header .feed-activity .notifications .featured, #header .feed-activity .notifications .ship {background:url("../../_ui/images/normal/cart.png")  no-repeat;background-size:200px 200px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	#header .menu-contain-you a.credit:before {background-image:url("../../_ui/images/retina/header_white.png");}
	#header .prompt-inbox a.close:before {background-image: url("../../_ui/images/retina/add.png");}
	#header .search fieldset .keyword dd a b .ic-verified {background-image: url("../../_ui/images/retina/user-icon.png");}
	#header .feed-activity .notifications .featured, #header .feed-activity .notifications .ship {background-image:url("../../_ui/images/retina/cart.png");}
	#header .feed-activity .notifications .fancy, #header .feed-activity .notifications .badge {background-image:url("../../_ui/images/retina/icon_notification.png");}
}

#header {background: #fff;border: 0;position: fixed;width: 100%;z-index: 11;box-shadow: 0 1px 0px rgba(0,0,0,0.03), 0 1px 1px rgba(0,0,0,0.05);padding: 0;top: 0;}
#header .gnb-wrap.right {background:#fff;z-index: 1;float: right;position: relative;}
#header .gnb-wrap.right .gnb {padding:9px 0;position: relative;}
#header .gnb-wrap.right .gnb.active > a, #header .gnb-wrap.right .gnb.hover > a, #header .gnb-wrap.right .gnb > a.current, #header .gnb-wrap.right .gnb > a:hover, #header .gnb-wrap.right .gnb:hover > a {background:#f5f6f7;}
#header .gnb-wrap.right .gnb.active > a:before, #header .gnb-wrap.right .gnb.hover > a:before, #header .gnb-wrap.right .gnb > a.current:before, #header .gnb-wrap.right .gnb > a:hover:before, #header .gnb-wrap.right .gnb:hover > a:before {opacity:1;}
#header #navigation {position:relative;padding:0 10px;}
#header #navigation .inner {white-space: nowrap;}
#header .inner:after {content:'';clear:both;display:block;}
#header .submenu-dropdown {position: relative;top: 0;left:0;visibility: hidden;background: #fff;width: 100%;padding: 0 10px;box-sizing: border-box;transition: height 0.1s ease-in, 0.1s visibility linear 0.1s;z-index: 0;overflow: hidden;height: 0;}
#header .submenu-dropdown .inner {position:relative;padding: 18px 0 0;border-top: 1px solid #f4f4f4;}
#header .submenu-dropdown dl {float:left;width: 50%;font-size: 13px;line-height: 17px;position: relative;background: #fff;padding-bottom: 30px;}
#header .submenu-dropdown dt {font-size: 14px;font-weight: 700;padding: 0 0 16px;letter-spacing: 0.5px;}
#header .submenu-dropdown dt a {padding:0;color:#3D4956;}
#header .submenu-dropdown.explore dl:last-of-type {width:478px;width: calc(((100% - 580px)/3*2) + 55px);}
#header .submenu-dropdown.explore dl:last-of-type li {float:right;width:50%;width: calc((100% - 55px)/2);}
#header .submenu-dropdown.explore dl:last-of-type li:nth-child(odd) {float:left;clear:both;}
#header .submenu-dropdown.more dl {clear: both;}
#header .submenu-dropdown.more dl:first-of-type {width:478px;width: calc(((100% - 580px)/3*2) + 55px);}
#header .submenu-dropdown.more dl:first-of-type ul {float:right;width:50%;width: calc((100% - 55px)/2);}
#header .submenu-dropdown.more dl:first-of-type ul:nth-child(odd) {float:left;clear:both;}
#header .submenu-dropdown dl:first-child {border-left: 0;}
#header .submenu-dropdown dl:after {content:'';clear:both;display:block;}
#header .submenu-dropdown a {color:#727980;display: block;padding:5px 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight: 500;font-size: 14px;}
#header .submenu-dropdown dd a:hover {color:#3D4956;text-decoration:underline;}
#header .submenu-dropdown .banner {float:right;width: 50%;box-sizing:border-box;padding-bottom: 30px;}
#header .submenu-dropdown .banner a {display: block;padding: 0;}
#header .submenu-dropdown .banner img {display: block;width:100%;height: 180px;border-radius:3px;background:no-repeat 50% 50%;background-size:cover;}
#header .submenu-dropdown .banner b {display:block;font-size:14px;line-height:15px;padding: 15px 0 0;color:#3D4956;font-weight:700;}
#header .submenu {border-top:1px solid #F6F6F6;padding: 0 5px;position: relative;}
#header .submenu .trick {background: rgba(0,0,0,0);transition: .1s opacity;opacity: 0;}
#header .submenu .gnb > a {position:relative;padding: 5px 10px 0;font-weight: 600;border-radius: 0;display: block;text-align: left;}
#header .submenu .gnb > a:after {content:'';display:block;height: 1px;box-shadow:0 1px 0 #3D4956;margin-top:5px;opacity:0;position: relative;z-index: 2;}
#header .submenu .gnb.hover .submenu-dropdown .inner {display:block;}
#header .submenu.show .gnb.hover .submenu-dropdown {transition: height 0.1s ease-in-out;z-index:1;visibility: visible;}
#header .submenu .gnb.hover > a:before {content:'';position:absolute;right:10px;top:50%;width:5px;height:9px;margin-top:-5px;background-position: -30px 0;}
#header .submenu .gnb.hover:last-child > a:before {display:none;}
#header .submenu.show .trick {opacity:1;transition:none;visibility:visible;transition: .1s opacity,  0s visibility .1s;}
#header .m_menu {position: relative;float:left;padding-left: 5px;line-height: 54px;width: 20px;text-align: center;}
#header .m_menu:before {content:'';position:absolute;top:50%;width: 20px;height: 1.5px;background: #8e9399;/* margin-top: -0.75px; */}
#header .m_menu:after {content:'';display:inline-block;vertical-align:middle;width: 20px;height: 9px;border-top: 1.5px solid #8e9399;border-bottom: 1.5px solid #8e9399;margin-top: 1px;}
#header .logo {float:left;width: 92px;line-height: 42px;padding: 6px 0 6px 15px;background: #fff;position: relative;z-index: 1;box-shadow: none;}
#header .logo a {display: inline-block;vertical-align:middle;cursor: pointer;text-indent: -1000em;height: 18px;position: relative;width: 92px;}
#header .logo a:before {content:'';position: absolute;width: 91px;height:18px;background-position: 0 0;top: 50%;left: 50%;margin: -9px 0 0 -46px;}
#header .trick {position:fixed;top: 102px;left:0;width:100%;height: 100%;visibility: hidden;transition: opacity 0.15s ease-in-out;-webkit-transition:opacity 0.15s ease-in-out;-moz-transition:opacity 0.15s ease-in-out;}
#header .gnb-wrap {vertical-align: middle;white-space: nowrap;font-size: 0;letter-spacing:0;line-height: 36px;}
#header .gnb-wrap .gnb a.mn-signup, #header .gnb-wrap .gnb a.mn-signin {line-height: 34px;border-radius:3px;padding: 0 20px;}
#header .gnb-wrap .gnb a.mn-signup {background:#2581E3;color:#fff;}
#header .gnb-wrap .gnb a.mn-signup:hover, #header .gnb-wrap.right .gnb:hover > a.mn-signup {background:#2581E3;}
#header .gnb-wrap .gnb a.mn-signin {background:#EDEEF0;color:#434649;margin-left: 14px;}
#header .gnb-wrap .gnb a.mn-signin:hover, #header .gnb-wrap.right .gnb:hover > a.mn-signin {background:#EDEEF0;}
#header .gnb {display: inline-block;z-index:0;font-size: 14px;vertical-align: middle;white-space: normal;}
#header .gnb.hide {position:absolute;}
#header .gnb.guest .btn-cart {margin-right:2px;}
#header .gnb .order-notify:after {content:'';border: 10px solid transparent;border-bottom-color:#2184dc;position:absolute;bottom:100%;left:50%;margin-left: -10px;}
#header .gnb .order-notify {position:absolute;left:50%;top:100%;white-space:nowrap;color:#fff;background: #2184dc;border-radius: 6px;padding: 9px 13px;line-height:18px;box-shadow: 0 3px 8px rgba(76, 154, 220, .25), 0 0 1px rgba(76, 154, 220, .37);transform: translateX(-50%);font-size: 12px;font-weight: 500;}
#header .gnb.active .trick {visibility:visible;opacity: 1;}
#header .gnb.open .trick {display:none;}
#header .gnb.active.open .trick {display: block;}
#header .gnb .count {border: 2px solid #fff;margin: -18px 0 0;padding: 0 4px;font-size: 10px;background: #2785fa;position: absolute;line-height: 16px;height: 15px;min-width: 7px;top: 50%;left: 50%;font-weight: 700;color: #fff;border-radius: 50px;display: inline-block;text-align: center;}
#header .gnb > a {color: #3d4956;padding: 0 14px;font-weight: 700;transition: color 0.2s, background 0.2s;-webkit-transition: color 0.2s, background 0.2s;-moz-transition: color 0.2s, background 0.2s;cursor: pointer;display: none;text-align: center;border-radius: 21px;font-size: 14px;position: relative;top: 0px;margin: 0 2px;}
#header .gnb > a[class^="mn"]:before {content:'';display: block;opacity: 0.8;}
#header .gnb > a.mn-cart {padding: 8px 8px 7px 7px;}
#header .gnb > a.mn-cart.none .count {display:none;}
#header .gnb > a.mn-cart.none:before {margin-left:0;}
#header .gnb > a.mn-cart .hidden {position:absolute;}
#header .gnb > a.mn-cart:before {width: 21px;height: 21px;background-position: -70px -20px;}
#header .gnb > a.mn-noti {padding: 6px 10px;}
#header .gnb > a.mn-noti:before {width: 16px;height: 22px;background-position: -50px -20px;}
#header .gnb > a.mn-msg {padding: 8px 8px 6px;margin:0 6px;}
#header .gnb > a.mn-msg:before {width: 20px;height: 20px;background-position: -40px -50px;}
#header .gnb > a.mn-seller {padding: 7px;margin: 0 7px;}
#header .gnb > a.mn-seller:before {width: 22px;height: 20px;background-position: -20px -20px;}
#header .gnb > a.mn-you img {position: absolute;width: 28px;height: 28px;top: 3px;border-radius:100%;background-repeat: no-repeat;background-size: cover;background-position: 50% 50%;left: 3px;}
#header .gnb > a.mn-you {position: relative;margin: 0 0 0 10px;text-indent: -1000em;padding: 0;width: 34px;height: 34px;}
#header .gnb > a.mn-you:before {display:none;}
#header .gnb > a.mn-you:hover {color: rgb(66, 76, 85);}
#header .gnb > a.mn-lang:after {opacity: 0.95;content: '';display: inline-block;width: 0;height: 0;border: 4px solid transparent;background: none;border-top-color: #38424c;margin: 2px 0 0 6px;top: 2px;position: relative;}
#header .gnb.active, #header .gnb:hover, #header .gnb.hover {z-index:1;}
#header .gnb.active > [class^="feed-"], 
#header .gnb.active > [class^="menu-contain"] {top: 46px;opacity: 1;visibility: visible;}
#header .gnb.active > [class^="feed-"].visible, 
#header .gnb.active > [class^="menu-contain"].visible {visibility:hidden;}
#header .gnb.hover > [class^="feed-"], 
#header .gnb.active > [class^="feed-"], 
#header .gnb.hover > [class^="menu-contain"], 
#header .gnb.active > [class^="menu-contain"] {box-shadow: 0 4px 8px rgba(0, 0, 0, .1), 0 0 1px rgba(0,0,0,0.2);border-radius: 5px;}
#header .gnb .new {display: block;position:absolute;top: 3px;background: #2685fa;border-radius: 100%;right: 0px;transition:opacity 0.3s;-webkit-transition:opacity 0.3s;-moz-transition:opacity 0.3s;height: 6px;width: 6px;}
#header .gnb .none .new {opacity:0;}
#header .gnb .mn-noti .new {right:3px;}
#header .gnb [class^="prompt-"] {display: block;visibility:visible;opacity:1;background: #fff;border-radius: 3px;box-shadow: none;left: 50%;top: 38px;width: 202px;padding: 0;;margin-left: -101px;}
#header .gnb .prompt-inbox {visibility:visible;opacity:1;width:240px;margin-left:-120px;background:#4092de;box-shadow:0 2px 6px rgba(0,0,0,0.09),0 0 0 1px rgba(0,0,0,0.24);top:48px;}
#header .gnb .prompt-cs {visibility:visible;opacity:1;width: 174px;margin-left: -87px;background:#4092de;box-shadow:0 3px 7px rgba(0,0,0,0.04),0 0 0 1px rgba(0,0,0,0.1);top:48px;}
#header .gnb.hover .feed-inbox.prompt-inbox, #header .gnb.active .feed-inbox.prompt-inbox {top:38px;}
#header .gnb.hover .feed-inbox.prompt-cs, #header .gnb.active .feed-inbox.prompt-cs {top:48px;}
#header .gnb.active .count, #header .gnb.hover .count, #header .gnb:hover .count {border-color:#f5f6f7;}
#header [class^="feed-"], #header [class^="menu-contain"] {background: #fff;border-radius: 5px;box-shadow: none;left: 50%;top: 36px;width: 202px;padding: 0;transition: 0.15s ease-in-out;-webkit-transition: 0.15s ease-in-out;-moz-transition: 0.15s ease-in-out;visibility: hidden;opacity: 0;margin-left: -101px;z-index: 11;position: absolute;}
#header [class^="prompt-"] {display: block;visibility:visible;opacity:1;background: #fff;border-radius: 3px;box-shadow: none;left: 50%;top: 38px;width: 202px;padding: 0;;margin-left: -101px;}
#header [class^="menu-contain"] a {line-height:28px;color:#3d4956;min-height: 0;padding: 2px 20px;white-space: nowrap;overflow: hidden;position:relative;display: block;font-size: 14px;font-weight: 500;}
#header [class^="menu-contain"] a:after, #header [class^="menu-contain"] dd a:hover:after {content:'';position:absolute;top: 0; right: 0; width: 40px; height: 100%; background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%); background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%); pointer-events: none;}
#header [class^="menu-contain"] a:active:after,#header [class^="menu-contain"] a:hover:after {background: -webkit-linear-gradient(0deg, rgba(247,247,247,0), rgba(247,247,247,0) 60%, #f7f7f7 90%); background: linear-gradient(90deg, rgba(247,247,247,0), rgba(247,247,247,0) 60%, #f7f7f7 90%);}
#header [class^="menu-contain"] a:active, #header [class^="menu-contain"] a:hover {color:#383d48;background: #f7f7f7 !important;}
#header [class^="menu-contain"] ul {padding:8px 0 7px;border:0;border-top:1px solid #f0f0f2;position: relative;}
#header [class^="menu-contain"] ul:first-child {border-top:0;}
#header [class^="menu-contain"] p {position: relative;padding:10px 0;}
#header [class^="menu-contain"] p a:first-child {margin-top:0;}
#header [class^="menu-contain"] p a {position: relative;margin-top:1px;font-size: 12px;line-height: 18px;color: #8C939B;padding: 9px 20px 9px 67px;border-radius: 3px 3px 0 0;}
#header [class^="menu-contain"] p b {display: block;font-weight: bold;color: #383d48;font-size: 14px;}
#header [class^="menu-contain"] p img {display:block !important;width: 34px;height: 34px;left: 20px;top: 10px;position:absolute;border-radius:100%;background-repeat: no-repeat;background-size: cover;background-position: 50% 50%;}
#header [class^="menu-contain"] .count {margin: -3px 0 0 4px;float: none;letter-spacing: 0;box-shadow: none;text-shadow: none;position: static;vertical-align: middle;}
#header .menu-contain-seller {width: 250px;margin-left: -125px;overflow: hidden;}
#header .menu-contain-seller a.back {padding-left: 44px;font-size: 14px;font-weight: bold;color: #383d48;margin: 10px 0;}
#header .menu-contain-seller a.back:before {content:'';position: absolute;width: 5px;height: 9px;top: 50%;left: 20px;margin-top: -5px;background-position: -30px 0;opacity: 0.6;transform: rotate(-180deg);}
#header .menu-contain-seller a.back+p {border-top: 1px solid #f0f0f2;}
#header .menu-contain-seller p a.storefront:before {background-position:-20px -50px;}
#header .menu-contain-seller p a:before {content:'';position:absolute;z-index:1;top:50%;left:37px;width: 16px;height: 15px;background-position: 0 -50px;margin: -8px 0 0 -8px;}
#header .menu-contain-seller p img {border-radius:2px;}
#header .menu-contain-seller p img.default {z-index:0;background-color:#000;opacity:0.05;}
#header .menu-contain-seller .multiple-index {position:relative;width: 100%;left: 0;transition: left 0.15s;-webkit-transition: left 0.15s;-moz-transition: left 0.15s;}
#header .menu-contain-seller .multiple-index p a b:after {content:'';position: absolute;width: 5px;height: 9px;top: 50%;right: 20px;margin-top: -5px;background-position: -30px 0;opacity: 0.6;}
#header .menu-contain-seller .multiple-store {position:absolute;left:100%;top:0;width:100%;transition: left 0.15s;-webkit-transition: left 0.15s;-moz-transition: left 0.15s;}
#header .menu-contain-seller.details .multiple-index {left: -100%;}
#header .menu-contain-seller.details .multiple-store {left:0;}
#header .menu-contain-lang {width:245px;left:auto;margin:0;right: -15px;}
#header .menu-contain-lang ul {border-top:0;}
#header .menu-contain-lang ul:after {content:'';display:block;clear:both;}
#header .menu-contain-lang .btn-add {display:none;}
#header .menu-contain-lang li {float:left;width:50%;}
#header .menu-contain-lang li:nth-child(odd) {clear:both;}
#header .menu-contain-you {left: auto;margin: 0;right: -15px;}
#header .menu-contain-you a.affiliate:before, #header .menu-contain-you a.add-to-fancy:before, #header .menu-contain-you a.admin:before, #header .menu-contain-you a.orders:before, #header .menu-contain-you a.profile:before, #header .menu-contain-you a.wishlist:before {content:'';display:inline-block;vertical-align:middle;width:15px;height:16px;margin: -3px 10px 0 0;}
#header .menu-contain-you a.affiliate:before {background-position:-160px 0;height: 15px;}
#header .menu-contain-you a.add-to-fancy:before {background-position:-140px 0;height: 15px;}
#header .menu-contain-you a.orders:before {background-position:-120px 0;}
#header .menu-contain-you a.admin:before {background-position:-100px -35px;height: 15px;}
#header .menu-contain-you a.wishlist:before {background-position:-100px -20px;height: 12px;}
#header .menu-contain-you a.profile:before {background-position:-100px 0;height: 15px;}
#header .menu-contain-you .add-file:before, #header .menu-contain-you .add-email:before, #header .menu-contain-you .add-web:before {width:16px;content:'';display:inline-block;vertical-align:middle;margin: -3px 8px 0 0;opacity: 0.7;}
#header .menu-contain-you .add-file:hover:before, #header .menu-contain-you .add-email:hover:before, #header .menu-contain-you .add-web:hover:before {opacity:1}
#header .menu-contain-you .fancy_btn, #header .menu-contain-you .fancy_btn:hover {color:#2785fa;}
#header .menu-contain-you .back {margin:8px 0 7px;}
#header .menu-contain-you .add-web:before {height:14px;background-position: -120px -20px;}
#header .menu-contain-you .add-file:before {background-position:-140px -20px;height: 15px;}
#header .menu-contain-you .add-email:before {height:13px;background-position: -60px 0;}
#header .menu-contain-you .back:before {content:'';display:inline-block;vertical-align:middle;margin:-3px 15px 0 3px;width:6px;height:9px;opacity:0.5;background-position: -160px -20px;}
#header .menu-contain-you .back:hover:before {opacity:0.7;}
#header .menu-contain-you a.credit {color:#4978b3;}
#header .menu-contain-you a.credit:before {content:'';display:inline-block;width: 17px;height: 17px;background-position:-100px -20px;margin: -4px 7px 0 0;vertical-align: middle;}
#header .menu-contain-you .menu-container-you {overflow:hidden;font-size:0;left: 0;margin: 0;top: 0;white-space: nowrap;transition:0.22s;-webkit-transition:0.22s;-moz-transition:0.22s;position: relative;height:0;}
#header .menu-contain-you .menu-container-you div {display: inline-block;width:100%;font-size:13px;vertical-align: top;transition:0.22s;-webkit-transition:0.22s;-moz-transition:0.22s;}
#header .gnb.active .menu-contain-you.show .menu-container-you .you-main {margin-left: -100%;}
#header .gnb.active .menu-contain-you .menu-container-you {visibility: visible;opacity: 1;height:auto;}
#header .menu-contain-cart {width:340px;margin-left:-170px;}
#header .menu-contain-cart ::-webkit-scrollbar-thumb {background:rgba(0,0,0,0);}
#header .menu-contain-cart :hover::-webkit-scrollbar-thumb {background:rgba(0,0,0,0.3);}
#header .menu-contain-cart .tit {display:none;}
#header .menu-contain-cart .btn-area {padding:12px;position: relative;box-shadow: 0 -1px 0 rgba(155, 155, 155, 0.2);}
#header .menu-contain-cart .btn-area:after {content:'';clear:both;display:block;}
#header .menu-contain-cart .btn-area a {float:left;line-height: 31px;width: calc(50% - 5px);padding: 0;text-align: center;font-size: 12px;}
#header .menu-contain-cart .btn-area a:last-child {float:right;}
#header .menu-contain-cart .btn-area a:after {display:none;}
#header .menu-contain-cart .btn-area a.btns-gray-embo {background: none !important;color: #676d75 !important;box-shadow: none;}
#header .menu-contain-cart .btn-area a.btns-green-embo {color:#fff;box-shadow:none;}
#header .menu-contain-cart ul {overflow:auto;max-height:302px;padding: 0 0 0 12px;border: 0;}
#header .menu-contain-cart li {position:relative;display: table;width: 100%;height: 84px;}
#header .menu-contain-cart li a {display:table-cell;vertical-align:middle;padding: 12px 12px 12px 73px;white-space: normal;color:#8a8f9c;font-size:12px;line-height:18px;position: relative;}
#header .menu-contain-cart li:hover a, #header .menu-contain-cart li a:hover {background: none !important;}
#header .menu-contain-cart li a:after {right:0;top:0;width:80%;height:1px;width:calc(100% - 73px);width:-webkit-calc(100% - 73px);width:-moz-calc(100% - 73px);background: #ebebeb;opacity: 0.8;}
#header .menu-contain-cart li:first-child a:after {display:none;}
#header .menu-contain-cart li strong {display:block;color:#373d48;max-height:36px;overflow:hidden;position: relative;}
#header .menu-contain-cart li strong:after {content:'';position:absolute;top: 18px; right: 0; width: 40px; height: 100%; background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%); background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%); pointer-events: none;}
#header .menu-contain-cart li .price.sales {color:#b42c2c;}
#header .menu-contain-cart li .price.sales small {text-decoration:line-through;color:#8a8f9c;}
#header .menu-contain-cart li .price {position:absolute;top: 0;right: 0;color:#373d48;}
#header .menu-contain-cart li .info {display:block;position:relative;padding-right: 60px;}
#header .menu-contain-cart li img {position:absolute;top: 12px;left:0;width: 60px;height: 60px;background:no-repeat 50% 50%;background-size:cover;border-radius: 3px;box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);}
#header .feed-activity .messages li{padding:0 12px;}
#header .feed-activity .messages li a {position:relative;display:block;padding: 14px 12px 14px 52px;font-size: 12px;line-height:18px;color:#383d48;}
#header .feed-activity .messages li a.current, #header .feed-activity .messages li a.current:hover {background:#5287c6;color:#fff;}
#header .feed-activity .messages li a.current .status .return {background-position:-50px -15px;}
#header .feed-activity .messages li a.current .status .date {opacity:0.8;}
#header .feed-activity .messages li a.current .status .new {background:#fff;}
#header .feed-activity .messages li a:hover {text-decoration:none;background:none;}
#header .feed-activity .messages li.unread a {color:#383d48;}
#header .feed-activity .messages li.unread .username {font-weight:bold;}
#header .feed-activity .messages li.unread .status {color:#4b98e6;}
#header .feed-activity .messages li.unread .message:before {content:'';display:inline-block;width:6px;height:6px;vertical-align:middle;border-radius:100%;background:#4b98e6;margin:-3px 6px 0 2px;}
#header .feed-activity .messages img {position:absolute;top:12px;left:0;width:32px;height:32px;border-radius:100%;background:no-repeat 50% 50%;background-size:cover;}
#header .feed-activity .messages .message img, #header .feed-activity .messages img.emoji {position:static;width:auto;height:auto;border-radius:0;}
#header .feed-activity .messages .status {position:absolute;font-size:11px;right: 0;top: 10px;text-align:right;}
#header .feed-activity .messages .status .date {display:block;position:static;}
#header .feed-activity .messages .status .new {display:none !important;width:8px;height:8px;border-radius:100%;background:#3095d5;}
#header .feed-activity .messages .status .return {display:inline-block;width:11px;height:9px;background-position:-50px 0;opacity:0.8;}
#header .feed-activity .messages .status .date {opacity:0.5;}
#header .feed-activity .messages .username {display:block;margin-right:100px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight: bold;color: #383d48;}
#header .feed-activity .messages a:hover .username {color:#4978b3}
#header .feed-activity .messages .message {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;min-height: 19px;}
#header .feed-activity li:before {content:'';position:absolute;left:auto;right:0;width: 100%;border-bottom: 1px solid rgb(255, 255, 255);background: none;top: 0;}
#header .feed-activity .empty {border-top:1px solid #f0f1f2;position:relative;padding-bottom:41px;text-align:center;line-height: 150px;}
#header .feed-activity .feed .empty {border-top:0;}
#header .feed-activity .empty p {display:inline-block;vertical-align:middle;font-size:12px;line-height:17px;color:#8a8f9c;padding: 0 50px;}
#header .feed-activity .empty b {display:block;padding-bottom:8px;font-size:13px;line-height:19px;color:#383d48;}
#header .feed-activity .empty a {border-top: 1px solid #f3f4f4;position:absolute;bottom:0;left:0;width:100%;display:block;padding:10px 0;font-weight:bold;line-height:20px;font-size:12px;color:#4978b3;}
#header .feed-activity .newsletter li {font-size:12px;line-height:18px;padding: 0;}
#header .feed-activity .newsletter .title {display:block;color:#464b55;}
#header .feed-activity .newsletter a {display:block;padding:10px 15px 10px 54px;color:#888b97;}
#header .feed-activity .newsletter img {position:absolute;top:12px;left:12px;width:32px;height:32px;border-radius:3px;background:no-repeat 50% 50%;background-size:cover;}
#header .feed-activity {display:block !important;width:340px;margin-left: -170px;}
#header .feed-activity h4 {position: relative;display: table;margin: 12px;width: 314px;width: calc(100% - 24px);border: 0;box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);border-radius: 3px;color: #444;line-height: 33px;background: #F4F4F5;background: -webkit-linear-gradient(top,#FFF,#F6F7F8);background: -ms-linear-gradient(top,#FFFFFF,#f9f9f9);background: -moz-linear-gradient(top,#FFFFFF,#f9f9f9);background: -o-linear-gradient(top,#FFFFFF,#f9f9f9);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#f9f9f9');}
#header .feed-activity h4.none {margin:0;background:none;box-shadow:none;padding: 4px 12px;}
#header .feed-activity h4.none a {text-align:left;box-shadow:none;color: #373d48;}
#header .feed-activity h4 a {color: #7D8186;box-shadow: inset -1px 0 0 rgba(0,0,0,0.1);display: table-cell;width: 50%;text-align: center;font-size: 12px;}
#header .feed-activity h4 a:last-child {box-shadow:none;border-radius:0 3px 3px 0;}
#header .feed-activity h4 a.new:before {display: inline-block;content: '';width: 6px;height: 6px;border-radius: 100%;background: #4b98e6;position: static;vertical-align: middle;margin: -2px 5px 0 0;}
#header .feed-activity h4 a.current {background-color: #EBECED;z-index: 1;color: #585F6D;position: relative;box-shadow: inset -1px -1px 0 rgba(0,0,0,0.1),inset 1px 0 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow: inset -1px -1px 0 rgba(0,0,0,0.1), inset 0 1px 0 rgba(0,0,0,0.1), -1px 0 0 rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.1);-webkit-box-shadow: inset -1px -1px 0 rgba(0,0,0,0.1), inset 0 1px 0 rgba(0,0,0,0.1), -1px 0 0 rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.1);}
#header .feed-activity h4 a.current.new:before {display:none;}
#header .feed-activity .feed {position: relative;margin: 0;height: 302px;width: 100%;box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.08);border-top: 1px solid #F7F7F7;font-size: 12px;line-height: 16px;}
#header .feed-activity .feed:first-of-type:last-of-type {border-top:0;}
#header .feed-activity h4 a:first-child.current {box-shadow: inset -1px -1px 0 rgba(0,0,0,0.1),inset 1px 0 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow: inset -1px -1px 0 rgba(0,0,0,0.1), inset 1px 1px 0 rgba(0,0,0,0.1), inset 1px 1px 2px rgba(0,0,0,0.1);-webkit-box-shadow: inset -1px -1px 0 rgba(0,0,0,0.1), inset 1px 1px 0 rgba(0,0,0,0.1), inset 1px 1px 2px rgba(0,0,0,0.1);border-radius: 3px 0px 0 3px;}
#header .feed-activity ul {height: 263px;overflow: auto;}
#header .feed-activity .loading {position:relative;height: 263px;padding:0;border:0;}
#header .feed-activity .loading:before {display:block;content:'';border: 2px solid #949597;border-radius:100%;height: 40px;left:50%;margin: -22px 0 0 -22px;opacity:0;position:absolute;top:50%;width: 40px;animation: pulsate 1s ease-out;animation-iteration-count:infinite;-webkit-animation: pulsate 1s ease-out;-webkit-animation-iteration-count:infinite;-moz-animation: pulsate 1s ease-out;-moz-animation-iteration-count:infinite;background: none;z-index: 4;}
#header .feed-activity a.more, #header .feed-activity .messages a.more {font-size:12px;line-height: 37px;padding: 0;}
#header .feed-activity .empty {width:100%;padding:0;height: 263px;display: table;}
#header .feed-activity .empty p {padding:0 70px;display:table-cell;vertical-align:middle;}
#header .feed-activity .empty p b {padding:0;line-height:19px;}
#header .feed-activity .empty p span {display:block;padding-top:8px;}
#header .feed-activity .empty p:before {content:'';display:block;width:45px;height:45px;background-position:-100px -50px;margin: 0 auto 18px;}
#header .feed-activity .messages .empty p:before {background-position:-100px 0;}
#header .feed-activity .empty a.more, #header .feed-activity .messages .empty a.more {position:absolute;bottom: -38px;left:0;width:100%;border-top: 1px solid #e7e8e8;background: #fff;border-radius: 0 0 3px 3px;z-index: 2;}
#header .feed-activity .avatar {width:41px;height:41px;top: 12px;position: absolute;left: 12px;border-radius: 100%;background: no-repeat 50% 50%;background-size: cover;}
#header .feed-activity .avatar.store {border-radius:3px;background-image:url("../../_ui/images/normal/placeholder_shop2.png");}
#header .feed-activity li, #header .feed-activity .notifications li { min-height: 37px; padding: 14px 12px 14px 64px; line-height: 18px; position: relative; }
#header .feed-activity li .noti-wrap, #header .feed-activity .notifications .noti-wrap {display:inline-block;vertical-align:middle;line-height:18px;width:100%;font-size: 12px;}
#header .feed-activity li .items {display: block;padding-top: 6px;white-space: nowrap;}
#header .feed-activity li:hover {background:none;}
#header .feed-activity li .items img {height: 48px;width: 48px;margin-right: 1px;border-radius: 2px;background: no-repeat 50% 50%;background-size: cover;opacity: 0.8;}
#header .feed-activity li .items img:hover {opacity: 1;}
#header .feed-activity li.date-divider {text-transform: uppercase;font-size: 10px;color: #C5C6C7;font-weight: bold;padding: 0 10px;text-align: center;line-height: 20px;min-height: 20px;}
#header .feed-activity li:before { content: ''; top: auto; bottom: 0; display: block; left: auto; right: 0; width: 100%; background: none; }
#header .feed-activity li:first-of-type.date-divider{box-shadow:0 -1px 0 0 rgba(0, 0, 0, 0.13)}
#header .feed-activity li:hover span a {color:#4978b3;}
#header .feed-activity li img.thing {display:none;}
#header .feed-activity a.username {font-weight:bold;}
#header .feed-activity .messages li {padding: 0 0 0 12px;color: #383D48;overflow: hidden;}
#header .feed-activity .messages img {width:41px;height:41px;position: absolute;top: 12px;left: 0;border-radius: 100%;background: no-repeat 50% 50%;background-size: cover;}
#header .feed-activity .messages li.new .message:before, #header .feed-activity .messages li.show .message:before {content: '';margin: -2px 4px 0 0;display: inline-block;width: 6px;height: 6px;border-radius: 10px;background: #4b98e6;vertical-align: middle;}
#header .feed-activity .messages .new .message, #header .feed-activity .messages .show .message {color:#383d48;}
#header .feed-activity .messages .return {display:none;}
#header .feed-activity .messages .message {text-overflow:clip;position:relative;color: #878C98;}
#header .feed-activity .messages .message:after {content: '';position: absolute;width: 30px;height: 100%;right: 0;top: 0;background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff);background-image: -moz-linear-gradient(left,rgba(255,255,255,0),#fff);background-image: -o-linear-gradient(left,rgba(255,255,255,0),#fff);background-image: -ms-linear-gradient(left,rgba(255,255,255,0),#fff);background-image: linear-gradient(to right,rgba(255,255,255,0),#fff);}
#header .feed-activity .messages li:hover .message:after {background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff);background-image: -moz-linear-gradient(left,rgba(255,255,255,0),#fff);background-image: -o-linear-gradient(left,rgba(255,255,255,0),#fff);background-image: -ms-linear-gradient(left,rgba(255,255,255,0),#fff);background-image: linear-gradient(to right,rgba(255,255,255,0),#fff);}
#header .feed-activity .messages .status .date {opacity:1;color:#9a9ea9;padding-right: 12px;}
#header .feed-activity .new_msg {position:absolute;top:14px;right:12px;text-indent:-1000em;width:15px;height:15px;background-position:-35px -70px;padding: 0;opacity:0.6}
#header .feed-activity .notifications .photo {display: block;width: 41px;height: 41px;top: 12px;position: absolute;left: 12px;border-radius: 100%;}
#header .feed-activity .notifications .featured {background-position:-80px -120px;}
#header .feed-activity .notifications .store {border-radius:3px;}
#header .feed-activity .notifications .fancy {background-position: -160px 0px;width: 40px;height: 40px;}
#header .feed-activity .notifications .badge {background-position: -118px 0px;width: 40px;height: 40px;}
#header .feed-activity .notifications .ship {background-position: -30px -120px;}
#header .feed-activity .notifications .full_link:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;}
#header .feed-activity .notifications li > a > .thing {display: block;width: 41px;height: 41px;top: 12px;position: absolute;left: 12px;border-radius: 3px;background:no-repeat 50% 50%;background-size:cover;}
#header .feed-activity .notifications li, #header .feed-activity li span, #header .feed-activity li span a {color: #383d48;}
#header .feed-activity .notifications li.date-divider {color: #C5C6C7;}
#header .feed-activity .notifications .date {position:static;display: block;color: #9a9ea9;font-size: 11px;padding-top: 2px;}
#header .feed-activity a.more {font-size:12px;line-height: 37px;padding: 0;position: relative;color: #4978b3;border-top: 1px solid #e7e8e8;clear: both;display: block;text-align: center;white-space: nowrap;font-weight: bold;}
#header .feed-activity .activity-merchantpost .items { cursor: pointer;}
#header .search fieldset .btn-submit {display:none;}
#header .search fieldset input.text:focus {background: #eff0f1 !important;border-color:#eff0f1 !important;}
#header .search fieldset input.text {background: #eff0f1;margin:0;box-shadow: none;border-radius:5px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;width: 100%;padding: 6px 7px 4px 30px;display: block;overflow: hidden;color: #505b67;line-height: 24px;font-size: 14px;font-weight: 500;border: 0;}
#header .search fieldset .keyword {position: absolute;background: #fff;border-radius: 3px;width: 100%;z-index: 1;padding: 4px 0 7px;top: 34px;}
#header .search fieldset .keyword.loading * {display:none;}
#header .search fieldset .keyword.loading {min-height:200px;}
#header .search fieldset .keyword.loading:before {display:block;content:'';border: 2px solid #949597;border-radius:100%;height: 40px;left:50%;margin: -22px 0 0 -22px;opacity:0;position:absolute;top:50%;width: 40px;animation: pulsate 1s ease-out;animation-iteration-count:infinite;-webkit-animation: pulsate 1s ease-out;-webkit-animation-iteration-count:infinite;-moz-animation: pulsate 1s ease-out;-moz-animation-iteration-count:infinite;background: none;z-index: 4;}
#header .search fieldset .keyword .keywords a {display:block;padding:0 13px;line-height:29px;color:#38424c;font-weight: 500;font-size: 14px;}
#header .search fieldset:after {content:'';position:fixed;top:54px;left:0;width:100%;height:0;background:#000;opacity:0;}
#header .search.focus fieldset:after {height: 100%;opacity:0.2;}
#header .search fieldset .keyword li:hover a, #header .search fieldset .keyword li.hover a {background:#f7f7f7;}
#header .search fieldset .keyword dt {font-size: 12px;color: #91969c;padding: 13px 13px 5px;line-height: 1em;font-weight: 500;}
#header .search fieldset .keyword dt a {display:block;padding:4px 13px;color: #91969c;background:none;margin:-4px -13px;}
#header .search fieldset .keyword dt a.clear-all {position: absolute;right: 0;margin: 0;background: none;top: 13px;}
#header .search fieldset .keyword dt a:hover {color:#38424c;}
#header .search fieldset .keyword dd li {position:relative;clear:both;}
#header .search fieldset .keyword dd li:after {content:'';clear:both;display:block;height:0;}
#header .search fieldset .keyword dd a {display: block;font-size: 13px;line-height: 16px;color: #38424c;padding: 5px 13px;font-weight: 500;}
#header .search fieldset .keyword dd a b {display:block;color:#383d48;font-size:14px;font-weight: 700;}
#header .search fieldset .keyword dd a b .ic-verified {margin:-3px 0px 0px 2px;display:inline-block; height:13px; width:13px; vertical-align:middle;background-position: -120px -15px;background-size: 150px 150px;}
#header .search fieldset .keyword dd .photo {float:left;width:31px;height:31px;background:no-repeat 50% 50%;background-size:cover;border-radius:3px;margin-right:9px;}
#header .search fieldset .keyword .sds dd a {font-size:13px;min-height:16px;color:#383d48;}
#header .search fieldset .keyword .popular dd a, #header .search fieldset .keyword .recently dd a {color:#383d48;min-height: 19px;font-weight: 600; font-size: 14px; line-height: 18px;}
#header .search fieldset .keyword .recently .del {opacity:0;position:absolute;top:0;right:0;padding:0 13px;line-height:26px;}
#header .search fieldset .keyword .recently li:hover .del, #header .search fieldset .keyword .recently li.hover .del {opacity:1;}
#header .search fieldset .keyword .recently li:hover, #header .search fieldset .keyword .recently li.hover {background: #f7f7f7;}
#header .search fieldset .keyword .recently .del:before {content:'';display:inline-block;vertical-align:middle;width:7px;height:7px;background-position:-120px -40px;}
#header .search fieldset .keyword .user dd .photo {border-radius:100%;}
#header .search .trick {display:none;}
#header .search fieldset {position: relative;margin-top: 10px;}
#header .search fieldset:before {content:'';position:absolute;left:10px;top:50%;width: 14px;height: 14px;margin-top: -7px;opacity: 0.7;background-position: 0 -20px;}
#header .search fieldset input:focus {background:none !important;box-shadow:none !important;}
#header .search fieldset input::-webkit-input-placeholder {color:#889098;}
#header .search fieldset input:-moz-placeholder {color:#889098;}
#header .search fieldset input:-ms-input-placeholder {color:#889098;}
#header .search.focus fieldset input::-webkit-input-placeholder {color:#889098;}
#header .search.focus fieldset input:-moz-placeholder {color:#889098;}
#header .search.focus fieldset input:-ms-input-placeholder {color:#889098;}
#header .search.active fieldset:before {opacity:1;}
#header .prompt-inbox:before {content:'';position:absolute;bottom:100%;left:50%;border:8px solid transparent;border-bottom-color:rgba(0,0,0,0.24);margin-left:-8px;}
#header .prompt-inbox:after {content:'';position:absolute;bottom:100%;left:50%;border:7px solid transparent;border-bottom-color:#4092de;margin-left:-7px;}
#header .prompt-inbox h4 {font-size:12px;color:#fff;padding: 15px 14px 2px;border: 0;}
#header .prompt-inbox ul {line-height:20px;padding: 4px 14px 13px;font-size:12px;color: #fff;opacity: 0.8;}
#header .prompt-inbox li > label {float:left;}
#header .prompt-inbox li > b {float:right;}
#header .prompt-inbox li:after {content:'';clear:both;display:block;}
#header .prompt-inbox a.view {display:block;padding:10px 0;text-align:center;font-size:12px;line-height:20px;color:#fff;border-top:1px solid rgba(55,60,74,0.08);font-weight:bold;}
#header .prompt-inbox a.close {position:absolute;top:0;right:0;width:39px;height:39px;text-indent:-1000em;opacity:0.5;}
#header .prompt-inbox a.close:before {content:'';position:absolute;right:15px;top:15px;width: 10px;height: 10px;background-position:-95px -167px;}
#header .prompt-cs:before {content:'';position:absolute;bottom:100%;left:50%;border:8px solid transparent;border-bottom-color:rgba(0,0,0,0.24);margin-left:-8px;}
#header .prompt-cs:after {content:'';position:absolute;bottom:100%;left:50%;border:7px solid transparent;border-bottom-color:#4092de;margin-left:-7px;}
#header .prompt-cs a {display:block;padding: 0 14px 10px;font-size:12px;line-height:16px;color:#badefe;}
#header .prompt-cs h4 {font-size:12px;color:#fff;padding: 10px 14px 0;border: 0;line-height:16px;}


/* responsive */
#wrap {padding-top: 108px;}
#header .submenu-dropdown .inner:before {left:50%;width:auto;border-right:0;}
#header .submenu-dropdown dl:nth-child(odd) {clear:both;}
#header .submenu-dropdown .banner:nth-child(3) {float: none;width: auto;clear: both;}
#header .submenu-dropdown .banner img {position:relative;width: 50%;padding-right: 50%;height: auto;display: block;}
#header .submenu-dropdown .banner b {position:static;}
#header .gnb-wrap.right > li > a[class^="mn"] {display:inline-block;vertical-align:middle;}
#header .submenu {position: fixed;top: 56px;left: -100%;transition:0.22s left;width: 100%;height: calc(100% - 55px);overflow: auto;background: #fff;padding: 0;z-index:2;border-top: 0;box-shadow: inset 0 -1px 0px rgba(0,0,0,0.03);}
#header .submenu .gnb {display: block;}
#header .submenu .gnb .trick {display:none;}
#header .submenu .gnb+.gnb {border-top:1px solid #F6F6F6}
#header .submenu.show .gnb:hover .submenu-dropdown {box-shadow:none;}
#header .submenu-dropdown.more dl:first-of-type, #header .submenu-dropdown.explore dl:last-of-type {clear:both;float:none;width:auto;}
#header .gnb.hover .submenu-dropdown {height:auto !important;visibility:visible;}
#header .menu-contain-you .menu-container-you {width:100%;}
#header .trick {top:auto;bottom:55px;height:calc(100% - 55px);}
#header .search {position:fixed;top: 55px;left:0;width: 100% !important;background:#fff;padding: 0 15px 10px;box-sizing:border-box;box-shadow:inset 0 1px 0 #F6F6F6, 0 1px 0px rgba(0,0,0,0.03), 0 1px 1px rgba(0,0,0,0.05);display: block;z-index: 0;}
#header.open .submenu {left:0;}
#header .gnb-wrap .gnb a.mn-signin {margin-left:8px;}
#header .gnb-wrap .gnb a.mn-signup, #header .gnb-wrap .gnb a.mn-signin {padding:0 10px;}
@media screen and (max-width: 400px) {
    #header .gnb-wrap.right > li > a {display:none;margin:0;}
	#header .gnb-wrap.right > li > a.mn-you {margin-left:5px;}
	#header .gnb-wrap .gnb a.mn-signup, #header .gnb-wrap .gnb a.mn-signin {padding:0 7px;}
}
