.after:after, .invite .directly fieldset:after, .invite .tab:after, .find-ff .followers-listing:after, .find-ff .sns-list:after, .userinfo .things:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  border: 0;
}

.invite h2 {
  color: #fff;
  font-weight: 400;
  background: #273249;
  padding: 30px 15px 20px;
}

.invite h2:before {
  width: 99px;
  height: 99px;
  content: '';
  display: block;
  margin-bottom: 20px;
  background: url("../../_ui/images/svg/ic_invite.svg") no-repeat;
  background-size: 150px 150px;
}

.invite h2 b {
  display: block;
  font-size: 30px;
  color: #2785fa;
}

.invite h2 small {
  display: block;
  padding: 10px 0 0;
  font-size: 14px;
  line-height: 20px;
  max-width: 420px;
  padding-right: 40px;
}

.invite h2 em {
  text-decoration: underline;
}

.invite h3 {
  font-size: 17px;
  line-height: 20px;
  padding-bottom: 12px;
  font-weight: bold;
}

.invite .wrap {
  padding: 15px 15px 0;
}

.invite .tail {
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  padding: 15px;
}

.invite .share-link input[type="text"] {
  width: 100%;
}

.invite .tab li {
  float: left;
  width: calc((100% - 20px)/3);
}

.invite .tab li + li {
  margin-left: 10px;
}

.invite .tab svg {
  vertical-align: middle;
  margin: -3px 6px 0 0;
}

.invite .tab svg * {
  fill: #222B3D;
  opacity: 0.9;
}

.invite .tab button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 43px;
  font-size: 14px;
  color: #222B3D;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(112, 112, 112, 0.2);
  font-weight: bold;
  text-align: center;
}

.find-ff {
  background: #ebeced;
}

.find-ff > .sorting-title {
  display: table;
  width: 100%;
  background: url("../../_ui/images/svg/bg-find-ff.svg") no-repeat 50% 50% #E3EEED;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.find-ff > .sorting-title h2 {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 20px;
  text-align: center;
  font-size: 30px;
}

.find-ff .tab {
  background: #fff;
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
  border-radius: 0;
  z-index: 0;
  white-space: nowrap;
  overflow: auto;
  padding: 19px 17px;
  text-align: center;
}

.find-ff .tab li {
  display: inline-block;
  vertical-align: top;
  padding: 0 3px;
}

.find-ff .tab svg {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -3px 5px 0 0;
}

.find-ff .tab svg * {
  fill: #4B525E;
}

.find-ff .tab a {
  display: block;
  background: #EAEBED;
  border-radius: 18px;
  font-size: 14px;
  line-height: 36px;
  color: #4B525E;
  padding: 0 20px;
  font-weight: 700;
}

.find-ff .tab a.current {
  background: #4b515e;
  color: #fff;
}

.find-ff .tab a.current svg * {
  fill: #fff;
}

.find-ff .tab a.facebook svg {
  margin-right: 8px;
}

.find-ff .tab a.twitter svg {
  margin: -3px 6px 0 -1px;
}

.find-ff .search-sns {
  padding: 75px 0;
  text-align: center;
}

.find-ff .search-sns p {
  font-size: 18px;
  color: #686F76;
  padding: 0;
  font-weight: 500;
}

.find-ff .search-sns span {
  display: block;
}

.find-ff .search-sns b {
  display: block;
  font-size: 24px;
  color: #2E363E;
  padding-bottom: 10px;
}

.find-ff .search-sns .btn-blue {
  margin-top: 20px;
}

.find-ff .followers-listing > li {
  position: relative;
  float: left;
  width: calc((100% - 54px)/4);
  margin: 0 0 18px 18px;
  z-index: 0;
}

.find-ff .followers-listing > li.active {
  z-index: 1;
}

.find-ff .followers-listing > li:nth-child(4n+1) {
  clear: both;
  margin-left: 0;
}

.find-ff .userinfo {
  width: calc(50% - 10px);
  margin: 0 0 10px 10px;
  float: left;
}

.userinfo {
  border-radius: 5px;
  background: #fff;
  position: relative;
}

.userinfo .cover {
  position: relative;
  display: block;
  text-align: center;
  background: no-repeat 50% 50%;
  background-size: cover;
  height: 150px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.userinfo .cover img {
  vertical-align: top;
  width: 100%;
  height: 150px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.userinfo .cover:before {
  content: '';
  position: absolute;
  background: #000;
  opacity: 0.06;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.userinfo .cover.blue {
  background-color: #92a7bd;
}

.userinfo .cover.silver {
  background-color: #a3a7af;
}

.userinfo .cover.green {
  background-color: #92b3bd;
}

.userinfo .cover.purple {
  background-color: #929fbd;
}

.userinfo .avatar {
  position: absolute;
  left: 50%;
  top: 150px;
  margin: -40px 0 0 -40px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 1px 0 rgba(0, 0, 0, 0.26), 0 1px 0px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 0 2px #fff, 0 0 1px 0 rgba(0, 0, 0, 0.26), 0 1px 0px 0 rgba(0, 0, 0, 0.08);
}

.userinfo .info {
  display: block;
  padding: 52px 0 0;
  color: #8a8f9c;
  position: relative;
}

.userinfo a {
  color: #8a8f9c;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  display: block;
  padding-bottom: 53px;
  height: 250px;
}

.userinfo a.follow-user-link.dimmed {
  color: #787d8a;
}

.userinfo a.follow-user-link.following {
  background: #2785fa;
  color: #fff;
}

.userinfo b {
  display: block;
  font-size: 14px;
  color: #373d48;
  padding: 50px 0 0;
}

.userinfo .btn-gray {
  position: absolute;
  bottom: 10px;
  left: 10px;
  line-height: 31px;
  color: #2f333b;
  font-weight: bold;
  padding: 0 15px;
  background: #fff;
  border-radius: 16px;
  width: calc(100% - 20px);
}

.userinfo .things {
  display: block;
  padding: 16px 15px 15px;
  text-align: center;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.userinfo .things a {
  display: none;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin: 0 2px;
}

.userinfo .things a:nth-child(1), .userinfo .things a:nth-child(2), .userinfo .things a:nth-child(3) {
  display: inline-block;
}

.userinfo .things img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: no-repeat 50% 50%;
  background-size: cover;
  background-color: #f7f7f7;
  display: block;
}

#fb-root .fb_dialog {
  position: fixed;
}
/*# sourceMappingURL=m.invite.css.map */