@charset "UTF-8";
$font-path: "../../_ui/css/font/";
$img-path: "../../_ui/images/normal/";
$img-retina-path: "../../_ui/images/retina/";
$img-svg-path: "../../_ui/images/svg/";

$bgColor: #ebeced;
$defaultFont: 'Hanken Grotesk',"Helvetica Neue",sans-serif;
$serifFont: Georgia,"Times New Roman",Times,serif;
$codeFont: 'Courier New',Courier,monospace;
$defaultColor: #2E363E;
$pointColor: #2785fa;
$grayColor: #8a8f9c;
$lightColor: #f2f2f2;
$defaultShadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);

@mixin set-loading($color: #949597,$width: 40px, $border: 2px) {
	content:'';
	position: absolute;
	left: 50%;
	top: 50%;
	border: $border solid $color;
	border-radius:100% !important;
	height: $width;
	opacity: 1;
	width: $width;
	margin-top: -($width/2 + $border);
	margin-left: -($width/2 + $border);
	line-height: $width;
	@include animation(pulsate,1s);
}
@mixin transform($option,$val){
	-webkit-transform: $option($val);
	-moz-transform: $option($val);
	-ms-transform: $option($val);
	-o-transform: $option($val);
	transform: $option($val);
}
@mixin animation($name,$time,$count: infinite){
	animation: $name $time ease-in-out;
	animation-iteration-count:$count;
	-webkit-animation: $name $time ease-in-out;
	-webkit-animation-iteration-count:$count;
	-moz-animation: $name $time ease-in-out;
	-moz-animation-iteration-count:$count;
}
@mixin transitions($option,$timing,$ani: ease-in-out){
	transition: $option $ani $timing;
	-webkit-transition: $option $ani $timing;
	-moz-transition: $option $ani $timing;
	-o-transition: $option $ani $timing;
}
@mixin bgGradient($start,$end,$top){
	background-image: -webkit-linear-gradient($top,$start,$end);
	background-image: -moz-linear-gradient($top,$start,$end);
	background-image: -o-linear-gradient($top,$start,$end);
	background-image: -ms-linear-gradient($top,$start,$end);
	background-image: linear-gradient($top,$start,$end);
}
@mixin calcWidth($width){
	width:calc(100% - $width);
	width:-webkit-calc(100% - $width);
	width:-moz-calc(100% - $width);
	width:-ms-calc(100% - $width);
}
@mixin text-placeholder($color: #b0b4bc){
	&::-webkit-input-placeholder {color:$color;}
	&:-moz-input-placeholder {color:$color;}
	&:-ms-input-placeholder {color:$color;}
	&.placeholder {color:$color;}
}
@mixin arrow($width,$color,$pos){
	border:$width solid transparent;
	border-#{$pos}-color:$color;
	position:absolute;
	left:50%;
	#{$pos}:100%;
	margin-left:-$width;
}
@mixin hide-txt($color:#ffffff, $width:60px,$right:0){
	display: block;
	content:'';
	position:absolute;
	top:0;
	right: $right;
	width:$width;
	@include bgGradient((rgba($color,0)),$color,left);
	height: 100%;
	margin: 0;
}
.after:after {content:'';clear:both;display:block;}
.interaction .send-msg:before, .popup.followers-lists .follow:before, .about .elsewhere li a:before, .interaction .btn-follow .follow:before, #summary .info .extra li:before, .title .ic-verified:before, #summary .info .sign .change:before, #coverImage .camera:before, #coverImage .menu-title:before, #coverImage .camera.btn-upload-cover:before {
	background:url('#{$img-svg-path}ic_user.svg') no-repeat;
	background-size:100px 100px;
}
.wrapper-content {
	position:relative;
	background:none;
	box-shadow:none;
	&:after {@extend .after:after;}
	div.empty {
		clear: both;
		padding: 170px 0 0;
		text-align: center;
		h3 {
			font-size: 20px;
			line-height: 22px;
			padding-bottom: 6px;
			color: $defaultColor;
		}
		p {
			font-size: 15px;
			line-height: 22px;
			color: #676e79;
			padding-bottom:34px;
			font-weight: 500;
		}
		.btn-blue {
			line-height:36px;
			border-radius:18px;
			font-size:14px;
		}
	}
}
.ui-sortable .figure-item {
	figure > a:after {
		content:'';
		position:absolute;
		top: 0;
		right:0;
		background: no-repeat url("#{$img-svg-path}ic_move.svg") 50% 50% rgba(0,0,0,0.2);
		background-size: 28px 28px;
		width: 100%;
		height: 100%;
		cursor: move;
		opacity: 0;
	}
	&:hover figure > a:after {opacity:0.7;}
}
.interaction {
	float:right;
	.send-msg {
		border-radius:6px;
		font-weight:bold;
		text-align:center;
		margin-top:20px;
		position:absolute;
		top:153px;
		right:20px;
		width:36px;
		height:36px;
		text-indent:-1000em;
		background:$bgColor;
		&:before {
			content:'';
			position:absolute;
			top:50%;
			left:50%;
			margin:-8px 0 0 -7px;
			width:14px;
			height:15px;
			background-position:0 -84px;
		}
	}
	.btn-follow {
		display:inline-block;
		vertical-align:middle;
		position: relative;
		height:36px;
		overflow:hidden;
		position:absolute;
		top:173px;
		right: 15px;
		width: calc(100% - 170px);
		a {
			display:block;
			line-height:36px;
			padding:0 15px;
			border:0;
			border-radius: 6px;
			font-size:14px;
			font-weight: bold;
			text-align:center;
			small {
				font-size:13px;
				color: #B3D3FD;
				font-weight:600;
				letter-spacing: -0.3px;
			}
		}
		.unfollow {
			background:$bgColor;
			color:#4D545B;
			small {color:#5C677A;}
		}
		.follow, .following {
			background:#1E7EFC;
			color:#fff;
		}
		.follow:before {
			content:'';
			display:inline-block;
			width: 10px;
			height: 10px;
			background-position: -45px -20px;
			vertical-align: middle;
			margin: -3px 8px 0 0;
		}
		&.unfollow .following, &.following .following, &.follow .following {display:none;}
		&.following .follow, &.unfollow .follow {margin-top:-36px;}
	}
	> .btn-gray {
		border-radius: 6px;
		line-height: 34px;
		position:absolute;
		top:173px;
		right:20px;
		font-size: 14px;
		font-weight: bold;
		width:75px;
		padding:0;
		z-index:1;
		&.active-selling {
			border-color: #373d48;
			background: #373d48;
			color: #ffffff;
			right:103px;
			width:110px;
		}
	}
}
.title .ic-verified, .sign .change {
	position:relative;
	em {
		visibility: hidden;
		position: absolute;
		bottom: 100%;
		left: 50%;
		font-size: 13px;
		color: #000;
		padding: 0 13px;
		line-height: 36px;
		border-radius: 5px;
		background: #fff;
		white-space: nowrap;
		opacity: 1;
		width: auto;
		margin: 0 0 10px;
		text-indent: 0;
		height: auto;
		box-shadow: 0 4px 8px rgba(0, 0, 0, .1), 0 0 1px rgba(0,0,0,0.2);
		&:after {
			content: '';
			position: absolute;
			border: 4px solid transparent;
			border-top-color: #fff;
			left: 50%;
			margin-left: -4px;
			top: 100%;
		}
	}
	&:hover em {
		visibility: visible;
		opacity:1;
	}
}
.article_item {
	border:0;
	.cover {
		img, video {
			width: 100%;
			object-fit:contain;
		}
		video {background:#000;}
		img+video {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
	.title {
		padding:0 10px;
		font-size:14px;
	}
	.description {
		padding:0 10px;
		font-size:12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.buttons {
		.button {
			left:10px;
			margin-bottom:10px;
		}
		.share {
			right:10px;
			margin-bottom:10px;
		}
	}
}
.listsection {
	background:#fff;
	border-radius: 5px;
	.title {
		position:relative;
		display:block;
		padding:12px 13px;
		font-size: 13px;
		line-height: 18px;
		color:$defaultColor;
		font-weight:bold;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		small {
			display:block;
			color:$grayColor;
			font-weight:500;
		}
	}
	.figure {
		display:block;
		img {
			display:block;
			width:100%;
			border-radius:5px 5px 0 0;
			background:no-repeat 50% 50%;
			background-size:cover;
		}
	}
}
.figure-item {
	border:0;
	border-radius: 5px;
	overflow: hidden;
	.btn-cart {
		position:absolute;
		right: 7px;
		top:50%;
		border:1px solid rgba(101,192,125,0.5);
		color:#65C07D;
		font-weight:bold;
		background:#fff;
		padding: 2px 8px;
		line-height: 19px;
		border-radius: 12px;
		font-size:12px;
		margin-top: -12px;
		z-index: 1;
		box-shadow: 0 0 0 5px #fff;
		&:after {
			@include hide-txt(#ffffff, 100px,100%);
			padding: 8px 0;
			margin-right: 1px;
			top: -8px;
		}
		&.sales {
			color: #ec3f3f;
			border-color: rgba(236,63,63,0.5);
		}
	}
	figcaption .title {
		font-size: 13px;
		line-height: 18px;
		height: 36px;
		white-space: normal;
		&:after {
			height:50%;
			top: auto;
			bottom: 0;
		}
	}
}
#content {
	padding: 0;
	box-shadow: none;
	background: #EBECED;
}
#summary {
	margin-bottom: 15px;
	.refine_menu {
		padding:15px 15px 0;
		select, input {
			width:100%;
			border-radius:6px;
			line-height:16px;
			font-weight: 600;
			font-size: 14px;
			background-color:#fff;
		}
		.keyword {
			position:relative;
			float:left;
			width:calc(100% - 135px);
			input {padding-left:32px;}
			a.remove {
				display:none;
				position:absolute;
				top: 50%;
				margin-top:-10px;
				right: 10px;
				width: 19px;
				height: 19px;
				background: rgba(0,0,0,0.2) url('#{$img-svg-path}button-close.svg') no-repeat 50% 50%;
				text-indent: -1000em;
				background-size: 7px;
				border-radius: 100%;
				&:hover {background-color:rgba(0,0,0,0.3);}
			}
			&:before {
				content: '';
				position: absolute;
				left: 10px;
				top: 50%;
				width: 14px;
				height: 14px;
				margin-top: -8px;
				opacity: 0.7;
				background:url('#{$img-svg-path}icon-header-b.svg') no-repeat 0 -20px;
			}
		}
		.sort {
			float:left;
			margin-left:10px;
			width: 125px;
		}
		&:after {@extend .after:after;}
	}
	.menu {
		font-size:0;
		letter-spacing:0;
		white-space:nowrap;
		overflow: auto;
		padding: 0 20px;
		background:#fff;
		text-align:center;
		li {
			display:inline-block;
			vertical-align:top;
			width:50%;
			&:first-child:last-child {width:100%;}
		}
		a {
			display:block;
			padding:0 13px;
			color: #4D545B;
			font-size:16px;
			line-height:63px;
			font-weight: bold;
			small {
				font-size:13px;
				font-weight:500;
				opacity:0.5;
			}
		}
		.current {
			box-shadow:inset 0 -3px 0 #1F7FFC;
			color: #1F7FFC;
		}
	}
	.reposition {
		position:absolute;
		bottom:0;
		right:0;
		width:100%;
		padding:15px 19px;
		box-sizing:border-box;
		background: #fff;
		border-radius: 0 0 5px 5px;
		display: none;
		.guide {
			float:left;
			line-height:36px;
		}
		.btns {
			float:right;
			a {
				line-height:34px;
				border-radius:18px;
				font-size:14px;
				padding: 0 15px;
			}
		}
	}
	.menu-container.opened .menu-content {
		opacity:1;
		visibility:visible;
	}
	.menu-content {
		position: absolute;
		top: 43px;
		right: -5px;
		padding: 7px 0;
		background: #fff;
		text-align: left;
		box-shadow: 0 4px 8px rgba(0, 0, 0, .1), 0 0 1px rgba(0,0,0,0.2);
		border-radius: 5px;
		width: 168px;
		opacity: 0;
		@include transitions(opacity, 0.3s);
		visibility: hidden;
		a {
			display:block;
			border-radius:0;
			white-space:nowrap;
			border:0;
			box-shadow:none;
			text-shadow:none;
			font-size: 13px;
			line-height: 17px;
			padding: 6px 13px;
			color:#383d48;
			font-weight: 600;
			background: #fff;
			text-align:left;
			&:hover {background:#f0f0f2;}
		}
	}
	.reposition, .organize-list, div.reposition {display: none;}
	.info {
		padding:66px 20px 0;
		background:#fff;
		&:after {@extend .after:after;}
		.sign {
			position:absolute;
			top:90px;
			left:20px;
			width:120px;
			z-index:1;
			.change {
				visibility:hidden;
				position:absolute;
				opacity:0;
				@include transitions(all, 0.18s);
				z-index: 1;
				border:0;
				display:block;
				background: rgba(0, 0, 0, .7);
				color: #fff;
				font-size: 13px;
				font-weight: 700;
				top: 50%;
				right: 50%;
				margin: -27px -27px 0 0;
				width: 54px;
				height: 54px;
				border-radius: 100%;
				padding: 0;
				text-align: center;
				line-height: 54px;
				&:before {
					content:'';
					display:inline-block;
					width: 22px;
					height: 22px;
					background-position: -40px -65px;
					vertical-align: middle;
					margin: -3px 0 0;
				}
			}
			img {
				width:100%;
				border-radius:5px;
				display:block;
				background:no-repeat 50% 50% #fff;
				background-size:contain;
			}
			.blank {background-color: #3d4a5d;}
		}
		&.fixed {
			position:fixed;
			top:120px;
			&.fixedBottom {
				top:auto;
				bottom:0;
			}
		}
		.title {
			font-size:22px;
			h1 {
				position:relative;
				display: inline-block;
				word-break:break-word;
			}
			small {
				font-size:15px;
				font-weight:500;
				display:block;
				color: #7D828D;
				line-height:22px;
				padding-top:5px;
			}
			.ic-verified {
				display: inline-block;
				margin: -3px 0 0 0;
				vertical-align: middle;
				&:before {
					display:block;
					content:'';
					width: 20px;
					height: 20px;
					background-position:-20px -20px;
				}
			}
		}
		.extra, .followers {
			padding-top:14px;
			li {
				font-size:14px;
				line-height:20px;
				padding:1px 0;
				color:$defaultColor;
				font-weight: 500;
			}
			a {
				display:block;
				color:$defaultColor;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.extra {
			li {
				position:relative;
				padding-left:22px;
				&:before {
					content:'';
					position:absolute;
					top:50%;
					left:0;
					width:14px;
				}
			}
			.location:before {
				height:18px;
				margin-top:-9px;
				background-position:-80px 0;
			}
			.website:before {
				height:14px;
				margin-top:-7px;
				background-position:0 -20px;
			}
			.opened {
				margin-top:17px;
				&:before {
					width:16px;
					height:16px;
					margin-top:-8px;
					background-position: -60px -20px;
					left: -1px;
				}
			}
		}
		.tagline {
			font-size:14px;
			line-height:22px;
			padding-top: 10px;
			font-weight: 500;
			word-break: break-word;
			position:relative;
			overflow:hidden;
			max-height:88px;
			color: $defaultColor;
			* {
				display:inline;
				float:none !important;
				font-weight: 500;
				color: $defaultColor;
			}
			img {display:none !important;}
			a.more {
				color: $defaultColor;
				b {
					display:inline-block;
					text-decoration: underline;
					font-weight: 600;
				}
				&:before {
					content: '...';
					margin-right: 4px;
					letter-spacing: -0.8px;
				}
			}
			&.more {max-height:none;}
		}
	}
}
#coverImage {
	position:relative;
	height:158px;
	.camera, .menu-container, .camera.btn-upload-cover {
		visibility:hidden;
		position:absolute;
		top: 14px;
		right: 16px;
		opacity:0;
		@include transitions(all, 0.18s);
		z-index: 1;
	}
	.camera, .menu-title, .camera.btn-upload-cover {
		border:0;
		padding: 0 16px;
		line-height: 37px;
		display:block;
		border-radius: 19px;
		background: rgba(0, 0, 0, .7);
		text-align: center;
		color: #fff;
		font-size: 13px;
		font-weight: 700;
		&:before {
			content:'';
			display:inline-block;
			width: 15px;
			height: 14px;
			background-position: -20px -65px;
			vertical-align: middle;
			margin: -3px 8px 0 0;
		}
	}
	img {
		display:block;
		height:158px;
		width:100%;
		background:no-repeat 50% 50%;
		background-size:cover;
	}
	.image {
		margin:0;
		position:relative;
		background-color: #3d4a5d;
		height:158px;
	}
	.menu-container .menu-title:hover {opacity:1;}
	.video_player .timestamp .progress i.loading {
		display:block;
		padding:0;
		border:0;
		height:100%;
	}
	.add {
		height:300px;
		background:#3d4a5d;
		&.loading {
			height: 300px;
			text-align:center;
			span {
				display:block;
				width:14px;
				height:14px;
				margin:125px auto 0;
				direction:ltr;
				text-indent:-1000em;
			}
		}
	}
	.add, .loading, .loading, .image img {display: none;}
	&.blue .image {background: #3d4a5d;}
	&.silver .image {background:#a3a7af;}
	&.green .image {background:#92b3bd;}
	&.purple .image {background:#929fbd;}
	&.image {
		overflow:hidden;
		.image {
			background:none;
			height:158px;
			overflow:hidden;
			min-height: 158px;
			img {
				background:no-repeat 50% 50%;
				background-size:cover;
				width:100%;
				height:158px;
			}
		}
	}
	&.add {
		overflow:hidden;
		position: relative;
		background: #FFF;
	}
	&.loading .loading, &.image .image img {display:block;}
	&.video {max-height:158px;}
}
.owner {
	#coverImage .image {min-height: 158px;}
	#sidebar .sign .change, #coverImage .camera, #coverImage .menu-container, #coverImage .camera.btn-upload-cover {
		visibility:visible;
		display: block !important;
	}
	#sidebar .sign:hover .change, #coverImage:hover .camera, #coverImage .menu-container.opened, #coverImage:hover .menu-container, #coverImage:hover .camera.btn-upload-cover {opacity: 1;}
}
.yet_product {
	text-align:center;
	font-size: 16px;
	line-height: 20px;
	color:rgba(103,110,121,0.7);
	padding: 170px 0;
	b {
		font-size: 20px;
		line-height: 22px;
		padding-bottom: 6px;
		color: $defaultColor;
	}
	p {
		font-size: 15px;
		line-height: 22px;
		color: #676e79;
		padding-bottom:34px;
		font-weight: 500;
	}
	.btn-blue {
		line-height:36px;
		border-radius:18px;
		font-size:14px;
	}
}
.empty-result {
	font-size: 15px;
	line-height: 22px;
	color: #676e79;
	padding: 170px 0 34px;
	font-weight: 500;
	text-align: center;
}
#pop_wrap {
	&.followers-lists .popup.followers-lists {display:block;}
	.popup {
		max-width:90%;
		background:#fff;
		border-radius:6px;
		.ltit {
			box-sizing: border-box;
			font-weight: 700;
			line-height: 29px;
			color: #393d4d;
			padding: 12px 15px 10px;
			font-size: 16px;
			border-bottom: 1px solid #f2f2f2;
		}
	}
	.popup.followers-lists {width: 450px;}
	.popup.biography-pop {width: 600px;}
}
.popup.biography-pop {
	.biography {
		padding:20px;
		font-size:15px;
		line-height:22px;
		max-height:508px;
		overflow:auto;
		font-weight:500;
		p:last-child {padding-bottom:0;}
	}
}
.popup.followers-lists {
	.btn-area {
		text-align:right;
		padding:15px;
		border-top:1px solid #e7e8ea;
	}
	ul {
		overflow:auto;
		padding: 0 16px;
		height: 424px;
	}
	li {
		position: relative;
		padding: 11px 0;
		color: #393d4d;
		font-weight: bold;
		line-height: 30px;
		font-size: 12px;
		&:first-child {border-top:0;}
		img {
			width: 34px;
			height: 34px;
			position: absolute;
			left: 0;
			border-radius: 100%;
			top: 50%;
			margin-top: -17px;
			background-size: cover;
		}
	}
	.loading {
		min-height:34px;
		&:before {
			content:'';
			position:absolute;
			top: 0;
			left:0;
			width:100%;
			height: 100%;
			background:rgba(255,255,255,0.6);
		}
		&:after {
			content:'';
			@include set-loading(#949597,16px, 1px);
		}
	}
	.more {text-align:center;}
	.username {
		line-height: 18px;
		padding-left: 45px;
		display: inline-block;
		vertical-align: middle;
		font-weight: 500;
		color: $grayColor;
		font-size: 13px;
		b {
			display: block;
			color: #393d4d;
			font-size: 14px;
		}
	}
	.follow, .following, .private {
		position:absolute;
		margin-top:-17px;
		right:0;
		top:50%;
		display:block;
		line-height:34px;
		padding:0 13px;
		border:0;
		border-radius:18px;
		font-size:14px;
		font-weight: bold;
		background:$bgColor;
		color:#4D545B;
		&:before {display:none;}
	}
	.follow {
		background:#1E7EFC;
		color:#fff;
		&:before {
			content:'';
			display:inline-block;
			width: 10px;
			height: 10px;
			background-position: -45px -20px;
			vertical-align: middle;
			margin: -3px 8px 0 0;
		}
	}
	.remove {
		position:absolute;
		right:100px;
		line-height:20px;
		top:50%;
		margin-top:-10px;
		color: #c54747;
	}
	&.loading {
		height:468px;
		&:before {
			content:'';
			position:absolute;
			top:44px;
			left:0;
			width:100%;
			height:424px;
			background:rgba(255,255,255,0.6);
			z-index:3;
		}
		&:after {
			content:'';
			@include set-loading(#949597,40px, 2px);
			z-index:4;
		}
	}
}
.accept_contributor {
	position: relative;
	margin-bottom: 18px;
	padding:15px;
	text-align:right;
	z-index: 1;
	box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px #DCDDE0;
	background: #fff;
	border-radius: 3px;
	p {
		padding-bottom:0;
		float:left;
		text-align:left;
		line-height: 20px;
	}
	a, button {
		font-size:12px;
		line-height:29px;
		margin: 4px 0 4px 4px;
	}
	&:after {@extend .after:after;}
}
.profile {
	.figure-list, .lists-list {
		padding:0 15px 0 0;
		> li {
			position:relative;
			float:left;
			width: calc(50% - 15px);
			margin: 0 0 15px 15px;
			z-index: 0;
			&:nth-child(4n+1), &:nth-child(3n+1) {
				clear:none;
				margin-left:15px;
				width: calc(50% - 15px);
			}
			&:nth-child(2n+1) {clear:both;}
		}
		> .active {z-index:1;}
	}
	.listsection .figure-list {padding:0;}
	&.ui-sortable {
		width:auto;
		margin:0;
		padding:0 15px 0 0;
		> li, > li:nth-child(3n+1) {
			clear:none;
			width: calc(50% - 15px);
			margin: 0 0 15px 15px;
		}
		> .ui-sortable-placeholder {max-height:369.98px;}
	}
	.loading #infscr-loading .loading {margin-left:100px;}
}