.index .visual a.prev i,
.index .visual a.next i {
    background: url("../images/activity_feed.png") no-repeat;
    background-size: 100px 100px;
}
.index .visual {
    display: table;
    width: 100%;
    height: 225px;
    background: #fff;
    box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
}
.index #topBanner {
    display: table-cell;
    vertical-align: middle;
}
.index .visual .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.index .visual .slide_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: left 0.3s;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    overflow: hidden;
}
.index .visual .slide_item .thumbnail {
    background: no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}
.index .visual .slide_item a {
    color: #fff;
    background: #222427;
    display: block;
    width: 100%;
    height: 100%;
}
.index .visual .visual .paging2 .slide_item.mod,
.index .visual .visual .paging3 .slide_item.thorocraft {
    left: -100%;
}
.index .visual .visual .paging1 .slide_item.mod,
.index .visual .visual .paging2 .slide_item.thorocraft,
.index .visual .visual .paging3 .slide_item.nike {
    left: 0;
    opacity: 1;
}
.index .visual .paging {
    text-align: center;
    line-height: 50px;
}
.index .visual .paging a {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    box-shadow: inset 0 0 0 1px #2d7fda;
    opacity: 0.5;
    text-indent: -1000em;
    border-radius: 100%;
}
.index .visual a:hover {
    text-decoration: none;
}
.index .visual a.prev,
.index .visual a.next {
    position: absolute;
    top: 0;
    width: 70px;
    height: 100%;
    opacity: 0;
    transition: 0.22s;
    -webkit-transition: 0.22s;
    -moz-transition: 0.22s;
    z-index: 3;
}
.index .visual a.prev,
.index .visual a.next {
    opacity: 1;
}
.index .visual a.prev.disabled,
.index .visual a.next.disabled {
    display: none;
}
.index .visual a.prev i,
.index .visual a.next i {
    position: absolute;
    width: 13px;
    height: 25px;
    top: 50%;
    margin-top: -13px;
    opacity: 0.9;
}
.index .visual a.next {
    right: 0;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.index .visual a.next i {
    background-position: -65px -65px;
    right: 20px;
}
.index .visual a.prev {
    left: 0;
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background: linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background: -ms-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.index .visual a.prev i {
    background-position: -65px -40px;
    left: 20px;
}
.index .visual .paging a.current {
    background: #4a82c1;
    opacity: 1;
    box-shadow: none;
}
.index .visual .title {
    font-size: 15px;
    font-family: 'Merriweather';
    color: #fff;
    position: relative;
    display: block;
    vertical-align: middle;
    font-weight: 600;
    text-align: center;
    line-height: 21px;
}
.index .visual .title b {
    display: inline-block;
    vertical-align: middle;
    : -moz-transition: ;
}
.index .visual .title small {
    display: block;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.index .visual .slide_item > a:after {
    opacity: 0.5;
}
.index .lists-list:after {
    content: '';
    clear: both;
    display: block;
}
.index .lists-list {
    padding: 0 10px;
}
.index .lists-list a {
    font-size: 12px;
    line-height: 18px;
    color: #38424c;
}
.index .lists-list .title {
    padding: 7px 9px;
    display: block;
}
.index .lists-list .count {
    display: none;
}
.index .lists-list img {
    width: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    border-radius: 3px 3px 0 0;
    display: block;
}
.index .lists-list li {
    float: left;
    width: calc(50% - 6px);
    width: -webkit-calc(50% - 6px);
    width: -moz-calc(50% - 6px);
    margin-bottom: 12px;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
    -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
    -moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
}
.index .lists-list li:nth-child(even) {
    float: right;
}
.index .store:after {
    content: '';
    clear: both;
    display: block;
}
.index ul.store {
    padding: 0 10px;
}
.index .store li {
    text-align: center;
    position: relative;
    float: left;
    width: calc(50% - 6px);
    width: -webkit-calc(50% - 6px);
    width: -moz-calc(50% - 6px);
    margin-bottom: 12px;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
    -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
    -moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
    padding: 45px 0 0;
}
.index .store li a {
    display: block;
    font-size: 11px;
    line-height: 15px;
    color: #8a8f9c;
}
.index .store li b {
    display: block;
    font-size: 12px;
    color: #38424c;
    padding: 9px 0 0;
}
.index .store li a.go {
    color: #535c65;
    border-top: 1px solid #f0f1f2;
    line-height: 34px;
    margin-top: 9px;
    font-weight: bold;
}
.index .store li:nth-child(even) {
    float: right;
}
.index .store .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 69px;
    background: #01182f;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.index .store .cover.blue {
    background: #92a7bd;
}
.index .store .cover.silver {
    background: #a3a7af;
}
.index .store .cover.green {
    background: #92b3bd;
}
.index .store .cover.purple {
    background: #929fbd;
}
.index .store .cover img {
    display: block;
    height: 100%;
    width: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
}
.index .store .avatar {
    margin: 0 auto;
    width: 44px;
    height: 44px;
    border: 2px solid #fff;
    border-radius: 3px;
    background: no-repeat 50% 50%;
    background-size: cover;
    display: block;
    position: relative;
}
.figure-list {
    margin: 10px 10px 0;
}
.figure-list:after {
    content: '';
    clear: both;
    display: block;
}
.figure-list li {
    position: relative;
    float: right;
    font-size: 12px;
    width: 48%;
    width: calc(50% - 7px);
    width: -webkit-calc(50% - 7px);
    width: -moz-calc(50% - 7px);
    margin-bottom: 10px;
    line-height: 17px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(202, 203, 209, 0.11), 0 0px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #D0D2D6;
    overflow: hidden;
}
.figure-list .figcaption {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10px;
    padding-top: 7px;
}
.figure-list .username {
    display: block;
    color: #8a8f9c;
    white-space: nowrap;
    margin: 0 10px;
    padding-bottom: 7px;
}
.figure-list li:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 47px;
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 60%, white 90%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 60%, #ffffff 90%);
    pointer-events: none;
    border-radius: 0 0 3px 0;
}
.figure-list .username a {
    color: #8a8f9c;
    display: inline;
}
.figure-list .username a:nth-child(2):before {
    content: '·';
    margin-right: 4px;
}
.figure-list img {
    width: 100%;
    border-radius: 0;
    background: no-repeat 50% 50%;
    background-size: cover;
    display: block;
}
.figure-list a {
    display: block;
    color: #383d48;
}
.figure-list b {
    color: #383d48;
}
.figure-list b.sales {
    color: #b42c2c;
}
.figure-list b.sales small {
    font-size: 11px;
    font-weight: normal;
    color: #383d48;
    text-decoration: line-through;
}
.figure-list li:nth-child(2n+1) {
    clear: both;
    float: left;
}
