.thing ul.suggest a:before {background: url('../images/new_header.png') no-repeat;background-size: 75px 75px;}
.figure-product .option .icon {background: url('../images/thing_icon.png') no-repeat;background-size: 50px 50px;}
.popup.hotel-policy .close,.figure-product .frm .ic-calendar,.popup.vanity-number-detail .vanity_result .phone .icon:after {background: url('../images/m_img.png') no-repeat;background-size: 150px 150px;}
.thing .userinfo:first-of-type,.wrap {background: #fff;border: 1px solid rgba(208, 211, 216, 0.83);box-shadow: 0 0 2px rgba(202, 203, 209, 0.11), 0 0px 1px rgba(0, 0, 0, 0.04);border-radius: 3px;margin: 10px 10px 0;}
.wrap .tit {border-radius: 3px 3px 0 0;font-weight: 700;border-bottom: 1px solid #e2e5e7;font-size: 14px;line-height: 20px;padding: 12px 10px;}
a.follow,a.following {line-height: 25px;height: 25px;width: 25px;text-align: center;display: inline-block;border: 1px solid;border-radius: 3px;font-weight: bold;color: #4c4f53;background: #f0f0f0;background: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);background: -ms-linear-gradient(top, #fafafa, #f0f0f0);background: -moz-linear-gradient(top, #fafafa, #f0f0f0);background: -o-linear-gradient(top, #fafafa, #f0f0f0);filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f0f0f0');border-color: #c3c3c3 #bebebe #b6b6b6;margin-top: -5px;padding: 0;}
a.follow .icon,a.following .icon {display: inline-block;vertical-align: middle;background: url('../images/search.png') no-repeat;background-size: 50px 50px;margin-top: -3px;}
a.follow .icon {width: 14px;height: 15px;background-position: 0 -15px;}
a.following .icon {width: 15px;height: 14px;background-position: -20px -15px;}
a.follow span,a.following span {display: none;}
.activitiy-tab {overflow: hidden;font-weight: bold;position: relative;margin: 10px 10px 0;box-shadow: 0 0 2px rgba(202, 203, 209, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 #f8f9f9;border: 1px solid #bcbfc3;border-radius: 3px;line-height: 42px;background: #eeeff0;background: -webkit-linear-gradient(top, #f4f5f6, #eeeff0);background: -ms-linear-gradient(top, #f4f5f6, #eeeff0);background: -moz-linear-gradient(top, #f4f5f6, #eeeff0);background: -o-linear-gradient(top, #f4f5f6, #eeeff0);filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f4f5f6', endColorstr='#eeeff0');}
.activitiy-tab a {display: block;color: #767f8d;text-align: center;border-left: 1px solid #d9d9da;}
.activitiy-tab li {float: left;width: 33.3%;}
.activitiy-tab li:first-child {width: 33.4%;}
.activitiy-tab li:first-child a {border-left: 0;}
.activitiy-tab a.current {color: #585d6b;background: #fff;background: -webkit-linear-gradient(top, #fff, #fafafa);background: -ms-linear-gradient(top, #fff, #fafafa);background: -moz-linear-gradient(top, #fff, #fafafa);background: -o-linear-gradient(top, #fff, #fafafa);filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fafafa');}
.activitiy-tab:after {content: '';clear: both;display: block;}
.activity-list .activity-item {position: relative;font-size: 12px;color: #383d48;padding: 15px 15px 15px 64px;line-height: 36px;border-top: 1px solid #f0f0f0;}
.activity-list .activity-item .activity-status {max-width: 100%;display: inline-block;vertical-align: middle;line-height: 18px;}
.activity-list .activity-item .comment-list li {min-height: 0;padding: 0;color: #8a8f9c;}
.activity-list .activity-item:first-child {border-top: 0;}
.activity-list .activity-item .avatar {position: absolute;top: 12px;left: 12px;}
.activity-list .activity-item .avatar img {border-radius: 100%;width: 41px;height: 41px;display: block;background: no-repeat 50% 50%;background-size: cover;}
.activity-list .activity-item .avatar.store img {border-radius: 3px;}
.activity-list .activity-item .activity-status a {color: #383d48;}
.activity-list .activity-item .activity-status a:first-child {font-weight: bold;}
.activity-list .activity-item .items {margin-top: 13px;margin-bottom: -3px;white-space: nowrap;overflow: auto;}
.activity-list .activity-item .items:after {content: '';clear: both;display: block;}
.activity-list .activity-item .items li {display: inline-block;vertical-align: top;}
.activity-list .activity-item .items li:first-child {margin-left: 0;}
.activity-list .activity-item .items img {width: 63px;height: 61px;display: block;background: no-repeat 50% 50%;background-size: cover;box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.036);border-radius: 3px;}
.activity-list .activity-item .user-profile,.activity-list .activity-item .figure-product {display: none;}
.activity .merchant-post .store-comment {font-size:14px;line-height:18px;padding-bottom:10px;}
.activity .merchant-post .store-cover {display:block;margin-bottom:10px;}
.activity .merchant-post .store-cover img {width:100%;height: 105px;display:block;background:no-repeat 50% 50%;background-size:cover;}
.activity .merchant-post .store-thing {position: relative;}
.activity .merchant-post .store-thing .btn-shop {display:none;}
.activity .merchant-post .figure-item {display:table;height: 50px;width: 100%;}
.activity .merchant-post .figure-item .figure {display:table-cell;width: 50px;background:no-repeat 50% 50%;background-size:cover;box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);border-radius: 3px;}
.activity .merchant-post .figure-item .figcaption {display:table-cell;vertical-align:middle;padding-left: 10px;font-size: 14px;line-height: 20px;color: #454a54;}
.activity .merchant-post .figure-item .title {display:block;line-height: 18px;padding: 1px 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.notification-list {position: relative;font-size: 12px;color: #383d48;padding: 15px 15px 15px 64px;min-height: 36px;line-height: 18px;border-top: 1px solid #f0f0f0;}
.notification-list:first-child {border-top: 0;}
.notification-list .avatar {position: absolute;top: 12px;left: 12px;}
.notification-list .avatar img {border-radius: 100%;width: 41px;height: 41px;display: block;background: no-repeat 50% 50%;background-size: cover;}
.notification-list dt a {color: #383d48;}
.notification-list dt a.nick {font-weight: bold;}
.notification-list .comment {display: block;color: #8a8f9c;}
.notification-list .deals img {width: 63px;display: none;}
.notification-list .thumnail {display: none;margin: 5px 0;white-space: nowrap;overflow: auto;}
.notification-list .thumnail img {width: 63px;height: 61px;vertical-align: top;background: no-repeat 50% 50%;background-size: cover;box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.036);border-radius: 3px;}
.notification-list .lists {display: block;margin: 5px 0;white-space: nowrap;overflow: auto;}
.notification-list .lists img {width: 63px;height: 61px;vertical-align: top;background: no-repeat 50% 50%;background-size: cover;box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.036);border-radius: 3px;}
.notification-list .timer {display: block;color: #8a8f9c;font-size: 11px;padding-top: 2px;}
.notification-list .follow,.notification-list .following {line-height: 25px;height: 25px;width: 25px;text-align: center;display: block;border: 1px solid;border-radius: 3px;font-weight: bold;color: #4c4f53;background: #f0f0f0;background: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);background: -ms-linear-gradient(top, #fafafa, #f0f0f0);background: -moz-linear-gradient(top, #fafafa, #f0f0f0);background: -o-linear-gradient(top, #fafafa, #f0f0f0);filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f0f0f0');border-color: #c3c3c3 #bebebe #b6b6b6;margin-top: 5px;padding: 0;display: none;}
.notification-list .follow .icon,.notification-list .following .icon {display: inline-block;vertical-align: middle;background: url('../images/search.png') no-repeat;background-size: 50px 50px;margin-top: -3px;}
.notification-list .follow span,.notification-list .following span {display: none;}
.notification-list .follow .icon {width: 14px;height: 15px;background-position: 0 -15px;}
.notification-list .following .icon {width: 15px;height: 14px;background-position: -20px -15px;}
.notify-empty {padding: 0 50px 60px;color: #999ca1;text-align: center;}
.notify-empty .icon {background: none;display: block;margin: 60px auto 20px;width: 100px;height: 100px;line-height: 100px;border-radius: 100%;border: 5px solid #c5c8cc;}
.notify-empty .ic-notify {display: inline-block;width: 60px;height: 42px;vertical-align: middle;background: url("../images/no-notify.png") no-repeat;background-size: 60px 42px;}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.notification-list,.activity-list .activity-item {border-width: 0.0417em;}
	.wrap,.wrap .tit,.activitiy-tab,.activitiy-tab a,.messages li,.notification-list .follow,.notification-list .following {border-width: 0.0385em;}
}
#content.messaging {position: static;background: none;}
.messaging .msg-list li {display: block !important;}
#messages {padding: 0;background: #f6f7f8;clear: both;min-height: 100%;position: fixed;width: 100%;top: 45px;left: 0;height: calc(100% - 45px);height: -webkit-calc(100% - 45px);height: -moz-calc(100% - 45px);overflow: auto;}
.messaging .msg-list.loading {background: none;position: static;}
.messaging .msg-list .username {font-weight: normal;}
.messaging .msg-list .new .username {font-weight: bold;}
.messaging .msg-list a.new,.messaging .msg-list .new a {font-size: 13px;color: #494c53;;}
.figure-product .figure {border-radius: 3px 3px 0 0;position: relative;overflow: hidden;}
.figure-product .figure-wrap:before {content: '';position: absolute;bottom: 0;left: 0;width: 100%;height: 20%;opacity: 0.15;background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0), #000000);background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0), #000000);background: linear-gradient(180deg, rgba(255, 255, 255, 0), #000000);}
.figure-product .figure-wrap {font-size: 0;white-space: nowrap;overflow: hidden;background: #f8f8f8;}
.figure-product .figure-wrap .figure-img,.figure-product .figure .figure-wrap .figure-img {margin: 0;display: inline-block;width: 100%;vertical-align: middle;}
.figure-product .figure-wrap .figure-img video {width: 100%;max-width: 640px;vertical-align: top;display: block;margin: 0 auto;transform: translateZ(0);}
.figure-product .figure-wrap .figure-img img {display: block;margin: 0 auto;width: 100%;max-width: 640px;background: no-repeat 50% 50%;background-size: contain;}
.figure-product figcaption {font-size: 16px;padding: 11px 12px 0;}
.figure-product .figure-detail {padding: 0 12px 0;display: block;}
.figure-product .figure-detail .booking-day .price {display: inline;}
.figure-product .figure-detail .price {display: inline-block;padding-top: 5px;font-size: 15px;color: #464d59;line-height: 20px;}
.figure-product .figure-detail .price.sales {color: #d81f31;}
.figure-product .figure-detail .price.sales .before {font-size: 15px;color: #464d59;font-weight: normal;text-decoration: line-through;}
.figure-product .figure-detail .percentage {font-size: 11px;color: #8a8f9c;}
.figure-product .figure-detail .percentage:before {content: '(';}
.figure-product .figure-detail .percentage:after {content: ')';}
.figure-product .figure-detail .currency {display: none;font-size: 11px;color: #464d59;font-weight: normal;}
.figure-product .figure-detail .currency_price {display: block;font-size: 10px;line-height: 15px;color: #8a8f9c;}
.figure-product .frm {padding: 7px 12px 0;}
.figure-product .frm .ic-calendar {display: inline-block;width: 18px;height: 18px;background-position: -20px -128px;vertical-align: middle;margin: -3px 4px 0 0;}
.figure-product .option {border-top: 1px solid #f0f0f0;padding: 13px;margin-top: 13px;text-align: right;}
.figure-product .option .btn-gray {line-height: 30px;margin-left: 2px;}
.figure-product .option .share,.figure-product .option .list {position: relative;text-indent: -1000em;width: 34px;padding: 0;}
.figure-product .option .share .icon,.figure-product .option .list .icon {position: absolute;top: 50%;left: 50%;}
.figure-product .option .share .icon {width: 13px;height: 10px;background-position: -20px 0;margin: -5px 0 0 -6px;}
.figure-product .option .list .icon {width: 10px;height: 10px;background-position: -35px 0;margin: -5px 0 0 -5px;}
.figure-product .option .fancy-count {line-height: 30px;background: #fafafa;border-radius: 3px;border: 1px solid #dedfe1;padding: 0 10px;margin-left: 8px;color: #6a6e78;position: relative;font-size: 12px;}
.figure-product .pagination {position: absolute;bottom: 0;left: 0;width: 100%;bottom: 14px;text-align: center;}
.figure-product .pagination a {margin: 0 3px;display: inline-block;vertical-align: top;width: 7px;height: 7px;text-indent: -1000em;border-radius: 100%;background: #fff;opacity: 0.3;}
.figure-product .pagination a.current {opacity: 1;}
.figure-product .option .fancy-count:before,.figure-product .option .fancy-count:after {content: '';position: absolute;right: 100%;top: 50%;border: 5px solid transparent;border-right-color: #dedfe1;margin-top: -5px;}
.figure-product .option .fancy-count:after {border-width: 4px;border-right-color: #fafafa;margin-top: -4px;}
.figure-product .option .fancy,.figure-product .option .fancyd,.figure-product .option .fancy-count {float: left;}
.figure-product .option .fancy .icon,.figure-product .option .fancyd .icon {display: inline-block;vertical-align: middle;width: 9px;height: 15px;background-position: 0 0;margin: -3px 4px 0 0;}
.figure-product .option .fancyd {color: #588cc7;}
.figure-product .option .fancyd .icon {background-position: -10px 0;}
.figure-product .frm .recipient {position:relative;}
.figure-product .frm .user-list {position:absolute;top:100%;left:0;margin-top:-12px;background:#fff;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.05);border-radius:0 0 3px 3px;max-height:200px;overflow:auto;padding:5px 0;width:100%;display:none;}
.figure-product .frm .user-list li {padding:5px 10px;line-height:18px;border-top:1px solid rgba(0,0,0,0.1);min-height:32px;}
.figure-product .frm .user-list li:after {content:'';clear:both;display:block;}
.figure-product .frm .user-list li:first-of-type {border-top:0;}
.figure-product .frm .user-list img {float:left;margin-right:6px;width:32px;height:32px;border-radius:100%;background:no-repeat 50% 50%;background-size:cover;}
.figure-product .frm .user-list b {display:block;}
.figure-product .frm label {display: block;font-size: 12px;color: #8a8f9c;padding-bottom: 7px;}
.figure-product .frm p {float: left;padding-bottom: 10px;width: calc(100% - 85px);width: -webkit-calc(100% - 85px);width: -moz-calc(100% - 85px);}
.figure-product .frm p.txt-error {display: none;}
.figure-product .frm .giftcard p {float: none;width: auto;}
.figure-product .frm .btn-create,.figure-product .frm .btn-policy {font-weight: bold;padding-top: 10px;width: 100%;display: block;margin-top: 5px;text-align: center;}
.figure-product .frm p.qty {float: right;width: 74px;}
.figure-product .frm p.qty:first-of-type {width: 100%;float: none;}
.figure-product .frm select {width: 100%;background: url('../images/select_boxes.png') no-repeat 100% 50% #f8f8f8;height: 33px;padding: 0 8px;-webkit-padding-end: 20px;border: 1px solid #cacccf;border-radius: 3px;background-size: 18px 21px;}
.figure-product .frm input,.figure-product .frm textarea {width: 100%;background: #f8f8f8;height: 33px;padding: 0 8px;box-sizing: border-box;-webkit-box-sizing: border-box;border: 1px solid #cacccf;border-radius: 3px;}
.figure-product .frm textarea {height: 100px;}
.figure-product .frm .in p,.figure-product .frm .out p {padding: 2px 8px;line-height: 27px;float: none;width: auto;border: 1px solid #cacccf;border-radius: 3px;background: #f8f8f8;margin-bottom: 10px;}
.figure-product .frm .people:after {clear: both;content: '';display: block;}
.figure-product .frm .people p {width: 50%;width: calc(50% - 5px);width: -webkit-calc(50% - 5px);width: -moz-calc(50% - 5px);}
.figure-product .frm .people p:nth-child(even) {float: right;}
.figure-product .frm div.calendar {display: none;}
.figure-product .frm .on div.calendar {display: block;}
.figure-product .frm .calendar {position: relative;border: 1px solid #cacccf;border-radius: 3px;text-align: center;margin-bottom: 10px;padding-bottom: 15px;}
.figure-product .frm .calendar p {border-radius: 3px 3px 0 0;border: 0;border-bottom: 1px solid #f4f4f4;padding: 4px 40px;}
.figure-product .frm .calendar table {margin: 0 auto;border-spacing: 3px;border-collapse: separate;}
.figure-product .frm .calendar th {font-size: 11px;color: #8a8f9c;font-weight: bold;height: 19px;padding-top: 10px;}
.figure-product .frm .calendar td {width: 33px;height: 33px;font-size: 13px;font-weight: bold;background: #f0f0f0;color: #949699;}
.figure-product .frm .calendar td a {color: #949699;}
.figure-product .frm .calendar td.disabled {background: #fff;}
.figure-product .frm .calendar td.today {background: #fff;border: 1px solid #f0f0f0;}
.figure-product .frm .calendar td.selected {background: #444750;color: #fff;}
.figure-product .frm .calendar b {font-size: 14px;}
.figure-product .frm .calendar .prev,.figure-product .frm .calendar .next {position: absolute;top: 0;display: block;width: 4px;height: 8px;padding: 14px 15px;}
.figure-product .frm .calendar .prev {left: 0;}
.figure-product .frm .calendar .prev i {display: block;border: 4px solid transparent;border-right-color: #000;margin-left: -6px;opacity: 0.5;}
.figure-product .frm .calendar .next {right: 0;}
.figure-product .frm .calendar .next i {display: block;border: 4px solid transparent;border-left-color: #000;margin-right: -6px;opacity: 0.5;}
.figure-product .btn-green {clear: both;box-sizing: border-box;-webkit-box-sizing: border-box;line-height: 38px;display: block;width: 100%;}
.suggest .figure-shop {white-space: nowrap;overflow: auto;font-size: 0;padding-bottom: 10px;}
.suggest .figure-shop li {display: inline-block;vertical-align: top;font-size: 12px;line-height: 17px;width: 169px;box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(0, 0, 0, 0.06);border-radius: 3px;margin: 10px 0 0 10px;background: #f3f3f3;padding: 169px 0 0;position: relative;}
.suggest .figure-shop img {position: absolute;width: 169px;height: 169px;top: 0;left: 0;background: no-repeat 50% 50%;background-size: cover;}
.suggest .figure-shop a {display: block;background: #fff;border-radius: 0 0 3px 3px;padding: 7px 9px;color: #3b3f46;white-space: nowrap;overflow: hidden;text-overflow: clip;}
.suggest .figure-shop li:after {content: '';position: absolute;bottom: 0;right: 0;width: 30%;height: 48px;background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 60%, white 90%);background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 60%, white 90%);pointer-events: none;border-radius: 0 0 3px 0;}
.suggest .figure-shop b {display: block;color: #3b3f46;}
.suggest .figure-shop .username {display: block;color: #92959a;}
.suggest .figure-shop .username a {display: inline;color: #92959a;}
.suggest .figure-shop .username b {display: inline;color: #3b3f46;}
.delivery-summary {position: relative;}
.delivery-summary li:first-child:before {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 1px;border-top: 1px solid #f0f0f0;}
.delivery-summary li {padding: 10px 0;margin: 0 14px;border-top: 1px solid #f0f0f0;font-size: 13px;line-height: 19px;}
.delivery-summary li:first-child {border-top: 0;}
.delivery-summary label {display: block;color: #8a8f9c;}
.figure-info a.see-more,.figure-info a.see-less {display: block;padding: 0 15px 15px;}
.figure-info .description {position: relative;padding: 15px 15px 0;margin-bottom: 15px;font-size: 13px;line-height: 18px;max-height: 72px;overflow: hidden;}
.figure-info .description.more {max-height: none;overflow: visible;}
/* comment */
.comment-list .view-comment {display: block;font-weight: bold;padding: 5px 10px;line-height: 20px;color: #383d48}
.comment-list li {display: block;position: relative;padding: 7px 10px 7px 52px;line-height: 16px;min-height: 34px;color: #3a3d41;word-break: break-all;}
.comment-list img {position: absolute;top: 5px;left: 10px;width: 33px;height: 33px;border-radius: 3px;border-radius: 100%;}
.comment-list .username {display: block;color: #383d48}
.comment-list {padding-bottom: 6px;}
.comment-list .username small {font-size: 1em;color: #8a8f9c;font-weight: normal;}
.comment-list .tit {margin-bottom: 5px;}
.comment-list fieldset {padding: 6px 7px 6px 52px;position: relative;}
.comment-list fieldset input {width: 70%;border: 1px solid #d1d5d7;border-radius: 3px;background: #f8f8f8;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;height: 33px;padding: 0 8px;width: calc(100% - 5px);width: -webkit-calc(100% - 5px);width: -moz-calc(100% - 5px);}
.comment-list fieldset .btn-post {display: none;height: 30px;position: absolute;top: 0;right: 10px;}
/* Fancy'd by */
#pop_wrap.user-fancyd .popup.user-fancyd {display: block;}
.popup.user-fancyd {background: #fff;border-radius: 3px;}
.userinfo {border-top: 1px solid #e7eaee;padding: 10px;}
.userinfo:first-of-type {border-top: 0;}
.userinfo dt button {float: right;line-height: 25px;height: 27px;width: 27px;text-align: center;display: inline-block;border: 1px solid;border-radius: 3px;font-weight: bold;color: #4c4f53;background: #f0f0f0;background: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);background: -ms-linear-gradient(top, #fafafa, #f0f0f0);background: -moz-linear-gradient(top, #fafafa, #f0f0f0);background: -o-linear-gradient(top, #fafafa, #f0f0f0);filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f0f0f0');border-color: #c3c3c3 #bebebe #b6b6b6;}
.userinfo dt button .icon {display: inline-block;vertical-align: middle;background: url('../images/search.png') no-repeat;background-size: 50px 50px;margin-top: -2px;}
.userinfo dt .follow .icon {width: 14px;height: 15px;background-position: 0 -15px;}
.userinfo dt .following .icon {width: 15px;height: 14px;background-position: -20px -15px;}
.userinfo dt img {position: absolute;left: 0;top: 0;width: 34px;height: 34px;border-radius: 3px;}
.userinfo dt a {display: block;position: relative;padding: 1px 0 11px 42px;font-size: 12px;line-height: 15px;min-height: 30px;color: #8a8f9c;}
.userinfo dt b {display: block;color: #383d48;}
.userinfo .things a {display: inline-block;width: 54px;height: 54px;margin-left: 2px;}
.userinfo .things a:first-child {margin-left: 0;}
.userinfo .things img {width: 54px;height: 54px;display: block;background: no-repeat 50% 50%;background-size: cover;}
.userinfo .things:after {content: '';display: block;clear: both;}
.userinfo .things {background: url("../images/placeholder.png") repeat-x;background-size: 57px 54px;font-size: 0;white-space: nowrap;overflow: auto;}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.figure .figure-wrap,.userinfo dt button,.userinfo,.comment-list fieldset input,.thing-option .option-list,.thing a.report,.thing-option .option-list a,.wrap,.wrap .tit,.figure-product .option {border-width: 0.0385em;}
}
.thing .userinfo {padding: 15px;position: relative;}
.thing .userinfo .follow,.thing .userinfo .following {position: absolute;width: 44px;line-height: 28px;padding: 0;right: 15px;top: 20px;margin: 0;z-index: 1;}
.thing .userinfo .follow .icon,.thing .userinfo .following .icon {background: url("../images/follow_button2.png") no-repeat;background-size: 30px 100px;margin-top: 0;width: 29px;height: 14px;}
.thing .userinfo .following {background: #4f8ac5;border-color: #406e9e;}
.thing .userinfo .follow {border-color: rgba(71, 135, 197, 0.4);background: #fff;}
.thing .userinfo .follow.following,.thing .userinfo .following {filter: none;background: #588FC8;border-color: #396C9D;-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);text-shadow: 0 -1px 0 #457BAC;color: #FFF;}
.thing .userinfo .follow .icon {background-position: 0 -37px;}
.thing .userinfo .following .icon {background-position: 0 -74px;}
.thing .userinfo .follow[sid] .icon {background-position: 0 -20px;}
.thing .userinfo .following[sid] .icon {background-position: 0 -55px;}
.thing .userinfo dt a {font-size: 13px;line-height: 18px;padding: 2px 55px;}
.thing .userinfo dt {line-height: 18px;min-height: 45px;}
.thing .userinfo .avatar {width: 45px;height: 45px;}
.thing .userinfo b {font-size: 15px;}
.thing .things a {width: 80px;height: 95px;}
.thing .things {background: none;}
.thing .userinfo .things img {margin-top: 15px;width: 80px;height: 80px;}
/* share popup */
.popup.share_thing dt {display: none;}
.popup.share_thing .share_link li a {background: url("../images/share-icon.png") no-repeat;background-size: 125px 50px;}
#pop_wrap.share_thing {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(48, 51, 57, 0.6);}
#pop_wrap.share_thing .popup.share_thing {display: block;background: #fff;border-radius: 3px;margin-top: -79px !important;top: 50%;}
.popup.share_thing .tit {padding: 0 15px;font-size: 11px;text-transform: uppercase;line-height: 42px;border-color: #f2f2f2;color: #4f5663;border-width: 1px;}
.popup.share_thing dd {padding: 15px;}
.popup.share_thing .share_link b {display: none;}
.popup.share_thing .share_link ul {border-top: 1px solid #f2f2f2;margin: 15px -15px 0;padding: 15px 15px 0 9px;}
.popup.share_thing .share_link ul:after {content: '';clear: both;display: block;}
.popup.share_thing .share_link li {float: left;}
.popup.share_thing .share_link li a {display: block;width: 22px;height: 22px;text-indent: -1000em;margin-left: 6px;display: none;}
.popup.share_thing .share_link li a.fb {display: block;}
.popup.share_thing .share_link li a.tw {display: block;background-position: -28px 0;}
.popup.share_thing .share_link li a.gg {display: block;background-position: -56px 0;}
.popup.share_thing .share_link li a.tb {display: block;background-position: -84px 0;}
.popup.share_thing .share_email .email-frm {border: 1px solid;}
.popup.share_thing .share_email .email-frm input {box-shadow: none;background: none;border: 0;}
.popup.share_thing .share_link input,.popup.share_thing textarea,.popup.share_thing .share_email .email-frm {box-shadow: none;border-radius: 3px;border-color: #cacccf;background: #f8f8f8;width: 100%;}
.popup.share_thing .share_email,.popup.share_thing .share_email label {display: none;}
.popup.share_thing .share_email .email-frm {margin-bottom: 15px;position: relative;}
.popup.share_thing textarea {padding: 7px;height: 50px;}
.popup.share_thing .btn-blue {display: block;font-size: 14px;width: 100%;text-shadow: none;border: 0;line-height: 38px;clear: both;margin-top: 15px;box-shadow: none;}
.popup.share_thing .user-list {background: #FFF;box-shadow: inset 0 0 0 1px #bbc0c8;left: 0;max-height: 200px;overflow: auto;position: absolute;top: 30px;z-index: 111;width: 100%;display: none;}
.popup.share_thing .user-list li {color: #666666;cursor: pointer;padding: 6px 6px 6px 45px;position: relative;text-decoration: none;border-top: 1px solid #ebeef3;line-height: 15px;margin: 0;border-bottom: 0;}
.popup.share_thing .user-list li:first-child {border-top: 0;}
.popup.share_thing .user-list li img {position: absolute;top: 5px;left: 5px;width: 33px;border-radius: 3px;}
.popup.share_thing .user-list li b {color: #333333;display: block;font-weight: bold;}
.user-list li small {font-size: 12px;color: #8a8f9c;}
#pop_wrap.sale-item-input {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(48, 51, 57, 0.6);}
#pop_wrap.sale-item-input .popup.sale-item-input {display: block;background: #fff;border-radius: 3px;margin-top: -79px;top: 50%;}
.popup.sale-item-input .tit {padding: 0 15px;font-size: 11px;text-transform: uppercase;line-height: 42px;border-color: #f2f2f2;color: #4f5663;border-width: 1px;}
.popup.sale-item-input .frm {padding: 15px;}
.popup.sale-item-input .frm .selectbox {width: 72px;float: right;position: relative;vertical-align: middle;margin-bottom: 15px;background: #f8f8f8;}
.popup.sale-item-input .frm .selectbox .arrow {content: '';position: absolute;right: 6px;width: 14px;margin-top: -10px;height: 20px;top: 50%;background: #fff;box-shadow: inset 0 0 0 1px #bfc1c4;border-radius: 1px;}
.popup.sale-item-input .frm .selectbox .arrow:before {content: '';position: absolute;top: 50%;border: 3px solid transparent;border-top-color: #73777f;right: 4px;margin-top: 1px;}
.popup.sale-item-input .frm .selectbox .arrow:after {content: '';position: absolute;bottom: 50%;border: 3px solid transparent;border-bottom-color: #73777f;right: 4px;margin-bottom: 2px;}
.popup.sale-item-input .frm .selectbox select {width: 100%;display: block;box-shadow: none;background: none;border: 1px solid #cacccf;font-size: 1em;height: 2.538em;position: relative;}
.popup.sale-item-input .frm .selectbox.option {width: 69%;width: calc(100% - 82px);width: -webkit-calc(100% - 82px);width: -moz-calc(100% - 82px);float: left;}
.popup.sale-item-input .frm .selectbox.disabled {opacity: 0.5;}
.popup.sale-item-input .frm .selectbox.disabled:after {position: absolute;top: 0;left: 0;width: 100%;height: 100%;content: '';}
.popup.sale-item-input .frm button {display: block;font-size: 14px;width: 100%;text-shadow: none;border: 0;line-height: 38px;clear: both;}
.popup.sale-item-input .frm .btn-gray {background: #f0f0f0;box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);}
.popup.sale-item-input .frm button.btn-green {background: #69a153;box-shadow: inset 0 0 0 0.1em rgba(0, 0, 0, 0.08);}
/* add to list */
#pop_wrap.add_list .popup.add_list {display: block;}
.popup.add_list .category-list input:checked {background: url("../images/checkbox.png") no-repeat #f8f8f8 50% 50%;background-size: 11px 8px;}
.popup.add_list {background: #fff;border-radius: 3px;}
.popup.add_list .tit {padding: 0 15px;font-size: 11px;text-transform: uppercase;line-height: 42px;border-color: #f2f2f2;color: #4f5663;}
.popup.add_list .add-frm {padding: 10px;}
.popup.add_list .category-list li {position: relative;}
.popup.add_list .category-list label {display: block;padding-left: 34px;font-size: 14px;}
.popup.add_list .category-list input {-webkit-appearance: none;left: 10px;position: absolute;top: 50%;border: 1px solid #ccc;background-color: #f8f8f8;border-radius: 3px;width: 16px;height: 16px;margin-top: -8px;}
.popup.add_list .category-list {border: 1px solid #bbc0c8;border-radius: 3px;box-shadow: inset 0 1px 0 #ebebeb;line-height: 25px;padding: 5px 0;margin-bottom: 10px;overflow: auto;height: 130px}
.popup.add_list fieldset {position: relative;margin-bottom: 10px;}
.popup.add_list fieldset input {width: 90%;border: 1px solid #bbc0c8;border-radius: 0;box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.08);background: #fff;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;height: 30px;padding: 0 8px;width: calc(100% - 70px);width: -webkit-calc(100% - 70px);width: -moz-calc(100% - 70px);}
.popup.add_list .btn-create {position: absolute;right: 0;top: 0;}
.popup.add_list .btn-want {width: 100%;line-height: 38px;margin-bottom: 10px;}
.popup.add_list .btn-done {width: 100%;line-height: 38px;}
.popup.add_list .btn-want .icon {display: inline-block;vertical-align: middle;margin-top: -3px;width: 8px;height: 8px;background-position: -28px -117px;}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.popup.add_list fieldset input,.popup.add_list .category-list,.popup.add_list .category-list input {border-width: 0.055em;}
}
/* edit thing */
#pop_wrap.edit .popup.edit {display: block;}
.popup.edit {background: #fff;border-radius: 3px;}
.popup.edit fieldset {padding: 10px 10px 0;}
.popup.edit fieldset input.text, .popup.edit fieldset input[type="text"],.popup.edit fieldset textarea {border: 1px solid #bbc0c8;border-radius: 0;box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.08);background: #fff;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;height: 30px;padding: 0 8px;margin-bottom: 10px;width: 100%;}
.popup.edit fieldset select {border: 1px solid #cfd0d2;box-shadow: 0 1px 1px #f2f2f2;background: #fff;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;height: 30px;padding: 0 8px;background: url("../images/select-arrow.png") no-repeat 100% 50%;background-size: 14px 5px;-webkit-padding-end: 20px;width: 100%;margin-bottom: 10px;}
.popup.edit fieldset button {margin-bottom: 10px;width: 100%;}
.popup.edit fieldset textarea {height: 150px;padding: 8px;}
.popup.edit .btn-area {text-align: right;padding: 10px;border-top: 1px solid #e2e5e7;}
.popup.edit .btn-delete,.popup.edit .btn-save,.popup.edit .btn-cancel {line-height: 30px}
.popup.edit .btn-delete {float: left;width: 32px;line-height: 30px;padding: 0;}
.popup.edit .btn-delete .icon {display: inline-block;width: 14px;height: 16px;vertical-align: middle;background-position: -135px 0;margin-top: -3px;}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.popup.edit .btn-area,.popup.edit fieldset input.text,.popup.edit fieldset input[type="text"],.popup.edit fieldset textarea,.popup.edit fieldset select,.thing .userinfo .follow,.thing .userinfo .following,.thing .userinfo:first-of-type {border-width: 0.0385em;}
}
/* popup report */
#pop_wrap.report .popup.report {display: block;}
.popup.report {background: #fff;border-radius: 3px;}
.popup.report .btn-report,.popup.report .btn-cancel {line-height: 32px;width: 48%;}
.popup.report .btn-report {float: left;}
.popup.report .btn-done {width: 100%;line-height: 32px;}
.popup.report p {padding: 10px;}
.popup.report p.tit {margin-bottom: 5px;}
.popup.report .btn-area {padding: 5px 10px 10px;text-align: right;}
/* vanity popup */
.popup.vanity-number-detail .vanity_result li.loading:before {background: url("../images/spinner-medium2x.png") no-repeat;background-size: 48px 48px;}
#pop_wrap.vanity-number-detail .popup.vanity-number-detail {display: block;}
.popup.vanity-number-detail .empty b {display: block;}
.popup.vanity-number-detail .search-frm fieldset {padding: 10px;}
.popup.vanity-number-detail .search-frm label {display: block;font-weight: bold;padding: 0 0 7px;}
.popup.vanity-number-detail .search-frm p {padding-bottom: 10px;}
.popup.vanity-number-detail .search-frm select,.popup.vanity-number-detail .search-frm input.text,.popup.vanity-number-detail .search-frm .btn-blue {width: 100%;border-radius: 3px;}
.popup.vanity-number-detail .search-frm .btn-blue {box-shadow:none;line-height:33px;}
.popup.vanity-number-detail .search-frm select {box-shadow: none;}
.popup.vanity-number-detail .search-frm .state {float: left;width: 48%;width: calc(50% - 5px);width: -webkit-calc(50% - 5px);width: -moz-calc(50% - 5px);}
.popup.vanity-number-detail .search-frm .price input.text {width: calc(50% - 5px);width: -webkit-calc(50% - 5px);width: -moz-calc(50% - 5px);}
.popup.vanity-number-detail .search-frm .code {float: right;width: 48%;width: calc(50% - 0.43em);width: -webkit-calc(50% - 0.43em);width: -moz-calc(50% - 0.43em);}
.popup.vanity-number-detail .search-frm .price {clear: both;white-space: nowrap;}
.popup.vanity-number-detail .search-frm .price .dash {color: #d4d7d9;}
.popup.vanity-number-detail .vanity_result li {position: relative;border-bottom: 1px solid #e2e5e7;line-height: 20px;padding: 15px;font-size:12px;}
.popup.vanity-number-detail .vanity_result li:last-child {border: 0;}
.popup.vanity-number-detail .vanity_result .btn-green {position: absolute;right: 10px;top: 50%;margin-top: -15px;}
.popup.vanity-number-detail .vanity_result .number {font-size: 14px;display:block;padding-right:75px;}
.popup.vanity-number-detail .vanity_result .price {display:block;padding-right:75px;}
.popup.vanity-number-detail .vanity_result .btn-checkout {position:absolute;right:15px;top:50%;margin-top:-15px;background: #69a153;border:1px solid #61944c;color: #fff;font-size:12px;font-weight:bold;line-height:28px;padding:0 10px;border-radius:3px;}
.popup.vanity-number-detail .vanity_result li.loading:before {background-position: 50% 50%;width: 26px;height: 26px;left: 50%;top: 50%;margin: -13px 0 0 -13px;animation: loading_spin 0.8s infinite linear;-webkit-animation: loading_spin 0.8s infinite linear;-moz-animation: loading_spin 0.8s infinite linear;background-size: cover;}
.popup.vanity-number-detail .vanity_result li.loading {height: 250px;}
.popup.vanity-number-detail .vanity_result .loading {min-height: 200px;}
.popup.vanity-number-detail .vanity_result .loading:before {content: '';position: absolute;top: 50%;left: 50%;width: 74px;height: 74px;border: 1px solid #bcbcbc;opacity: 0.3;border-radius: 100%;-webkit-animation: scaleout2 1s infinite ease-in-out;animation: scaleout2 1s infinite ease-in-out;margin: -38px 0 0 -38px;}
.popup.vanity-number-detail .vanity_result .loading:after {content: '';position: absolute;top: 50%;left: 50%;width: 50px;height: 50px;border: 1px solid #bcbcbc;opacity: 0.7;border-radius: 100%;-webkit-animation: scaleout2 1s infinite ease-in-out;animation: scaleout2 1s infinite ease-in-out;margin: -25px 0 0 -25px;}
.popup.vanity-number-detail .vanity_result .loading li > * {opacity: 0;position: absolute;visibility: hidden;}
.popup.vanity-number-detail .vanity_result .loading li.loading,.popup.vanity-number-detail .vanity_result.loading li:before {display: none;}
.popup.vanity-number-detail .vanity_result .empty {padding: 40px 0 60px;}
.popup.vanity-number-detail .vanity_result .empty p {line-height: 20px;color: #8a8f9c;text-align: center;padding: 15px 0 0;}
.popup.vanity-number-detail .vanity_result .empty b {display: block;font-size: 15px;color: #646973;font-weight: normal;}
.popup.vanity-number-detail .vanity_result .phone {width: 75px;height: 21px;position: relative;display: block;margin: 0 auto;padding: 27px 0;}
.popup.vanity-number-detail .vanity_result .phone:before {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 1px solid #bcbcbc;opacity: 0.15;border-radius: 100%;}
.popup.vanity-number-detail .vanity_result .phone:after {content: '';position: absolute;top: 50%;left: 50%;width: 60px;height: 60px;border: 1px solid #bcbcbc;opacity: 0.35;border-radius: 100%;margin: -30px 0 0 -30px;}
.popup.vanity-number-detail .vanity_result .phone .icon:before {content: '';position: absolute;top: 50%;left: 50%;width: 46px;height: 46px;border: 1px solid #bcbcbc;opacity: 0.7;border-radius: 100%;margin: -23px 0 0 -23px;}
.popup.vanity-number-detail .vanity_result .phone .icon:after {content: '';position: relative;display: block;border: 0;width: 15px;height: 19px;background-position: -130px -20px;padding: 0;margin: 1px auto 0;position: relative;left: 1px;}
.popup.vanity-number-detail .vanity_result button.more {width: 100%;position: relative;z-index: 1;display: block;white-space: nowrap;}
@-webkit-keyframes scaleout2 {
	0% {transform: scale(0.0);-webkit-transform: scale(0.0);}
	50% {transform: scale(1.0);-webkit-transform: scale(1.0);}
	100% {transform: scale(0.0);-webkit-transform: scale(0.0);}
}
@keyframes scaleout2 {
	0% {transform: scale(0.0);-webkit-transform: scale(0.0);}
	50% {transform: scale(1.0);-webkit-transform: scale(1.0);}
	100% {transform: scale(0.0);-webkit-transform: scale(0.0);}
}
#pop_wrap.hotel-policy .popup.hotel-policy {display: block;}
.popup.hotel-policy .close {position: absolute;z-index: 2;top: -10px;left: -10px;width: 22px;height: 22px;background-position: -45px -75px;}
.popup.hotel-policy {margin-top: 10px;background: #fff;border-radius: 3px;}
.popup.hotel-policy .agreemnet {color: #8a8f9c;padding: 12px 10px 0;}
.popup.hotel-policy .agreemnet p {padding-bottom: 15px;line-height: 18px;}
.popup.hotel-policy .agreemnet p b {color: #383d48;}
#pop_wrap.policy_detail .popup.policy_detail {display: block;}
.popup.policy_detail .terms {padding: 14px 16px 0;}
.popup.policy_detail h3 {font-size: 13px;line-height: 18px;padding-bottom: 5px;}
.popup.policy_detail {background: #fff;border-radius: 3px;}
.popup.policy_detail .terms p {font-size: 13px;line-height: 18px;padding-bottom: 18px;}
.popup.policy_detail a {color: #4978b3;}
#pop_wrap.shipping .shipping {display: block;}
.popup.shipping .country-list {position: relative;box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);}
.popup.shipping b {font-weight: normal;}
.popup.shipping .current b {color: #383d48;font-weight: bold;}
.popup.shipping li {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height: 25px;font-size: 13px;position: relative;float: left;width: 50%;}
.popup.shipping {background: #fff;border-radius: 3px;}
.popup.shipping li:nth-child(odd) {clear: both;}
.popup.shipping ul.after {border-bottom: 1px solid #ebebed;padding: 13px 0 16px 16px;}
.popup.shipping ul.search-result {max-width: 610px;padding: 13px 15px 15px;}
.popup.shipping small {color: #383d48;font-size: 11px;}
.popup.shipping .btn-area {border: 0;width: auto;box-shadow: none;background: none;margin: 0;padding: 15px;text-align: right;}
.popup.shipping .btn-area button {font-size: 12px;line-height: 29px;margin-left: 4px;}
.popup.shipping .search {padding: 12px 15px 12px;position: relative;border-bottom: 1px solid rgb(236, 236, 236);}
.popup.shipping .search input.text {background: #f8f8f8;box-shadow: none;border-color: #dedfe0;width: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;}
.popup.shipping .search .remove {position: absolute;top: 12px;right: 15px;width: 7px;height: 7px;padding: 12px;}
.popup.shipping .search .remove:before {display: block;content: '';width: 7px;height: 7px;background-position: -30px -45px;}
.download_app a:before {background: url("../images/add_list.png") no-repeat;background-size: 100px 100px;}
.download_app,.download_app a.text_link:before {line-height: 48px;}
.download_app {border: 1px solid #f0f0f0;border-radius: 3px;margin-top: 13px;}
.download_app li {position: relative;}
.download_app li:last-child a {border-bottom: 0;}
.download_app ul {position: relative;background: #fff;box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09), 0 2px 8px rgba(0, 0, 0, 0.09);border-radius: 3px;}
.download_app ul:before,.download_app ul:after {content: '';position: absolute;bottom: -18px;left: 50%;margin-left: -9px;border: 9px solid transparent;border-top-color: rgba(0, 0, 0, 0.24);}
.download_app ul:after {border-top-color: #fff;border-width: 8px;bottom: -16px;margin-left: -8px;}
.download_app a {display: block;padding-left: 50px;color: #383d48;font-weight: bold;font-size: 12px;border-bottom: 1px solid #F5F5F5;}
.download_app a:before {content: '';position: absolute;left: 15px;top: 50%;width: 19px;height: 22px;margin-top: -13px;background-position: 0 -70px;opacity: 0.3;}
.download_app a.google_play:before {content: '';position: absolute;left: 15px;top: 50%;width: 19px;height: 22px;margin-top: -11px;background-position: -24px -70px;opacity: 0.3;}
.download_app a.android:before {background-position: -25px -70px;}
.download_app small {color: #8a8f9c;position: absolute;right: 15px;top: 0;font-weight: normal;}
.download_app a.text_link {position: absolute;top: 0;right: 0;padding: 0 15px;height: 100%;opacity: 0.2;width: 272px;display: none;z-index: 3;}
.download_app a.text_link:before {content: '';position: static;display: block;width: 15px;height: 20px;opacity: 1;margin-top: 15px;background-position: -85px -70px;}
.figure-product .menu-content a:before {background: url("../images/thing_icon.png") no-repeat;background-size: 50px 50px;}
.figure-product .more:before {background: url("../images/activity_feed.png") no-repeat;background-size: 100px 100px;}
.figure-product .button.loading span {background: url('../images/animation_fancy_btn.png') no-repeat;background-size: 1526px 55px;}
.figure-product .button:before {background: url("../images/mweb-icons.svg") no-repeat;background-size: 250px 250px;}
.figure-product .buttons {position: relative;display: block;margin-top: 12px;padding: 11px 0 11px 12px;border-top: 1px solid #f2f2f2;white-space: nowrap;}
.figure-product .button {font-size: 12px;position: relative;display: inline-block;padding: 0 10px 0 25px;border: 1px solid rgba(196, 194, 195, 0.3);border-radius: 3px;line-height: 28px;color: #75828e;font-weight: bold;vertical-align: middle;}
.figure-product .button.loading,.figure-product .button.fancyd {background: #f5fafe;border-color: rgba(71, 135, 197, 0.3);color: #4787c5;}
.figure-product .menu-container {display: none;}
.figure-product .menu-container .trick {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(48, 51, 57, 0.6);z-index: 3;}
.figure-product .menu-content {position: fixed;z-index: 3;top: 50%;left: 10px;margin-top: -60px;width: calc(100% - 20px);width: -webkit-calc(100% - 20px);width: -moz-calc(100% - 20px);background: #fff;border-radius: 3px;}
.figure-product .menu-content a {text-align: left;border: 0;box-shadow: none;background: none;border-radius: 0;font-weight: normal;position: relative;border-top: 1px solid #f2f2f2;display: block;padding: 15px 45px 15px 15px;line-height: 15px;color: #4f5663;}
.figure-product .menu-content a:first-child {border-top: 0;}
.figure-product .menu-content small {display: block;font-size: 11px;color: #8a8f9c;}
.figure-product .menu-content a:before {content: '';position: absolute;opacity: 0.4;right: 15px;top: 50%;}
.figure-product .menu-content a.share:before {width: 13px;height: 10px;background-position: -20px 0;margin-top: -5px;}
.figure-product .menu-content a.list:before {width: 10px;height: 10px;background-position: -35px 0;margin-top: -5px;}
.figure-product .button.loading span {position: absolute;display: block;top: 50%;left: 13px;width: 54px;height: 54px;margin: -27px 0 0 -27px;opacity: 1;border-radius: 100%;box-shadow: inset 0 0 0 0 #8e939f;background-position: -2799px 0;}
.figure-product .button:before {content: '';position: absolute;left: 10px;top: 50%;width: 9px;height: 15px;margin-top: -8px;}
.figure-product .button span {display: none;}
.figure-product .button.fancy:before {background-position: -14px 0;}
.figure-product .button.fancyd:before {background-position: 0 0;}
.figure-product .fancyd_user {z-index: 0;position: relative;margin: -2px 0 -2px 7px;display: inline-block;vertical-align: middle;transform: scale(1) translateX(0);-webkit-transform: scale(1) translateX(0);-webkit-transform-origin: 0 50%;}
.figure-product .fancyd_user:before {content: '';position: absolute;top: 0;right: 100%;width: 100px;height: 100%;background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 60%, white 90%);background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 60%, white 90%);pointer-events: none;}
.figure-product .fancyd_user .count {float: left;font-size: 11px;text-align: center;color: #abafb5;background: #ebeced;line-height: 20px;min-width: 12px;padding: 0 4px;border-radius: 12px;border: 2px solid #fff;font-weight: bold;margin-left: -6px;}
.figure-product .fancyd_user:hover {text-decoration: none;}
.figure-product .fancyd_user .user {float: left;border-radius: 100%;background: #fff;position: relative;}
.figure-product .fancyd_user .user:nth-child(1) {z-index: 20;}
.figure-product .fancyd_user .user:nth-child(2) {z-index: 19;}
.figure-product .fancyd_user .user:nth-child(3) {z-index: 18;}
.figure-product .fancyd_user .user:nth-child(4) {z-index: 17;}
.figure-product .fancyd_user .user:nth-child(5) {z-index: 16;}
.figure-product .fancyd_user .user:nth-child(6) {z-index: 15;}
.figure-product .fancyd_user .user:nth-child(7) {z-index: 14;}
.figure-product .fancyd_user .user:nth-child(8) {z-index: 13;}
.figure-product .fancyd_user .user:nth-child(9) {z-index: 12;}
.figure-product .fancyd_user .user:nth-child(10) {z-index: 11;}
.figure-product .fancyd_user .user:nth-child(11) {z-index: 10}
.figure-product .fancyd_user .user:nth-child(12) {z-index: 9;}
.figure-product .fancyd_user .user:nth-child(13) {z-index: 8;}
.figure-product .fancyd_user .user:nth-child(14) {z-index: 7;}
.figure-product .fancyd_user .user:nth-child(15) {z-index: 6;}
.figure-product .fancyd_user .user:nth-child(16) {z-index: 5;}
.figure-product .fancyd_user .user:nth-child(17) {z-index: 4;}
.figure-product .fancyd_user .user:nth-child(18) {z-index: 3;}
.figure-product .fancyd_user .user:nth-child(19) {z-index: 2;}
.figure-product .fancyd_user .user:nth-child(20) {z-index: 1;}
.figure-product .fancyd_user .user em {position: absolute;bottom: 37px;border-radius: 3px;left: 50%;background: #272c31;padding: 0 8px;line-height: 28px;font-size: 11px;color: #fff;white-space: nowrap;display: none;}
.figure-product .btn-more em,.figure-product .fancyd_list em {font-weight: normal}
.figure-product .fancyd_user em small {font-size: 1em;}
.figure-product .btn-more em:before,.figure-product .fancyd_list em:before,.figure-product .fancyd_user .user em:before {content: '';position: absolute;top: 100%;border: 4px solid transparent;border-top-color: #272c31;left: 50%;margin-left: -4px;}
.figure-product .fancyd_user .user img {border-radius: 100%;width: 25px;height: 25px;display: block;background: no-repeat 50% 50%;background-size: cover;border: 2px solid #fff;vertical-align: top;margin-left: -6px;}
.figure-product .fancyd_user.add,.figure-product .fancyd_user.remove {-webkit-animation: change_user 0.5s ease-in-out;animation: change_user 0.5s ease-in-out;}
.figure-product .fancyd_user .count {line-height: 26px;min-width: 14px;padding: 0px 6px;border-radius: 15px;}
.figure-product .fancyd_user.add .user,.figure-product .fancyd_user.remove .user {display: block !important;}
.figure-product .fancyd_user.add .user:first-child,.figure-product .fancyd_user.remove .user:last-of-type {-webkit-transform: scale(1);transform: scale(1);margin-right: 0;opacity: 1;-webkit-animation: add_users 0.5s ease-in-out;animation: add_users 0.5s ease-in-out;}
.figure-product .fancyd_user.add .user:last-of-type,.figure-product .fancyd_user.remove .user:first-child {-webkit-transform: scale(0);transform: scale(0);margin-left: -30px;opacity: 0;-webkit-animation: remove_users 0.5s ease-in-out;animation: remove_users 0.5s ease-in-out;}
.container .stream .figure-product .fancyd_user .user:before {content: '';position: absolute;top: 50%;left: 50%;width: 26px;height: 26px;border-radius: 100%;background: #000;opacity: 0.05;margin: -13px 0 0 -16px;}
.figure-product .fancyd_user em small,.timeline .figure-product figure .back {display: none;}
.figure-product .fancyd_user:before {display: none;}
.figure-product .more:before {content: '';position: absolute;top: 50%;left: 50%;background-position: -55px -40px;width: 9px;height: 5px;opacity: 0.5;margin: -1px 0 0 -4px;}
.figure-product .more {position: absolute;right: 10px;bottom: 13px;width: 24px;height: 24px;border-radius: 100%;border: 1px solid #f2f2f2;text-indent: -1000em;}
@-webkit-keyframes push_btn {
	0% {-webkit-transform: scale(1)}
	50% {-webkit-transform: scale(0.8);}
	75% {-webkit-transform: scale(1.1);}
	100% {-webkit-transform: scale(1.0);}
}
@keyframes push_btn {
	0% {transform: scale(1);}
	50% {transform: scale(0.8);}
	75% {transform: scale(1.1);}
	100% {transform: scale(1.0);}
}
@-webkit-keyframes push_btn4 {
	0% {-webkit-transform: scale(1);opacity: 1;}
	20% {-webkit-transform: scale(1);opacity: 1;}
	40% {-webkit-transform: scale(1);opacity: 0;}
	50% {-webkit-transform: scale(0.5);opacity: 0;}
	50% {-webkit-transform: scale(0.5);opacity: 0;}
	62.5% {-webkit-transform: scale(0.5);opacity: 0;}
	75% {-webkit-transform: scale(1.3);opacity: 1;}
	87.5% {-webkit-transform: scale(0.95);opacity: 1;}
	100% {-webkit-transform: scale(1);opacity: 1;}
}
@keyframes push_btn4 {
	0% {transform: scale(1);opacity: 1;}
	20% {transform: scale(1);opacity: 1;}
	40% {transform: scale(1);opacity: 0;}
	50% {transform: scale(0.5);opacity: 0;}
	50% {transform: scale(0.5);opacity: 0;}
	62.5% {transform: scale(0.5);opacity: 0;}
	75% {transform: scale(1.3);opacity: 1;}
	87.5% {transform: scale(0.95);opacity: 1;}
	100% {transform: scale(1);opacity: 1;}
}
@-webkit-keyframes push_btn2 {
	0% {-webkit-transform: scale(0);box-shadow: inset 0 0 0 20px #8e939f;opacity: 0;}
	50% {box-shadow: inset 0 0 0 1px #8e939f;opacity: 0.8;}
	100% {-webkit-transform: scale(1);box-shadow: inset 0 0 0 0 #8e939f;opacity: 0;}
}
@keyframes push_btn2 {
	0% {transform: scale(0);box-shadow: inset 0 0 0 20px #8e939f;opacity: 0;}
	50% {box-shadow: inset 0 0 0 1px #8e939f;opacity: 0.8;}
	100% {transform: scale(1);box-shadow: inset 0 0 0 0 #8e939f;opacity: 0;}
}
@-webkit-keyframes push_btn3 {
	0% {-webkit-transform: scale(0);box-shadow: inset 0 0 0 20px #4f8dcb;opacity: 0;}
	50% {box-shadow: inset 0 0 0 1px #4f8dcb;opacity: 0.8;}
	100% {-webkit-transform: scale(1);box-shadow: inset 0 0 0 0 #4f8dcb;opacity: 0;}
}
@keyframes push_btn3 {
	0% {transform: scale(0);box-shadow: inset 0 0 0 20px #4f8dcb;opacity: 0;}
	50% {box-shadow: inset 0 0 0 1px #4f8dcb;opacity: 0.8;}
	100% {transform: scale(1);box-shadow: inset 0 0 0 0 #4f8dcb;opacity: 0;}
}
@-webkit-keyframes remove_users {
	0% {-webkit-transform: scale(1);margin-left: 0;opacity: 1;}
	35% {-webkit-transform: scale(0);margin-left: 0;opacity: 0;}
	70% {-webkit-transform: scale(0);margin-left: -30px;opacity: 0;}
	100% {-webkit-transform: scale(0);margin-left: -30px;opacity: 0;}
}
@keyframes remove_users {
	0% {transform: scale(1);margin-left: 0;opacity: 1;}
	35% {transform: scale(0);margin-left: 0;opacity: 0;}
	70% {transform: scale(0);margin-left: -30px;opacity: 0;}
	100% {transform: scale(0);margin-left: -30px;opacity: 0;}
}
@-webkit-keyframes add_users {
	0% {-webkit-transform: scale(0);margin-right: -30px;opacity: 0;}
	35% {-webkit-transform: scale(1);margin-right: 0;opacity: 0;}
	70% {-webkit-transform: scale(1);margin-right: 0;opacity: 1;}
	100% {-webkit-transform: scale(1);margin-right: 0;opacity: 1;}
}
@keyframes add_users {
	0% {transform: scale(0);margin-right: -30px;opacity: 0;}
	35% {transform: scale(1);margin-right: 0;opacity: 0;}
	70% {transform: scale(1);margin-right: 0;opacity: 1;}
	100% {transform: scale(1);margin-right: 0;opacity: 1;}
}
