.after:after, .figure-product .frm .user-list li:after, .figure-product .frm .people:after, .figure-product .figure-detail:after, .general_size_guide .tab:after, .suggest .figure-shop:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  border: 0;
}

.wrap {
  background: #fff;
}

.wrap + .customer-review, .wrap + .userinfo, .wrap + .suggest {
  border-top: 5px solid #dee0e3;
}

.wrap + .customer-review {
  padding: 20px 15px;
}

.wrap + .customer-review h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
}

.wrap + .customer-review li {
  padding: 13px 0 24px;
  border-top: 0;
}

.wrap + .customer-review .rating {
  padding-top: 0;
}

.wrap + .customer-review .rating .date {
  position: absolute;
  bottom: 0;
  left: 0;
}

.wrap + .customer-review .review {
  padding: 0;
}

.wrap + .customer-review .review .title {
  font-size: 16px;
  font-weight: 700;
  padding: 0 110px 0 0;
}

.wrap + .customer-review .review .description {
  padding-top: 6px;
}

body.thing {
  padding-bottom: 114px;
}

.figure-product .figure {
  position: relative;
  overflow: hidden;
}

.figure-product .figure-wrap {
  font-size: 0;
  white-space: nowrap;
  overflow: hidden;
  background: #f8f8f8;
}

.figure-product .figure-wrap:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  opacity: 0.15;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#000000));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0), #000000);
}

.figure-product .figure-wrap .figure-img {
  margin: 0;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.figure-product .figure-wrap .figure-img video, .figure-product .figure-wrap .figure-img img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
}

.figure-product .figure-wrap .figure-img video {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.figure-product .figure-wrap .figure-img img {
  background: no-repeat 50% 50%;
  background-size: contain;
}

.figure-product .pagination {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  width: 100%;
  bottom: 27px;
  line-height: 7px;
  text-align: center;
  padding: 0 100px;
  white-space: nowrap;
}

.figure-product .pagination a {
  margin: 0 3px;
  display: inline-block;
  vertical-align: top;
  width: 7px;
  height: 7px;
  text-indent: -1000em;
  border-radius: 100%;
  background: #fff;
  padding: 0;
  opacity: 0.3;
}

.figure-product .pagination a.current {
  opacity: 1;
}

.figure-product .buttons .btn-cart {
  position: absolute;
  right: 7px;
  top: 50%;
  line-height: 31px;
  border: 8px solid #fff;
  color: #fff;
  font-weight: bold;
  padding: 0 15px;
  background: #4eac66;
  border-radius: 24px;
  margin-top: -24px;
}

.figure-product .buttons .btn-cart:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
  height: 100%;
  margin: 0;
  top: -8px;
  padding: 8px 0;
}

.figure-product .buttons .button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  line-height: 31px;
  color: #2f333b;
  font-weight: bold;
  padding: 0 15px 0 26px;
  background: #fff;
  border-radius: 16px;
}

.figure-product .buttons .button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 18px;
  width: 13px;
  height: 13px;
  margin: -7px 0 0 -7px;
  background: url("../images/svg/home-fancy.svg") no-repeat;
  background-size: cover;
}

.figure-product .buttons .button.fancyd {
  background: #2785fa;
  color: #fff;
}

.figure-product .buttons .button.fancyd:before {
  background-image: url("../images/svg/home-fancyd.svg");
}

.figure-product .buttons .share {
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 100%;
  background: #fff;
  width: 31px;
  height: 31px;
  text-indent: -1000em;
}

.figure-product .buttons .share:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  margin: -7px 0 0 -7px;
  background: url("../images/svg/home-share.svg") no-repeat;
  background-size: cover;
}

.figure-product .buttons .list {
  position: absolute;
  bottom: 15px;
  right: 56px;
  border-radius: 100%;
  background: #fff;
  width: 31px;
  height: 31px;
  text-indent: -1000em;
}

.figure-product .buttons .list:before, .figure-product .buttons .list:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #2f333b;
  border-radius: 1px;
}

.figure-product .buttons .list:before {
  width: 12px;
  height: 2px;
  margin: -1px 0 0 -6px;
}

.figure-product .buttons .list:after {
  width: 2px;
  height: 12px;
  margin: -6px 0 0 -1px;
}

.figure-product figcaption {
  font-weight: 700;
  font-size: 17px;
  padding: 15px 15px 0;
}

.figure-product .frm {
  padding: 0 15px;
}

.figure-product .frm .btn-cart {
  border: 0;
  line-height: 45px;
  font-size: 17px;
  font-weight: 600;
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: calc(100% - 30px);
  z-index: 9;
  border-radius: 5px;
}

.figure-product .frm label {
  display: none;
}

.figure-product .frm select, .figure-product .frm input, .figure-product .frm textarea {
  width: 100%;
}

.figure-product .frm p {
  float: left;
  padding: 15px 0 10px;
}

.figure-product .frm p.opt {
  width: 80%;
  width: calc(100% - 90px);
  width: -moz-calc(100% - 90px);
  margin-right: 10px;
}

.figure-product .frm p.qty {
  width: 80px;
}

.figure-product .frm p.qty:first-of-type {
  float: none;
  width: 100%;
}

.figure-product .frm p.personalization {
  float: none;
}

.figure-product .frm p.personalization label {
  display: block;
  font-size: 12px;
  padding-bottom: 6px;
  opacity: 0.6;
}

.figure-product .frm .multi-option {
  position: relative;
  font-size: 15px;
  line-height: 22px;
  padding-top: 15px;
}

.figure-product .frm .multi-option select {
  margin-top: 8px;
}

.figure-product .frm .multi-option ul {
  position: absolute;
  left: -15px;
  padding: 4px 15px 2px;
  bottom: 0;
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.figure-product .frm .multi-option label {
  display: block;
  font-weight: 600;
}

.figure-product .frm .multi-option li {
  display: inline-block;
  vertical-align: top;
}

.figure-product .frm .multi-option li + li {
  margin-left: 7px;
}

.figure-product .frm .multi-option button {
  background: none;
  line-height: 43px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 12px;
  border: 1px solid #ebedef;
  border-radius: 3px;
}

.figure-product .frm .multi-option button[disabled] {
  color: #cbccce;
}

.figure-product .frm .multi-option button.selected {
  border-color: #2f333b;
  -webkit-box-shadow: 0 0 0 1px #2f333b;
          box-shadow: 0 0 0 1px #2f333b;
}

.figure-product .frm .multi-option.swatch {
  padding-bottom: 55px;
}

.figure-product .frm .multi-option.swatch a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 4px solid #fff;
}

.figure-product .frm .multi-option.swatch a.selected {
  -webkit-box-shadow: 0 0 0 2px #2f333b;
          box-shadow: 0 0 0 2px #2f333b;
}

.figure-product .frm .multi-option.swatch a[style="background:white"], .figure-product .frm .multi-option.swatch a[style="background: white"], .figure-product .frm .multi-option.swatch a[style^="background: #fff"], .figure-product .frm .multi-option.swatch a[style^="background:#fff"] {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.figure-product .frm .multi-option.swatch a[style="background:white"]:before, .figure-product .frm .multi-option.swatch a[style="background: white"]:before, .figure-product .frm .multi-option.swatch a[style^="background: #fff"]:before, .figure-product .frm .multi-option.swatch a[style^="background:#fff"]:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.figure-product .frm .multi-option.swatch .disabled a {
  opacity: 0.5;
}

.figure-product .frm .multi-option.swatch li + li {
  margin-left: 0;
}

.figure-product .frm .multi-option.button {
  padding-bottom: 49px;
}

.figure-product .frm .multi-option.thumbnail {
  padding-bottom: 123px;
}

.figure-product .frm .multi-option.thumbnail li {
  padding-top: 4px;
}

.figure-product .frm .multi-option.thumbnail img {
  width: 117px;
  height: 117px;
  border-radius: 3px;
  background: no-repeat 50% 50%;
  background-size: cover;
  display: block;
  border: 1px solid #ebedef;
}

.figure-product .frm .multi-option.thumbnail a.selected img {
  border-color: #2f333b;
  -webkit-box-shadow: 0 0 0 1px #2f333b;
          box-shadow: 0 0 0 1px #2f333b;
}

.figure-product .frm .multi-option.thumbnail .disabled img {
  opacity: 0.5;
}

.figure-product .frm .btn-green.loading {
  text-indent: -1000em;
  height: 45px;
}

.figure-product .frm .btn-green.loading:after {
  content: '';
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #fff;
  border-radius: 100% !important;
  height: 12px;
  opacity: 1;
  width: 12px;
  margin-top: -8px;
  margin-left: -8px;
  line-height: 12px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.figure-product .frm .btn-green.loading[disabled] {
  background: #65c07d;
}

.figure-product .frm .btn-green.soldout {
  background: #f0f3f5;
  color: #ccc;
}

.figure-product .frm .btn-policy, .figure-product .frm .notify, .figure-product .frm .btn-create {
  display: block;
  line-height: 45px;
  text-align: center;
  font-size: 15px;
  color: #2f333b;
  font-weight: 500;
  border: 1px solid #e6e7e8;
  border-radius: 3px;
  padding: 0 15px;
  clear: both;
}

.figure-product .frm .recipient {
  position: relative;
}

.figure-product .frm .user-list {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -12px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 3px 3px;
  max-height: 200px;
  overflow: auto;
  padding: 5px 0;
  width: 100%;
  display: none;
}

.figure-product .frm .user-list li {
  padding: 5px 10px;
  line-height: 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 32px;
}

.figure-product .frm .user-list li:first-of-type {
  border-top: 0;
}

.figure-product .frm .user-list img {
  float: left;
  margin-right: 6px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.figure-product .frm .user-list b {
  display: block;
}

.figure-product .frm textarea {
  height: 100px;
}

.figure-product .frm .in p, .figure-product .frm .out p {
  padding: 2px 8px;
  line-height: 27px;
  float: none;
  width: auto;
  border: 1px solid #cacccf;
  border-radius: 3px;
  background: #f8f8f8;
  margin-bottom: 10px;
}

.figure-product .frm .people p {
  width: 50%;
  width: calc(50% - 5px);
  width: -moz-calc(50% - 5px);
}

.figure-product .frm .people p:nth-child(even) {
  float: right;
}

.figure-product .frm .on div.calendar {
  display: block;
}

.figure-product .frm .ic-calendar {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../images/m_img.png") no-repeat -20px -128px;
  background-size: 150px 150px;
  vertical-align: middle;
  margin: -3px 4px 0 0;
}

.figure-product .frm div.calendar {
  display: none;
  position: relative;
  border: 1px solid #cacccf;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.figure-product .frm div.calendar p {
  border-radius: 3px 3px 0 0;
  border: 0;
  border-bottom: 1px solid #f4f4f4;
  padding: 4px 40px;
}

.figure-product .frm div.calendar table {
  margin: 0 auto;
  border-spacing: 3px;
  border-collapse: separate;
}

.figure-product .frm div.calendar th {
  font-size: 11px;
  color: #8a8f9c;
  font-weight: bold;
  height: 19px;
  padding-top: 10px;
}

.figure-product .frm div.calendar td {
  width: 33px;
  height: 33px;
  font-size: 13px;
  font-weight: bold;
  background: #f0f0f0;
  color: #949699;
}

.figure-product .frm div.calendar td a {
  color: #949699;
}

.figure-product .frm div.calendar td.disabled {
  background: #fff;
}

.figure-product .frm div.calendar td.today {
  background: #fff;
  border: 1px solid #f0f0f0;
}

.figure-product .frm div.calendar td.selected {
  background: #444750;
  color: #fff;
}

.figure-product .frm div.calendar b {
  font-size: 14px;
}

.figure-product .frm div.calendar .prev, .figure-product .frm div.calendar .next {
  position: absolute;
  top: 0;
  display: block;
  width: 4px;
  height: 8px;
  padding: 14px 15px;
}

.figure-product .frm div.calendar .prev i, .figure-product .frm div.calendar .next i {
  display: block;
  border: 4px solid transparent;
  opacity: 0.5;
}

.figure-product .frm div.calendar .prev {
  left: 0;
}

.figure-product .frm div.calendar .prev i {
  border-right-color: #000;
  margin-left: -6px;
}

.figure-product .frm div.calendar .next {
  right: 0;
}

.figure-product .frm div.calendar .next i {
  border-left-color: #000;
  margin-right: -6px;
}

.figure-product .frm .giftcard p {
  float: none;
  width: auto;
  padding-bottom: 15px;
}

.figure-product .figure-detail {
  padding: 15px 15px 75px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.02), 0 -1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.02), 0 -1px 3px rgba(0, 0, 0, 0.1);
  z-index: 9;
}

.figure-product .figure-detail .booking-day .price {
  display: inline;
}

.figure-product .figure-detail .price {
  float: left;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 600;
}

.figure-product .figure-detail .price.sales {
  color: #d81f31;
}

.figure-product .figure-detail .price.sales .before {
  font-size: 15px;
  color: #9099a6;
  font-weight: normal;
  text-decoration: line-through;
}

.figure-product .figure-detail .percentage {
  font-size: 16px;
  color: #9099a6;
  font-weight: normal;
}

.figure-product .figure-detail .percentage:before {
  content: '(';
}

.figure-product .figure-detail .percentage:after {
  content: ')';
}

.figure-product .figure-detail .currency {
  display: none;
  font-size: 13px;
  color: #9099a6;
  font-weight: normal;
}

.figure-product .figure-detail .code {
  float: left;
  font-size: 13px;
  line-height: 15px;
  padding: 8px 0 0 4px;
}

.figure-product .figure-detail .currency_price {
  float: right;
  color: #9099a6;
}

.figure-product .figure-detail .currency_price small {
  font-size: 1em;
  text-decoration: underline;
  font-weight: 600;
  color: #383d48;
}

.show_sizeguide .thing .wrap, .show_sizeguide .thing .figure-info > *, .show_sizeguide #header .header-menu {
  display: none;
}

.show_sizeguide .thing .figure-info, .show_sizeguide .thing .figure-info > .general_size_guide {
  display: block;
}

.show_sizeguide #content {
  padding-bottom: 0;
}

.general_size_guide {
  font-size: 14px;
  line-height: 20px;
}

.general_size_guide img {
  max-width: 100%;
}

.general_size_guide p {
  padding: 20px 15px;
}

.general_size_guide .label {
  display: block;
  font-weight: bold;
  padding: 0 15px;
}

.general_size_guide .option {
  padding: 10px 15px 0;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.general_size_guide .option button {
  display: inline-block;
  vertical-align: top;
  line-height: 46px;
  border: 1px solid #EBEDEF;
  border-radius: 5px;
  background: none;
  padding: 0 14px;
  font-size: 15px;
  font-weight: 500;
}

.general_size_guide .option button + button {
  margin-left: 6px;
}

.general_size_guide .option button.current {
  border: 2px solid #2F333B;
}

.general_size_guide .option-detail {
  padding: 30px 15px 0;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.general_size_guide .option-detail li {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  line-height: 28px;
  color: #2785FA;
}

.general_size_guide .option-detail li + li {
  margin-left: 36px;
}

.general_size_guide .option-detail small {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #539EFB;
  text-transform: uppercase;
  line-height: 18px;
}

.general_size_guide .option-detail b {
  display: block;
}

.general_size_guide .thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  line-height: 244px;
  text-align: center;
  min-height: 245px;
  border: 1px solid #ddddde;
  margin: 15px 15px 0;
}

.general_size_guide .thumbnail a.show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.general_size_guide .thumbnail img {
  max-width: 100%;
  vertical-align: middle;
}

.general_size_guide a.close {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  background: url("../images/svg/popup-close.svg") no-repeat;
  z-index: 1;
}

.general_size_guide.zoom .thumbnail {
  z-index: 1;
  margin: 0;
  border-radius: 0;
  border: 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  position: fixed;
  top: 0;
  padding: 46px 0 45px;
  background: #fff;
  left: 0;
  width: 100%;
  height: 90%;
  height: calc(100% - 91px);
  height: -moz-calc(100% - 91px);
}

.general_size_guide.zoom .thumbnail a.show {
  display: none;
}

.general_size_guide.zoom .thumbnail img {
  min-height: 100%;
  min-width: 100%;
  max-width: none;
}

.general_size_guide .tab {
  display: none;
  -webkit-box-shadow: inset 0 -1px 0 #f0f0f0;
          box-shadow: inset 0 -1px 0 #f0f0f0;
  padding: 0;
  background: none;
}

.general_size_guide .tab li {
  float: left;
}

.general_size_guide .tab a {
  display: block;
  font-weight: bold;
  padding: 0 15px;
  color: #b1b5bd;
  font-size: 12px;
  line-height: 44px;
  -webkit-box-shadow: inset 0 -2px 0 #f0f0f0;
          box-shadow: inset 0 -2px 0 #f0f0f0;
  background: none;
}

.general_size_guide .tab a:hover {
  text-decoration: none;
}

.general_size_guide .tab a.current {
  color: #4e535c;
  -webkit-box-shadow: inset 0 -2px 0 #547caf;
          box-shadow: inset 0 -2px 0 #547caf;
}

.general_size_guide .table {
  border: 1px solid #ddddde;
  border-radius: 3px;
}

.general_size_guide .tb-type4 {
  width: 100%;
}

.general_size_guide .tb-type4 thead th {
  vertical-align: middle;
  border-bottom: 1px solid #D4D5D6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#F5F5F5));
  background-image: linear-gradient(top, #FCFCFC, #F5F5F5);
  font-weight: bold;
  font-size: 12px;
  color: #4e535c;
  height: 34px;
  padding: 0 10px;
  text-align: center;
  border-left: 0;
}

.general_size_guide .tb-type4 tbody td {
  line-height: 18px;
  padding: 12px 10px 10px;
  vertical-align: middle;
  color: #4f5764;
  transition: background .2s;
  -webkit-transition: background .2s;
  -moz-transition: background .2s;
  border-left: 0;
  position: relative;
  text-align: center;
}

.general_size_guide .tb-type4 tbody tr:nth-child(even) td {
  background: #f6f7f8;
}

.general_size_guide .tb-type4 thead th:first-child, .general_size_guide .tb-type4 tbody td:first-child {
  text-align: left;
}

.general_size_guide .section {
  display: none;
  padding: 15px;
}

.general_size_guide .section p {
  font-size: 12px;
  line-height: 19px;
  color: #4e535c;
  padding-bottom: 15px;
}

.general_size_guide .conversion {
  display: none !important;
}

.general_size_guide .measuring {
  display: block !important;
}

.figure-info {
  padding: 15px;
}

.figure-info li {
  font-size: 14px;
  line-height: 19px;
  padding-top: 15px;
}

.figure-info label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 0 6px;
}

.figure-info .tit {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 6px;
}

.figure-info .delivery-summary {
  padding: 8px 0;
}

.figure-info .delivery-summary .delivery:before, .figure-info .delivery-summary .ships:before, .figure-info .delivery-summary .sizeguide:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -3px 8px 0 0;
}

.figure-info .delivery-summary .delivery:before {
  width: 16px;
  height: 18px;
  margin-left: 1px;
  background: url("../images/svg/detail-delivery.svg") no-repeat;
}

.figure-info .delivery-summary .ships:before {
  width: 22px;
  height: 14px;
  margin: -3px 5px 0 -4px;
  background: url("../images/svg/detail-shipping.svg") no-repeat;
}

.figure-info .delivery-summary .delivery b, .figure-info .delivery-summary a {
  color: #383d48;
  font-weight: 600;
  text-decoration: underline;
}

.figure-info .delivery-summary .sizeguide:before {
  width: 17px;
  height: 10px;
  background: url("../images/svg/detail-sideguide.svg") no-repeat;
}

.figure-info .description {
  font-size: 14px;
  line-height: 19px;
}

.figure-info .description th {
  text-align: left;
}

.figure-info .description p, .figure-info .description li {
  font-size: 14px;
  line-height: 19px;
  padding: 0;
}

.figure-info .description a {
  color: #373d48;
  cursor: default;
  pointer-events: none;
}

.figure-info .description.short {
  max-height: 96px;
  overflow: hidden;
}

.figure-info .description.short p {
  display: inline;
}

.figure-info ._descr-more {
  font-size: 14px;
  line-height: 19px;
  color: #383d48;
  text-decoration: underline;
  font-weight: 600;
  display: block;
}

.userinfo {
  text-align: center;
  padding: 30px 0 25px;
}

.userinfo .name {
  display: block;
  font-size: 14px;
  color: #9099a6;
  font-weight: 500;
  text-transform: uppercase;
}

.userinfo .name img {
  margin: 0 auto 17px;
  border-radius: 3px;
  display: block;
  -webkit-box-shadow: 0 5px 15px rgba(180, 189, 194, 0.4);
          box-shadow: 0 5px 15px rgba(180, 189, 194, 0.4);
}

.userinfo .name b {
  display: block;
  font-size: 21px;
  color: #2f333b;
  padding-top: 7px;
}

.userinfo .things {
  padding-top: 25px;
}

.userinfo .things a {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  margin: 0 2px;
}

.userinfo .things img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.userinfo .follow, .userinfo .following, .userinfo .send-msg {
  display: inline-block;
  line-height: 34px;
  font-size: 15px;
  color: #2f333b;
  font-weight: 500;
  border: 1px solid #e6e7e8;
  border-radius: 18px;
  padding: 0 15px;
  margin: 21px 3px 0;
}

.userinfo .follow:before, .userinfo .following:before, .userinfo .send-msg:before {
  background: url("../images/thing_icon.png") no-repeat;
  background-size: 50px 50px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -3px 6px 0 0;
}

.userinfo .follow {
  background: #2785fa;
  border-color: #2785fa;
  color: #fff;
}

.userinfo .follow:before {
  width: 13px;
  height: 13px;
  background-position: -34px -13px;
}

.userinfo .following:before {
  width: 11px;
  height: 9px;
  background-position: -20px -13px;
}

.userinfo .send-msg:before {
  width: 16px;
  height: 12px;
  background-position: 0 -17px;
}

.suggest .tit {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 15px 16px;
}

.suggest .figure-shop {
  padding: 0 8px;
}

.suggest .figure-shop li {
  float: left;
  margin: 0 7px;
  width: 48%;
  width: calc(50% - 14px);
  width: -moz-calc(50% - 14px);
}

.suggest .figure-shop li:nth-child(2n+1) {
  clear: both;
}

.suggest .figure-shop .figure-item {
  padding-bottom: 13px;
}

.suggest .figure-shop .buttons, .suggest .figure-shop .button, .suggest .figure-shop .username, .suggest .figure-shop .sale-item-input {
  display: none;
}

.suggest .figure-shop .figure img {
  display: block;
  width: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.suggest .figure-shop figcaption {
  padding: 13px 0 0;
  overflow: hidden;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
  font-weight: 700;
}

.suggest .figure-shop .title {
  color: #2E363E;
}

.suggest .figure-shop .figure-detail {
  float: right;
  background: #fff;
  margin: 4px 0 0 10px;
  font-size: 12px;
  font-weight: 600;
}

.suggest .figure-shop .figure-detail .price {
  color: #65C07D;
  background: none;
  padding: 2px 8px;
  line-height: 19px;
  border-radius: 12px;
  border: 1px solid rgba(101, 192, 125, 0.5);
  font-weight: 700;
  position: relative;
  margin-top: 0;
  display: block;
}

.suggest .figure-shop .figure-detail .price.sales {
  color: #ec3f3f;
  border-color: rgba(236, 63, 63, 0.5);
}

.suggest .figure-shop .figure-detail .price.sales small {
  display: none;
}

.user-fancyd {
  padding: 20px 0 15px;
}

.user-fancyd .tit {
  font-size: 18px;
  font-weight: 700;
  padding: 0 15px 16px;
}

.user-fancyd ul {
  white-space: nowrap;
  overflow: auto;
  padding: 0 15px;
}

.user-fancyd li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 113px;
  text-align: center;
  white-space: normal;
}

.user-fancyd a {
  color: #2f333b;
  display: block;
  font-weight: 500;
  font-size: 14px;
}

.user-fancyd img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  margin: 0 auto 11px;
}

.user-fancyd .btn-add {
  position: absolute;
  top: -2px;
  margin-left: 14px;
  left: 50%;
  width: 26px;
  line-height: 23px;
  border-radius: 100%;
  display: block;
  -webkit-box-shadow: 0 5px 15px rgba(180, 189, 194, 0.4);
          box-shadow: 0 5px 15px rgba(180, 189, 194, 0.4);
  background: #2785fa;
  border: 2px solid #fff;
  height: 26px;
}

.user-fancyd .btn-add:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  margin: -3px 0 0;
  background: url("../images/thing_icon.png") no-repeat -34px -13px;
  background-size: 50px 50px;
}

.user-fancyd .btn-add.following {
  background: #fff;
}

.user-fancyd .btn-add.following:before {
  width: 11px;
  height: 9px;
  background-position: -20px -13px;
}

#pop_wrap.shipping .shipping, #pop_wrap.policy_detail .popup.policy_detail, #pop_wrap.general_size_guide .general_size_guide, #pop_wrap.edit .popup.edit, #pop_wrap.report .popup.report, #pop_wrap.vanity-number-detail .popup.vanity-number-detail, #pop_wrap.hotel-policy .popup.hotel-policy {
  display: block;
}

#pop_wrap .popup.general_size_guide {
  padding: 0 0 15px;
  background: #fff;
  border-radius: 5px;
}

.popup.edit {
  background: #fff;
  border-radius: 3px;
}

.popup.edit fieldset {
  padding: 10px 10px 0;
}

.popup.edit fieldset input.text, .popup.edit fieldset input[type="text"], .popup.edit fieldset textarea, .popup.edit fieldset select, .popup.edit fieldset button {
  margin-bottom: 10px;
  width: 100%;
}

.popup.edit fieldset textarea {
  height: 150px;
}

.popup.edit .btn-area {
  text-align: right;
  padding: 10px;
  border-top: 1px solid #e2e5e7;
}

.popup.edit .btn-delete, .popup.edit .btn-save, .popup.edit .btn-cancel {
  line-height: 30px;
}

.popup.edit .btn-delete {
  float: left;
  width: 32px;
  line-height: 30px;
  padding: 0;
}

.popup.edit .btn-delete .icon {
  display: inline-block;
  width: 14px;
  height: 16px;
  vertical-align: middle;
  background-position: -135px 0;
  margin-top: -3px;
}

.popup.report {
  background: #fff;
  border-radius: 3px;
}

.popup.report .btn-report, .popup.report .btn-cancel {
  line-height: 32px;
  width: 48%;
}

.popup.report .btn-report {
  float: left;
}

.popup.report .btn-done {
  width: 100%;
  line-height: 32px;
}

.popup.report p {
  padding: 10px;
}

.popup.report p.tit {
  margin-bottom: 5px;
}

.popup.report .btn-area {
  padding: 5px 10px 10px;
  text-align: right;
}

.popup.vanity-number-detail .empty b {
  display: block;
}

.popup.vanity-number-detail .search-frm fieldset {
  padding: 10px;
}

.popup.vanity-number-detail .search-frm label {
  display: block;
  font-weight: bold;
  padding: 0 0 7px;
}

.popup.vanity-number-detail .search-frm p {
  padding-bottom: 10px;
}

.popup.vanity-number-detail .search-frm select, .popup.vanity-number-detail .search-frm input.text, .popup.vanity-number-detail .search-frm .btn-blue {
  width: 100%;
}

.popup.vanity-number-detail .search-frm .state {
  float: left;
  width: 48%;
  width: calc(50% - 5px);
  width: -moz-calc(50% - 5px);
}

.popup.vanity-number-detail .search-frm .code {
  float: right;
  width: 48%;
  width: calc(50% - 0.43em);
  width: -moz-calc(50% - 0.43em);
}

.popup.vanity-number-detail .search-frm .price {
  clear: both;
  white-space: nowrap;
}

.popup.vanity-number-detail .search-frm .price input.text {
  width: calc(50% - 5px);
  width: -moz-calc(50% - 5px);
}

.popup.vanity-number-detail .search-frm .price .dash {
  color: #d4d7d9;
}

.popup.vanity-number-detail .vanity_result li {
  position: relative;
  border-bottom: 1px solid #e2e5e7;
  line-height: 20px;
  padding: 15px;
  font-size: 12px;
}

.popup.vanity-number-detail .vanity_result li:last-child {
  border: 0;
}

.popup.vanity-number-detail .vanity_result li.loading {
  height: 250px;
}

.popup.vanity-number-detail .vanity_result li.loading:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #949597;
  border-radius: 100% !important;
  height: 22px;
  opacity: 1;
  width: 22px;
  margin-top: -13px;
  margin-left: -13px;
  line-height: 22px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.popup.vanity-number-detail .vanity_result .btn-green {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
}

.popup.vanity-number-detail .vanity_result .number {
  font-size: 14px;
  display: block;
  padding-right: 75px;
}

.popup.vanity-number-detail .vanity_result .price {
  display: block;
  padding-right: 75px;
}

.popup.vanity-number-detail .vanity_result .btn-checkout {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -15px;
  background: #69a153;
  border: 1px solid #61944c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  padding: 0 10px;
  border-radius: 3px;
}

.popup.vanity-number-detail .vanity_result .loading {
  min-height: 200px;
}

.popup.vanity-number-detail .vanity_result .loading:before {
  content: '';
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #bcbcbc;
  border-radius: 100% !important;
  height: 74px;
  opacity: 1;
  width: 74px;
  margin-top: -39px;
  margin-left: -39px;
  line-height: 74px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
  opacity: 0.3;
}

.popup.vanity-number-detail .vanity_result .loading:after {
  content: '';
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid #bcbcbc;
  border-radius: 100% !important;
  height: 48px;
  opacity: 1;
  width: 48px;
  margin-top: -25px;
  margin-left: -25px;
  line-height: 48px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
  opacity: 0.7;
}

.popup.vanity-number-detail .vanity_result .loading li > * {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.popup.vanity-number-detail .vanity_result .loading li.loading, .popup.vanity-number-detail .vanity_result.loading li:before {
  display: none;
}

.popup.vanity-number-detail .vanity_result .empty {
  padding: 40px 0 60px;
}

.popup.vanity-number-detail .vanity_result .empty p {
  line-height: 20px;
  color: #8a8f9c;
  text-align: center;
  padding: 15px 0 0;
}

.popup.vanity-number-detail .vanity_result .empty b {
  display: block;
  font-size: 15px;
  color: #646973;
  font-weight: normal;
}

.popup.vanity-number-detail .vanity_result .phone {
  width: 75px;
  height: 21px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 27px 0;
}

.popup.vanity-number-detail .vanity_result .phone:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #bcbcbc;
  opacity: 0.15;
  border-radius: 100%;
}

.popup.vanity-number-detail .vanity_result .phone:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #bcbcbc;
  opacity: 0.35;
  border-radius: 100%;
  margin: -30px 0 0 -30px;
}

.popup.vanity-number-detail .vanity_result .phone .icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 46px;
  height: 46px;
  border: 1px solid #bcbcbc;
  opacity: 0.7;
  border-radius: 100%;
  margin: -23px 0 0 -23px;
}

.popup.vanity-number-detail .vanity_result .phone .icon:after {
  content: '';
  position: relative;
  display: block;
  border: 0;
  width: 15px;
  height: 19px;
  background: url("../images/m_img.png") no-repeat -130px -20px;
  background-size: 150px 150px;
  padding: 0;
  margin: 1px auto 0;
  position: relative;
  left: 1px;
}

.popup.vanity-number-detail .vanity_result button.more {
  width: 100%;
  position: relative;
  z-index: 1;
  display: block;
  white-space: nowrap;
}

.popup.hotel-policy {
  margin-top: 10px;
  background: #fff;
  border-radius: 3px;
}

.popup.hotel-policy .close {
  position: absolute;
  z-index: 2;
  top: -10px;
  left: -10px;
  width: 22px;
  height: 22px;
  background-position: -45px -75px;
}

.popup.hotel-policy .agreemnet {
  color: #8a8f9c;
  padding: 12px 10px 0;
}

.popup.hotel-policy .agreemnet p {
  padding-bottom: 15px;
  line-height: 18px;
}

.popup.hotel-policy .agreemnet p b {
  color: #383d48;
}

.popup.policy_detail {
  background: #fff;
  border-radius: 3px;
}

.popup.policy_detail .terms {
  padding: 14px 16px 0;
}

.popup.policy_detail .terms p {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 18px;
}

.popup.policy_detail h3 {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 5px;
}

.popup.policy_detail a {
  color: #4978b3;
}

.popup.shipping {
  background: #fff;
  border-radius: 3px;
}

.popup.shipping .country-list {
  position: relative;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
          box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
}

.popup.shipping b {
  font-weight: normal;
}

.popup.shipping .current b {
  color: #383d48;
  font-weight: bold;
}

.popup.shipping li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 25px;
  font-size: 13px;
  position: relative;
  float: left;
  width: 50%;
}

.popup.shipping li:nth-child(odd) {
  clear: both;
}

.popup.shipping ul.after {
  border-bottom: 1px solid #ebebed;
  padding: 13px 0 16px 16px;
}

.popup.shipping ul.search-result {
  max-width: 610px;
  padding: 13px 15px 15px;
}

.popup.shipping small {
  color: #383d48;
  font-size: 11px;
}

.popup.shipping .btn-area {
  border: 0;
  width: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  margin: 0;
  padding: 15px;
  text-align: right;
}

.popup.shipping .btn-area button {
  font-size: 12px;
  line-height: 29px;
  margin-left: 4px;
}

.popup.shipping .search {
  padding: 12px 15px 12px;
  position: relative;
  border-bottom: 1px solid #ececec;
}

.popup.shipping .search .remove {
  position: absolute;
  top: 12px;
  right: 15px;
  padding: 6px;
}

.popup.shipping .search .remove:before {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/m_img.png") no-repeat -65px -100px;
  background-size: 150px 150px;
}

.popup.shipping .search input.text {
  width: 100%;
}
/*# sourceMappingURL=m.thing.v3.css.map */