/* before logged */

.banner.holiday {
    background: #fff url('../../_ui/images/normal/sales_popup.png') no-repeat 50% 50%;
    background-size: cover;
    padding: 30px 10px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(19, 19, 19, 0.13);
}
.banner.holiday h2 {
    color: #373e4e;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;
}
.banner.holiday p {
    color: #557a94;
    line-height: 18px;
    font-size: 13px;
    padding-bottom: 10px;
}
.banner.holiday code {
    display: block;
    color: #2d516b;
    line-height: 30px;
    border-radius: 3px;
    border: 1px dashed #88aec9;
    font-weight: bold;
}
.banner.holiday button {
    font-size: 12px;
    padding: 0 10px;
    width: 100%;
    background: #159ceb;
    color: #fff;
    line-height: 30px;
    border-radius: 3px;
}
.banner.holiday .btn-no {
    background: #88aec9;
}
.message-box .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    background: url("../images/banner.png") repeat -50px -125px;
    background-size: 200px 200px;
}
.message-box {
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #bcbfc3;
    box-shadow: 0 0 2px rgba(202, 203, 209, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 15px 10px 15px 45px;
    color: #3a3d41;
    font-weight: bold;
    position: absolute;
    top: 46px;
    left: 0;
    width: calc(100% - 55px);
    width: -webkit-calc(100% - 55px);
    width: -moz-calc(100% - 55px);
}
.welcome {
    padding: 22px 40px 10px;
    text-align: center;
}
.welcome h2 {
    font-size: 18px;
}
.welcome p {
    padding-top: 5px;
    line-height: 18px;
    font-size: 14px;
    color: #727881;
}
/* timeline */

.figure-product {
    background: #fff;
    border: 1px solid #bcbfc3;
    box-shadow: 0 0 2px rgba(202, 203, 209, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 10px 10px 0;
}
.figure-product .figure {
    padding: 10px;
    line-height: 18px;
    color: #8a8f9c;
}
.figure-product .figure figcaption {
    color: #383d48;
    display: block;
    padding: 0;
}
.figure-product .figure .figure-img {
    display: block;
    background: #f0f0f0;
    margin-bottom: 10px;
}
.figure-product .figure .figure-img .square {
    display: none;
    width: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
}
.figure-product .figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 640px;
}
.figure-product .figure .username {
    color: #588cc7;
}
.figure-product .figure .price {
    color: #383d48;
}
.figure-product .price.sales {
    color: #d81f31;
}
.figure-product .price.sales br {
    display: none;
}
.figure-product .price.sales .before {
    color: #383d48;
    text-decoration: line-through;
    font-size: 1em;
}
.figure-product .price.sales .percentage {
    font-weight: normal;
    color: #8a8f9c;
}
.figure-product .figure span {
    color: #8a8f9c;
}
.figure-product .option {
    text-align: right;
    background: #fcfcfc;
    border-top: 1px solid #f3f4f5;
    border-radius: 0 0 3px 3px;
    line-height: 38px;
}
.figure-product .option:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
}
.figure-product .option a {
    margin: 0 10px;
    color: #778192;
    font-size: 12px;
    font-weight: bold;
}
.figure-product .option a.comment,
.figure-product .option a.more {
    float: right;
}
.figure-product .option .icon {
    display: inline-block;
    margin: -3px 3px 0 0;
    vertical-align: middle;
}
.figure-product .option .fancy {
    float: left;
    margin-right: 13px;
    text-align: left;
}
.figure-product .option .fancyd {
    float: left;
    margin-right: 13px;
    text-align: left;
    color: #588cc7;
}
.figure-product .option .list,
.figure-product .option .buy {
    float: left;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .figure-product,
    .figure-product .option,
    .message-box {
        border-width: 0.0385em;
    }
}
/* add to list */

#pop_wrap.add_list .popup.add_list {
    display: block;
}
.popup.add_list .category-list input:checked {
    background: url("../images/checkbox.png") no-repeat #f8f8f8 50% 50%;
    background-size: 11px 8px;
}
.popup.add_list {
    background: #fff;
    border-radius: 3px;
    position: fixed;
    left: 10px;
    top: 50%;
    margin-top: -175px !important;
}
.popup.add_list .add-frm {
    padding: 10px;
}
.popup.add_list .category-list li {
    position: relative;
}
.popup.add_list .category-list label {
    display: block;
    padding-left: 34px;
    font-size: 14px;
}
.popup.add_list .category-list input {
    -webkit-appearance: none;
    left: 10px;
    position: absolute;
    top: 50%;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
}
.popup.add_list .category-list {
    border: 1px solid #bbc0c8;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 #ebebeb;
    line-height: 25px;
    padding: 5px 0;
    margin-bottom: 10px;
    overflow: auto;
    height: 130px
}
.popup.add_list fieldset {
    position: relative;
    margin-bottom: 10px;
}
.popup.add_list fieldset input {
    width: 90%;
    border: 1px solid #bbc0c8;
    border-radius: 0;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 30px;
    padding: 0 8px;
    width: calc(100% - 70px);
    width: -webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
}
.popup.add_list .btn-create {
    position: absolute;
    right: 0;
    top: 0;
}
.popup.add_list .btn-want {
    width: 100%;
    line-height: 38px;
    margin-bottom: 10px;
}
.popup.add_list .btn-done {
    width: 100%;
    line-height: 38px;
}
.popup.add_list .btn-want .icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    width: 8px;
    height: 8px;
    background-position: -28px -117px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .popup.add_list fieldset input,
    .popup.add_list .category-list,
    .popup.add_list .category-list input {
        border-width: 0.0385em;
    }
}
.figure-product .option .icon {
    background: url("../images/new_header.png") no-repeat;
    background-size: 75px 75px;
}
.figure-product .option .fancy .icon {
    width: 9px;
    height: 14px;
    background-position: -50px -20px;
}
.figure-product .option .fancyd .icon {
    width: 9px;
    height: 14px;
    background-position: -40px -20px;
}
.figure-product .option .comment .icon {
    width: 13px;
    height: 13px;
    background-position: -30px -55px;
}
.figure-product .option .list .icon {
    width: 12px;
    height: 10px;
    background-position: -15px -55px;
}
.figure-product .option .more .icon {
    width: 13px;
    height: 3px;
    background-position: 0 -35px;
    opacity: 0.5;
    margin-right: 0;
}
.figure-product .option .buy .icon {
    width: 16px;
    height: 14px;
    background-position: -20px -20px;
}
.timeline .feed-menu {
    overflow: hidden;
    font-weight: bold;
    position: relative;
    margin: 10px 10px 0;
    box-shadow: 0 0 2px rgba(202, 203, 209, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 #f8f9f9;
    border: 1px solid #bcbfc3;
    border-radius: 3px;
    line-height: 42px;
    background: #eeeff0;
    background: -webkit-linear-gradient(top, #f4f5f6, #eeeff0);
    background: -ms-linear-gradient(top, #f4f5f6, #eeeff0);
    background: -moz-linear-gradient(top, #f4f5f6, #eeeff0);
    background: -o-linear-gradient(top, #f4f5f6, #eeeff0);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f4f5f6', endColorstr='#eeeff0');
}
.timeline .feed-menu a {
    display: block;
    color: #767f8d;
    text-align: center;
}
.timeline .feed-menu li {
    float: left;
    width: 50%;
}
.timeline .feed-menu li:first-child a {
    border-right: 1px solid #d9d9da;
}
.timeline .feed-menu a.current {
    color: #585d6b;
    background: #fff;
    background: -webkit-linear-gradient(top, #fff, #fafafa);
    background: -ms-linear-gradient(top, #fff, #fafafa);
    background: -moz-linear-gradient(top, #fff, #fafafa);
    background: -o-linear-gradient(top, #fff, #fafafa);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fafafa');
}
.timeline .feed-menu:after {
    content: '';
    clear: both;
    display: block;
}
#pop_wrap.sales_popup .popup.sales_popup {
    display: block;
}
.popup.sales_popup {
    background: #fff;
    border-radius: 3px;
    position: fixed;
    left: 10px;
    top: 50%;
    margin-top: -80px !important;
}
.popup.sales_popup .tit {
    font-size: 11px;
    color: #4f5663;
    padding: 12px 15px;
    text-transform: uppercase;
}
.popup.sales_popup fieldset {
    padding: 15px;
}
.popup.sales_popup .btn-buy {
    display: block;
    clear: both;
    width: 100%;
    height: 38px;
}
.popup.sales_popup fieldset p {
    float: left;
    padding-bottom: 15px;
}
.popup.sales_popup select {
    width: 100%;
    background: url('../images/select_boxes.png') no-repeat 100% 50% #f8f8f8;
    box-shadow: none;
    height: 33px;
    background-size: 18px 21px;
}
.popup.sales_popup fieldset p.qty {
    float: right;
    width: 73px;
}
.popup.sales_popup fieldset p.qty:first-child {
    width: 100%;
}
.popup.sales_popup fieldset p.opt {
    width: 70%;
    width: calc(100% - 84px);
    width: -webkit-calc(100% - 84px);
    width: -moz-calc(100% - 84px);
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .popup.sales_popup .tit {
        border-width: 0.055em
    }
    .timeline .feed-menu li:first-child a,
    .timeline .feed-menu {
        border-width: 0.0385em;
    }
}
.recommend .figure-product {
    margin: 10px 0 0 10px;
    width: 40%;
    width: calc(50% - 17px);
    width: -moz-calc(50% - 17px);
    width: -webkit-calc(50% - 17px);
    float: left;
}
.recommend .figure-product .figure {
    padding: 4px;
    font-size: 0;
    line-height: 0;
}
.recommend .figure-product .figure figcaption,
.recommend .figure-product .option,
.recommend .figure-product .figure .figure-img .normal {
    display: none;
}
.recommend .figure-product:nth-child(odd) {
    clear: both;
}
.recommend .figure-product .figure .figure-img {
    margin: 0;
}
.recommend .figure-product .figure .figure-img .square {
    display: block;
}
