<td>Level <%= index + 1 %></td>
<td><input type="text" id="threshold" class="text" value="<%= markupDefinition.threshold %>"></td>
<td>
    <input type="text" id="markup" class="text" value="<%= markupDefinition.markup %>">
    <button class="btns-white btn-del" markupIndex="<%= index %>" ><i class="icon"></i><span class="hidden">Remove</span></button>
</td>