.detail {background:#fff;}

.figure-product {position:relative;}
.figure-product #content {padding:0;}
.figure-product:after {content:'';clear:both;display:block;}
.figure-product #slides {display:none;}
.figure-product .showcase {float:left;padding:0;width:860px;width:calc(100% - 500px);width:-webkit-calc(100% - 500px);width:-moz-calc(100% - 500px);padding-bottom:10px;}
.figure-product .showcase .paging-wrap {padding: 10px 0 0;position: relative;}
.figure-product .showcase .paging-wrap > a {position:absolute;top:50%;margin-top: -12px;width:33px;height:33px;border-radius: 100%;background: #fff;z-index: 1;}
.figure-product .showcase .paging-wrap > a:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;}
.figure-product .showcase .paging-wrap > a.prev:before {background-position:-160px 0;;}
.figure-product .showcase .paging-wrap > a.next:before {background-position:-125px 0;}
.figure-product .showcase .paging-wrap > a.prev {left:-16px;}
.figure-product .showcase .paging-wrap > a.next {right:-16px;}
.figure-product .showcase .paging-wrap > a.disabled {display:none;}
.figure-product .showcase .paging {position:relative;white-space:nowrap;font-size:0;overflow: hidden;height: 98px;}
.figure-product .showcase .paging > div {position:absolute;top:0;left:0;}
.figure-product .showcase .paging a:last-child {margin-right:0;}
.figure-product .showcase .paging:after {content:'';clear:both;display:block;}
.figure-product .showcase .paging a:first-child {margin-left:0;}
.figure-product .showcase .paging a {vertical-align:top;display: inline-block;width: 98px;margin: 0 5px 0;position:relative;overflow: hidden;background: #f5f5f5;}
.figure-product .showcase .paging a[style="display: block;"] {display: inline-block !important;}
.figure-product .showcase .paging img {display:block;background: no-repeat 50% 50% #f5f5f5;box-shadow:inset 0 0 0 1px #f5f5f5;background-blend-mode: darken;background-size: contain;width: 100%;transition: transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);-webkit-transition: transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);-moz-transition: transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);transform: scale(0.802);}
.figure-product .showcase .paging a.current {border-radius:2px;box-shadow: inset 0 0 0 2px #B6B8BE;}
.figure-product .showcase .paging a.fit img {transform:scale(1);background-size:contain;}
.figure-product .showcase .image-container {display:table;width:100%;visibility: visible !important;}
.figure-product .showcase .image-container img {max-width: 100%;display:block;background:no-repeat 50% 50%;background-size:contain;margin: 0 auto;}
.figure-product .showcase .image-container .image-wrap {display:table-cell;vertical-align:middle;position:relative;z-index:1;padding: 5%;visibility: visible !important;}
.figure-product .showcase .image-container .image-wrap:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.03}
.figure-product .showcase .image-container .image-wrap.fit {padding:0;height: auto !important;line-height: 1em !important;}
.figure-product .showcase .image-container .zoomShow.fit img {max-width:none;}
.figure-product .showcase .image-container .zoomShow img {width:100%;max-width:752px;visibility: visible !important;}
.figure-product .showcase .zoomShow {position:relative;overflow:hidden;cursor: zoom-in;}
.figure-product .showcase .zoomImage {position:absolute; display:none;top:0;left:0;width:100%;height:100%;background:no-repeat #fff;cursor:crosshair;text-indent:-1000em;}
.figure-product .showcase .btn-zoom {display:none;position: absolute;top: 10px;left:auto;right: 10px;opacity: 1;border: none;padding:0 8px;line-height: 25px;text-transform:uppercase;cursor: pointer;text-indent: 0;font-size:12px;border-radius:3px;background: #fff;font-weight:500;color: #1a1b1c;z-index: 1;}
.figure-product .showcase .btn-zoom:before {content:'';display:inline-block;vertical-align:middle;background-position:-150px -70px;width:10px;height:10px;margin: -3px 6px 0 0;}
.figure-product .showcase .slidesjs-pagination {display: none;}
.figure-product .showcase .slidesjs-pagination li:last-child {margin-right:20px;}
.figure-product .showcase .slidesjs-pagination:after {content:'';clear:both;display:block;}
.figure-product .showcase .slidesjs-pagination li:first-child {margin-left:20px;}
.figure-product .showcase .slidesjs-pagination li {float:left;display: inline-block;width: 98px;margin: 10px 5px 0;position:relative;overflow: hidden;background: #f5f5f5;}
.figure-product .showcase .slidesjs-pagination a {display:block;visibility: visible !important;}
.figure-product .showcase .slidesjs-pagination img {display:block;background: no-repeat 50% 50% #f5f5f5;box-shadow:inset 0 0 0 1px #f5f5f5;background-blend-mode: darken;background-size: contain;width: 100%;transition: transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);-webkit-transition: transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);-moz-transition: transform 0.3s cubic-bezier(0, 0.38, 0, 1.28);transform: scale(0.802);}
.figure-product .showcase .slidesjs-pagination a.active {border-radius:2px;box-shadow: inset 0 0 0 2px #B6B8BE;}
.figure-product .showcase .slidesjs-pagination a img.fit {transform:scale(1);background-size:cover;border-radius:2px;}
.figure-product .showcase .slidesjs-pagination a.active img.fit {box-shadow: inset 0 0 0 2px #B6B8BE;}
.figure-product .showcase .slidesjs-navigation {display:none;position:absolute;top:50%;margin-top:-26px;text-indent:-1000em;width:52px;height:52px;z-index: 11;}
.figure-product .showcase .slidesjs-navigation:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;}
.figure-product .showcase .slidesjs-navigation.slidesjs-next:before {background-position:-60px 0;}
.figure-product .showcase .slidesjs-navigation.slidesjs-previous {left:20px;}
.figure-product .showcase .slidesjs-navigation.slidesjs-next {right:20px;}
.figure-product .showcase .slide-item {position:absolute;top:0;left:0;height: 100%;width:100%;}
.figure-product .showcase .slide-item img {position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;}

.figure-product .figure-info {float:right;width:460px;padding:17px 0 30px;}
/*
.figure-product .figure-info.fixed {position:fixed;left:50%;margin-left: 220px;}
.figure-product .figure-info.fixed.fixedBottom {top:auto;bottom:0;}
.figure-product .figure-info.fixed.stop {position:absolute;top:auto !important;bottom:0;}
*/
.figure-product .figure-info .breadcrumb {padding-top:0;}
.figure-product .figure-info h1 {font-size:28px;font-weight: 400;color:#1A1A1A;line-height:30px;padding-top:10px;}
.figure-product .figure-info .price {font-size: 25px;color: #fab913;padding-top: 20px;}
.figure-product .figure-info .price b {font-weight:400;}
.figure-product .figure-info .price .sales {color: #ea7415;}
.figure-product .figure-info .price .sales .before {text-decoration:line-through;color: #8a8f9c;font-weight:400;}
.figure-product .figure-info .product-review {font-size:12px;color:#333333;padding-top:20px;font-weight:bold;}
.figure-product .figure-info .product-review .rank {display:inline-block;vertical-align:middle;margin:-3px 4px 0 0;}
.figure-product .figure-info .product-review a {text-decoration:underline;color:#333333;}
.figure-product .figure-info .product-review a:hover {opacity:0.75;}
.figure-product .figure-info .tagline {color:#8D8D8D;font-size:14px;line-height:20px;padding-top: 6px;}
.figure-product .figure-info .tagline p+p {margin-top:20px;}
.figure-product .figure-info .tagline a {text-decoration:underline;color:#333333;font-weight:500;}
.figure-product .figure-info .tagline a:hover {opacity:0.75;}
.figure-product .figure-info .frm {border-bottom:1px solid #E9EBED;padding-top:24px;}
.figure-product .figure-info .frm .frm {padding:0;border: 0;}
.figure-product .figure-info .frm fieldset {border-bottom:1px solid #E9EBED;padding-bottom:25px;}
.figure-product .figure-info .frm fieldset:after {content:'';clear:both;display:block;}
.figure-product .figure-info .frm .label {display:block;padding-bottom:8px;font-weight:600;}
.figure-product .figure-info .frm .qty .label {display:none;}
.figure-product .figure-info .frm .multi-option {position:relative;line-height:20px;font-size:14px;}
.figure-product .figure-info .frm .multi-option+.btn-cart, .figure-product .figure-info .frm .multi-option+.btn-cart+.apple-pay-button {margin-top:8px;}
.figure-product .figure-info .frm .multi-option.thumbnail:before {display:none;}
.figure-product .figure-info .frm .multi-option.thumbnail ul {padding-bottom:6px;letter-spacing:10px;}
.figure-product .figure-info .frm .multi-option.thumbnail li {padding-bottom:14px;}
.figure-product .figure-info .frm .multi-option.thumbnail .selected img {box-shadow:0 0 0 2px #3ccb83;}
.figure-product .figure-info .frm .multi-option.thumbnail img {display:block;width:97px;border-radius:3px;background:no-repeat 50% 50%;background-size:cover;box-shadow: 0 0 0 2px #e9ebed;}
.figure-product .figure-info .frm .multi-option.button:before {display:none;}
.figure-product .figure-info .frm .multi-option.button ul {padding-bottom: 8px;letter-spacing:10px;}
.figure-product .figure-info .frm .multi-option.button li {padding-bottom:14px;}
.figure-product .figure-info .frm .multi-option.swatch:before {display:none;}
.figure-product .figure-info .frm .multi-option.swatch ul {padding-bottom:12px;letter-spacing:4px;margin:0 -4px;}
.figure-product .figure-info .frm .multi-option.swatch li {padding-bottom:4px;}
.figure-product .figure-info .frm .multi-option.swatch a {position:relative;display:block;width:42px;height:42px;border-radius:100%;border:4px solid #fff;}
.figure-product .figure-info .frm .multi-option.swatch a.selected {position:relative;z-index:0;box-shadow:0 0 0 2px #3ccb83;}
.figure-product .figure-info .frm .multi-option.swatch a[style="background:white"]:before, .figure-product .figure-info .frm .multi-option.swatch a[style="background: white"]:before, .figure-product .figure-info .frm .multi-option.swatch a[style^="background: #fff"], .figure-product .figure-info .frm .multi-option.swatch a[style^="background:#fff"] {box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);}
.figure-product .figure-info .frm .multi-option.swatch a[style="background:white"], .figure-product .figure-info .frm .multi-option.swatch a[style="background: white"], .figure-product .figure-info .frm .multi-option.swatch a[style^="background: #fff"]:before, .figure-product .figure-info .frm .multi-option.swatch a[style^="background:#fff"]:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;border-radius:100%;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);}
.figure-product .figure-info .frm .multi-option .value {margin-top:-8px;display:block;padding-bottom:8px;}
.figure-product .figure-info .frm .multi-option .disabled, .figure-product .figure-info .frm .multi-option button[disabled] {opacity:0.5;cursor:default;}
.figure-product .figure-info .frm .multi-option ul {padding:2px 2px 0;box-sizing:border-box;}
.figure-product .figure-info .frm .multi-option:before {content: "\c059";position:absolute;right:10px;top:50%;font-size: 11px;font-family:'cleversoft';line-height: 20px;margin-top: 7px;}
.figure-product .figure-info .frm .multi-option select {background:none;width:100%;display:block;margin-bottom:20px;padding: 14px 12px;position: relative;}
.figure-product .figure-info .frm .multi-option label {display:block;padding-bottom:10px;font-weight:500;}
.figure-product .figure-info .frm .multi-option li {display:inline-block;vertical-align:top;}
.figure-product .figure-info .frm .multi-option button.selected {box-shadow:0 0 0 2px #3ccb83;}
.figure-product .figure-info .frm .multi-option button {font-size:14px;font-weight:500;padding: 12px 13px;line-height:20px;background-color:#fff;box-shadow: 0 0 0 2px #e9ebed;border-radius:3px;}
.figure-product .figure-info .frm .qty {float:left;width: 48%;width: calc(50% - 4px);width: -webkit-calc(50% - 4px);width: -moz-calc(50% - 4px);}
.figure-product .figure-info .frm .qty .input-number {display:block;}
.figure-product .figure-info .frm .qty .input-number input[type="text"], .figure-product .figure-info .frm .qty .input-number input.text {padding: 14px 50px;}
.figure-product .figure-info .frm .qty .input-number a {width:50px;line-height:50px;}
.figure-product .figure-info .frm .qty .selectBox {display:block;}
.figure-product .figure-info .frm .option {padding-bottom:20px;}
.figure-product .figure-info .frm .option .select-box, .figure-product .figure-info .frm .option .selectBox {display:block;}
.figure-product .figure-info .frm .recipient {position:relative; }
.figure-product .figure-info .frm .user-list {display:none;position:absolute;top: 100%;margin-top:-15px;width: 100%;border: 1px solid #e9ebed;background:#fff;padding:2px 0;z-index: 3;box-sizing: border-box;}
.figure-product .figure-info .frm .user-list li {position:relative; padding:1px 5px 3px 40px; font-size: 12px; line-height: 15px; min-height:32px; cursor:pointer; }
.figure-product .figure-info .frm .user-list li:hover {background:#f0f0f0; }
.figure-product .figure-info .frm .user-list img {position:absolute; top:3px; left:5px; width:30px; height:30px; border-radius:3px; background-size:cover; background-position:50% 50%; }
.figure-product .figure-info .frm .user-list b {display:block; }
.figure-product .figure-info .frm .user-list small {display:block; color:#999; }
.figure-product .figure-info .frm .btn-cart span {display:block;position:  relative;transform:translateY(0);transition:transform 0.2s;-webkit-transition:transform 0.2s;-moz-transition:transform 0.2s;}
.figure-product .figure-info .frm .btn-cart:after {display:block;content: "\c160";font-family:'cleversoft';transform:translateY(0);transition:transform 0.2s;-webkit-transition:transform 0.2s;-moz-transition:transform 0.2s;font-size: 20px;}
.figure-product .figure-info .frm .btn-cart:hover span, .figure-product .figure-info .frm .btn-cart:hover:after {transform:translateY(-50px);}
.figure-product .figure-info .frm .btn-cart {float: right;width:48%;width:calc(50% - 4px);width:-webkit-calc(50% - 4px);width:-moz-calc(50% - 4px);overflow: hidden;height: 50px;}
.figure-product .figure-info .frm .btn-cart[disabled]:hover span, .figure-product .figure-info .frm .btn-cart[disabled]:hover:after, .figure-product .figure-info .frm .btn-cart.loading:hover span, .figure-product .figure-info .frm .btn-cart.loading:hover:after {transform:translateY(0);}
.figure-product .figure-info .frm .btn-cart.loading:before {display:none;}
.figure-product .figure-info .frm .btn-buy-giftcard {width:100%;display:block;}
.figure-product .figure-info .frm .apple-pay-button {font-size:16px;font-weight:bold;height:auto;line-height:48px;margin:0;float:right;width:48%;width:calc(50% - 4px);width:-webkit-calc(50% - 4px);width:-moz-calc(50% - 4px);clear:none;}
.figure-product .figure-info .frm .apple-pay-button .logo {background-position:-74px 0;width:49px;height:20px;margin-top:13px;display:inline-block;vertical-align:top;}
.figure-product .figure-info .frm .actions {float:left;line-height:36px;padding:17px 0;}
.figure-product .figure-info .frm .actions a:hover {opacity:0.75;}
.figure-product .figure-info .frm .actions a.like {display:inline-block;vertical-align:middle;font-weight:600;color:#9BA0A5;}
.figure-product .figure-info .frm .actions a.like:after {content:'Like'}
.figure-product .figure-info .frm .actions a.like:before {margin-right:4px;width:22px;height:22px;background-position:0 0;}
.figure-product .figure-info .frm .actions a.like.on {color:#1c1e27;}
.figure-product .figure-info .frm .actions a.like.on:after {content:'Liked'}
.figure-product .figure-info .frm .actions a.like.on:before {background-position: -124px 1px;}
.figure-product .figure-info .frm .actions .count {color:#1c1e27;text-decoration:underline;}
.figure-product .figure-info .frm .actions .fancyd_user {position:relative;display:inline-block;vertical-align:middle;}
.figure-product .figure-info .frm .actions .fancyd_user:before {content:'·';color:#1c1e27;}
.figure-product .figure-info .frm .actions .fancyd_user:hover .fancyd_list {display:block;}
.figure-product .figure-info .frm .actions .fancyd_list a {position:relative;display:block;padding:5px 0 5px 64px;margin-top:15px;color:#9BA0A5;}
.figure-product .figure-info .frm .actions .fancyd_list small {font-size:11px;text-transform:uppercase;font-weight:400;}
.figure-product .figure-info .frm .actions .fancyd_list ul {max-height:270px;padding:0 25px 20px;overflow:auto;}
.figure-product .figure-info .frm .actions .fancyd_list b {display:block;font-size:14px;color:#1c1e27;}
.figure-product .figure-info .frm .actions .fancyd_list b.tit {font-size:11px;color:#9BA0A5;text-transform:uppercase;padding:20px 25px 0;}
.figure-product .figure-info .frm .actions .fancyd_list img {position:absolute;top:50%;left:0;width:50px;height:50px;border-radius:100%;margin-top:-25px;background:no-repeat 50% 50%;background-size:cover;}
.figure-product .figure-info .frm .actions .fancyd_list:before {content:'';position:absolute;top:100%;left:50%;border:8px solid transparent;border-top-color:rgba(0,0,0,0.1);margin-left:-8px;}
.figure-product .figure-info .frm .actions .fancyd_list:after {content:'';position:absolute;top:100%;left:50%;border:7px solid transparent;border-top-color:#fff;margin-left:-7px;}
.figure-product .figure-info .frm .actions .fancyd_list {display:none;position:absolute;z-index:1;width:300px;font-size:11px;line-height:20px;bottom:100%;left:50%;margin-left:-150px;border-radius:4px;background:#fff;box-shadow:0 3px 16px rgba(0,0,0,0.1), 0 0 2px 1px rgba(0,0,0,0.08);font-weight:500;}
.figure-product .figure-info .frm:after {content:'';clear:both;display:block;}
.figure-product .figure-info .social_icons {/* float:right; */line-height:36px;padding:17px 0;white-space: nowrap;text-align: center;}
.figure-product .figure-info .social_icons a {opacity:0.5;}
.figure-product .figure-info .social_icons a:hover {opacity:1;}
.figure-product .figure-info .social_icons a:before {font-size: 24px;font-family: 'cleversoft';}
.figure-product .figure-info .social_icons a.icon-facebook:before {content: "\c234";}
.figure-product .figure-info .social_icons a.icon-twitter:before {content: "\c238";}
.figure-product .figure-info .social_icons a.icon-google:before {content: "\2201";}
.figure-product .figure-info .social_icons a.icon-pinterest:before {content: "\c231";}

.recommend h3 {text-align:center;font-size: 30px;padding:60px 0 26px;font-weight: 400;color: #222;}
.recommend .itemListElement {width: calc(25% - 20px);width: -webkit-calc(25% - 20px);width:-moz-calc(25% - 20px);}
.recommend .itemListElement:nth-child(4n+1) {clear:both;}

.description {font-size: 18px;line-height: 30px;letter-spacing: 0;color: #777777;}
.description h3 {text-align:center;font-size: 30px;padding:60px 0 26px;font-weight: 400;color: #222;}
.description p+p {margin-top:30px;}
.description ul {padding-left:20px;}
.description ul li {list-style:outside disc;}
.description ol {padding-left:20px;}
.description ol li {list-style:outside decimal;}

.figure-product.gift-card .figure-info .frm p {padding-bottom:20px}
.figure-product.gift-card .figure-info .frm input.text, .figure-product.gift-card .figure-info .frm input[type="text"] {width:100%;display:block;}
.figure-product.gift-card .figure-info .frm textarea {width:100%;display:block;height:100px;}
.figure-product.gift-card .figure-info .frm .qty {float:none;width:auto;padding-bottom: 20px;}


@media screen and (min-width: 920px) {
    .figure-product #slides {display:none !important;}
}
@media screen and (max-width: 920px) {
    .figure-product {margin-top:-20px;}
    .figure-product .showcase {float:none;width:auto;position: relative;margin: 0 -20px;}
    .figure-product .showcase .paging {display:none}
    .figure-product .showcase .slidesjs-pagination {display:block;white-space:nowrap;overflow:auto;-webkit-overflow-scrolling:touch;padding:10px 0 0;position: relative;z-index: 1;visibility: visible !important;}
    .figure-product .showcase .slidesjs-pagination li {float:none;display:inline-block;width:84px;visibility: visible !important;}
    .figure-product .showcase #slides {position: static;background: #fff;padding: 0;display: table-cell;z-index: 1;opacity: 1;visibility: visible !important;}
    .figure-product .showcase #slides .slidesjs-container {display:table-cell;vertical-align:middle;position: relative;z-index:0;visibility: visible !important;min-width: 100%;}
    .figure-product .showcase .image-container .image-wrap {display:none;}
    .figure-product .showcase #slides .slidesjs-control {min-width: 100%;}
    .figure-product .showcase .slide-item span:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.03;}
    .figure-product .showcase .slide-item img {object-fit: contain;background: #fff;transform: scale(0.802);visibility: visible !important;}
    .figure-product .showcase .slide-item.fit img {transform:scale(1);}
    .figure-product .showcase .paging-wrap > a {display:none;}
    .figure-product .figure-info .frm .actions .fancyd_user {display:none;}
    .figure-product .figure-info {float:none;width:auto;padding:10px 0 20px;}
    .figure-product .figure-info .frm .qty {padding-bottom:15px;}
    .figure-product .figure-info .frm .option {float:none;width:auto;padding-bottom:15px;}
    .figure-product .figure-info .frm .option+.qty {float:none;width:auto;}
    .figure-product .figure-info .frm .btn-cart {float:none;width:100%;}
    .figure-product .figure-info .frm .multi-option {position:relative;padding-bottom:70px;}
    .figure-product .figure-info .frm .multi-option select {position:absolute;bottom:0;left:0;}
    .figure-product .figure-info .frm .multi-option ul {position:absolute;left:-20px;bottom:0;white-space:nowrap;overflow:auto;width: 100%;width:calc(100% + 40px);width:-webkit-calc(100% + 40px);padding:2px 22px 0;-webkit-overflow-scrolling:touch;}
    .figure-product .figure-info .frm .multi-option.swatch ul {margin:0;padding:2px 16px 12px;}
    .figure-product .figure-info .frm .multi-option.thumbnail {padding-bottom:120px;}
/*
    .figure-product .figure-info.fixed, .figure-product .figure-info.fixed.stop {position:static;margin: 0;}
*/
    .show_fullscreen, .show_fullscreen body {overflow:hidden;}
    .show_fullscreen #sidebar, .show_fullscreen #header, .show_fullscreen #footer {display:none;}
    .show_fullscreen #wrap > #container-wrapper {overflow:visible;}
    .show_fullscreen .figure-product, .show_fullscreen #container-wrapper, .show_fullscreen #container-wrapper > #container-wrapper.detail {position:static;}
    .show_fullscreen .figure-product > div {display:none;}
    .show_fullscreen .figure-product > .showcase {display:block;position: static;}
    .show_fullscreen .figure-product .showcase .close {position: absolute;right: 10px;top: 10px;width:48px;height:48px;z-index: 12;display:block;}
    .show_fullscreen .figure-product .showcase #slides .slidesjs-control {position:absolute;top:0;left:0;width:100%;height:100%;display: block;}
    .show_fullscreen .figure-product .showcase #slides .slidesjs-container {position: static !important;}
    .show_fullscreen .figure-product .showcase #slides .slide-item img {max-height:none !important;width:100%;height:100%;transform:scale(1);}
    .show_fullscreen .figure-product .showcase .slidesjs-pagination {background:rgba(26, 27, 28, .57);padding:10px 0;border-radius:14px;position:absolute;z-index:1;bottom:20px;left:50%;transform:translateX(-50%);padding: 10px;width: auto !important;line-height: 8px;}
    .show_fullscreen .figure-product .showcase .slidesjs-pagination img {display:none;}
    .show_fullscreen .figure-product .showcase .slidesjs-pagination li {width:8px;background: none;vertical-align: middle;margin: 0 3px;}
    .show_fullscreen .figure-product .showcase .slidesjs-pagination a.active {box-shadow:none;opacity:1;}
    .show_fullscreen .figure-product .showcase .slidesjs-pagination a {width:8px;height:8px;border-radius:100%;background:#fff;opacity:0.4;}
    .show_fullscreen .figure-product .showcase .slidesjs-pagination li:first-child {margin-left:0;}
    .show_fullscreen .figure-product .showcase .paging-wrap {display:none;}
    .recommend .itemListElement {width:auto;}
    .recommend h3, .description h3 {font-size: 22px;padding: 20px 0 15px;}
    .description {font-size:14px;line-height:20px;padding-bottom: 30px;}
}
