.categories#content {
  background: none;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.categories#content .controller .btns-gray-embo {
  border-left-width: 1px;
  margin-left: 8px;
  border-radius: 3px;
}

.categories .btn-add_parent {
  position: relative;
  padding-left: 29px;
}

.categories .btn-add_parent:before, .categories .btn-add_parent:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 17px;
  border-radius: 2px;
  background: #fff;
}

.categories .btn-add_parent:before {
  width: 2px;
  height: 10px;
  margin: -5px 0 0 -1px;
}

.categories .btn-add_parent:after {
  height: 2px;
  width: 10px;
  margin: -1px 0 0 -5px;
}

.categories .search {
  float: left;
  margin-right: 4px;
}

.categories .search .keyword {
  width: 220px;
  display: block;
}

.categories .search .keyword input {
  background: #fafafa;
  line-height: 20px;
  float: none;
}

.categories .data-field {
  padding: 0;
}

.tree .btns a.btn-add:before, .tree .sortableListsOpener:before, .tree .category-item .thumbnail:before, #sortableListsBase .btns a.btn-add:before, #sortableListsBase .sortableListsOpener:before, #sortableListsBase .category-item .thumbnail:before {
  background: url("../../../_ui/images/normal/product_new.png") no-repeat;
  background-size: 200px 200px;
}

.tree .btns .btn-organize:before, #sortableListsBase .btns .btn-organize:before {
  background: url("../../../_ui/images/normal/seller.png") no-repeat;
  background-size: 250px 250px;
}

.tree li, #sortableListsBase li {
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
  border: 1px solid #d9dbdd;
}

.tree li ul, #sortableListsBase li ul {
  display: none;
  padding: 15px;
}

.tree li:first-child, #sortableListsBase li:first-child {
  margin-top: 0;
}

.tree .sortableListsOpen > ul, #sortableListsBase .sortableListsOpen > ul {
  display: block;
}

.tree .sortableListsOpen > .category-item .sortableListsOpener:before, #sortableListsBase .sortableListsOpen > .category-item .sortableListsOpener:before {
  background-position: -90px -70px;
}

.tree .category-item, #sortableListsBase .category-item {
  position: relative;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 1px #d9dbdd, 0 1px 1px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 0 1px #d9dbdd, 0 1px 1px rgba(0, 0, 0, 0.03);
  padding: 12px 15px 12px 43px;
  text-align: right;
}

.tree .category-item .title, #sortableListsBase .category-item .title {
  float: left;
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 5px;
}

.tree .category-item .thumbnail, #sortableListsBase .category-item .thumbnail {
  position: relative;
  float: left;
  width: 36px;
  height: 36px;
  margin: -3px 5px;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.tree .category-item .thumbnail input, #sortableListsBase .category-item .thumbnail input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.tree .category-item .thumbnail img, #sortableListsBase .category-item .thumbnail img {
  position: relative;
  display: block;
  width: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.tree .category-item .thumbnail:hover .btn-del, #sortableListsBase .category-item .thumbnail:hover .btn-del {
  display: block;
}

.tree .category-item .thumbnail .btn-del, #sortableListsBase .category-item .thumbnail .btn-del {
  display: none;
  padding: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgba(255, 255, 255, 0.8);
}

.tree .category-item .thumbnail .btn-del:before, #sortableListsBase .category-item .thumbnail .btn-del:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -5px;
}

.tree .category-item .thumbnail:before, #sortableListsBase .category-item .thumbnail:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  background-position: -99px -169px;
}

.tree .category-item .thumbnail.loading:before, #sortableListsBase .category-item .thumbnail.loading:before {
  display: none;
}

.tree .category-item .thumbnail.loading:after, #sortableListsBase .category-item .thumbnail.loading:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  margin: -7px 0 0 -7px;
  background: url("../../../_ui/images/normal/spinner.gif") no-repeat;
  background-size: 14px 14px;
}

.tree .category-item:last-child, #sortableListsBase .category-item:last-child {
  padding-left: 12px;
}

.tree .category-item:last-child .sortableListsOpener, #sortableListsBase .category-item:last-child .sortableListsOpener {
  display: none;
}

.tree .highlight > .category-item > .title, #sortableListsBase .highlight > .category-item > .title {
  background-color: #4595fa;
  color: white;
}

.tree .sortableListsHint, .tree .sortableListsPlaceholder, #sortableListsBase .sortableListsHint, #sortableListsBase .sortableListsPlaceholder {
  border: 1px dashed #d9dbdd;
  background: rgba(235, 236, 237, 0.15);
}

.tree .sortableListsOpener, #sortableListsBase .sortableListsOpener {
  position: absolute;
  top: 50%;
  left: 12px;
  float: left;
  padding: 8px 6px;
  border: 1px solid #9099a6;
  opacity: 0.5;
  border-radius: 100%;
  margin: -12px 10px 0 2px;
}

.tree .sortableListsOpener:before, #sortableListsBase .sortableListsOpener:before {
  content: '';
  display: block;
  width: 9px;
  height: 5px;
  background-position: -80px -70px;
}

.tree .btns, #sortableListsBase .btns {
  display: inline-block;
  border: 1px solid #d2d3d6;
  border-radius: 3px;
  border-bottom-color: #c3c5c9;
  background: #fff;
  vertical-align: middle;
}

.tree .btns:after, #sortableListsBase .btns:after {
  content: '';
  clear: both;
  display: block;
}

.tree .btns a, #sortableListsBase .btns a {
  float: left;
  border-left: 1px solid rgba(241, 241, 242, 0.9);
  line-height: 28px;
  width: 28px;
  text-align: center;
}

.tree .btns a:first-child, #sortableListsBase .btns a:first-child {
  border-left: 0;
}

.tree .btns a.btn-add:before, #sortableListsBase .btns a.btn-add:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  width: 8px;
  height: 8px;
  background-position: -60px -70px;
  opacity: 0.7;
}

.tree .btns a.btn-organize:before, #sortableListsBase .btns a.btn-organize:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  width: 13px;
  height: 13px;
  background-position: -140px -215px;
  opacity: 0.7;
}

.tree .tooltip em, #sortableListsBase .tooltip em {
  padding: 9px;
  font-size: 12px;
  font-weight: bold;
}

.tree .tooltip em:after, #sortableListsBase .tooltip em:after {
  border-width: 5px;
  margin-left: -5px;
}

.tree .urls, #sortableListsBase .urls {
  color: #9099a6;
  padding-right: 16px;
}

.tree .count, #sortableListsBase .count {
  padding-right: 14px;
}

.tree .count:before, #sortableListsBase .count:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin: -3px 5px 0 0;
  background: url("../../../_ui/images/svg/campaigns_product.svg") no-repeat 50% 50% #e6e7e8;
  border-radius: 100%;
  background-size: 20px 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .tree .btns a.btn-add:before, .tree .sortableListsOpener:before, .tree .category-item .thumbnail:before, #sortableListsBase .btns a.btn-add:before, #sortableListsBase .sortableListsOpener:before, #sortableListsBase .category-item .thumbnail:before {
    background-image: url("../../../_ui/images/retina/product_new.png");
  }
  .tree .btns .btn-organize:before, #sortableListsBase .btns .btn-organize:before {
    background-image: url("../../../_ui/images/retina/seller.png");
  }
  .tree .category-item .thumbnail.loading:after, #sortableListsBase .category-item .thumbnail.loading:after {
    background-image: url("../../../_ui/images/retina/spinner.gif");
  }
}

.add_parent#popup_container .popup.add_parent {
  display: block;
}

.add_parent.popup {
  width: 560px;
  background: #fff;
  border-radius: 5px;
}

.add_parent.popup h3 {
  font-size: 22px;
  padding: 34px 38px;
  line-height: 26px;
}

.add_parent.popup .data-frm {
  padding: 0 38px 38px;
}

.add_parent.popup .data-frm input, .add_parent.popup .data-frm select {
  width: 100%;
}

.add_parent.popup .data-frm .label {
  color: #3b4351;
}

.add_parent.popup .data-frm .google-product-category select {
  margin-top: 10px;
}

.add_parent.popup .btn-delete {
  float: left;
  padding: 0 13px;
}

.add_parent.popup .ly-close {
  right: 30px;
  top: 20px;
}

.add_parent.popup .ly-close .ic-del-black {
  width: 15px;
  height: 15px;
  background: url("../../../_ui/images/svg/close.svg") no-repeat;
  background-size: contain;
}

.add_parent.popup .additional-image {
  display: block;
  position: relative;
  height: 100px;
  background: #F4F5F5;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
  width: 100px;
}

.add_parent.popup .additional-image video {
  position: relative;
  width: 100%;
  height: 100%;
}

.add_parent.popup .additional-image input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.add_parent.popup .additional-image img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: contain;
}

.add_parent.popup .additional-image .btn-del {
  position: absolute;
  top: 10px;
  right: 10px;
}

.add_parent.popup .additional-image:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  background: url("../../../_ui/images/normal/product_new.png") no-repeat;
  background-size: 200px 200px;
  background-position: -85px -155px;
  margin: -22px 0 0 -22px;
  opacity: 0.6;
}

.add_parent.popup .additional-image.processing:before {
  content: 'PROCESSING...';
  background: none;
  left: 0;
  width: 100%;
  line-height: 44px;
  text-align: center;
  margin-left: 0;
  z-index: 1;
}

.add_parent.popup .additional-image.loading {
  background: #a7a7a7;
}

.add_parent.popup .additional-image.loading img {
  opacity: 0.8;
}

.add_parent.popup .additional-image.loading:before {
  left: 10%;
  width: 80%;
  height: 6px;
  background: rgba(255, 255, 255, 0.3);
  content: '';
  position: absolute;
  top: 50%;
  margin: -3px 0 0;
  border-radius: 2px;
  border: 0;
}

.add_parent.popup .additional-image.loading:after {
  left: 10%;
  width: 80%;
  height: 6px;
  background: #fff;
  content: '';
  position: absolute;
  top: 50%;
  margin: -3px 0 0;
  border-radius: 2px;
  -webkit-animation: upload_file2 1s;
  animation: upload_file2 1s;
}

.add_parent.popup p.image img {
  position: relative;
  z-index: 1;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: contain;
  width: 100%;
  border-radius: 3px;
}

.add_parent.popup p.image span {
  display: block;
  position: relative;
  height: 116px;
  background: #f8f8f8;
  border-radius: 3px;
}

.add_parent.popup p.image .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  background: url("../../../_ui/images/normal/product_new.png") no-repeat;
  background-size: 200px 200px;
  background-position: -85px -155px;
  margin: -22px 0 0 -22px;
  opacity: 0.6;
}

.add_parent.popup p.image input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.add_parent.popup p.image em {
  display: block;
  color: #9099a6;
  text-align: center;
  font-size: 11px;
  margin-top: 2px;
}

.add_parent.popup p.image a.btn-del {
  display: none;
  width: 21px;
  height: 21px;
  padding: 0;
  background-color: #fff;
  position: absolute;
  bottom: 7px;
  right: 7px;
  text-indent: -1000em;
  z-index: 2;
}

.add_parent.popup p.image a.btn-del:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -4px;
}

.add_parent.popup p.image.loading .icon {
  left: 10%;
  width: 80%;
  height: 6px;
  background: rgba(255, 255, 255, 0.3);
  content: '';
  position: absolute;
  top: 50%;
  margin: -3px 0 0;
  border-radius: 2px;
  border: 0;
}

.add_parent.popup p.image.loading .icon:after {
  content: '';
  left: 0;
  width: 100%;
  height: 6px;
  background: #fff;
  content: '';
  position: absolute;
  top: 50%;
  margin: -3px 0 0;
  border-radius: 2px;
  -webkit-animation: upload_file 1s;
  animation: upload_file 1s;
}

.add_parent.popup p.image.loading span:before {
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: '';
  position: absolute;
  top: 0;
  opacity: 0.1;
  border-radius: 3px;
}

.add_parent.popup p.image.uploaded .icon {
  display: none;
}

.add_parent.popup p.image.uploaded a.btn-del {
  display: block;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .popup.add_parent .additional-image:before {
    background-image: url("../../../_ui/images/retina/product_new.png");
  }
}
/*# sourceMappingURL=category.css.map */