.cms .search:before, .popup.add_featured .search:before {
  background: url("../../../_ui/images/normal/seller.png") no-repeat;
  background-size: 250px 250px;
}

.cms .table .btn-move:before, .cms .table .featured, .cms .brand-logo .img .btns a.btn-move:before {
  background: url("../../../_ui/images/normal/product_new.png") no-repeat;
  background-size: 200px 200px;
}

.cms#content {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cms .search-frm {
  border-bottom: 1px solid #f0f1f2;
  padding: 0 20px 20px;
}

.cms .search-frm:after {
  content: '';
  clear: both;
  display: block;
}

.cms .search-frm input.text {
  border: 1px solid #d9dbdd;
  height: auto;
  padding: 4px 7px 4px 27px;
  background: #f8f8f8;
  width: 425px;
}

.cms .search {
  position: relative;
  float: left;
}

.cms .search:before {
  content: '';
  background-position: -225px -15px;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
}

.cms .data-field {
  padding: 20px 0;
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
}

.cms .data-field h3 {
  text-align: center;
  font-weight: 600;
  opacity: 0.7;
  font-size: 14px;
  padding: 20px 0;
}

.cms .data-field .search-frm + h3 {
  padding-top: 0;
}

.cms .data-field + .data-frm {
  margin-top: 20px;
}

.cms .btn-new {
  float: right;
  margin-left: 10px;
}

.cms .publish-time {
  position: fixed;
  right: 50%;
  top: 65px !important;
  z-index: 9;
  margin-right: -485px;
  font-size: 16px;
  color: #3b4351;
}

.cms .publish-time.disabled:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  opacity: 0.5;
}

.cms .publish-time:after {
  content: '';
  clear: both;
  display: block;
}

.cms .publish-time label {
  display: block;
  color: #3b4351;
  font-size: 11px;
  font-weight: 400;
}

.cms .publish-time .time {
  margin-left: 20px;
}

.cms .publish-time .state {
  font-weight: 400;
}

.cms .publish-time .set-time {
  display: none;
  padding: 10px 0;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  top: 100%;
  white-space: nowrap;
  margin: 10px 0 0 -75px;
  left: 50%;
  width: 170px;
  line-height: 32px;
  background: #fff;
  border: 1px solid rgba(219, 219, 220, 0.5);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  color: #d0d1d2;
}

.cms .publish-time .set-time:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: 6px solid transparent;
  border-bottom-color: rgba(219, 219, 220, 0.5);
  margin-left: -6px;
}

.cms .publish-time .set-time:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: 4px solid transparent;
  border-bottom-color: #fff;
  margin-left: -4px;
}

.cms .publish-time .set-time input {
  width: 40px;
  text-align: center;
}

.cms .publish-time .set-time a {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #d0d1d2;
  font-weight: 600;
}

.cms .publish-time .set-time a.on {
  color: #2785fa;
}

.cms .publish-time .set-time a:first-of-type {
  margin-left: 3px;
}

.cms .publish-time > div {
  float: left;
  position: relative;
}

.cms .publish-time > div > a {
  font-size: 16px;
  color: #3b4351;
  font-weight: 700;
  border: 0;
  padding-right: 13px;
  position: relative;
}

.cms .publish-time > div > a:after {
  content: '';
  position: absolute;
  border: 4px solid transparent;
  border-top-color: #9099a6;
  top: 50%;
  margin-top: -2px;
  right: 0;
}

.cms .publish-time > div > input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  opacity: 0;
  cursor: pointer;
}

.cms .publish-time .btn-prev, .cms .publish-time .btn-next {
  position: relative;
  float: left;
  margin: 9px 0 0 0;
  height: 21px;
  text-indent: -1000em;
  width: 8px;
}

.cms .publish-time .btn-prev:before, .cms .publish-time .btn-next:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 13px;
  top: 50%;
  margin-top: -7px;
  left: 0;
  background: url("../../../_ui/images/normal/arrow_things.png") no-repeat;
}

.cms .publish-time .btn-prev {
  margin-right: 10px;
}

.cms .publish-time .btn-prev:before {
  background-position: -60px -15px;
}

.cms .publish-time .btn-next {
  margin-left: 10px;
}

.cms .publish-time .btn-next:before {
  background-position: -60px 0;
}

.cms .table {
  margin: 0 20px 0;
}

.cms .table .btn-move:before {
  width: 5px;
  height: 11px;
  background-position: -60px -15px;
  opacity: 0.5;
}

.cms .table .btn-del:before {
  opacity: 0.6;
}

.cms .table .btn-move, .cms .table .btn-del {
  padding: 0 6px;
}

.cms .table .summary {
  display: inline-block;
  max-width: 290px;
  white-space: nowrap;
  overflow: hidden;
  color: #9099a6;
}

.cms .table tbody td.num, .cms .table tbody td.feature, .cms .table thead th.num, .cms .table thead th.feature {
  padding: 0;
  text-align: center;
}

.cms .table tbody td:last-child {
  text-align: center;
}

.cms .table .featured {
  display: inline-block;
  width: 14px;
  height: 13px;
  background-position: 0 -150px;
  vertical-align: middle;
  margin-top: -3px;
}

.cms .table a.featured {
  opacity: 0.5;
}

.cms .table a.featured.on {
  opacity: 1;
  background-position: -20px -150px;
}

.cms .data-frm {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  padding: 0;
}

.cms .brand-logo {
  padding: 5px 20px 20px 5px;
}

.cms .brand-logo:after {
  content: '';
  clear: both;
  display: block;
}

.cms .brand-logo li {
  float: left;
  margin: 15px 0 0 15px;
  width: 130px;
}

.cms .brand-logo select {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  background-color: #fff;
}

.cms .brand-logo .img {
  position: relative;
  display: block;
  height: 128px;
  border: 1px dashed #c5c9cc;
  border-radius: 3px;
}

.cms .brand-logo .img .btns {
  position: absolute;
  top: 5px;
  right: 5px;
}

.cms .brand-logo .img .btns a {
  float: left;
  border-radius: 0;
  border: 0;
  width: 24px;
  line-height: 24px;
  padding: 0;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: -1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.cms .brand-logo .img .btns a:first-of-type {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.cms .brand-logo .img .btns a:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.cms .brand-logo .img .btns a.btn-move:before {
  width: 5px;
  height: 11px;
  background-position: -60px -15px;
  opacity: 0.7;
  margin-top: -4px;
}

.cms .brand-logo .img .add {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
}

.cms .brand-logo .img .add em {
  font-weight: 600;
  padding: 10px;
  z-index: 1;
}

.cms .brand-logo .img .add:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -12px;
  width: 24px;
  height: 1px;
  background: #818890;
  opacity: 0.5;
}

.cms .brand-logo .img .add:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -1px;
  height: 24px;
  width: 1px;
  background: #818890;
  opacity: 0.5;
}

.cms .brand-logo .img input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.cms .brand-logo .img img {
  margin: -1px;
  width: 130px;
  height: 130px;
  background: no-repeat 50% 50% #fff;
  background-size: contain;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.cms .stit {
  margin: 0;
  background: none;
  border-color: #f0f1f2;
}

@media screen and (max-width: 970px) {
  .cms .publish-time {
    right: 15px;
    margin: 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .cms .search:before, .popup.add_featured .search:before {
    background-image: url("../../../_ui/images/retina/seller.png");
  }
  .cms .table .btn-move:before, .cms .table .featured, .cms .brand-logo .img .btns a.btn-move:before {
    background-image: url("../../../_ui/images/retina/product_new.png");
  }
}

.add_header.popup, .add_featured.popup {
  width: 456px;
  background: #ffffff;
  border-radius: 3px;
}

.add_header.popup .btn-area, .add_featured.popup .btn-area {
  border-top-color: #f4f4f4;
  padding: 20px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.add_header.popup .ly-close, .add_featured.popup .ly-close {
  right: 30px;
  top: 20px;
}

.add_header.popup .ly-close .ic-del-black, .add_featured.popup .ly-close .ic-del-black {
  width: 15px;
  height: 15px;
  background: url("../../../_ui/images/svg/close.svg") no-repeat;
  background-size: contain;
}

.add_header.popup h3, .add_featured.popup h3 {
  padding: 35px 40px;
  font-size: 22px;
  color: #1b2128;
  line-height: 26px;
}

.add_header.popup fieldset, .add_featured.popup fieldset {
  padding: 0 40px 40px;
}

.add_header.popup fieldset p, .add_featured.popup fieldset p {
  position: relative;
  padding-bottom: 0;
}

.add_header.popup fieldset p + p, .add_featured.popup fieldset p + p {
  margin-top: 15px;
}

.add_header.popup .title, .add_featured.popup .title {
  display: block;
  font-size: 13px;
  font-weight: 600;
}

.add_header.popup input, .add_featured.popup input {
  width: 100%;
  border: 0;
}

#popup_container.add_header .popup.add_header {
  display: block;
}

.add_featured#popup_container .popup.add_featured {
  display: block;
}

.add_featured.popup fieldset {
  padding-bottom: 0;
}

.add_featured.popup ul {
  padding: 15px 40px;
  max-height: 215px;
  overflow: auto;
}

.add_featured.popup li {
  display: table;
  width: 100%;
  height: 80px;
}

.add_featured.popup li a {
  background: #f0f3f5;
  border-radius: 3px;
  vertical-align: middle;
  position: relative;
  padding: 0 0 0 80px;
  display: table-cell;
  font-size: 12px;
  line-height: 20px;
  color: #3b4351;
}

.add_featured.popup li a.selected {
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 2px #328bfa;
          box-shadow: inset 0 0 0 2px #328bfa;
}

.add_featured.popup li a.selected:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #328bfa;
  margin-top: -11px;
}

.add_featured.popup li a.selected:after {
  content: '';
  position: absolute;
  right: 21px;
  top: 50%;
  width: 10px;
  height: 8px;
  background: url("../../../whitelabel/gear/images/svg/ico-check-white.svg") no-repeat;
  margin-top: -4px;
}

.add_featured.popup li img {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-position: center;
  background-size: cover;
}

.add_featured.popup li + li {
  margin-top: 10px;
}

.add_featured.popup .type select {
  position: relative;
  z-index: 1;
  border-color: #d9dbdd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: none;
  width: 100%;
}

.add_featured.popup .type select:focus {
  background: none !important;
}

.add_featured.popup .type:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  border: 3px solid transparent;
  border-top-color: #9099a6;
  margin-top: 1px;
}

.add_featured.popup .type:after {
  content: '';
  position: absolute;
  bottom: 50%;
  right: 8px;
  border: 3px solid transparent;
  border-bottom-color: #9099a6;
  margin-bottom: 1px;
}

.add_featured.popup .search input {
  width: 100%;
  border: 0;
  padding-left: 30px;
}

.add_featured.popup .search:before {
  content: '';
  background-position: -225px -15px;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
}
/*# sourceMappingURL=cms.css.map */