.description_override .btn {
  display: inline-block;
  white-space: nowrap;
  border: 1px solid #d9dbdd;
  border-radius: 3px;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.025);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.025);
}

.description_override .btn-view {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: rgba(94, 98, 110, 0.9);
  padding: 0 8px 0 12px;
  line-height: 29px;
  vertical-align: middle;
}

.description_override .btn-del {
  display: inline-block;
  opacity: 1;
  border-left: 1px solid rgba(241, 241, 242, 0.9);
  vertical-align: middle;
  text-align: center;
  border-radius: 0 3px 3px 0;
  line-height: 27px;
  height: 29px;
  opacity: 1;
  margin: 0;
  width: 29px;
  padding: 0;
}

.description_override .tooltip em {
  font-weight: normal;
  font-size: 11px;
  line-height: 17px;
  padding: 7px 9px;
  left: 50%;
}

.description_override .tooltip em b {
  display: block;
}

.description_override .ic-duration {
  display: inline-block;
  width: 13px;
  height: 12px;
  vertical-align: middle;
  margin-top: -3px;
  background: url("../../../_ui/images/normal/product_new.png") no-repeat -140px -60px;
  opacity: 0.8;
  background-size: 200px 200px;
}

.description_override .search-frm {
  padding: 20px;
  border-bottom: 1px solid #f0f1f2;
  margin: 0;
}

.description_override .search {
  float: left;
}

.description_override .search input {
  width: 335px;
  background: #fafafa;
}

.description_override .sort {
  float: right;
  background-color: #fff;
  border-color: #d9dbdd;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.025);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.025);
}

.description_override td:first-child {
  padding-left: 75px;
  height: 48px;
}

.description_override img.product-image {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-size: cover;
}

.description_override img.product-image + a {
  display: inline-block;
  padding-left: 60px;
}

.description_override .description {
  white-space: nowrap;
  overflow: hidden;
  color: #5e626e;
  width: 460px;
  text-overflow: ellipsis;
  max-height: 22px;
}

.description_override .edited {
  line-height: 22px;
  color: #fff;
  font-size: 11px;
  border-radius: 3px;
  background: #2785fa;
  padding: 0 8px;
  text-align: center;
  display: inline-block;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .description_override .ic-duration {
    background-image: url("../../../_ui/images/retina/product_new.png");
  }
}

.add_product#popup_container .popup.add_product {
  display: block;
}

.add_product.popup fieldset {
  padding: 0 40px;
}

.add_product.popup fieldset .search {
  position: relative;
  padding-bottom: 0;
}

.add_product.popup ul {
  padding: 30px 40px;
  height: 370px;
  overflow: auto;
}

.add_product.popup ul.loading:before {
  content: '';
  border: 2px solid #949597;
  border-radius: 100%;
  height: 40px;
  left: 50%;
  margin: -22px 0 0 -22px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 40px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
  background: none;
  z-index: 8;
}

.add_product.popup li {
  display: table;
  width: 100%;
  height: 80px;
}

.add_product.popup li a {
  background: #f0f3f5;
  border-radius: 3px;
  vertical-align: middle;
  position: relative;
  padding: 0 0 0 80px;
  display: table-cell;
  font-size: 12px;
  line-height: 20px;
  color: #3b4351;
}

.add_product.popup li img {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-size: cover;
}

.add_product.popup li.loading:after {
  content: '';
  border: 2px solid #949597;
  border-radius: 100%;
  height: 40px;
  display: block;
  margin: 0 auto;
  opacity: 0;
  width: 40px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
  background: none;
  z-index: 8;
}

.add_product.popup li + li {
  margin-top: 10px;
}

.add_product.popup li.selected a {
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 2px #328bfa;
          box-shadow: inset 0 0 0 2px #328bfa;
}

.add_product.popup li.selected a:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #328bfa;
  margin-top: -11px;
}

.add_product.popup li.selected a:after {
  content: '';
  position: absolute;
  right: 21px;
  top: 50%;
  width: 10px;
  height: 8px;
  background: url("../../../whitelabel/gear/images/svg/ico-check-white.svg") no-repeat;
  margin-top: -4px;
}

.add_product.popup li .title {
  display: block;
  font-size: 13px;
  font-weight: 600;
}

.add_product.popup .search input {
  width: 100%;
  border-color: #F4F5F5;
  padding-left: 30px;
}

.add_product.popup .search:before {
  content: '';
  background: url("../../../_ui/images/normal/seller.png") no-repeat -225px -15px;
  background-size: 250px 250px;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
}

@media screen and (max-width: 800px) {
  .popup.add_product li {
    width: calc(50% - 5px);
    width: -moz-calc(50% - 5px);
  }
  .popup.add_product li:nth-child(2n+1) {
    clear: both;
    margin-left: 0;
  }
  .popup.add_product li:nth-child(3), .popup.add_product li:nth-child(4) {
    margin-top: 10px;
  }
  .popup.add_product h3, .popup.add_product .search, .popup.add_product fieldset {
    padding-left: 18px;
    padding-right: 18px;
  }
  .popup.add_product fieldset {
    padding-bottom: 18px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .popup.add_product .search:before {
    background-image: url("../../../_ui/images/retina/seller.png");
  }
}

.add_description#popup_container .popup.add_description {
  display: block;
}

.add_description.popup .btn-reset {
  float: left;
}

.add_description.popup .product {
  position: relative;
  padding: 5px 0 5px 64px;
  margin: 0 40px;
  font-size: 12px;
  line-height: 20px;
  color: #3b4351;
  margin-bottom: 20px;
}

.add_description.popup .product img {
  position: absolute;
  top: 0;
  left: 0;
  background: no-repeat 50% 50%;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.add_description.popup .product .title {
  display: block;
  font-size: 13px;
}

.add_description.popup .description {
  margin: 0 23px;
  padding-bottom: 23px;
}

.add_description.popup .description textarea {
  height: 250px;
  width: 100%;
  display: block;
}

.add_description.popup .defaultSkin table.mceLayout, .add_description.popup .defaultSkin iframe {
  height: 200px !important;
}

.popup.add_product, .popup.add_description {
  width: 456px;
  background: #ffffff;
  border-radius: 3px;
}

.popup.add_product h3, .popup.add_description h3 {
  padding: 35px 40px;
  font-size: 22px;
  color: #1b2128;
  line-height: 26px;
}

.popup.add_product .ly-close, .popup.add_description .ly-close {
  right: 30px;
  top: 20px;
}

.popup.add_product .ly-close .ic-del-black, .popup.add_description .ly-close .ic-del-black {
  width: 15px;
  height: 15px;
  background: url("../../../_ui/images/svg/close.svg") no-repeat;
  background-size: contain;
}

.popup.add_product .btn-area, .popup.add_description .btn-area {
  border-top-color: #f4f4f4;
  padding: 20px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=description.css.map */