
.header-links {
	td:last-child {text-align:center;}
	td:first-child {text-align:center;color:#9099a6;}
	.btn-move, .btn-del {
		padding: 0 5px;
		&:before {opacity:0.4;}
	}
	.btn-move:before {width:5px;height:11px;background:url('../../../_ui/images/normal/product_new.png') no-repeat -60px -15px;background-size:200px 200px;}
}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.header-links .btn-move:before {background-image:url('../../../_ui/images/retina/product_new.png');}
}
.create_headerlinks {
	&#popup_container .popup.create_headerlinks {display:block;}
	&.popup {
		width:456px;background: #fff;border-radius: 3px;
		select {width:100%;background-color:#fff;}
		input {width:100%;}
		.data-frm {padding:0 40px 40px;}
		.ltit {padding: 35px 40px;background:none;border:0;font-size: 22px;color: #1b2128;line-height: 26px;}
		.ly-close {
			right:30px;top: 26px;
			.ic-del-black {width:13px;height:13px;background-position:-239px -67px}
		}
	}
}