.popup.manage_admin .btn-del:before, .roles .date .icon, .roles span.role .read-only, .popup.manage_admin .roles .add .role:after, .popup.manage_admin .roles .remove {
  background: url("../../../_ui/images/normal/product_new.png") no-repeat;
  background-size: 200px 200px;
}

.roles#content {
  padding: 0;
}

.roles .search-frm:after {
  content: '';
  clear: both;
  display: block;
}

.roles .search-frm input.text {
  border: 1px solid #d9dbdd;
  height: auto;
  padding: 4px 7px 4px 27px;
  background: #f8f8f8;
  width: 100%;
}

.roles .search {
  position: relative;
  float: right;
  width: 425px;
}

.roles .search:before {
  content: '';
  background: url("../../../_ui/images/normal/seller.png") no-repeat -225px -15px;
  background-size: 250px 250px;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
}

.roles .sort {
  position: relative;
  float: left;
}

.roles .sort:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  border: 3px solid transparent;
  border-top-color: #9099a6;
  margin-top: 1px;
}

.roles .sort:after {
  content: '';
  position: absolute;
  bottom: 50%;
  right: 8px;
  border: 3px solid transparent;
  border-bottom-color: #9099a6;
  margin-bottom: 1px;
}

.roles .sort select {
  position: relative;
  z-index: 1;
  border-color: #d9dbdd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: none;
  width: 100%;
}

.roles .sort select:focus {
  background: none !important;
}

.roles .table td:first-child, .roles .table td:last-child {
  text-align: center;
}

.roles .tooltip em {
  font-size: 11px;
  line-height: 17px;
  padding: 8px 9px;
  left: 50%;
  bottom: 100%;
  z-index: 1;
}

.roles .date .icon {
  display: block;
  width: 12px;
  height: 12px;
  background-position: -140px -60px;
}

.roles .date em b {
  display: block;
}

.roles .btn-manage {
  display: inline-block;
  line-height: 27px;
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px;
  color: rgba(79, 87, 100, 0.8);
  border: 1px solid #d2d3d6;
  border-radius: 3px;
  border-bottom-color: #c3c5c9;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
  white-space: nowrap;
  background: #fff;
}

.roles span.role {
  display: none;
  border-radius: 2px;
  margin: 2px;
  padding: 0 8px;
  line-height: 22px;
  background: #e6e7e8;
  color: rgba(47, 51, 59, 0.6);
  font-size: 11px;
  vertical-align: middle;
  white-space: nowrap;
}

.roles span.role em {
  margin-bottom: 8px;
}

.roles span.role .read-only {
  display: inline-block;
  width: 12px;
  height: 8px;
  vertical-align: middle;
  margin: -3px 0 0 4px;
  background-position: -65px -145px;
}

.roles span.role.on {
  display: inline-block;
}

.roles span.role.super {
  background: #ff6c00;
  color: #fff;
}

.roles span.role.orders {
  background: #be3333;
  color: #fff;
}

.roles span.role.sellers {
  background: #2785fa;
  color: #fff;
}

.roles span.role.users {
  background: #60a84e;
  color: #fff;
}

.roles span.role.featured {
  background: #9099a6;
  color: #fff;
}

.roles span.role.super .read-only, .roles span.role.orders .read-only, .roles span.role.sellers .read-only, .roles span.role.users .read-only, .roles span.role.featured .read-only {
  background-position: -50px -145px;
}

.manage_admin#popup_container .popup.manage_admin {
  display: block;
}

.manage_admin.popup {
  width: 360px;
  background: #fff;
  border-radius: 3px;
}

.manage_admin.popup .data-frm {
  padding: 15px;
}

.manage_admin.popup input.text {
  height: auto;
  width: 100%;
}

.manage_admin.popup .roles {
  display: block;
  border: 1px solid #f8f8f8;
  border-radius: 3px;
  padding: 0 4px 5px 5px;
}

.manage_admin.popup .roles .role {
  margin: 5px 1px 0 0;
}

.manage_admin.popup .roles .set-read {
  display: inline-block;
  vertical-align: middle;
}

.manage_admin.popup .roles .set-read .read-only {
  opacity: 0.3;
}

.manage_admin.popup .roles .set-read.on .read-only {
  opacity: 1;
}

.manage_admin.popup .roles .remove {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  background-position: -100px -145px;
  margin: -3px 0 0 1px;
}

.manage_admin.popup .roles span.role.super .remove, .manage_admin.popup .roles span.role.orders .remove, .manage_admin.popup .roles span.role.sellers .remove, .manage_admin.popup .roles span.role.users .remove, .manage_admin.popup .roles span.role.featured .remove {
  background-position: -110px -145px;
}

.manage_admin.popup .roles .add .role:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  background-position: -80px -145px;
  margin: -3px 0 0 5px;
}

.manage_admin.popup .roles .add span.role.super:after, .manage_admin.popup .roles .add span.role.orders:after, .manage_admin.popup .roles .add span.role.sellers:after, .manage_admin.popup .roles .add span.role.users:after, .manage_admin.popup .roles .add span.role.featured:after {
  background-position: -90px -145px;
}

.manage_admin.popup .roles .none {
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
  margin-top: 5px;
  padding: 0 4px;
  opacity: 0.6;
}

.manage_admin.popup .roles.super .role {
  background: rgba(230, 231, 232, 0.5);
  color: rgba(47, 51, 59, 0.4);
}

.manage_admin.popup .roles.super .add span.role:after {
  background-position: -80px -145px;
  opacity: 0.5;
}

.manage_admin.popup .btn-del {
  float: left;
}

.manage_admin.popup .btn-del:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 11px;
  background-position: -90px 0;
  margin: -3px 5px 0 0;
}

.manage_admin.popup .popup-close:before {
  width: 11px;
  height: 11px;
  margin: -6px 0 0 -6px;
}

@media screen and (max-width: 730px) {
  .roles .sort {
    float: none;
    width: auto;
  }
  .roles .search {
    float: none;
    width: auto;
    margin-top: 10px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .roles .search:before {
    background-image: url("../../../_ui/images/retina/seller.png");
  }
  .popup.manage_admin .btn-del:before, .roles .date .icon, .roles span.role .read-only, .popup.manage_admin .roles .add .role:after, .popup.manage_admin .roles .remove {
    background-image: url("../../../_ui/images/retina/product_new.png");
  }
}
/*# sourceMappingURL=roles.css.map */