<a href="#" class="tit"><img src="/_ui/images/common/blank.gif" style="background-image: url(<%= sale_item.img_url %>);" /><%= sale_item.title %></a>
<b class="sold"><%= numeral(quantity_ordered).format("0,0") %> sold</b> · <span class="price"><%= numeral(sale_item.price).format("$0,0.00") %></span>