<th><a href="<%= url %>"><img src="/_ui/images/common/blank.gif" <%if(imageurl){%>style='background-image:url(<%=imageurl%>)'<%}%>><%= name %></a></th>
<td class="total"><%= numeral(count).format("0,0") %></td>