<div id="about" class="page">
	<h3 class="title">ABOUT</h3>
	<div class="introduce">
        {{settings.about|linebreaks}}
	</div>
</div>
<script>
$('#wrap').attr('class', 'merchant-about');
</script>
