<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{settings.page_title}}{% if thing.name %} - {{thing.name}}{% endif %}</title>
	<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">

	<link rel="shortcut icon"href="{{ 'img/favicon.ico' | asset_url }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">

	{% if thing %}
	<meta property="og:site_name" content="{{settings.page_title}}">
	<meta property="og:title" content="{{settings.page_title}} - {{thing.name}}">
	<meta property="og:description" content="{{thing.sale.description}}">
	<meta property="og:image" content="{{thing.image.url}}">
	{% endif %}

	{{ 'theme.css' | asset_css }}
	{{ header_content }}
	{{ 'js/jquery.js' | common_asset_script }}
	{{ 'js/jquery-ui.js' | common_asset_script }}
	{{ 'js/underscore.js' | common_asset_script }}
	{{ 'js/popup.js' | common_asset_script }}
	{{ 'main.js' | asset_script }}
	<style>
		#header svg path {fill:{{settings.tint_color}} }
		#header .navigation a {color:{{settings.tint_color}} }
		#footer {background:{{settings.tint_color}};}
		#header .btn-cart .count {background:{{settings.tint_color}};border-color:{{settings.tint_color}};}
	</style>
</head>
<body{%if is_preview %} class="native-theme"{%endif%}>
<!-- store -->

<!-- header -->
<header id="header">
	<div class="header-wrap">
		<div class="inner">
			<div class="navigation"><ul>
				<li><a class="home" href="{{path_prefix}}/"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22"><path id="Home" class="cls-1" d="M20,19.5A1.5,1.5,0,0,1,18.5,21h-5A1.5,1.5,0,0,1,12,19.5v-6A1.5,1.5,0,0,0,10.5,12h-1A1.5,1.5,0,0,0,8,13.5v6A1.5,1.5,0,0,1,6.5,21h-5A1.5,1.5,0,0,1,0,19.5l0-9.48A1.539,1.539,0,0,1,.453,8.934L8.947,0.481a1.529,1.529,0,0,1,2.167,0L19.56,8.934a1.538,1.538,0,0,1,.449,1.087Z"/></svg>Home</a></li>
				<li><a class="shop" href="{{path_prefix}}/shop"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20"><path id="Shop" class="cls-1" d="M19.063,8.009A2.937,2.937,0,0,1,16.37,6.255a2.944,2.944,0,0,1-5.382.009,2.939,2.939,0,0,1-5.376-.01A2.953,2.953,0,0,1,2.907,8.009a2.92,2.92,0,0,1-2.931-2.9A0.24,0.24,0,0,1,0,4.994L2.7,0.141A0.239,0.239,0,0,1,2.907.016H19.063a0.24,0.24,0,0,1,.21.125l2.693,4.852a0.241,0.241,0,0,1,.028.113A2.921,2.921,0,0,1,19.063,8.009ZM5.015,10.038L5.007,18.06l1.838-2.081h7.968L17,18.087l0-8.05a6.225,6.225,0,0,0,2,.472v8.525a0.965,0.965,0,0,1-.964.966H3.969A0.973,0.973,0,0,1,3,19.034l0-8.526A6.321,6.321,0,0,0,5.015,10.038Z"/></svg>Shop</a></li>
				<li><a class="featured" href="{{path_prefix}}/featured/"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path id="Featured" class="cls-1" d="M19.564,8.5l-4.016,3.284a0.81,0.81,0,0,0-.274.819l1.215,4.966a1.189,1.189,0,0,1-1.121,1.474,1.138,1.138,0,0,1-.622-0.192l-4.392-2.7a0.806,0.806,0,0,0-.851,0l-4.339,2.7a1.11,1.11,0,0,1-.626.192A1.16,1.16,0,0,1,3.422,17.57L4.637,12.6a0.809,0.809,0,0,0-.27-0.815L0.4,8.505a1.193,1.193,0,0,1,.7-2.092l5.132-.373a0.8,0.8,0,0,0,.687-0.5L8.882,0.767a1.193,1.193,0,0,1,2.208,0l1.959,4.77a0.813,0.813,0,0,0,.687.5l5.132,0.373A1.19,1.19,0,0,1,19.564,8.5Z"/></svg>Featured</a></li>
			</ul></div>

			<h1 class="logo"><a href="{{path_prefix}}/">{%if settings.logo_image %}<img src="{{settings.logo_image|asset_url}}" alt="{{settings.page_title}}">{%else%}{{settings.page_title}}{%endif%}</a></h1>

			<div class="menu">
				<a href="{{path_prefix}}/cart" class="btn-cart"><small class="count"><span class="cart-left"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 25"><path id="_" data-name="#" class="cls-1" d="M18.651,23.5A1.241,1.241,0,0,1,17.5,25H2.849a1.5,1.5,0,0,1-1.5-1.5L0,8.5A1.5,1.5,0,0,1,1.5,7H5V4.125A4.109,4.109,0,0,1,9,0h2a4.109,4.109,0,0,1,4,4.125V7h3.5A1.5,1.5,0,0,1,20,8.5ZM13,4.125A2.111,2.111,0,0,0,11,2H9A2.111,2.111,0,0,0,7,4.125V7h6V4.125Z"/></svg></span><span class="cart-right"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 25"><path id="_" data-name="#" class="cls-1" d="M18.651,23.5A1.241,1.241,0,0,1,17.5,25H2.849a1.5,1.5,0,0,1-1.5-1.5L0,8.5A1.5,1.5,0,0,1,1.5,7H5V4.125A4.109,4.109,0,0,1,9,0h2a4.109,4.109,0,0,1,4,4.125V7h3.5A1.5,1.5,0,0,1,20,8.5ZM13,4.125A2.111,2.111,0,0,0,11,2H9A2.111,2.111,0,0,0,7,4.125V7h6V4.125Z"/></svg></span><b>0</b></small></a>
				<div class="search"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path id="Search" class="cls-1" d="M18.023,16.235l-1.788,1.788L11.91,13.507A7.452,7.452,0,0,1,7.5,14.968a7.5,7.5,0,1,1,7.529-7.529,7.448,7.448,0,0,1-1.517,4.477ZM7.5,1.986a5.468,5.468,0,1,0,5.449,5.449A5.455,5.455,0,0,0,7.5,1.986Z"/></svg><input type="text" placeholder="" name="q" /></div>
				<a href="#!" onclick="if($('body').hasClass('hover')){var sc = -$('#wrap').position().top;$('body').removeClass('hover').find('#wrap').css('top','0');$(window).scrollTop(sc);}else{$('#wrap').css('top',-$(window).scrollTop()+'px').closest('body').addClass('hover');$(window).scrollTop(0);};return false;" class="m_menu"></a>
				{% if viewer.is_anonymous %}
					<a href="https://{{secure_url}}/{{seller.username}}/login{% if LANG %}?lang={{LANG}}{% endif %}" id="login" class="account"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22"><path id="Account" class="cls-1" d="M10.179,1.011H9.8A3.673,3.673,0,0,0,5.988,4.53q0,0.023,0,.046L6,6.119A4.35,4.35,0,0,0,9.8,9.957h0.379a4.421,4.421,0,0,0,3.815-3.881L14,4.62a3.719,3.719,0,0,0-3.821-3.609h0Zm0.5,11.962h-1.4C6.81,12.973,1,14.949,1,18.727v0.4a1.654,1.654,0,0,0,1.8,1.863H17.2A1.608,1.608,0,0,0,19,19.289V18.721c0-3.772-5.849-5.748-8.313-5.748H10.677Z"/></svg></a>
				{% else %}
					<a onclick="location.href='{{path_prefix}}/wishlist';" href="{{path_prefix}}/wishlist" class="wishlist"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22"><path id="Wishlist" class="cls-1" d="M5.909,3C3.347,3,1.3,5.168,1.035,8.152a5.473,5.473,0,0,0,.15,1.958,8.453,8.453,0,0,0,2.5,4.29l5.8,5.4a0.747,0.747,0,0,0,1.02,0l5.833-5.4a8.416,8.416,0,0,0,2.475-4.29,5.485,5.485,0,0,0,.156-1.955C18.7,5.17,16.674,3,14.114,3A4.755,4.755,0,0,0,10,5.47,4.709,4.709,0,0,0,5.91,3h0Z"/></svg></a>
					<a href="https://{{secure_url}}/{{seller.username}}/orders{% if LANG %}?lang={{LANG}}{% endif %}" class="account"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22"><path id="Account" class="cls-1" d="M10.179,1.011H9.8A3.673,3.673,0,0,0,5.988,4.53q0,0.023,0,.046L6,6.119A4.35,4.35,0,0,0,9.8,9.957h0.379a4.421,4.421,0,0,0,3.815-3.881L14,4.62a3.719,3.719,0,0,0-3.821-3.609h0Zm0.5,11.962h-1.4C6.81,12.973,1,14.949,1,18.727v0.4a1.654,1.654,0,0,0,1.8,1.863H17.2A1.608,1.608,0,0,0,19,19.289V18.721c0-3.772-5.849-5.748-8.313-5.748H10.677Z"/></svg></a>
				{% endif %}
			</div>
		</div>
	</div>
</header>
<!-- / header -->

<div id="wrap">
	<div id="container">
		<div id="content">
{{ main_content }}
		</div>
	</div>

	<!-- footer -->
	<div id="footer">
		<div id="wrap-fix">
			<div class="footer-menu">
				<dl>
					<dt><a href="{{path_prefix}}/shipping-information">Customer Service</a></dt>
					<dd><ul>
						<li><a href="{{path_prefix}}/shipping-information">Shipping Information</a></li>
						<li><a href="{{path_prefix}}/returns-exchanges">Returns & Exchanges</a></li>
					</ul></dd>
				</dl>
				<dl>
					<dt><a href="{{path_prefix}}/about">About</a></dt>
					<dd><ul>
						<li><a href="{{path_prefix}}/about">About Us</a></li>
						<li><a href="{{path_prefix}}/contact">Contact Us</a></li>
					</ul></dd>
				</dl>
				{%if settings.facebook_username or settings.twitter_username or settings.instagram_username or settings.pinterest_username%}
				<dl>
					<dt>Get Social</dt>
					<ul class="sns">
						{%if settings.facebook_username%}<li><a href="https://www.facebook.com/{{settings.facebook_username}}/" class="fb" target="_blank">Facebook</a></li>{%endif%}
						{%if settings.twitter_username%}<li><a href="https://twitter.com/{{settings.twitter_username}}" class="tw" target="_blank">Twitter</a></li>{%endif%}
						{%if settings.instagram_username%}<li><a href="https://instagram.com/{{settings.instagram_username}}" class="in" target="_blank">Instagram</a></li>{%endif%}
						{%if settings.pinterest_username%}<li><a href="https://www.pinterest.com/{{settings.pinterest_username}}/" class="pin" target="_blank">Pinterest</a></li>{%endif%}
					</ul>
				</dl>
				{%endif%}
				{%if settings.newsletter and settings.newsletter.display_in_footer%}
				{{ 'js/subscribe_email.js' | common_asset_script }}
				<div data-component="subscribe-email" class="newsletter">
					<h2>{{settings.newsletter.title}}</h2>
					<form>
						<input type="hidden" name="code" value="{{settings.newsletter.code}}"/>
						<input type="hidden" name="seller_username" value="{{seller.username}}"/>          
						<p class="email"><label class="label">Email</label> <input type="text" class="text" name="email" placeholder="Enter your email address" /></p>
						<button class="btn-send">Sign Up</button>
					</form>
				</div>
				{%endif%}
			</div>
		</div>

		<div class="bottom">
			<div id="wrap-fix">  
				<ul class="about-menu">
					<li><a href="https://fancy.com/about/terms-copyright" target="blank">Copyright Policy</a></li>
					<li><a href="{{path_prefix}}/terms">Terms of Service</a></li>
					<li><a href="https://fancy.com/about/terms-privacy" target="blank">Privacy Policy</a></li>
				</ul>
				<p class="copyright">Copyright © {% now "Y" %} {{settings.page_title}}</p>
			</div>
		</div>  
	</div>

</div>
<div id="popup_container">
	<div class="popup information shipping">
		<div class="text">
			<h3 class="title">Shipping Information</h3>
			<p>{{seller.shipping_policy|linebreaks}}</p>
		</div>
		<a href="#" class="ly-close">Close</a>
	</div>
	<div class="popup information returns">
		<div class="text">
			<h3 class="title">Returns & Exchanges</h3>
			<p>{{seller.custom_policy|linebreaks}}</p>
		</div>
		<a href="#" class="ly-close">Close</a>
	</div>
</div>
<script>
	$('.popup_close, .ly-close').click(function(){
		$('#popup_container').removeAttr('class').hide().removeAttr('style');
		return false;
	});
	$('a[href="../pages/return-policy"]').attr('href','#').attr('onclick',"$('#popup_container').addClass('returns').show();setTimeout(function(){if($('#popup_container').height()>$('.popup.returns').height()){$('.popup.returns').css('margin-top',($('#popup_container').height()-$('.popup.returns').height())/2+'px');}},10);return false;");
</script>
</body>
</html>