<div class="shoptitle general">
        <h3>Returns & Exchanges</h3>
          <div class="intro">
	</div>
</div>  

<div class="about">
	<div class="menu">
		<dl>
			<dd><ul>
				<li><a href="{{path_prefix}}/shipping-information/">Shipping Information</a></li>
				<li><a href="{{path_prefix}}/returns-exchanges/">Returns & Exchanges</a></li>
			</ul></dd>
		</dl>
	</div>
	<p>{{seller.custom_policy|linebreaks}}</p>  
</div>