<td><b><%- name %></b></td>
<td>
    <% if (quantity) { %>
        <%- quantity %>
    <% } else { %>
        <a href="#" class="tooltip add_qty"><%- gettext('Add') %>
            <em style="left: 50%; margin-left: -36.5px;"><%- gettext('Add quantity') %></em>
        </a>
    <% } %>
</td>
<td><% if (price) { %>$<%- price %><% } %></td>
<td><%- num_sold %></td>
