

/* arabic */
.lang-ar, .lang-ar #header.v2 #navigation * {direction: rtl;text-align:right;}
.lang-ar * {direction: rtl;}
.lang-ar .left {float:right;}
.lang-ar .right {float:left;}
.lang-ar #header.v2 #navigation .gnb {float:right;}
.lang-ar #header.v2 #navigation .gnb a.mn-you {padding-right:10px;padding-left:0;}
.lang-ar .set_area #content {float:left;}
.lang-ar .set_area #sidebar {float:right;}
.lang-ar .set_area.v2.btns-fix .btn-area {margin-left:-485px;}
.lang-ar .set_area.v2.btns-fix #content:after {margin-left:-485px;}
.lang-ar .set_area.v2 .btn-area {text-align:right;}
.lang-ar .set_area.v2 .btn-area .btn-save {float:left;margin-left:0;}
.lang-ar .set_area.v2 .btn-area .btn-deactivate {float:right;}
.lang-ar .set_area.v2 .set_menu dd [class^="ic-"] {float:right;margin:5px 0 0 5px}
.lang-ar .set_area.v2 .section .stit {float:right;padding: 0 16px 0 0;}
.lang-ar .set_area.v2 .section .frm {float:left;}
.lang-ar .set_area.v2 .section .frm label {width:auto;}
.lang-ar .set_area.v2 .section .frm .description {padding:0 0 10px 25px;}
.lang-ar .set_area.v2 .section .frm .label:last-child {padding-right:0;}
.lang-ar .set_area.v2 .section .frm .photo-preview {float:right;margin: 0 0 1px 12px;}
.lang-ar .set_area.v2 .section .frm .photo-func {float:right;}
.lang-ar .defaultSkin table {float:right;direction:rtl;}
.lang-ar .set_area.v2 .section .menu {right:auto;left:0;border-radius: 0;}
.lang-ar .set_area.v2 .section .menu li:first-child a {border-left:0;border-radius:3px 0 0 3px;}
.lang-ar .set_area.v2 .section .menu li:last-child a {border-right: 1px solid #DCDDE0;border-radius:0;}
.lang-ar .set_area.v2 .purchases .search .most {right:auto;left:9px;}
.lang-ar .set_area.v2 .purchases .search .text {padding:4px 23px 4px 7px;}
.lang-ar .set_area.v2 .purchases .search:before {left:auto;right:15px;}
.lang-ar .set_area.v2 .purchases .order-info {float:right;}
.lang-ar .set_area.v2 .purchases .order-detail {float:left;border-left:0;border-right: 1px dotted #d2d2d2;}
.lang-ar .set_area.v2 .purchases .order-detail .item li {padding:15px 92px 15px 0}
.lang-ar .set_area.v2 .purchases .order-detail .item li * {text-align:right !important;}
.lang-ar .popup.upload-cover .guide-line dl:after {left:auto;right:70px;}
.lang-ar .set_area.v2 .purchases .order-detail .item .tit img {left:auto;right:0;margin:0;}
.lang-ar .set_area.v2 .purchases .order-detail .after .price {float:left;}
.lang-ar .set_area.v2 .purchases .order-detail .after .status {float:right;}
.lang-ar .set_area.v2 .purchases.gifts .order-item dt a.id {right:auto;left:19px;}
.lang-ar.shop-v3 .container .refine .product.after #sidebar {left:auto;right:50%;margin-left:0 !important;margin-right:252px !important}
.lang-ar #header.v2 #navigation .gnb a.mn-you:before {margin:-3px 0 0 6px}
.lang-ar #header.v2 #navigation .gnb a.mn-you:after {margin:-2px 7px 0 0}
.lang-ar.shop-v3 .sort .category {float:right;}
.lang-ar.shop-v3 .sort .category-title {border-radius:0 4px 4px 0;}
.lang-ar.shop-v3 .sort .sub-category {right:auto;left:260px;}
.lang-ar.shop-v3 .sort [class^="category-menu show"] .sub-category {left:0;right:auto;}
.lang-ar.shop-v3 .sort [class^="category-menu show"] {padding-right:0;padding-left:301px;box-shadow: 0 2px 4px rgba(0,0,0,0.25), 1px 0 0 rgba(0,0,0,0.1), 1px 1px 0 rgba(0,0,0,0.1), inset 0 1px 0 #D4D6D7;}
.lang-ar.shop-v3 .sort .category-menu {left:auto;right:0;}
.lang-ar.home.v3 .top-menu .menu, .lang-ar.home.v3 .top-menu .menu li{float:right;}
.lang-ar.home.v3 .top-menu .menu li:first-child a {border-right:0;border-radius:0 3px 3px 0;}
.lang-ar.home.v3 .top-menu .menu li:last-child a {border-left:1px solid #d5d6d9}
.lang-ar .top-menu .viewer {right:auto;left: 6px;}
.lang-ar .top-menu .viewer li {float:right;}
.lang-ar.home.v3 .figure-item .buttons {text-align:right;}
.lang-ar.home.v3 .figure-item .buttons .menu-container, .lang-ar.home.v3 .figure-item figcaption .title:after, .lang-ar.home.v3 .figure-item .figure-detail:after {right:auto;left:0;background: -webkit-linear-gradient(270deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);      background: linear-gradient(270deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);}
.lang-ar #more-menu button {text-align:right;padding: 12px 13px 12px 35px;}
.lang-ar #more-menu button:before {right:auto;left:13px;}
.lang-ar #more-share-email {padding:5px 28px 5px 7px}
.lang-ar #more-share-send .textbox:before {left:auto;right:23px;}
.lang-ar #more-share-send .empty.success .continue, .lang-ar #more-share-send .success, .lang-ar #more-share-send .empty .default, .lang-ar #more-share-send .empty .no-result, .lang-ar #more-share-send .empty b {text-align:center;}
.lang-ar .figure-item .show_cart .sale-item-input .frm:before, .lang-ar .figure-item .show_cart .sale-item-input .frm:after {right:161px;background: -webkit-linear-gradient(right, rgba(248,248,248,0), rgba(248,248,248,1));background: linear-gradient(270deg, rgba(248,248,248,0), rgba(248,248,248,1));}
.lang-ar .figure-item .show_cart .sale-item-input .frm:after {right:240px;}
.lang-ar .figure-item .show_cart .sale-item-input select {background-position: 4px 50%;}
.lang-ar .figure-item .show_cart .sale-item-input .btns-green-embo {text-align:center;}
.lang-ar #show-addlist .lists input[type="checkbox"] {margin:-3px 0 0 8px}
.lang-ar #show-addlist .new-list .btn-create {right:auto;left:0;}
.lang-ar #more-share-send .lists a {padding:10px 54px 10px 30px}
.lang-ar #more-share-send .lists img {left:auto;right:12px;}
.lang-ar #more-share-send .lists li a::before {right:auto;left:14px;}
.lang-ar #more-share-send .lists li a::after {left:auto;right:12px;}
.lang-ar #more-share-send .lists li:before {right: 58px;left: 0;}
.lang-ar #more-share-send textarea {padding:12px 15px 13px 62px;}
.lang-ar #more-share-send .btn-send {right:auto;left:0;}
.lang-ar.home.v3 .summary.user .info .followers, .lang-ar.home.v3 .summary .info .description, .lang-ar.home.v3 .summary .info a.follow-user-link, .lang-ar.home.v3 .summary .info .username, .lang-ar.home.v3 .summary .info .location {text-align:center;}
.lang-ar.home.v3 .summary .info .description:after {right:auto;left:20px;background: -webkit-linear-gradient(270deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);      background: linear-gradient(270deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);}
.lang-ar.home.v3 .figure-item a.btn-fancy i, .lang-ar.home.v3 .figure-item a.btn-fancyd i, .lang-ar.home.v3 .figure-item a.button.fancy span, .lang-ar.home.v3 .figure-item a.button.fancyd span {left:auto;right:9px;}
.lang-ar.home.v3 .figure-item a.button.fancy, .lang-ar.home.v3 .figure-item a.button.fancyd, .lang-ar.home.v3 .figure-item a.btn-fancy, .lang-ar.home.v3 .figure-item a.btn-fancyd {padding:0 24px 0 9px;}
.lang-ar.home.v3 .figure-item a.button.fancy i, .lang-ar.home.v3 .figure-item a.btn-fancy i {margin:-3px 0 0 7px;}
.lang-ar #header.v2 #navigation .gnb .menu-contain-menu {left:auto;right:-15px;}
.lang-ar #header.v2 #navigation .gnb a.mn-menu {padding:0 0 1px 10px;}
.lang-ar #header.v2 #navigation [class^="menu-contain"] dl {float:right;}
.lang-ar #header.v2 #navigation [class^="menu-contain"] .picture {float:left;}
.lang-ar #header.v2 #navigation [class^="menu-contain"] dd ul:before {left: 100%;}
.lang-ar.profile-v3 .lists-listing .vcard figcaption:after, .lang-ar.profile-v3 .figure-item figcaption .title:after, .lang-ar.profile-v3 .figure-item figcaption .figure-detail:after, .lang-ar #header.v2 #navigation .feed-activity .messages .message:after, .lang-ar #header.v2 #navigation [class^="menu-contain"] dd a:active:after, .lang-ar #header.v2 #navigation [class^="menu-contain"] dd a:hover:after, .lang-ar #header.v2 #navigation [class^="menu-contain"] a:after {right:auto;left:0;background: -webkit-linear-gradient(270deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);      background: linear-gradient(270deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);}
.lang-ar #header.v2 #navigation [class^="menu-contain"] a:hover:after {background: -webkit-linear-gradient(0deg, rgba(247,247,247,0), rgba(247,247,247,0) 60%, #f7f7f7 90%);background: linear-gradient(270deg, rgba(247,247,247,0), rgba(247,247,247,0) 60%, #f7f7f7 90%);}
.lang-ar #header.v2 #navigation [class^="menu-contain"] p a {padding:13px 56px 13px 13px}
.lang-ar #header.v2 #navigation [class^="menu-contain"] p img {left:auto;right:14px;}
.lang-ar #header.v2 #navigation .feed-activity li, .lang-ar #header.v2 #navigation .feed-activity .notifications li {padding:14px 64px 14px 12px;}
.lang-ar #navigation .feed-activity .avatar, .lang-ar #navigation .gnb .feed-activity .notifications .photo {left:auto;right:12px;}
.lang-ar #header.v2 #navigation .feed-activity li.date-divider {padding:0 10px;}
.lang-ar #navigation .feed-activity h4 a:first-child {border-radius:0 3px 3px 0;}
.lang-ar #navigation .feed-activity h4 a:last-child {border-radius:3px 0 0 3px;}
.lang-ar #header.v2 #navigation .feed-activity h4 a {box-shadow:inset 1px 0 0 rgba(0,0,0,0.1)}
.lang-ar #header.v2 #navigation .feed-activity .messages li {padding:0 12px 0 0;}
.lang-ar #header.v2 #navigation .feed-activity .messages a {padding: 14px 52px 14px 12px;}
.lang-ar #navigation .feed-activity .messages img {left:auto;right:0;}
.lang-ar #navigation .feed-activity .messages .status {right:auto;left:12px;}
.lang-ar #navigation .feed-activity .messages .username {margin:0 0 0 100px}
.lang-ar #header.v2 #navigation .feed-activity a.more, .lang-ar #header.v2 #navigation .feed-activity .messages a.more {padding:0;}
.lang-ar #header.v2 #navigation .gnb .menu-contain-you {left:-15px;right:auto;}
.lang-ar #header.v2 #navigation .gnb .menu-contain-you.show .menu-container-you .you-main {margin:0 -202px 0 0;}
.lang-ar #header.v2 #navigation .gnb .menu-contain-you .back:before {    margin: -3px 3px 0 15px;}
.lang-ar #header.v2 #navigation .gnb .menu-contain-you .add-file:before, .lang-ar #header.v2 #navigation .gnb .menu-contain-you .add-email:before, .lang-ar #header.v2 #navigation .gnb .menu-contain-you .add-web:before {margin: -3px 0 0 9px;}
.lang-ar #header.v2 #navigation .gnb a.mn-menu:before {left:auto;right:0;}
.lang-ar.profile-v3 .sort .menu {right:auto;left:0;}
.lang-ar.profile-v3 .sort .menu li {float:right;}
.lang-ar.profile-v3 .sort .menu li:first-child a {border-radius: 0;border-right:1px solid #d5d6d9;}
.lang-ar.profile-v3 .sort .menu li:last-child a {border-left-width:0;border-radius: 3px 0 0 3px;}
.lang-ar.profile-v3 .sort .tab {float:right;border:0;}
.lang-ar.profile-v3 .sort .menu.tab li:first-child a {border-right:0;border-left:1px solid #d5d6d9;border-radius:0 3px 3px 0;}
.lang-ar.profile-v3 .sort .menu.tab li:last-child a {border-left-width:1px;border-radius: 0;}
.lang-ar.profile-v3 .sort .tab small.arrow, .lang-ar.profile-v3 .sort .tab .more b:after {margin:3px 7px 0 0;}
.lang-ar.profile-v3 #summary .sns, .lang-ar.profile-v3 #summary .sns li {float:right;}
.lang-ar.profile-v3 #summary .interaction {float:left;}
.lang-ar.profile-v3 .menu-content {right:auto;left:-6px;}
.lang-ar.profile-v3 .menu-content:after {right:auto;left:17px;}
.lang-ar.profile-v3 .menu-content:before {right:auto;left:16px;}
.lang-ar.profile-v3 #summary .interaction .edit-profile, .lang-ar.profile-v3 .interaction .btn-follow, .lang-ar.profile-v3 .menu-container {float:right;margin:0 8px 0 0;}
.lang-ar.profile-v3 #header_summary .interaction {float:left;}
.lang-ar.profile-v3 #header_summary h3 {float:right;padding: 20px 58px 20px 18px;}
.lang-ar.profile-v3 #header_summary .interaction .btns-gray-embo {float:right;}
.lang-ar.profile-v3 #header_summary .sign {left:auto;right:14px;}
.lang-ar.profile-v3 .sort .tab .more-menu {left:auto;right:0px;}
.lang-ar.profile-v3 .sort .tab .more-menu a {padding:4px 14px 4px 40px;}
.lang-ar.profile-v3 .sort .tab .more-menu small {right:auto;left:14px;}
.lang-ar.profile-v3 .lists .lists-listing .move, .lang-ar.profile-v3 .activity-list .time, .lang-ar .set_area.v2 .purchases .search .most:before {right:auto;left:10px;}
.lang-ar.profile-v3 .lists-listing .vcard small.account {left:auto;right:12px;}
.lang-ar.profile-v3 .activity-list a.user .status {text-align:right;}
.lang-ar.profile-v3 .deals-list .deal_info em {left:auto;right:-30px;}
.lang-ar.profile-v3 .deals-list .deal_info em:after {left:auto;right:39px;}
.lang-ar .popup.upload-cover .method {float:right;}
.lang-ar .popup.upload-cover .file_input_div {float:right;text-align:right;}
.lang-ar .popup.upload-cover .guide-line dl {padding:12px 13px 0 26px;left: auto;right: -2px;}
.lang-ar .popup.upload-cover .method dt {margin:0 0 0 27px;}
.lang-ar .popup.upload-cover .file_input_button {margin:0 0 0 7px;border: 0;border-left: 1px solid #d4d6d8;}
.lang-ar .popup .btn-area {text-align:left;}
.lang-ar .popup .btn-area button {margin:0 6px 0 0;}
.lang-ar.profile-v3 .menu-content {text-align:right;}
.lang-ar.profile-v3 #coverImage .menu-content a.list-icon:before {margin:-1px 0 0 8px;}
.lang-ar.shop-v3 .sort .category-title {padding: 13px 14px 13px 27px;border-radius:0 3px 3px 0;}
.lang-ar.shop-v3 .sort .category-title:hover, .lang-ar.shop-v3 .sort .category.opened .category-title {border-radius:0 3px 3px 0;box-shadow: inset 0 1px #fcfcfc, 0 1px 0 #D4D6D7, -1px 0 0 #E1E2E4;}
.lang-ar.shop-v3 .sort .menu-content .sales a.hover:after, .lang-ar.shop-v3 .sort .menu-content .type a.hover:after, .lang-ar.shop-v3 .sort .menu-content .type a.current:after {right:auto;left:9px}
.lang-ar.shop-v3 .sort .category-title:after, .lang-ar.shop-v3 .sort .menu a.more:after {margin:-1px 6px 0 0;}
.lang-ar.shop-v3 .sort .category-title .icon {margin: -2px 0 0 4px;}
.lang-ar.shop-v3 .gift-featured.v2 .stream .figure-item .paging, .lang-ar.shop-v3 .index .picks .paging, .shop-v3 .index .fancyd .paging, .lang-ar.shop-v3 .index .celebrity .paging {right:auto;left:0;}
.lang-ar.shop-v3 .index .picks dt:before {margin:-3px 0 0 6px;}
.lang-ar.shop-v3 .category_idx .merchant .storename, .lang-ar.shop-v3 .index .merchant .storename, .lang-ar.shop-v3 .category_idx .merchant .followers, .lang-ar.shop-v3 .index .merchant .followers {padding-right:50px;padding-left:0;}
.lang-ar.shop-v3 .category_idx .merchant .storelogo, .lang-ar.shop-v3 .index .merchant .storelogo {left:auto;right:8px;}
.lang-ar.shop-v3 .sort .menu-content {    box-shadow: -1px 0 0 #ececec;}