@charset "UTF-8";

@media screen and (max-width: 760px) {
	#footer {
		.inner {padding:0 15px;}
		dl {
			width:50%;
			&:nth-child(2n+1) {clear:both;}
			dt {padding-bottom:10px;}
		}
		.cs-menu {display:none;}
	}
	.error-page {
		.container {
			display:block;
			height:auto;
			position:relative;
		}
		.error {
			display:block;
			padding: 130px 20px 20px;
			h2 {font-size:26px;}
			p {
				font-size: 16px;
				&.error-code {
					padding-top: 20px;
					font-size: 14px;
					&:before {margin-bottom: 20px;}
				}
			}
		}
	}
	.container, #contain {padding-top: 125px;}
	.alertify-dialog .alertify-inner {min-width:90%;}
}
