@charset "UTF-8";
.sign {
	.fadein-appear {
		animation:cf3FadeIn ease-in-out;
		animation-iteration-count: 1;
		animation-duration: 0.1s;
	}
	#header {
		.search, .gnb-wrap.right {display:none;}
		.switch-region {opacity:0;visibility:hidden;}
	}
	#footer {
		position:absolute;
		left:0;
		width:100%;
		text-align:center;
		background: rgba(0, 0, 0, 0.6);
		bottom:0;
		padding:12px 0;
		z-index: 10;
		li {
			display:inline-block;
			padding:0 5px;
			line-height:25px;
			font-size:11px;
			color:#747b8b;
			font-weight:bold;
		}
		a {
			color: #AFB1B3;
			text-decoration:none;
			&:hover {color: #FFF;}
		}
	}
	#container-wrapper {
		min-width:100%;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background:no-repeat 50% 50%;
		background-size:cover;
		background-image:url("../images/dummy/sign_bg1.jpg");
		display:table;
		.bg {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background:no-repeat 50% 50%;
			background-size:cover;
		}
		$background: ("bg1":2,"bg2":3,"bg3":4);
		@each $classname, $num in $background {
			.#{$classname} {
				animation-name: cf3FadeInOut#{$num};
				animation-timing-function: ease-in-out;
				animation-iteration-count: infinite;
				animation-duration: 40s;
				animation-direction: alternate;
				background-image:url("../images/dummy/sign_bg#{$num}.jpg");
			}
		}
	}
	.container {
		display:table-cell;
		vertical-align:middle;
		background: none;
		padding: 65px 0;
		position: relative;
		box-shadow: none;
		width: 100%;
		&:after {
			content:'';
			position: fixed;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:rgba(0,0,0,0.7);
		}
	}
	.wrapper-content {
		width:410px;
		overflow:hidden;
		position: relative;
		margin: 0 auto;
		z-index:1;
	}
	.content {
		display:table;
		position: relative;
		border-collapse: collapse;
		transition: left 0.5s, opacity 0.5s;
		-webkit-transition: left 0.5s, opacity 0.5s;
		-o-transition: left 0.5s, opacity 0.5s;
		-moz-transition: left 0.5s, opacity 0.5s;
		left:0;
		> .sign-wrap {
			display:table-cell;
			vertical-align: middle;
		}
	}
	.sign-wrap {
		position:relative;
		z-index:2;
		display: none;
		> .wrapper {
			position:relative;
			box-shadow: 0 1px 2px rgba(0,0,0,0.04);
			background:#fff;
			border-radius:8px;
			padding:38px 45px 45px;
			width: 320px;
			margin: 0 auto;
		}
		.btn-signup, .btn {
			padding:0 20px;
			color:#fff;
			font-weight: 700;
			transition: color 0.2s, background 0.2s;
			-webkit-transition: color 0.2s, background 0.2s;
			-o-transition: color 0.2s, background 0.2s;
			-moz-transition: color 0.2s, background 0.2s;
			cursor: pointer;
			line-height: 40px;
			border-radius: 5px;
			font-size: 14.5px;
			position: relative;
			background: #2581E3;
			width: 100%;
			display: block;
			box-sizing: border-box;
			text-align: center;
			text-shadow: none;
			&.loading {
				direction:ltr;
				text-indent:-1000em;
				position: relative;
				border-top:0;
				&:after {
					content:'';
					position:absolute;
					border: 2px solid #fff;
					border-radius:100% ;
					width:12px;
					height:12px;
					top:50%;
					left:50%;
					margin:-8px 0 0 -8px;
					animation: pulsate 1s ease-out;
					animation-iteration-count:infinite;
					-webkit-animation: pulsate 1s ease-out;
					-webkit-animation-iteration-count:infinite;
					-moz-animation: pulsate 1s ease-out;
					-moz-animation-iteration-count:infinite;
				}
			}
		}
		.btn-back {
			background:none;
			box-shadow:none;
			line-height: 20px;
			font-size:13px;
			color: #4978B3;
			margin: 20px 0 -12px;
			&:hover {
				background:none;
				box-shadow:none;
				color: #4978B3;
			}
		}
		h2 {
			font-size:22px;
			color:#4c505a;
			line-height:26px;
			> small {
				color:#4c505a;
				font-size:15px;
				font-weight:normal;
				line-height:20px;
				opacity:0.7;
				display:block;
				padding: 8px 0 13px;
			}
		}
		h3 {
			color:#4c505a;
			font-size:15px;
			font-weight:normal;
			line-height:20px;
			opacity:0.7;
			display:block;
			padding: 8px 0 21px;
		}
		input.text {
			width: 100%;
			&.error {
				color:#db6265 ;
				border-color:#d2928c ;
				box-shadow:0 0 0 2px #f0d1ce;
				&::-webkit-input-placeholder {color:#db6265 ;}
				&::-moz-placeholder {color:#db6265 ;}
				&::-ms-input-placeholder {color:#db6265 ;}
			}
			&:read-only {
				color: #919298 !important;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				cursor: default;
			}
		}
		label.label {
			display: block;
			color: #393d4d;
			opacity: 0.6;
			padding:8px 0 6px;
			text-align: left;
			font-size: 12px;
		}
		.focus label.label {opacity:1;}
		.email-frm {
			padding:22px 0 0;
			input.text {margin-bottom:10px;}
			.forgot_pw {
				width: 20px;
				height: 20px;
				border-radius: 100%;
				position: absolute;
				right: 9px;
				top: 9px;
				border: 1px solid #C0C1C4;
				color: #A3A5AC;
				font-size: 13px;
				line-height: 20px;
				text-align: center;
				font-weight: bold;
				&:focus {
					border-color:#8db2d0 !important;
					box-shadow:0 0 0 1px #8db2d0;
					background-color:white;
				}
				small {
					font-size: 11px;
					white-space: nowrap;
					right: -8px;
					bottom: 26px;
					border-radius: 3px;
					color: #fff;
					line-height: 27px;
					padding: 0 8px;
					font-weight: bold;
					position: absolute;
					background: #0b0f16;
					opacity: 0;
					visibility: hidden;
					&:after {
						content:'';
						border: 4px solid transparent;
						border-top-color:#0b0f16;
						right: 14px;
						bottom: -8px;
						position: absolute;
					}
				}
				&:hover {
					text-decoration:none;
					small {
						opacity:1;
						visibility: visible;
					}
				}
			}
		}
		.others {
			position:relative;
			padding:20px 0 0;
			text-align:center;
			color:#8d919a;
			font-size:12px;
			line-height:20px;
			font-weight: 500;
			.selling {
				margin: 20px -45px -26px;
				background: #eaf2fd;
				padding: 13px 45px;
				text-align: center;
				color: #586a82;
				width: 100%;
				border-radius: 0 0 8px 8px;
			}
			a {
				font-weight:bold;
				&:focus {text-decoration:underline;}
			}
		}
		.terms {
			color:#81848b;
			font-size:11px;
			line-height:16px;
			text-align:center;
			padding:19px 50px 0;
			a {
				color: #616671;
				font-weight: bold;
			}
		}
		fieldset {
			.msg {
				position: absolute;
				display: none;
				left: 100%;
				top: 0;
				background: #fff;
				box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.45);
				border-radius: 3px;
				margin-left: 14px;
				font-size: 13px;
				line-height: 18px;
				color: #4f5663;
				padding: 13px 13px 13px 41px;
				width: 160px;
				&:before {
					content: '';
					position: absolute;
					right: 100%;
					top: 10px;
					border: 9px solid transparent;
					border-right-color: rgba(0,0,0,0.2);
				}
				svg {
					position:absolute;
					left: 13px;
					top: 13px;
				}
				.icon {
					fill: #d93434;
					fill-rule: evenodd;
				}
				&.require .icon {
					fill: #497ab3;
					fill-rule: evenodd;
				}
				&:after {
					content:'';
					position: absolute;
					right: 100%;
					top:11px;
					border:8px solid transparent;
					border-right-color: #fff;
				}
			}
			span {
				display:block;
				position:relative;
				padding:0;
				min-height:0;
				&.error .msg {display:block;}
				&.with-label .msg {top: 20px;}
			}
		}
		.step {
			position:absolute;
			top:47px;
			right:45px;
			width:6px;
			height:6px;
			border:1px solid #acc3dd;
			border-radius:100%;
		}
		.step:before, .step:after {
			content:'';
			position:absolute;
			top:-1px;
			left:-15px;
			width:6px;
			height:6px;
			border:1px solid #acc3dd;
			border-radius:100%;
		}
		.step:before {left:-29px;}
		.step1:before, .step2:after, .step3 {
			border-color:#4879b2;
			background:#4879b2;
		}
		.wrapper.complete h2 {padding-bottom:12px;}
		.detail {
			.captcha {
				text-align:center;
				border-top:1px solid #eef0f1;
				padding: 20px 0;
				border-bottom: 1px solid #eef0f1;
				margin-bottom: 20px;
				&:after {
					content:'';
					display:block;
					clear:both;
				}
				img {
					margin-bottom: 10px;
					vertical-align:top;
				}
				.btns-gray-embo {
					float:left;
					width: 90px;
					margin:0;
					text-transform: capitalize;
					padding: 0;
					line-height:33px;
					&:before {
						content:'';
						display:inline-block;
						width:14px;
						height:14px;
						vertical-align: middle;
						margin: 0px 5px 0 0;
						background:url('../images/normal/refresh.png') no-repeat;
						background-size:14px 12px;
					}
				}
				input.text {
					float:right;
					margin: 0;
					width: 80%;
					width: calc(100% - 100px);
					width: -webkit-calc(100% - 100px);
					width: -moz-calc(100% - 100px);
					font-size: 13px;
				}
			}
			.url {
				font-size: 11px;
				color: #868990;
				display:block;
				padding-bottom: 14px;
			}
			.username_suggest {
				display:none;
				border:1px solid #e8e9ec;
				border-radius:3px;
				padding:8px 10px;
				font-size:13px;
				line-height:22px;
				color:#4f5663;
				margin-bottom:14px;
				&.error {display:block;}
			}
			input.text {
				padding:7px 8px;
				font-size: 13px;
				margin-bottom:8px;
			}
		}
		.btn-switch {
			background: #bec3c8;
			box-shadow: inset 0 1px 2px rgba(0,0,0,0.06),inset 0 0 0 1px rgba(0,0,0,0.1);
			direction:ltr;
			text-indent: -1000em;
			width: 34px;
			height: 18px;
			border-radius: 14px;
			margin: -3px 4px 0 0;
			z-index: 1;
			vertical-align: middle;
			position: relative;
			&:before {
				content: '';
				width: 16px;
				height: 16px;
				border-radius: 100%;
				border: 0;
				box-shadow: 0 1px 2px rgba(0,0,0,0.06),0 0 0 1px rgba(0,0,0,0.2);
				opacity: 1;
				background: #fff;
				position: absolute;
				top: 1px;
				right: 1px;
			}
			&.on {
				background: #4092DE;
				&:before {
					left:1px;
					right:auto;
				}
			}
		}
		.checklist {
			font-size:13px;
			line-height:18px;
			color:#4f5663;
			padding:8px 0 15px;
			li {padding:2px 0;}
			&+.checklist {margin-top:-10px;padding-top:0;}
		}
		&.success .btn {margin-top:38px;}
		&.activation input.text, &.activation .btn, &.account .btn {margin-top:20px;}
		.wrapper.signup, .wrapper.signin, .wrapper.register {padding-bottom:20px;}
		.wrapper.register.invite {padding-bottom:45px;}
	}
	.sns {
		font-size:0;
		position:relative;
		white-space:nowrap;
		overflow: hidden;
		border-bottom: 1px solid #eef0f1;
		padding: 24px 0 5px;
		.btn-fb:before, .btn-tw:before, .btn-gg:before {background: url('../images/svg/ic-timeline.svg') no-repeat;}
		button {
			position: relative;
			display:block;
			line-height:38px;
			color: #38424C;
			font-size: 13px;
			font-weight:bold;
			text-align: center;
			border-radius:5px;
			padding: 0 12px 0 40px;
			box-sizing: border-box;
			background: #F5F5F6;
			margin-bottom:14px;
			width:100%;
			&:before {
				content:'';
				position:absolute;
				top: 50%;
				z-index:1;
				left:11px;
				background:url('../images/normal/signup-sns2.png') no-repeat;
				background-size:100px 100px;
			}
			&:nth-last-child(1), &:nth-last-child(2) {
				float:left;
				width: 49%;
				width: calc(50% - 7px);
				width: -webkit-calc(50% - 7px);
				width: -moz-calc(50% - 7px);
			}
			&:nth-last-child(1) {float: right;}
		}
		> div {
			font-size:13px;
			transition: left 0.5s, opacity 0.5s;
			-webkit-transition: left 0.5s, opacity 0.5s;
			-moz-transition: left 0.5s, opacity 0.5s;
			-o-transition: left 0.5s, opacity 0.5s;
			position: relative;
			left: 0;
			width:100%;
			&:after {
				content:'';
				clear:both;
				display:block;
			}
		}
		> .more {
			position:absolute;
			left:100%;
			top:24px;
		}
		.btn-fb {
			background: #4267b1;
			color: #fff;
			&:before {
				width: 21px;
				height: 21px;
				margin-top: -11px;
				background-position: 0 -70px;
			}
		}
		.btn-ios {
			background:#000;color:#fff;
			&:before {
				background: url(../images/svg/button-apple.svg) no-repeat;
				background-size: 135px;
				width: 21px;
				height: 24px;
				background-position: -14px -10px;
				margin-top: -13px;
			}
			&+.btn-tw {
				background:#1d95e0;color:#fff;
				&:before {
					background:url('../images/svg/sns-t.svg') no-repeat;
					background-size:cover;
					height:18px;margin-top:-9px;
				}
			}
		}
		.btn-tw:before {
			width: 20px;
			height: 16px;
			background-position: 0 -50px;
			margin-top: -8px;
		}
		.btn-gg:before {
			width: 20px;
			height: 20px;
			background-position: -90px 0;
			margin-top: -10px;
		}
		.btn-b {
			background:#417dc1;
			color:#fff;
			&:before {
				width: 24px;
				height: 14px;
				background-position:-75px 0;
				margin-top: -7px;
			}
		}
		.btn-r:before {
			width: 34px;
			height: 20px;
			background-position:0 -25px;
			margin-top: -10px;
		}
		.btn-w:before {
			width: 24px;
			height: 20px;
			background-position:-40px -25px;
			margin-top: -10px;
			left:8px;
		}
		&.more {
			> .default {left:-100%;}
			> .more {left:0;}
		}
	}
	.reset_pw {
		margin-top:47px;
		.email-frm {padding-bottom:19px;}
	}
	.user-info {
		position: relative;
		color: #868990;
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 28px;
		padding: 23px 0 18px;
		border-bottom: 1px solid #eff0f2;
		text-align: center;
		img {
			position: absolute;
			left: 50%;
			margin-left: -48px;
			top: -85px;
			width: 90px;
			height: 90px;
			background: no-repeat 50% 50%;
			background-size: cover;
			border: 3px solid #fff;
			box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
			border-radius: 100%;
		}
		b {
			display: block;
			font-size: 16px;
			color: #4C505A;
			padding-bottom: 4px;
		}
		a {
			display:block;
			color:#94979d;
			&:hover {text-decoration:none;}
		}
	}
}
.signout {
	.container {
		width:auto;
		padding: 0 0 20px;
	}
	#content {
		padding:0;
		background:none;
		box-shadow:none;
	}
	.inner {
		position:relative;
		width:985px;
		margin:0 auto;
	}
	.introduction {
		background:#c3c6cb;
		color:#fff;
		.thumbnail div, a {background:url('../images/common/signout.png') no-repeat;}
		.inner {padding:137px 0 90px;}
		h2 {font-size:38px;}
		p {
			font-size:17px;
			line-height:22px;
			padding: 11px 600px 40px 0;
		}
		a {
			display:inline-block;
			width:161px;
			height:53px;
			direction:ltr;
			text-indent:-1000em;
			overflow:hidden;
			margin-right:7px;
			background-position:0 -330px;
		}
		.btn-ios {
			width:162px;
			background-position:-170px -330px;
		}
		.thumbnail {
			.ios {
				position:absolute;
				width:218px;
				height:279px;
				bottom:0;
				right:228px;
			}
			.android {
				position:absolute;
				width:273px;
				height:324px;
				bottom:0;
				right:0;
				background-position:-220px 0;
			}
		}
	}
	.featured {
		padding:60px 0 35px;
		li {
			float:left;
			clear:both;
			font-size: 14px;
			line-height:20px;
			color:#6f7174;
			margin-bottom:25px;
			padding:20px;
			width:436px;
			border-radius:3px;
			box-shadow: 0 1px 2px rgba(0,0,0,0.08);
			background: #fff;
			&:nth-child(even) {
				clear:none;
				float:right;
			}
		}
		b {
			display:block;
			color:#383d48;
			font-size:18px;
			font-weight:normal;
			padding-bottom: 10px;
		}
	}
}
.image-preloader {
	position:absolute;
	width:0px;
	height:0px;
}
#popup_container {
	&.signup .popup.signup, &.signin .popup.signin {display:block;}
	.popup.sign {
		background:#fff;
		width:410px;
		border-radius:8px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.04);
		overflow:visible;
		margin: 0;
	}
	.popup.sign.with-cover {
		width:820px;
		overflow-y:hidden;
	}
	.popup.register h2, .popup.complete h2 {padding-bottom:12px;}
}
#signup-recaptcha {
	margin-bottom: 10px;
	> div > div {
		margin-left: auto;
		margin-right: auto;
	}
}
.popup {
	&.sign {
		.cover {
			width:calc(100% - 410px);
			height:100%;
			top:0;
			right:0;
			border-radius:0 3px 3px 0;
			background:no-repeat 50% 50%;
			background-size:cover;
			position: absolute;
			box-shadow: inset 1px 0 rgba(0,0,0,0.1);
		}
		&.with-cover .sign-wrap {
			border-radius: 3px 0 0 3px;
			height:100%;
			width:320px;
			.others .selling {border-radius:0 0 0 3px;}
		}
	}
	&.signup .sign-wrap, &.register .sign-wrap, &.signin .sign-wrap, &.complete .sign-wrap {
		margin:0;
		border: 0;
		box-shadow: none;
	}
	&.signup h2 {padding-bottom:12px;}
	&.reset_pw_email_sent {
		background:#fff;
		width:352px;
		border-radius:8px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.04);
		overflow:visible;
		margin: 0;
	}
	.sign-wrap {
		display:block;
		padding: 37px 45px 26px;
	}
}
@media screen and (min-width: 800px) {
	.sign #header {
		position:absolute;
		top:0;
		left:0;
		padding:21px 28px;
		z-index: 10;
		background:none;
		box-shadow:none;
		box-sizing:border-box;
		#navigation .inner, .logo {background:none;}
		.logo a {
			display: block;
			width: 91px;
			height: 20px;
			padding: 0;
			direction:ltr;
			text-indent: -1000em;
			opacity:0.9;
			transition: opacity 0.2s ease;
			-webkit-transition: opacity 0.2s ease;
			-moz-transition: opacity 0.2s ease;
			-o-transition: opacity 0.2s ease;
			background: url("../images/normal/navi.png") no-repeat;
			background-size: 200px 100px;
			&:hover {opacity: 0.6;}
		}
		.m_menu {opacity:0;visibility:hidden;}
		.submenu, #navigation:before, #navigation:after, .gnb-wrap.right, .logo:before, .logo:after {display:none;}
	}
}
@media screen and (max-width: 800px) {
	.sign {
		background:none;
		#container-wrapper {
			background:none;
			display: block;
			position: relative;
			width: auto;
			height: auto;
			min-width: 0;
		}
		#container-wrapper .bg, #footer, .container:after, .sign-wrap fieldset .msg .icon {display:none;}
		.container {
			padding:55px 0 0;
			display: block;
		}
		.sign-wrap {
			> .wrapper {
				width:auto;
				box-shadow:none;
				border-radius:0;
				padding: 17px 20px;
			}
			fieldset .msg {
				left:auto;
				right: -15px;
				padding-left: 13px;
			}
			.step {
				top: 25px;
				right: 20px;
			}
		}
	}
	.popup.sign {
		.cover {display:none;}
		&.with-cover .sign-wrap {width:auto;}
	}
}
@keyframes cf3FadeIn {0% {opacity:0;}100% {opacity:1;}}@-webkit-keyframes cf3FadeIn {0% {opacity:0;}50% {opacity:0.5;}100% {opacity:1;}}@keyframes cf3FadeInOut2 {0% {opacity:0;}20% {opacity:0;}25% {opacity:1;}80% {opacity:1;}82% {opacity:0;}100% {opacity:0;}}@-webkit-keyframes cf3FadeInOut2 {0% {opacity:0;}20% {opacity:0;}25% {opacity:1;}80% {opacity:1;}82% {opacity:0;}100% {opacity:0;}}@keyframes cf3FadeInOut3 {0% {opacity:0;}45% {opacity:0;}50% {opacity:1;}80% {opacity:1;}82% {opacity:0;}100% {opacity:0;}}@-webkit-keyframes cf3FadeInOut3 {0% {opacity:0;}45% {opacity:0;}50% {opacity:1;}80% {opacity:1;}82% {opacity:0;}100% {opacity:0;}}@keyframes cf3FadeInOut4 {0% {opacity:0;}70% {opacity:0;}75% {opacity:1;}95% {opacity:1;}100% {opacity:0;}}@-webkit-keyframes cf3FadeInOut4 {0% {opacity:0;}70% {opacity:0;}75% {opacity:1;}95% {opacity:1;}100% {opacity:0;}}

@media screen and (-webkit-min-device-pixel-ratio:2){
	.sign .sign-wrap .detail .captcha .btns-gray-embo:before {background-image:url('../images/retina/refresh.png') ;}
	.sign .sns button:before {background-image:url('../images/retina/signup-sns2.png');}
}