/*******************************************************************************

    CSS on Sails Framework
    Title: Fancy
    Author: XHTMLized (http://www.xhtmlized.com/)
    Date: November 2010

********************************************************************************/


#content { padding-bottom: 100px; }

#content h1 { margin-bottom: 26px; }

#content > div { margin-bottom: 10px; width: 620px; }
#content > div img { max-width: 620px; max-height: 640px;/*max-height: 400px;*/ }

#content form div.optional-info input { width: 610px; }
#content form div textarea { width: 610px; height: 43px; }
#content form div select { margin-bottom: 10px; min-width: 130px; }
#content form div a.button { margin-right: 10px; }
#content form div a.button:first-child { font-weight: bold; }

.tagger-widget { position: relative; }
.tagger-widget .point {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 9;
    cursor: move; }
    .tagger-widget .point .dot { 
      background: url(../images/common/ico_tag.png) repeat 0 0;
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 9;
    }
    .tagger-widget .point .tip {
      top: -110px;
      left: -12px;
      position: relative;
      background: url(../images/common/bg_tip.png) repeat 0 0;
      width: 322px;
      height: 92px;
      padding: 6px;
      display: none;
      z-index: 9999; }
      .tagger-widget .point .tip .actions {
        height: 22px; }
        .tagger-widget .point .tip .actions span { font-size: 12px;
        cursor: pointer;
        float: left;
        display: inline;
        color: #fff;
        font-weight: bold;
        border: 1px solid #333; padding: 3px 8px; margin-right: 5px;
         }
      
      .tagger-widget .point .tip input.txt {
        border: 0;
        color: #666;
        width: 316px;
        margin-bottom: 6px;
        font-size: 12px;
        padding: 6px 3px; }
     .tagger-widget .point.focus .dot {
      background-position: 0 -20px; }
     .tagger-widget .point.focus .tip {
        display: block; }
        
.tagger-widget .point .tip span.b {
  position: absolute;
  background: url(../images/common/tipsy.gif) no-repeat 0 -5px;
  width: 9px;
  height: 5px;
  display: block;
  bottom: -5px;
  left: 18px; }






/*************************thefancy************************/
.jqPlaceholder {
color:black;
}
form ul li {
    margin-bottom:10px;
}
#content p.tip {font-size:11px;padding:0; color:block;}

input.text{
  height: 16px;
  width: 293px;
  margin-right: 18px;
  padding: 7px 0 7px 5px;
  color: black;
  font-size: 13px;
  border: 1px solid #ccc;
  border-top: 1px solid #666666; }

input.empty {color:#CCCCCC;}
input.long {margin-right:10px;width:615px;}

.tag-photo .button {
  padding: 8px 10px !important;
  display: inline-block;
  background: #eee;
  margin: 0 7px 0 0;
  line-height: 1; }

button.button {
    font-family: Arial, sans-serif;
    margin-right: 0;
    padding-top: 6px !important;
    padding-bottom: 7px !important;
    color:#666666;
    cursor:pointer;
    font-size:13px;
    border: 0;
    line-height: normal;
    }
  
.error .text {
  background: #fff3eb;
  border-color: #ff0000; }
.error .tip {
  color: #ff0000;
  font-size:12px;}
  
#urlpreview {
    overflow:hidden;
}
#urlpreview {
  height: 16px;
  width: 615px;
  margin-right: 10px;
  padding: 7px 0 7px 5px;
  color: black;
  font-size: 13px;
  border: 1px solid #ccc;
  border-top: 1px solid #666;
  background-color: #efefef;
}



.tag-photo .point .tip .actions span.btn-reject,.tag-photo .point .tip .actions span.btn-remove {font-size: 12px;float: right;cursor: pointer;color: #fff; font-weight:bold;}

.tag-photo .point .tip .thing-id {font-size: 11px;color: #fff;margin-right:5px;float:left;margin-top:3px;}
.tag-photo .point .tip input.txt-thing-id {border:0 none;color:#666666;font-size:12px;width:100px;}
.tag-photo .point .tip .btn-assign {font-size: 11px;margin-left:5px;cursor: pointer;color: #fff; font-weight:bold;}

.tag-photo .point .tip.more {height:132px;width:375px !important;top:-165px;}
.tag-photo .point .tip.more input.txt {width:366px;}

.tag-photo .point .tip:after{
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

/* 2.8 Tagger photo
-----------------------------------------------------------------------------------------------*/
.tag-photo {
  position: relative; }
  .tag-photo .point {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 9; }
    .tag-photo .point .dot { 
      background: url(../images/common/ico_tag.png) repeat 0 0;
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 9;
    }
    .tag-photo .point .tip {
      top: -110px;
      left: -12px;
      position: relative;
      background: url(../images/bg-tip.png) repeat 0 0;
      width: 322px;
      height: 92px;
      padding: 6px;
      display: none;
      z-index: 9999; }
      .tag-photo .point .tip .actions {
        height: 22px; }
        .tag-photo .point .tip .actions span { font-size: 12px;
        cursor: pointer;
        float: left;
        display: inline;
        color: #fff;
        font-weight: bold;
        border: 1px solid #333; padding: 5px 8px; margin-right: 5px;
         }
      
      .tag-photo .point .tip input.txt {
        border: 0;
        color: #666;
        width: 316px;
        margin-bottom: 6px;
        font-size: 12px;
        padding: 6px 3px; }
    .tag-photo .point.focus .dot {
      background-position: 0 -20px; }
      .tag-photo .point.focus .tip {
        display: block; }

.tagger-js .point {
  cursor: move; }

.tag-photo .point .tip span.b,
.tipsy span.b,
.tag-photo .tag-item .tip span.b {
  position: absolute;
  background: url(../images/bg-tip-b.png) no-repeat 0 0;
  width: 9px;
  height: 5px;
  display: block;
  bottom: -5px;
  left: 18px; }

#content form div.tip input {color:#666666;font-size:12px;margin-bottom:6px;padding:6px 3px;}

#getcode p {
	margin: 0 0 2px 0;
}
#codesnippet {
  width: 615px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 7px 0 7px 5px;
  color: #000;
  font-size: 13px;
  border: 1px solid #ccc;
  border-top: 1px solid #666;
  font-family: monospace;
}

#linksnippet {
  color: #000;
  font-family: monospace;
  margin-bottom: 10px;
}

#content > div#getcode {background:none;}

#content fieldset.image {  }





/*------------------------------FANCY--------------------------------*/

#gallery ol li ol.up1 li {text-align:left;}
#gallery ol .tag-photo div {margin:0;width:auto;float:none;}
