@charset "UTF-8";

/* font */
@font-face {font-family:'MarkOT'; src:url('../css/MarkOT.woff'); src:url('../css/MarkOT.woff') format(woff); }
@font-face {font-family:'MarkOTM'; src:url('MarkOT-Medium.woff'); src:url('MarkOT-Medium.woff') format(woff); }
@font-face {font-family:'MarkOTL'; src:url('MarkOT-ExtraLight.woff'); src:url('MarkOT-ExtraLight.woff') format(woff); } 
