<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic" type="text/css">	
	<title>{{settings.page_title}}{% if thing.name %} - {{thing.name}}{% endif %}</title>
	{{ 'mobile.css' | asset_css }}
	{{ header_content }}
	{{ 'js/jquery.js' | common_asset_script }}
	{{ 'js/underscore.js' | common_asset_script }}
	{{ 'mobile.js' | asset_script }}
</head>
<body>
	<div id="widget">
		<div class="after">
			<a href="{{path_prefix}}/cart" class="btn-cart"><i class="icon"></i>Cart <small class="count">0</small></a>
		</div>
	</div>
	<div id="wrap" class="home">
		<header id="header">
		<div class="inner after bg">
			<h1 class="logo"><a href="{{path_prefix}}/">{%if settings.logo_image %}<img src="{{settings.logo_image|asset_url}}" alt="{{settings.page_title}}">{%else%}{{settings.page_title}}{%endif%}</a></h1>
			<a href="#" class="btn-nav" onclick="$(this).toggleClass('current');$('.navigation').slideToggle('fast');return false;"></a>
			<div class="navigation ">
				<form class="search">
					<fieldset><input type="text" name="q" placeholder="Search"> <button type="submit" class="buttons btn-search">Search</button></fieldset>
					{% if params.q and not things %}
					<p class="no-result">No search result for "{{params.q}}"</p>
					{% endif %}
				</form>
				<ul id="ov-collection" onclick="$(this).closest('.after').find('a.btn-nav').removeClass('current').next('.navigation').slideUp('fast');">
					{% for c in settings.collections|to_collections %}			
					<li data-id="{{c.id}}"><a href="{{path_prefix}}/collections/{{c.id}}">{{c.name}}</a></li>
					{% endfor %}	
				</ul>
				<ul onclick="$(this).closest('.after').find('a.btn-nav').removeClass('current').next('.navigation').slideUp('fast');">
					<li><a href="{{path_prefix}}/shop">SHOP</a>
						<small id="ov-category">
							{% for c in settings.categories%}
								<a href="{{path_prefix}}/shop?categories={{c.key}}" data-id="{{c.key}}">{{c.name}}</a>
							{% endfor %}
						</small>
					</li>
				</ul>
				<ul onclick="$(this).closest('.after').find('a.btn-nav').removeClass('current').next('.navigation').slideUp('fast');">
					<li><a href="{{path_prefix}}/about"><span>ABOUT</span></a></li>
					<li><a href="{{path_prefix}}/contact"><span>CONTACT</span></a></li>
				</ul>
				{% if seller_profile.get_external_links_dict|length > 0 %}
                <ul>
                {% for social in seller_profile.get_external_links_dict %}
					<li><a href="{{social.link}}">{{social.name}}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
			</div>
		</div>
		</header>
		<div id="container">
			<div id="content">
				{{ main_content }}
			</div>
		</div>
		<div id="footer">
			<div class="inner after">
				<p class="logo"><img src="{{settings.header.image}}" alt=""> <span>{{seller.brand_name}}</span></p>
				{% if seller.external_links|length > 0 %}
                <ul class="sns">
                {% for sns in seller.external_links %}
					<li><a href="{{sns.link}}">{{sns.name}}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
                <p class="copyright"><a href="http://m.fancy.com">POWERED BY <b>FANCY</b></a></p>
			</div>
		</div>
	</div>
	<script>
		jQuery(function($){
	    	$('a[href="../../../pages/return-policy"]').attr('href','/policies');
		});
	</script>
</body>
</html>
