<td class="customer">
    <%=customer_name%> / <%=customer_email%>
</td>
<td><%= note %></td>
<td class="price"><%= numeral(amount).format("$0,0.00") %></td>
<td><%= card_brand %> <%=card_name%> ****-<%= card_last4 %></td>
<td><%= status %></td>
<td><%= moment.utc(date_created).format("YYYY/MM/DD") %></td>
