<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<title>{{settings.page_title}}{% if thing.name %} - {{thing.name}}{% endif %}</title>
	{{ 'mobile.css' | asset_css }}
	{{ header_content }}
	{{ 'js/jquery.js' | common_asset_script }}
	{{ 'js/underscore.js' | common_asset_script }}
	{{ 'mobile.js' | asset_script }}
</head>
<body>
	<div id="widget">
		<div class="after">
			<a href="{{path_prefix}}/cart" class="btn-cart"><i class="icon"></i>Cart <small class="count">0</small></a>
		</div>
	</div>
	<div id="wrap" class="home">
		<header id="header">
		<div class="inner after bg">
			<h1 class="logo"><a href="{{path_prefix}}/"><img src="{{settings.logo_image|asset_url}}" alt=""></a></h1>			
			<a href="#" class="btn-nav" onclick="$(this).closest('html').addClass('show');return false;"></a>
			<div class="navigation" onclick="$(this).closest('body').removeClass('show');">
				<p class="logo"><img src="{{settings.logo_image|asset_url}}" alt=""></p>
				<ul>
				<li><a href="{{path_prefix}}/" {% if path_prefix|add:'/'|startswith:current_path %}class="current"{% endif %}><span>HOME</span></a></li>
				<li><a href="{{path_prefix}}/shop" {% if path_prefix|add:'/shop'|is_prefix_of:current_path %}class="current"{% endif %}><span>SHOP</span></a></li>
				<li><a href="{{path_prefix}}/about" {% if path_prefix|add:'/about'|is_prefix_of:current_path %}class="current"{% endif %}><span>ABOUT</span></a></li>
				<li><a href="{{path_prefix}}/contact" {% if path_prefix|add:'/contact'|is_prefix_of:current_path %}class="current"{% endif %}><span>CONTACT</span></a></li>
				</ul>	
				{% if seller.external_links|length > 0 %}
                <ul class="sns">
                {% for sns in seller.external_links %}
					<li><a href="{{sns.link}}">{{sns.name}}</a></li>
                {% endfor %}
                </ul>
                {% endif %}			
				<p class="copyright"><a href="http://m.fancy.com">POWERED BY <b>FANCY</b></a></p>
				<a href="#" class="close" onclick="$(this).closest('html').removeClass('show');return false;"><i class="icon"></i></a>
			</div>
		</div>
		</header>
		<div id="container">
			<div id="content">
				{{ main_content }}
			</div>
		</div>
		<div id="footer">
			<div class="inner after">
				{% if seller.external_links|length > 0 %}
                <ul class="sns after">
                {% for sns in seller.external_links %}
					<li><a href="{{sns.link}}">{{sns.name}}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
                <p class="copyright"><a href="http://m.fancy.com">POWERED BY <b>FANCY</b></a></p>
			</div>
		</div>
	</div>
</div>
  <script>
    $('a[href="/pages/return-policy"]').attr('href','/policies');
  </script>
</body>
</html>
