
* {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;list-style:none;quotes:none;font-style:normal;outline:none;}
body {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;overflow:hidden;-webkit-text-size-adjust: none;}
body,select,input,textarea,button {font-size:13px;color:#393d4d;font-family:"Helvetica Neue",Helvetica,Arial,sans-seri;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
table{border-collapse:collapse;border-spacing:0;}
button{cursor:pointer;vertical-align:middle;outline:none;}
a,a:visited{text-decoration:none;color:#4978b3;cursor:pointer;}
a:hover,a:focus{text-decoration:underline;}
hr {display:none;}
del {text-decoration:line-through;}
th,td {vertical-align:middle;}
th {font-weight:normal;text-align:left;}
abbr,acronym {border-bottom:1px dotted #999;cursor:help;}
p {padding:0 0 10px 0;}
img {image-rendering:-webkit-optimize-contrast;}

.embed {margin:0 auto;background: #fff;border: 1px solid #bcbfc3;box-shadow: 0 0 6px rgba(202,203,209,0.2),0 1px 6px rgba(0,0,0,0.1);border-radius: 3px;} 
.wrapper {position:relative;margin:15px}
.figure-image {display:block;text-align:center;padding-bottom:15px}
.figure-image img {display:block;width:100%;margin:0 auto;min-width:200px}
.figcaption {display:block;width:100%;font-size:16px;line-height:20px;color:#3e3e40;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.username {display:block;font-size:13px;line-height:18px;color:#3e3e40}
.username a {color:#3e3e40}
.btn-fancy {display:none;position:absolute;top:50%;left:50%;background-color:#588cc7;line-height:45px;height:45px;width:auto;min-width:75px;padding:0 15px 0 60px;margin:-50px 0 0 -75px;white-space:nowrap;box-shadow:0 0 0 3px rgba(255,255,255,0.6);color:#fff;font-size:18px;font-weight:bold;text-align:center;border-radius:3px}
.btn-fancy span {position:absolute;top:0;left:0;width:45px;height:45px;margin:0 10px 0 0;border-right:1px solid;border-radius:4px 0 0 4px;background-color:#3e73b7;border-right-color:#3161a8}
.btn-fancy:hover {background-color:#467abe}
.btn-fancy.fancyd, .btn-fancy.fancyd:hover {background-color:#71b950}
.btn-fancy.fancyd span {background-color:#5aa534;border-right-color:#4a9528}
.embed:hover .btn-fancy {display:block}
.btn-fancy span i {display:inline-block;margin:8px 0 0;height:28px;width:24px;background:url('../images/button.png') no-repeat;background-size:50px 205px;background-position:0 -75px;width:24px;margin-left:7px}
.btn-fancy.fancyd span i {background-position:0 -110px;width:16px}
