
table[class^="tb-"] {width:100%;border: 1px solid #e5e5e6;border-radius:2px;}
table[class^="tb-"] thead th {border-bottom: 1px solid #D4D5D6;border-left: 1px solid #E7E9EA;vertical-align: middle;background: #FCFCFC;background: -webkit-linear-gradient(top,#FCFCFC,#F5F5F5);background: -moz-linear-gradient(top,#fcfcfc,#f5f5f5);background: -o-linear-gradient(top,#fcfcfc,#f5f5f5);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f5f5f5');background-image: -ms-linear-gradient(#fcfcfc,#f5f5f5);font-weight: bold;font-size: 12px;color: #5E626E;height: 34px;padding: 0 10px;}
table[class^="tb-"] tbody td {border-left: 1px solid #F5F6F7;word-break:break-word;line-height: 18px;padding: 12px 10px 10px;vertical-align: middle;color: #4F5764;transition: background .2s;-webkit-transition: background .2s;-moz-transition: background .2s;position: relative;}
table[class^="tb-"] tbody tr.new td {background-color:#fefeba;}
table[class^="tb-"] tbody .checked td, table[class^="tb-"] tbody tr:nth-child(even).checked td {color:#222;background: #ffc;}
table[class^="tb-"] tbody .selected td, table[class^="tb-"] tbody tr:nth-child(even).selected td {background: #EBECED;box-shadow: inset 0px 1px 0 0 rgba(0, 0, 0, 0.03);}
table[class^="tb-"] tbody td.center {text-align:center;}
table[class^="tb-"] tbody td.empty {text-align:center;background:none;line-height:22px;color:#9197a3;font-size:15px; padding: 0;height: 200px;}
table[class^="tb-"] tbody tr:hover td.empty {background:none;}
table[class^="tb-"] tbody tr:nth-child(even) td {background:#f6f7f8;}
table[class^="tb-"] thead th:first-child, table[class^="tb-"] tbody td:first-child {border-left:0;}
table[class^="tb-"] thead th a {color: #5E626E;}
table[class^="tb-"] thead th a.up, table[class^="tb-"] thead th a.down {display:block;margin:0 -10px;line-height:34px;background:#E7E9EA;padding:0 10px;color:#3A3C43;text-decoration: none;}
table[class^="tb-"] thead th a span {position:relative;display:inline-block;}
table[class^="tb-"] thead th a.up span, table[class^="tb-"] thead th a.down span {padding-right: 12px;}
table[class^="tb-"] thead th a.up span:before, table[class^="tb-"] thead th a.up span:after, table[class^="tb-"] thead th a.down span:before, table[class^="tb-"] thead th a.down span:after {content:'';position:absolute;right:0;top:50%;border:4px solid transparent;width:0;height:0;display:inline-block;vertical-align:middle;}
table[class^="tb-"] thead th a.up span:before, table[class^="tb-"] thead th a.down span:before {margin-top:1px;border-top-color:#6e7076;}
table[class^="tb-"] thead th a.up span:after, table[class^="tb-"] thead th a.down span:after {margin-top:-9px;border-bottom-color:#6e7076;}
table[class^="tb-"] thead th a.up span:before {display:none;}
table[class^="tb-"] thead th a.up span:after {margin-top: -6px;}
table[class^="tb-"] thead th a.down span:after {display:none;}
table[class^="tb-"] thead th a.down span:before {margin-top:-2px;}
table[class^="tb-"] thead th.cross .icon {opacity:1;margin:0 auto;display:block;width:14px;height:9px;background-position:-60px -220px;}
table[class^="tb-"] thead th.cross .tooltip em {padding:5px 7px;font-size:11px;width:auto;white-space:nowrap;}
table[class^="tb-"] thead th.pop .icon {display:block;margin:0 auto;width:12px;height:12px;background-position:-45px -220px;}
table[class^="tb-"] td.status {display:table-cell;bottom:0;}
table[class^="tb-"] td .status {display:inline-block;vertical-align:middle;padding-left:10px;position:relative;bottom: 1px;white-space:nowrap;}
table[class^="tb-"] td .status.loading:before {position:static;display: inline-block;width: 14px;height: 14px;vertical-align: middle;margin: -3px 5px 0 0;box-shadow: none;}
table[class^="tb-"] td .status.loading {display: block;text-align: center;padding: 0;}
table[class^="tb-"] td .status i {position:absolute;top:50%;width:3px;height:15px;left:0;margin-top:-8px;-webkit-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.05);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
table[class^="tb-"] td .status:before{content:'';position:absolute;top:50%;width:3px;height:15px;left:0;margin-top:-8px;background:#CDD1D4;-webkit-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 0 0 1px rgba(0, 0, 0, 0.05);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
table[class^="tb-"] td .status.pending:before, table[class^="tb-"] td .status.purchase:before {background:#9fb2ca;}
table[class^="tb-"] td .status.define:before {background:#cb7f7f;}
table[class^="tb-"] td .status.soldout:before {background:#d06352}
table[class^="tb-"] td .status.define {color:#ab6b6b;}
table[class^="tb-"] td .status.demo:before {background:#d15353;}
table[class^="tb-"] td .status.tooltip em {left:50%;text-align:left;}
table[class^="tb-"] a.coupon {display:inline-block;vertical-align:middle;}
table[class^="tb-"] a.coupon:hover {text-decoration:none;}
table[class^="tb-"] a.coupon .coupon-code {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:260px;color:#777;}
table[class^="tb-"] td .status.active:before, table[class^="tb-"] td .status.processing:before, table[class^="tb-"] td .status.recieved:before {background:#75a630;}
table[class^="tb-"] td .status .tooltip em {margin-left:-53px !important;}
table[class^="tb-"] tbody td.cross .icon {display:block;width:8px;height:8px;background-position:-25px -240px;margin: 0 auto;}
table[class^="tb-"] form {display:inline-block;}

@media screen and (max-width: 900px) {
	table[class^="tb-"], table[class^="tb-"] tbody, table[class^="tb-"] thead, table[class^="tb-"] td, table[class^="tb-"] tr, table[class^="tb-"] th {display:block;box-sizing: border-box;}
	table[class^="tb-"] tbody td, table[class^="tb-"] thead th, table[class^="tb-"] col {width:auto !important;padding: 0 10px;border:0;}
	table[class^="tb-"] td .status {display:block;text-overflow:ellipsis;overflow: hidden;}
	table[class^="tb-"] tbody td {padding:0;position:static;}
	table[class^="tb-"] thead th {height: auto;background:none;}
	table[class^="tb-"] thead tr {border-bottom: 1px solid #D4D5D6;background:#f7f7f7;height: auto;}
	table[class^="tb-"] tr:after {content:'';clear:both;display:block;}
	table[class^="tb-"] tbody tr {padding:10px;position:relative;}
	table[class^="tb-"] tbody tr:hover td {background:none !important;}
	table[class^="tb-"] tbody .relative {position:static;}
	table[class^="tb-"] tbody tr:nth-child(even) {background: #f6f7f8;}
	table[class^="tb-"] thead th a.up, table[class^="tb-"] thead th a.down {background:#f1f1f1;padding:0;margin:0;line-height:17px;}

	table[class^="tb-"] thead {display: none;}
	table[class^="tb-"] thead tr {background:none;border:0;}
	table[class^="tb-"] thead th {padding:0;}
	table[class^="tb-"] thead.show {display:block;}
	table[class^="tb-"] thead:before, table[class^="tb-"] thead:after{content:'';position:absolute;border:9px solid transparent;right:17px;border-bottom-color:#cbcbcb;top:-18px}
	table[class^="tb-"] thead:after{border-width:8px;border-bottom-color:#fff;right:18px;top:-16px}
	table[class^="tb-"] thead th a.up, table[class^="tb-"] thead th a.down {padding:0 10px;}
	table[class^="tb-"] thead th a {font-weight:400;display: block;padding: 0 10px;font-size: 12px;color: #5E626E;line-height: 23px;}
	table[class^="tb-"] thead th:first-child, table[class^="tb-"] thead th:last-child {padding:0;}
	table[class^="tb-"] thead {position:absolute;top: 167px;right: 15px;background: #FFF;min-width: 150px;white-space: nowrap;border-radius: 3px;border: 1px solid #CBCBCB;box-shadow: 0 1px 6px rgba(0,0,0,0.19);padding: 5px 0;}
	.search-frm .sort {position: absolute;top: 15px;right: 15px;padding: 0 4px 0 7px;line-height: 29px;background: #fcfcfc;background: -webkit-linear-gradient(top, #fcfcfc, #f5f5f5);background: -o-linear-gradient(top, #fcfcfc, #f5f5f5);background-image: -ms-linear-gradient(#fcfcfc, #f5f5f5);border: 1px solid #dcdcdc;border-radius: 3px;font-weight: bold;font-size: 12px;color: #6B6E7A;}
	.search-frm .sort:before {/* display: inline-block; */content: 'Sort by';/* width: 16px; *//* height: 11px; *//* vertical-align: middle; *//* margin: -2px 0 0; *//* background: url('../../../_ui/images/svg/ic_purchases.svg') no-repeat; *//* background-position: -75px 0; *//* opacity: 0.5; */}
	.search-frm .sort:after {content: '';display: inline-block;vertical-align: middle;border: 4px solid transparent;border-top-color: #8c8d91;opacity: 0.5;width: 0;height: 0;overflow: hidden;margin: 0 0 0 3px;}

}