<div class="chart">
	<span class="tooltip">
        <b class="value"></b>
    </span>
    <svg></svg>
</div>
<p>Totals: 
	<b><%= total_clicks %></b> clicks
	<b><%= total_sales %></b> sales
	<b><%= numeral(total_commission).format("$0,0.00") %></b> commission
</p>