<h3 class="stit">Statistics <a href="#" class="download tooltip"><i class="icon"></i><em>Download CSV</em></a></h3>
<div class="inner">
    <ul class="viewer">
    </ul>
    <div class="map">
    </div>
    <div class="summary">
    </div>
    <div class="graph">
    </div>
</div>
<div class="loading"><img class='loading-img' /></div>