<li <% if (spot !=1) { %> style="display:none;" <% } %> data-spot=<%= spot %> data-id=<%= id %>>
    <div class="ads banner">
        <span class="img">
            <a href="<%= target_url %>?spot=<%= spot %>&ref=fancy" target="_blank"><img src="<%= banner_image_url %>"></a>
        </span>
        <h4><%= name %></h4>
        <p><%= tagline %></p>
        <a href="<%= target_url %>?spot=<%= spot %>&ref=fancy" target="_blank" class="btns"><%= action_button %></a>
    </div>
</li>