
.navigation li.more > a:after {background:url('../images/svg/sprite.layout.merge.svg') no-repeat;background-size:200px 200px;}
.navigation {display:none;vertical-align:middle;font-size: 0;letter-spacing: 0;}
.navigation ul {display:none;}
.navigation .menu {display: table;width:100%;}
.navigation li {display: table-cell;vertical-align:middle;padding:0 7px;position:relative;}
.navigation li.mobile {display:none;}
.navigation li.user {display:none;}
.navigation li.user a {padding-left:67px;}
.navigation li.user .avatar {position:absolute;top:50%;left:15px;width:40px;height:40px;background:no-repeat 50% 50%;background-size:cover;border-radius:100%;margin-top:-20px;}
.navigation li.user small {display:block;font-size:12px;color:#A2A6AA;font-weight:400;}
.navigation li > a {display:block;font-size:14px;font-weight:700;color:#333333;box-shadow:inset 0 -2px 0 #fff;position: relative;z-index: 1;text-transform: uppercase;white-space: nowrap;}
.navigation li.sales > a {color:#3CCB83;}
.navigation li.more > a:after {content:'';display: inline-block;margin: -2px 0 0 6px;width: 8px;height: 6px;vertical-align: middle;background-position:-100px -75px;}
.navigation li.more {display:none;}
.navigation li.more.hover small {display:block;}
.navigation li.more small { display:none; position:absolute;top:100%;left: -7px;white-space:nowrap;background:#1a1b1c;text-align: left;font-size: 14px;font-weight: 700;z-index: 1;min-width: 150px;text-transform: uppercase;}
.navigation li.more small a {display:none;color: #fff;padding: 0 14px;line-height: 40px;}
.navigation li.more small a:hover {background:#fff;color:#1a1b1c;}
.navigation li.more small a.sales, .navigation li.more small a.sales:hover {color:#3CCB83;}
.navigation li.hover > a[data-submenu] {box-shadow:inset 0 -2px 0 #333333;}
.navigation .dropdown {position:absolute;top:100%;left: 20px;right: 20px;padding:20px 0;display:none;background:#fff;border-radius: 0 0 5px 5px;box-shadow: inset 0 1px 0 rgba(0,0,0,0.04), 1px 1px 0 rgba(0,0,0,0.1), -1px 0 0 rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.06);z-index: 3;}
.navigation .dropdown dl {float:left;width:250px;text-align:left;padding-left:30px;}
.navigation .dropdown dl a {display:block;padding:4px 0;color:#1a1b1c;font-size:14px;line-height:19px;font-weight:700;text-transform:uppercase;}
.navigation .dropdown dl dd a:hover {text-decoration:underline;}
.navigation .dropdown dl dt a {color:#90969c;}
.navigation .dropdown dl a.view-all {display:none;}
.navigation .dropdown .featuredBanner {float:right;width:calc(100% - 280px);max-width: 811px;text-align:right;white-space:nowrap;}
.navigation .dropdown .featuredBanner a {position:relative;display:inline-block;vertical-align:top;margin-right:20px;width:29%;width: calc((100%/3) - 20px);width:-webkit-calc((100%/3) - 20px);width:-moz-calc((100%/3) - 20px);}
.navigation .dropdown .featuredBanner a:hover .figure > img {transform:scale(1);}
.navigation .dropdown .featuredBanner .figure {position:relative;display: block;overflow:hidden;background:no-repeat 50% 50%;background-size:cover;}
.navigation .dropdown .featuredBanner .figure:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#37414c;opacity:0.2;}
.navigation .dropdown .featuredBanner .figure > img {height:250px;display:block;background:no-repeat 50% 50%;background-size:cover;width:100%;cursor:pointer;transition: 0.3s ease-in-out;transform-origin:50% 50%;transform:scale(1.03);}
.navigation .dropdown .featuredBanner .figure .logo {position:absolute;top: 50%;left:0;width:100%;text-align:center;line-height:244px;margin-top:-122px;}
.navigation .dropdown .featuredBanner .figure .logo img {max-width:40%;max-height:40%;vertical-align:middle;}
.navigation .dropdown .featuredBanner .title {position:absolute;bottom: 15px;left: 0;padding: 0 20px;box-sizing:border-box;color:#fff;font-size: 34px;font-weight:600;text-transform:uppercase;line-height: 34px;width:100%;word-break:break-all;text-align:left;}
.navigation .dropdown .featuredBanner .title b {display:block;padding-top:10px;}
.navigation .dropdown .featuredBanner .title small {display:inline-block;font-size:14px;letter-spacing:0.2em;border-bottom:2px solid #fff;line-height:33px;}
.navigation .dropdown.show {display:block;}

#header .header-principal .login .merchant > a:before, #header .header-principal .login .msg > a:before {background:url('../../../_ui/images/svg/icon-header-b.svg') no-repeat;}
#header .header-principal .login .cart a:before, #header .header-principal .login .user:after, #header .lang:after, #header .search:before {background:url('../images/svg/sprite.layout.merge.svg') no-repeat;background-size:200px 200px;}
#header {font-weight:500;position: fixed;top:0;left:0;width:100%;z-index:11;background: #fff;padding-top: 0;box-shadow: 0 2px 4px rgba(0,0,0,0.04), 0 1px 0 rgba(0,0,0,0.06);}
#header .header-info {display:none;background:#1a1b1c;font-size:13px;line-height:18px;color:#fff;text-align:center;position: relative;z-index: 0;}
#header .header-info p {padding: 6px 0;font-weight:500;}
#header .header-info p a {text-decoration:underline;}
#header .header-info p a, #header .header-info p a:visited { color: inherit; }
#header .header-info small {font-weight:300;}
#header .inner {max-width:1360px;margin:0 auto;padding: 0 20px;position: relative;}
#header .inner:after {content:'';clear:both;display:block;}
#header .header-principal a {font-size:12px;}
#header .header-principal a.new:after {content:'';position:absolute;right: 2px;top: 50%;width: 7px;height: 7px;background: #3CCB83;border-radius: 100%;margin: -14px 0 0 0;border: 2px solid #fff;}
#header .header-principal {border-bottom:1px solid rgba(0,0,0,0.1);position: relative;z-index: 2;}
#header .header-principal .login {float:right;line-height: 33px;}
#header .header-principal .login li:last-child > a {padding-right:0;}
#header .header-principal .login li.user:last-child > a {padding-right:14px;}
#header .header-principal .login li {float:left;position: relative;}
#header .header-principal .login a {color: rgba(51, 51, 51, .7);}
#header .header-principal .login .merchant .text {display:none;}
#header .header-principal .login .merchant > a:before {content:'';opacity:0.8;display:inline-block;vertical-align:middle;margin: -3px 0 0;width: 22px;height: 20px;background-position: -20px -20px;}
#header .header-principal .login .msg > a:before {content:'';display:inline-block;width: 20px;height: 20px;background-position: -40px -50px;vertical-align: middle;margin: -3px 0 0;opacity: 0.8;}
#header .header-principal .login .msg a:hover em {display:block;}
#header .header-principal .login .msg em {display:none;position:absolute;top:100%;margin-top: 15px;white-space: nowrap;background: #fff;line-height: 21px;padding: 10px 15px;box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.06);border-radius: 3px;left: 50%;transform: translateX(-50%);text-transform: none;color: #1B1C1D;}
#header .header-principal .login .msg em:before {content:'';border:10px solid transparent;border-bottom-color:rgba(0,0,0,0.1);position:absolute;bottom:100%;left:50%;margin-left:-10px;}
#header .header-principal .login .msg em:after {content:'';border:9px solid transparent;border-bottom-color:#fff;position:absolute;bottom:100%;left:50%;margin-left:-9px;}
#header .header-principal .login .cart a {color: #333;}
#header .header-principal .login .cart a:before {content:'';display:inline-block;vertical-align:middle;background-position:-130px -25px;width:16px;height:16px;margin: -2px 0 0 0;}
#header .header-principal .login .cart a > span:first-child {margin-left:6px;}
#header .header-principal .login .cart a .count {display:inline-block;}
#header .header-principal .login .cart a .count:before {content:'(';display:inline;}
#header .header-principal .login .cart a .count:after {content:')';display:inline;}
#header .header-principal .login .cart.empty a .count {display:none;}
#header .header-principal .login .opened > a:after {content:'';position:fixed;top:0;left:0;width:100%;height:100%;}
#header .header-principal .login .user:after {content:'';display:inline-block;opacity:0.7;margin: -1px 0 0 6px;width:8px;height:6px;background-position:-100px -75px;vertical-align:middle;}
#header .header-principal .login .user > a {padding-right:14px;margin-right: -16px;}
#header .header-principal .login .user .avatar {position:relative;display:inline-block;width:22px;height:22px;vertical-align:middle;background: no-repeat 50% 50%;border-radius:100%;background-size: cover;margin: -3px 2px 0 0;}
#header .header-principal .login li > small {padding:7px 0;background:#fff;z-index:1;position:absolute;top: 30px;right: 0;white-space:nowrap;text-align:left;border-radius: 5px;box-shadow:0 3px 5px 2px rgba(0, 0, 0, 0.08), 0px 0 14px 1px rgba(0,0,0,0.06);margin-top: -5px;visibility: hidden;opacity: 0;transform: translateY(20px);transition: .15s ease-in-out;-webkit-transition: .15s ease-in-out;-moz-transition: .15s ease-in-out;}
#header .header-principal .login li > small a {display:block;font-size:13px;line-height:22px;font-weight:500;color: #393939;padding: 7px 20px;text-transform: none;}
#header .header-principal .login li > small a:hover {background: #f7f7f7;}
#header .header-principal .login li > small svg {vertical-align:middle;margin: -3px 8px 0 0;}
#header .header-principal .login li > small .stores a.checked:after {content:'';position:absolute;left:42px;width:20px;height:20px;background: url('../../../whitelabel/gear/images/svg/ico-check-white.svg') no-repeat 50% 50% #61C17B;background-size: 10px 8px;border-radius: 100%;top: -4px;}
#header .header-principal .login li > small .stores label {display:block;color:#A8A8AF;font-weight:500;font-size:11px;padding: 0 20px 5px;line-height: 22px;}
#header .header-principal .login li > small .stores a {padding: 11px 20px 11px 64px;position: relative;margin-bottom: 2px;}
#header .header-principal .login li > small .stores a.dashboard {padding: 7px 20px;}
#header .header-principal .login li > small .stores .avatar {width:34px;height:34px;top:50%;left:20px;border-radius: 4px;padding: 0;position: absolute;margin-top: -17px;background: no-repeat 50% 50%;background-size: cover;}
#header .header-principal .login li > small path {fill:#61C17B;}
#header .header-principal .login li > small span {display:block;padding: 13px 0;border-bottom: 1px solid #e6e7e8;}
#header .header-principal .login li > small span:last-child {border-bottom:0;}
#header .header-principal .login .user > small {min-width:205px;padding: 0;}
#header .header-principal .login li.opened > a:after {content:'';position:fixed;top:0;left:0;width:100%;height:100%;z-index: 2;}
#header .header-principal .login li.opened > small {overflow: visible;opacity: 1;visibility: visible;top: 35px;height: auto;}
#header .alertify {float:right;margin-left: 20px;}
#header .alertify .trick {position:fixed;top:0;left:0;width:100%;height:100%;display:none;}
#header .alertify li.hover .trick, #header .alertify li.hover .short-feed {display:block;}
#header .alertify .short-feed a {color: #1A1B1C;}
#header .alertify .short-feed li > span {vertical-align:middle;display:table-cell;padding: 10px 25px 10px 75px;height: 48px;}
#header .alertify .short-feed li {position:relative;font-size:13px;color:#1a1b1c;line-height:17px;display: table;width: 100%;background:#fff;transition:background 0.22s;}
#header .alertify .short-feed li.unread {background:#f9f9f9;}
#header .alertify .short-feed .empty {padding:45px 10px;line-height:18px;font-size:12px;color:#6F727E;text-align:center;background: #fff;margin-top: -51px;position: relative;border-radius: 6px;}
#header .alertify .short-feed .empty b {font-size:14px;display:block;color:#1A1B1C;line-height:19px;padding-bottom:6px;}
#header .alertify .short-feed .empty span {max-width:200px;margin:0 auto;display: block;}
#header .alertify .short-feed .loading {border: 2px solid rgba(0, 0, 0, .3);display:none;border-radius:100%;height: 14px;width: 14px;position:absolute;top:50%;left:50%;margin:-9px 0 0 -9px;animation: pulsate 1s ease-out;animation-iteration-count:infinite;-webkit-animation: pulsate 1s ease-out;-webkit-animation-iteration-count:infinite;-moz-animation: pulsate 1s ease-out;-moz-animation-iteration-count:infinite;background: none;z-index: 8;}
#header .alertify .short-feed .date {display:block;font-size: 12px;color: #6F727E;padding-top: 4px;}
#header .alertify .short-feed a {position:relative;}
#header .alertify .short-feed .avatar {position:absolute;top:0;left:0;width:100%;height:100%;}
#header .alertify .short-feed .avatar span {position:absolute;top:50%;left:15px;width:48px;height:48px;background:no-repeat 50% 50%;background-size:cover;margin-top: -24px;border-radius: 100%;}
#header .alertify .short-feed ul {max-height: 308px;overflow:auto;text-align:left;border-radius: 0 0 6px 6px;}
#header .alertify .short-feed h3 {line-height:50px;font-size: 14px;font-weight: 600;border-bottom: 1px solid rgba(112, 112, 112, .1);padding:0;}
#header .alertify .short-feed {position:absolute;top:100%;box-shadow: 0 5px 20px rgba(0,0,0,0.12), 0 0 0 1px rgba(0,0,0,0.06);background: #fff;width: 332px;border-radius: 6px;right: -23px;display: none;margin-top: -11px;}
#header .alertify .short-feed.loading {min-height:151px;}
#header .alertify .short-feed.loading > * {opacity:0;}
#header .alertify .short-feed.loading .loading {display:block;opacity:1;}
#header .alertify .short-feed:before {content:'';position:absolute;bottom:100%;right:22px;border:10px solid transparent;border-bottom-color:rgba(0,0,0,0.06);}
#header .alertify .short-feed:after {content:'';position:absolute;bottom:100%;right:23px;border:9px solid transparent;border-bottom-color:#fff;}
#header .alertify > li {float:left;position:relative;}
#header .alertify > li+li {margin-left:12px;}
#header .alertify a.activity.new:after {content:'';position:absolute;background:#3CCB83;width:6px;height:6px;border-radius:100%;left:50%;top:50%;margin: -13px 0 0 7px;}
#header .alertify a.activity span {text-indent:-1000em;display:inline-block;vertical-align:middle;background:url('../images/svg/header-notification.svg') no-repeat;width:17px;height:22px;margin-top: -3px;}
#header .alertify a.cart {position: relative;padding-left: 10px;min-width: 12px;display: inline-block;vertical-align: middle;min-height: 22px;}
#header .alertify a.cart em {position:absolute;text-indent:-1000em;top: 50%;left:0;width:22px;height:22px;background: url('../images/svg/header-cart.svg') no-repeat 50% 50%;margin-top: -11px;}
#header .alertify .empty.cart .count {display:none;}
#header .alertify a.cart .count {background:#1A1B1C;position:relative;line-height:18px;padding:0 4px;min-width:10px;text-align:center;color:#fff;border:2px solid #fff;font-size:11px;font-weight:500;border-radius: 100%;display: inline-block;vertical-align: middle;margin: -18px -2px 0 0;}
#header .cart-popup {padding:5px 0;background:#fff;position:absolute;top: 100%;right: -10px;border-radius: 5px;box-shadow: 0 4px 8px rgba(0, 0, 0, .1), 0 0 1px rgba(0,0,0,0.2);width: 340px;display: none;z-index: 3;}
#header .cart-popup ul {padding: 0 0 0 85px;}
#header .cart-popup li+li {margin-left:0;border-top: 1px solid rgba(235, 235, 235, .8);}
#header .cart-popup li {position:relative;padding:12px 0;font-size: 13px;line-height: 15px;display: block;font-family:'inter UI';}
#header .cart-popup li a {display:table;width:100%;height:60px;color: #1A1B1C;}
#header .cart-popup li img {position:absolute;top:12px;left:-73px;width: 60px;height: 60px;border-radius: 3px;background: no-repeat 50% 50%;background-size: contain;display: table-cell;}
#header .cart-popup li ._option {display:block;padding-top:2px;font-size:12px;}
#header .cart-popup li .title {max-width: 170px;display:block;color: #1A1B1C;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
#header .cart-popup li .category {font-size:11px;display: block;position: static;padding: 0;box-shadow: none;text-overflow: ellipsis;}
#header .cart-popup li .info {display:table-cell;vertical-align:middle;text-align: left;color: #636673;}
#header .cart-popup li .price {display:table-cell;vertical-align:middle;text-align:right;padding-right: 12px;}
#header .cart-popup .btn-area {padding:12px;}
#header .cart-popup .btn-area:after {content:'';clear:both;display:block;}
#header .cart-popup .btn-area a {float:left;width:49%;width:calc(50% - 5px);box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);line-height: 33px;font-size: 11px;font-weight: 400;text-transform: uppercase;border-radius: 2px;box-sizing: border-box;color: #1A1B1C;}
#header .cart-popup .btn-area a.buttons {float:right;box-shadow:none;color:#fff;}
#header .cart-popup .reciept {color:#1A1B1C;padding:12px 12px 0;font-size: 14px;line-height: 20px;border-top: 1px solid rgba(235, 235, 235, .8);}
#header .cart-popup .sub-total label {float:left;}
#header .cart-popup .sub-total .price {float:right;font-weight: 500;}
#header .cart-popup .sub-total:after {content:'';clear:both;display:block;}
#header .cart-popup .total-saving {text-align:right;color:#FF4C5F;font-weight: 600;}
#header .cart-popup .total-saving label:after {content:':';}
#header .open .cart-popup {display:block;}
#header .empty .cart-popup p {color:#777;padding:50px 12px;line-height:20px;}
#header .empty .cart-popup b {display:block;color:#000;font-size:14px;padding-bottom:4px;}
#header .empty .cart-popup a.buttons {display:block;margin:0 12px 12px;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);line-height: 33px;font-size: 11px;font-weight: 400;text-transform: uppercase;border-radius: 2px;}
#header .lang {position:relative;}
#header .lang > a {padding-right: 14px;margin-right: -14px;position: relative;z-index: 1;}
#header .lang:after {content:'';display:inline-block;opacity:0.7;margin:-2px 0 0 6px;width:8px;height:6px;background-position:-100px -75px;vertical-align:middle;}
#header .lang select {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;cursor: pointer;}
#header .header-wrapper {z-index: 1;position: relative;line-height: 74px;padding: 0;top: 0;left: 0;width: 100%;text-align:center;background:#fff;}
#header .friends {float:left;line-height: 33px;}
#header .friends li:first-child > a {padding-left:0;}
#header .friends li {float:left;position: relative;}
#header .friends a {display: inline-block;color: #333;padding:0 10px;position: relative;text-transform: uppercase;opacity: 0.7;}
#header .search {text-align:left;position:relative;float: right;z-index:2;width: 240px;}
#header .search:before {content:'';position:absolute;top: 50%;margin-top:-9px;left: 10px;width: 17px;height: 17px;background-position:-130px -45px;opacity: 0.9;z-index: 1;}
#header .search .cancel {display:none;position:absolute;top:50%;right:4px;padding:0 10px;line-height:37px;font-size:13px;color:#38424c;margin-top:-19px;}
#header .search input[type="text"], #header .search input.text {padding: 10px 10px 10px 33px;border-radius:3px;color:#333;width: 100%;font-size:13px;line-height: 17px;background: #e9ebed;text-align: left;}
#header .search input[type="text"]:focus, #header .search input.text:focus {box-shadow:none;}
#header .search .keyword {position: absolute;background: #fff;border-radius: 3px;width: 100%;box-shadow:0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.06);z-index: 1;padding: 4px 0 7px;top: 100%;left: 0;margin-top: -20px;}
#header .search .keyword .keywords a {display:block;padding:0 13px;line-height:26px;color:#38424c;}
#header .search .keyword li.hover a {background:#f7f7f7;}
#header .navigation {display:inline-block;max-width: calc(100% - 390px);}
#header .logo {float:left;}
#header .logo img {width: 109px;height: 25px;vertical-align: middle;}

@media screen and (max-width: 1170px) {
	#header .search {width:200px}
	.navigation li.more {display:table-cell;}
	.navigation li:nth-last-child(2), .navigation li:nth-last-child(3) {display:none;}
	.navigation li.more small a:nth-last-child(1), .navigation li.more small a:nth-last-child(2) {display:block;}
}
@media screen and (max-width: 1100px) {
	.navigation li:nth-last-child(4) {display:none;}
	.navigation li.more small a:nth-last-child(3) {display:block;}
}
@media screen and (max-width: 1050px) {
	.navigation li:nth-last-child(5) {display:none;}
	.navigation li.more small a:nth-last-child(4) {display:block;}
}
@media screen and (max-width: 1000px) {
	.navigation li:nth-last-child(6) {display:none;}
	.navigation li.more small a:nth-last-child(5) {display:block;}
}
@media screen and (max-width: 950px) {
	.navigation li:nth-last-child(7) {display:none;}
	.navigation li.more small a:nth-last-child(6) {display:block;}
}
@media screen and (max-width: 820px) {
	.navigation li:nth-last-child(8) {display:none;}
	.navigation li.more small a:nth-last-child(7) {display:block;}
}
@media screen and (max-width: 720px) {
	#header .m_menu:before, #header .header-principal .login .cart a:before, #header .search:after, .navigation .navigation-wrapper:after, .navigation .close_menu:after, .navigation li > a[data-submenu]:before, .navigation .dropdown dl dt a:before {background:url('../images/svg/sprite.layout.merge.svg') no-repeat;background-size:200px 200px;}
	#header:after {content:'';position:absolute;top:0;left: 0;background: rgba(55, 65, 76, .2);transition:0s visibility 0.3s, opacity 0.3s;-webkit-transition:0s visibility 0.3s, opacity 0.3s;-moz-transition:0s visibility 0.3s, opacity 0.3s;width: 100%;height:100%;z-index: 12;opacity: 0;visibility: hidden;}
	#header .header-info {font-size:14px;line-height:17px;}
	#header .header-info p {padding:9px 0;}
	#header .header-wrapper {line-height: 45px;}
	#header .logo img {height: 16px;}
	#header .m_menu {float:left;margin-left:-10px;padding: 0 10px;}
	#header .m_menu:before {content:'';display:inline-block;vertical-align:middle;width: 17px;height: 14px;z-index: 11;margin-top: -3px;}
	#header .page-info .inner {padding:0;}
	#header .friends {display:none;}
	#header .header-principal {border:0;transition: 0s z-index 0.3s;-webkit-transition: 0s z-index 0.3s;-moz-transition: 0s z-index 0.3s;}
	#header .header-principal .inner:before {display:none;}
	#header .header-principal .login {position:absolute;top: 7px;right: 50px;z-index:2;}
	#header .header-principal .login li {display:none;}
	#header .header-principal .login li.cart {display:block;}
	#header .header-principal .login .cart a:before {width:23px;height:23px;background-position:-105px 0;}
	#header .header-principal .login .cart a > span:first-child {display:inline-block;vertical-align:top;margin: 0;text-indent:-1000em;}
	#header .header-principal .login .cart a .count:before, #header .header-principal .login .cart a .count:after {display:none;}
	#header .header-principal .login .cart .count {text-indent:0;border-radius:100%;font-size:10px;position:absolute;color:#fff;background:#1a1b1c;border:2px solid #fff;line-height:16px;padding:0 3px;min-width:10px;text-align:center;font-weight:600;right: -6px;top: -1px;}
	#header .search {float:right;width: 30px;min-width: 0;}
	#header .search:before {display:none;}
	#header .search:after {content:'';z-index:0;position:absolute;top:50%;right:0;width: 23px;height: 23px;margin-top: -12px;background-position:-130px 0;opacity:0.9;}
	#header .search input[type="text"], #header .search input.text {padding-right:0;opacity:0;z-index:1;position: relative;box-shadow:none;}
	#header .search .keyword {margin-top: -10px;}
	#header.search .search {right: 4px;z-index:3;width: calc(100% - 8px);position: absolute;}
	#header.search .search .cancel {display:block;}
	#header.search .search input.text, #header.search .search input[type="text"] {padding-right:10px;opacity:1;position:static;}
	#header.search .search:before {display:block;}
	#header.search .search:after {display:none;}
	#header.search .m_menu, #header.search .logo, #header.search .login {display:none;}
	#header.search .header-principal {z-index:0;}
	#header .alertify {margin-left: 10px;}
	#header .alertify li:hover .short-feed {margin-top:0;}
	#header .navigation {display:none;}
	.navigation li.user {display:block;}
	.navigation .scrolling {position: relative;left: -320px;visibility: hidden;z-index: 13;overflow: hidden;text-align:left;transition: left 0.3s, 0s visibility 0.3s;-webkit-transition: left 0.3s, 0s visibility 0.3s;-moz-transition: left 0.3s, 0s visibility 0.3s;width: 320px;background: #fff;font-size: 0;white-space: nowrap;}
	.navigation .navigation-wrapper:before {content:'';position: fixed;top: 0;width: 320px;background: #fff;height: 69px;border-bottom: 1px solid #e6e7e8;z-index: 14;left: -320px;visibility:hidden;transition: left 0.3s, 0s visibility 0.3s;-webkit-transition: left 0.3s, 0s visibility 0.3s;}
	.navigation .navigation-wrapper:after {content:'';position: fixed;top: 27px;width: 55px;background-position: -50px -4px;height: 16px;z-index: 14;left: -300px;visibility:hidden;transition: left 0.3s, 0s visibility 0.3s;-webkit-transition: left 0.3s, 0s visibility 0.3s;}
	.navigation:after {content:'';position:fixed;top:0;left:-320px;width:320px;height:100%;background:#fff;visibility:hidden;transition: left 0.3s, 0s visibility 0.3s;-webkit-transition: left 0.3s, 0s visibility 0.3s;-moz-transition: left 0.3s, 0s visibility 0.3s;z-index: 12;}
	.navigation .close_menu:before {content:'';position:fixed;top:0;left: 0;width: 100%;height:100%;z-index: 13;}
	.navigation .close_menu:after {content:'';position:fixed;top: 27px;left: -35px;width: 15px;height: 15px;background-position:-110px -65px;visibility:hidden;transition: left 0.3s, 0s visibility 0.3s;-webkit-transition: left 0.3s, 0s visibility 0.3s;z-index: 15;}
	.navigation span.hide { display: inline; }
	.navigation .menu-wrapper {width: 320px;margin-left: 0;transition: margin-left 0.3s;position: relative;z-index: 0;padding: 70px 0;display: inline-block;vertical-align: top;}
	.navigation .menu-wrapper ul:last-child li:last-child {border:0;}
	.navigation ul {padding: 0;display: block;background:#fff;}
	.navigation ul.menu {display:block;}
	.navigation ul.login:after {content:'';clear:both;display:block;}
	.navigation ul.login {padding: 15px 20px 30px;position: fixed;text-align:right;box-shadow:0 -1px 0 #e6e7e8;bottom: 0;left: -320px;z-index: 14;box-sizing: border-box;width: 320px;transition: left 0.3s, 0s visibility 0.3s;-webkit-transition: left 0.3s, 0s visibility 0.3s;-moz-transition: left 0.3s, 0s visibility 0.3s;}
	.navigation ul.login li {display:inline-block !important;vertical-align:top;border: 0;}
	.navigation ul.login li+li {margin-left: 10px;}
	.navigation ul.login li:last-child {float:left;margin:0;}
	.navigation ul.login a {font-size: 14px;line-height:25px;border-bottom:1px solid #333333;padding:0;text-transform:none;}
	.navigation ul.login a:last-child {padding-right:0;}
	.navigation li {display: block !important;padding:0;border-bottom: 1px solid #e6e7e8;}
	.navigation .menu li.sales, .navigation .menu li.more {display:none !important;}
	.navigation .menu li {display:block;}
	.navigation li > a {font-size: 15px;line-height: 21px;padding: 15px 35px 15px 20px;transition: left 0.3s;-webkit-transition: left 0.3s;-moz-transition: left 0.3s;left: 0;text-transform: capitalize;max-width: none;white-space: normal;}
	.navigation li > a[data-submenu]:before {content:'';position:absolute;width:8px;height:14px;background-position:-130px -65px;right:20px;top:50%;margin-top:-7px;}
	.navigation li > a[data-submenu] {padding-right:20px;}
	.navigation .dropdown.show {left: 0;visibility:visible;display: inline-block;position: relative;}
	.navigation .dropdown {right:auto;top:0;opacity:0;visibility:hidden;display: block;width:320px;background:none;box-shadow: none;padding: 0;left: 320px;transition: left 0.3s;width:320px;opacity:1;}
	.navigation .dropdown dl {float:none;width:auto;padding:0;}
	.navigation .dropdown dl a {font-size: 15px;line-height: 21px;padding: 15px 35px 15px 20px;display:block;border-bottom: 1px solid #e6e7e8;text-transform: capitalize;}
	.navigation .dropdown dl dt {padding:0;}
	.navigation .dropdown dl dt a {color:#1a1b1c;font-size:18px;line-height:29px;padding: 20px;}
	.navigation .dropdown dl dt a:before {content:'';display:inline-block;vertical-align:middle;margin:-3px 11px 0 0;width:8px;height:14px;background-position:-140px -65px}
	.navigation .dropdown dl a.view-all {display:block;}
	.navigation .dropdown dl dd a:last-child {border-bottom:0;}
	.navigation .dropdown .featuredBanner {display:none;}
	.navigation.submenu .menu-wrapper {margin-left: -320px;}
	.navigation.submenu .dropdown.show dd {left:0;}
	.navigation.submenu:before, .navigation.submenu .login {left:-100%;}
	.menu #header .header-principal {z-index:0;transition: none;-webkit-transition: none;-moz-transition: none;}
	.menu #wrap > #container-wrapper {position: fixed;width:100%;top:0;left:0;height: auto !important;overflow:hidden;background: #f2f2f2;}
	.menu #header:after, .menu #container-wrapper:after {opacity:1;visibility: visible;}
	.menu .navigation {display:block;}
	.menu .navigation .navigation-wrapper:before {left:0;visibility:visible;transition: left 0.3s;-webkit-transition: left 0.3s;-moz-transition: left 0.3s;}
	.menu .navigation .navigation-wrapper:after {left:20px;visibility:visible;transition: left 0.3s;-webkit-transition: left 0.3s;-moz-transition: left 0.3s;}
	.menu .navigation .close_menu:after {left: 285px;-webkit-transition:left 0.3s;-moz-transition:left 0.3s;transition:left 0.3s;visibility:visible;}
	.menu .navigation.submenu .close_menu:after {position:absolute;}
	.menu .navigation ul.login {left:0;visibility:visible;transition: left 0.3s;-webkit-transition: left 0.3s;-moz-transition: left 0.3s;}
	.menu .navigation .scrolling {visibility:visible;left: 0;transition: left 0.3s;-webkit-transition: left 0.3s;-moz-transition: left 0.3s;}
	.menu .navigation:after {visibility:visible;left: 0;transition: left 0.3s;-webkit-transition: left 0.3s;-moz-transition: left 0.3s;}
	.menu .navigation.submenu .navigation-wrapper:before {left:-320px;z-index: 0;}
    .menu .navigation.submenu .navigation-wrapper:after {display:none;}
	.menu .navigation.submenu ul.login {left:-320px;}
	.menu .navigation.submenu .dropdown.show dl dt {left:0;}
}