@charset "UTF-8";

.figure-info .frm dt:before  {background:url("../../images/normal/things.png") no-repeat;background-size:100px 200px;}
.figure-info .price {color:#5b616d;padding: 5px 15px 8px 15px;}
.figure-info .price big {font-weight:normal;display:block;color:#383d48;font-size:13px; padding: 9px 0 0;}
.figure-info .price big b {font-size:20px;}
.figure-info .frm fieldset {border:1px solid #eaeaea;border-radius:3px;margin-bottom:15px;}
.figure-info .frm dt {position: relative;padding: 11px 12px;line-height: 18px;cursor: pointer;}
.figure-info .frm dt:before {content:'';display:inline-block;}
.figure-info .frm dt:after {content:'';position: absolute;top: 16px;right: 10px;display: block;width: 6px;height: 9px;background-position: -69px -106px;}
.figure-info .frm dt input {font-weight: bold;vertical-align: middle;margin-top: -3px;width: 150px;cursor: pointer;}
.figure-info .frm dd {display: block;position:relative;height: 0;transition: height 0.15s;-webkit-transition: height 0.15s;-moz-transition: height 0.15s;overflow: hidden;}
.figure-info .frm dd .calendar {padding:5px 10px;}
.figure-info .frm dl {border-bottom:1px solid #eaeaea;}
.figure-info .frm dl.on dd {height: 73px;border-top: 1px dotted #e3e3e3;}
.figure-info .frm dl.on dt:after {top: 18px;right: 10px;width: 9px;height: 6px;background-position: -81px -108px;}
.figure-info .frm .calendar dt:before {width: 17px;height: 17px;background-position: -68px -63px;vertical-align: middle;margin: -4px 7px 0 0;}
.figure-info .frm .calendar.on dd {height: 296px;}
.figure-info .frm .calendar .ui-widget-content {background:none;border:0;padding:0;width: 100%;}
.figure-info .frm .calendar .ui-widget-header {background:none;border:0;border-bottom:1px solid #f4f4f4;padding: 6px 0;line-height: 26px;color: #383d48;font-size: 13px;}
.figure-info .frm .calendar .ui-datepicker .ui-datepicker-prev {left:-10px;top: 50%;margin-top: -12px;}
.figure-info .frm .calendar .ui-datepicker .ui-datepicker-prev span {border-right-color:#b1b2b6}
.figure-info .frm .calendar .ui-datepicker .ui-datepicker-next {right:-10px;top: 50%;margin-top: -12px;}
.figure-info .frm .calendar .ui-datepicker .ui-datepicker-next span {border-left-color:#b1b2b6}
.figure-info .frm .calendar .ui-datepicker .ui-widget-header .ui-state-disabled {opacity:0;}
.figure-info .frm .calendar .ui-datepicker .ui-state-disabled span {display: block;line-height: 33px;color: rgb(178, 180, 185);background: #FBFBFB;box-shadow: inset 0 0 0 1px rgba(235,236,237,0.3);padding: 0;font-size: 12px;cursor: default;}
.figure-info .frm .calendar .ui-datepicker th {font-weight:normal;font-size:11px;padding:1px;height: 32px;vertical-align: middle;color:#8a8f9c;opacity:0.8;}
.figure-info .frm .calendar .ui-datepicker td {font-size:12px;padding:1px;vertical-align: middle;width: 32px;font-weight: bold;}
.figure-info .frm .calendar .ui-datepicker td:first-child {padding-left:0;}
.figure-info .frm .calendar .ui-datepicker td:last-child {padding-right:0;}
.figure-info .frm .calendar .ui-datepicker td a, .figure-info .frm .calendar .ui-datepicker td span {display:block;line-height: 33px;color:rgba(82,87,97,0.7);background:#f0f1f2;box-shadow:inset 0 0 0 1px rgba(235,236,237,0.3);padding: 0;font-size: 12px;}
.figure-info .frm .calendar .ui-datepicker td a:hover, .figure-info .frm .calendar .ui-datepicker td .ui-state-active {background:#4f5e6e;color:#fff;box-shadow:none;}
.figure-info .frm .calendar .ui-datepicker td .ui-state-during:hover, .figure-info .frm .calendar .ui-datepicker td .ui-state-during {background:#87929d;box-shadow:2px 0 0 #87929d, -2px 0 0 #87929d;color:#fff;}
.figure-info .frm .calendar .ui-datepicker td:first-child .ui-state-during, .figure-info .frm .calendar .ui-datepicker td:first-child .ui-state-during:hover {box-shadow:2px 0 0 #87929d;}
.figure-info .frm .calendar .ui-datepicker td:last-child .ui-state-during, .figure-info .frm .calendar .ui-datepicker td:last-child .ui-state-during:hover {box-shadow:-2px 0 0 #87929d;}
.figure-info .frm .calendar .ui-datepicker td.ui-datepicker-other-month span, .figure-info .frm .calendar .ui-datepicker td.ui-datepicker-other-month a{color:#dee0e3;background:none;box-shadow:none;}
.figure-info .frm .calendar .ui-datepicker-year {display:none;}
.figure-info .frm .people dt:before {width: 17px;height: 12px;background-position: -47px -92px;vertical-align: middle;margin: -2px 7px 0 0;}
.figure-info .frm .people {border:0;}
.figure-info .frm .people dd:before {content:'';position:absolute;left:50%;top:0;width:1px;height:100%;border-left:1px dotted #e3e3e3;}
.figure-info .frm .people p {float:left;padding: 10px 0;width: 50%;}
.figure-info .frm .people b {display:block;text-align:center;padding-bottom: 5px;opacity: 0.8;font-weight: normal;}
.figure-info .frm .people .trick-select {display:block;width: 70px;margin: 0 auto;}
.figure-info .frm .people dt .trick-select {display:inline-block;width:auto;position:relative;overflow:hidden;vertical-align:middle;margin-top: -2px;line-height: 18px;font-weight: normal;}
.figure-info .frm .people dt .trick-select input {position:absolute;top: 2px;left: 0px;width:100%;height:100%;padding: 0;border: 0;background:none;font-weight: normal;}
.figure-info .frm .people dt .trick-select input:focus {background:none !important;}
.figure-info .frm .people dt .trick-select small {font-size:13px;opacity:0;}

.hotel-description .description.show {max-height:380px;overflow:auto;padding:0 15px;margin:15px 0;}
.hotel-description .description.show .more {display:none;}
.hotel-description .description {position:relative;font-size:13px;line-height:19px;color:#383d48;max-height: 160px;overflow: hidden;padding: 0 15px 15px;margin:15px 0 0;}
.hotel-description .description p {font-size:13px;line-height:19px;color:#383d48;padding-bottom:19px;}
.hotel-description .description .more {text-align: center;line-height: 26px;position: absolute;bottom: 0;left: 0;width: 100%;height: 28px;background: #fff;border-radius: 0 0 4px 4px;}
.hotel-description .description .more:before {content: '';position: absolute;bottom: 100%;margin-bottom: -2px;width: 100%;height: 60px;left: 0;background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));background: -ms-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));background: -o-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));}
.hotel-description .description .more span {display:inline-block;width:4px;height:4px;text-indent:-1000em;vertical-align:middle;position:relative;background:#bfc2c5;border-radius:100%;}
.hotel-description .description .more span:before, .hotel-description .description .more span:after {content:'';position:absolute;width:4px;height:4px;text-indent:-1000em;background:#bfc2c5;border-radius:100%;left: -7px;}
.hotel-description .description .more span:after {left:auto;right:-7px;}
