.customer-review .review .success:before, .customer-review .review .survey a, .review_list li .rating, .review_list li .rating i, .popup.review-orders .rating .value, .popup.review-orders .rating .value small, .popup.review-orders .rating .value, .popup.review-orders .rating .value small {
  background: url("../../images/normal/thing_overlay.png") no-repeat;
  background-size: 100px 100px;
}

.customer-review .rating .value, .customer-review .rating small {
  background: url("../../images/svg/star-review.svg") repeat-x;
}

.customer-review h3 {
  font-size: 15px;
  padding: 17px 20px;
  line-height: 21px;
  color: #383d48;
}

.customer-review a.add {
  position: absolute;
  right: 0;
  top: 0;
  color: #4978b3;
  font-size: 12px;
  padding: 11px 15px 9px;
  line-height: 20px;
}

.customer-review a.more {
  display: block;
  clear: both;
  border-top: 1px solid #f4f5f6;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 51px;
  color: #383d48;
}

.customer-review li {
  position: relative;
  border-top: 1px solid #f4f5f6;
  padding-bottom: 17px;
}

.customer-review li.loading {
  padding: 20px 0;
}

.customer-review li.loading:before {
  content: '';
  display: block;
  margin: 0 auto;
  border: 2px solid #949597;
  border-radius: 100% !important;
  height: 20px;
  opacity: 1;
  width: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 0;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
}

.customer-review li:after {
  content: '';
  clear: both;
  display: block;
}

.customer-review .review {
  padding: 14px 20px 0;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.customer-review .review .title {
  font-weight: bold;
}

.customer-review .review .option {
  color: #8a8f9c;
}

.customer-review .review .description {
  padding-top: 12px;
  font-size: 14px;
  line-height: 20px;
}

.customer-review .review .survey {
  display: none;
  font-size: 11px;
  color: #8a8f9c;
}

.customer-review .review .survey a {
  display: inline-block;
  vertical-align: middle;
  margin: -3px -1px 0;
  width: 12px;
  height: 11px;
  text-indent: -1000em;
  opacity: 0.4;
}

.customer-review .review .survey a:hover {
  opacity: 0.8;
}

.customer-review .review .survey a.unlike {
  background-position: -75px 0;
}

.customer-review .review .survey a.like {
  margin-left: 5px;
  background-position: -60px 0;
}

.customer-review .review .success {
  padding: 12px 0 0;
  font-size: 11px;
  color: #3d873d;
}

.customer-review .review .success:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  margin: -3px 7px 0 0;
  background-position: -90px 0;
}

.customer-review .rating {
  padding: 14px 20px 0 0;
  font-size: 13px;
  line-height: 20px;
  float: right;
}

.customer-review .rating .date {
  font-weight: 500;
  color: #8a8f9c;
  float: right;
}

.customer-review .rating .value {
  float: right;
  width: 75px;
  height: 12px;
  margin: 3px 0 0 18px;
  background-position: 0 0;
}

.customer-review .rating .value small {
  display: block;
  height: 100%;
  background-position: 0 -15px;
}

.customer-review #infscr-loading {
  clear: both;
  position: relative;
  padding: 15px 0;
  text-align: center;
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  border-top: 1px solid #f4f5f6;
}

.customer-review #infscr-loading:before {
  content: '';
  display: block;
  margin: 0 auto;
  border: 2px solid #949597;
  border-radius: 100% !important;
  height: 20px;
  opacity: 1;
  width: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 0;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-out;
  -moz-animation-iteration-count: infinite;
}

#popup_container.customer-review .popup.customer-review, #popup_container.review-orders .popup.review-orders {
  display: block;
}

.popup.customer-review {
  width: 648px;
  background: #fff;
  border-radius: 3px;
}

.popup.customer-review .total-range {
  color: #8a8f9c;
  font-size: 12px;
  line-height: 18px;
  padding: 15px 14px;
}

.popup.customer-review .total-range b {
  color: #383d48;
}

.popup.customer-review ul {
  max-height: 550px;
  overflow: auto;
}

.review_list {
  padding: 15px;
}

.review_list dd {
  border: 1px solid #e6e6e8;
  border-top: 0;
  border-radius: 0 0 3px 3px;
}

.review_list dt {
  background: -o-linear-gradient(top, #fcfcfc, #f5f5f5);
  border: 1px solid #e6e6e8;
  border-radius: 3px 3px 0 0;
  border-bottom-color: #dadbdc;
  font-weight: bold;
  line-height: 34px;
  padding: 0 12px;
  color: #5e626e;
}

.review_list li {
  display: table;
  width: 100%;
  height: 104px;
}

.review_list li:nth-child(even) {
  background: #f6f7f8;
}

.review_list li .items {
  display: table-cell;
  vertical-align: middle;
  padding: 12px 12px 12px 104px;
  position: relative;
}

.review_list li .figure {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 80px;
  height: 80px;
  border-radius: 3px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.review_list li .date {
  display: table-cell;
  text-align: right;
  padding-right: 15px;
  color: #4f5764;
  vertical-align: middle;
}

.review_list li .title {
  color: #4f5764;
}

.review_list li .rating {
  display: block;
  width: 76px;
  height: 15px;
  background-position: 0 -40px;
  margin-top: 7px;
}

.review_list li .rating i {
  display: block;
  height: 100%;
  width: 0;
  background-position: 0 -25px;
}

.review_list .pagination {
  position: relative;
  clear: both;
  text-align: center;
  padding-top: 17px;
}

.review_list .pagination a {
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
  background: #f9f9fa;
  background: -o-linear-gradient(top, #ffffff, #f9f9fa);
  background-image: -ms-linear-gradient(#ffffff, #f9f9fa);
  font-size: 12px;
  font-weight: bold;
  line-height: 27px;
  color: #717882;
  padding: 0 9px;
  min-width: 9px;
  text-align: center;
  border: 1px solid #d2d3d6;
  border-bottom-color: #c3c5c9;
  border-radius: 3px;
  text-shadow: none;
}

.review_list .pagination a:hover {
  text-decoration: none;
  border-color: #C7C8C9;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}

.review_list .pagination a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#FFF));
  background: linear-gradient(#F0F0F0, #FFF);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  border-color: #C2C2C2 #C2C2C2 #CCC;
}

.review_list .pagination a.current, .review_list .pagination a.current:hover, .review_list .pagination a.current:active {
  border-color: #e8e8e8;
  color: #4f5764;
  background: #fff;
}

.review_list .pagination a.prev, .review_list .pagination a.next {
  padding: 0 10px;
  position: relative;
}

.review_list .pagination a.prev.disabled, .review_list .pagination a.next.disabled {
  display: none;
}

.review_list .pagination a.prev {
  float: left;
}

.review_list .pagination a.next {
  float: right;
}

.popup.review-orders {
  width: 542px;
  background: #fff;
  border-radius: 3px;
}

.popup.review-orders .btn-area {
  text-align: right;
  border-top: 1px solid #f1f1f2;
  padding: 15px;
}

.popup.review-orders button {
  font-size: 12px;
  line-height: 30px;
  margin: 0 0 0 4px;
}

.popup.review-orders fieldset {
  padding: 0 15px 15px;
}

.popup.review-orders fieldset p {
  clear: both;
  position: relative;
  padding: 11px 0 0;
  font-size: 12px;
  color: #8a8f9c;
}

.popup.review-orders fieldset p.rating {
  float: left;
  width: 249px;
}

.popup.review-orders fieldset p.picture {
  clear: none;
  float: right;
  width: 249px;
}

.popup.review-orders .label {
  display: block;
  color: #48505d;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 6px;
}

.popup.review-orders .label .tooltip {
  position: relative;
  display: inline-block;
  color: #9296a3;
  font-size: 11px;
  font-weight: normal;
  border-bottom: 1px dotted #9296a3;
}

.popup.review-orders .label .tooltip em {
  display: none;
  position: absolute;
  color: #fff;
  background: #2c3239;
  border-radius: 3px;
  padding: 10px;
  width: 160px;
  font-size: 12px;
  line-height: 16px;
  left: 50%;
  margin-left: -90px;
  bottom: 20px;
}

.popup.review-orders .label .tooltip em b {
  display: block;
  padding-bottom: 6px;
}

.popup.review-orders .label .tooltip em:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  border: 5px solid transparent;
  border-top-color: #2c3239;
  margin-left: -5px;
}

.popup.review-orders .label .tooltip:hover em {
  display: block;
}

.popup.review-orders .text {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #f8f8f8;
  width: 496px;
  color: #4c5361;
}

.popup.review-orders .upload {
  display: block;
  background: #f8f8f8;
  position: relative;
  border: 1px solid #D9DBDE;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.popup.review-orders .upload .btns-white {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  border-right: 1px solid #D9DBDE;
  border-radius: 3px 0 0 3px;
  margin: 0;
  line-height: 29px;
  margin-right: 8px;
}

.popup.review-orders .upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.popup.review-orders textarea.text {
  height: 99px;
}

.popup.review-orders .item {
  position: relative;
  margin: 15px 15px 0;
  height: 70px;
  font-size: 13px;
  line-height: 18px;
  -webkit-box-shadow: inset 0 0 0 1px #edeeef;
          box-shadow: inset 0 0 0 1px #edeeef;
  border-radius: 3px;
  display: table;
  width: 512px;
}

.popup.review-orders .item .tit {
  display: table-cell;
  padding: 0 0 0 85px;
  vertical-align: middle;
}

.popup.review-orders .item .tit a {
  color: #8a8f9c;
}

.popup.review-orders .item .tit b {
  color: #373d48;
  display: block;
}

.popup.review-orders .item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px 0 0 3px;
}

.popup.review-orders .item .price {
  display: table-cell;
  font-weight: bold;
  padding: 0 15px 18px 0;
  text-align: right;
  vertical-align: middle;
}

.popup.review-orders .rating .value {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  height: 15px;
  margin: 6px 2px 10px 10px;
  background-position: 0 -40px;
}

.popup.review-orders .rating .value small {
  display: block;
  height: 100%;
  background-position: 0 -25px;
}

.popup.review-orders .rating:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: inset 0 0 0 1px #D9DBDE;
          box-shadow: inset 0 0 0 1px #D9DBDE;
  border-radius: 3px;
  height: 31px;
  font-size: 12px;
  color: #8a8f9c;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .customer-review .review .success:before, .customer-review .review .survey a, .review_list li .rating, .review_list li .rating i, .popup.review-orders .rating .value, .popup.review-orders .rating .value small, .popup.review-orders .rating .value, .popup.review-orders .rating .value small {
    background-image: url("../../images/retina/thing_overlay.png");
  }
}
/*# sourceMappingURL=reviews.css.map */