#popup_container.redeem-giftcard .popup.redeem-giftcard {display:block;}
.popup.redeem-giftcard {width:560px;background: #fff;border-radius: 3px;}
.popup.redeem-giftcard h3:after {content:'';width: 835px;height: 946px;background:url('../../images/svg/landing-mask.svg') no-repeat;background-size:contain;left: 40px;bottom: 60%;opacity:0.1;position: absolute;}
.popup.redeem-giftcard h3:before {content:'';display:block;width: 100px;height: 28px;opacity:0.7;background: url('../../images/svg//gear_logo-white.svg') no-repeat -54px -12px;background-size: 153px;margin: 0 auto 12px;}
.popup.redeem-giftcard h3 {text-align:center;background:#3CCB83;color: #fff;font-weight: 400;border-radius: 4px 4px 0 0;position: relative;overflow: hidden;padding: 52px 0 38px;}
.popup.redeem-giftcard h3 b {font-weight:400;font-size:61px;line-height: 81px;display: block;}
.popup.redeem-giftcard h3 small {display:block;font-size:16px;font-weight:500;color:#C3F4DB;padding: 6px 0 0;}
.popup.redeem-giftcard .ly-close {position:absolute;right: -24px;top: -24px;padding: 0;width: 48px;border: 0;height: 48px;background: url("../../images/svg/article_close.svg") no-repeat 50% 50%;z-index: 1;text-indent: -1000em;}
.popup.redeem-giftcard .ly-close:before {display:none;}
.popup.redeem-giftcard .btn-cancel {color: #898989;display:block;width:100%;background:none;line-height: 18px;padding: 9px 0;margin-top: 20px;}
.popup.redeem-giftcard .terms {padding: 0 0 27px;max-width:470px;margin:0 auto;}
.popup.redeem-giftcard .terms label {display:inline-block;vertical-align:top;width:calc(100% - 25px);color: #898989;font-size: 13px;line-height: 22px;}
.popup.redeem-giftcard .terms a {text-decoration:underline;color: #1A1B1C;}
.popup.redeem-giftcard input[type="checkbox"] {vertical-align:top;margin:3px 4px 0 0}
.popup.redeem-giftcard input:not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]) {width:100%;display:block;padding: 12px;}
.popup.redeem-giftcard input:not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]):focus {background:#fff;box-shadow:0 0 0 2px rgba(59, 202, 130, .6);}
.popup.redeem-giftcard fieldset {padding: 35px 20px;max-width:470px;margin:0 auto;}
.popup.redeem-giftcard fieldset p {padding-bottom: 15px;}
.popup.redeem-giftcard fieldset .fst-name {float:left;width: 49%;width: calc(50% - 7px);}
.popup.redeem-giftcard fieldset .lst-name {float:right;width:49%;width: calc(50% - 7px);}
.popup.redeem-giftcard fieldset .email {clear:both;}
.popup.redeem-giftcard .buttons {display:block;width:100%;}