.popup.add_collection_item li .title:before {background:url("../../../_ui/images/normal/ico-affliate.png") no-repeat;background-size: 200px 200px;}
#popup_container.add_collection_item .popup.add_collection_item {display:block;}
#popup_container .popup.add_collection_item {width:940px;background:#fff;border-radius:3px;}
.popup.add_collection_item .search {position:relative;border-bottom:1px solid #e8e9e9;padding: 15px 15px 0;}
.popup.add_collection_item .search:after {content:'';clear:both;display:block;}
.popup.add_collection_item .search input {width: 100%;}
.popup.add_collection_item .search .data-frm {padding:0;}
.popup.add_collection_item .checking {float:right;padding: 13px 0;font-size: 13px;color: #595e66;line-height: 19px;}
.popup.add_collection_item .checking a {color: #595e66;}
.popup.add_collection_item .checking a:before {content:'·';margin-right:4px;}
.popup.add_collection_item .checking a:first-child:before {display:none;}
.popup.add_collection_item .refine {float:left;}
.popup.add_collection_item .refine .category dt {padding-left:0;}
.popup.add_collection_item .refine .price dt {Font-weight:bold;}
.popup.add_collection_item .refine dl {float:left;position:relative;}
.popup.add_collection_item dd {display:none;position: absolute;z-index: 2;background: #fff;padding: 0 13px 13px;top: 100%;box-shadow: 0 0 0 1px rgba(0,0,0,0.12), 0 2px 8px rgba(0,0,0,0.09);border-radius: 3px;width: 203px;left: 50%;margin-left: -114px;}
.popup.add_collection_item dd:before {content:'';position:absolute;bottom:100%;left:50%;border: 9px solid transparent;border-bottom-color:rgba(0,0,0,0.12);margin-left: -5px;}
.popup.add_collection_item dd:after {content:'';position:absolute;bottom:100%;left:50%;border: 8px solid transparent;border-bottom-color:#fff;margin-left: -4px;}
.popup.add_collection_item .label {display:block;padding:10px 0;line-height:17px;font-size:12px;font-weight:bold;position: relative;}
.popup.add_collection_item .keyword input {width:100%;}
.popup.add_collection_item .price dd {left:50px}
.popup.add_collection_item .price dd .amount {position:absolute;color:#7c818d;font-size:11px;right:13px;line-height:17px;top:10px;}
.popup.add_collection_item .price fieldset {border:1px solid #e4e5e5;border-radius:3px;background:#fcfcfc;height: 4px;margin: 8px 0 7px 0;overflow: visible;padding: 0 16px 0 0;position: relative;}
.popup.add_collection_item .refine .opened dd {display:block;}
.popup.add_collection_item .refine .opened .trick {position:fixed;top:0;left:0;width:100%;height:100%;}
.popup.add_collection_item .refine dt {padding: 13px 10px;font-size: 13px;color: #595e66;line-height:19px;position:relative;cursor: pointer;}
.popup.add_collection_item .refine dt:after {content:'';display:inline-block;vertical-align:middle;margin: 3px 0 0 3px;opacity: 0.7;border:4px solid transparent;border-top-color:#595e66;}
.popup.add_collection_item .refine dt select {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;padding:0;}
.popup.add_collection_item .price .ui-widget-content {position:relative;height: 4px;border: 0;background: none;}
.popup.add_collection_item .price .ui-widget-header {background:#3e8bd3;box-shadow: 0 0 0 1px #4184c2;height: 4px;border: 0;position: relative;}
.popup.add_collection_item .price .ui-state-default {width:16px;height:16px;background:#fff;border-radius:100%;box-shadow:0 0 0 1px rgba(0,0,0,0.15);position: absolute;top: 50%;margin-top: -8px;margin-left: -2px;}
.popup.add_collection_item .price .ui-state-default:nth-of-type(2) {margin-left: 1px;}
.popup.add_collection_item ul {padding:0 15px 15px 0;height: 395px;overflow: auto;}
.popup.add_collection_item ul:after {content:'';clear:both;display:block;}
.popup.add_collection_item li a {color: #8a8f9c;display: block;position: relative;}
.popup.add_collection_item li {float:left;width:19%;width:calc(20% - 15px);margin:15px 0 0 15px;font-size:11px;color: #8a8f9c;line-height: 18px;position: relative;}
.popup.add_collection_item li a:before {content:'';position:absolute;top:0;left:0;width:100%;height: 107px;background:#000;opacity:0.15;border-radius: 3px;height: calc(100% - 46px);height: -moz-calc(100% - 46px);height: -webkit-calc(100% - 46px);}
.popup.add_collection_item li small, .popup.add_collection_item li .sku {position:relative;z-index:1;}
.popup.add_collection_item li .sku:before {content:'·';margin-right:4px;}
.popup.add_collection_item img {width:100%;background:no-repeat 50% 50%;background-size:cover;border-radius:3px;display: block;margin-bottom: 10px;}
.popup.add_collection_item b {font-size:12px;white-space:nowrap;display:block;overflow:hidden;color: #4d525d;position: relative;z-index: 1;}
.popup.add_collection_item b:after {content: '';position: absolute;top: 0;right: 0;width: 30%;height: 100%;background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);pointer-events: none;}
.popup.add_collection_item li .title:before {content:'';position:absolute;top: 10px;right: 10px;border: 0;box-shadow: none;width: 20px;height: 20px;background-position: -64px 0;}
.popup.add_collection_item li.selected .title:before {background-position:-41px 0;}
.popup.add_collection_item li.selected a:before {background:#2184dc;opacity:0.7;}
.popup.add_collection_item .empty {text-align:center;font-size: 18px;color: #505b67;padding: 193px 0;line-height: 24px;opacity: 0.5;float:none;width:auto;}


@media screen and (-webkit-min-device-pixel-ratio:2){
	.popup.add_collection_item li .title:before {background-image:url("../../../_ui/images/retina/ico-affliate.png");}
}
