.affliate .figure-item a.btn-delete .icon, .popup.add_affiliate_products .btn-reset:before {background:url("../../../_ui/images/normal/seller.png") no-repeat;background-size:250px 250px;}
.affliate .empty p:before, .affliate .title .controller .refine:before, .popup.add_affiliate_products li:after, .affliate .empty-result p:before {background:url('../../../_ui/images/normal/ico-affliate.png') no-repeat;background-size:200px 200px;}

.affliate div.title {border-radius: 3px;margin-bottom:18px;background: #EEEFF0;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f6', endColorstr='#EEEFF0', GradientType=0);background: -webkit-gradient(linear,left top,left bottom,from(#F4F5F6),to(#EEEFF0));background: -webkit-linear-gradient(top,#F4F5F6,#EEEFF0);background: -moz-linear-gradient(top,#f4f5f6,#eeeff0);background: -o-linear-gradient(top,#f4f5f6,#eeeff0);background: linear-gradient(top,#f4f5f6,#eeeff0);box-shadow: 0 1px 0px 0px rgb(208, 209, 213), 0 0px 0px 1px rgba(220, 221, 224, 0.85);-webkit-box-shadow: 0 1px 0px 0px rgb(208, 209, 213), 0 0px 0px 1px rgba(220, 221, 224, 0.85);-moz-box-shadow: 0 1px 0px 0px rgb(208, 209, 213), 0 0px 0px 1px rgba(220, 221, 224, 0.85);position: relative;height: 80px;overflow: hidden;}
.affliate .title .ptit {box-shadow:none;margin: 0;border-radius: 0;border-bottom: 1px solid rgba(211, 211, 212, 0.5);position: relative;z-index: 1;}
.affliate .title .ptit b {color:#3e4147;}
.affliate .title .controller {top:7px;z-index: 1;}
.affliate .title .controller li {float:left;}
.affliate .title .controller li+li {margin-left:7px;}
.affliate .title .controller .refine:before {content:'';width:11px;height:11px;background-position:-11px -4px;display:inline-block;vertical-align:middle;margin:-3px 6px 0 0;}
.affliate .title .count {padding: 0 17px;font-size:12px;color:#595e66;line-height: 34px;display: block;}
.affliate .title .refine-wrap {height: 68px;position: relative;z-index: 0;transition: 0.22s;-webkit-transition: 0.22s;top: 0;}
.affliate .title .search {padding:0 7px;}
.affliate .title .search:after {content:'';clear:both;display:block;}
.affliate .title .search select {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.affliate .title .search dl {float:left;position: relative;}
.affliate .title .search dt {position:relative;cursor:pointer;font-size:12px;color:#595e66;padding:7px 10px;line-height:20px;}
.affliate .title .search dt:after {content:'';display:inline-block;border:4px solid transparent;border-top-color:#969a9f;vertical-align:middle;margin: 4px 0 0 4px;}
.affliate .title .search dd {display:none;position: absolute;z-index: 2;background: #fff;padding: 0 13px 13px;top: 100%;box-shadow: 0 0 0 1px rgba(0,0,0,0.12), 0 2px 8px rgba(0,0,0,0.09);border-radius: 3px;width: 203px;left: 50%;margin-left: -114px;}
.affliate .title .search dd:before {content:'';position:absolute;bottom:100%;left:50%;border: 9px solid transparent;border-bottom-color:rgba(0,0,0,0.12);margin-left: -5px;}
.affliate .title .search dd:after {content:'';position:absolute;bottom:100%;left:50%;border: 8px solid transparent;border-bottom-color:#fff;margin-left: -4px;}
.affliate .title .search .label {display:block;padding:10px 0;line-height:17px;font-size:12px;font-weight:bold;}
.affliate .title .search .opened dd {display:block;}
.affliate .title .search .opened .trick {position:fixed;top:0;left:0;width:100%;height:100%;}
.affliate .title .search .opened dt:before {content:'';position:fixed;top:0;left:0;width:100%;height:100%;}
.affliate .title .search .keyword input {width:100%;}
.affliate .title .search .keyword {position:relative;}
.affliate .title .search .bold {font-weight:bold;}
.affliate .title .search .price .label {float:left;}
.affliate .title .search .price dd .amount {float: right;color:#7c818d;font-size:11px;line-height:17px;padding: 10px 0 5px;}
.affliate .title .search .price fieldset {border:1px solid #e4e5e5;border-radius:3px;background:#fcfcfc;height: 4px;margin: 8px 0 7px 0;overflow: visible;padding: 0 16px 0 0;position: relative;clear: both;}
.affliate .title .search .price .ui-widget-content {position:relative;height: 4px;border: 0;background: none;}
.affliate .title .search .price .ui-widget-header {background:#3e8bd3;box-shadow: 0 0 0 1px #4184c2;height: 4px;border: 0;position: relative;}
.affliate .title .search .price .ui-state-default {width:16px;height:16px;background:#fff;border-radius:100%;box-shadow:0 0 0 1px rgba(0,0,0,0.15);position: absolute;top: 50%;margin-top: -8px;margin-left: -2px;}
.affliate .title .search .price .ui-state-default:nth-of-type(2) {margin-left: 1px;}
.affliate .title .search .btn-reset {float:left;display:block;padding: 13px 10px;font-size: 12px;color: #595e66;line-height:19px;position:relative;}
.affliate .title .search .remove {position:absolute;right: 5px;top:50%;color: #fff;width:20px;height:20px;text-indent:-1000em;background: rgba(0, 0, 0, 0.17);border-radius: 100%;font-weight: bold;font-size: 11px;text-align: center;margin-top: -10px;}
.affliate .title .search .remove:before {content:'X';position:absolute;top:0;left:0;width:100%;text-indent:0;line-height:20px;}
.affliate .title .search .btn-reset {float:left;padding: 7px 8px;line-height:20px;font-size: 12px;color:#595e66;}
.affliate .figure-item {padding:0;}
.affliate .figure-item > figcaption {padding:0;}
.affliate .figure-item > figcaption .title {padding:12px 10px;line-height:21px;display:block;border-bottom:1px solid #f2f2f2;font-size:12px;font-weight:bold;position: relative;}
.affliate .figure-item > figcaption .figure-detail {display:block;line-height:17px;padding:10px;color:#8a8f9c;font-size:12px;overflow: visible;}
.affliate .figure-item > figcaption .figure-detail:after {display:none;}
.affliate .figure-item > figcaption .price {position:absolute;bottom: 50px;right:10px;line-height:23px;padding:0 7px;color:#8a8f9c;border: 1px solid rgba(138, 143, 156, 0.24);border-radius:3px;font-weight:bold;background: #fff;}
.affliate .figure-item > figcaption .price:after {content: '';position: absolute;top: 0;right: 100%;width: 100px;height: 100%;background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);pointer-events: none;margin-right: 1px;}
.affliate .figure-item a.btn-delete {background: #fff;box-shadow: 0 1px 2px rgba(0,0,0,0.01),0 0 0 1px rgba(0,0,0,0.15);font-size: 12px;color: #74797d;line-height: 29px;border: 0;height: auto;margin: 0;border-radius: 2px;font-weight: bold;position: relative;display: inline-block;width: 29px;text-align: center;opacity:0;}
.affliate .figure-item a.btn-delete .icon {display:inline-block;width:9px;height:11px;background-position:-50px -120px;vertical-align:middle;margin-top:-3px;}
.affliate .figure-item:hover a.btn-delete {opacity:1;}
.affliate .empty {padding: 118px 0;background: #FFF;border-radius: 3px;-moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.015), 0 0 0 1px #DBDBDC;box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);text-align: center;position: relative;}
.affliate .empty p {color: #838891;font-size:14px;line-height: 22px;max-width: 400px;margin: 0 auto;}
.affliate .empty p:before {content:'';display:block;width: 55px;height: 49px;background-position: -66px -32px;margin: 0 auto 41px;}
.affliate .empty b {font-size: 18px;color: #393d4d;font-weight: bold;padding-bottom: 8px;display: block;}
.affliate .empty .btn-add {position: absolute;top: -92px;right: 8px;padding: 0 15px;color: #fff;}
.affliate .empty-result {padding:185px 0;}
.affliate .empty-result p {color: #838891;font-size: 16px;line-height: 22px;max-width: 400px;margin: 0 auto;text-align: center;}
.affliate .empty-result p:before {content:'';display:block;width: 55px;height: 49px;background-position: 0 -31px;margin: 0 auto 26px;}
.affliate .pagination4 {padding:0 0 20px;}
.affliate .pagination4 a {margin:0 2px;}
.affliate .pagination4 a.prev {margin-left:0;}
.affliate .pagination4 a.next {margin-right:0;}
.affliate.refine .title .refine {border: 1px solid #D3D5DA;background: #F0F0F1;}
.affliate.refine .title .refine-wrap {margin-top: -34px;}
.affliate.refine .title.show {overflow:visible;z-index:2;}

#popup_container.add_affiliate_products .popup.add_affiliate_products {display:block;}
#popup_container .popup.add_affiliate_products {width:940px;background:#fff;border-radius:3px;}
.popup.add_affiliate_products .search {position:relative;border-bottom:1px solid #e8e9e9;padding: 15px 15px 0;}
.popup.add_affiliate_products .search .sort {position:absolute;top:15px;right:15px;width:153px;}
.popup.add_affiliate_products .search:after {content:'';clear:both;display:block;}
.popup.add_affiliate_products .search input {width:70%;display:block;width:calc(100% - 163px);}
.popup.add_affiliate_products .checking {float:right;padding: 13px 0;font-size: 12px;color: #595e66;line-height: 19px;}
.popup.add_affiliate_products .checking a {color: #595e66;}
.popup.add_affiliate_products .checking a:before {content:'·';margin-right:4px;}
.popup.add_affiliate_products .checking a:first-child:before {display:none;}
.popup.add_affiliate_products .refine {float:left;}
.popup.add_affiliate_products .refine .category dt {padding-left:0;}
.popup.add_affiliate_products .refine .bold {Font-weight:bold;}
.popup.add_affiliate_products .refine dl {float:left;position:relative;}
.popup.add_affiliate_products dd {display:none;position: absolute;z-index: 2;background: #fff;padding: 0 13px 13px;top: 100%;box-shadow: 0 0 0 1px rgba(0,0,0,0.12), 0 2px 8px rgba(0,0,0,0.09);border-radius: 3px;width: 203px;left: 50%;margin-left: -114px;}
.popup.add_affiliate_products dd:before {content:'';position:absolute;bottom:100%;left:50%;border: 9px solid transparent;border-bottom-color:rgba(0,0,0,0.12);margin-left: -5px;}
.popup.add_affiliate_products dd:after {content:'';position:absolute;bottom:100%;left:50%;border: 8px solid transparent;border-bottom-color:#fff;margin-left: -4px;}
.popup.add_affiliate_products .label {display:block;padding:10px 0;line-height:17px;font-size:12px;font-weight:bold;}
.popup.add_affiliate_products .keyword input {width:100%;}
.popup.add_affiliate_products .price dd .amount {position:absolute;color:#7c818d;font-size:11px;right:13px;line-height:17px;top:10px;}
.popup.add_affiliate_products .price fieldset {border:1px solid #e4e5e5;border-radius:3px;background:#fcfcfc;height: 4px;margin: 8px 0 7px 0;overflow: visible;padding: 0 16px 0 0;position: relative;}
.popup.add_affiliate_products .refine .opened dd {display:block;}
.popup.add_affiliate_products .refine .opened .trick {position:fixed;top:0;left:0;width:100%;height:100%;}
.popup.add_affiliate_products .refine dt {padding: 13px 10px;font-size: 12px;color: #595e66;line-height:19px;position:relative;}
.popup.add_affiliate_products .refine dt:after {content:'';display:inline-block;vertical-align:middle;margin: 0px 0 0 6px;opacity: 0.7;border:4px solid transparent;border-top-color:#595e66;}
.popup.add_affiliate_products .refine dt select {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;padding:0;}
.popup.add_affiliate_products .btn-reset {float:left;display:block;padding: 13px 10px;font-size: 12px;color: #595e66;line-height:19px;position:relative;}
.popup.add_affiliate_products .price .ui-widget-content {position:relative;height: 4px;border: 0;background: none;}
.popup.add_affiliate_products .price .ui-widget-header {background:#3e8bd3;box-shadow: 0 0 0 1px #4184c2;height: 4px;border: 0;position: relative;}
.popup.add_affiliate_products .price .ui-state-default {width:16px;height:16px;background:#fff;border-radius:100%;box-shadow:0 0 0 1px rgba(0,0,0,0.15);position: absolute;top: 50%;margin-top: -8px;margin-left: -2px;}
.popup.add_affiliate_products .price .ui-state-default:nth-of-type(2) {margin-left: 1px;}
.popup.add_affiliate_products ul {padding:0 15px 15px 0;height: 395px;overflow: auto;}
.popup.add_affiliate_products ul:after {content:'';clear:both;display:block;}
.popup.add_affiliate_products input[type="checkbox"] {position:absolute;top:0;left:0;width:100%;height:100%;background:none;opacity:0;z-index:1;cursor: pointer;}
.popup.add_affiliate_products li {float:left;width:19%;width:calc(20% - 15px);margin:15px 0 0 15px;font-size:11px;color: #8a8f9c;line-height: 18px;position: relative;}
.popup.add_affiliate_products li:before {content:'';position:absolute;top: 0;left:0;width:100%;height: 168px;background:#000;opacity:0.15;border-radius: 3px;}
.popup.add_affiliate_products li small {position:relative;}
.popup.add_affiliate_products li .price label, .popup.add_affiliate_products li .count {display:none;}
.popup.add_affiliate_products li:after {content:'';position:absolute;top: 10px;right: 10px;border: 0;box-shadow: none;width: 20px;height: 20px;background-position: -64px 0;cursor: pointer;}
.popup.add_affiliate_products li.checked:after {background-position:-41px 0;}
.popup.add_affiliate_products li.checked:before {background: #2184dc;opacity: 0.7;}
.popup.add_affiliate_products img {width:100%;background:no-repeat 50% 50%;background-size:cover;border-radius:3px;display: block;margin-bottom: 10px;}
.popup.add_affiliate_products .title {font-size:12px;white-space:nowrap;display:block;overflow:hidden;color: #4d525d;position: relative;z-index: 1;}
.popup.add_affiliate_products .credit:before {content:'·';margin-right:4px;}
.popup.add_affiliate_products .empty {text-align:center;font-size: 18px;color: #505b67;padding: 193px 0;line-height: 24px;opacity: 0.5;}

@media screen and (-webkit-min-device-pixel-ratio:2){
	.affliate .figure-item a.btn-delete .icon, .popup.add_affiliate_products .btn-reset:before {background-image:url("../../../_ui/images/retina/seller.png") ;}
	.affliate .empty p:before, .affliate .title .controller .refine:before, .popup.add_affiliate_products li:after, .affliate .empty-result p:before {background-image:url('../../../_ui/images/retina/ico-affliate.png');}
}

@media screen and (max-width: 900px) {
	.affliate div.title {height:auto;overflow:visible;background: none;box-shadow: none;}
	.affliate div.title .ptit {box-shadow: 0 1px 0px 0px rgb(208, 209, 213), 0 0px 0px 1px rgba(220, 221, 224, 0.85);border-bottom:0;border-radius:3px 3px 0 0
	}
	.affliate div.title .count {box-shadow: 0 1px 0px 0px rgb(208, 209, 213), 0 0px 0px 1px rgba(220, 221, 224, 0.85);border-radius:0 0 3px 3px;background: #eeeff0;}
	.affliate .title .controller {padding:0;position: absolute;right: 10px;top: -3px;}
	.affliate .title .controller .btns-blue-embo {padding: 0 10px;}
	.affliate .title .controller .refine {display:none !important;}
	.affliate .title .refine {display:none;}
	.affliate .title .refine-wrap {height:auto;}
	.affliate .title .search {margin-top:15px;box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);background: #fff;border-radius: 3px;padding: 0;}
	.affliate .title .search dl, .popup.add_affiliate_products .checking {float:none;}
	.affliate .title .search dl+dl {border-top:1px solid #f1f1f1;}
	.affliate .title .search dd {box-sizing:border-box;width: auto;left:0;padding:15px;box-shadow: none;margin-left:0;position: relative;top: 0;border-top:1px solid #f9f9f9;border-radius:0;}
	.affliate .title .search dd:before, .affliate .title .search dd:after {display:none;}
	.affliate .title .search .label {display:none;}
	.affliate .title .search .price dd .amount {padding-top:0;float:none;}
	.affliate .title .search dt {font-weight:bold;}
	.affliate .empty .btn-add {position:static;margin-top:20px;}
	.affliate.refine .title .refine-wrap {margin-top:0;}
	.affliate .stream li {float:none;width:auto;padding-left:0;}
	.popup.add_affiliate_products .search input {width:100%;margin-bottom:10px;}
	.popup.add_affiliate_products .search .sort {position:relative;top: 0;width: auto;right:0;margin-bottom:15px;display:block;}
}