
.collections .empty-result p:before {background:url("../../../_ui/images/normal/brands.png") no-repeat;background-size:100px 100px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.collections .empty-result p:before {background-image:url("../../../_ui/images/retina/brands.png");}
}
.collections .empty-result {padding: 100px 17px 100px;background: #FFF;text-align:center;border-radius: 3px;-moz-box-shadow: 0 2px 0px rgba(208, 209, 213, 0.5), 0 0 0 1px rgba(220, 221, 224, 0.4);box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);}
.collections .empty-result p {color:#656b77;font-size:14px;padding-bottom: 16px;}
.collections .empty-result b {display:block;font-size:22px;color:#383d48;font-weight:600;padding-bottom:10px;}
.collections .empty-result p:before {content:'';width:52px;height:61px;background-position:-40px -20px;display:block;margin:0 auto 34px;}
.collections .notify, .inventory .notify {position:relative;display:block;margin:21px 23px 0;background:#f7fcfe;border:1px solid #c6dae6;color:#487092;font-size:12px;line-height:36px;padding:14px 23px 13px 47px;border-radius:3px;}
.collections .notify p, .inventory .notify p {display:inline-block;line-height:18px;vertical-align:middle;padding:0;font-size: 12px;text-align: left;color: #487092;}
.collections .notify .icon, .inventory .notify .icon, .listing .notify .icon {position:absolute;top:50%;left:16px;width:16px;height:16px;background-position:-140px -200px;margin-top:-8px;}

.collections #content {position:relative;}
.collections .btn-add, .collections .btns {position:absolute;right:7px;top: -56px;line-height: 29px;}
.collections .lists-listing:after {content:'';clear:both;display:block;}
.collections .lists-listing .vcard {background: #fff;position: relative;box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);border-radius: 3px;margin: 0 0 17px 17px;width: 312px;float: left;width: calc(33% - 9px);}
.collections .lists-listing .vcard:nth-child(3n+1) {margin-left:0;clear:both;}
.collections .lists-listing .btn {float:left;width:50%;position:relative;text-align:center;font-size: 12px;line-height: 40px;color: #4978b3;font-weight: bold;border-top: 1px solid #f2f2f2;}
.collections .lists-listing .btn:before {content:'';position:absolute;left:0%;top:50%;width:1px;height:20px;margin-top:-10px;background:#f2f2f2;}
.collections .lists-listing .btn:first-child:before {display:none;}
.collections .lists-listing .wrapper-btn {display:block;}
.collections .lists-listing .wrapper-btn:after {content:'';clear:both;display:block;}
.collections .lists-listing a:hover {text-decoration:none;}
.collections .lists-listing .move {position:absolute;top:0;right:0;width: 34px;height:40px;opacity: 0.5;}
.collections .lists-listing .move:before { content: ''; position: absolute; top: 50%; left: 50%; width: 15px; height: 14px; margin: -7px 0 0 -7px; background-position: -60px -75px; }
.collections .lists-listing .description {font-size:12px;height:34px;overflow:hidden;display:block;line-height:17px;color:#666c78;padding: 13px 12px;}
.collections .lists-listing .title {display:block;color:#454a57;font-weight:bold;font-size:12px;padding: 0 40px 0 12px;line-height:41px;}
.collections .lists-listing .fig-image {display:block;position:relative;margin:0 4px;}
.collections .lists-listing .fig-image:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.1;background:#000;}
.collections .lists-listing .fig-image img {width:100%;display:block;height:144px;background:#fff no-repeat 50% 50%;background-size: cover;}
.collections .lists-listing .fig-image img[style] {position:relative;z-index:1;}
.collections .lists-listing .fig-image .account {position:absolute;left:9px;bottom:9px;padding:0 6px;border-radius:3px;background:rgba(0,0,0,0.5);line-height:23px;font-size:12px;color:#fff;font-weight:bold;z-index: 1;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.collections .lists-listing .fig-image img {background-image:url("../../../_ui/images/retina/blank_list.png");}
}

.popup.new_collection .cover-preview .btn-move .icon, .popup.new_collection .cover-preview .btn-del .icon, .popup.new_collection button.btn-delete .ic-del {background:url("../../../_ui/images/normal/seller.png") no-repeat;background-size: 250px 250px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.popup.new_collection .cover-preview .btn-move .icon, .popup.new_collection .cover-preview .btn-del .icon, .popup.new_collection button.btn-delete .ic-del {background-image:url("../../../_ui/images/retina/seller.png");}
}
#popup_container.new_collection .popup.new_collection {display:block;}
.popup.new_collection {width:502px;}
.popup.new_collection .ltxt {background:#fff;font-size:13px;padding-top: 15px;}
.popup.new_collection dl {position:relative;padding: 0 0 9px;color:#4f5764;margin: 0 15px;}
.popup.new_collection dl:after {content:'';clear:both;display:block;}
.popup.new_collection dt {float: left;font-weight:bold;padding-bottom: 6px;line-height: 34px;font-size:12px;}
.popup.new_collection dd {float:right;width: 100%;max-width: 312px;}
.popup.new_collection .line { padding-top: 12px; border-top: 1px solid rgb(242, 242, 242); margin-top: 4px; }
.popup.new_collection button.btn-delete {float:left;margin-left:0;}
.popup.new_collection button.btn-delete[disabled] .ic-del {opacity:0.4;filter: alpha(opacity=40);}
.popup.new_collection button.btn-delete .ic-del {display:inline-block;width: 9px;height:11px;background-position: -50px -120px;opacity:0.9;filter: alpha(opacity=90);vertical-align: middle;margin: -4px 5px 0 0;}
.popup.new_collection textarea.text {height:69px;}
.popup.new_collection .text {width: 100%;padding: 6px 9px;font-size: 13px;}
.popup.new_collection .clear .text {width:242px;width: calc(100% - 68px);width: -webkit-calc(100% - 68px);width: -moz-calc(100% - 68px);}
.popup.new_collection .btn-fetch {padding:0;width:58px;line-height:31px;font-size:12px;left: 7px;position: relative;}
.popup.new_collection .cover-preview { width: auto; height: 150px; border-radius: 3px; position: relative; overflow: hidden; background: #f8f8f8; margin-bottom: 6px; }
.popup.new_collection .cover-preview img {width:100%;position:relative;z-index:0;vertical-align:top; z-index: 3}
.popup.new_collection .cover-preview .guide span {display:inline-block;background-color: rgba(0, 0, 0, 0.7);background-position:11px 50%;padding: 5px 13px 6px 31px;color: white;font-weight: bold;-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.37);-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.37);box-shadow: inset 0 1px 1px rgba(0,0,0,0.37);border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px}
.popup.new_collection .cover-preview .btn-del {z-index: 4;border-left: 1px solid #D6D6D6;width: 21px;height: 22px;position: absolute;top: 8px;right: 8px;border-radius: 0 2px 2px 0;text-align: center;-webkit-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.2),0px -1px 0px rgba(0, 0, 0, 0.2);-moz-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.2),0px -1px 0px rgba(0, 0, 0, 0.2);box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.2),0px -1px 0px rgba(0, 0, 0, 0.2);line-height: 20px;background: #FFF;}
.popup.new_collection .cover-preview .btn-del .icon {background-position: -50px -120px;width: 10px;height: 12px;vertical-align: middle;opacity: 0.7;display: inline-block;}
.popup.new_collection .cover-preview .btn-move {z-index: 4;width: 22px;height: 22px;position: absolute;top: 8px;right: 30px;border-radius: 2px 0 0 2px;-webkit-box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.2),0px -1px 0px rgba(0, 0, 0, 0.2);-moz-box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.2),0px -1px 0px rgba(0, 0, 0, 0.2);box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0.2),0px -1px 0px rgba(0, 0, 0, 0.2);text-align: center;line-height: 20px;background: #FFF;}
.popup.new_collection .cover-preview .btn-move .icon {display: inline-block;vertical-align: middle;background-position: -185px -90px;width: 13px;height: 13px;margin-top: 0px;}
.popup.new_collection .cover-preview .complete, .popup.new_collection .cover-preview .guide {display:none;position:absolute;top:50%;left:0;margin-top:-15px;width:100%;text-align:center;z-index:4;}
.popup.new_collection .cover-preview .complete span {display:inline-block;border-radius:3px;background:rgba(0,0,0,0.65);box-shadow:inset 0 0 0 1px rgba(0,0,0,0.7);line-height:29px;padding:0 14px;color:#fff;font-weight:bold;}
.popup.new_collection .cover-preview .complete span:before {opacity:0.7;margin:-3px 7px 0 0;content:'';display:inline-block;width:12px;height:9px;background-position:-100px -80px;}
.popup.new_collection .cover-preview .no {display:none;box-shadow: inset 0 0 0 1px #d9dcde;background:#f8f8f8;border-radius:3px;border:0;height:150px;}
.popup.new_collection .cover-preview.blank .no {display:block;}
.popup.new_collection .cover-preview .no .icon {position:absolute;top:50%;left:50%;display:block;width:32px;height:32px;background-position:-160px 0;margin:-16px 0 0 -16px; z-index: 2}
.popup.new_collection .guide-line {position:relative;margin:9px 0 4px; clear:both; font-size:12px;}
.popup.new_collection .guide-line:hover dl {display:block;}
.popup.new_collection .guide-line h5 {padding:0;display:inline-block;}
.popup.new_collection .guide-line h5 span {font-size:13px;line-height:17px; font-weight:normal; cursor:pointer;border-bottom:1px dotted #4f5764;}
.popup.new_collection .guide-line dl { display: none; color: white; background-color: rgba(11, 15, 22, 0.9); z-index: 5; position: absolute; bottom: 26px; left: -15px; border-radius: 3px; padding: 12px 26px 0 13px; font-size: 12px; }
.popup.new_collection .guide-line dt { position: static; color: #fff; font-weight: bold; padding: 1px 0 3px; line-height: 20px; }
.popup.new_collection .guide-line dd {font-weight:normal; color:#e2e2e2; margin-bottom:12px;}
.popup.new_collection .guide-line p {margin:0; padding:0;}
.popup.new_collection .guide-line em {display:inline-block; width:76px;}
.popup.new_collection .guide-line dl:after {position:absolute; bottom:-11px; left:75px; margin-left:-6px;content:''; font-size:0; line-height:0;display:block; width:0; height:0;border:6px solid transparent;border-top-color:rgba(11, 15, 22, 0.9);}
.popup.new_collection dd .option {margin-top:-4px;}
.popup.new_collection .cover-preview .infscr-loading {transition:opacity 0.2s;-webkit-transition:opacity 0.2s;-moz-transition:opacity 0.2s;display:none;content:'';position: absolute;left: 0;top: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.5);z-index: 3;}
.popup.new_collection .cover-preview .infscr-loading:before {content:'';position:absolute;top:50%;height:6px;margin-top:-3px;left: 5%;right: 5%;background:rgba(255,255,255,.3);overflow:hidden;border-radius:3px}
.popup.new_collection .cover-preview .infscr-loading .loading {text-indent:-1000em;width: 90%;height:6px;top:50%;margin-top:-3px;left: 5%;bottom: auto;min-height: 6px;padding: 0;display: block;box-shadow:none;position: absolute;background: #fff;border-radius: 3px;}

#popup_container.bulk_sort .popup.bulk_sort {display:block;}
.popup.bulk_sort {width:450px;background:#fff;border-radius:3px;}
.popup.bulk_sort .data-frm {padding:15px;font-size:12px;line-height:18px;}
.popup.bulk_sort .download {padding:15px;background:#edf4fa;border-radius:3px;margin-bottom:16px;}
.popup.bulk_sort .download b {display:block;padding-bottom:5px;}
.popup.bulk_sort .download a+a {margin-left:18px;}
.popup.bulk_sort .label {display:block;font-weight:bold;}
.popup.bulk_sort .upload {background:#f8f8f8;border-radius:3px;border:1px solid #dcddde;position:relative;line-height:29px;color:rgba(56, 61, 72, 0.5);}
.popup.bulk_sort .upload input[type="file"] {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.popup.bulk_sort .upload:before {content:'Browse';margin-right:10px;border-radius:3px 0 0 3px;display:inline-block;vertical-align:middle;border-right:1px solid #dcddde;color:#4f5663;font-weight:bold;padding:0 15px;background:#fff;}

.product-brand .table .btns span a:before {background:url("../../../_ui/images/normal/product_new.png") no-repeat;background-size:200px 200px;}
.product-brand .item-order li.empty:before {background:url('../../../_ui/images/normal/ico-affliate.png') no-repeat;background-size: 200px 200px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.product-brand .item-order li.empty:before {background-image:url("../../../_ui/images/retina/ico-affliate.png");}
	.product-brand .table .btns span a:before {background-image:url("../../../_ui/images/retina/product_new.png");}
}
.product-brand {position:relative;}
.product-brand .btn-area {position:absolute;top: -56px;right: 8px;}
.product-brand .btn-area button {line-height:27px;margin: 0;box-shadow:none;}
.product-brand .btn-area .btn-import {float:left;border-left: 0;border-radius: 0 3px 3px 0;margin-right: 8px;box-shadow:inset 1px 0 0 rgba(0,0,0,0.05)}
.product-brand .btn-area .btn-export {float:left;border-right: 0;border-radius: 3px 0 0 3px;}
.product-brand .table img {width:41px;height:41px;border-radius:3px;background:no-repeat 50% 50%;background-size:cover;vertical-align:middle;margin-right:6px;}
.product-brand .table .btns {text-align:center;}
.product-brand .table .btns > a, .product-brand .table .btns > span {display:inline-block;border:1px solid #4a95dc;border-radius:3px;line-height:29px;height:29px;vertical-align:middle;}
.product-brand .table .btns > a {padding:0 10px;font-size:12px;margin-right:4px;}
.product-brand .table .btns span a {float:left;width:29px;text-indent:-1000em;border-left:1px solid #e4ecf6;position: relative;}
.product-brand .table .btns span a:first-child {border-left:0;}
.product-brand .table .btns span a:before {content:'';position:absolute;top:50%;left:50%;width:10px;height: 11px;background-position: -90px -15px;margin: -6px 0 0 -4px;}
.product-brand .table .btns span a.btn-edit:before {width:10px;height: 10px;background-position: -75px -15px;margin: -6px 0 0 -4px;}
.product-brand .tb-type4 thead th {height:34px;font-size:12px;background:#f5f6f7;border-color:#e5e5e6;}
.product-brand .tb-type4 tbody a:hover {text-decoration:none;}
.product-brand .tb-type4 tbody a {color:#4a95dc;}
.product-brand .data-field {border-radius:3px;box-shadow: 0 2px 0px rgba(0, 0, 0, 0.015), 0 0 0 1px #DBDBDC;background: #fff;}
.product-brand.detail .btn-area button {margin-left:4px;}
.product-brand.detail .search-frm {padding:18px;border-bottom:1px solid #ebeced;position: relative;}
.product-brand.detail .search-frm .label-order {top:18px;font-size:12px;color:#4e5665;line-height:31px;font-weight:bold;position:absolute;right:116px;width:70px;margin-right:-35px;text-align:center;}
.product-brand .item-order {padding: 10px 20px 20px;}
.product-brand .item-order li {position:relative;background:#fff;border:1px solid #fff;border-radius: 2px;margin-top: 10px;padding: 9px 130px 9px 9px;min-height:41px;}
.product-brand .item-order .title img {width:41px;height:41px;border-radius:3px;background:no-repeat 50% 50%;background-size:cover;vertical-align:middle;margin-right:6px;}
.product-brand .item-order .text {width:46px;padding: 5px 0;text-align:center;position:absolute;top:50%;right:96px;margin: -15px -24px 0 0;}
.product-brand .item-order .remove {position:absolute;top:50%;right:8px;width:40px;height:40px;margin:-20px 0 0 -20px;}
.product-brand .item-order .remove:before {content:'';position:absolute;top:50%;left:50%;width: 14px;height: 14px;background: url('../../../whitelabel/gear/images/svg/mweb-menu-x.svg') no-repeat;opacity:0.25;margin: -7px 0 0 -7px;background-size: contain;}
.product-brand .item-order .remove em {white-space:nowrap;width:134px;left:-56px;bottom:40px;}
.product-brand.collection .item-order .remove em {white-space:nowrap;width:160px;left:-69px;bottom:40px;text-align: center;}
.product-brand .item-order .remove em:after {bottom:auto;top:100%;margin-left:-5px;border-width:5px;}
.product-brand .item-order li:hover {border-color:#ebeced;}
.product-brand .item-order li:hover .remove:before {opacity:0.5;}
.product-brand .item-order li.ui-sortable-helper {border-color:#4a95dc;box-shadow:0 0 0 1px #4a95dc;}
.product-brand .item-order li.ui-sortable-helper .title {color:#4a95dc;font-weight:bold;}
.product-brand .item-order li.ui-sortable-helper .remove:before {width:8px;height:15px;background-position:-185px -55px;opacity:0.25;margin: -8px 0 0 -5px;opacity:1;}
.product-brand .item-order li.ui-state-highlight {background:#f7f9fa;border:1px dashed #e4e9eb;}
.product-brand .item-order li.empty {display:block;padding: 80px 0 120px;font-size:14px;line-height:20px;color:#838891;text-align:center;border: 0;}
.product-brand .item-order li.empty:before {content:'';width:134px;height:51px;background-position:0 -90px;display:block;margin:0 auto 44px;}
.product-brand .item-order li.empty b {display:block;padding-bottom:16px;font-size:18px;color:#393d4d;}
.new-product.listing .product-brand.detail.collection .btn-area {background:none;border:0;padding:0;}

#popup_container.add_brand .popup.add_brand {display:block;}
#popup_container .popup.add_brand {width:445px;background:#fff;border-radius:3px;}
.popup.add_brand .data-frm {padding:13px 15px 15px;}
.popup.add_brand .btn-area, .popup.bulk_sort .btn-area {padding: 15px 11px 15px 15px;}
.popup.add_brand input.text {box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;width:100%;height: auto;}

.add_collection_item .list_item li.selected a:after {background:url("../../../_ui/images/svg/merchant.svg") no-repeat;background-size: 200px 200px;}
#popup_container.add_collection_item .add_collection_item {display:block;}
#popup_container .add_collection_item {width:565px;background:#fff;border-radius:3px;}
.add_collection_item .list_item {padding:16px 16px 6px;overflow:auto;height:304px;position:relative;}
.add_collection_item .list_item li {position:relative;background:#fff;border:1px solid #ebeced;border-radius: 2px;margin-bottom:10px;font-size:12px;line-height:18px;z-index: 0;}
.add_collection_item .list_item a {display:block;padding:17px 72px;color:#404651;}
.add_collection_item .list_item a:hover {text-decoration:none;}
.add_collection_item .list_item .title b {display:block;}
.add_collection_item .list_item .title img {position:absolute;top:10px;left:10px;width:50px;height:50px;background:no-repeat 50% 50%;background-size:cover;}
.add_collection_item .list_item .sku {position:absolute;right:20px;top:50%;margin-top:-9px;font-size:11px;color:#8a8f9c;}
.add_collection_item .list_item li.selected .title {color:#448cda;}
.add_collection_item .list_item li.selected {border-color:#4a95dc;box-shadow:0 0 0 1px #4a95dc;}
.add_collection_item .list_item li.selected a:after {top:35px;left:35px;content:'';position:absolute;width: 23px;height: 23px;margin: -12px 0 0 -12px;z-index: 1;}
.add_collection_item .list_item li.selected a:before {content:'';position:absolute;top:10px;left:10px;width:50px;height:50px;background-color: rgb(57, 67, 81);opacity: 0.6;z-index: 1;}
.add_collection_item .data-frm {position:relative;padding:16px;box-shadow:0 1px 1px rgba(0,0,0,0.1);z-index: 1;}
.add_collection_item .data-frm input.text {width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;height:auto;}
.add_collection_item .btn-area {padding:16px;border-top:0;box-shadow:0 -1px 0 rgba(0,0,0,0.1);}

.edit .figure-list {margin-left:-14px;width:calc(100% + 14px);}
.edit .figure-list img.blank  {background: url("../../../_ui/images/normal/blank_list2.png") no-repeat 50% 50% #e4e5e6;background-size: 221px 211px;}
.edit .figure-list .btn-del {display:none;}
.edit .figure-list .figure-item {cursor:move;width: calc(25% - 14px);width: -webkit-calc(25% - 14px);width: -moz-calc(25% - 14px);float: left;margin: 0 0 14px 14px;}
.edit .figure-list .figure-item:after {content:'';position:absolute;top: 116px;left:50%;margin:-14px 0 0 -14px;width:28px;height:28px;}
.edit .figure-list .figure-item.ui-sortable-placeholder {background:#e3e4e6;border-radius:3px;width:230px;height:277px;border:1px dashed #cacbcd;box-shadow:none;visibility:visible !important;}
.edit .figure-list .figure-item * {cursor:move;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.edit .figure-list img.blank {background-image:url("../../../_ui/images/retina/blank_list2.png");}
}

.product-sort #content {position:relative;}
.product-sort .notify {position:relative;display:block;margin: 0 0 18px;background: #fff;border: 1px solid #dbdbdc;box-shadow: 0 1px 1px rgba(0,0,0,0.04);font-size: 13px;line-height: 19px;color: #4f5663;border-radius:3px;padding: 20px 56px;}
.product-sort .notify b {display:block;padding-bottom: 5px;}
.product-sort .notify:before {content:'';position:absolute;top:0;left:0;width:40px;height:100%;border-radius:3px 0 0 3px;background: #4e7eb7;}
.product-sort .notify:after {content:'';position:absolute;top: 12px;left: 12px;width:16px;height:16px;background: url('../../../_ui/images/normal/seller-empty.png') no-repeat -160px -200px;background-size: 250px 250px;}
.product-sort .notify .hide {position:absolute;top: 12px;right: 12px;width:9px;height:9px;background-position: -180px -200px;}
.product-sort .figure-list .figure-item.ui-sortable-helper {box-shadow:0 0 10px rgba(0,0,0,0.08), 0 1px 0 rgba(0,0,0,0.06);}
.product-sort.edit .figure-list .figure-item:after {opacity:0;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.product-sort .notify:after {background-image:url("../../../_ui/images/retina/seller-empty.png");}
}
@media screen and (max-width: 800px) {
    .collections .lists-listing .vcard {float:none;margin:0 0 10px;width:auto;}
    .product-brand .btn-area {position:static;padding-bottom:18px;}
    .product-brand.detail .btn-area .btns-blue-embo {margin:10px 0 0;width:100%;}
    .product-brand.detail .btn-area button:first-child {margin-left:0;}
    .product-brand .item-order {padding: 0 10px 10px;}
    .product-brand.detail .search-frm .label-order {right: 10px;margin: 0;width: auto;}
    .product-brand .item-order .text {right: 9px;margin:0;top: auto;bottom: 9px;}
    .product-brand .item-order .title img {display:block;margin:0 0 10px}
    .product-brand .item-order li {padding-right: 60px;}
    .product-brand .item-order .remove {right:0;top: 9px;margin:0;}
	.edit .figure-list .figure-item {float:none;width:auto;margin-left:0;}
	.edit .figure-list, .edit .figure-list .figure-item:nth-child(4n+1) {margin-left:0;width: auto;}
	.collections .btn-add, .collections .btns {position:static;padding-bottom: 8px;}
	.collections .btn-add, .collections .btns a {width:100%;margin-bottom:10px;float:none;padding:0;text-align:center;}
}