
.sub-menu {font-size:15px;font-weight:500;line-height:27px;text-align:center;border-bottom:1px solid #f2f2f2;padding: 27px 0;}
.sub-menu li {display:inline-block;vertical-align:middle;padding: 0 23px;}
.sub-menu a {display:block;color:#151618;opacity:0.8;}
.sub-menu a.current {opacity:1;color:#d62222;box-shadow: 0 2px 0 rgba(214, 34, 34, 0.7);}

#container-wrapper {background:#fff;}
#sidebar .contact {background:#f2f2f2;padding:0 25px;}
#sidebar .contact h4 {padding:25px 0;font-size:14px;line-height:20px;font-weight:500;}
#sidebar .contact dl {border-top:1px solid #e7e7e7;font-size:14px;line-height:18px;padding: 29px 0 29px 58px;position: relative;}
#sidebar .contact dl:before {content:'';position:absolute;top:32px;left:16px;background:no-repeat 50% 50%;opacity:0.7;width: 28px;height: 32px;margin: -3px 0 0 -14px;}
#sidebar .contact dt {font-weight:500;}
#sidebar .contact dt small {display:block;font-weight:400;}
#sidebar .contact dd {padding-top:18px;}
#sidebar .contact .call:before {background:url('../../images/svg/help-icons-call.svg');}
#sidebar .contact .location:before {background:url('../../images/svg/help-icons-location.svg');}
#sidebar .contact .email:before {background:url('../../images/svg/help-icons-message.svg');}
#sidebar .founded {background:#f2f2f2;padding: 0 25px 25px;}
#sidebar .founded h4 {font-size:15px;line-height:24px;padding:0 0 4px;}
#sidebar .founded h4 small {font-size:14px;display:block;line-height:20px;border-bottom:1px solid #e7e7e7;padding: 27px 0 23px;margin-bottom:24px;}

.with-sidebar {padding:66px 15px;}
.with-sidebar #content {float:left;width: calc(100% - 465px);width: -webkit-calc(100% - 465px);width: -moz-calc(100% - 465px);}
.with-sidebar #sidebar {float:right;width:323px;}
.with-sidebar .summary {font-size:15px;line-height:24px;color: #151618;}
.with-sidebar .summary a {text-decoration:underline;color: #151618;}
.with-sidebar .summary+.agreement {padding-top: 53px;}
.with-sidebar .agreement p, .with-sidebar .agreement li {font-size:14px;line-height:20px;color:#4f5054;}
.with-sidebar .agreement li:last-child {padding-bottom:0;}
.with-sidebar .agreement h3 {padding-top:20px;}
.with-sidebar .agreement h4 {font-size:15px;line-height:24px;color:#151618;font-weight:500;padding: 20px 0 14px;}
.with-sidebar .copy {font-size:15px;line-height:24px;padding-bottom:53px;}
.with-sidebar .copy b {display:block;font-size:24px;line-height: 30px;padding-bottom:30px;font-weight:500;}
.with-sidebar .tit {font-size:24px;line-height:30px;font-weight:500;}
.with-sidebar .tit+.stit, .tit+p {margin-top:37px;}
.with-sidebar .stit {font-size:15px;line-height:24px;font-weight:500;}
.with-sidebar .stit+p {margin-top:24px;}
.with-sidebar img {max-width:100%;vertical-align:top;}
.with-sidebar p {font-size:15px;line-height:24px;}
.with-sidebar p+p {margin-top:24px;}
.with-sidebar p+.tit {margin-top:40px;}
.with-sidebar p+.stit {margin-top:40px;}
.with-sidebar img+.tit {margin-top:50px;}
.with-sidebar p.copy+.tit {margin-top:0;}
.with-sidebar li {padding: 14px 0 0 24px;position:relative;font-size:15px;line-height:24px;}
.with-sidebar ul li:before {content:'•';position:absolute;top: 14px;left:0;}
.with-sidebar ol li {list-style:outside;list-style-type: upper-roman;padding-left: 0;margin-left: 24px;}
.with-sidebar ol, .with-sidebar ul {padding:10px 0 24px;}
.with-sidebar .links {padding-bottom:53px;}
.with-sidebar .links ul {padding:0;}
.with-sidebar .links li {list-style:none;padding-left:24px;margin-left:0;padding-top:0;}
.with-sidebar .links li:before {display:none;}
.with-sidebar .links li small {position:absolute;top:0;left:0;}
.with-sidebar .links li a {display:block;color:#151618;}

.cs .cover-header .inner {background-image:url('../../images/cover/cover_cs.png');}
.cs h3 {font-size:24px;color:#151618;padding-bottom: 25px;}

.shipping table {border:1px solid rgba(0,0,0,0.09);width: 100%;margin: 50px 0 60px;}
.shipping thead th {font-size:15px;line-height:20px;padding:29px 0;text-align:center;font-weight: 500;text-transform: uppercase;}
.shipping tbody td {border-top: 1px solid rgba(232, 232, 232, 0.5);font-size:14px;line-height:20px;padding: 20px 0 20px 20px;}

.about {background:#fff;}
.about .cover-header .inner {background-image:url('../../images/cover/cover_about.jpg');}

.sitemap .cover-header .inner {background-image:url("../../images/cover/cover_sitemap.jpg");}
.sitemap .menu {position:relative;padding: 60px 0;column-count: 4;column-rule: 1px solid #ececec;}
.sitemap .menu:after {content:'';clear:both;display:block;}
.sitemap .menu .shop {width:75%;float:left;}
.sitemap .menu li {font-size:13px;padding:3px 0;line-height:18px;color:#56585c;font-weight:500;}
.sitemap .menu li a {display:block;color:#56585c;}
.sitemap .menu dt {font-size:15px;padding: 2px 30px;line-height:20px;color:#151618;font-weight:700;}
.sitemap .menu dt a {display:block;color:#151618;}
.sitemap .menu dd {padding: 10px 30px 0;}
.sitemap .menu dl+dl{margin-top:30px;}

.contact .send-frm p {float:left;width: calc(50% - 8px);padding-bottom:14px;width: -webkit-calc(50% - 8px);width: -moz-calc(50% - 8px);position: relative;margin:0;}
.contact .send-frm p:nth-child(even) {float:right;}
.contact .send-frm p.msg {clear:both;width:auto;float: none;}
.contact .send-frm .label {display:block;font-size:14px;font-weight:500;color:#1c1e27;padding: 0 0 8px;}
.contact .send-frm .label b {font-weight:500;color:#d62222;}
.contact .send-frm input.text, .contact .send-frm input[type="text"], .contact .send-frm textarea {display:block;width:100%;background:#fff;border: 1px solid rgba(0, 0, 0, 0.12);}
.contact .send-frm input.text:focus, .contact .send-frm input[type="text"]:focus, .contact .send-frm textarea:focus {border: 1px solid rgba(0, 0, 0, 0.12);}
.contact .send-frm textarea {height:110px;}
.contact .send-frm .buttons {min-width:220px;margin: 18px 0 0;}
.contact .send-frm {padding: 40px 0 60px;border-bottom: 1px solid rgba(225, 225, 225, 0.5);}
.contact .faq {padding: 50px 0 53px;}
.contact .faq dt {font-size:18px;font-weight:500;line-height:44px;}
.contact .faq li {font-size:15px;line-height:20px;padding:2px 0;}
.contact .faq li small {margin-right:14px;}
.contact .faq li:before {display:none;}
.contact .faq ul {padding: 30px 0;}
.contact .faq a {color:#151618;}
.contact .faq span {display:none;padding: 10px 0 10px 29px;font-size:14px;line-height:20px;}
.contact .faq li.show span {display:block;}
.contact .faq .all {display:inline-block;line-height:24px;font-size: 14px;font-weight: 500;text-decoration: underline;}
.contact .send-frm .error-msg {position:absolute;left:100%;top: 18px;max-width: 175px;background: #fff;box-shadow: 0 3px 20px rgba(0,0,0,0.1);margin-left: 15px;border: 1px solid rgba(0,0,0,0.1);border-radius: 3px;font-size: 13px;line-height: 20px;padding: 14px 20px;opacity: 0;visibility: hidden;transition: opacity 0.5s;-webkit-transition: opacity 0.5s;-moz-transition: opacity 0.5s;color: #d62222;min-height: 20px;}
.contact .send-frm .error-msg:before {content:'';position:absolute;top:12px;right:100%;border:8px solid transparent;border-right-color: rgba(0,0,0,0.1);}
.contact .send-frm .error-msg:after {content:'';position:absolute;top:13px;right:100%;border:7px solid transparent;border-right-color: #fff;}
.contact .send-frm p.error {z-index:1;}
.contact .send-frm p.error .error-msg {visibility: visible;opacity: 1;}

.privacy .copy b {padding:0;}
.terms .copy b {padding:0;}

@media screen and (max-width: 800px) {
	.with-sidebar {padding:30px 20px 0;}
	.with-sidebar #content {width:auto;float:none;max-width: none;padding:0 0 20px;}
	.with-sidebar #sidebar {float:none;width:auto;padding: 0 0 20px;}
	#sidebar .founded, #sidebar .contact {padding-left:15px;padding-right:15px;}
	.contact .send-frm .error-msg {top: auto;bottom:100%;left:30px;margin:0 0 10px 0}
	.contact .send-frm .error-msg:before {top:100%;left: 12px;border-color: transparent;border-top-color: rgba(0,0,0,0.1);right: auto;}
	.contact .send-frm .error-msg:after {top:100%;left: 13px;border-color: transparent;border-top-color: #fff;right: auto;}
	.contact .send-frm p, .contact .send-frm p:nth-child(even) {float:none;width:auto;}
	.contact .send-frm .buttons {width:100%;}
	.sitemap .menu {padding:10px 0;column-count:unset;}
	.sitemap .menu dt, .sitemap .menu dd {padding-left:0;padding-right:0;}
}
