.index .container, .index .container .buttons, .index .collections, .index .collections .buttons {font-family: 'Exo 2', "Helvetica Neue", sans-serif;}
html, body.index {background:#fff;}

.index .parallax-mirror {z-index:1;border-bottom:4px solid #fff;}
.index .parallax-mirror:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.1;background:#000;}
.index .parallax-mirror img {max-width:100%;}
.index #content {max-width:none;padding: 0;}

.index .inner {padding: 0 15px 0;max-width:1120px;margin:0 auto;}
.index .showcase {position: absolute;right: 0;width:100%;top: 0;height: 120px;background: no-repeat 0 50%;background-size: contain;}
.index .showcase .image-container {position: absolute;width: 560px;left: 50%;top: 50%;margin-top: -60px;max-width: 50%;}
.index .showcase .image-container .image-wrap {display:block;box-shadow: 0 0 92px 1px rgba(0,0,0,0.08);}
.index .showcase .image-container img {display:block;background:no-repeat 50% 50%;background-size: contain;width: 90%;margin: 5%;}
.index .showcase .image-wrap {overflow:hidden;}
.index .showcase .image-wrap img {transition: 0.22s ease-in-out;transform-origin:50% 50%;transform:scale(1.03);}
.index .showcase .image-wrap:hover img {transform:scale(1);}
.index .showcase .image-wrap a {position:absolute;top:0;left:0;width:100%;height:100%;}
.index .showcase .paging-wrap {position: relative;}
.index .showcase .paging-wrap > a {position:absolute;top:50%;margin-top:-35px;width:33px;height:33px;border-radius: 100%;background:#fff;}
.index .showcase .paging-wrap > a:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;}
.index .showcase .paging-wrap > a.prev:before {background: url("../../images/svg/slideshow-left_arrow.svg") no-repeat;}
.index .showcase .paging-wrap > a.next:before {background: url("../../images/svg/slideshow-right_arrow.svg") no-repeat;}
.index .showcase .paging-wrap > a.prev {left:-16px;}
.index .showcase .paging-wrap > a.next {right:-16px;}
.index .showcase .paging-wrap > a.disabled {display:none;}
.index .showcase .paging {white-space: nowrap;letter-spacing: 0;font-size: 0;margin-top: -50px;}
.index .showcase .paging:after {content:'';clear:both;display:block;}
.index .showcase .paging a {position:relative;display: none;width: calc((100%/5) - 16px);border: 2px solid #f2f2f2;margin-left:15px;background: #fff;box-shadow: 0 0 72px 1px rgba(0,0,0,0.07);}
.index .showcase .paging a:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;opacity:0.5;}
.index .showcase .paging a:nth-child(1), .index .showcase .paging a:nth-child(2), .index .showcase .paging a:nth-child(3), .index .showcase .paging a:nth-child(4) {display:inline-block;}
.index .showcase .paging img {width:90%;margin:5%;background:no-repeat 50% 50%;background-size:contain;vertical-align:top;}
.index .showcase .paging a.current {border-color: #262830;}
.index .showcase .paging a.current:before {display:none;}
.index .with-thumbnail .video_player .timestamp {bottom:58px;}
.index .with-thumbnail .video_player .btn-play, .index .with-thumbnail .video_player .btn-pause {top: auto;width:60px;height:60px;bottom: 50px;}
.index .with-thumbnail .video_player .btn-muted, .index .with-thumbnail .video_player .btn-mute, .index .with-thumbnail .video_player .btn-fullscreen {bottom:50px;}
.index .with-thumbnail .video_player.full .timestamp {bottom:8px;}
.index .with-thumbnail .video_player.full .btn-muted, .index .with-thumbnail .video_player.full .btn-mute, .index .with-thumbnail .video_player.full .btn-fullscreen {bottom:0;}
.index .with-thumbnail  .video_player .stop .btn-play {bottom: 50%;left: 50%;width: 87px;height: 95px;margin: 0 0 -47px -43px;}
.index .figure-product {position:relative;display: table;height: 560px;width:100%;margin: 0 auto 60px;max-width: 1120px;}
.index .figure-product.with-thumbnail {height: 610px;}
.index .figure-product .inner {display:table-cell;}
.index .figure-product .figure-info {position:relative;max-width: 520px;width: 48%;}
.index .figure-product .figure-info .store {color:#9b9b9d;font-size:15px;padding-bottom: 3px;}
.index .figure-product .figure-info .store a {color:#151618;}
.index .figure-product .figure-info .summary p {margin:0;}
.index .figure-product .figure-info .summary {color:#9b9b9d;font-size: 16px;line-height: 21px;margin-bottom: 19px;max-height: 252px;overflow:hidden;position: relative;}
.index .figure-product .figure-info .summary .more {display:none;position:absolute;top: 210px;right:0;width: 50%;height:21px;background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);overflow: hidden;z-index: 1;}
.index .figure-product .figure-info .summary .more:after {content:'';position:absolute;bottom: -4px;left: 100%;width: 562px;height: 560px;background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);pointer-events: none;margin-left: 24px;box-shadow: 0 0 92px 1px rgba(0,0,0,0.08);}
.index .figure-product .figure-info h2.title {color:#262830;font-size:28px;padding-bottom: 9px;line-height: 36px;text-transform: uppercase;}
.index .figure-product .figure-info h2.title small {display:block;font-size:15px;line-height:21px;color:#9b9b9d;font-weight:400;padding-top: 4px;}
.index .figure-product .figure-info h2.title a {color:#262830;}
.index .figure-product .figure-info .price {font-size:11px;color:#262830;padding-bottom: 19px;}
.index .figure-product .figure-info .price b {display:block;font-size:30px;font-weight: 500;padding-bottom: 7px;}
.index .figure-product .figure-info .price em {color: #7aad29;}
.index .figure-product .figure-info .price .sales {color: #ea7415;}
.index .figure-product .figure-info .price .sales .before {text-decoration:line-through;color: #8a8f9c;font-weight:400;}
.index .figure-product .figure-info .product-review {font-size:11px;color:#262830;}
.index .figure-product .figure-info .product-review .rank {display:inline-block;vertical-align: middle;margin: -3px 6px 0 0;}
.index .figure-product .figure-info .product-review small {display:block;}
.index .figure-product .figure-info .product-review .btn-review {color:#262830;text-transform:uppercase;}
.index .figure-product .figure-info .frm {position:relative;clear:both;margin-top: 27px;z-index:1;}
.index .figure-product .figure-info .frm .option select {width:100%;position: relative;padding: 16px 15px;margin-bottom: 10px;font-size: 16px;font-weight: 600;line-height: 21px;background-size: 12px;background-position: calc(100% - 20px) 50%;}
.index .figure-product .figure-info .frm .buttons {position: relative;width:100%;font-size: 18px;line-height: 53px;font-style: italic;font-weight: 700;text-transform:uppercase;background: #2da2c9;}
.index .figure-product .figure-info .frm .buttons:before {content:'';position:absolute;top:0;left:0;width:100%;opacity:0;height:100%;background: #000;}
.index .figure-product .figure-info .frm .buttons:hover:before {opacity:0.15;}
.index .figure-product .figure-info .frm .buttons b {position:relative;font-weight: 700;font-style: italic;}
.index .figure-product .figure-info .frm .buttons.soldout {background: rgba(0,0,0,0.6);opacity: 0.5;cursor: default;color: rgba(255,255,255,0.8);}
.index .figure-product .figure-info .description dl {font-size:14px;line-height: 21px;padding-top: 21px;position: relative;}
.index .figure-product .figure-info .description dt a {display:block;position:relative;font-size: 16px;font-weight:500;color: #262830;margin-bottom: 21px;text-transform:uppercase;}
.index .figure-product .figure-info .description dd {position: relative;font-size:13px;line-height:21px;max-height: 231px;overflow:hidden;}
.index .figure-product .figure-info .description dd.show {max-height:none;}
.index .figure-product .figure-info .description dd.show .see-more {position:static;display:inline-block;margin-top:20px;}
.index .figure-product .figure-info .description dd.show .see-more:before {display:none;}
.index .container .figure-product, .index .collections .figure-product {font-family:'Roboto', "Helvetica Neue", sans-serif;}
.index .figure-product .figure-info .description p+p {margin-top:21px;}
.index .figure-product:nth-child(even) .summary .more:after {display:none;}
.index .figure-product:nth-child(even) .figure-info .description .more:after {display:none;}
.index .figure-product:nth-child(even) .showcase, .index .featured-detail:nth-child(even) .showcase {background-position: calc(50% - 560px) 50%;}
.index .figure-product:nth-child(even) .showcase .image-container, .index .featured-detail:nth-child(even) .showcase .image-container {left:auto;right:50%;}
.index .figure-product:nth-child(even) .figure-info {float: right;}
.index .figure-product:nth-child(even) .paging-wrap {left:0;}
.index .collections {overflow:hidden;}
.index .collection-cover {overflow:hidden;}
.index .collection-cover h2, .index .collection-cover h1 {font-size:94px;line-height:98px;font-style:italic;font-weight:800;padding-bottom:15px;position: relative;z-index: 1;}
.index .collection-cover h2 label, .index .collection-cover h1 label {display:block;font-size:22px;line-height:30px;font-weight:400;padding-bottom: 16px;letter-spacing: 0.12em;}
.index .collection-cover .description {font-size:20px;line-height:25px;max-width: 880px;padding:0 15px;margin: 0 auto;position: relative;}
.index .collection-cover p+p {margin-top:25px;}
.index .collection-cover .text-wrap {position:relative;max-width: 800px;margin: 0 auto;text-align:left;padding: 0 80px;}
.index .collection-cover .text-wrap.short {text-align: center;}
.index .collection-cover .text-wrap .description {position:relative;padding: 0;font-size:18px;}
.index .collection-cover .text-wrap:before {background:#212324;content:'';position:absolute;top: -58px;padding: 60px 0 72px;opacity:0.45;left: 0;width: 100%;height: 100%;border-radius: 3px;}
.index .collection-cover .explore, .index .collection-cover .read {display:block;font-size:16px;color:#fff;}
.index .collection-cover .explore:before, .index .collection-cover .read:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;}
.index .collection-cover .description:hover .explore, .index .collection-cover .description:hover .read:before {text-decoration: underline;}
.index .collection-cover {position: relative;display: table;width: 100%;}
.index .collection-cover .collection-content {max-width: 1200px;vertical-align: middle;position: relative;color: #fff;display: table-cell;text-align: center;padding: 100px 0;}
.index .collection-cover .cover-img {position:absolute;top:0;left: 0;height:100%;width: 100%;overflow:hidden;}
.index .collection-cover .cover-img:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity: 0.1;}
.index .collection-cover .cover-img img {position: relative;top: 0;min-width: 100%;width: 100%; }
.index .collection-cover:first-child {border-top:0;}
.index .collection-cover .categories {margin-top:26px;position: relative;z-index: 1;display:inline-block;}
.index .collection-cover .categories li {display:inline-block;padding: 10px 13px 0;}
.index .collection-cover .categories a {display:block;background:rgba(0, 0, 0, 0.3);border:2px solid #fff;border-radius:3px;color:#fff;font-size: 13px;padding: 11px;line-height: 24px;min-width: 184px;white-space:nowrap;position: relative;}
.index .collection-cover .categories small {position:relative;}
.index .collection-cover .categories b {display:block;font-size: 16px;font-weight: 800;font-style: italic;position: relative;}
.index .collection-cover .categories b:after {content:'';display:inline-block;vertical-align:middle;margin:-3px 0 0 5px;width:7px;height:10px;background:url("../../images/icon-categories.png") no-repeat 50% 50%;background-size:contain;}
.index .collection-cover .categories b.none {padding:2px 0;}
.index .collection-cover .categories b.none:after {display:none;}
.index .collection-cover .categories a:before {content:'';position:absolute;top:0;left:0;width:100%;opacity:0;height:100%;background: #000;}
.index .collection-cover .categories a:hover:before {opacity:0.15;}
.index .collection-cover+h3, .index .collection-cover+.brand, .index .collection-cover+.figure-product, .index .collection-cover+.featured-detail {margin-top:60px;}
.index .featured-detail {display:table;width:100%;height: 567px;position: relative;margin: 0 auto 60px;}
.index .featured-detail .inner {display:table-cell;vertical-align:middle;}
.index .featured-detail .showcase .image-container img {background-size:cover;margin: 0;width: 100%;}
.index .featured-detail .text {max-width: 1120px;margin: 0 auto;padding-bottom: 54px;}
.index .featured-detail .text:after {content:'';clear:both;display:block;}
.index .featured-detail h4 {font-size:85px;line-height:70px;font-weight:800;font-style:italic;text-transform:uppercase;padding-bottom: 24px;color: #2f333b;max-width: 50%;}
.index .featured-detail h4 a {color: #2f333b;font-style:italic;}
.index .featured-detail h4 label {display:block;font-size:22px;line-height:30px;font-weight:400;padding-bottom: 16px;letter-spacing: 0.12em;}
.index .featured-detail .summary {font-size:18px;line-height:26px;padding-bottom:27px;max-width: 50%;}
.index .featured-detail .btns {position:relative;padding-top:54px;}
.index .featured-detail .buttons {position:absolute;top:0;left:0;font-size:16px;font-weight:800;font-style:italic;background: #2da2c9;min-width: 186px;line-height: 54px;padding: 0 35px;clear: both;display: block;}
.index .featured-detail .buttons:before {content:'';position:absolute;top:0;left:0;width:100%;opacity:0;height:100%;background: #000;}
.index .featured-detail .buttons:hover:before {opacity:0.15;}
.index .featured-detail .buttons b {position:relative;font-weight: 700;font-style: italic;}
.index .featured-detail .liked {padding-top:28px;font-size: 14px;}
.index .featured-detail .liked:before {content:'';display: inline-block;vertical-align: middle;margin: -3px 6px 0 0;width: 12px;height: 12px;background:url("../../images/icon-heart.png") no-repeat 50% 50%;background-size:contain;}
.index .featured-detail.article h4 {font-size:44px;line-height:55px;}
.index .featured-detail.article .buttons {}
.index .featured-detail:nth-child(even) h4, .index .featured-detail:nth-child(even) .text > p,.index .featured-detail:nth-child(even) .summary, .index .featured-detail:nth-child(even) .btns {clear:both;float:right;width: calc(50% - 40px);width: -webkit-calc(50% - 40px);width: -moz-calc(50% - 40px);}
.index .featured {padding: 60px 0 40px;}
.index .featured-detail .summary p {width: auto;}
.index .featured h3.header {font-size:38px;font-weight:800;line-height:48px;padding: 0 0 60px;text-align:center;text-transform: uppercase;font-style: italic;color: #2f333b;}
.index .figure-product .figure-info .summary {color:#262830;min-height: 50px;}
.index .figure-product .figure-info .summary.show {height:auto;max-height: none;}
.index .figure-product .show .see-more {position:static;display:block;}
.index .figure-product .show .see-more .more {display:none;}
.index .figure-product .show .see-more .less {display:inline;}
.index .figure-product .show .see-more:before {display:none;}
.index .brand {text-align:center;background:#fff;margin: 0 auto 60px;}
.index .brand p {display: table;width:100%;}
.index .brand a {vertical-align:middle;display: table-cell;width: 20%;opacity:0.9;}
.index .brand a:hover {opacity:1;}
.index .brand a:hover img {transform:scale(0.95);-webkit-transform:scale(0.95);-moz-transform:scale(0.95);}
.index .brand img {vertical-align:middle;transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);transition:0.22s;-webkit-transition:0.22s;-moz-transition:0.22s;width: 100%; height: 84px;background-position:center;background-size:contain;background-repeat:no-repeat;}
.index .brand h3, .index .popular .brand h3 {font-size:22px;line-height:30px;font-weight:400;letter-spacing: 0.12em;padding: 0 0 27px;color: #9099a6;font-style:normal;}
.index .rank {width:75px;height:14px;position:relative;}
.index .rank:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background: url("../../images/svg/review-orange.svg") repeat-x;opacity:0.3;}
.index .rank span {display:block;width:0;height:14px;background: url("../../images/svg/review-orange.svg") repeat-x;}
.index .popular {padding: 0;overflow:hidden;}
.index .popular .featured {padding:0;}
.index .popular h3.header {font-size:38px;font-weight:800;line-height:48px;padding: 0 0 60px;text-align:center;text-transform: uppercase;font-style: italic;color: #2f333b;}
.index .pagination {clear:both;text-align:center;padding: 0 15px;max-width: 1120px;margin:0 auto;}
.index .pagination a.btn-more {display:inline-block;font-size: 18px;line-height: 53px;font-weight: 700;text-transform:uppercase;border-radius: 3px;background: #000000;color: #fff;width: 100%;max-width: 250px;margin-bottom:80px;}
.index .pagination a.btn-more span {font-style: italic;}
.index .figure-product .see-more {margin:0;position:absolute;top: 231px;left: 0;background: #fff;z-index: 2;width: 100%;}
.index .figure-product .description .see-more {top: 211px;}
.index .figure-product .see-more:before {content:'...';margin-right:4px;color: #262830;}
.index .figure-product .see-more .more:after {display:none;}
.index .figure-product .see-more span {display:none;margin: 0;}
.index .figure-product .see-more span.more, .index .figure-product .figure-info .description .see-more span.more {display:inline;position: static;}

@media screen and (max-width: 1080px) {
    .index .collection-cover {height:auto;display: block;}
}
@media screen and (max-width: 800px) {
    .index .popular {overflow:hidden;}
    .index .brand p {display:block;height: auto;}
    .index .brand a {display:inline-block;padding: 10px;}
    .index .brand, .index .brand h3 {padding-bottom:20px;}
    .index .showcase {float:none;width: auto;padding-bottom: 15px;position: static;height: auto;}
    .index .showcase .image-container {position:static;margin: 0;width: auto;max-width: none;}
    .index .showcase .image-container img {width: 100%;margin: 0;}
    .index .showcase .paging {padding-bottom:0;}
    .index .collection-cover .cover-img {left: -50%;width: 200%;}
    .index .collection-cover .cover-img  img {min-height: 100%;max-width: 100%;width: auto;}
    .index .collection-cover h2 label, .index .collection-cover h1 label {padding:0;font-size: 16px;}
    .index .collection-cover h2, .index .collection-cover h1 {font-size: 40px;line-height: 42px;}
    .index .collection-cover .description {font-size: 14px;line-height: 20px;}
    .index .collection-cover p+p {margin-top: 20px;}
    .index .collection-cover .text-wrap {padding:0 20px;}
    .index .collection-cover .text-wrap .description {font-size:14px;line-height:22px;}
    .index .collection-cover .text-wrap:before {top:-40px;padding-top:40px;}
    .index .collection-cover .categories a small {display:none;}
    .index .collection-cover .collection-content {padding: 30px 0;}
    .index .collection-cover:first-child .collection-content {padding-top:90px;}
    .index .figure-product {display:block;height:auto;}
    .index .figure-product .inner {display:block;padding: 30px 0;border-top: 1px solid #f1f1f1;margin: 0 15px;}
    .index .figure-product .figure-info {float:none;width:auto;max-width: none;}
    .index .figure-product .figure-info .price {float:none;}
    .index .figure-product .figure-info .product-review {float:none;text-align:left;}
    .index .figure-product .figure-info .frm .buttons {top:0 !important;}
	.index .figure-product .figure-info .description dd {max-height:63px;}
	.index .figure-product .figure-info .description .more {top: 104px;}
	.index .figure-product .figure-info .description .show dd {max-height:none;}
	.index .figure-product .figure-info .description .show dt .more {display:none;}
	.index .figure-product .see-more {top: 42px;}
	.index .figure-product .description .see-more {top:42px;}
    .index .figure-product:nth-child(even) .figure-info {float:none;}
    .index .figure-product.with-thumbnail {height:auto;}
    .index .featured-detail {display:block;height: auto;}
	.index .featured-detail .inner {display:block;padding: 76px 0 30px;border-top: 1px solid #f1f1f1;margin: 0 15px;}
    .index .featured-detail .text {display:block;padding: 10px 0 0;}
    .index .featured-detail h4 {font-size:40px;line-height:42px;max-width: none;}
    .index .featured-detail .summary {max-width:none;}
    .index .featured-detail .buttons {top:0 !important;}
    .index .featured-detail.article h4 {font-size:30px;line-height:32px;}
    .index .featured-detail:nth-child(even) h4, .index .featured-detail:nth-child(even) .text > p, .index .featured-detail:nth-child(even) .summary, .index .featured-detail:nth-child(even) .btns {width:auto;float: none;}
    .index .featured-detail {margin:0;}
	.index .featured-detail h4 label {position:absolute;top:30px;left: 15px;width: 90%;width: calc(100% - 30px);width: -webkit-calc(100% - 30px);width: -moz-calc(100% - 30px);}
    .index .figure-product .figure-info .summary {max-height:63px; overflow-y: hidden; min-height: 0;}
    .index .featured h3 {font-size:34px;line-height:36px;}
    .index .showcase .image-container .image-wrap {position:relative;}
}
 
@media screen and (max-width: 400px) {
	.index .collection-cover .cover-img img {max-width:none;}
}
