.social_icons a:before{background:url('../../images/svg/sprite.layout.merge.svg') no-repeat;background-size:200px 200px;}
.social_icons a {position:relative;display:inline-block;vertical-align:middle;text-indent:-1000em;width: 22px;height: 22px;vertical-align:middle;background:no-repeat 50% 50%;opacity:0.8;margin-left: 4px;}
.social_icons a:hover { opacity:1; }
.social_icons a:first-of-type {margin-left:0;}
.social_icons a:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;}
.social_icons a.icon-facebook:before {background-position:0 -65px;}
.social_icons a.icon-instagram:before {background:url('../../images/svg/share-instagram.svg') no-repeat 50% 50%;background-size: contain;}
.social_icons a.icon-twitter:before {background-position:-25px -65px;}
.social_icons a.icon-google:before {background:url('../../images/svg/share-google.svg') no-repeat 50% 50%;background-size: contain;}
.social_icons a.icon-email:before {background-position:-50px -65px;}
.social_icons a.icon-link:before {background-position:-75px -65px;}
.social_icons .icon-link em {position: absolute;bottom: 34px;border-radius: 3px;left: 50%;background: #272c31;padding: 0 8px;line-height: 28px;font-size: 11px;color: #fff;white-space: nowrap;display: none;text-indent: 0;margin-left: -31px;font-weight: bold;}
.social_icons .icon-link .tooltip:before {content: '';position: absolute;top: 100%;border: 4px solid transparent;border-top-color: #272c31;left: 50%;margin-left: -4px;}
.social_icons .icon-link:hover .tooltip {display: block;}
.social_icons .icon-link:hover .tooltip._copied {margin-left: -36px;}
