/* about */
#map .slide-item .arrow, .international .beyond i.device, #map .flag, #map .ic-search, .international .discover .icon, #map .slide2 .dot i, #map .slide1 .dot i, #map .zip-list .ic-loca {
  background: url("../../_ui/images/business/international_icon.png") no-repeat;
}

.international {
  font-weight: 400;
}

.international h3 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #383d48;
  font-weight: 600;
}

.international .discover {
  max-width: 970px;
  margin: 0 auto;
  padding: 72px 10px 78px;
}

.international .discover h3 {
  max-width: 740px;
  margin: 0 auto;
  padding-bottom: 42px;
  font-weight: 400;
  line-height: 46px;
  font-size: 28px;
}

.international .discover li {
  float: left;
  width: 256px;
  padding: 0 10px;
  text-align: center;
  padding-left: 70px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: calc(33% - 55px);
  width: -moz-calc(33% - 55px);
}

.international .discover .icon {
  display: block;
  height: 164px;
  margin: 0 auto;
}

.international .discover .step2 .icon {
  width: 139px;
  background-position: -170px 0;
}

.international .discover .step3 .icon {
  width: 216px;
  background-position: -350px 5px;
}

.international .discover b {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #383d48;
  padding: 35px 0 12px;
}

.international .discover .step1 {
  padding-left: 0;
}

.international .discover .step1 .icon {
  width: 160px;
}

.international .beyond {
  position: relative;
  padding: 136px 20px 160px;
  margin: 0 auto;
  max-width: 970px;
}

.international .beyond h3 {
  float: right;
  width: 320px;
  margin-bottom: 33px;
  text-align: left;
}

.international .beyond i.shown {
  position: absolute;
  left: -21px;
  top: 83px;
  max-width: 647px;
  width: 60%;
}

.international .beyond i.shown img {
  width: 100%;
  display: block;
}

.international .beyond i.device {
  display: block;
  width: 320px;
  height: 46px;
  background-position: -470px -520px;
  margin-top: 28px;
  float: right;
  clear: both;
}

.international .beyond p {
  float: right;
  width: 320px;
  position: relative;
  z-index: 1;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 7px;
  clear: both;
}

.international .beyond:after {
  content: '';
  clear: both;
  display: block;
}

.international .pr {
  text-align: center;
  padding: 74px 0 60px;
  background: #f3f5f7;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.international .pr .btn-join {
  margin-top: 55px;
}

.international .pr h3, .international .beyond h3, .international #map h3 {
  color: #383d48;
  font-weight: 400;
  font-size: 28px;
}

.international .visual {
  background: #e7eaee;
  text-align: center;
  background-color: #e7eaee;
  background-position: 50% 100%;
}

.international .visual small {
  display: block;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 5px;
}

.international .visual h2 {
  font-size: 55px;
  font-weight: 400;
  color: #383d48;
  padding: 75px 0;
  position: relative;
  opacity: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  opacity: 0;
}

.international .visual h2 span {
  position: relative;
  transition: 1s 1s;
  -webkit-transition: 1s 1s;
  -moz-transition: 1s 1s;
  -o-transition: 1s 1s;
  top: -20px;
  opacity: 0;
}

.international .visual .item {
  position: relative;
  max-width: 978px;
  margin: 0 auto;
  width: auto;
}

.international .visual .item span {
  background: url("../../_ui/images/business/animation_about.png") no-repeat;
}

.international .visual .item .t-shirts {
  top: 150px;
  left: -144px;
  width: 219px;
  height: 285px;
  background-position: 0 -170px;
  opacity: 1;
}

.international .visual .item .desk1 {
  top: 275px;
  left: 100px;
  width: 371px;
  height: 170px;
  opacity: 1;
}

.international .visual .item .desk2 {
  top: 388px;
  right: -100px;
  width: 416px;
  height: 279px;
  background-position: -440px 0;
  opacity: 1;
}

.international .visual .item .lantop {
  top: 348px;
  right: 100px;
  width: 193px;
  height: 112px;
  background-position: -790px -320px;
  opacity: 1;
}

.international .visual .item .light {
  top: 0;
  right: 0;
  width: 178px;
  height: 216px;
  background-position: -880px 0;
  opacity: 1;
}

.international .visual .item .desk2_shadow {
  top: 457px;
  right: -210px;
  width: 525px;
  height: 117px;
  background-position: -220px -320px;
  opacity: 1;
}

.international .visual .item .site {
  width: 978px;
  height: 295px;
  top: 330px;
  left: 50%;
  margin-left: -489px;
  opacity: 1;
  background-position: 0 -460px;
  transition: 1s 3s;
  -webkit-transition: 1s 3s;
  -moz-transition: 1s 3s;
  -o-transition: 1s 3s;
}

.international .visual img {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 978px;
}

.international .visual .btn-join {
  margin-top: 20px;
  -webkit-transition: 0.7s 3.3s;
  transition: 0.7s 3.3s;
  -webkit-transition: 0.7s 1.5s;
  -moz-transition: 0.7s 1.5s;
  -o-transition: 0.7s 1.5s;
  opacity: 0;
}

.international .visual.animation h2 {
  opacity: 1;
}

.international .visual.animation h2 span {
  top: 0;
  opacity: 1;
}

.international .visual.animation .item .site {
  top: 39px;
}

.international .visual.animation .item .screen {
  background-color: #dfe0e4;
}

.international .visual.animation .btn-join, .international .visual.animation .item span {
  opacity: 1;
}

#map {
  background: #f3f5f7;
  border-top: 1px solid #eaeef1;
  border-bottom: 1px solid #eaeef1;
  padding-bottom: 39px;
}

#map .slide, #map .slide-item {
  background: url("../../_ui/images/business/international_slide.jpg") no-repeat;
}

#map .slide {
  position: relative;
  max-width: 970px;
  height: 520px;
  margin: 0 auto;
  background-position: 0 -1040px;
}

#map .slide.paging1 .slide1, #map .slide.paging2 .slide2, #map .slide.paging3 .slide3, #map .slide.paging1 .slide1 .bullen, #map .slide.paging2 .slide2 .bullen, #map .slide.paging3 .slide3 .bullen {
  opacity: 1;
  z-index: 1;
}

#map .slide-item {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 970px;
  height: 520px;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  z-index: 0;
  background-position: 0 -1040px;
}

#map .slide-item .arrow {
  position: absolute;
  bottom: -23px;
  left: 48px;
  background-position: -583px -5px;
  width: 20px;
  height: 23px;
}

#map .dot i {
  opacity: 0;
}

#map .bullen {
  position: absolute;
  width: 284px;
  background: #3098dc;
  border-radius: 10px;
  padding: 20px 25px 28px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
}

#map .bullen b {
  display: block;
  padding-bottom: 9px;
  font-size: 28px;
  font-weight: 400;
}

#map .slide1 .bullen {
  top: 1px;
  right: 86px;
  width: 310px;
  -webkit-transition: all 1s ease-in-out 2.7s;
  transition: all 1s ease-in-out 2.7s;
}

#map .slide1 .dot i {
  position: absolute;
  width: 11px;
  height: 14px;
  background-position: -640px 0;
  -webkit-transition: opacity 1s ease-in-out 0.4s;
  transition: opacity 1s ease-in-out 0.4s;
  opacity: 0;
}

#map .slide1 .dot i.show {
  opacity: 1;
}

#map .slide1 .dot i.show.air, #map .slide1 .dot i.show.air2, #map .slide1 .dot i.show.air3, #map .slide1 .dot i.show.air4, #map .slide1 .dot i.show.air5 {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#map .slide1 .dot i.air, #map .slide1 .dot i.air2, #map .slide1 .dot i.air3, #map .slide1 .dot i.air4, #map .slide1 .dot i.air5 {
  -webkit-transition: opacity 0.3s ease-in-out 0.3s,left 1s ease-in-out 0.3s, top 1s ease-in-out 0.3s, -webkit-transform 1s 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out 0.3s,left 1s ease-in-out 0.3s, top 1s ease-in-out 0.3s, -webkit-transform 1s 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out 0.3s,left 1s ease-in-out 0.3s, top 1s ease-in-out 0.3s, transform 1s 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out 0.3s,left 1s ease-in-out 0.3s, top 1s ease-in-out 0.3s, transform 1s 0.3s ease-in-out,-webkit-transform 1s 0.3s ease-in-out;
}

#map .slide1 .dot i.air {
  left: 172px;
  top: 122px;
  width: 34px;
  height: 39px;
  background-position: -620px -280px;
  -webkit-transform: translate(-100px, 30px);
  transform: translate(-100px, 30px);
}

#map .slide1 .dot i.air2 {
  left: 800px;
  top: 380px;
  width: 35px;
  height: 39px;
  background-position: -620px -320px;
  -webkit-transform: translate(-100px, -30px);
  transform: translate(-100px, -30px);
}

#map .slide1 .dot i.air3 {
  left: 396px;
  top: 114px;
  width: 35px;
  height: 39px;
  background-position: -620px -280px;
  -webkit-transform: translate(-100px, 50px);
  transform: translate(-100px, 50px);
}

#map .slide1 .dot i.air4 {
  left: 571px;
  top: 270px;
  width: 32px;
  height: 39px;
  background-position: -660px -460px;
  -webkit-transform: translate(-60px, -100px);
  transform: translate(-60px, -100px);
}

#map .slide1 .dot i.air5 {
  left: 259px;
  top: 361px;
  width: 35px;
  height: 40px;
  background-position: -694px -460px;
  -webkit-transform: translate(-30px, -100px);
  transform: translate(-30px, -100px);
}

#map .slide2 .bullen {
  width: 320px;
  left: 115px;
  top: 138px;
  -webkit-transition: all 1s ease-in-out 1.5s;
  transition: all 1s ease-in-out 1.5s;
}

#map .slide2 .dot i {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out 0.4s;
  transition: opacity 1s ease-in-out 0.4s;
}

#map .slide2 .dot i.show {
  opacity: 1;
}

#map .slide2 .dot .lang1 {
  width: 79px;
  height: 30px;
  background-position: -672px 0;
  left: 500px;
  top: 159px;
}

#map .slide2 .dot .lang2 {
  width: 64px;
  height: 12px;
  background-position: -686px -34px;
  left: 813px;
  top: 168px;
}

#map .slide2 .dot .lang3 {
  width: 81px;
  height: 21px;
  background-position: -669px -48px;
  left: 290px;
  top: 292px;
}

#map .slide2 .dot .lang4 {
  width: 142px;
  height: 50px;
  background-position: -608px -71px;
  left: 206px;
  top: 348px;
}

#map .slide2 .dot .lang5 {
  width: 153px;
  height: 42px;
  background-position: -597px -123px;
  left: 416px;
  top: 66px;
}

#map .slide2 .dot .lang6 {
  width: 163px;
  height: 39px;
  background-position: -492px -170px;
  left: 616px;
  top: 155px;
}

#map .slide2 .dot .lang7 {
  width: 50px;
  height: 19px;
  background-position: -698px -171px;
  left: 315px;
  top: 78px;
}

#map .slide2 .dot .lang8 {
  width: 44px;
  height: 17px;
  background-position: -706px -193px;
  left: 738px;
  top: 295px;
}

#map .slide2 .dot .lang9 {
  width: 129px;
  height: 27px;
  background-position: -621px -220px;
  left: 497px;
  top: 249px;
}

#map .slide2 .dot .lang10 {
  width: 55px;
  height: 21px;
  background-position: -695px -253px;
  left: 814px;
  top: 378px;
}

#map .slide2 .dot .lang11 {
  width: 72px;
  height: 40px;
  background-position: -678px -280px;
  left: 220px;
  top: 47px;
}

#map .slide2 .dot .lang12 {
  width: 64px;
  height: 24px;
  background-position: -686px -329px;
  left: 629px;
  top: 53px;
}

#map .slide2 .dot .lang13 {
  width: 44px;
  height: 12px;
  background-position: -632px -367px;
  left: 606px;
  top: 117px;
}

#map .slide2 .dot .lang14 {
  width: 69px;
  height: 21px;
  background-position: -681px -363px;
  left: 496px;
  top: 312px;
}

#map .slide2 .dot .lang15 {
  width: 31px;
  height: 15px;
  background-position: -662px -397px;
  left: 521px;
  top: 29px;
}

#map .slide2 .dot .lang16 {
  width: 45px;
  height: 24px;
  background-position: -706px -394px;
  left: 789px;
  top: 91px;
}

#map .slide2 .dot .lang17 {
  width: 112px;
  height: 24px;
  background-position: -638px -424px;
  left: 744px;
  top: 208px;
}

#map .slide2 .dot .lang18 {
  width: 28px;
  height: 12px;
  background-position: -659px -253px;
  left: 92px;
  top: 89px;
}

#map .slide3 .bullen {
  top: 30px;
  right: 70px;
  -webkit-transition: all 1s ease-in-out 1.2s;
  transition: all 1s ease-in-out 1.2s;
}

#map .slide3 .dot i {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #3098dc;
  border-radius: 2px;
  -webkit-transition: all 1s ease-in-out 0.4s;
  transition: all 1s ease-in-out 0.4s;
  opacity: 0;
}

#map .slide3 .dot i.show {
  opacity: 1;
}

#map h3 {
  padding: 64px 0 39px;
}

#map fieldset {
  position: absolute;
  bottom: 92px;
  left: 110px;
  border: 0;
}

#map fieldset.hover .ic-search {
  background-position: -600px -30px;
}

#map fieldset.enter .ic-search {
  background-position: -580px -30px;
}

#map .flag {
  display: block;
  width: 453px;
  height: 17px;
  background-position: 0 -170px;
  margin: 19px 0 10px;
}

#map input {
  width: 244px;
  height: 19px;
  line-height: 19px;
  padding: 10px 0 10px 42px;
  background: #fff;
}

#map .zip-list {
  position: absolute;
  display: none;
  left: 0;
  top: 39px;
  background: #fff;
  border: 1px solid #ababab;
  border-top-color: #ccc;
  border-radius: 0 0 3px 3px;
  overflow: auto;
  width: 286px;
  max-height: 110px;
}

#map .zip-list li {
  border-bottom: 1px solid #f0f0f0;
  line-height: 18px;
}

#map .zip-list li.on {
  background: none repeat scroll 0 0 #f6f6f6;
}

#map .zip-list li:last-child {
  border-bottom: 0;
}

#map .zip-list a {
  display: block;
  padding: 9px 12px;
  color: #74787e;
  font-size: 15px;
}

#map .zip-list a:hover {
  background: #fafbfb;
}

#map .zip-list .ic-loca {
  display: inline-block;
  vertical-align: middle;
  margin: -3px 4px 0 0;
  width: 11px;
  height: 14px;
  background-position: -640px 0;
}

#map .zip-list b {
  font-weight: 600;
  color: #383d48;
}

#map .enter input {
  border-color: #3098dc;
}

#map .ic-search {
  background-position: -620px -30px;
  width: 19px;
  height: 19px;
  top: 11px;
  left: 13px;
  position: absolute;
}

@media screen and (max-width: 970px) {
  #map fieldset {
    left: 60px;
    width: calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    margin: 0;
  }
  #map .slide-item {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}

@media screen and (max-width: 800px) {
  .international .beyond i.shown {
    position: static;
    display: block;
    margin: 0 auto 30px;
    width: auto;
  }
  .international .beyond h3, .international .beyond p, .international .beyond i.device {
    display: block;
    float: none;
    width: auto;
  }
  .international .discover li, .international .discover .step1 {
    padding-left: 10px;
    float: none;
    width: auto;
    padding-bottom: 30px;
  }
  .international .visual small {
    font-size: 15px;
  }
  .international .visual h2 {
    font-size: 30px;
  }
  .international h3 {
    font-size: 15px;
    line-height: 22px;
  }
  .international .pr h3, .international .beyond h3, .international #map h3 {
    font-size: 18px;
  }
  #map .slide {
    height: auto;
  }
  #map .slide-item {
    position: static;
    height: auto;
    width: auto;
    padding: 0 20px 50px;
    opacity: 1;
  }
  #map .slide1 .bullen, #map .slide2 .bullen, #map .slide3 .bullen {
    width: auto;
    position: relative;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    opacity: 1;
  }
  #map fieldset {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 40px 0 0;
  }
  #map .flag {
    width: 230px;
  }
  #map .slide1 .bullen, #map .slide2 .bullen, #map .slide3 .bullen {
    right: auto;
    left: 60px;
    width: calc(100% - 170px);
    width: -moz-calc(100% - 170px);
    max-width: 284px;
  }
}
/*# sourceMappingURL=about.css.map */