.brand-value {
  font-size: 24px;
  line-height: 35px;
}

.brand-value.container {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
  overflow: hidden;
}

.brand-value .inner {
  max-width: 1280px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.brand-value .badge {
  display: inline-block;
  vertical-align: bottom;
  font-size: 13px;
  line-height: 18px;
  padding-top: 39px;
  position: relative;
  color: #373d48;
}

.brand-value .badge:last-child {
  margin-right: 0;
}

.brand-value .badge:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 18px;
  background: url("../../_ui/images/svg/product-detail.svg") no-repeat;
}

.brand-value .badge.family:before {
  background-position: -40px -30px;
  width: 34px;
  height: 27px;
  margin: -14px 0 0 -18px;
}

.brand-value .badge.eco:before {
  background-position: -80px -30px;
  width: 35px;
  height: 29px;
  margin: -15px 0 0 -18px;
}

.brand-value .badge.charitable:before {
  background-position: 0 -30px;
  width: 35px;
  height: 35px;
  margin: -18px 0 0 -18px;
}

.brand-value .badge.sustainable:before {
  background-position: -70px -70px;
  width: 35px;
  height: 35px;
  margin: -18px 0 0 -18px;
}

.brand-value .badge.women:before {
  background-position: -110px -70px;
  width: 35px;
  height: 35px;
  margin: -18px 0 0 -18px;
}

.brand-value .badge.bipoc:before {
  background-position: -150px -70px;
  width: 35px;
  height: 30px;
  margin: -15px 0 0 -18px;
}

.brand-value .badge.small:before {
  background-position: 0 -110px;
  width: 35px;
  height: 35px;
  margin: -18px 0 0 -18px;
}

.brand-value .badge.exclusive:before {
  background-position: -130px -110px;
  width: 35px;
  height: 35px;
  margin: -18px 0 0 -18px;
}

.brand-value .badge.trending:before {
  background-position: -165px -110px;
  width: 35px;
  height: 35px;
  margin: -18px 0 0 -18px;
}

.brand-value .badge.hand:before {
  background-position: 0 -150px;
  width: 35px;
  height: 35px;
  margin: -18px 0 0 -18px;
}

.brand-value .badge.usa:before {
  background-position: -40px -150px;
  width: 40px;
  height: 28px;
  margin: -14px 0 0 -18px;
}

.brand-value .badge-detail {
  padding: 63px 0 102px;
  max-width: none;
}

.brand-value .badge-detail ol {
  white-space: nowrap;
}

.brand-value .badge-detail .mobile-view {
  display: none;
}

.brand-value .badge-detail li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 21px;
  width: 400px;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #EBECED;
  border-radius: 6px;
  padding: 50px 50px 80px;
  min-height: 400px;
}

.brand-value .badge-detail li .badge {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  padding: 0 0 18px;
}

.brand-value .badge-detail li .badge:before {
  display: none;
}

.brand-value .badge-detail li.sustainable.focus {
  border-color: #30B53D;
}

.brand-value .badge-detail li.hand.focus {
  border-color: #F99500;
}

.brand-value .badge-detail li.women.focus {
  border-color: #FD94B8;
}

.brand-value .badge-detail li.small.focus {
  border-color: #F4CD00;
}

.brand-value .badge-detail li.eco.focus {
  border-color: #5CD759;
}

.brand-value .badge-detail li.usa.focus {
  border-color: #327AE4;
}

.brand-value .badge-detail li.charitable.focus {
  border-color: #E8361E;
}

.brand-value .badge-detail li.family.focus {
  border-color: #AE49DE;
}

.brand-value .badge-detail li.bipoc.focus {
  border-color: #404040;
}

.brand-value .badge-detail p {
  font-size: 18px;
  line-height: 26px;
}

.brand-value .badge-detail .view-shop {
  position: absolute;
  left: 50px;
  bottom: 48px;
  color: #2581E3;
  font-weight: 700;
  text-decoration: underline;
  font-size: 20px;
  line-height: 27px;
}

.brand-value .badge-detail .swiper-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.brand-value .badge-detail .swiper-button-prev, .brand-value .badge-detail .swiper-button-next {
  cursor: pointer;
  width: 56px;
  height: 56px;
  top: 50%;
  position: absolute;
  margin-top: -52px;
  text-indent: -1000em;
  z-index: 1;
  left: 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 100%;
}

.brand-value .badge-detail .swiper-button-prev:before, .brand-value .badge-detail .swiper-button-next:before {
  content: '';
  top: 50%;
  position: absolute;
  width: 12px;
  height: 21px;
  left: 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: -10px 0 0 -6px;
  background: url("../../_ui/images/svg/more-arrow.svg") no-repeat;
  background-size: contain;
}

.brand-value .badge-detail .swiper-button-prev {
  left: 24px;
  margin-left: -28px;
}

.brand-value .badge-detail .swiper-button-next {
  left: auto;
  right: 24px;
  margin-right: -28px;
}

.brand-value .badge-detail .swiper-button-next:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.brand-value .badge-detail .disabled {
  display: none;
}

.brand-value .badge-detail .badge-menu {
  text-align: center;
  padding-bottom: 63px;
  max-width: 1440px;
  margin: 0 auto;
}

.brand-value .badge-detail .badge-menu .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0px, 0px) !important;
          transform: translate3d(0px, 0px, 0px) !important;
}

.brand-value .badge-detail .badge-menu .badge {
  min-width: 100px;
}

.brand-value .badge-detail .badge-menu .badge + .badge {
  margin-left: 32px;
}

.brand-value .badge-detail .badge-menu .badge:hover {
  text-decoration: underline;
}

.brand-value .cover {
  position: relative;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 575px;
}

.brand-value .cover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

.brand-value .cover .inner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50px;
  width: 100%;
  max-width: calc(50% - 100px);
  float: right;
  color: #fff;
}

.brand-value .cover h1 {
  font-size: 50px;
  line-height: 68px;
  font-weight: 600;
  padding-bottom: 17px;
}

.brand-value .cover p {
  font-size: 24px;
  line-height: 35px;
  padding: 0;
  max-width: 560px;
}

.brand-value .story {
  text-align: center;
  background: #DAEDF9;
  padding: 80px 0;
}

.brand-value .story h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding-bottom: 19px;
}

.brand-value .story p {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 60px;
}

.brand-value .story .btns-blue-embo {
  font-size: 20px;
  line-height: 57px;
  width: 270px;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .brand-value .badge-detail {
    padding: 18px 20px 48px;
  }
  .brand-value .badge-detail li {
    display: block;
    margin-left: 0;
    width: auto !important;
    padding: 35px 35px 60px;
    min-height: 335px;
    margin-top: 30px;
  }
  .brand-value .badge-detail li .badge {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 8px;
  }
  .brand-value .badge-detail li .badge:before {
    display: block;
    margin: 0 0 11px;
    position: static;
  }
  .brand-value .badge-detail li:last-child {
    margin-right: 0 !important;
  }
  .brand-value .badge-detail li:first-child {
    margin-left: 0 !important;
  }
  .brand-value .badge-detail li.sustainable.focus, .brand-value .badge-detail li.hand.focus, .brand-value .badge-detail li.women.focus, .brand-value .badge-detail li.small.focus, .brand-value .badge-detail li.eco.focus, .brand-value .badge-detail li.usa.focus, .brand-value .badge-detail li.charitable.focus, .brand-value .badge-detail li.family.focus, .brand-value .badge-detail li.bipoc.focus {
    border-color: #EBECED;
  }
  .brand-value .badge-detail ol {
    display: none;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .brand-value .badge-detail .mobile-view {
    display: block;
  }
  .brand-value .badge-detail p {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 13px;
  }
  .brand-value .badge-detail .view-shop {
    left: 35px;
    bottom: 35px;
    font-size: 18px;
    line-height: 25px;
  }
  .brand-value .badge-detail .swiper-button-prev, .brand-value .badge-detail .swiper-button-next, .brand-value .badge-detail .badge-menu {
    display: none;
  }
  .brand-value .cover {
    height: 322px;
    padding: 63px 50px;
  }
  .brand-value .cover .inner {
    position: relative;
    top: 0;
    -webkit-transform: none;
            transform: none;
    right: 0;
    width: auto;
    max-width: none;
    float: none;
    padding: 0;
  }
  .brand-value .cover h1 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
  }
  .brand-value .cover p {
    font-size: 16px;
    line-height: 22px;
  }
  .brand-value .story {
    padding: 32px 0;
  }
  .brand-value .story h2 {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 16px;
    max-width: 200px;
    margin: 0 auto;
  }
  .brand-value .story p {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 24px;
    max-width: 240px;
    margin: 0 auto;
  }
  .brand-value .story .btns-blue-embo {
    font-size: 16px;
    line-height: 46px;
    width: 170px;
  }
}
/*# sourceMappingURL=brand-value.css.map */