.campaigns .pricing .tooltip em i:before, .campaigns .pricing .custom h3:before, .campaigns .pricing .custom li:before, .campaigns .review .prev, .campaigns .review .next {background: url('../../_ui/images/business/campaign_icon.png') no-repeat;background-size:100px 100px;}

.campaigns .plan_add {clear:both;padding-top:72px;background:-webkit-linear-gradient(top,#f2f5f7,#fbfbfb);background:-moz-linear-gradient(top,#f2f5f7,#fbfbfb);background:-o-linear-gradient(top,#f2f5f7,#fbfbfb);background-image:-ms-linear-gradient(top, #f2f5f7,#fbfbfb);}
.campaigns .plan_add h3 {font-size:24px;text-align:center;padding-bottom:30px;}
.campaigns .plan_add h3:before {content:'';display:block;width:75px;height:70px;background:url('../../_ui/images/svg/campaigns-add-ons.svg') no-repeat;background-size:contain;margin: 0 auto -7px;}
.campaigns .plan_add li {padding:3px 0;}
.campaigns .plan_add li:before {content:'';display:inline-block;vertical-align:middle;width:10px;height:10px;background:url('../../_ui/images/svg/campaigns-addons-plus.svg') no-repeat;background-size:contain;margin:-3px 6px 0 0;}
.campaigns .plan_add dt {font-size:12px;opacity:0.5;padding:3px 0;}
.campaigns .plan_add dl {float:left;padding-left:10px;width:calc((100%/3) - 10px);width:-webkit-calc((100%/3) - 10px);width:-moz-calc((100%/3) - 10px);}
.campaigns .plan_add .planning:after {content:'';clear:both;display:block;}
.campaigns .plan_add .planning:before {content:'';position:absolute;bottom:100%;left:50%;width:42px;height:11px;margin: 0 0 -1px -21px;background:url('../../_ui/images/svg/campaign-popup-arrow.svg') no-repeat;background-size:contain;transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);}
.campaigns .plan_add .planning {position:relative;padding: 42px 60px 42px 50px;margin:0 auto;color:#fff;font-size:15px;line-height:20px;background:#2f333b;border-radius:5px;max-width: 850px;box-shadow: 0 6px 20px rgba(0,0,0,0.07);}
.campaigns .video_feature {padding-top:100px;background:-webkit-linear-gradient(top,#fbfbfb,#ffffff);background:-moz-linear-gradient(top,#fbfbfb,#ffffff);background:-o-linear-gradient(top,#fbfbfb,#ffffff);background-image:-ms-linear-gradient(top, #fbfbfb,#ffffff);}
.campaigns .video_feature .inner {max-width:1110px;}
.campaigns .video_feature .slider {background:#fff;border-radius:3px;box-shadow:0 3px 10px rgba(0,0,0,0.07);margin: 0 auto;max-width: 1080px;height: 495px;}
.campaigns .video_feature .slide-item {position:absolute;display: table;width: 100%;height: 495px;opacity: 0;}
.campaigns .video_feature .slide-item[style^="opacity: 1"] {z-index:1;}
.campaigns .video_feature .text {display:table-cell;vertical-align:middle;padding: 90px 0 96px 70px;}
.campaigns .video_feature .video {position:absolute;top:50%;right: 20px;box-shadow: 0 8px 40px rgba(171, 148, 140, 0.46);margin-top: -157px;border-radius: 5px;overflow:hidden;width: 560px;max-width: calc(100% - 500px);}
.campaigns .video_feature .paging {position:absolute;left:0;width:100%;bottom:70px;line-height:3px;}
.campaigns .video_feature .paging span {margin: 0 auto;max-width: 940px;display: block;padding: 0 90px;}
.campaigns .video_feature .paging a {display:inline-block;vertical-align:top;width:34px;height:3px;border-radius:2px;background:#dedfe0;text-indent:-1000em;margin-right: 1px;}
.campaigns .video_feature .paging a.current {background:#2994ed;}
.campaigns .video_feature .date {color:#696f79;font-size:13px;padding: 20px 0 0;}
.campaigns .video_feature h4 {font-size:40px;line-height:46px;color:#2f333b;max-width:370px;}
.campaigns .video_feature h3 {font-weight:600;color:#2994ed;font-size:15px;padding-bottom: 15px;letter-spacing: 0.2em;}
.campaigns .video_feature h3:before {content:'';display:inline-block;vertical-align:middle;width:9px;height:13px;background: url('../../_ui/images/svg/campaigns-video.svg') no-repeat;margin:-3px 6px 0 0;background-size: contain;}
.campaigns .video_feature iframe {display:block;width: 100%;margin: 0 auto;}
.campaigns .visual {background: url('../../_ui/images/business/campaign_bg2.png') no-repeat 100% 0 #2090ec;height:510px;display:table;width:100%;background-size: 762px 476px;}
.campaigns .visual .inner {display:table-cell;vertical-align: middle;}
.campaigns .visual h2 {max-width:1080px;margin:0 auto;color:#fff;font-size: 60px;}
.campaigns .visual h2 small {display:block;font-size: 24px;line-height: 34px;font-weight: 400;opacity: 0.7;max-width: 540px;padding-top: 20px;}
.campaigns .pricing {background:#f2f5f7;position:relative;}
.campaigns .pricing:before {content:'';position:absolute;top:0;left:0;width:100%;height:50%;background:url('../../_ui/images/business/campaign_bg.png') no-repeat 0 100% #2090ec;background-size:contain;}
.campaigns .pricing dl {margin:0 15px;border-top:1px solid rgba(230, 231, 232, 0.5);padding:25px 0;}
.campaigns .pricing li {position:relative;font-size:15px;line-height:18px;padding:4px 0;}
.campaigns .pricing dd small {display:block;font-size:12px;color:#2184dc;}
.campaigns .pricing dt {font-size:12px;line-height:26px;color:#9099a6;font-weight:500;}
.campaigns .pricing h3 {position:relative;padding: 11px 15px 35px;font-size:28px;color:rgba(66, 84, 108, 0.8);}
.campaigns .pricing h3 small {display:block;font-weight:400;color:#9099a6;font-size:15px;padding-top: 10px;}
.campaigns .pricing h3 small b {font-weight:600;}
.campaigns .pricing .tooltip {display:inline-block;vertical-align:top;position:relative;}
.campaigns .pricing .tooltip em {display:none;position:absolute;bottom:100%;left:50%;width:180px;padding:20px;background:#2f333b;border-radius:5px;margin: 0 0 20px -110px;box-shadow: 0 6px 20px rgba(0,0,0,0.07);}
.campaigns .pricing .tooltip em:before {content:'';position:absolute;top:100%;left:50%;width:42px;height:11px;margin: -1px 0 0 -21px;background:url('../../_ui/images/svg/campaign-popup-arrow.svg') no-repeat;background-size:contain;}
.campaigns .pricing .tooltip em i {color:#3abc62;font-size:11px;font-weight:500;text-transform:uppercase;}
.campaigns .pricing .tooltip em i+i {margin-left:14px;}
.campaigns .pricing .tooltip em i:before {content:'';display:inline-block;vertical-align:middle;width: 21px;height: 18px;background-position: -60px 0;margin: -3px 7px 0 0;}
.campaigns .pricing .tooltip em i.mobile:before {width:12px;background-position:-60px -20px;}
.campaigns .pricing .tooltip em small {font-size:13px;line-height:18px;color:#fff;padding-top: 16px;}
.campaigns .pricing .tooltip:hover em {display:block;}
.campaigns .pricing .inner:after {content:'';clear:both;display:block;}
.campaigns .pricing .inner > div {float:left;background:#fff;padding:30px;border-radius:3px;box-shadow:0 3px 10px rgba(0,0,0,0.07);width: calc((100%/3) - 8px);margin-left:12px;box-sizing:border-box;}
.campaigns .pricing .inner > div:nth-child(3n+1) {margin-left:0;}
.campaigns .pricing .inner .custom {position:absolute;bottom:0;left: 20px;box-shadow:none;background:none;padding:0;}
.campaigns .pricing .custom li:before {content:'';position:absolute;top: 8px;left:0;width:11px;height:9px;background-position:-10px 0;}
.campaigns .pricing .custom h3:before {content:'';position: absolute;top: 3px;left: 3px;width: 8px;height: 12px;opacity: 0.7;}
.campaigns .pricing .custom h3 {color:#2f333b;font-size:15px;padding: 0 0 15px 20px;}
.campaigns .pricing .custom li {padding-left:20px;}
.campaigns .pricing .custom .btn-learn {font-size:16px;color:#2994ed;background:#fff;border-radius:3px;box-shadow:0 3px 7px rgba(0,0,0,0.07);line-height:47px;padding:0 15px;font-weight:500;min-width:180px;margin-top:20px;}
.campaigns .pricing .commission {padding: 26px 0;margin:0 15px;font-size:15px;line-height:19px;border-top:1px solid rgba(230, 231, 232, 0.5);}
.campaigns .pricing .btn-select {width:100%;background: rgba(41, 148, 237, .9);}
.campaigns .pricing .btn-select:hover {background:rgba(32, 144, 236, .96);box-shadow:0 7px 16px rgba(41, 148, 237, .5);}
.campaigns .pricing .save {font-weight:500;color:#3abc62;}
.campaigns .review {padding-bottom:130px;}
.campaigns .review h3 {display:block;font-weight:600;color:#2994ed;font-size:15px;padding:  129px 0 30px 70px;letter-spacing: 0.2em;}
.campaigns .review h3:before {content:'';display:inline-block;vertical-align:middle;width:15px;height:14px;background: url('../../_ui/images/svg/campaigns-reviews.svg') no-repeat;margin: -4px 6px 0 0;background-size: contain;}
.campaigns .review h4 {font-size:28px;padding-bottom:10px;}
.campaigns .review p {font-size:18px;line-height:26px;}
.campaigns .review .writor {display:block;white-space:nowrap;position:relative;padding: 2px 0 2px 50px;font-size:11px;color:#2f333b;line-height:18px;letter-spacing: 0.1em;}
.campaigns .review .writor b {display:block;font-size:13px;}
.campaigns .review .writor img {position:absolute;top:0;left:0;width:40px;height:40px;border-radius:3px;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);background:no-repeat 50% 50%;background-size:cover;}
.campaigns .review .prev, .campaigns .review .next {position:absolute;top:50%;width:22px;height:42px;margin-top:-21px;z-index: 1;}
.campaigns .review .prev {left:0;background-position:0 -20px;}
.campaigns .review .next {right:0;background-position:-30px -20px;}
.campaigns .review .slider {position:relative;overflow:hidden;}
.campaigns .review .slider:after {content:'';position:absolute;top:0;right:0;width:20%;height:100%;background:-webkit-linear-gradient(left,rgba(255,255,255,0),#ffffff);background:-moz-linear-gradient(left,rgba(255,255,255,0),#ffffff);background:-o-linear-gradient(left,rgba(255,255,255,0),#ffffff);background-image:-ms-linear-gradient(left,rgba(255,255,255,0),#ffffff);}
.campaigns .review .slider ul {position:relative;white-space:nowrap;}
.campaigns .review .slide-item {display:inline-block;padding:0 0 0 70px;max-width: 540px;vertical-align:top;white-space: normal;width: calc(100% - 70px);}
.campaigns .customize {padding-bottom:100px;}
.campaigns .customize ul {position:relative;max-width:723px;background:#2a94ed;border-radius:5px;box-shadow:0 7px 16px rgba(41, 148, 237, 0.3);margin:0 auto;}
.campaigns .customize ul:after {content:'';clear:both;display:block;}
.campaigns .customize ul:before {content:'';position:absolute;background:#2786d4;opacity:0.5;top:30px;left:50%;margin-left:-2px;width:3px;height:90%;height:calc(100% - 60px);height:-webkit-calc(100% - 60px);height:-moz-calc(100% - 60px);border-radius: 2px;}
.campaigns .customize li {position:relative;float:left;width:50%;text-align:center;color:#fff;font-size:15px;padding: 55px 0 55px;}
.campaigns .customize li:before {content:'';display:block;margin:0 auto;width:58px;height:58px;background: url('../../_ui/images/svg/campaigns-custom.svg') no-repeat;background-size: contain;margin-bottom:25px;}
.campaigns .customize h3 {font-size:24px;}
.campaigns .customize p {opacity:0.7;padding: 10px 0 30px;}
.campaigns .customize .help:before {background-image: url('../../_ui/images/svg/campaigns-help.svg');}
.campaigns .customize .btn-blue {background:#2380cd;}
.campaigns .pricing .inner .premium h3 {color:rgba(47, 51, 59, .8);}

#popup_container.setup-campaign .popup.setup-campaign {display:block;}
#popup_container .popup.setup-campaign {width:560px;background:#fff;border-radius:5px;}
.popup.setup-campaign .data-frm {padding: 28px 38px 16px;}
.popup.setup-campaign .data-frm.payment {padding-bottom: 22px;border-top:1px solid #f4f4f4;}
.popup.setup-campaign a.add {position:relative;clear:both;display:block;color:#2a94ed;font-size:14px;padding-left:12px;line-height:18px;}
.popup.setup-campaign a.add:before {content:'';width:7px;height:1px; position:absolute;top:50%;left:0;background:#2994ed;}
.popup.setup-campaign a.add:after {content:'';height:7px;width:1px; position:absolute;top:50%;margin-top:-3px;left:3px;background:#2994ed;}
.popup.setup-campaign .ltit {font-size:22px;background:none;padding:30px 38px 0}
.popup.setup-campaign .label {display:block;color: #2f333b;font-size: 14px;padding-bottom: 8px;font-weight: 600;}
.popup.setup-campaign input.text, .popup.setup-campaign input[type="text"] {width:100%;box-sizing:border-box;}
.popup.setup-campaign .btn-area {background:none;box-shadow:none;border-top-color: #f4f4f4;padding: 20px 38px;}
.popup.setup-campaign .terms {float:left;line-height: 19px;padding: 11px 0;font-size: 14px;}
.popup.setup-campaign .terms input {margin-right:4px;}
.popup.setup-campaign .btn-blue {font-size:14px;}
.popup.setup-campaign .data-frm p {padding: 6px 0 16px;}
.popup.setup-campaign .data-frm p:after {content:'';clear:both;display:block;}
.popup.setup-campaign .data-frm select {float:left;width:49%;width:calc(50% - 6px);}
.popup.setup-campaign .data-frm select:last-child {float:right;}
.popup.setup-campaign .data-frm .email {float:left;width:49%;width:calc(50% - 6px);}
.popup.setup-campaign .data-frm .phone {float:right;width:49%;width:calc(50% - 6px);}
.popup.setup-campaign .data-frm .cvv {float:left;width:calc((100%/3) - 6px);}
.popup.setup-campaign .data-frm .date {float:right;width:calc((100%/3)*2 - 6px);}
.popup.setup-campaign .ly-close {top: 21px;right: 24px;}
.popup.setup-campaign .ly-close:before {background: url('../../_ui/images/svg/close.svg') no-repeat;background-size:contain;width: 15px;height: 15px;margin: -7px 0 0 -8px;}

#popup_container.custom-campaign .popup.custom-campaign {display:block;}
#popup_container .popup.custom-campaign {width:560px;background:#fff;border-radius:5px;}
.popup.custom-campaign .ltit {font-size:22px;background:none;padding:30px 38px 0}
.popup.custom-campaign .label {display:block;color: #2f333b;font-size: 14px;padding-bottom: 8px;font-weight: 600;line-height: 17px;}
.popup.custom-campaign input.text, .popup.custom-campaign input[type="text"] {width:100%;box-sizing:border-box;}
.popup.custom-campaign .btn-area {background:none;box-shadow:none;border-top-color: #f4f4f4;padding: 20px 38px;}
.popup.custom-campaign .btn-blue {font-size:14px;}
.popup.custom-campaign .data-frm {padding: 28px 38px 22px;}
.popup.custom-campaign .data-frm p {padding: 6px 0 16px;}
.popup.custom-campaign .data-frm:after {content:'';clear:both;display:block;}
.popup.custom-campaign .data-frm select {width:100%;}
.popup.custom-campaign .data-frm .email, .popup.custom-campaign .data-frm .location {float:left;width:49%;width:calc(50% - 6px);}
.popup.custom-campaign .data-frm .phone, .popup.custom-campaign .data-frm .state {float:right;width:49%;width:calc(50% - 6px);}
.popup.custom-campaign .ly-close {top: 21px;right: 24px;}
.popup.custom-campaign .ly-close:before {background: url('../../_ui/images/svg/close.svg') no-repeat;background-size:contain;width: 15px;height: 15px;margin: -7px 0 0 -8px;}
.popup.custom-campaign .estimated {position:relative;clear:both;padding: 6px 0 16px;}
.popup.custom-campaign .estimated #budget {position:absolute;top: 6px;background:none;border:0;right:0;padding: 0;text-align: right;line-height: 17px;font-size: 14px;font-weight: bold;color: #2994ed;}
.popup.custom-campaign .estimated .ui-slider {padding: 3px 0;height: 6px;background: url('../../_ui/images/business/campaign_bg3.png') repeat-x 50% 50%;background-size:23px 4px;margin: 0 12px;box-shadow: inset -2px 0 0 #dfe5e9, inset 2px 0 0 #dfe5e9;}
.popup.custom-campaign .estimated .ui-slider:after {content:'';position:absolute;left: 25%;top:0;width: 50%;height: 12px;width: calc(50% - 17px);border-right: 2px solid #dfe5e9;border-left: 2px solid #dfe5e9;left: calc(25% + 7px);box-shadow: 2px 0 0 #fff, -2px 0 0 #fff;}
.popup.custom-campaign .estimated .ui-slider-range {position: absolute;display:block;top: 3px;height:2px;background: #2994ed;border-top:2px solid #fff;border-bottom: 2px solid #fff;z-index: 1;}
.popup.custom-campaign .estimated .range {position:relative;}
.popup.custom-campaign .estimated .range > span {float:left;width: 19%;text-align:center;font-size: 11px;color: #9099a6;font-weight: 500;padding: 9px 0 0;}
.popup.custom-campaign .estimated .range > span:first-of-type {text-align:left;width: 17%;}
.popup.custom-campaign .estimated .range > span:last-of-type {text-align:right;width: 15%;}
.popup.custom-campaign .estimated .range > span:nth-of-type(3) {width: 28%;}
.popup.custom-campaign .estimated .range:after {content:'';clear:both;display:block;}
.popup.custom-campaign .estimated .ui-slider:before {content:'';position: absolute;top: 0;left: 50%;width: 2px;height: 12px;background: #dfe5e9;border-left: 2px solid #fff;margin-left: -3px;border-right: 2px solid #fff;z-index: 1;}
.popup.custom-campaign .estimated .ui-slider-handle:last-child {display:block;position:absolute;width:10px;height:10px;border:2px solid #fff;background: #2994ed;border-radius:100%;margin: 0 0 0 -7px;top: -1px;z-index: 2;cursor: pointer;}
.popup.custom-campaign .interests {clear:both;padding: 6px 0 16px;}
.popup.custom-campaign .interests li {font-size:14px;line-height:20px;padding:1px 0;}

@media screen and (max-width: 800px) {
	.campaigns .visual {height:auto;}
	.campaigns .visual .inner h2 {padding:140px 0 50px;}
    .campaigns .pricing .inner > div {float:none;width:auto;margin:0 0 10px;}
    .campaigns .pricing .inner .custom {position:relative;left:0;padding-top:20px;margin: 0;}
    .campaigns .video_feature {padding-top: 50px;}
    .campaigns .video_feature .slide-item {display:block;width: auto;height: auto;}
    .campaigns .video_feature .text {position:relative;padding: 60px 20px 20px;display: block;}
    .campaigns .video_feature .video {position: static;margin: 30px -20px -20px;max-width: calc(100% + 40px);text-align: center;width: auto;border-radius: 0 0 3px 3px;}
    .campaigns .video_feature .video iframe {height:auto !important;}
    .campaigns .video_feature .paging {bottom: auto;width: auto;left: 40px;top: 40px;}
    .campaigns .video_feature .paging span {padding:0;}
    .campaigns .video_feature .slider {height: auto;}
    .campaigns .video_feature .slide-item[style^="opacity: 1"] {position:relative;}
    .campaigns .review {padding:0;}
    .campaigns .review .prev, .campaigns .review .next {display:none;}
    .campaigns .review h3 {padding:50px 0 30px;}
    .campaigns .review .slide-item {width:auto;display:block;padding:0 0 30px;max-width: none;}
    .campaigns .review .slider ul {position:static;}
    .campaigns .review .slider:after {display:none;}
    .campaigns .pricing dl, .campaigns .pricing .commission {margin:0;}
    .campaigns .pricing h3 {padding:0 0 30px}
    .campaigns .visual h2 {font-size:34px;}
    .campaigns .visual h2 small {font-size:18px;line-height:26px;padding-top:20px;}
    .campaigns .customize ul:before {top:50%;left:30px;width:calc(100% - 60px);width:-webkit-calc(100% - 60px);width:-moz-calc(100% - 60px);height:3px;}
    .campaigns .customize li {float:none;width:auto;}
}

@media screen and (-webkit-min-device-pixel-ratio:2){
	.popup.setup-campaign .ly-close:before {background: url('../../_ui/images/svg/close.svg') no-repeat;background-size:contain;}
	.popup.custom-campaign .ly-close:before {background: url('../../_ui/images/svg/close.svg') no-repeat;background-size:contain;}
}