
.support .whats .icon, .support .intro .icon i, .faq h2 .icon i, .support .intro .contact .ic-location {
background-image: url("../../_ui/images/business/support_icon.png");
background-repeat: no-repeat;
}

/* .contact .visual {
	overflow: hidden;
	.item {
		margin: 0 auto;
		max-width: 400px;
		span {background: url("../../_ui/images/business/support_visual.png") no-repeat;}
		.lantop {
			width: 280px;
			height: 292px;
			top: 180px;
			right: -250px;
			background-position:-210px 0;
			transition: 0.5s .5s;
			-webkit-transition: 0.5s .5s;
			-moz-transition: 0.5s .5s;
			-o-transition: 0.5s .5s;
		}
		.cabinet {
			width: 204px;
			height: 168px;
			top: 145px;
			left: -200px;
			background-position: 0 0;
			transition: 0.5s 1.5s;
			-webkit-transition: 0.5s 1.5s;
			-moz-transition: 0.5s 1.5s;
			-o-transition: 0.5s 1.5s;
		}
		.headset {
			width: 117px;
			height: 170px;
			top: 145px;
			right: -58px;
			background-position: 0 -180px;
			transition: 0.5s 2s;
			-webkit-transition: 0.5s 2s;
			-moz-transition: 0.5s 2s;
			-o-transition: 0.5s 2s;
		}
		.sticker {
			width: 55px;
			height: 76px;
			top: 210px;
			right: -145px;
			background-position:-140px -180px;
			transition: 0.5s 1s;
			-webkit-transition: 0.5s 1s;
			-moz-transition: 0.5s 1s;
			-o-transition: 0.5s 1s;
		}
	}
	h2 {
		text-align: center;
		font-size: 50px;
		line-height: 80px;
		padding: 110px 0;
		color: #383d48;
		opacity: 0;
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-o-transition: 1s;
		position: relative;
		z-index: 1;
	}
	&.animation {
		h2 {opacity: 1;}
		.lantop {top: 160px;}
		.cabinet {left: -189px;}
	}
} */
.support .intro .topic dt .icon,.faq .topic h2 .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 42px;
	height: 42px;
	border-radius: 2px;
	box-shadow: inset 0 0 0 2px #4c505a;
	text-align: center;
	line-height: 40px;
}
.support .intro .icon i, .faq h2 .icon i {
	display: inline-block;
	vertical-align: middle;
	margin-top:-3px;
}
.support {
	.contact {
		h3 {
			font-size: 26px;
			color: #383d48;
			font-weight: 600;
			padding: 43px 0 41px;
		}
		p {
			font-size: 16px;
			line-height: 24px;
			padding: 16px 0 36px;
			border-bottom: 1px solid #e1e2e3;
		}
		.after {padding: 0 0 3px;}
		li {
			float: left;
			width: 30%;
			padding: 0 0 75px 30px;
			font-size: 16px;
			line-height: 20px;
			width: calc(33% - 19px);
			width: -webkit-calc(33% - 19px);
			width: -moz-calc(33% - 19px);
			a {
				display: inline-block;
				border-bottom: 1px solid #fff;
				transition: 0.3s;
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				-o-transition: 0.3s;
				&:hover {border-bottom-color: #3098dc;}
				&:first-of-type {padding-top: 7px;}
			}
			b {
				display: block;
				font-size: 18px;
				color: #383d48;
				font-weight: 600;
				padding-bottom: 8px;
			}
			&:nth-child(3n+1) {
				clear: both;
				padding-left: 0;
			}
		}
	}
	.visual {
		z-index: 1;
		background: #e7eaee;
		margin-bottom: 20px;
		p {
			font-size: 52px;
			line-height: 60px;
			color: #383d48;
			font-weight: 600;
			padding: 120px 0;
			text-align: center;
		}
		&.animation .whats li {opacity: 1;}
	}
	&.container {background:#fff;padding-left:0;padding-right:0;max-width:none;}
	.inner {position:relative;padding-left:24px;padding-right:24px;margin:0 auto;max-width:1160px;}
	.whats {
		position: absolute;
		top: 110px;
		left: 50%;
		margin-left:-485px;
		font-size: 16px;
		line-height: 22px;
		color: #74787e;
		li {
			float: left;
			margin-left: 32px;
			width: 48%;
			border: 1px solid #E9ECEF;
			background: #fff;
			border-radius: 3px;
			width: calc(50% - 18px);
			width: -webkit-calc(50% - 18px);
			width: -moz-calc(50% - 18px);
			opacity: 0;
		}
		.msg {
			margin-left: 0;
			.icon {
				width: 96px;
				height: 96px;
				margin: 26px auto 35px;
			}
		}
		span {
			display: block;
			padding: 0 20px 18px;
			line-height: 22px;
			font-size: 15px;
			color: #74787e;
		}
		.icon {
			display: block;
			margin: 0 auto;
		}
		b {
			display: block;
			font-size: 18px;
			color: #383d48;
			background: rgb(247, 248, 249);
			font-weight: 600;
			padding: 13px 20px;
			line-height: 30px;
			border-bottom: 1px solid rgb(234, 237, 241);
			border-radius: 3px 3px 0 0;
		}
		.chat .icon {
			width: 133px;
			height: 86px;
			background-position:-100px 0;
			margin: 33px auto 38px;
		}
		.contact .icon {
			width: 85px;
			height: 96px;
			background-position:-240px 0;
			margin: 26px auto 35px;
		}
		em {
			font-weight: 600;
			color: #74787e;
			font-style: normal;
		}
	}
	.msg-us {
		padding:15px 15px 12px;
		text-align:center;
		border:1px solid #e9ecef;
		border-radius:3px;
		margin: 28px 0 0;
		clear:both;
		p {
			font-size:15px;
			line-height:20px;
			padding:10px 0 0;
		}
	}
	.intro .topic {
		border-bottom: 1px solid #f0f0f0;
		h3 {
			font-size: 26px;
			color: #383d48;
			font-weight: 600;
			padding: 150px 0 34px;
		}
		dl {
			float: left;
			padding-bottom: 55px;
			width: 300px;
			padding-left: 30px;
			&:nth-of-type(3n+1) {
				padding-left: 0;
				clear: both;
				width: 310px;
			}
		}
		.topic7,.topic8,.topic9 {padding-bottom: 45px;}
		dt {
			position: relative;
			padding-left: 52px;
			color: #383d48;
			font-size: 14px;
			line-height: 40px;
			b {
				display: inline-block;
				font-size: 19px;
				font-weight: 600;
				line-height: 22px;
				vertical-align: middle;
			}
		}
		dd {padding: 14px 0 0;}
		li {
			font-size: 13px;
			line-height: 18px;
			padding: 3px 0;
			color: #3098dc;
			list-style: outside disc;
			margin-left: 15px;
			a {
				font-size: 16px;
				border-bottom: 1px solid #fff;
				transition: 0.3s;
				-webkit-transition: 0.3s;
				-moz-transition: 0.3s;
				-o-transition: 0.3s;
				&:hover {border-bottom-color: #3098dc;}
			}
		}
	}
	.mail {
		.receiver {
			font-size: 15px;
			padding: 50px 0 40px;
			b {
				font-weight: 600;
				color: #383d48;
				font-size: 30px;
				margin-right: 7px;
			}
			small {display:block;padding-top:10px;line-height:22px;}
		}
		h2 {
			font-weight: 600;
			color: #383d48;
			font-size: 22px;
			padding: 37px 0 18px;
		}
		.frm {
			float: left;
			max-width: 652px;
			width:calc(100% - 350px);
		}
		.quick {
			float: right;
			width: 328px;
			margin-top: 42px;
			border: 1px solid #e1e1e3;
			border-radius: 3px;
			dd {padding: 15px 15px 12px;}
			dt {
				color: #000000;
				font-weight: 600;
				line-height: 20px;
				padding: 11px 15px 9px;
				font-size: 16px;
				background: #f5f6f7;
				border-bottom: 1px solid #e1e1e3;
			}
			li {
				font-size: 15px;
				line-height: 22px;
			}
			a {
				color: #74787e;
				font-weight: 600;
				border-bottom: 1px solid #fff;
				transition: .3s;
				-webkit-transition: .3s;
				-moz-transition: .3s;
				-o-transition: .3s;
				&:hover {border-bottom-color: #74787e;}
			}
		}
		select,a.selectBox .selectBox-label, input.text, input[type="text"], textarea {
			display: block;
			width: 100%;
			padding: 9px 10px;
			line-height: 20px;
			box-sizing:border-box;
			box-shadow:none;
		}
		input.text, input[type="text"], textarea {margin-bottom: 10px;}
		textarea {height: 274px;}
		.btn-send {margin: 10px 0 80px;}
		fieldset {
			border: 0;
			input.text, input[type="text"] {
				margin: 10px 0 0;
				display: block;
			}
		}
		h3 {
			font-weight: 600;
			padding: 30px 0 13px;
			color: #3098dc;
			font-size: 15px;
		}
	}
	.order_list {
		height:500px;
		overflow:auto;
		padding:15px;
	}
	.order-list {
		box-shadow: 0 0 0 1px #e1e1e3;
		border-radius: 3px;
		padding-bottom: 10px;
		background: #f7f7f7;
		overflow:hidden;cursor:pointer;position:relative;
		&+.order-list {margin-top:10px;}
		&:hover, &.selected {box-shadow:0 0 0 2px #3098dc;}
		&.selected:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(48, 152, 220, 0.01)}
		dt {
			border-bottom: 1px solid #e1e1e3;
			padding: 15px 10px;
			line-height: 18px;
			font-size: 14px;
			color: #a1a4ab;
			background:#fff;
			b {
				color: #383d48;
				font-weight: 600;
			}
			a {font-weight: 600;}
		}
		dd {
			position: relative;
			margin: 10px 10px 0 10px;
			border: 1px solid #eaeaea;
			background: #fff;
			&:first-child {margin-top: 0;}
			input {
				position: absolute;
				top: 3px;
				left:-26px;
				background-color: #fff;
			}
		}
		label {
			display: block;
			padding: 10px 10px 10px 93px;
			min-height: 58px;
		}
		.thumnail {
			position: absolute;
			top: 0;
			left: 0;
			width: 78px;
			height: 100%;
			border-right: 1px solid #eaeaea;
			background: no-repeat 50% 50%;
			background-size:cover;
		}
	}
	&.popup {
		width:700px;background:#fff;border-radius:5px;overflow:hidden;
		&.loading:before {
			content:'';position:fixed;top:50%;left:50%;margin:-25px 0 0 -25px;width:50px;height:50px;
			background:url('../../_ui/images/common/spinner-medium.gif') no-repeat #fff 50% 50%;
			background-size:contain;
		}
		.btn-next {float:left;background: #f4f4f4;color: #333;margin-right: 5px;}
		.btn-area {background:none;border:0;}
	}
}
@media screen and (max-width: 600px) {
	.support {
		.whats li, .contact li {
			float:none;
			width:auto;
			padding-left:0;
		}
		.whats li {margin: 30px 0 0;}
		.contact li {padding:0 0 30px;}
		.visual p {font-size:30px;}
		.mail {
			padding-bottom:20px;
			.receiver {
				padding:20px 0;
				b {font-size:26px;}
				> a {display:inline-block;}
			}
			h2 {padding:10px 0;}
			.frm, .quick {float:none;width:auto;}
			.btn-send {margin:0;}
		}
	}
	.contact .visual h2 {padding:100px 0 50px;font-size:32px;}
}
