#header.help .merchant-menu {
  display: none !important;
}

#header.help.fixed .search {
  display: block;
}

#header.topic .search {
  display: block;
  top: 26px;
}

#header.topic .menu {
  padding-top: 35px;
}

#header.topic.fixed .logo {
  padding-top: 14px;
}

#header.topic.fixed .menu {
  padding-top: 16px;
}

#header.topic.fixed .search {
  top: 9px;
}

.ui-autocomplete {
  max-height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0 0 3px 3px;
}

.ui-autocomplete.topic, .ui-autocomplete.resources, .ui-autocomplete.help, .ui-autocomplete.help_topic, .ui-autocomplete.help_top {
  left: 50% !important;
}

.ui-autocomplete.topic {
  width: 970px !important;
  margin-left: -541px;
  margin-top: 198px;
}

.ui-autocomplete.resources {
  margin-left: -357px;
  width: 714px;
  margin-top: 305px;
}

.ui-autocomplete.help {
  margin-left: -300px;
  width: 600px !important;
  margin-top: 266px;
}

.ui-autocomplete.help_topic {
  margin-left: -264px;
  width: 470px !important;
  margin-top: 64px;
}

.ui-autocomplete.help_top {
  margin-left: -263px;
  width: 470px !important;
  margin-top: 54px;
  position: fixed;
}

.ui-autocomplete .ui-menu-item a {
  padding: 10px 20px;
  cursor: pointer;
  color: #393d4d;
  opacity: 0.8;
  display: block;
}

.ui-autocomplete .ui-menu-item a:hover {
  background: #f8f8f8;
  opacity: 1;
}

.ui-autocomplete .ui-menu-item a:focus {
  outline: none;
}

.ui-autocomplete .ui-menu-item + .ui-menu-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.search-result h2 {
  font-size: 22px;
  color: #383d48;
  line-height: 28px;
  padding-top: 48px;
}

.search-result h2 small {
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: #8a8f9c;
}

.search-result ul {
  padding-bottom: 90px;
}

.search-result li {
  font-size: 16px;
  line-height: 24px;
  padding-top: 34px;
}

.search-result li a {
  color: #8a8f9c;
}

.search-result li b {
  color: #3298db;
  font-size: 18px;
  display: block;
}

.search-result .contact {
  clear: both;
  font-size: 15px;
  text-align: center;
  border-top: 1px solid #ebebeb;
  color: #383d48;
  padding: 42px 0;
}

.search-result .contact a {
  font-weight: 600;
}

.topic.container, .sources.container {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

.topic .inner, .sources .inner {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  max-width: 1160px;
}

.topic .pagination, .sources .pagination {
  float: left;
  width: 100%;
  border-top: 1px solid #ebebeb;
  padding: 40px 0;
  text-align: right;
}

.topic .pagination a, .sources .pagination a {
  display: inline-block;
  padding: 1px 13px 0px;
  background: #F5F6F7;
  color: #777A81;
  border-radius: 3px;
  border: 1px solid #E5E6E7;
  line-height: 39px;
  font-size: 13px;
  font-weight: 600;
}

.topic .pagination a.prev, .sources .pagination a.prev {
  float: left;
}

.topic .pagination a.prev:before, .sources .pagination a.prev:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  background-position: -30px 0;
  vertical-align: middle;
  margin: -3px 9px 0 0;
}

.topic .pagination a.next:after, .sources .pagination a.next:after {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  background-position: -30px -15px;
  vertical-align: middle;
  margin: -3px 0 0 9px;
}

.topic .search-result, .sources .search-result {
  padding-top: 234px;
}

.topic .search-result .pagination, .sources .search-result .pagination {
  padding: 30px 0;
}

.topic .frm h2 {
  font-weight: 600;
  color: #383d48;
  font-size: 22px;
  padding: 37px 0 18px;
}

.topic .frm select, .topic .frm a.selectBox .selectBox-label, .topic .frm input.text, .topic .frm input[type="text"], .topic .frm textarea {
  display: block;
  width: 100%;
  padding: 9px 10px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.topic .frm input.text, .topic .frm input[type="text"], .topic .frm textarea {
  margin-bottom: 10px;
}

.topic .frm textarea {
  height: 274px;
}

.topic .frm .btn-send {
  margin: 10px 0 80px;
}

.topic .frm fieldset {
  border: 0;
}

.topic .frm fieldset input.text, .topic .frm fieldset input[type="text"] {
  margin: 10px 0 0;
  display: block;
}

.topic .frm h3 {
  font-weight: 600;
  padding: 30px 0 13px;
  color: #3098dc;
  font-size: 15px;
}

.topic .visual {
  padding: 0;
  text-align: left;
  overflow: visible;
  height: 88px;
  background: #3993cd;
  z-index: 1;
  position: relative;
}

.topic .visual .linemap {
  font-size: 18px;
  color: #fff;
  padding: 0 3px 26px;
  opacity: 1;
}

.topic .visual .linemap b {
  font-weight: normal;
}

.topic .sub-contents {
  min-height: 600px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 13px;
}

.topic h3 {
  padding: 0;
  text-align: left;
  font-weight: 600;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 24px;
  font-size: 28px;
  color: #383d48;
}

.topic h3 small {
  padding-top: 9px;
  font-weight: normal;
  display: block;
  font-size: 18px;
  color: #8a8f9c;
}

.topic .faq_cont {
  padding: 27px 0 0;
}

.topic .faq_cont li {
  padding: 56px 0 0 26px;
  margin-top: -56px;
}

.topic .faq_cont li .faq_q {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #3298DB;
  display: block;
  line-height: 19px;
  padding: 7px 0 7px 0;
}

.topic .faq_cont li .faq_q a {
  color: #3298db;
}

.topic .faq_cont li .faq_q:before {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-left-color: #3298db;
  left: -15px;
  top: 12px;
}

.topic .faq_cont li .answer {
  font-size: 15px;
  line-height: 22px;
  color: #8a8f9c;
  padding: 15px 0 16px;
  display: none;
}

.topic .faq_cont li .answer p {
  font-size: 15px;
  padding-bottom: 22px;
  line-height: 22px;
  color: #8a8f9c;
}

.topic .faq_cont li .answer ol {
  padding: 0 0 22px 16px;
}

.topic .faq_cont li .answer ol li {
  position: relative;
  margin: 0;
  padding: 0;
  text-indent: -15px;
}

.topic .faq_cont li.show .answer {
  display: block;
}

.topic .faq_cont li.show .faq_q a {
  color: #383d48;
  font-weight: 600;
}

.topic .faq_cont li.show .faq_q:before {
  left: -17px;
  border-color: transparent;
  border-top-color: #3298db;
  top: 15px;
}

.topic .answer {
  padding: 31px 0 30px;
}

.topic .answer p {
  font-size: 16px;
  line-height: 22px;
  color: #8a8f9c;
  padding-bottom: 22px;
}

.topic .answer p .red-text, .topic .answer .code .red-text {
  color: #dd1144;
}

.topic .answer h4 small {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #8a8f9c;
  padding-top: 5px;
  font-weight: normal;
}

.topic .answer h5 {
  font-size: 18px;
  line-height: 22px;
  color: #383d48;
  font-weight: normal;
  padding-bottom: 12px;
}

.topic .answer ul {
  padding-bottom: 12px;
}

.topic .answer ul li {
  list-style: outside disc;
  padding: 0 0 10px;
  margin-left: 18px;
  line-height: 22px;
  color: #8a8f9c;
}

.topic .answer li ul {
  padding-top: 10px;
}

.topic .answer img {
  max-width: 100%;
  vertical-align: top;
  border: 1px solid #ccc;
  margin-top: 22px;
}

.topic .answer .number_list {
  padding-bottom: 12px;
  margin-left: 11px;
}

.topic .answer .number_list li {
  list-style-type: decimal;
}

.topic .answer b.point {
  font-weight: normal;
  color: #dd1144;
  font-family: monospace;
  padding: 0 5px;
  background: #f8f8f8;
}

.topic .answer pre.code {
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 22px;
  background: #f8f8f8;
  white-space: pre-line;
  word-break: break-all;
  color: #333333;
  font-family: 'Inconsolata', monospace;
  padding: 17px 20px 20px;
}

.topic .answer q {
  font-style: italic;
  display: block;
  padding: 20px 50px;
  border: 1px solid #ddd;
  margin-bottom: 22px;
}

.topic .helpful {
  display: none;
  padding-top: 51px;
}

.topic .helpful p {
  color: #383d48;
  font-size: 16px;
}

.topic .helpful button {
  color: #4b4f59;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 35px;
  padding: 0 16px;
  border-radius: 3px;
  background: #f5f6f7;
  border: 1px solid #e5e6e7;
  margin-right: 6px;
}

.topic .helpful .btn-no {
  margin-right: 11px;
}

.topic .answer h4, .topic .helpful h4 {
  font-size: 18px;
  line-height: 22px;
  color: #383d48;
  padding-bottom: 22px;
}

.topic #merchant-doc h4, .topic #merchant-message h4 {
  padding-top: 21px;
}

.topic #merchant-doc h4:first-of-type, .topic #merchant-message h4:first-of-type {
  padding-top: 5px;
}

.topic .embed {
  padding: 0 0 22px;
}

.topic .embed img {
  max-width: 100%;
  margin: 6px 0;
}

.topic .embed .summary {
  font-size: 14px;
  color: #8a8f9c;
  font-style: italic;
  padding: 0;
}

.topic .linemap span {
  color: #c6d7e6;
}

.topic .articles {
  clear: both;
  padding: 39px 0 50px;
  float: right;
  width: 880px;
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  text-align: center;
}

.topic.merchant .sub-contents {
  border: 0;
}

.topic.merchant .sidebar a {
  display: block;
  color: #75797e;
  padding: 6px 0;
}

.topic.merchant .sidebar a:hover {
  color: #44484D;
}

.topic.merchant .sidebar a.current {
  color: #424752;
}

.topic.merchant .sidebar li {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.topic.merchant .sidebar li.show small {
  display: block;
}

.topic.merchant .sidebar small {
  display: none;
  font-size: 16px;
  border-left: 2px solid #e6e9f1;
  padding: 0 0 3px 16px;
  font-weight: normal;
  margin: 1px 0 10px 19px;
}

.topic.merchant .sidebar small a {
  color: #9296a3;
}

.topic.merchant .sidebar small a.current {
  position: relative;
  color: #3298db;
}

.topic.merchant .sidebar small a.current:before {
  position: absolute;
  content: '';
  width: 2px;
  height: 20px;
  left: -18px;
  top: 6px;
  height: calc(100% - 12px);
  background: #3298db;
  height: -moz-calc(100% - 12px);
}

.topic.merchant .search-result {
  padding-top: 234px;
}

.topic.merchant .visual {
  background: #3d6e9a;
  height: auto;
}

.topic.merchant .visual .inner {
  padding: 90px 24px;
}

.topic.help .search-result {
  padding-top: 88px;
}

.help .articles p {
  clear: both;
  background: #F5F6F7;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
  padding: 19px 22px;
  font-size: 15px;
  color: #383D48;
}

.help .articles p a {
  font-weight: 600;
}

.help.sources .visual {
  padding-bottom: 100px;
  z-index: 1;
  overflow: visible;
  height: auto;
  background: #3993cd;
}

.help.sources .visual h2 {
  padding-top: 123px;
  font-size: 44px;
  color: #fff;
  text-align: center;
}

.help.sources .visual p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-top: 35px;
}

.help.sources .visual p a {
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.help.sources .visual p a:hover {
  color: #d6e6f1;
}

.help.sources .visual .search {
  position: relative;
  max-width: 600px;
  margin: 35px auto 0;
  background: none;
}

.help.sources .visual .search input {
  padding: 16px;
  font-size: 17px;
  font-weight: normal !important;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  transition: background 0.2s, color 0.2s;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  width: 100%;
}

.help.sources .visual .search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.help.sources .visual .search input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.help.sources .visual .search input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.help.sources .visual .search:hover input {
  background: rgba(0, 0, 0, 0.2);
}

.help.sources .visual .search.focus input {
  background: #fff;
}

.help.sources .visual .search.focus input::-webkit-input-placeholder {
  color: #c5c8cc;
}

.help.sources .visual .search.focus input::-ms-input-placeholder {
  color: #c5c8cc;
}

.help.sources .visual .search.focus input::-moz-placeholder {
  color: #c5c8cc;
}

.help.sources .visual .search.focus .btn-blue {
  background-position: -330px -30px;
}

.help.sources .visual .search .btn-blue {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 21px;
  height: 21px;
  margin-top: -11px;
  background: url("../../_ui/images/business/about_help.png") no-repeat -330px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  text-indent: -1000em;
  opacity: 0.7;
}

.help.sources h3 {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  padding: 46px 0 29px;
  color: #383d48;
}

.help.sources .topics h3 {
  padding: 43px 0 14px;
}

.help.sources .topics dl {
  padding: 75px 0 30px;
}

.help.sources .topics dt {
  line-height: 37px;
  font-size: 13px;
  color: #8a8f9c;
  font-weight: 600;
}

.help.sources .topics li {
  position: relative;
  float: left;
  line-height: 18px;
  color: #8a8f9c;
  margin: 0 0 30px 30px;
  font-size: 13px;
  width: 20%;
  width: calc(25% - 23px);
  width: -moz-calc(25% - 23px);
}

.help.sources .topics li a {
  display: block;
  padding: 170px 0 28px;
  color: #5e6573;
  border-radius: 3px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  border: 2px solid #f7f7f7;
  text-align: center;
  font-size: 15px;
}

.help.sources .topics li a:hover {
  background: #f7f7f7;
  color: #3098dc;
}

.help.sources .topics li:nth-child(4n+1) {
  margin-left: 0;
  clear: both;
}

.help.sources .topics li b {
  display: block;
}

.help.sources .topics .icon {
  position: absolute;
  top: 90px;
  left: 50%;
  background: url("../../_ui/images/business/about_help.png") no-repeat;
}

.help.sources .topics .icon.topic1 {
  width: 72px;
  height: 94px;
  margin: -47px 0 0 -36px;
}

.help.sources .topics .icon.topic10 {
  width: 85px;
  height: 74px;
  background-position: -80px 0;
  margin: -37px 0 0 -42px;
}

.help.sources .topics .icon.topic8 {
  width: 85px;
  height: 78px;
  background-position: -170px 0;
  margin: -37px 0 0 -42px;
}

.help.sources .topics .icon.topic6 {
  width: 60px;
  height: 93px;
  background-position: -260px 0;
  margin: -46px 0 0 -30px;
}

.help.sources .topics .icon.topic13 {
  width: 104px;
  height: 79px;
  background-position: 0 -100px;
  margin: -37px 0 0 -52px;
}

.help.sources .topics .icon.topic3 {
  width: 91px;
  height: 96px;
  background-position: -110px -100px;
  margin: -43px 0 0 -45px;
}

.help.sources .topics .icon.topic11 {
  background-position: -1120px -560px;
}

.help.sources .topics .icon.topic12 {
  width: 70px;
  height: 88px;
  background-position: -210px -100px;
  margin: -44px 0 0 -35px;
}

.help.sources .topics .icon.topic4 {
  width: 96px;
  height: 82px;
  background-position: -280px -100px;
  margin: -41px 0 0 -48px;
}

.help.sources .articles {
  padding-bottom: 60px;
  border-top: 1px solid #ebebeb;
}

.help.sources .articles ul {
  float: left;
  width: 29%;
  margin-right: 35px;
  padding: 0 0 52px;
  width: calc(33% - 20px);
  width: -moz-calc(33% - 20px);
}

.help.sources .articles ul.cell_3 {
  margin-right: 0;
}

.help.sources .articles li {
  padding: 4px 0;
  line-height: 20px;
  font-size: 15px;
}

.help.sources .articles li a {
  color: #8A8F9C;
}

.help.sources .articles li a:hover {
  color: #3098dc;
}

.topic .pagination, .sources .pagination {
  display: none;
}

.merchant .visual .search:before {
  background: url("../../_ui/images/business/merchant_topic.png") no-repeat;
}

.merchant .visual .linemap a, .merchant.topic .linemap span {
  color: #c6d7e6;
}

.merchant .visual .search {
  position: relative;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.merchant .visual .search:before {
  content: '';
  width: 26px;
  height: 26px;
  opacity: 0.7;
  position: absolute;
  left: 16px;
  top: 15px;
}

.merchant .visual .search .btn-blue {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 56px;
  font-size: 17px;
  min-width: 112px;
  padding: 0 10px;
  color: #fff;
  border-radius: 0;
}

.merchant .visual .search input.text {
  background: #fff;
  width: 100%;
  border: 0;
  padding: 16px 10px 16px 57px;
  font-size: 17px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.merchant .visual .search input.active {
  font-weight: normal;
}

.merchant .visual .search .autocopmplete, .merchant .visual .search .ui-autocomplete {
  display: none;
  position: absolute;
  top: 67px;
  left: 0;
  width: 970px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  text-align: left;
  z-index: 4 !important;
  margin-top: 5px;
}

.merchant.sources .visual {
  z-index: 1;
  overflow: visible;
  height: auto;
  background: #3d6e9a;
  padding-bottom: 100px;
}

.merchant.sources .visual h2 {
  padding: 123px 0 8px;
  font-size: 34px;
  color: #fff;
  text-align: center;
}

.merchant.sources .visual .search {
  max-width: 714px;
  margin: 50px auto 0;
}

.merchant.sources .visual div.inner p {
  padding: 0;
  margin: 0 auto;
  opacity: 0.7;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.merchant.sources h3 {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  padding: 46px 0 29px;
}

.merchant.sources .topics {
  padding-bottom: 40px;
}

.merchant.sources .topics h3 {
  padding: 43px 0 14px;
}

.merchant.sources .topics dl {
  padding: 14px 0 15px;
}

.merchant.sources .topics dt {
  line-height: 37px;
  font-size: 13px;
  color: #8a8f9c;
  font-weight: 600;
}

.merchant.sources .topics li {
  position: relative;
  float: left;
  line-height: 18px;
  color: #8a8f9c;
  margin: 9px 0 10px 10px;
  font-size: 13px;
  width: calc(33% - 1px);
}

.merchant.sources .topics li a {
  display: block;
  padding: 30px 0 30px 82px;
  color: #8a8f9c;
  border-radius: 3px;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.merchant.sources .topics li a:hover {
  background: #f5f6f7;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
}

.merchant.sources .topics li:nth-child(3n+1) {
  margin-left: -10px;
  clear: both;
}

.merchant.sources .topics li b {
  display: block;
  font-size: 16px;
  color: #383d48;
}

.merchant.sources .topics .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  background: url("../../_ui/images/business/merchant_fea_2.png") no-repeat;
  width: 59px;
  height: 58px;
  margin-top: -29px;
}

.merchant.sources .topics .icon.topic1 {
  background-position: -1120px -420px;
}

.merchant.sources .topics .icon.topic10 {
  background-position: -1190px -420px;
}

.merchant.sources .topics .icon.topic8 {
  background-position: -1260px -420px;
}

.merchant.sources .topics .icon.topic6 {
  background-position: -1120px -490px;
}

.merchant.sources .topics .icon.topic13 {
  background-position: -1190px -490px;
}

.merchant.sources .topics .icon.topic3 {
  background-position: -1260px -490px;
}

.merchant.sources .topics .icon.topic11 {
  background-position: -1120px -560px;
}

.merchant.sources .topics .icon.topic12 {
  background-position: -1190px -560px;
}

.merchant.sources .topics .icon.topic4 {
  background-position: -1260px -560px;
}

.merchant.sources .articles {
  position: relative;
  padding-bottom: 60px;
  border-top: 1px solid #ebebeb;
}

.merchant.sources .articles .btn-faq {
  text-shadow: none;
  position: absolute;
  top: 40px;
  right: 0;
  font-size: 15px;
  width: auto;
  padding: 0 25px;
}

.merchant.sources .articles ul {
  float: left;
  width: 30%;
  margin-right: 35px;
  padding-bottom: 52px;
  width: calc(33% - 22px);
  width: -moz-calc(33% - 22px);
}

.merchant.sources .articles ul.cell_3 {
  margin-right: 0;
}

.merchant.sources .articles li {
  padding: 4px 0;
  line-height: 20px;
  font-size: 15px;
}

.merchant.sources .articles li a {
  color: #8A8F9C;
}

.merchant.sources .articles li a:hover {
  color: #3098dc;
}

.merchant.sources .articles p {
  clear: both;
  background: #f5f6f7;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07), inset 0 1px 0 rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07), inset 0 1px 0 rgba(0, 0, 0, 0.06);
  padding: 19px 22px;
  font-size: 15px;
  color: #383d48;
}

.merchant.sources .articles p a {
  font-weight: 600;
}

.popup.support {
  width: 700px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.popup.support.loading:before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  background: url("../../_ui/images/common/spinner-medium.gif") no-repeat #fff 50% 50%;
  background-size: contain;
}

.popup.support .btn-next {
  float: left;
  background: #f4f4f4;
  color: #333;
  margin-right: 5px;
}

.popup.support .btn-area {
  background: none;
  border: 0;
}

.popup.support .order_list {
  height: 500px;
  overflow: auto;
  padding: 15px;
}

.popup.support .order-list {
  -webkit-box-shadow: 0 0 0 1px #e1e1e3;
          box-shadow: 0 0 0 1px #e1e1e3;
  border-radius: 3px;
  padding-bottom: 10px;
  background: #f7f7f7;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.popup.support .order-list + .order-list {
  margin-top: 10px;
}

.popup.support .order-list:hover, .popup.support .order-list.selected {
  -webkit-box-shadow: 0 0 0 2px #3098dc;
          box-shadow: 0 0 0 2px #3098dc;
}

.popup.support .order-list.selected:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 152, 220, 0.01);
}

.popup.support .order-list dt {
  border-bottom: 1px solid #e1e1e3;
  padding: 15px 10px;
  line-height: 18px;
  font-size: 14px;
  color: #a1a4ab;
  background: #fff;
}

.popup.support .order-list dt b {
  color: #383d48;
  font-weight: 600;
}

.popup.support .order-list dt a {
  font-weight: 600;
}

.popup.support .order-list dd {
  position: relative;
  margin: 10px 10px 0 10px;
  border: 1px solid #eaeaea;
  background: #fff;
}

.popup.support .order-list dd:first-child {
  margin-top: 0;
}

.popup.support .order-list dd input {
  position: absolute;
  top: 3px;
  left: -26px;
  background-color: #fff;
}

.popup.support .order-list label {
  display: block;
  padding: 10px 10px 10px 93px;
  min-height: 58px;
}

.popup.support .order-list .thumnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 78px;
  height: 100%;
  border-right: 1px solid #eaeaea;
  background: no-repeat 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  #header.topic .search {
    position: relative;
    top: 70px;
    left: 0;
    margin: 0;
    width: auto;
  }
  .sources .articles ul {
    clear: both;
    float: none;
    width: auto;
    margin: 0;
    padding: 0;
  }
  .sources .articles ul:last-of-type {
    padding-bottom: 30px;
  }
  .sources.help .topics li {
    width: 40%;
    width: calc(50% - 15px);
  }
  .sources.help .topics li:nth-child(2n+1) {
    clear: both;
    margin-left: 0;
  }
  .sources.merchant .topics li {
    float: none;
    margin-left: -10px;
    width: auto;
  }
  .sources.merchant .articles .cell_3 {
    padding-bottom: 50px;
  }
  .sources.merchant .articles .btn-faq {
    position: static;
    margin-bottom: 30px;
  }
  .topic .visual {
    height: 120px;
  }
  .topic .articles {
    float: none;
    width: auto;
  }
  .topic .frm {
    padding-bottom: 20px;
  }
  .topic .frm h2 {
    padding: 10px 0;
  }
  .topic .frm .btn-send {
    margin: 0;
  }
  .topic .sidebar {
    padding-top: 23px;
    border-top: 1px solid #f2f2f2;
  }
  .topic .answer {
    padding-bottom: 0;
  }
  .topic .sub-contents {
    min-height: 0;
  }
  .topic.merchant .visual .inner {
    padding: 130px 24px 24px;
  }
}
/*# sourceMappingURL=help.css.map */