.partner-sites .visual {
  position: relative;
  width: 100%;
  display: table;
  height: 620px;
  background: #fff;
}

.partner-sites .visual .inner {
  display: table-cell;
  vertical-align: middle;
}

.partner-sites .visual h2 {
  position: relative;
  font-size: 60px;
  font-weight: 700;
  color: #1f3547;
  max-width: 970px;
  margin: 0 auto;
}

.partner-sites .visual h2:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 254px;
  height: 254px;
  margin-top: -127px;
  background: url("../images/partner/logobox.svg") no-repeat 50% 50%;
  background-size: contain;
}

.partner-sites .visual h2 small {
  display: block;
  max-width: 500px;
  font-size: 24px;
  line-height: 36px;
  color: #68747f;
  font-weight: 400;
  padding-top: 30px;
}

.partner-sites .storefront {
  height: 647px;
  background: #fff;
  position: relative;
}

.partner-sites .storefront .inner {
  display: table;
  width: 560px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.partner-sites .storefront .text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.partner-sites .storefront .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% - 560px);
  width: -moz-calc(100% - 560px);
  display: table;
}

.partner-sites .storefront .thumbnail .site {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.partner-sites .storefront .thumbnail img {
  max-width: 682px;
  width: 100%;
  vertical-align: middle;
}

.partner-sites .storefront a {
  color: #fff;
}

.partner-sites .storefront a.store {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}

.partner-sites .storefront h3 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 70px;
}

.partner-sites .storefront h3 small {
  display: block;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.partner-sites .storefront p {
  max-width: 350px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 80px;
}

.partner-sites .storefront:nth-child(even) {
  background: #f2f5f7;
}

.partner-sites .storefront:nth-child(even) .thumbnail {
  left: auto;
  right: 0;
}

.partner-sites .storefront:nth-child(odd):after {
  content: '';
  clear: both;
  display: block;
}

.partner-sites .storefront:nth-child(odd) .inner {
  float: right;
}

.partner-sites .storefront.watch .inner {
  background: #2090ec;
}

.partner-sites .storefront.kitchen .inner {
  background: #505760;
}

.partner-sites .storefront.comic .inner {
  background: #e03e3e;
}

.partner-sites .storefront.entertainment .inner {
  background: #1e272c;
}

.partner-sites .storefront.entertainment h3, .partner-sites .storefront.entertainment a {
  color: #5bdf99;
}

.partner-sites .storefront.cashmere .inner {
  background: #9aa1a5;
}

.partner-sites .storefront.kids .inner {
  background: #35c890;
}

@media screen and (max-width: 800px) {
  .partner-sites .visual {
    height: auto;
    padding: 100px 0 50px;
  }
  .partner-sites .visual h2 {
    font-size: 40px;
  }
  .partner-sites .visual h2 small {
    font-size: 18px;
    line-height: 24px;
  }
  .partner-sites .visual h2:before {
    position: static;
    margin: 0 0 20px;
    display: block;
    width: 120px;
    height: 120px;
  }
  .partner-sites .storefront {
    height: auto;
  }
  .partner-sites .storefront .thumbnail {
    position: static;
    display: block;
    width: auto;
  }
  .partner-sites .storefront .thumbnail .site {
    display: block;
  }
  .partner-sites .storefront .inner {
    width: 100%;
  }
  .partner-sites .storefront .text {
    padding: 50px 20px;
  }
}
/*# sourceMappingURL=partner-sites.css.map */