
.sellon {
	.sell_app .btn-ios, .sell_app .mobile2, .sell_app .mobile, .banner li:before, .exposure .animation .copy4 .replay:before, .press span, .themselves img, .aspect li .icon, .commerce .browser, .commerce .mobile, .exposure li b:before {background: url('../../_ui/images/business/sellon.png') no-repeat;}
	.visual {
		text-align: left;
		height: 500px;
		background: url('../../_ui/images/business/selling_animation_bg.png') no-repeat #3d6e9a 50% 100%;
		position: relative;
		&.animation .item {
			.cloud {
				animation: show_cloud 50s linear;
				-webkit-animation: show_cloud 50s linear;
				-moz-animation: show_cloud 50s linear;
			}
			.shirts {
				animation: show_thing1 21s infinite ease-in-out;
				-webkit-animation: show_thing1 18s infinite ease-in-out;
				-moz-animation: show_thing1 18s infinite ease-in-out;
			}
			.bag {
				animation: show_thing2 18s infinite 0.3s ease-in-out;
				-webkit-animation: show_thing2 18s infinite 0.3s ease-in-out;
				-moz-animation: show_thing2 18s infinite 0.3s ease-in-out;
			}
			.chair1 {
				animation: show_thing1 18s infinite 6s ease-in-out;
				-webkit-animation: show_thing1 18s infinite 6s ease-in-out;
				-moz-animation: show_thing1 18s infinite 6s ease-in-out;
			}
			.light {
				animation: show_thing2 18s infinite 6.3s ease-in-out;
				-webkit-animation: show_thing2 18s infinite 6.3s ease-in-out;
				-moz-animation: show_thing2 18s infinite 6.3s ease-in-out;
			}
			.chair2 {
				animation: show_thing1 18s infinite 12s ease-in-out;
				-webkit-animation: show_thing1 18s infinite 12s ease-in-out;
				-moz-animation: show_thing1 18s infinite 12s ease-in-out;
			}
			.picture {
				animation: show_thing2 18s infinite 12.3s ease-in-out;
				-webkit-animation: show_thing2 18s infinite 12.3s ease-in-out;
				-moz-animation: show_thing2 18s infinite 12.3s ease-in-out;
			}
		}
		p {
			color: #fff;
			font-size: 18px;
			padding: 0 0 30px 0;
			line-height: 22px;
			opacity: 0.7;
			max-width: 500px;
			width: calc(100% - 480px);
			width: -webkit-calc(100% - 480px);
			width: -moz-calc(100% - 480px);
		}
		.item {
			max-width:970px;
			margin:0 auto;
			position:relative;
			span, .cloud:after, .cloud:before {background: url('../../_ui/images/business/selling_animation2.png') no-repeat;}
			.shop {
				position: absolute;
				top: 106px;
				right: 0;
				width: 452px;
				height: 309px;
				background: url('../../_ui/images/business/selling_animation.png') no-repeat -729px 0px;
			}
			.shirts {
				width: 79px;
				height: 100px;
				margin-left:-40px;
			}
			.bag {
				width: 69px;
				height: 66px;
				background-position:-80px 0;
				margin-right:-40px;
				margin-top: 40px;
			}
			.light {
				width: 76px ;
				height: 91px;
				background-position:-80px -70px;
				margin-right:-38px;
			}
			.chair1 {
				width: 68px ;
				height: 86px;
				background-position: 0 -110px;
				margin-left:-34px;
				margin-top: 26px;
			}
			.chair2 {
				width: 66px ;
				height: 91px;
				background-position:-160px 0;
				margin-left:-33px;
				margin-top: 19px;
			}
			.picture {
				width: 68px ;
				height: 108px;
				background-position:-240px 0;
				margin-right:-34px;
			}
			.cloud {
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 100vw;
				height: 500px;
				opacity: 0;
				margin-left: -50vw;
			}
			.cloud2:before {
				content: '';
				position: absolute;
				right: 50%;
				margin-right: 238px;
				top: 70px;
				width: 120px;
				height: 53px;
				background-position:-157px -140px;
			}
			.cloud1:after {
				content: '';
				position: absolute;
				left: 50%;
				margin-left:-38px;
				top: 186px;
				width: 77px;
				height: 34px;
				background-position:-306px -134px;
			}
			span {position: absolute;}
			.left_window {
				position: absolute;
				width: 170px;
				height: 115px;
				top: 270px;
				right: 261px;
				overflow: hidden;
				span {
					top: 0;
					left: 130%;
					transform: rotate(-30deg);
					-webkit-transform: rotate(-30deg);
				}
			}
			.right_window {
				position: absolute;
				width: 170px;
				height: 115px;
				top: 270px;
				right: 21px;
				overflow: hidden;
				span {
					top: 0;
					right: 130%;
					transform: rotate(30deg);
					-webkit-transform: rotate(30deg);
				}
			}
		}
		h2 {
			padding: 150px 0 14px 0;
			color: #ffffff;
			font-size: 34px;
			max-width: 500px;
			width: calc(100% - 480px);
			width: -webkit-calc(100% - 480px);
			width: -moz-calc(100% - 480px);
		}
		input.text {
			float: left;
			border-radius: 3px 0 0 3px;
			background: rgba(241,249,255,0.17);
			border: 0;
			font-size: 16px;
			color: #fff;
			padding: 13px 14px 14px;
			width: 232px;
			&::-webkit-input-placeholder {color: rgba(255,255,255,0.7);}
			&::-moz-placeholder {color: rgba(255,255,255,0.7);}
			&::-ms-input-placeholder {color: rgba(255,255,255,0.7);}
		}
		.btn-join.left {
			padding: 0 32px;
			border-radius: 0 3px 3px 0;
			span:after {display: none;}
		}
	}
	h3 {
		font-weight: normal;
		font-size: 28px;
		color: #383d48;
		line-height: 30px;
		padding: 60px 0 35px;
		text-align: center;
		small {
			display: block;
			color: #8a8f9c;
			font-size: 18px;
			line-height: 26px;
			padding-top: 4px;
		}
	}
	.btn-join {
		background: #67AB4F;
		&:hover {background: #599744;}
	}
	.full-spectrum {
		background: #fafafa;
		padding: 50px 0;
		p {
			font-size: 24px;
			line-height: 38px;
			color: #383d48;
			text-align: center;
			padding: 34px 65px;
			background: #fff;
			border: 5px solid #e5e5e5;
			small {
				display: block;
				font-size: 24px;
				line-height: 38px;
			}
		}
	}
	.exposure {
		padding-top: 75px;
		h3 {
			font-size: 28px;
			line-height: 30px;
			color: #383d48;
			text-align: center;
			padding: 0 0 57px;
			small {
				display: block;
				font-size: 17px;
				line-height: 22px;
				color: #8a8f9c;
				padding-top: 8px;
			}
		}
		li {
			float: left;
			width: 306px;
			padding: 0 0 0 25px;
			font-size: 15px;
			color: #8a8f9c;
			line-height: 22px;
			&:first-child {padding-left: 0;}
			b {
				display: block;
				color: #5f646e;
				font-size: 17px;
				padding: 40px 0 10px;
				text-transform: uppercase;
				&:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					margin:-3px 8px 0 0;
				}
			}
		}
		ul.after {
			padding-bottom: 67px;
			border-bottom: 1px solid #efefef;
		}
		.promotion b:before {
			width: 29px;
			height: 24px;
		}
		.target b:before {
			width: 24px;
			height: 24px;
			background-position:-30px 0;
		}
		.earn b:before {
			width: 24px;
			height: 24px;
			background-position:-60px 0;
		}
		.animation {
			position: relative;
			background: #f5f5f5;
			height: 560px;
			width: 100%;
			overflow: hidden;
			p {
				position: absolute;
				top: 0;
				left: 0;
				background: #f5f5f5;
				color: #3f434b;
				font-size: 60px;
				display: table;
				width: 100%;
				height: 100%;
				opacity: 0;
				b {
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					padding: 0 50px;
				}
			}
			span {
				position: absolute;
				background: url('../../_ui/images/business/animation_sellon4.png') no-repeat;
				opacity: 0;
			}
			div {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
			.page {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 1;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 35px;
					background: url('../../_ui/images/business/animation_sellon1.png') no-repeat;
				}
			}
			.back {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 1164px;
				height: 672px;
				margin:-336px 0 0 -582px;
				background: none;
				opacity: 1;
				&:before {
					content: '';
					width: 100%;
					height: 100%;
					background: #000;
					opacity: 0;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
			.btn-green {
				padding: 0 36px;
				line-height: 50px;
				margin-top: 40px;
				text-transform: uppercase;
			}
			.logo {
				display: inline-block;
				position: static;
				width: 98px;
				height: 98px;
				left: 50%;
				top: 50%;
				vertical-align: middle;
				opacity: 1;
				margin:-7px 10px 0 0;
			}
			.shop_index .page {
			background: url('../../_ui/images/business/animation_sellon1.png') no-repeat;
			}
			.shop_cover1 {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				.shop_cover_wrap {
					position: absolute;
					width: 786px;
					height: 332px;
					top: 266px;
					left: 50%;
					margin:-166px 0 0 -395px;
					background-position: 0 -100px;
				}
			}
			.shop_cover2 {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				.shop_cover_wrap {
					position: absolute;
					width: 872px;
					height: 210px;
					top: 247px;
					left: 50%;
					margin:-105px 0 0 -438px;
					background-position: 0 -440px;
					transform: scale(0.903);
					-webkit-transform: scale(0.903);
					-moz-transform: scale(0.903);
				}
			}
			.shop_cover3 {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				.shop_cover_wrap {
					position: absolute;
					width: 314px;
					height: 365px;
					top: 311px;
					left: 50%;
					margin:-182px 0 0 -157px;
					background-position: 0 -660px;
					transform: scale(0.82);
					-webkit-transform: scale(0.82);
					-moz-transform: scale(0.82);
				}
			}
			.shop_guide .page {
			background: url('../../_ui/images/business/animation_sellon2.png') no-repeat;
			}
			.shop_list .page {
			background: url('../../_ui/images/business/animation_sellon3.png') no-repeat;
			}
			.shop_email {
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-position: 0 -1340px;
			}
			.copy4 {
				.replay {
					position: relative;
					visibility: hidden;
					font-size: 15px;
					display: block;
					margin-top: 115px;
					color: #3f434b;
					opacity: 0.7;
					&:before {
						content: '';
						display: inline-block;
						width: 19px;
						height: 14px;
						background-position:-490px -440px;
						vertical-align: middle;
						margin:-3px 7px 0 0;
					}
				}
				b {
					font-size: 48px;
					padding-top: 40px;
				}
			}
			.go {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.animation .start, .show.ani .animation p.start b {opacity: 1;}
		.ani {
			.animation {
				.shop_index {
					transition: opacity 0.5s 2s;
					-webkit-transition: opacity 0.5s 2s;
					-moz-transition: opacity 0.5s 2s;
					.page {
						transition: .5s 6.5s;
						-webkit-transition: .5s 6.5s;
						-moz-transition: .5s 6.5s;
					}
				}
				.shop_guide {
					transition: opacity .5s 13s;
					-webkit-transition: opacity .5s 13s;
					-moz-transition: opacity .5s 13s;
					.page {
						transition: background .5s 14s, opacity .5s 18s;
						-webkit-transition: background .5s 14s, opacity .5s 18s;
						-moz-transition: background .5s 14s, opacity .5s 18s;
					}
				}
				.shop_list {
					transition: opacity 0.5s 18s;
					-webkit-transition: opacity 0.5s 18s;
					-moz-transition: opacity 0.5s 18s;
					.page {
						transition: background .5s 19s;
						-webkit-transition: background .5s 19s;
						-moz-transition: background .5s 19s;
					}
				}
				$covers: (("shop_cover1",3s,5s), ("shop_cover2",8s,10s), ("shop_cover3",16s,18s));
				@each $class, $time, $time2 in $covers {
					.#{$class} {
						.back:before, .shop_cover_wrap {
							transition: 0.5s $time;
							-webkit-transition: 0.5s $time;
							-moz-transition: 0.5s $time;
						}
					}
					.#{$class}, .#{$class} .back {
						transition: 0.5s $time2;
						-webkit-transition: 0.5s $time2;
						-moz-transition: 0.5s $time2;
					}
				}
				$copies: (("copy",0.5s,1.5s),("copy2",11.5s,12.5s), ("copy3",21s,23s));
				@each $class, $time, $time2 in $copies {
					.#{$class} {
						transition: 0.5s $time;
						-webkit-transition: 0.5s $time;
						-moz-transition: 0.5s $time;
						b {
							transition: 0.5s $time2;
							-webkit-transition: 0.5s $time2;
							-moz-transition: 0.5s $time2;
						}
					}
				}
				.copy4, .copy4.replay {
					transition: 0.5s 25s;
					-webkit-transition: 0.5s 25s;
					-moz-transition: 0.5s 25s;
				}
			}
			&.show .animation {
				p.copy4 b,.shop_email, p, .shop_index, .shop_guide, .shop_cover3 .back, .shop_list {opacity: 1;}
				.shop_index .page, .shop_list .page {background-position: 0 97%;}
				.shop_guide .page {background-position: 0 65%;}
				.shop_cover1 {
					transform: scale(0.91);
					-webkit-transform: scale(0.91);
					-moz-transform: scale(0.91);
					opacity: 0;
					.shop_cover_wrap {
						opacity: 1;
						transform: scale(1.1);
						-webkit-transform: scale(1.1);
					}
				}
				.shop_cover2 {
					transform: scale(0.91);
					-webkit-transform: scale(0.91);
					-moz-transform: scale(0.91);
					opacity: 0;
					.shop_cover_wrap {
						opacity: 1;
						transform: scale(1);
						-webkit-transform: scale(1);
					}
				}
				.shop_cover3, p b, .back, .shop_guide .page {opacity: 0;}
				.shop_cover3 .shop_cover_wrap {
					opacity: 1;
					transform: scale(1);
					-webkit-transform: scale(1);
				}
				.back:before {opacity: 0.55;}
				.copy4 .replay {
					visibility: visible;
					z-index: 2;
				}
			}
		}
	}
	.tools {
		.thumbnail, .thumbnail:before {
			background-image: url('../../_ui/images/business/merchant_idx2.png');
			position: absolute;
		}
		.inner {
			padding-bottom: 80px;
			border-bottom: 1px solid #efefef;
			min-height: 382px;
		}
		h3 {
			color: #383d48;
			font-size: 28px;
			text-align: left;
			padding: 94px 0 25px;
			float: right;
			width: calc(100% - 530px);
			small {
				display: block;
				font-size: 16px;
				color: #383d48;
			}
		}
		ul {
			float:right;
			clear:right;
			width: calc(100% - 530px);
		}
		li {
			position: relative;
			font-size: 15px;
			line-height: 20px;
			padding: 3px 0 3px 9px;
			color: #8a8f9c;
			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				width: 3px;
				height: 3px;
				border-radius: 100%;
				background: #8a8f9c;
			}
		}
		.thumbnail {
			width: 460px;
			height: 322px;
			background-position:-1100px 0;
			margin-top:-166px;
			left: 20px;
			top: 50%;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				background-position:-600px 0;
				transition: 1s;
				-webkit-transition: 1s;
				-moz-transition: 1s;
			}
		}
	}
	.sell_app {
		.inner {
			padding-bottom: 80px;
			min-height: 400px;
		}
		h3 {
			padding: 76px 0 25px;
			max-width: calc(100% - 500px);
			text-align: left;
			small {
				display: block;
				font-size: 16px;
				color: #383d48;
			}
		}
		ul {max-width: calc(100% - 500px);}
		li {
			position: relative;
			font-size: 15px;
			line-height: 20px;
			padding: 3px 0 3px 9px;
			color: #8a8f9c;
			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				width: 3px;
				height: 3px;
				border-radius: 100%;
				background: #8a8f9c;
			}
		}
		.mobile, .mobile2 {
			position:absolute;
			bottom:0;
		}
		.mobile {
			right:215px;
			width: 246px;
			height: 404px;
			background-position: -160px -520px;
		}
		.mobile2 {
			right:0;
			width: 246px;
			height: 374px;
			background-position: -680px -540px;
		}
		.btn-ios {
			display:block;
			width:166px;
			height:49px;
			text-indent:-1000em;
			background-position:-430px -580px;
			margin-top:32px;
		}
	}
	.commerce {
		overflow: hidden;
		h3 {
			font-size: 28px;
			text-align: left;
			padding: 104px 0 16px;
		}
		p {
			font-size: 15px;
			line-height: 26px;
			color: #8a8f9c;
			padding-bottom: 20px;
		}
		.inner {
			padding: 0 580px 76px 0;
			width: 390px;
		}
		.browser, .mobile {
			position: absolute;
			bottom:-310px;
			transition: 0.5s;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
		}
		.browser {
			width: 486px;
			height: 310px;
			right:-14px;
			background-position: 0 -200px;
		}
		.mobile {
			width: 181px;
			height: 267px;
			right: 316px;
			transition-delay:0.5s;
			-webkit-transition-delay: 0.5s;
			-moz-transition-delay: 0.5s;
			background-position:-490px 0;
		}
		.show .browser, .show .mobile {bottom: 0;}
	}
	.aspect {
		border-top: 1px solid #EBEBEB;
		border-bottom: 1px solid #EBEBEB;
		background: none;
		b {
			display: block;
			color: #383d48;
			padding-bottom: 6px;
			font-size: 15px;
		}
		.icon {
			position: absolute;
			left: 50px;
			opacity: 0.5;
		}
		h3 {padding: 65px 0 67px;}
		li {
			position: relative;
			font-size: 14px;
			line-height: 20px;
			color: #8a8f9c;
			text-align: center;
			padding: 112px 15px 64px;
			float: left;
			width: 50%;
			box-sizing:border-box;
			&:nth-child(2n+1) {clear: both;}
			b {
				display: block;
				font-size: 15px;
				line-height: 22px;
				color: #383d48;
				padding-bottom: 6px;
			}
			.icon {
				position: absolute;
				left: 50%;
				opacity: 1;
			}
		}
		.step1 .icon {
			width: 88px;
			height: 66px;
			margin-left: -44px;
			top: 11px;
			background-position: 0 -30px;
		}
		.step2 .icon {
			width: 170px;
			height: 90px;
			margin-left:-85px;
			top: 4px;
			background-position:-130px 0;
		}
		.step3 .icon {
			width: 87px;
			height: 76px;
			margin-left: -38px;
			top: 5px;
			background-position:-310px 0;
		}
		.step4 .icon {
			width: 101px;
			height: 88px;
			margin-left:-50px;
			top:-8px;
			background-position:-130px -90px;
		}
		.step5 .icon {
			width: 125px;
			height: 76px;
			margin-left:-63px;
			top: 3px;
			background-position:-240px -90px;
		}
		.step6 .icon {
			width: 80px;
			height: 80px;
			margin-left: -40px;
			top: 2px;
			background-position: 0 -110px;
		}
	}
	.themselves {
		background: #fcfcfc;
		.article {
			padding-bottom: 70px;
			max-width: 970px;
			margin: 0 auto;
			font-size:0;text-align:center;
			li {
				display:inline-block;vertical-align:top;text-align:left;
				width: 298px;
				background: #fff;
				border: 1px solid #e9e9e9;
				border-radius: 3px;
				margin: 20px 0 0 35px;
				width: calc(33% - 23px);
				&:first-child {margin-left: 0;}
			}
		}
		.thumbnail {
			padding: 4px;
			display: block;
			border-bottom: 1px solid #fafafa;
			text-align: center;
			img {
				width: 100%;
				height: 170px;
				vertical-align: top;
				max-width: 291px;
			}
		}
		p {
			color: #8a8f9c;
			font-size: 14px;
			line-height: 20px;
			padding: 14px;
		}
		.figcaption {
			position: relative;
			display: block;
			font-size: 12px;
			line-height: 16px;
			color: #8a8f9c;
			padding: 2px 14px 14px 56px;
			b {
				display: block;
				font-size: 13px;
				color: #383d48;
			}
			img {
				position: absolute;
				top: 0;
				left: 12px;
				width: 36px;
				height: 36px;
			}
		}
		.longlost {
			.thumbnail img {background-position:-680px -360px;}
			.figcaption img {background-position:-490px -400px;}
		}
		.nono {
			.thumbnail img {background-position:-680px -180px;}
			.figcaption img {background-position:-530px -400px;}
		}
		.isa {
			.thumbnail img {background-position:-680px 0;}
			.figcaption img {background-position:-570px -400px;}
		}
	}
	.press {
		padding: 40px 0 60px;
		border-top: 1px solid #e2e2e2;
		ul {
			max-width: 970px;
			margin:0 auto;
			text-align:center;
		}
		li {
			display: inline-block;
			margin: 20px 20px 0;
			line-height: 30px;
		}
		span {
			display: inline-block;
			height: 26px;
			vertical-align: middle;
			&.logo1 {
				width: 174px;
				height: 25px;
				background-position:-490px -270px;
			}
			&.logo2 {
				width: 125px;
				height: 18px;
				background-position:-490px -295px;
			}
			&.logo3 {
				width: 46px;
				height: 20px;
				background-position:-490px -315px;
			}
			&.logo4 {
				width: 40px;
				height: 20px;
				background-position:-550px -315px;
			}
			&.logo5 {
				width: 48px;
				height: 22px;
				background-position:-490px -340px;
			}
			&.logo6 {
				width: 49px;
				height: 24px;
				background-position:-550px -340px;
			}
			&.logo7 {
				width: 137px;
				height: 27px;
				background-position:-490px -370px;
			}
		}
	}
	.trial {
		text-align: center;
		background: #fcfcfc;
		border: 0;
		padding: 0 0 70px;
		.btn-green {
			width: 222px;
			line-height: 42px;
			color: #fff;
		}
		h3 {
			font-size: 28px;
			text-align: center;
			padding: 10px 0 4px;
		}
		p {
			font-size: 15px;
			line-height: 22px;
			color: #383d48;
			padding-bottom: 32px;
			padding: 0 200px 18px;
			small {
				font-size: 15px;
				&:before {
					content: '';
					display: inline-block;
					width: 14px;
					height: 1px;
					background: #383d48;
					vertical-align: middle;
					margin:-3px 8px 0 4px;
				}
			}
		}
		.btn-join {line-height: 36px;}
	}
	.banner {
		li {
			position: relative;
			float: left;
			color: #8a8f9c;
			font-size: 14px;
			line-height: 20px;
			padding: 0 0 75px 192px;
			width: 30%;
			width: calc(50% - 192px);
			&.warehouse {
				float: right;
				padding-left: 165px;
				&:before {
					content: '';
					width: 144px;
					height: 92px;
					background-position: 0 -520px;
					top: 14px;
				}
			}
			&:before {
				content: '';
				position: absolute;
				width: 170px;
				height: 106px;
				background-position:-490px -460px;
				left: 0;
				top: 4px;
			}
		}
		a {
			display: inline-block;
			margin-top: 3px;
			color: #3098dc;
		}
		b {
			display: block;
			font-size: 16px;
			padding-bottom: 8px;
			color: #383d48;
		}
	}
	.tools .show .thumbnail:before, &.idx .spectrum .show.tools .thumbnail:before {width: 100%;}
}
.popup.merchant-signup {
	color:#fff;background:url('../../_ui/images/business/signup-background.png') no-repeat 50% 100% #000;border-radius:8px;width:620px;padding:60px 0;max-width:90%;
	h2, fieldset {max-width:500px;margin:0 auto;padding:0 20px;text-align:left;}
	h2 {
		font-size:36px;font-weight:500;padding-bottom:35px;
		b {font-weight:600;}
		small {display:block;font-weight:400;font-size:18px;padding-top:20px;}
	}
	.storename, .username, .email, .website {float:left;width:calc(50% - 10px);}
	.storename, .username {clear:both;margin-right:20px;}
	.platform {clear:both;}
	select, input[type="text"], textarea {display:block;width:100%;border:0;line-height:20px;padding:10px;border-radius:6px;box-sizing:border-box;background-color:#fff;}
	select {min-width:calc(50% - 10px);max-width:100%;width:auto;}
	textarea {height:120px;}
	.url {
		position:relative;display:block;
		small {color:#6d6d6d;position:absolute;left:12px;top:0;line-height:40px;}
		input {padding-left:55px;}
	}
	.label {
		display:block;padding:5px 0 6px;font-weight:500;
		small {float:right;margin-left:4px;color:#9e9e9e;font-weight:400;}
	}
	.uploader {
		position:relative;display:inline-block;
		input[type="file"] {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
		button {font-size:14px;font-weight:500;padding:0 20px;background:#fff;color:#000;line-height:30px;border-radius:15px;}
	}
	.btn-apply {
		display:block;max-width:250px;background:#1e7efc;border-radius:20px;line-height:40px;width:calc(100% - 40px);font-size:14px;font-weight:bold;color:#fff;margin:30px auto 0;
		&.loading {
			position:relative;color:transparent;
			&:after {content:'';position:absolute;left:50%;top:50%;border:2px solid #fff;border-radius:100% !important;height:12px;opacity:1;width:12px;margin-top:-8px;margin-left:-8px;line-height:12px;-webkit-animation:pulsate 1s ease-in-out;animation:pulsate 1s ease-in-out;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation:pulsate 1s ease-in-out;-webkit-animation-iteration-count:infinite;-moz-animation:pulsate 1s ease-in-out;-moz-animation-iteration-count:infinite}
		}
	}
	.ly-close {
		background:#fff;width:34px;height:34px;border-radius:100%;top:-17px;right:-17px;
		&:before {opacity:1;}
	}
}
@media screen and (max-width: 800px) {
	.sellon {
		.visual {
			text-align:center;
			height: auto;
			padding-bottom: 420px;
			background-position: 80% 120%;
			.item {
				position:absolute;
				bottom: 60px;
				width: 452px;
				height: 400px;
				left: 50%;
				margin-left: -226px;
				transform: scale(0.65);transform-origin: 50% 100%;
			}
			h2 {
				max-width:none;
				padding-top: 150px;
			}
			h2, p {
				width: auto;
				margin: 0 auto;
			}
		}
		.themselves .article li, .aspect li {margin-left:0;}
		.themselves .article li, .aspect li, .banner li, .tools h3, .tools ul, .sell_app h3, .sell_app ul {
			width:auto;
			float: none;
			max-width: none;
		}
		.sell_app {
			.inner {
				min-height:0;
				padding-bottom:430px;
			}
			.mobile2 {
				left:50%;
				right:auto;
				margin-left:-30px;
			}
			.mobile {
				margin-right:-30px;
				right:50%;
			}
		}
		.tools {
			.thumbnail {
				top: 80px;transform:scale(0.6);
				left:50%;
				margin: 0 0 0 -230px;
			}
			.inner {
				padding-top:350px;
				min-height:0;
			}
		}
	}
	.popup.merchant-signup {
		padding-bottom:20px;
		.btn-apply {margin-top:20px;}
		.ly-close {top:20px;right:20px;}
		.storename, .username, .email, .website {float:none;width:auto;margin:0;}
	}
}
@media screen and (max-width: 500px) {
	.sellon .banner li {
		padding: 0 0 30px;
		&.warehouse {padding-left:0;}
		&:before {
			position:static;
			display:block;
			margin:0 auto 20px;
		}
	}
}
@keyframes blinkle {0% {opacity: 0;} 100% {opacity: 1;}}
@-webkit-keyframes blinkle {0% {opacity: 0;} 100% {opacity: 1;}}
@keyframes time_mn {0% {transform: rotate(0);-ms-transform: rotate(0);-webkit-transform: rotate(0);}100% {transform: rotate(360deg);-ms-transform: rotate(360deg);-webkit-transform: rotate(360deg);}}
@-webkit-keyframes time_mn {0% {transform: rotate(0);-ms-transform: rotate(0);-webkit-transform: rotate(0);}100% {transform: rotate(360deg);-ms-transform: rotate(360deg);-webkit-transform: rotate(360deg);}}
@-webkit-keyframes myfirst {0% {opacity: 0;}5% {opacity: 1;} 25% {opacity: 1;}30% {opacity: 0;}}
@keyframes myfirst {0% {opacity: 0;}5% {opacity: 1;} 25% {opacity: 1;}30% {opacity: 0;}}
@keyframes scene1 {0% {opacity: 0;} 25% {opacity: 0;}27% {opacity: 1;} 100% {opacity: 1;}}
@-webkit-keyframes scene1 {0% {opacity: 0;} 25% {opacity: 0;}27% {opacity: 1;} 100% {opacity: 1;}}
@keyframes scene1_2 {0% {opacity: 0;} 50% {opacity: 0;}52% {opacity: 1;} 100% {opacity: 1;}}
@-webkit-keyframes scene1_2 {0% {opacity: 0;} 50% {opacity: 0;}52% {opacity: 1;} 100% {opacity: 1;}}
@keyframes scene1_3 {0% {opacity: 0;} 75% {opacity: 0;}77% {opacity: 1;} 100% {opacity: 1;}}
@-webkit-keyframes scene1_3 {0% {opacity: 0;} 75% {opacity: 0;}77% {opacity: 1;} 100% {opacity: 1;}}
@keyframes scene1_4 {0% {opacity: 0;} 80% {opacity: 0;}82% {opacity: 1;} 100% {opacity: 1;}}
@-webkit-keyframes scene1_4 {0% {opacity: 0;} 98% {opacity: 0;}100% {opacity: 1;}}
@keyframes show_header {0% {opacity: 0;} 100% {opacity: 1;}}
@-webkit-keyframes show_header {0% {opacity: 0;} 100% {opacity: 1;}}
@keyframes show_cloud {0% {left: 0;opacity: 0;}3% {opacity: 1;left: 0;} 97% {opacity: 1;}100% {left: 62%;opacity: 0;}}
@-webkit-keyframes show_cloud {0% {left: 0;opacity: 0;}3% {opacity: 1;left: 0;} 97% {left: 60%;opacity: 1;}100% {left: 62%;opacity: 0;}}
@keyframes show_thing1 {0% {left: 130%;transform: rotate(-30deg);-webkit-transform: rotate(-30deg);} 3% {left: 50%;opacity: 1;transform: rotate(0);-webkit-transform: rotate(0);} 30% {left: 50%;opacity: 1;} 33% {opacity: 0;left: 50%;transform: rotate(0);-webkit-transform: rotate(0);}35% {left: 130%;opacity: 0;}}
@-webkit-keyframes show_thing1 {0% {left: 130%;transform: rotate(-30deg);-webkit-transform: rotate(-30deg);} 3% {left: 50%;opacity: 1;transform: rotate(0);-webkit-transform: rotate(0);} 30% {left: 50%;opacity: 1;} 33% {opacity: 0;left: 50%;transform: rotate(0);-webkit-transform: rotate(0);}35% {left: 130%;opacity: 0;}}
@keyframes show_thing2 {0% {right: 130%;transform: rotate(-30deg);-webkit-transform: rotate(-30deg);} 3% {right: 50%;opacity: 1;transform: rotate(0);-webkit-transform: rotate(0);} 30% {right: 50%;opacity: 1;} 33% {opacity: 0;right: 50%;transform: rotate(0);-webkit-transform: rotate(0);}35% {right: 130%;opacity: 0;}}
@-webkit-keyframes show_thing2 {0% {right: 130%;transform: rotate(-30deg);-webkit-transform: rotate(-30deg);} 3% {right: 50%;opacity: 1;transform: rotate(0);-webkit-transform: rotate(0);} 30% {right: 50%;opacity: 1;} 33% {opacity: 0;right: 50%;transform: rotate(0);-webkit-transform: rotate(0);}35% {right: 130%;opacity: 0;}}
@keyframes pulsate{0%{border-radius:100%;-webkit-transform:scale(0.1);transform:scale(0.1);opacity:0.0}50%{border-radius:100%;opacity:1}100%{border-radius:100%;-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}}@-webkit-keyframes pulsate{0%{border-radius:100%;-webkit-transform:scale(0.1);transform:scale(0.1);opacity:0.0}50%{border-radius:100%;opacity:1}100%{border-radius:100%;-webkit-transform:scale(1.2);transform:scale(1.2);opacity:0}}