
.merchant .merchant-menu {
	display:block;
	a {
		color: #fff;
		opacity: 0.7;
		font-size: 13px;
		font-weight: 400;
		-webkit-transition: opacity .3s;
		-moz-transition: opacity .3s;
		-o-transition: opacity .3s;
		-ms-transition: opacity .3s;
	}
}
.merchant.idx .select-store .pc, .merchant.idx .select-store .browser, .merchant.idx .select-store dd.pc:before, .merchant .aspect .icon, .merchant.idx .resources .icon:after, .merchant.idx .warehouse .icon, .merchant.idx .warehouse .icon:after, .merchant.idx .customize dt:after {background: url("../../_ui/images/business/merchant_fea1.png") no-repeat;}
.merchant.idx .theme li, .merchant.idx .accepting .browser, .merchant.idx .customize .editor, .merchant.idx .customize .picker, .merchant.idx .accepting .browser .dot, .merchant.idx .accepting .browser:before {background: url("../../_ui/images/business/merchant_fea3.png") no-repeat;}
.idx .customizing .default, .idx .customizing .css, .idx .themes .browser, .idx .themes .mobile, .idx .resources .icon {background: url('../../_ui/images/business/merchant_fea_2.png') no-repeat ;}
.idx {
	h3 {
		font-weight: normal;
		font-size: 28px;
		color: #383d48;
		line-height: 30px;
		text-align: center;
		padding: 60px 0 55px;
		small {
			display: block;
			color: #8a8f9c;
			font-size: 18px;
			line-height: 26px;
			padding-top: 4px;
		}
	}
	.login-merchant {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 25px 0;
		.text {
			padding: 10px;
			border: 0;
			line-height: 20px;
			width: 222px;
			background: #ededed;
			margin-right: 6px;
			vertical-align: middle;
			font-size: 15px;
			font-weight: normal;
			box-shadow: inset 0 0 5px rgba(0,0,0,.04);
			&.name {width: 262px;}
			&:focus {
				background: #ffffff;
				box-shadow: inset 0 0 0 1px rgba(0,0,0,.12);
			}
		}
		.btn-green {
			width: 175px;
			color: #fff;
		}
	}
	.trial {
		padding: 70px 0 64px;
		text-align: center;
		border-top: 1px solid #EBEBEB;
		.btn-green {
			width: 222px;
			line-height: 42px;
			color: #fff;
		}
		p {
			padding: 22px 0 0;
			color: #383D48;
			font-size: 14px;
			line-height: 22px;
		}
	}
	.btn-join {
		background: #67AB4F;
		position: relative;
		z-index: 1;
		&:hover {background: #599744;}
	}
	.visual {
		background: #3d6e9a;
		position: relative;
		h2 {
			color: #ffffff;
			font-size: 34px;
			padding: 82px 0 8px;
			padding: 150px 0 14px 0;
			opacity: 1;
			width: calc(100% - 510px);
		}
		input.text, input[type="text"] {
			font-weight: 400;
			font-size: 16px;
			border-radius: 3px 0 0 3px;
			background: rgba(241,249,255,0.17);
			width: 244px;
			padding: 15px 0 15px 14px;
			border: 0;
			color: #fff;
			line-height: 20px;
			vertical-align: top;
			&::-webkit-input-placeholder {color: rgba(255,255,255,0.7);}
			&:-ms-input-placeholder {color: rgba(255,255,255,0.7);}
			&:-moz-placeholder {color: rgba(255,255,255,0.7);}
		}
		.inner {
			height: 500px;
			p {
				color: #fff;
				font-size: 18px;
				padding: 0 0 30px;
				line-height: 22px;
				width: calc(100% - 510px);
				opacity: 0.7;
				&.others {
					font-size: 13px;
					opacity: 1;
					color: rgba(255,255,255,0.7);
					padding-top: 10px;
					a {
						color: #fff;
						opacity: 1;
					}
				}
			}
		}
		.item {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			span {
				position:absolute;
				background-image: url('../../_ui/images/business/merchant_idx_ani3.png');
			}
			.lantop {
				width: 518px;
				height: 175px;
				bottom: 0;
				right: 0;
				margin-left:-22px;
				transition: 0.5s;
				-webkit-transition: 0.5s;
				-moz-transition: .5s;
			}
			.lantop_screen1 {
				bottom: 45px;
				right: 317px;
				width: 160px;
				height: 82px;
				background-position: 0 -180px;
				margin-left: 19px;
			}
			.lantop_screen2 {
				bottom: 45px;
				right: 43px;
				width: 153px;
				height: 82px;
				background-position:-320px -180px;
				margin-left: 301px;
				transition: .5s 2.5s;
				-webkit-transition: .5s 2.5s;
				-moz-transition: .5s 2.5s;
			}
			.headphone {
				bottom: 236px;
				left: 50%;
				margin-left: 10px;
				width: 176px;
				height: 150px;
				background-position: 0 -280px;
				transition: .5s .5s;
				-webkit-transition: .5s .5s;
				-moz-transition: .5s .5s;
			}
			.photo {
				bottom: 228px;
				left: 50%;
				width: 97px;
				height: 103px;
				background-position:-500px -280px;
				margin-left: 178px;
				transition: .5s 1s;
				-webkit-transition: .5s 1s;
				-moz-transition: .5s 1s;
			}
			.snapbag {
				bottom: 223px;
				left: 50%;
				margin-left: 290px;
				width: 190px;
				height: 153px;
				background-position:-178px -280px;
				transition: .5s 2s;
				-webkit-transition: .5s 2s;
				-moz-transition: .5s 2s;
			}
			.lantop_screen3 {
				bottom: 45px;
				right: 186px;
				width: 145px;
				height: 82px;
				background-position:-165px -180px;
				margin-left: 166px;
				transition: .5s 4s;
				-webkit-transition: .5s 4s;
				-moz-transition: .5s 4s;
			}
			.photo2 {
				bottom: 32px;
				right: 50%;
				width: 83px;
				height: 92px;
				background-position:-480px -180px;
				margin-right: 29px;
				transition: .5s 3.5s;
				-webkit-transition: .5s 3.5s;
				-moz-transition: .5s 3.5s;
			}
			.camera {
				bottom: 24px;
				right: 50%;
				width: 127px;
				height: 110px;
				background-position:-370px -280px;
				margin-right: 88px;
				transition: .5s 3s;
				-webkit-transition: .5s 3s;
				-moz-transition: .5s 3s;
			}
		}
		&.animation .item {
			span {opacity: 1;}
			.photo {margin-left: 183px;}
		}
	}
	.inner {
		h3 {
			padding: 0 0 8px;
			text-align: left;
			font-size: 24px;
			line-height: 30px;
		}
		p {
			font-size: 15px;
			line-height: 22px;
			padding-bottom: 21px;
			color: #8a8f9c;
			width: calc(100% - 510px);
		}
		dl {
			font-size: 14px;
			line-height: 22px;
			color: #8a8f9c;
			padding-bottom: 20px;
		}
		dt {
			font-weight: 600;
			color: #5e6370;
		}
		&:after {
			content:'';
			clear:both;
			display:block;
		}
	}
	.themes {
		.btn-blue {
			text-shadow: none;
			line-height: 41px;
			height: auto;
			font-size: 14px;
			box-shadow: none;
		}
		.inner {
			padding-top: 123px;
			border-bottom: 1px solid #efefef;
			padding-bottom: 132px;
		}
		dl {
			padding-bottom: 24px;
			width: calc(100% - 510px);
		}
		.browser {
			position: absolute;
			right: 90px;
			top: 50%;
			width: 399px;
			height: 307px;
			background-position: 0 -390px;
			margin-top:-154px;
			opacity: 0;
			transition: .5s;
			-webkit-transition: .5s;
			-moz-transition: .5s;
		} 
		.mobile {
			position: absolute;
			right:-30px;
			width: 134px;
			height: 276px;
			background-position:-410px -390px;
			top: 50%;
			margin-top:-124px;
			opacity: 0;
			transition: .5s .5s;
			-webkit-transition: .5s .5s;
			-moz-transition: .5s .5s;
		}
		.show {
			.mobile {
				right: 0;
				opacity: 1;
			}
			.browser {opacity: 1;}
		}
	}
	.customizing {
		.inner {
			padding-top: 76px;
			padding-bottom: 76px;
		}
		h3, dl {
			float:right;
			clear:both;
			width: calc(100% - 510px);
		}
		p {
			padding-bottom:12px;
			float: right;
			clear: both;
			&:last-of-type {padding-bottom:22px;}
		}
		dt {padding: 2px 0 0px;}
		.default {
			position: absolute;
			left: 0;
			top: 50%;
			width: 289px;
			height: 437px;
			margin-top: -219px;
			background-position:-820px -390px;
			opacity: 0;
			transition: .5s;
			-webkit-transition: .5s;
			-moz-transition: .5s;
		}
		.css {
			position: absolute;
			left: 160px;
			top: 50%;
			width: 262px;
			height: 386px;
			margin-top: -168px;
			background-position:-552px -390px;
			opacity: 0;
			transition: .5s .5s;
			-webkit-transition: .5s .5s;
			-moz-transition: .5s .5s;
		}
		.show {
			.default {opacity: 1;}
			.css {
				left: 200px;
				opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.idx {
		.visual {
			.inner {
				height:auto;
				padding-bottom: 200px;
			}
			h2, div.inner p {width:auto;}
			.item {
				height: 200px;
				width: 518px;
				left: 50%;
				margin-left: -259px;
				.headphone, .visual.animation .photo, .snapbag, .photo2, .camera {display:none;}
			}
		}
		.inner p, .themes dl {
			width:auto;
			float: none;
		}
		.themes {
			.inner {padding-bottom:400px;}
			.browser, .mobile, .show .mobile {
				left: 50%;
				right: auto;
			}
			.browser {
				top:auto;
				bottom:50px;
				margin-left: -200px;
			}
			.mobile {
				margin-left:70px;
				top:auto;
				bottom:50px;
			}
			.show .mobile {margin-left:100px;}
		}
		.customizing {
			h3, dl {
				float:none;
				width:auto;
			}
			.inner {padding-bottom:480px;}
			.default {
				left:auto;
				right: 50%;
				bottom:0;
				top:auto;
				margin-right: -50px;
			}
			.css {
				left: 46%;
				bottom:0;
				top:auto;
			}
			.show .css {left: 48%;}
		}
		.themes .browser, .themes .mobile, .customizing .default, .customizing .css {opacity:1;}
	}
}