[class^="pagination"] {
	position:relative;clear:both;text-align:center;
	&:after {content:'';clear:both;display:block;}
	a {
		display: inline-block; background: #f3f3f3; margin: 17px 2px 0;vertical-align: middle;font-size: 12px; line-height: 27px; color: #393d4c; padding: 2px 10px; min-width: 9px; text-align: center; border-radius: 5px; font-weight: bold;
		&:hover {text-decoration:none;}
		&.current, &.current:hover, &.current:active {color: #393d4b; background: #d8d9da; }
		&.prev, &.btn-previous, &.next, &.btn-prev, &.btn-next {padding:2px 10px;position: relative;}
		&.prev, &.btn-previous, &.btn-prev {float:left;}
		&.next, &.btn-next {float:right;}
		&.disabled {display:none;}
		&.dash {box-shadow:none;background:none;border: 0;padding: 0;margin-top: 9px;}
	}
}
 