* {margin:0;padding:0;list-style:none;}
body {overflow:hidden}
img {border:0;}
.widget-list .icon {position:absolute;bottom:7px;right:7px;width:12px;height:11px;background:url('/_ui/images/business/widget.png') no-repeat 0 -40px;}
.top-bar {display:block;line-height:44px;padding-left:14px;background:#3a3f49;border-radius:2px 2px 0 0;}
.top-bar .logo {display:inline-block;width:87px;height:17px;background:url('/_ui/images/business/widget.png') no-repeat -90px -60px;text-indent:-1000em;vertical-align:middle;}

/* new widget */
#widget .widget-container {text-align: center;letter-spacing: 0;}
#widget .widget-list ul li:nth-child(4n) {float:left;}
#widget .top-bar {display:none;background:#3a3f49;padding: 15px;border-radius:3px 3px 0 0;}
#widget .logo {display:block;font-size:0;color:transparent;overflow:hidden;width:121px;height:27px;background: url('/_ui/images/business/resources_widget.png') no-repeat  0 -200px;}
#widget ul {padding: 0 0 8px;overflow:auto;}
#widget ul:after {content:'';display:block;visibility:hidden;clear:both;height:0;}
#widget img {display:block;}
#widget a {display:block;}
#widget li {padding: 4px 2px 0;position: relative;display:inline-block;vertical-align:top;}
#widget li .icon {position: absolute;bottom: 10px;right: 10px;width: 13px;height: 12px;background: url('/_ui/images/business/widget.png') no-repeat 0 -40px}
#widget.light .top-bar {padding: 15px;background:none;margin:0;}
#widget.light .top-bar .logo {background-position:0 -170px;}
#widget.with-topbar .top-bar {display:block;}
#widget ::-webkit-scrollbar, #widget ::-webkit-scrollbar-thumb {width:7px;height:7px;border-radius:4px;}
#widget ::-webkit-scrollbar, #widget ::-webkit-scrollbar-track-piece {background:transparent;}
#widget :hover::-webkit-scrollbar-thumb {background:rgba(0,0,0,0.3);}
#widget ::-webkit-scrollbar-button {display: none;}