@charset "UTF-8";

#merchant-ad-carousel {display:none;}
.merchant-ads.pop .show-ads:before, .merchant-ads .ads:before, .merchant-ads.pop .show-ads .img {background:url("../../../../_ui/images/common/merchant_ads.png") no-repeat;background-size:1000px 300px;}
.merchant-ads .paging a:before {background:url("../../../../_ui/images/normal/header_white.png") no-repeat;background-size:180px 50px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.merchant-ads .paging a:before {background-image:url("../../../../_ui/images/retina/header_white.png");}
}

.merchant-ads {position:relative;}
.merchant-ads .ads p {font-size:12px;color:#8a8f9c;line-height:20px;padding:0 30px 15px;}
.merchant-ads .ads h4 {font-size:14px;color:#38424c;line-height:20px;padding:0 30px 2px;}
.merchant-ads .ads .btns, .merchant-ads .ads .btns:hover {display:inline-block;color:#fff;font-size:12px;font-weight:bold;line-height:33px;border-radius:3px;background:#448cda;padding:0 20px;text-decoration:none;}
.merchant-ads .ads .btns:before {display:none;}
/* .merchant-ads .ads:before {content:'';display:block;height:143px;margin-bottom:18px;} */
.merchant-ads .ads.banner span.img {content:'';display:block;height:143px;margin-bottom:18px;} 
.merchant-ads .paging {position:absolute;}
.merchant-ads .paging a {float:left;width:29px;line-height:20px;text-align:center;}
.merchant-ads .paging a:before {content:'';display:inline-block;width:5px;height:9px;opacity: 0.4;vertical-align:middle;background-position: -130px 0;}
.merchant-ads .paging a.next {border-left:1px solid #f6f6f6;}
.merchant-ads .paging a.next:before {background-position: -140px 0;}
.merchant-ads .paging a:hover:before {opacity:1;}

.merchant-ads .moo.ads:before {background-position:-290px 0;}
.merchant-ads .zdesk.ads:before {background-position:-580px 0;}
.merchant-ads .mailchimp.ads:before {background-position:0 -150px;}
.merchant-ads .zapier.ads:before {background-position:-290px -150px;}

.merchant-ads.line {padding:10px 15px;}
.merchant-ads.line .ads {position:relative;padding:6px 100px 6px 54px;}
.merchant-ads.line .ads:before  {width:44px;height:44px;position:absolute;top:0;left:0;background-position:-580px -150px;}
.merchant-ads.line .ads h4 {padding:0;font-size:12px;font-weight:bold;line-height:16px;}
.merchant-ads.line .ads p {padding:0;font-size:11px;line-height:16px;}
.merchant-ads.line .btns {position:absolute;right:0;top:50%;margin-top:-16px;}
.merchant-ads.line .moo.ads:before {background-position:-630px -150px;}
.merchant-ads.line .zdesk.ads:before {background-position:-680px -150px;}
.merchant-ads.line .mailchimp.ads:before {background-position:-730px -150px;}
.merchant-ads.line .zapier.ads:before {background-position:-780px -150px;}

.merchant-ads.box .ads {text-align:center;}
.merchant-ads.box ul {padding:7px 7px 20px;}
.merchant-ads.box .paging {top:12px;right:1px;padding:0;}
.merchant_dashboard .merchant-ads h3:before {background-position:-310px -105px;}

.merchant-ads.pop {float: left;padding-right:59px;position:absolute;right:100%;margin-right:10px;top:0;z-index:3;} 
.merchant-ads.pop li {position:relative;}
.merchant-ads.pop li:hover .ads {display:block;}
.merchant-ads.pop .paging {position:absolute;top:6px;right:0;}
.merchant-ads.pop .ads {text-align:center;position:absolute;display:none;right: 0;top: 44px;padding: 7px;background: #fff;width: 288px;box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.04), 0 0 5px rgba(0,0,0,0.04);border-radius: 3px;}
.merchant-ads.pop .ads h4:before, .merchant-ads.pop .ads h4:after {content:'';position:absolute;right:10px;bottom:100%;border:7px solid transparent;border-bottom-color:rgba(0,0,0,0.1);}
.merchant-ads.pop .ads h4:after {border-bottom-color:#fff;right:11px;border-width:6px;}
.merchant-ads.pop .show-ads {display:block;text-align:right;position:relative;padding-right:41px;white-space:nowrap;line-height: 16px;font-size:12px;}
/*.merchant-ads.pop .show-ads:before {content:'';width:33px;height:33px;top: 0;right:0;background-position: -580px -220px;position: absolute;} */
.merchant-ads.pop .show-ads .img {top: 0;right:0;position: absolute;overflow:hidden;border-radius:3px;height: 33px;width: 33px;background: none;}
.merchant-ads.pop .show-ads .img img {height: 40px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);/* display: none; */} 
.merchant-ads.pop .show-ads b {display:block;text-transform:uppercase;font-size:9px;color:#404855;}
.merchant-ads.pop .show-ads a {color:#4978b3}
.merchant-ads.pop .moo.ads:before {background-position:-615px -220px;}
.merchant-ads.pop .zdesk.ads:before {background-position:-650px -220px;}
.merchant-ads.pop .mailchimp.ads:before {background-position:-685px -220px;}
.merchant-ads.pop .zapier.ads:before {background-position:-720px -220px;}
.merchant-ads.pop [data-spot="1"] .show-ads .img {background-position: -580px -220px;}
.merchant-ads.pop [data-spot="2"] .show-ads .img {background-position:-615px -220px;}
.merchant-ads.pop [data-spot="3"] .show-ads .img {background-position:-650px -220px;}
.merchant-ads.pop [data-spot="4"] .show-ads .img {background-position:-685px -220px;}
.merchant-ads.pop [data-spot="5"] .show-ads .img {background-position:-720px -220px;}

.add_products .merchant-ads.wrapper {padding:0;}