@charset "UTF-8";
@import url("../stream/merchant-table.css"); 

.popup.pack-receipt .btn-print .ic-print {background: transparent url('../../../../_ui/images/common/icon.new.png') no-repeat;background-size: 650px 590px;}
.popup.pack-receipt .receipt-info .logo .logo-sm {background: url('../../../../_ui/images/common/logo1x.png') no-repeat;background-size: 400px 200px;}
#popup_container.pack-receipt .popup.pack-receipt {display:block}
.popup.pack-receipt {background: #fff;border-radius: 3px;width: 700px;padding: 0;box-shadow:0 0 0 1px rgba(0,0,0,0.1);}
.popup.pack-receipt .receipt-info {padding:33px 30px 57px;}
.popup.pack-receipt .receipt-info .logo {padding-bottom:27px;border-bottom:3px solid #4e535e;}
.popup.pack-receipt .receipt-info .logo .logo-sm {display:block;width:123px;height:24px;background-position:-50px 0;text-indent:-1000em;overflow:hidden;}
.popup.pack-receipt .receipt-info .receipt-price {text-align:right;font-size:12px;line-height:19px;padding:18px 12px 29px;border-bottom:3px solid #4e535e;}
.popup.pack-receipt .receipt-info .receipt-price .total {font-size:20px;padding-top:16px;font-weight:bold;}
.popup.pack-receipt .receipt-info .receipt-price .total small {font-size:18px;font-weight:normal;}
.popup.pack-receipt .receipt-info .receipt-price b {font-weight:normal;padding-left:4px;}
.popup.pack-receipt .receipt-info .basic {float:left;width:100%;padding:23px 0 26px;}
.popup.pack-receipt .receipt-info .basic b {float:left;width:118px;}
.popup.pack-receipt .receipt-info .basic span {float:left;width:180px;}
.popup.pack-receipt .receipt-info .basic li {clear:left;float:left;width:300px;padding:0 10px;font-size:13px;line-height:24px;}
.popup.pack-receipt .receipt-info .basic li.adds {clear:none;float:right;}
.popup.pack-receipt .receipt-info .basic li.adds b {width:133px;}
.popup.pack-receipt .receipt-info .basic li.adds span {width:165px;}
.popup.pack-receipt .receipt-table {width:100%;clear:both;}
.popup.pack-receipt .receipt-table thead th {height:46px;vertical-align:middle;border-top:1px solid #7f7f7f;border-bottom:1px solid #7f7f7f;font-size:12px;color:#373d48;font-weight:bold;text-align:center;}
.popup.pack-receipt .receipt-table thead th:first-child {text-align:left;padding-left:12px;}
.popup.pack-receipt .receipt-table tbody th,.popup.pack-receipt .receipt-table tbody td {padding:22px 0;border-bottom:1px solid #dfdfdf;font-size:12px;color:#373d48;text-align:center;vertical-align:middle;}
.popup.pack-receipt .receipt-table tbody th {text-align:left;padding-left:12px;}
.popup.pack-receipt .receipt-table tbody th b {display:block;font-size:14px;}
.popup.pack-receipt .receipt-table tbody th .option {color:#757575;}
.popup.pack-receipt .btn-print {color: #fff;font-weight: bold;padding: 0 12px;border-radius:3px;}
.popup.pack-receipt .btn-print .ic-print {display:inline-block;width:17px;height:15px;vertical-align:middle;background-position:-600px -275px;margin-top:-3px;}

#popup_container.ship-detail .ship-detail {display:block}
.popup.ship-detail {background: #fff;border-radius: 3px;width: 540px;padding: 0;box-shadow: 0 0 8px rgba(0,0,0,.12);}
.popup.ship-detail dl {clear:both;padding:29px 30px 0;}
.popup.ship-detail dt {font-size:16px;color:#373d48;font-weight:bold;padding-bottom:16px;cursor:pointer;}
.popup.ship-detail dd {float:left;border:1px solid #e4e8ec;width:438px;background:#f9fafb;padding:26px 20px 11px;opacity:0.5;filter: alpha(opacity=50);}
.popup.ship-detail ul {float:left;width:438px;}
.popup.ship-detail .ltit {margin-bottom:3px;}
.popup.ship-detail .myself {margin-bottom:37px;}
.popup.ship-detail li {float:left;padding-left:5px;width: calc(50% - 3px);width: -webkit-calc(50% - 3px);width: -moz-calc(50% - 3px);}
.popup.ship-detail li:first-child,.popup.ship-detail li.clear,.popup.ship-detail li.carrier {clear:both;padding-left:0;}
.popup.ship-detail .rate ul {padding-bottom:7px;}
.popup.ship-detail .rate li {padding-bottom:12px;position:relative;}
.popup.ship-detail .rate li .unit {position:absolute;line-height:29px;font-size:12px;right:5px;bottom:12px;color:#989898;font-style:normal;}
.popup.ship-detail .select-order {width: 100%;}
.popup.ship-detail .print .box {padding:10px 0 0;}
.popup.ship-detail .print .box .btns-white {vertical-align:middle;}
.popup.ship-detail .print span.price {display:inline-block;position:relative;border: 0;padding: 0;vertical-align: middle;}
.popup.ship-detail .print span.price .text {padding-right: 20px;width: 62px;}
.popup.ship-detail .print span.price small {position:absolute;right:0;top:0;border-left: 1px solid #d1d3d9;line-height: 29px;padding: 0 5px;}
.popup.ship-detail .print .select-order {width: 142px;}
.popup.ship-detail .print .cost {clear:both;text-align:right;padding: 10px 0 20px;}
.popup.ship-detail .print .rate em {display:table;width:100%;}
.popup.ship-detail .print .rate {border-top:1px solid #e4e8ec;padding:20px 0 10px;}
.popup.ship-detail .print .rate .tit {display:block;font-size:14px;padding-bottom: 4px;}
.popup.ship-detail .print .rate span {display:table-cell;padding-left:10px;border-left:1px solid #e4e8ec;color: #666;}
.popup.ship-detail .print .rate b {color: #393d4d;}
.popup.ship-detail .print .rate span:first-child {padding-left:0;border-left:0;}
.popup.ship-detail li label {display:block;color:#373d48;font-size:11px;padding-bottom:5px;}
.popup.ship-detail li.adds {position:relative;float:none;width:auto;padding-bottom:10px;margin-top:-5px;}
.popup.ship-detail li.adds .btns-white {display:inline-block;font-size:11px;line-height:18px;padding:0 5px;}
.popup.ship-detail input.text, .popup.ship-detail input[type="text"] {float:none;width: 100%;}
.popup.ship-detail .myself {padding-bottom:28px;}
.popup.ship-detail .myself p {padding:10px 0 0;clear:both;font-size:11px;}
.popup.ship-detail .price {clear:both;border-top:1px solid #e1e4e9;font-size:12px;color:#373d48;padding:17px 0;}
.popup.ship-detail .price big {font-size:14px;padding-left:13px;}
.popup.ship-detail .price big b {font-size:18px;}
.popup.ship-detail .current input[type="radio"] {box-shadow: inset 0 0 0 4px #8bbf3a;border-color: #66941e;}
.popup.ship-detail .current dd {opacity:1;filter: alpha(opacity=100);}
.popup.ship-detail .btn-check {float:right;width:87px;background:#4e6479;font-size:12px;color:#fff;height:29px;margin:-49px 0 19px;}

#popup_container.change-adds .popup.change-adds {display:block}
.popup.change-adds {background: #fff;border-radius: 3px;width: 540px;padding: 0;box-shadow: 0 0 8px rgba(0,0,0,.12);}
.popup.change-adds .ltit {margin-bottom:10px;}
.popup.change-adds dl {padding:20px 30px 0;}
.popup.change-adds dt {font-size:16px;color:#373d48;font-weight:bold;padding-bottom:12px;}
.popup.change-adds .list dd {background: rgba(232, 232, 233, 0.5);box-shadow: inset 0 0 0 1px #d9dcde;padding:17px 20px;font-size:14px;line-height:20px;}
.popup.change-adds .list dd b {display:inline-block;padding-bottom:6px;}
.popup.change-adds .frm {padding-bottom: 20px;}
.popup.change-adds .frm:after {content:'';clear:both;display:block;}
.popup.change-adds .frm input[type="text"] {width: 100%;}
.popup.change-adds .frm p {padding-bottom:10px;}
.popup.change-adds .frm p:after {clear:both;content:'';display:block;}
.popup.change-adds .frm label {float: left;line-height:29px;color:#373d48;width: 20%;}
.popup.change-adds .frm input.mid1 {width: 30%;float:left;}
.popup.change-adds .frm label.mid {padding-left:14px;width:50px;}
.popup.change-adds .frm input.mid2 {width:171px;}
.popup.change-adds .frm .select-order {float:right;width: 30%;}

#popup_container.order-history .popup.order-history {display:block}
.popup.order-history {background: #fff;border-radius: 3px;width: 540px;padding: 0;box-shadow: 0 0 8px rgba(0,0,0,.12);}
.popup.order-history li {font-size:12px;line-height:20px;color:#373d48;}
.popup.order-history span {padding-right:6px;}
.popup.order-history .ltit {margin-bottom:30px}
.popup.order-history dl {padding:0 30px 40px;}
.popup.order-history dt {border-bottom:1px solid #e4e8ec;padding-bottom:8px;font-size:16px;color:#373d48;font-weight:bold;}
.popup.order-history dd {padding-top:10px;}

.popup.recreate {width:600px;margin:0 auto;background:#fff;border-radius:3px;}
.popup.recreate .ltxt {padding:15px;}
.popup.recreate textarea.text {width:100%;}
.popup.recreate .order-table2 input.text, .popup.recreate .order-table2 input[type="text"] {width:50px;text-align:right;}
.popup.recreate .order-table2 {width:100%;}
.popup.recreate .order-table2 tbody td {text-align:center;}
.popup.recreate .order-table2 select {width:140px;}
.popup.recreate .order-table2 img {width:50px;height:50px;float:left;margin-right:10px;background-size:cover;background-position:50% 50%;}
.popup.recreate .order-table2 td.thing {text-align:left;padding:5px;}

.popup.buyer-info .user .mail,.popup.buyer-info .user .phone {background: transparent url('../../../../_ui/images/common/icon.new.png') no-repeat;background-size: 650px 590px;}
#popup_container.buyer-info .popup.buyer-info {display:block}
.popup.buyer-info {background: #fff;border-radius: 3px;width: 540px;padding: 0;box-shadow: 0 0 8px rgba(0,0,0,.12);}
.popup.buyer-info .user {position:relative;padding:34px 29px 42px 122px;border-bottom:1px solid #e5e5e5;}
.popup.buyer-info .user li {font-size:13px;line-height:22px;color:#373d48;}
.popup.buyer-info .user p {font-weight:bold;font-size:21px;color:#373d48;}
.popup.buyer-info .user .photo {position:absolute;top:34px;left:29px;width:77px;height:77px;}
.popup.buyer-info .user .mail {display:inline-block;width:13px;height:8px;background-position:-600px -230px;vertical-align: middle;margin:0 4px 0 -2px;}
.popup.buyer-info .user .phone {display:inline-block;width:10px;height:13px;background-position:-602px -246px;vertical-align: middle;margin:-2px 5px 0 0;}
.popup.buyer-info .shippng {padding:0 33px 45px;}
.popup.buyer-info .shippng dt {padding-top:30px;height:33px;}
.popup.buyer-info .shippng dt b {float:left;font-size:16px;}
.popup.buyer-info .shippng dt a {float:right;color:#318ee5;text-decoration:underline;}
.popup.buyer-info .shippng dd {clear:both;padding:18px 0;border-top:1px solid #f0f0f0;font-size:14px;line-height:20px;}
.popup.buyer-info .shippng dd b {display:inline-block;padding-bottom:5px;}

.popup.fulfill-shipping .step1 .icon {background:url('../../../../_ui/images/normal/shipping_detail.png') no-repeat;background-size:200px 100px;}
#popup_container.fulfill-shipping .popup.fulfill-shipping {display:block;}
#popup_container .popup.fulfill-shipping {background:#fff;border-radius:3px;width:556px;}
#popup_container .popup.fulfill-shipping.step1 {width:497px;}
.popup.fulfill-shipping .cont {display:none;}
.popup.fulfill-shipping .btn-area {padding:13px 11px;text-align:right;border-top:1px solid #e9eaed;}
.popup.fulfill-shipping.step1 .step1, .popup.fulfill-shipping.step2 .step2,.popup.fulfill-shipping.step3 .step3 {display:block;}
.popup.fulfill-shipping .step1 .after {padding:15px 15px 15px 0;}
.popup.fulfill-shipping .step1 li {float:left;margin-left:15px;}
.popup.fulfill-shipping .step1 .after a {display:block;padding-top:49px;width:224px;height:175px;border:1px solid #e5e5e5;border-radius:2px;color:#989da6;font-size:14px;text-align:center;}
.popup.fulfill-shipping .step1 .after b {display:block;padding:30px 0 0;}
.popup.fulfill-shipping .step1 .after a:hover {background:#f2f3f4;color:#4978b3;text-decoration:none;}
.popup.fulfill-shipping .step1 .icon {display:block;margin:0 auto;width:80px;height:96px;}
.popup.fulfill-shipping .step1 .icon.manual {width:84px;background-position:-90px 0;}
.popup.fulfill-shipping .print.step2 dl,.popup.fulfill-shipping .manual.step3 dl {padding:17px 15px 2px;}
.popup.fulfill-shipping .step2.manual .detail {padding:15px;}
.popup.fulfill-shipping .print.step2 dt,.popup.fulfill-shipping .manual.step3 dt, .popup.fulfill-shipping .step2.manual .detail dt {padding-bottom:10px;font-weight:bold;color:#393d4d;font-size: 12px;}
.popup.fulfill-shipping .ship li {position:relative;float:left;width:254px;border:1px solid #e3e4e6;border-radius:2px;}
.popup.fulfill-shipping .ship .to {float:right;}
.popup.fulfill-shipping .ship .label {display:block;padding:5px 11px;font-size:11px;color:#525665;font-weight:bold;line-height:20px;background:#f8f8f8;border-bottom:1px solid #d7d9db;}
.popup.fulfill-shipping .ship address {position:relative;padding:10px 11px;font-size: 12px;line-height:18px;}
.popup.fulfill-shipping .ship address b {display:inline-block;padding-bottom:4px;}
.popup.fulfill-shipping .ship address .tel {display:inline-block;padding-top:4px;}
.popup.fulfill-shipping .ship address .change {position:absolute;right:11px;top:10px;}
.popup.fulfill-shipping .step2.print .detail {padding-bottom:12px;}
.popup.fulfill-shipping .step2 .detail dd {background:#f8f8f8;border:1px solid #e3e4e6;}
.popup.fulfill-shipping .step2 .detail .btn-area {padding:12px 14px;text-align:left;}
.popup.fulfill-shipping .step2 .detail .recipent {float:right;line-height:16px;font-size:11px;color:#888b97;min-width:146px;}
.popup.fulfill-shipping .step2 .detail .recipent li {float:left;width:100%;clear:both;}
.popup.fulfill-shipping .step2 .detail .recipent label {float:left;}
.popup.fulfill-shipping .step2 .detail .recipent b {float:right;font-weight:normal;}
.popup.fulfill-shipping .step2 .detail .recipent .total {color:#393d4d;font-size:12px;}
.popup.fulfill-shipping .step2 .detail fieldset {padding:13px 15px 4px; position: relative; }
.popup.fulfill-shipping .step2 .detail .number .text {width:224px;padding:4px 7px;}
.popup.fulfill-shipping .step2 .detail input[type="checkbox"] {vertical-align:middle;margin-top:-3px;}
.popup.fulfill-shipping .step2 .detail p {padding-bottom:12px;clear:both;}
.popup.fulfill-shipping .step2 .detail p.carrier, .popup.fulfill-shipping .step2 .detail p.packing, .popup.fulfill-shipping .step2.manual .detail p.service {float:left;}
.popup.fulfill-shipping .step2 .detail p.packaging, .popup.fulfill-shipping .step2 .detail p.service, .popup.fulfill-shipping .step2 .detail p.date, .popup.fulfill-shipping .step2.manual .detail p.number {float:right;clear:none;}
.popup.fulfill-shipping .step2 .detail .dropoff .select-boxes {width:100%;}
.popup.fulfill-shipping .step2 .detail p.box {float:left;clear:none;margin-right: 13px;}
.popup.fulfill-shipping .step2 .detail p.calculate-button {position:absolute; right: 15px; bottom: 4px;}
.popup.fulfill-shipping .step2 .detail .list_rate {text-decoration: line-through; color: #999;}
.popup.fulfill-shipping .step2 .detail .rates {padding:16px 14px 4px; text-align: left; border-top:1px solid #e3e4e6;}
.popup.fulfill-shipping .step2 .detail .rates p.disabled {color: #999;}
.popup.fulfill-shipping .step2 .detail .comment {font-size:12px;display:block;padding-top:8px;}
.popup.fulfill-shipping .step2 .detail .label {display:block;padding-bottom:6px;color:#393d4d;font-size:12px;font-weight:bold;}
.popup.fulfill-shipping .step2 .detail .select-boxes {background-color:#fff;width:240px;}
.popup.fulfill-shipping .step2 .detail .input {position:relative;display:inline-block;vertical-align:middle;margin-right:3px;}
.popup.fulfill-shipping .step2 .detail .input.height {margin-right:0;}
.popup.fulfill-shipping .step2 .detail .input input.text {padding-right:27px;width:39px;}
.popup.fulfill-shipping .step2 .detail .input small {position:absolute;right:1px;top:1px;background:#fcfcfc;color:#81848b;padding:0 8px;border-left:1px solid #cacccf;line-height:29px;border-radius:0 2px 2px 0;}
.popup.fulfill-shipping .print.step2 .certify-customs {padding: 8px 8px 8px 0;}
.popup.fulfill-shipping .print.step2 .certify-customs label {display:block;}
.popup.fulfill-shipping .print.step2 .certify-customs input.text {margin: 8px 0 0 15px; width: 240px;}
.popup.fulfill-shipping .print.step2 .package .input.weight input.text {padding-right:32px;width:44px;}
.popup.fulfill-shipping .print.step2 .package .box {float:left;margin-right:13px;clear:none;}
.popup.fulfill-shipping .print.step3 dl, .popup.fulfill-shipping .step3.manual .detail dd dl {border:1px solid #e3e4e6;border-radius:2px;margin:15px 15px 0;}
.popup.fulfill-shipping .step3.manual .detail dd dl {padding:0;margin:0 0 15px;}
.popup.fulfill-shipping .print.step3 dt, .popup.fulfill-shipping .step3.manual .detail dd dt {padding:5px 11px;font-size:11px;color:#525665;font-weight:bold;line-height:20px;background:#f8f8f8;border-bottom:1px solid #d7d9db;}
.popup.fulfill-shipping .print.step3 .btn-area {margin-top:20px;}
.popup.fulfill-shipping .step3.print ul, .popup.fulfill-shipping .step3.print ol {padding:12px 15px;}
.popup.fulfill-shipping .step3.manual .detail ul {padding:8px 0;}
.popup.fulfill-shipping .step3.manual .detail li {line-height:22px;}
.popup.fulfill-shipping .step3 .costs label, .popup.fulfill-shipping .step3.manual .detail label {display:inline-block;vertical-align:middle;min-width:182px;margin-right:6px;text-align:right;font-weight:bold;}
.popup.fulfill-shipping .step3.manual .detail label {min-width:198px;}
.popup.fulfill-shipping .step3.manual .detail .option em {margin-right:8px;}
.popup.fulfill-shipping .step3.manual .detail .option em:last-of-type{margin-right:0;}
.popup.fulfill-shipping .print.step3 .costs span, .popup.fulfill-shipping .step3.manual .detail span {display:inline-block;vertical-align:middle;}
.popup.fulfill-shipping .print.step3 li {line-height:20px;}
.popup.fulfill-shipping .print.step3 .preview .btn-area {margin:0;border:0;border-bottom:1px solid #f0f0f0;padding:16px 0 13px;text-align:center;}
.popup.fulfill-shipping .print.step3 .preview .preview-label {max-height:343px;margin:0 7px;overflow:auto;padding:20px 0;text-align:center;}
.popup.fulfill-shipping .rate .table {margin:15px;border:1px solid #e3e4e6;overflow:hidden;border-radius:3px;}
.popup.fulfill-shipping .rate .tb-type2 thead th {border-left:0;}
.popup.fulfill-shipping .rate .tb-type2 tbody td {padding:7px 10px;}
.popup.fulfill-shipping .rate .tb-type2 tbody tr:nth-child(even) td {background:#f9f9f9;}
.popup.fulfill-shipping .step2 .detail input.text.date {width: 225px;padding: 4px 7px;}
.popup.fulfill-shipping .ship .residential {position:absolute;right:10px;top:7px;font-size:11px;}
.popup.fulfill-shipping .items_listing .table {border:1px solid #e3e4e6;border-radius:3px;}
.popup.fulfill-shipping .items_listing .tb-type2 thead th {border-bottom-color:#d7d9db}
.popup.fulfill-shipping .items_listing .tb-type2 tbody td {position:relative;}
.popup.fulfill-shipping .items_listing .harmonized-code-suggestion {display:none;top:38px;right:10px;left:auto;width:502px;padding:5px 0;}
.popup.fulfill-shipping .items_listing .harmonized-code-selection {width:132px;}
.popup.fulfill-shipping .items_listing .tb-type2 .qty {text-align:center;}
.popup.fulfill-shipping .items_listing a.items {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#383d48;font-size:12px;line-height:16px;width: 160px;}
.popup.fulfill-shipping .items_listing a.items small {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#989da6}
.popup.fulfill-shipping .items_listing input.text {width: 124px;padding:3px 7px;line-height: 20px;font-size: 12px;background: #f8f8f8;}

.edit_new_adds .btn-delete .ic-delete {background:url('../../../../_ui/images/normal/checkout.png') no-repeat;background-size:220px 310px;}
#popup_container.edit_new_adds .edit_new_adds {display:block;}
.edit_new_adds {background:#fff;width:460px;margin:0 auto;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 0px 13px rgba(0, 0, 0, 0.5);;border-radius:3px;}
.edit_new_adds fieldset {padding: 15px 11px 5px;}
.edit_new_adds fieldset p {float: left;padding: 0 0 3px;width: calc(50% - 8px);width: -webkit-calc(50% - 8px);width: -moz-calc(50% - 8px);margin: 0 4px;}
.edit_new_adds fieldset p span.error {display: block;font-size: 11px;color: #ff0000;margin: -5px 0 7px;}
.edit_new_adds div.error {background: #faf0ce;padding: 6px 10px;margin-bottom: 10px;color: #ff0000;}
.edit_new_adds fieldset .use {display:block;padding:8px 0 5px;}
.edit_new_adds fieldset p.address {float:none;width:auto;}
.edit_new_adds .ic-q {position:relative;z-index:1;display:inline-block;width:12px;height:12px;background-position:-63px -5px;vertical-align:middle;margin-top:-3px;}
.edit_new_adds input[type="text"], .edit_new_adds input.text {width:100%;margin-bottom: 7px;}
.edit_new_adds input[type="text"].error, .edit_new_adds input.text.error, .edit_new_adds .select-boxes.error {background-color: #fff;color: #d64545;box-shadow:inset 0 0 0 1px #D89090;}
.edit_new_adds .tooltip {display:none;position:absolute;width:166px;font-size:12px;line-height:16px;padding:11px;background:rgba(11,15,22,0.9);color:#fff;top:87px;left:255px;border-radius:3px;}
.edit_new_adds .tooltip {top: 25px;right: -65px;left:auto;}
.edit_new_adds .label {display:inline-block;position:relative;color:#63696e;padding:2px 0 3px;font-size: 12px;line-height: 16px;font-weight: 500;}
.edit_new_adds input.fullname, .edit_new_adds input.tag {}
.edit_new_adds input.add1,.edit_new_adds input.add2,.update_card input.cardname {width:410px;}
.edit_new_adds .btn-area {margin:0;background:none;padding:14px 17px;width:auto;box-shadow:none;border-top:1px solid #e6e8ea;}
.edit_new_adds .btn-cancel,.edit_new_adds .btn-delete {border-radius:2px;border:1px solid #cccecf;color:#383d48;background:#fff;font-weight:bold;padding:0 12px;line-height:28px;margin-right:4px;box-shadow:0 1px 0 #f2f2f2;}
.edit_new_adds .btn-delete {padding: 0;width: 29px;text-align: center;height: 29px;margin: 0 0 1px 1px;border-radius: 3px;box-shadow: 0 1px 0 #fafafa;}
.edit_new_adds .btn-delete .ic-delete {display: inline-block;width: 9px;height: 12px;background-position: -88px -5px;vertical-align: middle;margin-top: -4px;}
.edit_new_adds .btn-delete[disabled] {cursor:default;opacity:.5;filter:alpha(opacity=50);}
.edit_new_adds .btn-save-add {border-radius:2px;font-size: 13px;line-height: 28px;padding: 0 15px;}
.edit_new_adds .select-boxes {width:100%;margin-bottom: 7px;}
.edit_new_adds .city, .edit_new_adds .phone {width:190px;}
.edit_new_adds .zip {width:55px;}
.edit_new_adds .label b {color:#383d48;}
.edit_new_adds fieldset .saved {margin: 0 -11px 15px;padding: 0 15px 10px;border-bottom:1px solid #ebebed;float: none;width: auto;}
.edit_new_adds fieldset .telephone {float: none;width: auto;}
.edit_new_adds.new_addr fieldset .saved {display:none}

.popup.fulfill-shipping .items_listing .table {padding:0;}
.popup.fulfill-shipping .items_listing .tb-type2 {border:0;}
.popup.fulfill-shipping .print.step2 dl {clear:both;}
.popup.fulfill-shipping .step2 .detail .input input.text {box-sizing:content-box;padding: 6px 12px;}
