<td class="check"><input type="checkbox" model-id="<%= model.id %>"/></td>
<td><%= model.merchant_name %></td>
<td><%= model.admin_name %></td>
<td><%= model.admin_group_name %></td>
<td><a href="#" class="btn-del" model-id="<%= model.id %>">Delete</a></td>