<tr>
    <th class="check"><input type="checkbox" class="checkbox-header" /></th>
    <th><a href="#" class="merchant-name-header <% if (ordering == "merchant_name") { %> up <% } else if (ordering == "-merchant_name") { %> down <% } %>"><span>Merchant Name</span></a></th>
    <th><a href="#" class="admin-name-header <% if (ordering == "admin_name") { %> up <% } else if (ordering == "-admin_name") { %> down <% } %>"><span>Admin Name</span></a></th>
    <th>Admin Group</th>
    <th>Action</th>
</tr>