<table class="tb-type1">
    <colgroup>
        <col width="40">
        <col width="*">
        <col width="200">
        <col width="200">
        <col width="100">
    </colgroup>
    <thead>
        <!-- Listing Header View -->
    </thead>
    <tbody class="listing-item-view">
        <!-- Listing Item View -->
    </tbody>
</table>