@charset "UTF-8";

.feature a.more, .detail .figure-info .option a:after {background:url('../images/icon.png') no-repeat;background-size:200px 200px;}
div:first-of-type.detail .figure-image:after {background:url('../images/bg_product1.png') no-repeat;}
div:first-of-type.detail .figure-image:before {background:url('../images/bg_product2.png') no-repeat;}
.detail.resolution .figure-image figure, .detail.resolution .figure-image:before, .detail.resolution .figure-image:after {background: url('../images/product4.png') no-repeat;}
.detail.nasa .figure-image {background: url('../images/product5.png') no-repeat}
.feature_sine .inner:before {background: url('../images/bg_sine.png') no-repeat;}
.feature {background: url('../images/bg_feature.png') no-repeat;}

.title{font-size:41px;font-family: 'Roboto Condensed', sans-serif;font-weight:normal;}
.title .logo {display:block;;padding:0 0 12px;}
.title .logo img {vertical-align:top;max-height:28px;}
.watermark {display:none;}

.feature {text-align:center;padding:80px 0 335px;background-position:50% -63px;}
.feature a.more {display:block;width:19px;height: 12px;margin:3px auto 0;background-position:-120px 0;}
.feature p {font-size:14px;line-height:27px;color:#222222;font-weight:300;padding:18px 0 0;width:480px;margin:0 auto;padding-bottom:27px;}

.detail {position:relative;overflow:hidden;}
.detail .inner {width:1080px;margin:0 auto;}
.detail .inner:after {content:'';clear:both;display:block;}
.detail .figure-image {position:absolute;top:0;right:0;}
.detail .figure-image figure {display:block;}
.detail .figure-image img {position:relative;max-width:820px;max-height:820px;}
.detail .figure-info {position:relative;width:441px;padding:97px 0 90px;}
.detail .figure-info .title small {font-family: 'Roboto', sans-serif;display:block;font-size:18px;font-weight:300;padding: 13px 0 4px;text-transform: uppercase;}
.detail .figure-info .price {display:inline-block;font-size:24px;color:#e20074;border-bottom:1px solid rgba(226,0,116,0.3);padding:10px 0 13px;}
.detail .figure-info .description {font-size:14px;line-height:27px;color:#222222;font-weight:300;padding:18px 0 0;}
.detail .figure-info .description p+p {padding-top:27px;}
.detail .figure-info .frm {padding-top:31px;}
.detail .figure-info .frm:after {content:'';clear:both;display:block;}
.detail .figure-info .frm + .description {padding-top: 28px;}
.detail .figure-info .option {float:left;width:304px;margin-right:10px;position:relative;}
.detail .figure-info .option a {display:block;line-height:42px;border:1px solid rgba(0,0,0,0.3);padding:0 18px;color:#1a1a1a;font-size:14px;border-radius:22px;padding-right:40px;}
.detail .figure-info .option a:after {content:'';position:absolute;right:19px;top:50%;width:14px;height: 8px;background-position:-70px -20px;margin-top: -3px;}
.detail .figure-info .option a small {color:#9f9f9f;}
.detail .figure-info .option select {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.detail .figure-info .btn-buy {float:left;line-height:44px;background:#e20074;padding:0 20px;font-weight:bold;color:#fff;font-size:16px;border-radius:22px;}
.detail .figure-info .thumbnail {padding:70px 0 0;}
.detail .figure-info .thumbnail:after {content:'';clear:both;display:block;}
.detail .figure-info .thumbnail li {float:left;margin-left:10px;}
.detail .figure-info .thumbnail li:first-child {margin-left:0;}
.detail .figure-info .thumbnail a {display:block;opacity:0.3;padding-bottom:5px;border-bottom:2px solid transparent;}
.detail .figure-info .thumbnail a.current {opacity:1;border-bottom-color:#e20074;}
.detail .figure-info .thumbnail img {width:120px;height:120px;display:block;background:no-repeat 50% 50%;background-size:cover;}

div:first-of-type.detail .watermark {bottom:-104px;right:74px;}
div:first-of-type.detail .figure-info {padding-top:157px;}
div:first-of-type.detail .figure-image:after {content:'';position:absolute;top:0;right:0;width: 475px;height: 452px;}
div:first-of-type.detail .figure-image figure:after {content:'';position:absolute;top:0;right:0;width: 50%;height:50%;background: -webkit-linear-gradient(-135deg, rgba(255,255,255,1),  rgba(255,255,255,0));background: linear-gradient(-135deg,  rgba(255,255,255,1),  rgba(255,255,255,0));}
div:first-of-type.detail .figure-image:before {content:'';position:absolute;top: -63px;right:0;width: 282px;height: 272px;}


.detail.uncompromised .figure-image {top:87px;right: auto;left: 50%;margin-left: -39px;}
.detail.uncompromised:before {content:'';position:absolute;top:0;left:0;width:100%;height:74px;background: -webkit-linear-gradient(180deg, #f2f4f5,  rgba(255,255,255,0));background: linear-gradient(180deg,  #f2f4f5,  rgba(255,255,255,0));}
.detail.uncompromised .description {padding-right:45px;}

.detail.resolution {height: 757px;}
.detail.resolution .figure-image {width:100%;height:100%;}
.detail.resolution .figure-image:before {content:'';position:absolute;left: 50%;height: 169px;width: 948px;top: 511px;background-position: 0 -511px;margin-left: -699px;}
.detail.resolution .figure-image:after {content:'';position:absolute;left: 50%;top:0;width: 1080px;height: 510px;background-position: 100% 0;margin-left: -432px;}
.detail.resolution .figure-image figure {position:absolute;right: 50%;top:0;width: 244px;height: 100%;background-position: 100% 0;margin-right: -648px;}
.detail.resolution .watermark {top:-258px;left:58px;}

.detail.nasa {height: 757px;}
.detail.nasa .figure-image {width:100%;height: 100%;background-position: 0 50%;background-size: cover;}
.detail.nasa .figure-info .title, .detail.nasa .figure-info .description, .detail.nasa .figure-info .option a {color:#fff;}
.detail.nasa .figure-info .btn-buy {color:#000;background:#fff;}
.detail.nasa .figure-info .option a {background:rgba(59,59,59,0.67);border-color:rgba(59,59,59,0.67);}
.detail.nasa .figure-info {padding-left:541px;}
.detail.nasa .watermark {bottom:96px;left:58px;}

.slide_banner {position:relative;overflow:hidden;}
.slide_banner ul {position:relative;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);display:inline-block;font-size:0;letter-spacing:0;line-height:0;white-space:nowrap;vertical-align: top;}
.slide_banner li {display:inline-block;vertical-align: top;}
.slide_banner img {vertical-align:top;height:175px;}

.feature_sine {position:relative;height:758px;background:#f7f8f9;background-size: contain;}
.feature_sine:before {content:'';position:absolute;bottom: 8%;left:0;width:100%;height: 92%;background: -webkit-linear-gradient(0deg, rgba(255,255,255,1),  rgba(255,255,255,0));background: linear-gradient(0deg,  rgba(255,255,255,1),  rgba(255,255,255,0));box-shadow: 0 20px 30px #fff;}
.feature_sine .inner:before {content:'';position:absolute;top:0;left: 50%;height:100%;background-size: cover;width:563px;margin-left: -633px;}
.feature_sine .inner {padding: 0 40px 0 490px;width: 550px;margin: 0 auto;}
.feature_sine li {position:relative;min-height:74px;padding-bottom:10px;font-weight:300;font-size:14px;line-height:23px;}
.feature_sine li b {display:block;text-transform:uppercase;font-weight:400;font-size:16px;padding-bottom:1px;color:#e20074;}
.feature_sine h3 {position:relative;font-family: 'Roboto Condensed', sans-serif;font-weight:normal;padding: 110px 0 27px;font-size:41px;}
.feature_sine h3 small {font-family: 'Roboto', sans-serif;display:block;font-weight:300;font-size:18px;line-height:27px;padding-top: 10px;text-transform: uppercase;}
.feature_sine p {position:relative;font-size:14px;line-height:27px;color:#484848;width: 400px;height: 147px;}