@charset "UTF-8";

#checkout .shipping .selectBox:after {background:url('../images/checkout_combo.png') no-repeat;}

body {background:#f9f9f9}
#checkout {font-family: 'Roboto', sans-serif;}
#checkout .order-coupon .btn-apply, #checkout .order-coupon .btn-apply:hover, #checkout .btn-submit, #checkout .btn-submit:hover {background:#e40075;font-weight:bold;}
#checkout .btn-submit {text-transform:uppercase;}
#checkout .left .summary {display:table;}
#checkout h1.logo img {max-width:100px;max-height:100px;}
#checkout h1.logo a.logo-img {width:100px;height:100px;border: 0;position: absolute;top: 0;left: 0;}
#checkout h1.logo {display:table-cell;font-size:14px;color:#4f5663;padding: 0;height: 100px;position: relative;padding-left: 120px;}
#checkout h1.logo a {display:none;}
#checkout h1.logo b {padding:0 0 8px;}
#checkout h1.logo span.tagline {opacity:0.7;}
#checkout h1.logo .brand a {display:block;font-size:24px;color:#414853;}
#checkout input.text, #checkout textarea.text, #checkout input.text:hover, #checkout textarea.text:hover, #checkout input.text:focus, #checkout textarea.text:focus {border-color:rgba(220,221,222,0.95);}
#checkout .selectBox, #checkout .selectBox:hover, #checkout .selectBox:focus  {box-shadow:inset 0 0 0 1px rgba(220,221,222,0.95);}
#checkout input.text, #checkout textarea.text, #checkout select {font-size:14px;color:#4f5663;font-family: 'Roboto', sans-serif;}
#checkout .error-msg {border-color:#f17fba;box-shadow:0 0 0 1px #f17fba;color:#e40075;}
#checkout .start fieldset p.error-box, #checkout .error-box, #checkout .shipping fieldset .error-box, #checkout .payment fieldset .error-box {background:none;border:0;padding:0;font-size:12px;color:#e40075}
#checkout .error-box .icon {display:none;}
#checkout .start fieldset p.error-box {padding:15px 0 0;margin: 0;}
#checkout .start p {float:none;width: auto;font-size: 13px;color: #4f5663;padding-bottom: 0;}
#checkout .start .btn-sign {color:#ed008b;}
#checkout .start fieldset {border:0;}
#checkout > .after > .right > div {background:#f1f1f1;box-shadow:none;border:0;}
#checkout h2 {font-size:18px;font-weight:bold;color:#4f5663;}
#checkout .summary .order-list li, #checkout .shipment .order-list li {line-height:18px;}
#checkout .summary .order-list .price, #checkout .shipment .order-list .price, #checkout .summary .order-list .title, #checkout .shipment .order-list .title {font-size:14px;}
#checkout .summary .order-list .item, #checkout .shipment .order-list .item {min-height:84px;padding-left:94px;}
#checkout .summary .order-list .item img, #checkout .shipment .order-list .item img {width:84px;height:84px;border-radius:3px;box-shadow:inset 0 0 0 3px #fff, 0 0 0 1px rgba(0,0,0,0.08), 0 1px 1px rgba(0,0,0,0.05);max-width: none;max-height: none;top: 50%;margin-top: -42px;left: 0;transform: none;}
#checkout .summary .receipt {font-size: 14px;color:#414853;}
#checkout .summary .order-list li, #checkout .shipment .order-list li, #checkout .summary .order-list li:last-of-type, #checkout .shipment .order-list li:last-of-type, #checkout .summary .receipt .total {border-color:rgba(197,199,201,0.3)}
#checkout .summary .receipt .total {font-size:16px;}
#checkout .selectBox:after {content:'';width:20px;top:50%;height:21px;margin-top: -11px;right:0;position:absolute;border: 0;}

@media screen and (max-width: 960px) {
#checkout .summary .order-list .price, #checkout .shipment .order-list .price {padding-left:96px;}
}