@charset "UTF-8";

.introduce a.more, .detail .figure-info .option a:after {background:url('../images/icon.png') no-repeat;background-size:200px 200px;}
.audeze .introduce {background:url('../images/audeze_introduce.png') no-repeat;}
.audeze .feature .inner:before {background:url('../images/audeze_feature.png') no-repeat;}
.audeze .resolution .figure-image:before, .audeze .resolution .figure-image:after, .audeze .resolution .figure-image figure {background:url('../images/audeze_resolution.png') no-repeat;}
.flyte .introduce {background:url('../images/flyte_introduce.png') no-repeat;}
.flyte .feature {background:url('../images/flyte_feature.png') no-repeat;}
.flyte .key .figure-image {background:url('../images/flyte_key.png') no-repeat;}
.biopop .introduce {background:url('../images/biopop_introduce.png') no-repeat;}
.biopop .feature {background:url('../images/biopop_feature.png') no-repeat;}
.biopop .key .figure-image {background:url('../images/biopop_key.png') no-repeat;}
.mp .introduce:before, .mp .introduce:after {background:url('../images/mp_introduce.png') no-repeat;}
.mp .feature:before {background:url('../images/mp_feature.png') no-repeat;}
.mp .key .figure-image {background:url('../images/mp_key.png') no-repeat;}
.h2o .introduce {background:url('../images/h2o_intoduce.png') no-repeat;}
.h2o .loveit .figure-image {background:url('../images/h2o_loveit.png') no-repeat;}
.h2o .key .figure-image {background:url('../images/h2o_key.png') no-repeat;}
.h2o .introduce {background:url('../images/h2o_intoduce.png') no-repeat;}
.h2o .loveit .figure-image {background:url('../images/h2o_loveit.png') no-repeat;}
.h2o .key .figure-image {background:url('../images/h2o_key.png') no-repeat;}
.ground .introduce:after {background:url('../images/ground_introduce.png') no-repeat;}
.ground .feature {background:url('../images/ground_feature.png') no-repeat;}
.ground .key {background:url('../images/ground_key.png') no-repeat;}
.snurk .introduce {background:url('../images/snurk_introduce.png') no-repeat;}
.snurk .feature {background:url('../images/snurk_feature.png') no-repeat;}
.snurk .key {background:url('../images/snurk_key.png') no-repeat;}
.loog .introduce {background:url('../images/loog_introduce.png') no-repeat;}
.loog .feature:before {background:url('../images/loog_feature.png') no-repeat;}
.loog .key {background:url('../images/loog_key.png') no-repeat;}
.nordik .introduce {background:url('../images/nordik_introduce.png') no-repeat;}
.nordik .feature .inner:before {background:url('../images/nordik_feature.png') no-repeat;}
.nordik .feature:before {background:url('../images/nordik_feature2.png') no-repeat;}
.nordik .key {background:url('../images/nordik_key2.png') no-repeat;}
.nordik .key .figure-image {background:url('../images/nordik_key.png') no-repeat;}
.canvas .introduce {background:url('../images/canvas_introduce.png') no-repeat;}
.canvas .feature:before {background:url('../images/canvas_feature.png') no-repeat;}
.canvas .key {background:url('../images/canvas_key.png') no-repeat;}
.edison .introduce {background:url('../images/edison_introduce.png') no-repeat;}
.edison .feature:before {background:url('../images/edison_feature.png') no-repeat;}
.edison .key .figure-image {background:url('../images/edison_key.png') no-repeat;}
.walls .introduce {background:url('../images/walls_introduce.png') no-repeat;}
.walls .feature:before {background:url('../images/walls_feature.png') no-repeat;}
.walls .key .figure-image {background:url('../images/walls_key.png') no-repeat;}

.title{font-size:41px;font-family: 'Roboto Condensed', sans-serif;font-weight:normal;}
.title .logo {display:block;;padding:0 0 12px;}
.title .logo img {vertical-align:top;}
.watermark {display:none;}

.introduce {text-align:center;padding:80px 0 335px;background-position:50% -63px;}
.introduce a.more {display:block;width:19px;height: 12px;margin:3px auto 0;background-position:-120px 0;}
.introduce p {font-size:14px;line-height:27px;color:#222222;font-weight:300;padding:18px 0 0;width:480px;margin:0 auto;padding-bottom:27px;}

.detail {position:relative;overflow:hidden;}
.detail:before {content:'';position:absolute;top:0;left:0;width:100%;height:74px;background: -webkit-linear-gradient(180deg, #f2f4f5,  rgba(255,255,255,0));background: linear-gradient(180deg,  #f2f4f5,  rgba(255,255,255,0));}
.detail .inner {width:1080px;margin:0 auto;}
.detail .inner:after {content:'';clear:both;display:block;}
.detail .figure-image {position:absolute;top:50%;margin-top:-275px;left:50%;line-height:550px;width:550px;text-align:center;}
.detail .figure-image figure {display:block;}
.detail .figure-image img {position:relative;max-width:550px;max-height:550px;vertical-align:middle;}
.detail .figure-info {position:relative;padding:97px 0 90px;}
.detail .figure-info .title small {font-family: 'Roboto', sans-serif;display:block;font-size:18px;font-weight:300;padding: 13px 0 4px;text-transform: uppercase;}
.detail .figure-info .price {display:inline-block;font-size:24px;color:#e20074;border-bottom:1px solid rgba(226,0,116,0.3);padding:10px 0 13px;}
.detail .figure-info .price.sales small {color:#b8bbbf;text-decoration:line-through;font-size:1em;font-weight:normal;}
.detail .figure-info .description {width:400px;font-size:14px;line-height:27px;color:#222222;font-weight:300;padding:18px 0 0;}
.detail .figure-info .description p+p {padding-top:27px;}
.detail .figure-info .title + .description {padding-top:24px;}
.detail .figure-info .frm {padding-top:31px;}
.detail .figure-info .frm:after {content:'';clear:both;display:block;}
.detail .figure-info .frm + .description {padding-top: 28px;}
.detail .figure-info .option {float:left;width:304px;margin-right:10px;position:relative;}
.detail .figure-info .option a {display:block;line-height:42px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;border: 1px solid rgba(0,0,0,0.1);padding:0 18px;color:#1a1a1a;font-size:14px;border-radius:22px;padding-right:40px;}
.detail .figure-info .option a:after {content:'';position:absolute;right:19px;top:50%;width:14px;height: 8px;background-position:-70px -20px;margin-top: -3px;}
.detail .figure-info .option a small {color:#9f9f9f;font-size: 1em;}
.detail .figure-info .option select {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.detail .figure-info .btn-buy {float:left;line-height:44px;background:#e20074;padding:0 20px;font-weight:bold;color:#fff;font-size:16px;border-radius:22px;}
.detail .figure-info .thumbnail {padding:70px 0 0;}
.detail .figure-info .thumbnail:after {content:'';clear:both;display:block;}
.detail .figure-info .thumbnail li {float:left;margin-left:10px;}
.detail .figure-info .thumbnail li:first-child {margin-left:0;}
.detail .figure-info .thumbnail a {display:block;opacity:0.3;padding-bottom:5px;border-bottom:2px solid transparent;}
.detail .figure-info .thumbnail a.current {opacity:1;border-bottom-color:#e20074;}
.detail .figure-info .thumbnail img {width:120px;height:120px;display:block;background:no-repeat 50% 50%;background-size:cover;}

.feature {position:relative;height:758px;background:#f7f8f9;}
.feature .inner {padding: 0 40px 0 490px;width: 550px;margin: 0 auto;}
.feature li {position:relative;padding-bottom:10px;font-weight:300;font-size:14px;line-height:23px;}
.feature li b {display:block;text-transform:uppercase;font-weight:400;font-size:16px;padding-bottom:1px;}
.feature h3 {position:relative;font-family: 'Roboto Condensed', sans-serif;font-weight:normal;padding: 110px 0 27px;font-size:41px;}
.feature h3 small {font-family: 'Roboto', sans-serif;display:block;font-weight:300;font-size:18px;line-height:27px;padding-top: 10px;text-transform: uppercase;}
.feature p {position:relative;font-size:14px;line-height:27px;color:#484848;width: 400px;height: 147px;}

/* audeze  headphone */
.audeze .slide_banner {position:relative;overflow:hidden;}
.audeze .slide_banner ul {position:relative;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);display:inline-block;font-size:0;letter-spacing:0;line-height:0;white-space:nowrap;vertical-align: top;}
.audeze .slide_banner li {display:inline-block;vertical-align: top;}
.audeze .slide_banner img {vertical-align:top;height:175px;}
.audeze .introduce {background-position:50% -63px;}
.audeze .resolution {height: 757px;}
.audeze .feature .inner:before {content:'';position:absolute;top:0;left: 50%;height:100%;background-size: cover;width:563px;margin-left: -633px;}
.audeze .feature:before {content:'';position:absolute;bottom: 8%;left:0;width:100%;height: 92%;background: -webkit-linear-gradient(0deg, rgba(255,255,255,1),  rgba(255,255,255,0));background: linear-gradient(0deg,  rgba(255,255,255,1),  rgba(255,255,255,0));box-shadow: 0 20px 30px #fff;}
.audeze .feature li b {color:#e20074;}
.audeze .feature li {min-height:74px;}
.audeze .resolution:before {display:none;}
.audeze .resolution .figure-info .description {width:500px;}
.audeze .resolution .figure-image {width:100%;height:100%;left: 0;top: 0;margin: 0;}
.audeze .resolution .figure-image:before {content:'';position:absolute;left: 0;height: 169px;width: 948px;top: 511px;background-position: 0 -511px;}
.audeze .resolution .figure-image:after {content:'';position:absolute;left: 50%;top:0;width: 1080px;height: 508px;background-position: 100% 0;margin-left: -432px;}
.audeze .resolution .figure-image figure {position:absolute;right: 50%;top:0;width: 244px;height: 100%;background-position: 100% 0;margin-right: -648px;}
.audeze .resolution .watermark {top:-258px;left:58px;}

/* flyte */
.flyte .introduce {background-position:50% 330px;padding: 70px 0 384px;}
.flyte .introduce p {width:400px;}
.flyte .lyfe .figure-image img {border-radius:3px;}
.flyte .feature {background-position:50% 100%;background-color:#f3f2ee;}
.flyte .feature li {padding-bottom:47px;}
.flyte .feature h3 {padding-top:125px;}
.flyte .key {background:#0e0903;box-shadow:0 12px 62px rgba(0,0,0,0.08)}
.flyte .key .figure-image {right:auto;left:50%;margin: 0 0 0 -401px;top:0;width:1101px;height:100%;}
.flyte .key:before {display:none;}
.flyte .key .figure-info .option a {background-color:rgba(0,0,0,0.29);border-color:rgba(255,255,255,0.1);box-shadow:0 0 0 1px rgba(255,255,255,0.1);color:#fff;}
.flyte .key .figure-info {color:#fff;padding: 100px 0 375px;}
.flyte .key .figure-info .description {color:#fff;}

/* biopop */
.biopop .introduce {background-position:50% 100%;background-color:#000;padding: 70px 0 342px;}
.biopop .introduce p {width:600px;color:#fff;}
.biopop .introduce .title {color:#04d8f3;}
.biopop  .figure-info .thumbnail img {border-radius:3px;}
.biopop .feature {background-position:50% 100%;}
.biopop .feature li {padding-bottom:48px;color:#fff;}
.biopop .feature h3 {padding-top:166px;color:#fff;}
.biopop .key .figure-image {right:auto;left:50%;margin: 0;width:700px;top:0;height:100%;}
.biopop .key:before {display:none;}

.mp .introduce {padding: 78px 0 48px;position: relative;}
.mp .introduce:before, .mp .introduce:after {content:'';position:absolute;top:0;left:0;height:100%;width: 413px;background-position: 0 -68px;}
.mp .introduce:after {left:auto;right:0;background-position: 100% -68px;width: 463px;}
.mp .feature {background:#f8f8f8;height:571px;}
.mp .feature:before {content:'';position:absolute;left:50%;width:700px;height:100%;margin-left:-700px;}
.mp .feature li {padding-bottom:40px;}
.mp .key .figure-image {right:auto;left:50%;margin: 0;width:700px;top:0;height:100%;background-position:0 100%;}
.mp .key:before {display:none;}
.mp .key .figure-info {padding:54px 0 60px}

.h2o .introduce {padding: 216px 0 66px;background-position:50% 0;}
.h2o .introduce .title {padding-bottom:65px;}
.h2o .introduce p {font-size:34px;line-height:40px;color:#fff;width:760px;}
.h2o .loveit {background:#f0f0f0}
.h2o .loveit .figure-image {background-position:100% 50%;left: 0 !important;bottom: 161px !important;width: 100% !important;height: 50%;margin: 0;background-position: 50% 0;height: calc(100% - 161px);height: -moz-calc(100% - 161px);height: -webkit-calc(100% - 161px);}
.h2o .loveit .figure-info .description {opacity:0.8;padding-bottom: 3px;}
.h2o .loveit .figure-info .title {font-size:54px;padding: 87px 0 48px;}
.h2o .loveit .figure-info > p {font-size:22px;line-height:30px;color:#1c1e27}
.h2o .loveit .figure-info .option a {background-color:#fff}
.h2o .loveit .figure-info {width:470px;padding-bottom: 193px;}
.h2o .key .figure-image {right:0;top:0;width:100%;height:100%;margin: 0;left: auto;background-position: 50% 0;}
.h2o .key:before {display:none;}
.h2o .key .figure-info {padding: 462px 0 127px;}
.h2o .key .figure-info .title {color:#fff;}
.h2o .key .figure-info .description {color:#fff;width: auto;font-size:17px;line-height:24px;}
.h2o .key .figure-info .description h3 {font-size:18px;padding-bottom:10px;font-weight: normal;}
.h2o .key .figure-info .option a {background-color:rgba(0,0,0,0.29);border-color:rgba(255,255,255,0.1);box-shadow:0 0 0 1px rgba(255,255,255,0.1);color:#fff;}

/* ground */
.ground .introduce {padding: 100px 0 0;background:#f5f5f5;box-shadow:inset 0 -265px 0 #efefef;position: relative;height: 726px;}
.ground .introduce .title {padding-bottom: 35px;}
.ground .introduce p {width:620px;font-size: 16px;line-height: 26px;}
.ground .introduce:before {content:'';content:'';position:absolute;bottom:0;height:159px;left:0;width:100%;background: -webkit-linear-gradient(top,rgba(193,193,193,1),  rgba(236,236,236,1));background: linear-gradient(top,rgba(193,193,193,1),  rgba(236,236,236,1));box-shadow:0 -1px 2px rgba(193,193,193,1);}
.ground .introduce:after {content:'';bottom:147px;left:50%;position:absolute;width: 714px;height: 281px;margin-left: -357px;}
.ground .dopp {background:#ececec;}
.ground .dopp:before {display:none;}
.ground .dopp .figure-info {padding:28px 0 145px;}
.ground .dopp .figure-image {top:0;margin-top:0;}
.ground .feature {background-position:50% 0;background-color:#f4f4f4;height: 708px;}
.ground .feature h3 {font-size:50px;padding:185px 0 40px;}
.ground .feature li {padding-bottom:36px;opacity:0.8;}
.ground .key {background-position:50% 0;background-color:#1a1a1a;}
.ground .key:before {display:none;}
.ground .key .figure-info {padding: 200px 0 384px 639px;}
.ground .key .figure-info .title {color:#fff;font-size:50px;}
.ground .key .figure-info .description {color:#fff;opacity:0.8;font-size: 16px;line-height: 24px;padding: 35px 0 7px;}
.ground .key .figure-info .option a {background-color:rgba(0,0,0,0.29);border-color:rgba(255,255,255,0.1);box-shadow:0 0 0 1px rgba(255,255,255,0.1);color:#fff;}

/* snurk */
.snurk .introduce {padding: 124px 0 0;position: relative;height: 592px;background-position:50% 100%;}
.snurk .introduce .title {padding-bottom: 35px;}
.snurk .introduce p {width:620px;color:#222222;font-size: 20px;line-height: 30px;}
.snurk .astronaut {background:#ececec;}
.snurk .astronaut .figure-info .option a {background:rgba(255,255,255,0.5);border-color:rgba(0,0,0,0.27);}
.snurk .feature {background-position:50% 0;height: 720px;}
.snurk .feature h3 {font-size:50px;padding:185px 0 40px;}
.snurk .feature li {padding-bottom:36px;opacity:0.8;}
.snurk .feature:before {content:'';position:absolute;bottom:0;left:0;width:100%;height:74px;background: -webkit-linear-gradient(0, #f2f4f5,  rgba(255,255,255,0));background: linear-gradient(0,  #f2f4f5,  rgba(255,255,255,0));}
.snurk .key:before {display:none;}
.snurk .key {background-position:50% 0;background-color:#00599c;}
.snurk .key .figure-info {padding: 196px 0 186px;}
.snurk .key .figure-info .title {color:#fff;font-size:50px;}
.snurk .key .figure-info .description {color:#fff;opacity:0.8;font-size: 16px;line-height: 24px;padding: 35px 0 7px;}
.snurk .key .figure-info .option a {background-color:rgba(0,0,0,0.29);border-color:rgba(255,255,255,0.1);box-shadow:0 0 0 1px rgba(255,255,255,0.1);color:#fff;}
.snurk .key .btn-buy {background:#fff;color:#0b5b9a}

/* loog */
.loog .introduce {padding: 72px 0 0;position: relative;height: 692px;background-position:50% 100%;}
.loog .introduce .title {padding-bottom: 35px;}
.loog .introduce .title .logo {padding-bottom: 27px;}
.loog .introduce p {width: 650px;}
.loog .electric {background:#f0f5f5;}
.loog .electric .figure-info .title {width:441px;}
.loog .electric .figure-info .description {opacity:0.8;}
.loog .electric .figure-info .option a {background:#fff;border-color:#d2d6d6;}
.loog .feature {background:none;height: 780px;overflow:hidden;}
.loog .feature h3 {font-size:50px;padding: 155px 0 40px;}
.loog .feature li {padding-bottom: 35px;opacity:0.8;}
.loog .feature:before {content:'';position:absolute;right:50%;top:50%;width: 860px;height: 555px;margin: -277px 116px 0 0;}
.loog .key:before {display:none;}
.loog .key {background-position:50% 100%;background-color:#f7f7f7;}
.loog .key .figure-info {padding: 148px 0 158px;}
.loog .key .figure-info .title {font-size:50px;}
.loog .key .figure-info .description {width:540px;color:#222;opacity:0.8;font-size: 15px;line-height: 24px;}
.loog .key .figure-info .description li {padding-bottom:6px;text-indent:-8px;}
.loog .key .figure-info .option a {background:#fff;border-color:#d2d6d6;}

/* nordik */
.nordik .introduce {padding: 84px 0 0;position: relative;height: 579px;background-position:50% 100%;}
.nordik .introduce .title {padding-bottom: 35px;}
.nordik .introduce .title .logo {padding-bottom: 0;}
.nordik .introduce p {width: 580px;font-size: 16px;line-height: 28px;}
.nordik .sip {background:#f0eeed;}
.nordik .sip .figure-info {padding:145px 0 154px;}
.nordik .sip .figure-info .description {opacity:0.8;}
.nordik .sip .figure-info .option a {background:#fff;border-color:#d2d6d6;}
.nordik .feature {background:none;height: 708px;overflow:hidden;}
.nordik .feature h3 {position:relative;font-size:50px;padding: 198px 0 40px;}
.nordik .feature li {position:relative;padding-bottom: 35px;opacity:0.8;}
.nordik .feature .inner:before {content:'';position:absolute;right:50%;top: 0;width: 603px;height: 100%;margin: 0 269px 0 0;}
.nordik .feature:before {content:'';position:absolute;left:50%;top: 0;width: 583px;height: 100%;margin: 0 0 0 117px;}
.nordik .key:before {display:none;}
.nordik .key {background-position:50% 100%;background-color:#c89f8a;}
.nordik .key .figure-image {left:50%;right:auto;width: 696px;height: 100%;margin: 0 0 0 5px;top: 0;}
.nordik .key .figure-info {padding: 206px 0 216px;}
.nordik .key .figure-info .title {font-size:50px;color:#fff;}
.nordik .key .figure-info .description {width:540px;color:#fff;opacity:0.8;font-size: 15px;line-height: 24px;color:#fff;}
.nordik .key .figure-info .description li {padding-bottom:6px;}
.nordik .key .figure-info .option a {background:#fff;border-color:#fff;}

/* canvas */
.canvas .introduce {padding: 118px 0 0;position: relative;height: 439px;background-position:50% 100%;}
.canvas .introduce .title {padding-bottom: 35px;color:#fff;}
.canvas .introduce p {width: 600px;font-size: 18px;line-height: 28px;color:#fff;padding: 3px 0 0;}
.canvas .print {background:#f0eeed;}
.canvas .print .figure-info {padding: 170px 0 178px;}
.canvas .print .figure-info .description {opacity:0.8;}
.canvas .print .figure-info .option a {background:#fff;border-color:#d2d6d6;}
.canvas .feature {background:none;height: 708px;overflow:hidden;}
.canvas .feature h3 {position:relative;font-size:50px;padding: 166px 0 40px;}
.canvas .feature li {position:relative;padding-bottom: 35px;opacity:0.8;}
.canvas .feature:before {content:'';position:absolute;right:50%;top: 50%;width: 599px;height: 449px;margin: -225px 90px 0 0;}
.canvas .key:before {display:none;}
.canvas .key {background-position:50% 50%;background-color:#292b32;}
.canvas .key .figure-info {padding: 104px 0 114px;}
.canvas .key .figure-info .title {font-size:50px;color:#fff;}
.canvas .key .figure-info .description {width:540px;color:#fff;opacity:0.8;font-size: 15px;line-height: 24px;color:#fff;}
.canvas .key .figure-info .description li {padding-bottom:6px;}
.canvas .key .figure-info .option a {background:#fff;border-color:#fff;}
.canvas .key .figure-info .description h3 {font-size:15px;padding-bottom:6px;font-weight:normal;}

/* edison */
.edison .introduce {padding: 247px 0 0;position: relative;height: 247px;background-position: 50% 0;background-color: #000;}
.edison .introduce .title {padding-bottom: 19px;color:#f3b92f;}
.edison .introduce p {width: 600px;font-size: 16px;line-height: 27px;color:#fff;padding: 3px 0 0;}
.edison .print {background:#f0eeed;}
.edison .print .figure-info {padding: 170px 0 178px;}
.edison .print .figure-info .description {opacity:0.8;}
.edison .print .figure-info .option a {background:#fff;border-color:#d2d6d6;}
.edison .feature {background: #000;height: 571px;overflow:hidden;}
.edison .feature h3 {position:relative;font-size:50px;padding: 120px 0 40px;color: #fff;}
.edison .feature li {position:relative;padding-bottom: 35px;color: #fff;}
.edison .feature li b {color:#f3b92f;}
.edison .feature:before {content:'';position:absolute;right:50%;top: 0;width: 641px;height: 100%;margin: 0 22px 0 0;}
.edison .key:before {display:none;}
.edison .key .figure-image {width: 409px;height: 409px;margin-top: -205px;left: 50%;margin-left: 94px;}
.edison .key .figure-info {padding: 75px 0 65px;}
.edison .key .figure-info .description {font-size:16px;line-height:24px;}

/* walls */
.walls .introduce {padding: 74px 0;position: relative;background-position:50% 50%;background-color:#000;}
.walls .introduce .title {padding-bottom: 6px;color:#fff;}
.walls .introduce .title .logo {padding-bottom: 24px;}
.walls .introduce p {width: 580px;padding:27px 0 0;font-size: 16px;line-height: 27px;color:#fff;}
.walls .dawn .figure-info {padding:90px 0 100px;}
.walls .dawn .figure-info .title {width:440px;}
.walls .feature {background:none;height: 600px;overflow:hidden;background-color:#03161c;text-align: center;}
.walls .feature .inner {padding: 60px 40px 0;}
.walls .feature h3 {position:relative;padding: 48px 0 40px;color: #fff;}
.walls .feature li {position:relative;padding-bottom: 48px;color: #fff;}
.walls .feature:before {content:'';position:absolute;left:50%;top: 0;width: 1400px;height: 600px;margin: 0 0 0 -700px;}
.walls .key:before {display:none;}
.walls .key .figure-image {left:50%;right:auto;width: 438px;height: 438px;margin: 0 0 0 80px;top: auto;bottom: 0;}
.walls .key .figure-info {padding: 67px 0;}
.walls .key .figure-info .title {}
.walls .key .figure-info .comment {font-size:13px;line-height:24px;color:#989898;padding:38px 0 0;width: 440px;}

@media screen and (max-width: 800px) {
	.canvas .feature {background:url('../images/canvas_feature.png') no-repeat;}
    .detail .inner {width:auto;}
	.introduce {padding: 40px 20px 30px !important;background-size: cover !important;height: auto !important;}
	.introduce p {padding:0 !important;width:auto !important;font-size:17px !important;line-height:25px !important;}
	.introduce .title {padding-bottom: 25px !important;}
	.introduce .title .logo img {width:50%;}
	.introduce a.more {margin-top:20px;}
	.feature h3, .title {font-size:32px !important;}
	.feature li {min-height:0 !important;padding:0 0 6px 0 !important;}
	.feature, .detail {height:auto !important;padding: 25px 20px 30px !important;}
	.audeze .feature:before, .audeze .feature h3, .audeze .feature li, .audeze .feature p {z-index:1;}
	.audeze .feature .inner:before {margin-left:0;left:0;top:0;z-index: 0;}
	.feature .inner {width:auto !important;padding: 0;}
	.detail .figure-info .description {width: auto !important;}
	.detail .figure-info .option {float:none;width:auto;}
	.detail .figure-info .btn-buy {display:block;width:100%;margin-top: 13px;float: none;}
	.detail .figure-info {padding: 0 !important;width: auto !important;}
	.detail .figure-info .title {padding:0 !important;}
	.detail .figure-image {bottom:165px !important;left:20px !important;width:80% !important;width:calc(100% - 40px) !important;width:-webkit-calc(100% - 40px) !important;width:-moz-calc(100% - 40px) !important;right:auto !important;top:auto !important;margin: 0;line-height: 335px;background: #f0f0f0;}
	.detail .figure-image img {max-width:100%;max-height: 335px;}
	.detail .figure-info .thumbnail li {float:none;display:inline-block;}
	.detail .figure-info .thumbnail {padding-top: 375px;overflow: auto;font-size:0;white-space:nowrap;}
	.detail.key .figure-info {padding: 25px 20px 30px;}
	.detail.key .figure-image {bottom:0 !important;left:0 !important;width:100% !important;right:auto !important;top:auto !important;background-size:cover;}
	.audeze .resolution .figure-image:after, .feature:before, .detail.key .figure-image:after {content:'';position:absolute;top: 0 !important;left: 0 !important;width: 100% !important;height: 100% !important;background: #000 !important;opacity:0.4;box-shadow: none !important;bottom: auto !important;margin: 0 !important;right: auto !important;}
	.audeze .resolution .figure-image:after {background:#fff !important;}
	.h2o .loveit .figure-info > p {font-size:17px;line-height:24px;padding-top:10px;}
	.h2o .loveit .figure-info .title, .h2o .loveit .figure-info .description, .h2o .loveit .figure-info > p {color:#fff;}
	.feature h3 {color:#fff;padding-top:0 !important}
	.feature p {color:#fff;height:auto !important;padding-bottom: 10px;width: auto;}
	.feature li b {color:#fff !important;}
	.feature li {color:rgba(255,255,255,0.8) !important;}
	.h2o .loveit .figure-info {padding-bottom: 10px;}
	.h2o .loveit .figure-info .frm {background:#fff;padding:30px 20px;position: absolute;top: 100%;left: 0;width: 80%;width: calc(100% - 40px);width: -moz-calc(100% - 40px);width: -webkit-calc(100% - 40px);}
	.h2o .loveit {padding-bottom: 161px;}
	.h2o .loveit .figure-image:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.4;}
	#content .sns {display:none;}
	.audeze .introduce {background-position: 50% 0;}
	.award {padding:30px 20px;}
	.award h3 small {font-size:13px;padding: 0;}
	.award h3 b {font-size:32px;}
	.award img {max-width:100%;}
	.audeze .slide_banner {overflow:auto;}
	.audeze .slide_banner ul {transform:none;-webkit-transform:none;left:0;}
	.audeze .resolution .figure-image {width:100% !important;height:100% !important;bottom: 0 !important;left: 0 !important;}
	.audeze .resolution .figure-image:before {display:none;}
	.audeze .resolution .figure-image figure {right: -70px;left:auto;margin:0;}
	.biopop .introduce {background-size:contain !important;}
}