@charset "UTF-8";

.chrome .popup.edit_new_adds .select-boxes {background-image:url('../../images/normal/selectbox-boxes.gif');background-repeat:no-repeat;background-size:18px 21px;}
.popup.edit_new_adds .btn-delete .ic-delete {background:url('../../images/normal/checkout.png') no-repeat;background-size:220px 310px;}

#popup_container.edit_new_adds .popup.edit_new_adds {display:block;}
#popup_container .popup.edit_new_adds {background:#fff;width:460px;margin:0 auto;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 0px 13px rgba(0, 0, 0, 0.5);;border-radius:5px;}
.popup.edit_new_adds fieldset {padding:15px;}
.popup.edit_new_adds fieldset p {display:inline-block;padding:0 2px 3px;vertical-align:top;}
.popup.edit_new_adds fieldset p span.error {display: block;font-size: 11px;color: #ff0000;margin: -5px 0 7px;}
.popup.edit_new_adds div.error {background: #faf0ce;padding: 6px 10px;margin-bottom: 10px;color: #ff0000;}
.popup.edit_new_adds fieldset .use {display:block;padding:8px 0 5px;}
.popup.edit_new_adds .ic-q {position:relative;z-index:1;display:inline-block;width:12px;height:12px;background-position:-63px -5px;vertical-align:middle;margin-top:-3px;}
.popup.edit_new_adds input[type="text"], .popup.edit_new_adds input.text {margin-bottom:7px;background:#f8f8f8;box-shadow:none;border:1px solid #cacccf;}
.popup.edit_new_adds input[type="text"]:focus, .popup.edit_new_adds input.text:focus {background:#fff;}
.popup.edit_new_adds input[type="text"].error, .popup.edit_new_adds input.text.error, .popup.edit_new_adds .select-boxes.error {background-color: #fff;color: #d64545;border-color: #D89090;}
.popup.edit_new_adds .tooltip {display:none;position:absolute;width:166px;font-size:12px;line-height:16px;padding:11px;background:rgba(11,15,22,0.9);color:#fff;top:87px;left:255px;border-radius:3px;}
.popup.edit_new_adds .tooltip {top: 25px;right: -65px;left:auto;}
.popup.edit_new_adds .label {display:block;position:relative;color:#63696e;padding:2px 0 3px;}
.popup.edit_new_adds input.fullname, .popup.edit_new_adds input.tag {width:193px;}
.popup.edit_new_adds input.add1,.popup.edit_new_adds input.add2,.update_card input.cardname {width:410px;}
.popup.edit_new_adds .btn-area {margin:0;background:none;padding:14px 17px;width:auto;box-shadow:none;border-top:1px solid #f2f2f2 ;}
.popup.edit_new_adds .btn-cancel,.popup.edit_new_adds .btn-delete {border-radius:2px;border:1px solid #cccecf;color:#383d48;background:#fff;font-weight:bold;padding:0 12px;line-height:28px;margin-right:4px;box-shadow:0 1px 0 #f2f2f2;}
.popup.edit_new_adds .btn-delete {padding: 0;width: 29px;text-align: center;height: 29px;margin: 0 0 1px 1px;border-radius: 3px;box-shadow: 0 1px 0 #fafafa;}
.popup.edit_new_adds .btn-delete .ic-delete {display: inline-block;width: 9px;height: 12px;background-position: -88px -5px;vertical-align: middle;margin-top: -4px;}
.popup.edit_new_adds .btn-delete[disabled] {cursor:default;opacity:.5;filter:alpha(opacity=50);}
.popup.edit_new_adds .btn-save-add {border-radius:2px;font-size: 13px;line-height: 28px;padding: 0 15px;}
.popup.edit_new_adds .select-boxes {-webkit-appearance: none;background-position:100% 50%;background-color: #F8F8F8;box-shadow: none;border: 1px solid #CACCCF;height: 29px;margin-bottom: 7px;border-radius: 2px;padding: 5px 5px 5px 7px;line-height: 16px;background: -moz-linear-gradient(top, #f8f8f8, #f8f8f8);}
.popup.edit_new_adds .select-country {width:426px;}
.popup.edit_new_adds .select-adds {width:392px;vertical-align:top;}
.popup.edit_new_adds .city, .popup.edit_new_adds .phone {width:190px;}
.popup.edit_new_adds .select-state {width:131px;}
.popup.edit_new_adds .zip {width:55px;}
.popup.edit_new_adds .label b {color:#383d48;}
.popup.edit_new_adds fieldset .saved {margin:0 -15px 15px;padding:0 17px 12px;border-bottom:1px solid #ebebed;width:426px;}
.popup.edit_new_adds.new_addr fieldset .saved {display:none}
