@charset "UTF-8";

.popup.gift_applepay .ly-close .ic-del-black, .popup.gift_applepay h2:after, .popup.gift_applepay .card, .popup.gift_applepay .card:before {background:url('../../images/normal/applepay_icon.png') no-repeat;background-size:300px 150px;}
#popup_container .popup.gift_applepay {background-image:url('../../images/normal/applepay_bg.png');background-size: contain;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.popup.gift_applepay .ly-close .ic-del-black, .popup.gift_applepay h2:after, .popup.gift_applepay .card, .popup.gift_applepay .card:before {background-image:url('../../images/retina/applepay_icon.png');}
	#popup_container .popup.gift_applepay {background-image:url('../../images/retina/applepay_bg.png');}
}

#popup_container .popup.gift_applepay {width:460px;margin:0 auto;background-repeat: no-repeat;background-position: 50% 100%;background-color: #fff;border-radius:3px;text-align:center;}
.popup.gift_applepay {font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Helvetica Neue", sans-serif;}
.popup.gift_applepay h2:before {content:'';display:block;width:80px;height:50px;border-radius:5px;border:2px solid #231f20;margin: 0 auto 40px;}
.popup.gift_applepay h2:after {content:'';position:absolute;top:73px;left:50%;width:62px;height:26px;margin-left:-31px;}
.popup.gift_applepay h2 {position:relative;font-weight:300;font-size:36px;padding: 58px 0 15px;}
.popup.gift_applepay h2 b {font-weight:500;}
.popup.gift_applepay p {font-size:18px;line-height:25px;color:#a9131c;padding-bottom: 40px;}
.popup.gift_applepay p.terms {font-size:11px;line-height:16px;color:#fff;padding: 30px 0;}
.popup.gift_applepay p.terms a {color:#fff;font-weight:600;}
.popup.gift_applepay .card {display:block;background-position: -100px 0;width:198px;height:125px;margin:0 auto;position:relative;border-radius: 7px;box-shadow: 0 44px 108px rgba(0,0,0,0.22);}
.popup.gift_applepay .card:before {content:'';position:absolute;width:21px;height:63px;background-position:0 -50px;right:-28px;top:-30px;}
.popup.gift_applepay .ly-close {width:55px;height:55px;}
.popup.gift_applepay .ly-close .ic-del-black {width:15px;height:15px;background-position:-30px -50px;margin: 0;}