@charset "UTF-8";

/* edit thing */
.popup.edit-thing .figure-infomation .figure-img .change-img .ic-pen {background:url('../../images/normal/things.png') no-repeat;background-size:100px 200px;}
.popup.edit-thing .function i, .popup.edit-thing .btn-delete .ic-del, .popup.edit-thing .figure-infomation .figure-img .btns-gray-embo .ic-pen, .popup.edit-thing .figure-infomation .figure-img .change-img .ic-pen {display:inline-block;background:url("../../images/normal/thing-icon.png") no-repeat;background-size:150px 140px;vertical-align:middle;}
.popup.edit-thing .select-category {background: url('../../images/normal/selectbox-boxes2.gif') no-repeat;background-size: 18px 22px;}
#popup_container .popup.edit-thing {background:#fff;width: 630px;margin:0 auto;border-radius:3px;}
.popup.edit-thing input[type="radio"] {-webkit-appearance: none;-moz-appearance: none;width:15px;height:15px;background:url("../../images/common/radio.png") no-repeat 0 -16px;vertical-align: middle;margin-top: -3px;}
.popup.edit-thing input[type="radio"]:checked {background-position:0 0;}
.popup.edit-thing input[type="checkbox"], #fancy-share.share-new input[type="checkbox"] {-webkit-appearance: none;-moz-appearance: none;width:13px;height: 13px;background:url("../../images/common/checked.png") no-repeat 0 -17px;}
.popup.edit-thing input[type="checkbox"]:checked, #fancy-share.share-new input[type="checkbox"]:checked {background-position:0 0;}
.popup.edit-thing {font-size:13px;}
.popup.edit-thing .btn-area button {font-size: 12px;border-radius: 3px;line-height: 29px;}
.popup.edit-thing .btn-area {padding: 14px 18px;border-top: 1px solid #ebebed;text-align: right;}
.popup.edit-thing .btn-cancel {margin-right: 6px;border-color: #CCCED2 #CDCED0 #B6B7B9;}
.popup.edit-thing .btn-area .btn-delete {float: left;border-color: #CCCED2 #CDCED0 #B6B7B9;}
.popup.edit-thing .btn-delete .ic-del {display:none;}
.popup.edit-thing .note {border-top: 0;}
.popup.edit-thing dl {clear:both;border-top:1px solid #ebebed;padding:18px 18px 20px;display: none;}
.popup.edit-thing dl.left {width:289px;}
.popup.edit-thing dl.left dt {padding-bottom:14px;}
.popup.edit-thing dl.left label {padding:0 14px 0 2px;}
.popup.edit-thing dl.right {clear:none;width:288px;border-left:1px solid #ebebed;}
.popup.edit-thing dl.right .text {width:189px;}
.popup.edit-thing dt {padding-bottom:5px;font-weight:bold;color:#646871;}
.popup.edit-thing .text {background-color:#f8f8f8;line-height: 19px;height: auto;box-shadow: none;border-color: #d9dbdd;}
.popup.edit-thing .figure-infomation {position:relative;margin: 15px;padding: 15px 15px 15px 214px;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);}
.popup.edit-thing .figure-infomation .figure-img {position:absolute;top:0;left:0;width:200px;height:100%;padding:0;background:#fff;overflow:hidden;}
.popup.edit-thing .figure-infomation .figure-img img {position:absolute;top:0;left:0;width:200px;height:100%;vertical-align:top;background-position:50% 50%;background-size:cover;}
.popup.edit-thing .figure-infomation .figure-img .change-img {position: absolute;z-index:1;top: 11px;right: 11px;display: none;line-height: 22px;background: rgba(0,0,0,0.6);border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;width: 22px;height: 22px;text-align:center;box-shadow: none;text-shadow: none;}
.popup.edit-thing .figure-infomation .figure-img:hover .change-img {display:block;}
.popup.edit-thing .figure-infomation .figure-img .change-img small {position:absolute;right:32px;top: 0;line-height: 22px;padding:0 9px;background: #000;font-size:11px;color:#fff;white-space:nowrap;border-radius:2px;display:none;font-weight: bold;}
.popup.edit-thing .figure-infomation .figure-img .change-img small b {position:absolute;right:-6px;border:3px solid transparent;border-left-color:#000;top:50%;margin-top:-3px;width:0;height:0;overflow:hidden;}
.popup.edit-thing .figure-infomation .figure-img .change-img:hover small {display:block;}
.popup.edit-thing .figure-infomation .figure-img .change-img .ic-pen {display:inline-block;width:10px;height:10px;vertical-align:middle;background-position:-60px -190px;margin-top:-3px;}
.popup.edit-thing .figure-infomation .figure-img .shadow {position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);}
.popup.edit-thing .figure-infomation .figure-img .progress {position:absolute;bottom:20px;left:50%;margin-left:-75px;padding:2px;width:146px;height:6px;border-radius:5px;background:#000;opacity:0.8;}
.popup.edit-thing .figure-infomation .figure-img .progress em {display:block;height:6px;background:#fff;border-radius:3px;}
.popup.edit-thing .figure-infomation p {text-align:right;clear:both;padding-bottom:15px;}
.popup.edit-thing .figure-infomation p:last-of-type {padding-bottom:0;}
.popup.edit-thing .figure-infomation label {float:left;font-weight:bold;color: #383d48;line-height:30px;opacity: 0.85;}
.popup.edit-thing .figure-infomation .text {width: 224px;text-align:left;}
.popup.edit-thing .figure-infomation select {width:255px;text-align:left;}
.popup.edit-thing dd li {padding-bottom:10px;}
.popup.edit-thing dd li .text {width:218px;}
.popup.edit-thing dd .text {margin-right:6px;}
.popup.edit-thing .full {width:515px;}
.popup.edit-thing input,.popup.edit-thing button {vertical-align:middle;}
.popup.edit-thing .description {padding:0;}
.popup.edit-thing .description textarea {height: 58px;border-top: 1px dotted #e0e0e0;padding: 13px 15px;width: 600px;resize: none;}
.popup.edit-thing .function {display:inline-block;vertical-align:middle;border:1px solid #cccecf;line-height:28px;height:28px;border-bottom-color:#bcbec0;border-radius:3px;box-shadow:0 1px 0 #f2f2f2;padding-right:4px;}
.popup.edit-thing .function a {display:inline-block;padding:0 6px 0 10px;border-left:1px solid #e9eaed;width:9px;height:28px;vertical-align:top;}
.popup.edit-thing .function a:first-child {border-left:0;}
.popup.edit-thing .function i {display:inline-block;vertical-align:middle;margin-top:-3px;width:9px;height:11px;}
.popup.edit-thing .function .ic-del {background-position:-15px -120px;}
.popup.edit-thing .cmt {display:block;font-size:12px;color:#999;padding:3px 0 5px;border-bottom:1px dashed #ccc;}
.popup.edit-thing .function .ic-up {background-position:-30px -120px;}
.popup.edit-thing .function .ic-down {background-position:-45px -120px;}
.popup.edit-thing .select-category {display:inline-block;font-size: 13px;border-radius: 3px;box-shadow: none;width: 240px;text-align: left;vertical-align: middle;height: 19px; background-color: #f8f8f8;line-height: 19px;border: 1px solid #d9dbdd;color: #373d48; padding: 5px 5px 5px 7px;background-color: #f8f8f8;-webkit-padding-end: 20px;box-sizing: border-box;-webkit-box-sizing: border-box;height: 31px;background-position: 100% 50%;}
.popup.edit-thing .select-category:hover {text-decoration:none;}
.popup.edit-thing .select-category.focus {border-radius:3px 3px 0 0;background-color:#fff;}
.popup.edit-thing .lists-popout.lists {top: 183px;}
.popup.edit-thing .lists-popout {display:none;position:absolute;right: 15px;top: 137px;background:#fff;border-radius: 0 0 3px 3px;width: 238px;box-shadow: none;border: 1px solid #d9dbdd;}
.popup.edit-thing .lists-popout .trick {position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;opacity:0;filter: alpha(opacity=0);}
.popup.edit-thing .lists-popout li {font-size:13px;line-height:24px;}
.popup.edit-thing .lists-popout li:first-child {margin-top:-6px;}
.popup.edit-thing .lists-popout ul {position:relative;z-index:1;margin:11px;overflow:auto;height:135px;}
.popup.edit-thing .lists-popout label {float:none;width: 179px;display: inline-block;padding-left: 7px;font-weight:normal;vertical-align: middle;}
.popup.edit-thing .lists-popout fieldset {position:relative;z-index:1;border-top:1px solid #eaeaeb;padding:10px;}
.popup.edit-thing .lists-popout .text {width: 204px;}
.winOS .popup.edit-thing .lists-popout ::-webkit-scrollbar, .winOS .popup.edit-thing .lists-popout ::-webkit-scrollbar-track-piece {background:#ebebee;}
