@charset "UTF-8";

/* holiday popup */
#popup_container.holiday {background:rgba(226,228,228,0.93);}
#popup_container .popup.holiday {width:500px;margin:0 auto;padding:66px 40px 42px;background:#fff;box-shadow:inset 0 -2px 0 rgba(0,0,0,0.04),0 1px 2px rgba(52,56,76,0.3);border-radius:3px;}
.popup.holiday {text-align:center;}
.popup.holiday .icon {display:block;text-align:center;}
.popup.holiday .icon img {vertical-align:top;max-width:100%;}
.popup.holiday h3 {color:#505662;font-size:28px;line-height:1em;padding-top:30px;}
.popup.holiday p {color:#a2a7af;line-height:22px;font-size:16px;padding: 8px 40px 23px;}
.popup.holiday fieldset {width:397px;margin:0 auto;}
.popup.holiday input {width:100%;text-align:center;color:#4978b3;display:block;border:1px dashed #c9daeb;line-height:17px;padding:9px 0;font-weight:bold;font-size:15px;border-radius:3px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.popup.holiday fieldset p {font-size:13px;line-height:16px;color:#7f8691;padding:22px 0 25px;}
.popup.holiday fieldset p small {display:block;color:#a2a7af;font-size:11px;}
.popup.holiday fieldset p span, .popup.holiday fieldset p b {color:#505662;font-weight:bold;}
.popup.holiday .btns-blue-embo {font-size:15px;line-height:32px;text-shadow:0 -1px 0 #3c6e9b;padding:0 30px;}
