@charset "UTF-8";

#popup_container.booking-result .popup.booking-result {display:block;}
#popup_container .popup.booking-result {background:#fff;border-radius:3px;width:592px;}
.popup.booking-result .data-head {padding:18px 15px 8px;color:#8a8f9c;border-bottom:1px solid #f1f1f2;}
.popup.booking-result .data-head .type {float:left;width:240px;}
.popup.booking-result .data-head .price {float:left;width: 120px;text-align:right;}
.popup.booking-result .data-head .total {float:left;width:84px;text-align:right;}
.popup.booking-result .data-list {height:380px;overflow:auto;border-radius:0 0 3px 3px;}
.popup.booking-result .data-list li {float:left;width:100%;clear:both;border-top:1px dotted #e3e4e6;padding:14px 0 25px;}
.popup.booking-result .data-list li:first-of-type {border-top:0;}
.popup.booking-result .data-list li:hover {background:#fafafa;}
.popup.booking-result .data-list .type {float:left;padding:8px 0 0 15px;font-size:12px;line-height:16px;color:#8a8f9c;}
.popup.booking-result .data-list .type small {font-size:12px;color:#8a8f9c;}
.popup.booking-result .data-list .type b {display:block;color:#393d4d;font-size:13px;width:240px;}
.popup.booking-result .data-list .price {float:left;width: 120px;text-align:right;padding-top:8px;}
.popup.booking-result .data-list .total {float:left;width:84px;text-align:right;padding-top:8px;}
.popup.booking-result .data-list .button {float:right;padding-right:14px;}
.popup.booking-result .data-list .description {clear:both;color:#8a8f9c;height:36px;overflow:hidden;font-size:13px;line-height:18px;padding:11px 125px 0 15px}
.popup.booking-result .data-list .description a {color:#4978b3;}
.popup.booking-result .data-list .btn-bookit {font-size:12px;}