@charset "UTF-8";

/* test email */
#popup_container.test_email .popup.test_email {display:block;}
#popup_container .popup.test_email {width:360px;background:#fff;border-radius:3px;}
.popup.test_email input.text {display:block;margin: 20px 15px 0;width: 314px;}
.popup.test_email .btn-area {margin-top: 20px;padding: 10px 9px 10px 15px;text-align:right;}

/* vailable email*/
.popup.code_help .search:before {background:url('../../images/normal/seller_editor.png') no-repeat;background-size:100px 100px;}
#popup_container.code_help .popup.code_help {display:block;}
#popup_container .popup.code_help {width:622px;border-radius:3px;background:#fff;}
.popup.code_help .btn-area {padding:15px;text-align:right;border-top:1px solid #e9eaed;}
.popup.code_help .btn-area button {font-size:13px;line-height:28px;}
.popup.code_help .search {position:relative;padding:15px;border-bottom:1px solid #e9eaed;}
.popup.code_help .search:before {content:'';position:absolute;width:13px;height:13px;left:25px;top:50%;margin-top:-6px;}
.popup.code_help .search .text {background:#f8f8f8;padding-left:27px;width:556px;}
.popup.code_help .code {padding:15px 15px 10px;height:500px;overflow:auto;}
.popup.code_help ::-webkit-scrollbar, .popup.code_help ::-webkit-scrollbar-thumb {width:7px;height:7px;border-radius:4px;}
.popup.code_help ::-webkit-scrollbar, .popup.code_help ::-webkit-scrollbar-track-piece {background:transparent;}
.popup.code_help ::-webkit-scrollbar-thumb {background:transparent;transition:0.5s;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;}
.popup.code_help :hover::-webkit-scrollbar-thumb {background:rgba(0,0,0,0.3);}
.popup.code_help ::-webkit-scrollbar-button {display: none;}
.popup.code_help dl {padding-bottom:15px;}
.popup.code_help dt {font-size:14px;color:#525966;padding:6px 0 8px;}
.popup.code_help dd {border:1px solid #dcdee0;border-radius:3px;}
.popup.code_help li {display:table;border-bottom:1px solid #ededed;width:100%;}
.popup.code_help code {display:table-cell;width:217px;color:#518ac2;font-size:14px;border-right:1px solid #ededed;padding:10px 0 10px 14px;font-family: 'Inconsolata', monospace;line-height:20px;background:#fafafa;}
.popup.code_help span {display:table-cell;line-height:20px;color:#525966;font-size:13px;padding:10px 0 10px 15px;}
.popup.code_help li:last-of-type {border:0;}

/* Edit email */
#popup_container.edit_email .popup.edit_email {display:block;}
#popup_container .popup.edit_email {width:882px;background:#fff;border-radius:3px;}
.popup.edit_email .data-frm {padding:18px 15px 8px;}
.popup.edit_email .tab {background:none;}
.popup.edit_email input.text {width:436px;}
.popup.edit_email textarea.text {margin:0 15px 15px;width:436px;height:254px;background-color:#f8f8f8;}
.popup.edit_email .btn-area {padding: 15px 9px 15px 15px;text-align: right;border-top: 1px solid #e9eaed;}
.popup.edit_email .btn-area .btns-white {box-shadow:none;}
.popup.edit_email .btn-area button {font-size:12px;line-height:31px;}
.popup.edit_email .btn-area .left button {float:left;margin:0;border-radius:0;border-left:0;}
.popup.edit_email .btn-area .left button:first-of-type {border-radius:3px 0 0 3px;border-left:1px solid #bcbec0;}
.popup.edit_email .btn-area .left button.last {border-radius:0 3px 3px 0;}
.popup.edit_email .tab {padding:12px 20px 0;background:#fafafa;box-shadow:inset 0 -1px 0 #e6e6e8;}
.popup.edit_email .tab li {float:left;}
.popup.edit_email .tab a {display: block;box-shadow: inset 0 1px #dcdcde,inset -1px -1px #dcdcde;background: #f0f1f2;color: #8b9098;font-size: 13px;padding: 11px 17px;font-weight: bold;text-decoration: none;}
.popup.edit_email .tab a:hover {background: #f7f7f7;color: #686c73;}
.popup.edit_email .tab a.current {background:#fff;box-shadow:inset -1px 1px #dcdcde, inset 0 -1px #fff;color:#393d4d;}
.popup.edit_email .tab li:first-child a {box-shadow: inset 1px 1px #dcdcde,inset -1px -1px #dcdcde;}
.popup.edit_email .tab li:first-child a.current {box-shadow:inset 1px 1px #dcdcde,inset -1px 0 #dcdcde, inset 0 -1px #fff;}
.popup.edit_email .tab small {font-size:11px;font-weight:normal;color:#757883;}

/* preview email */
#popup_container.preview_email .popup.preview_email {display:block;}
#popup_container .popup.preview_email {width:682px;background:#fff;border-radius:3px;}
.popup.preview_email .preview {height:720px;overflow:auto;padding:10px;background:#ebeced}
.popup.preview_email .ltit {border-color: rgba(0,0,0,0.1);}
.popup.preview_email .btn-area {padding:10px 15px;text-align:left;border-top:1px solid rgba(0,0,0,0.1);}
