@charset "UTF-8";

#popup_container.policy_detail .popup.policy_detail {display:block;}
#popup_container .popup.policy_detail {width:482px;border-radius:3px;background:#fff;}
.popup.policy_detail .terms {padding:14px 16px 0;}
.popup.policy_detail h3 {font-size:13px;line-height:18px;padding-bottom:5px;}
.popup.policy_detail .terms p {font-size:13px;line-height:18px;padding-bottom:18px;}
.popup.policy_detail a {color:#4978b3;}