<a href="#" class="btns-blue-embo btn-add" ><%= gettext("Create New Collection") %></a>
<ul class="lists-listing after"></ul>
<div id="infscr-loading" style="display:none;" ><span class="loading"></span></div>