#header .quick-admin .actions a:before {background:url('../../images/svg/sprite.adminbar.merge.svg') no-repeat;background-size:100px 100px;}

#header .quick-admin {display:none;background:#1a1b1c;font-size:13px;line-height:17px;color:#fff;}
#header .quick-admin .inner:after {content:'';clear:both;display:block;}
#header .quick-admin h2 {float:left;font-style:italic;color:#3ccb83;font-weight: 600;padding:15px 0;text-transform:uppercase;}
#header .quick-admin h2 a {color:#3ccb83;font-style:italic;}
#header .quick-admin h2 em {display:inline-block;width: 80px;height: 17px;vertical-align:middle;margin: 0px 1px 0 0;text-indent:-1000em;background: url(../../images/svg/sprite.layout.merge.svg) no-repeat -35px -2px #fff;background-size: 250px 250px;position: relative;}
#header .quick-admin .actions {float:right;}
#header .quick-admin .actions li {float:left;}
#header .quick-admin .actions .count {display:inline-block;vertical-align:middle;font-size: 12px;line-height: 17px;background: #3ccb83;color:#fff;padding: 1px 5px 0;border-radius:10px;margin: -12px 0 0 2px;}
#header .quick-admin .actions a {display:block;color:#fff;font-size:13px;font-weight:400;padding:15px;}
#header .quick-admin .actions a.edit:before {content:'';display:inline-block;opacity:0.4;vertical-align:middle;width:14px;height:13px;margin: -3px 7px 0 0;background-position:0 -20px;}
#header .quick-admin .actions a.order:before {content:'';display:inline-block;vertical-align:middle;width: 17px;height: 17px;margin: -3px 7px 0 0;background-position: -23px -23px;}
#header .quick-admin .actions a.user {padding-right:0;}
#header .quick-admin .actions a.user:before {content:'';display:inline-block;opacity:0.4;vertical-align:middle;width:16px;height:16px;margin: -3px 7px 0 0;background-position:0 0;}
#header .quick-admin .actions a.seller:before {content:'';display:inline-block;opacity:0.4;vertical-align:middle;width:16px;height:15px;margin: -3px 7px 0 0;background-position:-20px 0;}
#header .quick-admin .actions a.switch {position:relative;padding-left: 42px;}
#header .quick-admin .actions a.switch:before {content:'';position:absolute;left:10px;top:50%;background:#767677;width:24px;height:14px;border-radius:7px;margin-top:-7px;}
#header .quick-admin .actions a.switch:after {content:'';position:absolute;left:12px;top:50%;background:#fff;width:10px;height:10px;border-radius:100%;margin-top:-5px;}
#header .quick-admin .actions a.switch.on:before {background:#3ccb83;}
#header .quick-admin .actions a.switch.on:after {left:22px;}

.show_adminbar #header .quick-admin {display:block;}
.show_adminbar #wrap > #container-wrapper {padding-top:154px;}
.show_adminbar #wrap.show_notify > #container-wrapper {padding-top:186px;}

body.article-overlay-on.admin.show_adminbar .admin-header {display:none !important;}
body.article-overlay-on.admin.show_adminbar #header {top:0;}

@media screen and (max-width: 720px) {
	.show_adminbar #header .quick-admin {display:none;}
	.show_adminbar #wrap > #container-wrapper {padding-top:45px;}
	.show_adminbar #wrap.show_notify > #container-wrapper {padding-top:80px;}
}