@charset "UTF-8";

.landing #content {background:#fff;position:relative;padding: 0;top: -85px;}
.landing h3 {font-size:40px;line-height:53px;color:#1A1B1C;font-weight:400;}
.landing h3 small {display:block;font-size: 13px;font-weight: 600;letter-spacing: 2px;}
.landing .btn-join {background:#39C47E;padding:0 30px;display:inline-block;font-size:16px;font-weight:bold;border-radius:28px;line-height:57px;color: #fff;}
.landing .btn-join:after {content:'→';margin-left:4px;}
.landing .container {padding: 0 20px;position:relative;background:#f2f2f2;}
.landing .cover .cover-wrapper {position:relative;background:#3CCB83;color:#fff;overflow: hidden;padding-bottom: 85px;}
.landing .cover .cover-wrapper.parallax {position:fixed;width:100%;left:0;}
.landing .cover .cover-wrapper:before {content:'';width:835px;height:946px;background:url('../../images/svg/landing-mask.svg') no-repeat;background-size:contain;left:55%;bottom:40%;opacity:0.1;position: absolute;}
.landing .cover h1 {position:relative;z-index:1;font-size:60px;font-weight: 500;line-height: 1.27em;}
.landing .cover h1 small {display:block;color:#C8F5DE;font-size:54px;font-weight: 400;}
.landing .cover p {position:relative;z-index:1;font-size:18px;line-height:26px;max-width:600px;padding:20px 0 40px;}
.landing .cover .inner {position:relative;max-width: 1160px;margin: 0 auto;padding: 100px 120px 87px;}
.landing .cover .inner:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url('../../images/landing-cover.png') no-repeat 50% 100%;background-size: cover;}
.landing .ani.cover .inner:after {animation: aniup 2s ease-in-out;animation-iteration-count:infinite;-webkit-animation: aniup 2s ease-in-out;-webkit-animation-iteration-count:infinite;-moz-animation: aniup 2s ease-in-out;-moz-animation-iteration-count:infinite;}
.landing .cover .inner:before {content:'';width:835px;height:946px;background:url('../../images/svg/landing-mask.svg') no-repeat;background-size:contain;right:100%;bottom:-75px;opacity:0.1;position: absolute;margin-right: -20px;}
.landing .cover .btn-join {position:relative;z-index:1;background: rgba(0, 0, 0, .11);}
.landing .credit {font-size:16px;line-height:30px;margin: 0 80px 100px 115px;width:calc(100% - 195px);display:table;}
.landing .credit:after {content:'';clear:both;display:block;}
.landing .credit p {padding: 16px 0 38px;}
.landing .credit .comment {opacity:0.4;clear:both;font-size:14px;padding: 24px 0 0;}
.landing .credit .fee {float:left;color:#39C47E;}
.landing .credit .fee label {display:block;font-size:14px;}
.landing .credit .fee b {display:block;font-size:32px;font-weight:400;}
.landing .credit .fee b small {font-size:24px;}
.landing .credit .btn-join {float:left;}
.landing .credit .inner {display:table-cell;vertical-align:middle;width:50%;}
.landing .credit .fee+.btn-join {margin: 6px 0 0 40px;}
.landing .credit .figure {position:relative;display:table-cell;width:50%;vertical-align:middle;text-align:right;}
.landing .credit .figure ul {position:relative;display: inline-block;}
.landing .credit .figure ul:after {content:'';clear:both;display:block;}
.landing .credit .figure li {float:left;}
.landing .credit .figure li+li {margin-left:45px;}
.landing .credit .figure a {display:block;width:118px;text-align:center;line-height:118px;background:#fff;border-radius:100%;box-shadow:0 10px 20px rgba(0,0,0,0.08);overflow:hidden;}
.landing .credit .figure img {max-width:100%;max-height:100%;vertical-align:middle;}
.landing .credit .figure:before {content:'';position:absolute;top:50%;right: 55px;width:330px;height:374px;-webkit-mask:url('../../images/svg/landing-mask.svg') no-repeat 50% 50%;-webkit-mask-size:cover;mask:url('../../images/svg/landing-mask.svg') no-repeat 50% 50%;mask-size:cover;background:url('//resize-ec.thefancy.com/resize/clip/752x2000/thefancy/commerce/original/20180209/7f69afbdefd043f495e0d5fea04e72b1.jpg') no-repeat 50% 50%;background-size:cover;margin-top: -187px;}
.landing .benefits {display:table;width:100%;color:#fff;position:relative;overflow: hidden;}
.landing .benefits:before {content:'';position:absolute;top: -12px;left: -12px;width:100%;height:100%;filter: blur(12px);background:url('../../images/landing-benefit.png') no-repeat 50% 50%;background-size: cover;padding: 12px;}
.landing .benefits h3 {color:#fff;padding-bottom: 20px;}
.landing .benefits li {font-size:16px;line-height:30px;}
.landing .benefits li:before {content:'>';margin-right:10px;}
.landing .benefits dl {text-align:center;padding: 54px 30px;background: rgba(0,0,0,0.3);width: 265px;margin: 0 auto;position: relative;max-width: 80%;}
.landing .benefits dt {font-size:26px;padding:0 0 30px}
.landing .benefits dt:before {content:'';display:block;width:88px;height:24px;background:url('../../images/svg//gear_logo-white.svg') no-repeat -47px -10px;background-size:131px;margin: 0 auto 18px;}
.landing .benefits dt small {display:block;font-size:24px;}
.landing .benefits .inner {display:table-cell;vertical-align:middle;width:50%;background: rgba(0,0,0,0.3);padding: 50px 100px;position: relative;}
.landing .benefits .inner.join {background: url('../../images/landing-benefit.png') no-repeat 50% 50% #fff;background-size: 730px;}
.landing .benefits .inner.join:before {content:'';position:absolute;width: 325px;top: 50px;bottom: 50px;left: 50%;margin-left: -163px;background: url(../../images/landing-benefit.png) no-repeat 50% 50%;background-size: 730px;filter: blur(12px);}
.landing .streaming {position:relative;margin-bottom:90px;position:relative;display:table;width:100%;height:660px;}
.landing .streaming .video {position:absolute;top:0;left:0;width:100%;height:100%;background:url('../../images/landing-video.png') no-repeat 50% 50%;background-size:cover;}
.landing .streaming .video video {width:100%;height:100%;display:block;}
.landing .streaming .inner {display:table-cell;vertical-align:middle;text-align:center;position:relative;background:rgba(0,0,0,0.42);}
.landing .streaming h2 {font-size:32px;font-weight:400;color:#fff;padding-bottom:25px;}
.landing .streaming .btn-play {position:relative;overflow:hidden;display:inline-block;font-size:16px;font-weight:bold;border-radius:28px;line-height:57px;color: #fff;}
.landing .streaming .btn-play em {position:relative;display:block;padding:0 22px;background:rgba(255,255,255,0.1);border-radius:28px;}
.landing .streaming .btn-play em:before {content:'';border:8px solid transparent;border-left-width: 10px;border-left-color:#fff;display:inline-block;vertical-align:middle;margin: -3px 0 0 6px;}
.landing .streaming .btn-play span {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);filter: blur(12px);background:url('../../images/landing-video.png') no-repeat 50% 50%;background-size:cover;}
.landing .method {padding: 0 100px 115px 116px;}
.landing .method:after {content:'';clear:both;display:block;}
.landing .method .inner {float:right;width:60%;max-width:690px;}
.landing .method .chart {position:relative;width: 288px;height: 326px;float: left;margin-top: 64px;}
.landing .method .chart:before {content:'';position:absolute;left:50%;top:50%;background: #E2E2E2;width: 288px;height: 326px;-webkit-mask:url('../../images/svg/landing-mask.svg') no-repeat 50% 50%;-webkit-mask-size:cover;mask:url('../../images/svg/landing-mask.svg') no-repeat 50% 50%;mask-size:cover;padding: 3px;margin: -166px 0 0 -147px;opacity: 0.69;}
.landing .method .chart dt {position:absolute;left:50%;top:50%;background:#fff;width: 288px;height: 326px;-webkit-mask:url('../../images/svg/landing-mask.svg') no-repeat 50% 50%;-webkit-mask-size:cover;mask:url('../../images/svg/landing-mask.svg') no-repeat 50% 50%;mask-size:cover;margin: -163px 0 0 -144px;}
.landing .method .chart dt .user {position:absolute;top: 50%;left: 50%;;padding-top:106px;z-index:1;}
.landing .method .chart dt .user b {line-height:38px;padding:0 16px;background: #39C47E;box-shadow: 0 2px 20px rgba(57, 196, 126, .36);color: #fff;}
.landing .method .chart dt .avatar {width:125px;height:125px;bottom:19px;margin-left:-63px;border: 0;}
.landing .method .chart dt:before {content:'';position:absolute;top:10px;left:50%;bottom:10px;border-left: 2px dashed #E2E2E2;margin-left: -1px;}
.landing .method .chart dt:after {content:'';position:absolute;left:10px;top:50%;right:10px;border-top: 2px dashed #E2E2E2;margin-top: -1px;}
.landing .method .chart dd .user:nth-child(1) {top:0;left:50%;}
.landing .method .chart dd .user:nth-child(2) {top:50%;left:100%;}
.landing .method .chart dd .user:nth-child(3) {top:100%;left:50%;}
.landing .method .chart dd .user:nth-child(4) {top:50%;left:0;}
.landing .method .chart .user {white-space:nowrap;position:absolute;padding-top:60px;transform: translate(-50%, -50%);}
.landing .method .chart .user b {display:block;line-height:34px;background:#fff;padding:0 10px;border-radius:17px;font-size:13px;font-weight:bold;position: relative;box-shadow: 0 2px 20px rgba(0,0,0, .08);}
.landing .method .chart .avatar {position:absolute;bottom:17px;left:50%;width:77px;height:77px;background:no-repeat 50% 50%;background-size:cover;border-radius:100px;margin-left: -49px;border: 10px solid #fff;}
.landing .method ol {max-width: 550px;}
.landing .method li {margin-top:40px;padding-left:84px;position:relative;font-size: 16px;line-height: 30px;}
.landing .method .num {font-size:31px;color:#39C47E;line-height:56px;border: 2px solid rgba(57, 196, 126, .26);border-radius: 100%;position: absolute;left: 0;top: 50%;margin-top: -30px;min-width: 56px;text-align: center;}

#popup_container.join-reward .popup.join-reward {display:block;}
#popup_container .popup.join-reward {margin: 24px auto;width:562px;}
#popup_container .popup.join-reward > div {position:relative;background:#fff;border-radius:10px;;}
#popup_container .popup.join-reward .create {max-width: 485px;margin:0 auto;}
.popup.join-reward .payment h3 {background:#3CCB83;font-size:36px;line-height:48px;padding: 69px 45px 45px;color: #fff;font-weight: 400;border-radius: 4px 4px 0 0;margin-bottom:10px;position: relative;overflow: hidden;}
.popup.join-reward .payment h3:after {content:'';width: 835px;height: 946px;background:url('../../images/svg/landing-mask.svg') no-repeat;background-size:contain;left: 40px;bottom: 43%;opacity:0.1;position: absolute;}
.popup.join-reward .payment h3:before {content:'';display:block;width:88px;height:24px;opacity:0.7;background:url('../../images/svg//gear_logo-white.svg') no-repeat -47px -10px;background-size:131px;margin-bottom:20px;}
.popup.join-reward .payment h3 small {display:block;font-size:16px;padding-top:10px;line-height:21px;color:#C3F4DB;}
.popup.join-reward .payment h3 a {color:#fff;text-decoration:underline;}
.popup.join-reward fieldset {padding: 30px 45px 45px;margin:0 auto;}
.popup.join-reward button {background:#39C47E;text-align:center;display:block;font-size:14px;font-weight:bold;border-radius:4px;line-height:50px;color: #fff;width: 100%;}
.popup.join-reward .payment .price {position:absolute;line-height: 49px;padding:0 20px;border-radius:25px;color:#fff;font-size:16px;top: 30px;background: #46B77E;right: 40px;font-weight:500;}
.popup.join-reward .payment .price small {color:#C3F4DB;font-weight:400;}
.popup.join-reward .payment .terms {padding-top:24px;text-align:center;color:#898989;font-size:13px;line-height:22px;}
.popup.join-reward .payment .terms a {color:#1a1b1c;text-decoration:underline;}
.popup.join-reward .payment h4 {font-size:15px;font-weight: 500;line-height:20px;padding-bottom:25px;}
.popup.join-reward .payment ul {background:#F8F8F8;border-radius:4px;margin-bottom: 25px;}
.popup.join-reward .payment li {line-height:28px;padding:19px 32px 19px 48px;position:relative;border-radius: 4px;color:#AFAFAF;}
.popup.join-reward .payment li:after {content:'';clear:both;display:block;}
.popup.join-reward .payment li:before {content:'';position:absolute;width:18px;height:18px;background:#fff;border-radius:100%;margin-top:-9px;top:50%;left:18px;}
.popup.join-reward .payment li input {position:absolute;top:0;left:0;width:100%;height:100%;border-radius:0;cursor:pointer;opacity:0;}
.popup.join-reward .payment .card {float:left;}
.popup.join-reward .payment .card:before {content:'';display:inline-block;vertical-align:middle;width:42px;height:28px;margin: -3px 10px 0 0;}
.popup.join-reward .payment .card:before {content: '';display: inline-block;vertical-align: middle;margin: -3px 6px -1px 0;width: 32px;height: 21px;background:url("../../images/cart_new.png") no-repeat;background-size:200px 200px;}
.popup.join-reward .payment .card.visa:before {background-position:-80px 0;}
.popup.join-reward .payment .card.mastercard:before {background-position:-115px 0;}
.popup.join-reward .payment .card.amex:before {background-position:-150px 0;}
.popup.join-reward .payment .card.discover:before {background-position:-176px -37px;}
.popup.join-reward .payment .card.dc:before {background-image:url("../../images/cart.png");background-position:-130px -120px;height:20px;box-shadow:0 0 0 1px rgba(0,0,0,0.07);border-radius: 2px;}
.popup.join-reward .payment .card.google:before {width:19px;height:20px;background-position:-30px 0;}
.popup.join-reward .payment .card.bitcoin:before {width:20px;height:20px;background-position:-55px 0;}
.popup.join-reward .payment .card.bitpay:before {content:'';display:inline-block;vertical-align:middle;width: 21px;height: 21px;margin: -3px 4px 0 6px;background: url("../../../../_ui/images/svg/checkout-crypto.svg") no-repeat;background-size: 188px 25px;}
.popup.join-reward .payment .card.globee:before {content:'';display:inline-block;vertical-align:middle;width: 21px;height: 21px;margin: -3px 4px 0 6px;background: url("../../../../_ui/images/svg/checkout-crypto.svg") no-repeat;background-size: 188px 25px;}
.popup.join-reward .payment .name {float:right;}
.popup.join-reward .payment .selected {background:#fff;z-index:1;box-shadow: 0 2px 20px rgba(0,0,0,0.08);color:#898989;}
.popup.join-reward .payment .selected:before {background:#E1F6EB;}
.popup.join-reward .payment .selected .card {color:#1B1C1D;}
.popup.join-reward .payment .selected .name:before {content:'';position:absolute;top:50%;left:22px;width:10px;height:10px;border-radius:100%;background:#3CCB83;margin-top:-5px;}
.popup.join-reward .payment .empty {padding-left:20px;background:none;box-shadow:none;}
.popup.join-reward .payment .empty:before {display:none;}
.popup.join-reward .payment .empty .card {color: #898989;}
.popup.join-reward .payment .empty .card:before {background:url('../../images/svg/card-empty.svg');width: 42px;height: 28px;background-size: contain;}
.popup.join-reward .create {padding-top:53px;}
.popup.join-reward .create select {width:100%;padding: 14px 12px;}
.popup.join-reward .create select:focus {background-color:#fff;box-shadow:inset 0 0 0 2px rgba(59, 202, 130, .61);}
.popup.join-reward .create input {width:100%;padding: 14px 12px;}
.popup.join-reward .create input:focus {background:#fff;box-shadow:inset 0 0 0 2px rgba(59, 202, 130, .61);}
.popup.join-reward .create p+p {margin-top:15px;}
.popup.join-reward .create .back {font-size:15px;line-height:20px;color:#1A1B1C;margin:0 45px;}
.popup.join-reward .create h3 {font-weight:400;font-size:28px;padding:12px 45px 0;line-height:37px;}
.popup.join-reward .create h4 {padding:28px 0 15px;clear:both;font-size:15px;font-weight:500;}
.popup.join-reward .create .cvc, .popup.join-reward .create .country, .popup.join-reward .create .status {float:left;width:49%;width:calc(50% - 8px);}
.popup.join-reward .create .expiration, .popup.join-reward .create .city, .popup.join-reward .create .zipcode {float:right;width:49%;width:calc(50% - 8px);}
.popup.join-reward .create .expiration select {width: calc(100% - 90px);}
.popup.join-reward .create .expiration select:last-child {float:right;}
.popup.join-reward .create .expiration:after {content:'';clear:both;display:block;}
.popup.join-reward .create .zipcode {padding-bottom:24px;}
.popup.join-reward .btn-new+.btn-join {margin-top:20px;}
.popup.join-reward .btn-new {background:none;box-shadow: inset 0 0 0 2px rgba(57, 196, 126, .37);color: #39C47E;}
.popup.join-reward .btn-new.empty {background:#39C47E;box-shadow:none;color: #fff;}
.popup.join-reward .btn-new.empty:after {content:'→';margin-left: 4px;}
.popup.join-reward .ly-close {position:absolute;right: -24px;top: -24px;padding: 0;width: 48px;border: 0;height: 48px;background: url("../../images/svg/article_close.svg") no-repeat 50% 50%;z-index: 1;text-indent: -1000em;}
.popup.join-reward .ly-close:before {display:none;}

@media screen and (max-width: 920px) {
    .landing #content {top:-50px;}
    .landing h3 {font-size:24px;line-height: 30px;}
    .landing .method li, .landing .credit p, .landing .benefits li {line-height:24px;font-size:13px;}
    .landing .credit .fee {float:none;text-align:center;}
    .landing .credit .btn-join {float:none;box-sizing:border-box;width:100%;text-align:center;}
    .landing .credit .fee+.btn-join {margin:15px 0 0;}
    .landing .cover h1 {font-size:30px;}
    .landing .cover h1 small {font-size:26px;}
    .landing .cover p {font-size:14px;line-height:22px;}
    .landing .cover .inner {padding: 50px 20px;}
    .landing .cover .cover-wrapper {padding-bottom:50px;}
    .landing .streaming {height: 300px;}
    .landing .streaming h2 {font-size:26px;}
    .landing .credit {margin:0 20px 50px;display:block;width: auto;padding-top: 400px;position: relative;}
    .landing .credit .inner {display:block;width:auto;}
    .landing .credit .figure {display:block;width: 100%;text-align: center;padding: 138px 0;position: absolute;top: 0;left: 0;}
    .landing .credit .figure a {width: 80px;line-height: 80px;}
    .landing .credit .figure li+li {margin-left:20px;}
    .landing .credit .figure:before {right:50%;margin-right: -165px;}
    .landing .method {padding: 57px 20px 50px;}
    .landing .method .chart {float:none;margin:0 auto;}
    .landing .method .inner {float:none;width:auto;padding-top:80px;}
    .landing .benefits {display:block;}
    .landing .benefits .inner {width:auto;display:block;padding: 30px 20px;}
}
@-webkit-keyframes aniup {0% {top:0}50% {top:10px;}100% { top:0}}
@-moz-keyframes aniup  {0% {top:0}50% {top:10px;}100% { top:0}}
@keyframes aniup  {0% {top:0}50% {top:10px;}100% { top:0}}
