@charset "UTF-8";
@import url("../popup/add_cover.css"); 
@import url("../popup/add_sign.css"); 
@import url("../popup/add_collections.css"); 

#summary {position:relative;background:#fff;box-shadow:0 1px 0 rgba(0,0,0,0.06);overflow: hidden;}
#summary .inner {position:relative;background:#fff;}
#summary .inner:after {content:'';clear:both;display:block;}
#summary .inner:before {content:'';position:absolute;top: 50%;left: 100%;width: 100%;height:1px;background:#e5e5e5;}
#summary .followers {float:right;padding: 30px 0;}
#summary .followers a {color:#151618;}
#summary .followers li {position:relative;padding: 20px 0;text-align:right;height: 60px;}
#summary .followers li+li:before {content:'';position:absolute;top: 0;left:0;width:100%;padding-right: 20px;height:1px;background:#e5e5e5;}
#summary .followers label {display:block;font-size:14px;text-transform:uppercase;line-height: 17px;}
#summary .followers b {display:block;font-size:42px;line-height: 42px;}
#summary .user-info {float:left;display:table;height: 240px;}
#summary .user-info .user-info-wrapper {display:table-cell;vertical-align:middle;padding: 36px 0 40px 176px;}
#summary .user-info .user-info-wrapper:before {content:'';position:absolute;top: 19px;left: -4px;width: 182px;height: 198px;background: url("../../images/svg/avatar_mask.svg") no-repeat;background-size: contain;}
#summary .user-info .avatar {position:absolute;left: 15px;width:143px;height:159px;background:no-repeat 50% 50% #fff;background-size:cover;-webkit-mask-image: url('../../images/svg/profile-mask.svg');mask-image: url('../../images/svg/profile-mask.svg');top: 35px;}
#summary .user-info .upload-profile {position:absolute;opacity:0;left: 15px;top: 35px;width:143px;height:159px;}
#summary .user-info .upload-profile:hover {opacity:1;}
#summary .user-info .upload-profile:before {position:absolute;content:'';top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,0.7);-webkit-mask-image: url(../../images/svg/profile-mask.svg);mask-image: url(../../images/svg/profile-mask.svg);}
#summary .user-info .upload-profile:after {content:'';position:absolute;top:50%;left:50%;margin:-7px 0 0 -9px;width:17px;height:14px;background:url('../../images/ico-camera.png') no-repeat;background-size:cover;}
#summary .user-info .upload-profile small {font-size: 12px;bottom: 50%;line-height:40px;padding:0 10px;margin-bottom: 20px;}
#summary .user-info .username {font-size:62px;color: #151618;padding: 0 0 12px;line-height: 60px;}
#summary .user-info .bio {position:relative;font-size:14px;margin-bottom:23px;max-height:40px;overflow:hidden;line-height: 20px;color:#777;max-width:500px;}
#summary .user-info .bio * {font-size:14px !important;line-height:20px !important;display: inline;font-family: 'Roboto', "Helvetica Neue", sans-serif !important;}
#summary .user-info .bio br {display:none;}
#summary .user-info .bio a.more {position:absolute;right:0;top:20px;color: #373d48;background:#fff;min-width: 51%;}
#summary .user-info .bio a.more:before {content:'...';margin-right:4px;color:#777;}
#summary .user-info .location {font-size:14px;padding: 22px 0 23px;line-height: 20px;}
#summary .user-info .buttons {margin:10px 7px 0 0;box-shadow: inset 0 0 0 1px rgba(28, 30, 39, .2);background:#fff;font-size: 16px;text-transform: uppercase;vertical-align:middle;font-weight: 600;}
#summary .user-info .btn-admin {color:#fff;font-size: 16px;text-transform: uppercase;vertical-align:middle;background: #1c1e27;font-weight:500;}
#summary .user-info .btn-follow {display:inline-block;min-width: 160px;vertical-align: middle;height: 45px;overflow: hidden;border-radius: 3px;margin:10px 7px 0 0;}
#summary .user-info .btn-follow a {display:block;line-height: 45px;text-align: center;color: #fff;background: #8bbf3a;padding: 0 20px;font-size: 16px;font-weight: 700;}
#summary .user-info .btn-follow a.following {background:#151618 ;}
#summary .user-info .btn-follow a.unfollow {color: rgba(117,130,142,0.8); background: #f5f5f5;}
#summary .user-info .btn-follow.following a.follow {margin-top:-45px;}
#summary .user-info .btn-follow.following:hover a.follow {margin-top:-90px;}
#summary .user-info .btn-follow.following.follow:hover a.follow {margin-top:-45px;}
#summary .user-info .share_item {display: inline-block;vertical-align: middle;}
#summary .user-info .share {width: 21px;text-indent:-1000em;height: 22px;display: inline-block;vertical-align: middle;position: relative;margin: 10px 0 0 3px;}
#summary .user-info .share:before {position:absolute;top:50%;left:50%;margin:-10px 0 0 -10px;}
#summary .user-info .username .verified {display:inline-block;width:22px;height:24px;vertical-align:middle;margin-top: -60px;background:url('../../images/ico-verified.png') no-repeat;background-size: 22px 24px;}

.userlist .btn-follow {display:inline-block;vertical-align: middle;height: 40px;overflow: hidden;border-radius: 3px;margin-right: 7px;}
.userlist .btn-follow {position:absolute;right:0;top:50%;margin-top:-20px;border-radius:2px;}
.userlist .btn-follow a {display:block;line-height: 40px;text-align: center;color: #fff;background:#151618 ;padding: 0 20px;font-size: 14px;font-weight: 700;}
.userlist .btn-follow a.following {background:#fff;box-shadow: inset 0 0 0 1px rgba(27, 33, 40, 0.2);color: #1b2128;}
.userlist .btn-follow a.unfollow {color: rgba(117,130,142,0.8); background: #f5f5f5;}
.userlist .btn-follow.follow a.following, .userlist .btn-follow.follow a.unfollow {display:none;}
.userlist .btn-follow.following a.follow {margin-top:-40px;}
.userlist .btn-follow.following:hover a.follow {margin-top:-80px;}
.userlist .btn-follow.following.follow:hover a.follow {margin-top:-40px;}

.logged-out #summary .user-info .bio {display:inline-block;padding: 12px 7px 12px 0;vertical-align: middle;}
.logged-out #summary .user-info .location {display:inline-block;padding: 12px 0;vertical-align: middle;}
.logged-out #summary .user-info .actions {display:inline-block;vertical-align: middle;}
.logged-out #summary .user-info .username {padding-bottom:0;}
.logged-out #summary .followers, .logged-out #summary:before {display:none;}

.profile .cover {height:450px;background:no-repeat 50% 50%;background-size:cover;box-shadow:inset 0 1px 0 rgba(0,0,0,0.06);}
.profile .cover .inner {position:relative;max-width:1120px;margin: 0 auto;padding: 30px 15px 0;}
.profile .cover .tools {position:absolute;right:15px;top:30px;opacity:0;transition:opacity 0.22s;-webkit-transition:opacity 0.22s;-moz-transition:opacity 0.22s;}
.profile .cover .tools > a {font-size:14px;color:#1b2128;background:#fff;font-weight:700;line-height:40px;border-radius:3px;box-shadow:0 0 0 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.06);padding:0 18px;float: right;}
.profile .cover .tools > a:before {content:'';display:inline-block;vertical-align:middle;margin:-3px 9px 0 0;width:17px;height:14px;background:url('../../images/ico-camera.png') no-repeat;background-size:cover;}
.profile .cover .tools ul {display:none;position:absolute;right:0;min-width:100%;top:100%;border-radius:3px;margin-top:20px;background:#fff;box-shadow:0 0 0 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.06);text-align: center;font-weight: 500;}
.profile .cover .tools ul:before {content:'';position:absolute;bottom:100%;left:50%;border:9px solid transparent;border-bottom-color:rgba(0,0,0,0.1);margin-left:-9px;}
.profile .cover .tools ul:after {content:'';position:absolute;bottom:100%;left:50%;border:8px solid transparent;border-bottom-color:#fff;margin-left:-8px;}
.profile .cover .tools li {line-height:40px;border-top: 1px solid #e6e7e8;}
.profile .cover .tools li:first-child {border-top:0;}
.profile .cover .tools li a {padding:0 10px;display:block;color:#151618;}
.profile .cover .tools.opened {opacity:1;}
.profile .cover .tools.opened ul {display:block;}
.profile .cover:hover .tools {opacity:1;}

.profile a.new-collection {float:right;font-size: 15px;padding: 0 40px;margin-top:40px;}
.profile .itemList .itemListElement, .profile .followerList .followerElement {margin-top:40px;}
.profile #content {padding-top:0;}
.profile .tab {margin-top:40px;}

.profile.seller #summary .user-info .username {font-size:54px;line-height: 50px;padding: 0 0 4px;}
.profile.seller #summary .user-info .tagline {font-weight:bold;font-size:14px;margin-bottom: 10px;line-height: 20px;text-transform: uppercase;}
.profile.seller #summary .user-info .bio {margin-bottom: 14px;line-height: 20px;max-height: 40px;}
.profile.seller #summary .user-info .bio a.more {top: 20px;}
.profile.seller #summary .user-info .avatar {background-image:url('../../images/svg/merchant_default.svg');}

@media screen and (max-width: 800px) {
	#summary {margin-bottom:0;}
	#summary .cover {height: 200px;}
	#summary .user-info .user-info-wrapper:before {top:-95px;}
	#summary .user-info {float:none;height: auto;}
	#summary .user-info .user-info-wrapper {padding: 100px 0 20px;display:block;}
	#summary .user-info .username {font-size:36px;padding-bottom: 0;}
	#summary .user-info .username .verified {margin-top: -20px;}
	#summary .user-info .avatar, #summary .user-info .upload-profile {top:auto;bottom:100%;margin: 0 0 -80px;}
	#summary .user-info .upload-profile {opacity:1}
	#summary .user-info .upload-profile small {display:block;left: 70%;margin-bottom: -20px;margin-left: 0 !important;}
	#summary .user-info .upload-profile small:before {left:auto;right:100%;top:50%;border-color:transparent;border-right-color: #2c3239;bottom: auto;margin: -5px 0 0;}
	#summary .followers {position:relative;float:none;padding: 0;border-top: 1px solid rgba(229, 229, 229, .7);}
	#summary .followers:after {content:'';clear:both;display:block;}
	#summary .followers li {float:left;width:50%;text-align: center;height: 33px;}
	#summary .followers b {font-size:20px;line-height: 20px;}
	#summary .followers label {font-size:11px;line-height: 13px;}
	#summary .followers li+li:before {top:50%;height: 40px;width:1px;padding: 0;margin-top: -20px;}
	#summary .inner {background:none;}
	#summary:before {bottom: 73px;left: 0;width: 100%;}
	#summary .user-info .btn-follow.following:hover a.follow, #summary .user-info .btn-follow.following.follow:hover a.follow {margin-top:-45px;}
	.profile a.new-collection {float:none;width:100%;padding:0;margin-top:15px;text-align: center;}
	.profile .cover .tools {top:10px;right:10px;opacity:1;}
	.profile .cover .tools > a {font-size:12px;line-height: 30px;padding: 0 10px;}
	.profile .cover .tools ul {margin-top:15px;}
	.profile .cover .tools li {line-height:29px;font-size:12px;}
	.popup.upload-cover #delete_cover_image {position:static;display:block;margin-bottom:10px;clear: both;}
	.popup.upload-cover .btn-cancel, .popup.change-photo .btn-cancel {padding:0;display:block;width:100%;margin-bottom:10px;}
	.popup.change-photo .photoframe {position:relative;top:0;left:0;margin: 0 auto;padding-top: 20px;}
	.popup.change-photo .frm {padding:15px;min-height:0;}
}

#popup_container.followers_list .popup.followers_list {display:block;}
#popup_container.following_list .popup.following_list {display:block;}
#popup_container.follow_list .popup.follow_list {display:block;}
#popup_container .popup.follow_list {width:496px;background: #fff;}
.popup.follow_list h3 {padding: 33px 38px 19px;font-size: 22px;line-height: 30px;}
.popup.follow_list ul {padding: 0 38px 20px;overflow:auto;max-height: 506px;}
.popup.follow_list li {line-height:16px;position: relative;padding: 24px 120px 24px 54px;border-top: 1px solid #e6e7e8;color:#2f333b;}
.popup.follow_list .name {color:#2f333b;}
.popup.follow_list li:first-child {border-top:0;}
.popup.follow_list .popup-close {top: 13px;height: 68px;width: 60px;right: 10px;}
.popup.follow_list .name b {font-size:14px;}
.popup.follow_list .username {display:block;font-size:12px;}
.popup.follow_list .avatar {position: absolute;top: 50%;left: 0;width: 43px;height: 47px;margin-top: -24px;background: no-repeat 50% 50%;background-size: cover;-webkit-mask-size: contain;-webkit-mask-image: url(../../images/svg/profile-mask.svg);-webkit-mask-repeat: no-repeat;}

#popup_container.admin_userinfo .popup.admin_userinfo {display:block;}
#popup_container .popup.admin_userinfo {width:496px;background:#fff;border-radius:3px;}
.popup.admin_userinfo h3 {margin:0 38px;line-height: 36px;padding: 30px 0;font-size: 22px;color: #1b2128;}
.popup.admin_userinfo .popup-close {right: 19px;top: 46px;margin-top: -22px;}
.popup.admin_userinfo .popup-close:before {opacity:0.65;}
.popup.admin_userinfo .default {position:relative;padding: 35px 120px 35px 55px;margin:0 38px;border-top: 1px solid rgba(230, 231, 232, 0.6);border-bottom: 1px solid rgba(230, 231, 232, 0.6);}
.popup.admin_userinfo .default .name {font-size:18px;color:#2f333b;line-height: 18px;}
.popup.admin_userinfo .default .username {font-size:12px;color:#2f333b;}
.popup.admin_userinfo .default .avatar {position:absolute;width:43px;height:47px;left:0;top:50%;margin-top:-24px;background:no-repeat 50% 50%;background-size:cover;-webkit-mask-image: url("../../images/svg/profile-mask.svg");mask-image: url("../../images/svg/profile-mask.svg");mask-size: cover;-webkit-mask-size: cover;}
.popup.admin_userinfo .default .btn-deactivate {background:#fff;color:#1b2128;border: 1px solid rgba(27, 33, 40, 0.2);line-height: 38px;position: absolute;right: 0;top: 50%;margin-top: -20px;}
.popup.admin_userinfo .edit {display:inline-block;vertical-align:middle;margin:-3px 0 0 3px;}
.popup.admin_userinfo .edit:before {display:block;content:'';width:10px;height:10px;background:url('../../images/cart_new.png') no-repeat -185px -30px;background-size:200px 200px;opacity:0.45;}
.popup.admin_userinfo .edit:hover:before {opacity:0.85;}
.popup.admin_userinfo .tooltip {position:relative;}
.popup.admin_userinfo .tooltip em {display:none;position:absolute;bottom:100%;left:50%;background: #2c3239;margin-bottom: 7px;border-radius: 3px;color: #fff;font-size: 11px;white-space: nowrap;line-height: 16px;padding: 8px 10px;font-weight: 700;}
.popup.admin_userinfo .tooltip em:before {display:none;}
.popup.admin_userinfo .tooltip em:after {content:'';position:absolute;top:100%;left:50%;border:4px solid transparent;border-top-color:#2c3239;margin-left:-4px;bottom:auto;}
.popup.admin_userinfo .tooltip:hover em {display:block;}
.popup.admin_userinfo .detail {font-size:12px;line-height:19px;margin: 0 38px;padding: 4px 0 29px;color: #2f333b;}
.popup.admin_userinfo .detail dt {font-size:14px;font-weight: 700;}
.popup.admin_userinfo .detail dl {float:left;width:50%;padding-top: 25px;}
.popup.admin_userinfo .detail a {color:#2f333b;}
.popup.admin_userinfo .detail .email dd {min-height:38px;}
.popup.admin_userinfo .detail .confirmed {display:block;color: #60a84e;}
.popup.admin_userinfo .detail .unconfirmed {display:block;color: orange;}
.popup.admin_userinfo .detail:after {content:'';clear:both;display:block;}
.popup.admin_userinfo .sns {margin:0 38px;padding-bottom:5px;}
.popup.admin_userinfo .sns li {position:relative;margin-bottom:15px;background: #f0f3f5;border-radius: 3px;font-size: 12px;line-height: 19px;padding: 15px 55px;}
.popup.admin_userinfo .sns li:before {content:'';position:absolute;top:50%;left:31px;width:24px;height:24px;margin:-12px 0 0 -12px;}
.popup.admin_userinfo .sns li.facebook:before {background:url('../../images/svg/social-facebook.svg') no-repeat;}
.popup.admin_userinfo .sns li.twitter:before {background:url('../../images/svg/social-twitter.svg') no-repeat;}
.popup.admin_userinfo .sns li.youtube:before {background:url('../../images/svg/social-youtube.svg') no-repeat;width:26px;height:22px;margin:-11px 0 0 -13px;}
.popup.admin_userinfo .sns li.instagram:before {background:url('../../images/svg/social-instagram.svg') no-repeat;width:28px;height:28px;margin:-14px 0 0 -14px;}
.popup.admin_userinfo .sns b {display:block;font-size: 14px;}
.popup.admin_userinfo .sns .disconnect {position:absolute;right:20px;top:50%;margin-top:-8px;}
.popup.admin_userinfo .sns .disconnect:before {content:'';display:block;background:url("../../images/svg/popup-close.svg") no-repeat;background-size:contain;width: 15px;height:15px;}
.popup.admin_userinfo .order {background: #f0f3f5;border-radius:0 0 3px 3px;padding: 25px 38px;font-size: 12px;line-height: 19px;}
.popup.admin_userinfo .order .buttons {float:right;}
.popup.admin_userinfo .order .history {float:left;min-width: 110px;padding-right: 10px;}
.popup.admin_userinfo .order .credit {float:left;}
.popup.admin_userinfo .order .available {color: #60a84e;}
.popup.admin_userinfo .order b {display:block;font-size: 14px;}
.popup.admin_userinfo .order:after {content:'';clear:both;display:block;}

.gear-admin.alertify-prompt .alertify-dialog .alertify-message {display:inline-block;font-weight:700;}
.gear-admin.alertify-prompt .alertify-dialog .alertify-text-wrapper {display:inline-block;}

#popup_container.more-bio .popup.more-bio {display:block;}
#popup_container .popup.more-bio {background:#fff;border-radius:3px;width:500px;}
.popup.more-bio h2 {line-height: 36px;padding: 30px 38px 0;font-size: 22px;color: #1b2128;}
.popup.more-bio .tagline {padding:0 38px 30px;font-size:16px;color: #1b2128;font-weight:bold;}
.popup.more-bio .bio {padding:0 38px 40px;max-height: 500px;overflow: auto;color:#777;font-size:13px;line-height:20px;}
