.recommended .cover {display:table;width:100%;height:636px;color:#fff;text-align:center;}
.recommended .cover-wrapper {display:table-cell;vertical-align:middle;padding-bottom:98px;}
.recommended .cover .inner {max-width:1120px;padding:0 15px;margin:0 auto;}
.recommended .cover .avatar {display: block;margin: 0 auto 38px;}
.recommended .cover .avatar img {background:no-repeat 50% 50%;background-size:cover;width:100%;height:100%;-webkit-mask-image:url('../../images/svg/profile-mask.svg');mask-image:url('../../images/svg/profile-mask.svg');-webkit-mask-size:cover;mask-size:cover;}
.recommended .cover h2 {font-size:62px;font-weight:700;text-transform:uppercase;}
.recommended .cover p {font-size:20px;line-height:26px;margin:0 auto;max-width:580px;padding-top: 21px;}
.recommended .container {padding-bottom:30px;}
.recommended #content {background:#fff;margin-top:-98px;box-shadow: 0 1px 1px rgba(0,0,0,0.08);padding: 0;}
.recommended dl {padding:48px 60px 54px;border-top:1px solid #ededed;}
.recommended dl:first-child {border-top:0;}
.recommended dt {font-size:15px;font-weight:700;padding-bottom:26px;}
.recommended dd:after {content:'';clear:both;display:block;}
.recommended fieldset:after {content:'';clear:both;display:block;}
.recommended input.text, .recommended input[type="text"] {float:left;border-radius:3px 0 0 3px;padding: 13px 12px;box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);background: #fff;}
.recommended input.text:focus, .recommended input[type="text"]:focus {box-shadow: inset 2px 2px 0 rgba(0,0,0,0.1), inset 0 -2px 0 rgba(0,0,0,0.1);}
.recommended .buttons {float:right;padding:0;border-radius: 0 3px 3px 0;line-height: 42px;box-shadow: inset -1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.1);}
.recommended .email p {float:left;color: #1c1e27;opacity: 0.4;line-height: 18px;}
.recommended .email a.import {float:right;color: #1c1e27;line-height: 18px;font-weight: 500;}
.recommended .email a.import:before {content:'';display:inline-block;width:16px;height: 13px;vertical-align:middle;margin:-3px 9px 0 0;background: url('../../images/svg/invite-icons-gmail.svg') no-repeat -3px -4px;}
.recommended .email fieldset {margin-bottom:17px;}
.recommended .email input {width:calc(100% - 170px);width:-webkit-calc(100% - 170px);width:-moz-calc(100% - 170px);}
.recommended .email .buttons {background:#8bbf3a;width:170px;}
.recommended .share fieldset {float:left;width: 566px;width: calc(100% - 434px);width: -webkit-calc(100% - 434px);width: -moz-calc(100% - 434px);}
.recommended .share input {width:calc(100% - 90px);width:-webkit-calc(100% - 90px);width:-moz-calc(100% - 90px);}
.recommended .share .buttons {width:90px;background:#b0b0b0;}
.recommended .share .sns {float:right;}
.recommended .share .sns li {float:left;margin-right:14px;width: 200px;line-height: 42px;text-align: center;font-size: 14px;font-weight: 700;}
.recommended .share .sns li:last-child {margin-right:0;float:right;}
.recommended .share .sns a {display:block;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);border-radius:3px;color:#fff;position: relative;}
.recommended .share .sns a:before {content:'';position:absolute;left: 0;top: 50%;}
.recommended .share .sns a.msg {background:#0380ff;}
.recommended .share .sns a.msg:before {content:'';position:absolute;background: url('../../images/svg/invite-icons-messenger.svg') no-repeat;height: 20px;width: 20px;margin: -10px 0 0 11px;}
.recommended .share .sns a.fb {background:#395799;}
.recommended .share .sns a.fb:before {content:'';position:absolute;background: url('../../images/svg/invite-icons-facebook.svg') no-repeat;height: 20px;width: 16px;margin: -10px 0 0 8px;}
.recommended .share .sns a.tw {background:#50abf1;}
.recommended .share .sns a.tw:before {content:'';position:absolute;background: url('../../images/svg/invite-icons-twitter.svg') no-repeat;height: 20px;width: 20px;margin: -10px 0 0 13px;}
.recommended .review input.text, .recommended .review input[type="text"] {float:none;line-height: 26px;box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);width:100%;margin-bottom:30px;border-radius: 3px;}
.recommended .review input.text:focus, .recommended .review input[type="text"]:focus {box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);}
.recommended .review .buttons {margin-left:20px;width:calc(50% - 10px);width:-webkit-calc(50% - 10px);width:-moz-calc(50% - 10px);max-width:172px;float: left;border-radius: 3px;}
.recommended .review .buttons:first-of-type {margin-left:0;}
.recommended .review .buttons.add {background:#989ea7;}
.recommended.people .cover {background:url('../../images/cover/cover_invite.png') no-repeat 50% 50%;background-size:cover;}
.recommended.people .cover .avatar {width:143px;height:159px;padding:4px;background:#fff;-webkit-mask-image:url('../../images/svg/profile-mask.svg');mask-image:url('../../images/svg/profile-mask.svg');-webkit-mask-size:cover;mask-size:cover;}

.recommended.product .cover {background:url('../../images/cover/cover_recommend.jpg') no-repeat 50% 50%;background-size:cover;}
.recommended.product .cover-wrapper {background: rgba(27, 33, 40, 0.5);}
.recommended.product .cover .avatar {width:152px;height:169px;}

@media screen and (max-width: 1120px) {
}
@media screen and (max-width: 800px) {
	.recommended dl {padding:18px 20px 20px;}
	.recommended dt {padding-bottom:16px;}
	.recommended.people .share fieldset {float:none;width:auto;}
	.recommended.people .share .sns {float:none;}
	.recommended.people .share .sns li {margin-top:10px;}
	.recommended.people .share .sns li, .recommended.people .share .sns li:last-child {width:auto;float:none;margin-right:0;}
	.recommended.people .email p {float:none;}
	.recommended.people .email a.import {float:none;margin-top: 12px;display: block;}
	.recommended.people .email .buttons small {display:none;}
	.recommended.people .email input {width:calc(100% - 90px);width:-webkit-calc(100% - 90px);width:-moz-calc(100% - 90px);}
	.recommended.people .email .buttons {width:90px;}
	.recommended .container {padding-bottom:0;}
	.recommended .cover h2 {font-size:36px;}
	.recommended .cover p {font-size:15px;line-height:20px;}
	.recommended .cover {height:auto;}
	.recommended .cover-wrapper {padding: 40px 0;}
	.recommended #content {margin-top:0;}
}

#popup_container.invite-contacts .popup.invite-contacts {display:block;}
#popup_container .popup.invite-contacts {border-radius:3px;box-shadow:0 3px 20px rgba(0,0,0,0.1);width:556px;background:#fff;}
.popup.invite-contacts .btn-area {padding:28px 38px;border:0;box-shadow:0 -1px 0 rgba(0,0,0,0.1);}
.popup.invite-contacts .buttons {display:block;line-height:48px;font-size:15px;width:100%;padding:0;}
.popup.invite-contacts h3 {font-size:22px;font-weight:700;padding:33px 38px;line-height:29px;}
.popup.invite-contacts .search {padding:0 38px 24px;}
.popup.invite-contacts .search input.text, .popup.invite-contacts .search input[type="text"] {width:100%;padding: 14px;line-height: 20px;}
.popup.invite-contacts .contact_list {padding:0 38px 24px;overflow:auto;max-height:395px;}
.popup.invite-contacts .contact_list li {display:table;width:100%;font-size:14px;line-height:20px;margin-top:10px;font-weight:500;}
.popup.invite-contacts .contact_list li:first-child {margin-top:0;}
.popup.invite-contacts .contact_list .avatar {position:absolute;top:50%;left:14px;width:38px;height:38px;border-radius:100%;background:no-repeat 50% 50%;background-size:cover;margin-top:-19px;}
.popup.invite-contacts .contact_list .selector {position:relative;display:table-cell;box-shadow: inset 0 0 0 2px rgba(217, 217, 217, 0.5);height:38px;padding:12px 62px;vertical-align:middle;border-radius: 3px;color:#1b2128;}
.popup.invite-contacts .contact_list .selector:after {content:'';position:absolute;right:16px;width:28px;height:28px;border-radius:100%;box-shadow: inset 0 0 0 2px rgba(217, 217, 217, 0.5);top:50%;margin-top:-14px;}
.popup.invite-contacts .contact_list .selected .selector, .popup.invite-contacts .contact_list .selector:hover {box-shadow:inset 0 0 0 2px rgba(122, 173, 41, 0.5);}
.popup.invite-contacts .contact_list .selected .selector:after {box-shadow:none;background:url('../../images/ico-check.png') no-repeat 50% 50% #8bbf3a;background-size:13px 10px;}
.popup.invite-contacts .popup-close {width: 82px;height:95px;}
