#container-wrapper>#container-wrapper.recommended {position:relative;background: #F3F4F5;overflow: hidden;}
.recommended .container {position:relative;max-width: 1360px;margin: 0 auto;padding: 0;}
.recommended .container:before {content:'';position:absolute;width: 200px;height:100%;background: #fff;-webkit-mask-image: url("../../images/invite-mask.png");-webkit-mask-size: cover;-webkit-mask-position: 0 0;-webkit-mask-repeat: no-repeat;top: -2px;right: 100%;padding-bottom: 2px;}
.recommended #content:after {content:'';position:absolute;width: 50vw;height: 225px;background: #E9EBED;-webkit-mask-image: url('../../images/invite-mask.png');-webkit-mask-size: cover;-webkit-mask-position: 100% 0;-webkit-mask-repeat: no-repeat;top: 0;right: 100%;opacity: 0.54;margin-right:-30px;}
.recommended #content:before {content:'';position:absolute;width: 300px;height:100%;background: #fff;-webkit-mask-image: url('../../images/invite-mask.png');-webkit-mask-size: cover;-webkit-mask-position: 100% 100%;-webkit-mask-repeat: no-repeat;bottom: -2px;margin-left: -1px;padding-bottom: 2px;left: 100%;}
.recommended #content {position:relative;padding: 60px 70px;margin: 0;width: 50%;box-sizing: border-box;background: #fff;}
.recommended:before {content:'';position:absolute;top:0;right:0;width: 50%;height:100%;background: url('../../images/invite-background.png') no-repeat 50% 50%;background-size: cover;}
.recommended h1 {font-size:60px;font-weight:400;}
.recommended h2 {font-weight: 500;font-size:18px;color:#3CCB83;line-height:26px;padding: 6px 0 40px;}
.recommended h2 b {font-weight:500;display:inline-block;vertical-align:middle;margin-top: -1px;border-bottom:2px solid #3CCB83;}
.recommended .benefit {padding-bottom:40px;}
.recommended .benefit li {font-size:13px;line-height:18px;padding: 3px 0;color:#636674;}
.recommended dt {font-size:15px;padding-bottom: 7px;font-weight:500;}
.recommended dl {padding-bottom:30px;max-width: 574px;}
.recommended .buttons {line-height:40px;}
.recommended .share .sns:after {content:'';clear:both;display:block;}
.recommended .share .sns {padding-top:20px;}
.recommended .share .sns li {float:left;}
.recommended .share .sns li+li {padding-left: 10px;}
.recommended .share .sns a:before {content:'';display:inline-block;vertical-align:middle;margin: -3px 10px 0 0;}
.recommended .share .sns a {display:block;line-height: 38px;border: 1px solid #D6D7DA;border-radius: 3px;box-shadow: 0 1px 0 rgba(0,0,0,0.05);color: #1A1B1C;font-size: 14px;font-weight: 600;padding: 0 12px;background: #fff;}
.recommended .share .sns a.fb:before {background: url(../../images/svg/sprite.layout.merge.svg) no-repeat -33px -95px #2f333b;background-size: 200px 200px;width: 10px;height: 16px;}
.recommended .share .sns a.tw:before {width:18px;height: 18px;background:url('../../images/svg/social-twitter.svg') no-repeat;background-size: contain;margin-top: -2px;}
.recommended fieldset input {float:left;width:calc(100% - 130px);}
.recommended fieldset .buttons {padding:0;width:120px;float:right;}
.recommended fieldset:after {content:'';clear:both;display:block;}
.recommended input.text, .recommended input[type="text"] {line-height:22px;padding: 9px 10px;margin-right: 6px;}
.recommended .referrals li {padding: 9px 0 9px 70px;position:relative;font-weight:500;font-size:13px;line-height: 18px;}
.recommended .referrals li small.success {color:#3CCB83;}
.recommended .referrals li small {display:block;font-size: 12px;color: #636674;font-weight: 400;}
.recommended .referrals li .avatar {position:absolute;left:0;width:54px;height:54px;background: no-repeat 50% 50% #F0F2F3;background-size:cover;border-radius: 100%;top: 50%;margin-top: -27px;}
.recommended .referrals li+li {margin-top:15px;}
.recommended .referrals h3 {font-size:15px;font-weight:500;line-height:20px;padding-bottom:8px;}
.recommended .referrals h3 b {font-size:24px;display:block;color:#3CCB83;font-weight:400;border-bottom:2px solid #3CCB83;width: 15px;margin-bottom: 11px;line-height: 36px;}
.recommended .referrals p {color:#636674;font-size:13px;line-height:17px;padding-bottom: 30px;}
.recommended .cover {display:none;}
.recommended .cover img {max-width:100%;display:block;margin:0 auto;}
@media screen and (min-width: 1800px) {
}
@media screen and (max-width: 920px) {
	.recommended .cover {display:block;}
	.recommended h1 {font-size:42px;}
	.recommended h2 {font-size:15px;}
	.recommended .container {background:#fff;padding: 0;}
	.recommended #content {padding: 30px 20px;margin:0;width: auto;}
	.recommended .container:before, .recommended #content:before, .recommended:before, .recommended #content:after {display: none;}
	.recommended .share .sns {padding-top:10px;}
	.recommended input.text , .recommended input[type="text"] {float:none;width:100%;margin-bottom:10px;}
	.recommended fieldset .buttons {float:none;width:100%;}
}

#popup_container.invite-contacts .popup.invite-contacts {display:block;}
#popup_container .popup.invite-contacts {border-radius:3px;box-shadow:0 3px 20px rgba(0,0,0,0.1);width:556px;background:#fff;}
.popup.invite-contacts .btn-area {padding:28px 38px;border:0;box-shadow:0 -1px 0 rgba(0,0,0,0.1);}
.popup.invite-contacts .buttons {display:block;line-height:48px;font-size:15px;width:100%;padding:0;}
.popup.invite-contacts h3 {font-size:22px;font-weight:700;padding:33px 38px;line-height:29px;}
.popup.invite-contacts .search {padding:0 38px 24px;}
.popup.invite-contacts .search input.text, .popup.invite-contacts .search input[type="text"] {width:100%;padding: 14px;line-height: 20px;}
.popup.invite-contacts .contact_list {padding:0 38px 24px;overflow:auto;max-height:395px;}
.popup.invite-contacts .contact_list li {display:table;width:100%;font-size:14px;line-height:20px;margin-top:10px;font-weight:500;}
.popup.invite-contacts .contact_list li:first-child {margin-top:0;}
.popup.invite-contacts .contact_list .avatar {position:absolute;top:50%;left:14px;width:38px;height:38px;border-radius:100%;background:no-repeat 50% 50%;background-size:cover;margin-top:-19px;}
.popup.invite-contacts .contact_list .selector {position:relative;display:table-cell;box-shadow: inset 0 0 0 2px rgba(217, 217, 217, 0.5);height:38px;padding:12px 62px;vertical-align:middle;border-radius: 3px;color:#1b2128;}
.popup.invite-contacts .contact_list .selector:after {content:'';position:absolute;right:16px;width:28px;height:28px;border-radius:100%;box-shadow: inset 0 0 0 2px rgba(217, 217, 217, 0.5);top:50%;margin-top:-14px;}
.popup.invite-contacts .contact_list .selected .selector, .popup.invite-contacts .contact_list .selector:hover {box-shadow:inset 0 0 0 2px rgba(122, 173, 41, 0.5);}
.popup.invite-contacts .contact_list .selected .selector:after {box-shadow:none;background:url('../../images/ico-check.png') no-repeat 50% 50% #8bbf3a;background-size:13px 10px;}
.popup.invite-contacts .popup-close {width: 82px;height:95px;}
