<div id="about" class="page">
	<div class="introduce">
		<h3 class="title">ABOUT</h3>
        <p>{{settings.about|linebreaks}}</p>
	</div>
</div>
<script>
$('#wrap').attr('class', 'merchant-about');
</script>
