<p class="ltit">Add to Collections</p>
<div class="data-frm">
	<div class="category-lists">
		<ul class="step1">
		</ul>
	</div>
</div>
<div class="btn-area">
	<button class="btns-white btn-cancel">Cancel</button>
	<button class="btns-blue-embo btn-save">Save</button>
</div>
<button class="ly-close"><i class="ic-del-black"></i></button>