<p class="ltit"><%= gettext('Change end date') %></p>
<fieldset>
    <div class="date"></div>
</fieldset>
<div class="btn-area">
    <button class="btns-blue-embo btn-change"><%= gettext('Change') %></button>
</div>
<button class="ly-close"><i class="ic-del-black"></i></button>