<p><b>Demo</b> We’ve added a demo product for you to see how your products will appear. Add your own products now to start selling.</p>
<div class="btn-area">
    <button class="btns-blue-embo btn-okay">Okay</button>
</div>
