<p class="ltit">Import form URL</p>
<fieldset>
    <input type="text" placeholder="Media URL" />
</fieldset>
<div class="btn-area">
    <button class="btns-gray-embo btn-close">Cancel</button>
    <button class="btns-blue-embo btn-save">Import</button>
</div>