<p class="ltit">Manage Tags</p>
<div class="data-frm">
	<p class="add-tags tags">
	<label class="label">Tags </label>
	<em class="multi-text">
		<input type="text" class="add">
	</em>
	<small class="comment">Tag products with descriptive keywords to easily organize them.</small></p>
</div>
<div class="btn-area">
	<button class="btns-white btn-cancel">Cancel</button>
	<button class="btns-blue-embo btn-save">Save</button>
</div>
<button class="ly-close"><i class="ic-del-black"></i></button>