<p class="ltit"><%= gettext('Preview Video') %></p>
<div class="video_player">
	<video id="myVideo" controls style='width:610px'>
		<source src="">
		Your browser does not support HTML5 video.
	</video>
</div>
<button class="ly-close"><i class="ic-del-black"></i></button>