<div id="about" class="page">
	<h2>About</h2>
	<div class="introduce editable multiline">						
			{{seller_profile.bio|safe}}
	</div>
</div>
<script>
$('#wrap').attr('class', 'merchant-about sub');
</script>
