@charset "UTF-8";

.popup.start_selling .top {background:url('../../images/normal/bg_start_store.png') no-repeat;background-size:660px 275px;}
.popup.start_selling .error-box p:after {background:url('../../images/normal/checkout.png') no-repeat;background-size:220px 310px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.popup.start_selling .top {background-image:url('../../images/retina/bg_start_store.png')}
	.popup.start_selling .error-box p:after {background-image:url('../../images/retina/checkout.png');}
}

#popup_container.start_selling .popup.start_selling {display:block;}
#popup_container .popup.start_selling {width:660px;background:#fff;border-radius:3px;overflow:hidden;}
.popup.start_selling .top {display:table;height:275px;width:100%;}
.popup.start_selling .top .title {display:table-cell;vertical-align:middle;text-align:center;color:#fff;font-size:28px;}
.popup.start_selling .top .title small {display:block;font-size:20px;font-weight:normal;opacity:0.8;padding-top:7px;}
.popup.start_selling .btn-area {padding:30px 40px 31px;border-top:1px solid #f7f7f8;}
.popup.start_selling .btn-area:after {content:'';clear:both;display:block;}
.popup.start_selling .btn-area .terms {float:left;color:#8d919a;font-size:13px;line-height:18px;text-align:left;width:60%;}
.popup.start_selling .btn-area .btn-finish {position:relative;float:right;background:none;line-height:35px;border:1px solid rgba(71,135,197,0.4);border-radius:3px;padding:0 14px;font-size:12px;font-weight:bold;color:#4e8cc7}
.popup.start_selling .btn-area .btn-finish.loading {color:#fff;border:1px solid rgba(71,135,197,0.2);cursor:default;}
.popup.start_selling .btn-area .btn-finish.loading:before {content:'';position:absolute;top:50%;left:50%;width:16px;height:11px;background:url('../../images/common/loading_blue.gif') no-repeat;margin: -6px 0 0 -8px;}
.popup.start_selling .frm {padding:39px 40px 27px;}
.popup.start_selling .frm:after {content:'';clear:both;display:block;}
.popup.start_selling .frm p {padding:0 0 13px;}
.popup.start_selling .frm .label {display:block;padding:0 0 6px;color:#8d919a;}
.popup.start_selling .frm p.focus .label {color:#4f5663;}
.popup.start_selling .frm input.text {box-sizing:border-box;-webkit-box-sizing:border-box;height:auto;box-shadow:none;width:100%;background:#f8f8f8;padding:8px 7px;}
.popup.start_selling .frm input.text[required] { box-shadow: none }
.popup.start_selling .frm p.pw1 {float:left;width:50%;width:calc(50% - 7px);width:-webkit-calc(50% - 7px);width:-moz-calc(50% - 7px);}
.popup.start_selling .frm p.pw2 {float:right;width:50%;width:calc(50% - 7px);width:-webkit-calc(50% - 7px);width:-moz-calc(50% - 7px);}
.popup.start_selling .error-box {padding:40px;}
.popup.start_selling .error-box p {position:relative;color:#4f5663;font-size:13px;line-height:19px;border-radius:3px;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);padding: 19px 19px 19px 65px;}
.popup.start_selling .error-box p:before {content:'';position:absolute;top:0;left:0;border-radius:3px 0 0 3px;width:40px;height:100%;background:#d93434;box-shadow:inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 1px 0 rgba(0,0,0,0.1);}
.popup.start_selling .error-box p:after {content:'';position:absolute;top: 10px;left: 10px;width: 21px;height: 19px;background-position: -120px -140px;}
.popup.start_selling .error-box p b {display:block;padding-bottom:4px;}