.explore .view {clear:both;padding-top:5px;}
.explore h2.title {font-weight:500;font-size:200%;padding:20px 0 10px;border-top:1px solid #D8D8D8;}
.explore .date {font-size:88%;color:#7C828A;}
.explore .article {color:#575A5E;padding:30px 0;border-bottom:1px solid #D8D8D8;}
.explore .article, .explore .article p {line-height:160%;}
.explore .article p+p {margin-top:25px;}
.explore .article img {display:block;margin:0 auto;max-width:100%;}
.explore .article img+p {margin-top:30px;}
@media screen and (max-width: 900px){
	a.buttons {display:block;}
}

.pagination {text-align:center;padding-top:50px;}
.pagination b.arrow {position:absolute;top:50%;left:50%;margin-top: -9px;z-index:1;}
.pagination .arrow:before, .pagination .arrow:after {content:'';position:absolute;top:50%;left:50%;width:7px;height:7px;background:#989ba0;transform: rotate(45deg);margin: -4px 0 0 -2px;}
.pagination .arrow:after {background:#fff;margin-left: 0px;}
.pagination a {display:inline-block;font-size:81.4%;vertical-align:middle;min-width: 30px;padding:0 5px;line-height:40px;color:#868686;background:#fff;border:1px solid #DBDBDB;}
.pagination a.current {color:#fff;background:#C51919;}
.pagination a.fst, .pagination a.last, .pagination a.prev, .pagination a.next {position:relative;text-indent:-1000em;}
.pagination a.next:before {margin-left:-4px;}
.pagination a.next:after {margin-left:-6px;}
.pagination a.fst:before {margin-left:-6px;}
.pagination a.fst:after {margin-left:-4px;}
.pagination a.fst b {margin-left:1px;}
.pagination a.last:before {margin-left:-2px;}
.pagination a.last:after {margin-left:-4px;}
.pagination a.last b:before {margin-left:-7px;}
.pagination a.last b:after {margin-left:-9px;}
@media screen and (max-width: 900px){
	.pagination a {display:none;}
	.pagination a.current, .pagination a.fst, .pagination a.prev, .pagination a.last, .pagination a.next {display:inline-block;}
	.pagination b.arrow {margin-top: -7px;}
}

.preview_list {padding:20px 0;font-size: 93.8%;}
.preview_list:after {content:'';clear:both;display:block;}
.preview_list li {padding:5px 0;white-space:nowrap;overflow:hidden;overflow:ellipsis;}
.preview_list .prev {float:left;}
.preview_list .prev small:before {content:'<';margin-right:8px;}
.preview_list .next {float:right;text-align:right;}
.preview_list .next small:after {content:'>';margin-left:8px;}
.preview_list a {color:#444444;}
.preview_list small {display:block;color:#969696;font-size: 80%;padding-bottom:4px;}
@media screen and (max-width: 900px){
	.preview_list .next, .preview_list .prev {float:none;text-align:left;}
}