@charset "UTF-8";

$img-path: "../../images/normal/";
$img-retina-path: "../../images/retina/";
$img-svg-path: "../../images/svg/";

$bgColor: #ebeced;
$defaultFont: 'Hanken Grotesk',"Helvetica Neue",sans-serif;
$serifFont: Georgia,"Times New Roman",Times,serif;
$codeFont: 'Courier New',Courier,monospace;
$defaultColor: #373d48;
$pointColor: #2785fa;
$grayColor: #8a8f9c;
$lightColor: #f2f2f2;
$defaultShadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);

@mixin set-loading($color: #949597,$width: 40px, $border: 2px) {
	content:'';
	position: absolute;
	left: 50%;
	top: 50%;
	border: $border solid $color;
	border-radius:100% !important;
	height: $width;
	opacity: 1;
	width: $width;
	margin-top: -($width/2 + $border);
	margin-left: -($width/2 + $border);
	line-height: $width;
	@include animation(pulsate,1s);
}
@mixin transform($option,$val){
	-webkit-transform: $option($val);
	-moz-transform: $option($val);
	-ms-transform: $option($val);
	-o-transform: $option($val);
	transform: $option($val);
}
@mixin animation($name,$time,$count: infinite){
	animation: $name $time ease-in-out;
	animation-iteration-count:$count;
	-webkit-animation: $name $time ease-in-out;
	-webkit-animation-iteration-count:$count;
	-moz-animation: $name $time ease-in-out;
	-moz-animation-iteration-count:$count;
}
@mixin transitions($option,$timing,$ani: ease-in-out){
	transition: $option $ani $timing;
	-webkit-transition: $option $ani $timing;
	-moz-transition: $option $ani $timing;
	-o-transition: $option $ani $timing;
}
@mixin bgGradient($start,$end,$top){
	background-image: -webkit-linear-gradient($top,$start,$end);
	background-image: -moz-linear-gradient($top,$start,$end);
	background-image: -o-linear-gradient($top,$start,$end);
	background-image: -ms-linear-gradient($top,$start,$end);
	background-image: linear-gradient($top,$start,$end);
}
@mixin calcWidth($width){
	width:calc(100% - $width);
	width:-webkit-calc(100% - $width);
	width:-moz-calc(100% - $width);
	width:-ms-calc(100% - $width);
}
@mixin text-placeholder($color: #b0b4bc){
	&::-webkit-input-placeholder {color:$color;}
	&:-moz-input-placeholder {color:$color;}
	&:-ms-input-placeholder {color:$color;}
	&.placeholder {color:$color;}
}
@mixin arrow($width,$color,$pos){
	border:$width solid transparent;
	border-#{$pos}-color:$color;
	position:absolute;
	left:50%;
	#{$pos}:100%;
	margin-left:-$width;
}
@mixin avatar($width,$radius,$bg:cover){
	width:$width;
	height:$width;
	border-radius:$radius;
	background:no-repeat 50% 50%;
	background-size:$bg;
	vertical-align:top;
}
.font-icons {font-family: 'Font Awesome 5 Free';line-height: 1;font-weight:900;}
.after:after {content:'';clear:both;display:block;}
.product-listing {
	max-width:1400px;
	.refine .refine_menu {padding:0;}
	.wrapper-content, #content {padding:0;box-shadow:none;background:none;}
	.empty {
		clear:both;
		padding:100px 0 120px;
		text-align:center;
		&:before {
			content:'';
			display:block;
			background: url("#{$img-svg-path}icon-header-b.svg") no-repeat 0 -40px;
			width:34px;
			height:34px;
			margin:0 auto 23px;
			opacity:0.7;
			background-size:400px 200px;
		}
		h3 {
			font-weight:normal;
			font-size:18px;
			line-height:24px;
			padding-bottom:6px;
			color:#555b67;
		}
		p {
			font-size:15px;
			line-height:20px;
			color:#828790;
			a {
				color:#828790;
				font-weight:bold;
			}
		}
	}
	#sidebar {
		float:left;width:215px;clear:both;position:relative;padding-bottom:20px;
		h2 {display:none;line-height:43px;text-align:center;font-size:17px;}
		.btn-apply {display:none;position:absolute;top:0;right:0;font-size:14px;line-height:43px;padding:0 14px;color:$defaultColor;font-weight:600;}
		.wrapper {
			&+.wrapper{margin-top:20px;}
			border-radius:5px;
		}
		.stit {font-size:15px;text-shadow:none;background:#f9f9f9;border-radius:5px 5px 0 0;line-height:20px;padding:8px 18px;color:$defaultColor;border-color:#ebeced;}
		&:after {@extend .after:after;}
		&.fixed {
			position:fixed;left:50%;margin-left:-700px;
			&.fixedBottom {top:auto !important;bottom:0;}
		}
		li a {
			display: block;
			line-height: 20px;
			padding: 4px 18px;
			font-weight: 600;
			font-size: 14px;
			position:relative;
			color:$defaultColor;
			&.selected, &.current {background:#f8f8f8;font-weight:900;color:#000;}
		}
		.refine_menu {
			ul {margin-top:-7px;padding:0;}
			li {
				position:relative;
				a {
					padding-left:34px;font-size:13px;line-height:18px;
					&:before {content:'';position:absolute;left:18px;margin-top:-5px;top:50%;width:8px;height:8px;border:1px solid $defaultColor;border-radius:2px;}
					&.selected:before, &.current:before {background:$defaultColor;}
					&:hover, &.selected, &.current {background:none;}
					&.show {
						position:absolute;padding:4px 18px;top:0;right:0;opacity: 0.7;text-decoration:none;
						&:before {display:none;}
						&:after {@extend .font-icons;content:'\f107';}
					}
				}
				ul {display:none;padding:4px 0 0 16px;}
				&.open {
					ul {display:block;}
					a:not(:last-child):after {transform:rotate(180deg);}
				}
			}
		}
	}
	.categories {
		ul {padding:8px 0;}
		a:hover {text-decoration:underline;}
	}
	.breadcrumb {
		color:$grayColor;font-size:13px;line-height:19px;
		a {
			color:$grayColor;
			&:hover {text-decoration:underline;}
		}
	}
	#content:not(.index) .stream>{
		li {width:calc((100% - 36px) / 3;}
		li:nth-child(4n+1) {clear:none;margin-left:18px;}
		li:nth-child(3n+1) {clear:both;margin-left:0;}
	}
	.refine_menu {
		&:after {@extend .after:after;}
		dl {float:none;width: auto;height: auto;margin: 0;overflow: visible;padding:0;}
		a.more {
			&:before, &:after {content:'';position:absolute;top:50%;right:23px;bottom:auto;width:10px;height:2px;background:#575c65;margin:-1px -5px 0 0 ;opacity:1;}
			&:after {width:2px;height:10px;margin:-5px -1px 0 0 ;}
		}
		.reset {display:none;color:$defaultColor;font-size:13px;float:right;font-weight:600;}
		&.wrapper {
			dl {
				&+dl {border-top:1px solid #ebeced;}
				&.show a.more:after {display:none;}
			}
			dt a {position:relative;font-size:14px;line-height:20px;font-weight:600;background: none;box-shadow: none;padding:8px 18px;}
			dd {position:relative;top:0;left:0;margin:0;box-shadow:none;background:none;width:auto;opacity: 1;visibility: visible;display: none;padding:7px 0 9px;border:0;}
			.keyword {
				padding:0 18px 6px;
				input {
					padding:4px 10px;background:#f9f9f9;
					&:focus {box-shadow:none;}
				}
				a.remove {width:15px;height:15px;bottom:12px;}
			}
		}
		.color ul {max-height:160px;overflow:auto;}
	}
	#content, .breadcrumb, .page-header {float:right;width:calc(100% - 235px);clear:right;}
	.page-header {
		padding-bottom:10px;
		&:first-child {padding-top:19px;}
		&:after {@extend .after:after;}
		h1 {float:left;font-size:24px;line-height:37px;}
		.count {
			float: left;font-size: 13px;margin-left: 10px;line-height: 17px;padding-top: 13px;
			b {font-weight:normal;}
		}
		.refine_menu {float: right;}
		.sort {
			dd {left:auto;right:0;}
			select {display:none;position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
		}
		.filter {display:none;float:left;width:50%;line-height:36px;font-size:15px;color:$defaultColor;font-weight:bold;text-align:center;}
		.filter:before {content:'';position:absolute;top:7px;bottom:7px;left:50%;width:1px;background:#ebeced;}
	}
	&+.admin-user-frm {margin-left:700px;}
	.profile-section .page-header {
		padding-top:0;
		.count {margin-left:0;}
	}
	&.search {
		padding-left:0;
		padding-right:0;
		max-width:none;
		> .cover {
			@include avatar(150px,0);
			display:table;
			width:100%;
			margin-top: -20px;
			background-color: #2E3B4D;
			height:90px;
			.inner {
				display:table-cell;
				vertical-align:middle;
				color:#fff;
				padding:20px;
				text-align:center;
			}
			h1 {
				font-size:28px;
				text-transform: capitalize;
				font-weight:700;
			}
		}
		.page-header {
			h1 {
				text-transform:capitalize;
				small {font-size:18px;font-weight:400;}
				&+.alternative {display:none;}
			}
			.alternative {
				float:left;clear:left;font-size:14px;
				a {color:#373d48;text-decoration:underline;font-weight:500;}
			}
		}
		.wrapper-content {
			max-width: 1400px;
			padding:0 40px;
			margin:0 auto;
		}
	}
}
.yet_product {
	text-align:center;
	font-size: 16px;
	line-height: 20px;
	color:rgba(103,110,121,0.7);
	padding: 170px 0;
	b {
		font-size: 20px;
		line-height: 22px;
		padding-bottom: 6px;
		color: $defaultColor;
	}
	p {
		font-size: 15px;
		line-height: 22px;
		color: #676e79;
		padding-bottom:34px;
		font-weight: 500;
	}
	.btns-blue-embo {
		line-height:36px;
		border-radius:18px;
		font-size:14px;
	}
}
.empty-result {
	font-size: 15px;
	line-height: 22px;
	color: #676e79;
	padding: 170px 0 34px;
	font-weight: 500;
	text-align: center;
}
.loading #infscr-loading .loading {width:100%;height:100%;top:0;left:0;}
@media screen and (max-width: 1480px) {
	.product-listing #sidebar.fixed {margin-left:0;left:40px;}
}
@media screen and (max-width: 1400px) {
	.product-listing {
		#sidebar.fixed {left:20px;}
		&.search .wrapper-content {padding-left:20px;padding-right:20px;}
	}
}
@media screen and (max-width: 800px) {
	.product-listing {
		.page-header {
			h1 {float:none;padding-bottom:10px;}
			.refine_menu {
				position:relative;float:none;background:#f9f9f9;border-radius:5px;
				.sort {
					float:right;width:50%;
					dt a {font-size:15px;background:none;text-align:center;}
					select {display:block;}
					dd {display:none !important;}
				}
				.filter {display:block;}
			}
			.count {float:none;text-align:center;}
		}
		#sidebar {
			position:fixed;top:0 !important;left:0;width:100%;height:100%;overflow:auto;display:none;background:#fff;padding:0;
			h2, .btn-apply {display:block;}
			.refine_menu {
				.reset {position:absolute;top:0;left:0;line-height:43px;font-size:14px;padding:0 14px;}
				dl+dl {margin-top:0;}
			}
			.wrapper {border-radius:0;box-shadow:none;background:none;position:static;padding:0;}
			.stit {border-radius:0;}
		}
		.breadcrumb, .page-header, #content {float:none;width:auto;}
		#content:not(.index) .stream>{
			li {float:left;width:calc(50% - 7px);margin:0 0 14px 14px;}
			li:nth-child(3n+1) {clear:none;margin-left:14px;}
			li:nth-child(2n+1) {clear:both;margin-left:0;}
		}
		.refine_menu .color ul {max-height:none;}
		&.search .page-header {
			h1 {
				padding:0;
				&+.alternative {display:block;clear:both;float:none;}
			}
			.count+.alternative {display:none;}
		}
	}
	.filter_open {
		#container-wrapper {z-index:11;}
		.product-listing #sidebar {display:block;z-index:1;}
	}
}
