.wider .giftcard #content {
  padding: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ui-datepicker {
  border: 1px solid #8f9194;
  border-radius: 3px;
  background: #fff;
  margin: 1px 0;
  padding: 0;
  width: 244px;
  text-align: center;
  min-height: 264px;
  z-index: 1 !important;
}

.ui-datepicker-header {
  position: relative;
  border: 0;
  border-bottom: 1px solid #e8e9ea;
  background: #f0f1f2;
}

.ui-datepicker-header .ui-corner-all {
  position: absolute;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}

.ui-datepicker-header .ui-corner-all .ui-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  text-indent: -1000em;
  vertical-align: top;
  overflow: hidden;
}

.ui-datepicker-header .ui-corner-all + .ui-datepicker-prev {
  left: 7px;
}

.ui-datepicker-header .ui-corner-all + .ui-datepicker-prev .ui-icon {
  margin: -5px 0 0 -5px;
  border-right-color: #8b9098;
}

.ui-datepicker-header .ui-corner-all + .ui-datepicker-next {
  right: 7px;
  text-align: right;
}

.ui-datepicker-header .ui-corner-all + .ui-datepicker-next .ui-icon {
  margin: -5px -5px 0 0;
  border-left-color: #8b9098;
}

.ui-datepicker-title {
  color: #515660;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 26px;
  line-height: 16px;
  text-align: center;
}

.ui-datepicker-calendar {
  margin: 5px auto;
  width: auto;
}

.ui-datepicker-calendar th {
  padding: 7px 0;
  font-size: 12px;
  text-align: center;
  color: #8b9098;
}

.ui-datepicker-calendar td {
  padding: 1px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 12px;
}

.ui-datepicker-calendar a {
  display: block;
  width: 24px;
  line-height: 24px;
  border-radius: 2px;
  font-size: 12px;
  color: #515660;
  text-align: center;
}

.ui-datepicker-calendar .ui-state-hover, .ui-datepicker-calendar .ui-datepicker-days-cell-over a, .ui-datepicker-calendar .ui-datepicker-days-cell-over.ui-datepicker-during a, .ui-datepicker-calendar .ui-datepicker-current-day a {
  color: #fff;
  background: #515660;
}

.ui-datepicker-calendar .ui-datepicker-during a, .ui-datepicker-calendar .ui-datepicker-during a.ui-state-hover {
  background: #f0f1f2;
  color: #515660;
}

/* giftcard */
.giftcard {
  /* purchase */
  /* redeem */
}

.giftcard .select-card .shadow {
  background: url("../../images/common/giftcard_shadow.png") no-repeat 0 100%;
}

.giftcard .card1 {
  background-image: url("../../images/normal/giftcard1.png");
}

.giftcard .card2 {
  background-image: url("../../images/normal/giftcard2.png");
}

.giftcard .card3 {
  background-image: url("../../images/normal/giftcard3.png");
}

.giftcard .card4 {
  background-image: url("../../images/normal/giftcard4.png");
}

.giftcard .card5 {
  background-image: url("../../images/normal/giftcard5.png");
}

.giftcard .card6 {
  background-image: url("../../images/normal/giftcard6.png");
}

.giftcard .card7 {
  background-image: url("../../images/normal/giftcard7.png");
}

.giftcard .card8 {
  background-image: url("../../images/normal/giftcard8.png");
}

.giftcard .card9 {
  background-image: url("../../images/normal/giftcard9.png");
}

.giftcard .card10 {
  background-image: url("../../images/normal/giftcard10.png");
}

.giftcard .card {
  background: no-repeat 50% 50%;
  background-blend-mode: darken;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  background-size: cover;
}

.giftcard .footer {
  clear: both;
  text-align: center;
  color: #717780;
  font-size: 12px;
  padding: 40px 0;
}

.giftcard .footer a {
  color: #3e434a;
}

.giftcard .show-card {
  position: relative;
  border-bottom: 1px solid #f7f7f7;
  height: 248px;
  padding: 93px 0;
}

.giftcard .select-card {
  float: left;
  width: 681px;
  padding-bottom: 4px;
  position: relative;
}

.giftcard .select-card .shadow {
  position: absolute;
  bottom: 4px;
  left: 4px;
  width: 673px;
  height: 426px;
}

.giftcard .select-card .card {
  position: relative;
  display: block;
  width: 400px;
  height: 250px;
  margin: 0 auto;
  left: -1px;
}

.giftcard .select-card .amount {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 36px;
  padding-left: 12px;
}

.giftcard .select-card .amount small {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 18px;
}

.giftcard .select-card .card1 .amount, .giftcard .select-card .card2 .amount, .giftcard .select-card .card4 .amount, .giftcard .select-card .card5 .amount, .giftcard .select-card .card6 .amount, .giftcard .select-card .card7 .amount, .giftcard .select-card .card8 .amount, .giftcard .select-card .card9 .amount {
  color: #fff;
}

.giftcard .select-card .card3 .amount {
  color: #FFFBE1;
  text-shadow: 1px 0px 0px #A88D36, -1px 0px 0px #A88D36, 0px 1px 0px #A88D36, 0px -1px 0px #A88D36;
}

.giftcard .select-card .card5 .amount {
  text-shadow: 2px 2px 0 #D60435;
}

.giftcard .select-card .card6 .amount {
  text-shadow: 2px 2px 0 #C01414;
}

.giftcard .select-card .card10 .amount {
  color: #4b596c;
}

.giftcard .buying .card-list {
  position: relative;
  margin: 4px 4px 0;
  height: 83px;
  overflow: hidden;
}

.giftcard .buying .card-list .after {
  position: relative;
  z-index: 0;
  width: 902px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}

.giftcard .buying .card-list li {
  float: left;
  margin-left: 3px;
}

.giftcard .buying .card-list li:first-child {
  margin-left: 0;
}

.giftcard .buying .card-list .card {
  display: block;
  width: 110px;
  height: 83px;
  background-position: 55% 50%;
}

.giftcard .buying .card-list .prev, .giftcard .buying .card-list .next {
  opacity: 0;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  background: #fff;
  text-align: center;
  width: 19px;
  line-height: 27px;
  z-index: 1;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13);
}

.giftcard .buying .card-list .prev i, .giftcard .buying .card-list .next i {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  width: 7px;
  height: 11px;
  background-image: url("../../images/normal/shop_index2.png");
  background-repeat: no-repeat;
  background-size: 100px 100px;
}

.giftcard .buying .card-list:hover .prev, .giftcard .buying .card-list:hover .next {
  opacity: 1;
}

.giftcard .buying .card-list .prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.giftcard .buying .card-list .prev i {
  background-position: -90px -25px;
  margin-left: -3px;
}

.giftcard .buying .card-list .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.giftcard .buying .card-list .next i {
  background-position: -80px -25px;
  margin-right: -3px;
}

.giftcard .buying .frm {
  float: right;
  padding: 2px 14px 14px;
  width: 246px;
}

.giftcard .buying .frm p {
  position: relative;
  padding: 0;
}

.giftcard .buying .frm label {
  display: block;
  color: #575d68;
  font-size: 13px;
  padding: 10px 0 6px;
}

.giftcard .buying .frm .select-boxes2, .giftcard .buying .frm .text {
  width: 100%;
  background-color: #f8f8f8;
  border-color: #D1D5D7 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.giftcard .buying .frm .calendar {
  position: absolute;
  right: 7px;
  bottom: 7px;
  width: 14px;
  height: 16px;
  background-position: -460px -140px;
}

.giftcard .buying .frm textarea.text {
  height: 101px;
}

.giftcard .buying .frm .btn-cart {
  display: block;
  width: 100%;
  margin-top: 13px;
  line-height: 33px;
  height: 35px;
  font-size: 14px;
}

.giftcard .buying .frm .recipent {
  position: relative;
}

.giftcard .buying .frm .user-list {
  display: none;
  position: absolute;
  top: 62px;
  width: 244px;
  border: 1px solid #c8cbcd;
  background: #fff;
  padding: 2px 0;
  max-height: 300px;
  overflow: auto;
  z-index: 1;
}

.giftcard .buying .frm .user-list li {
  position: relative;
  padding: 1px 5px 3px 40px;
  font-size: 12px;
  line-height: 15px;
  min-height: 32px;
  cursor: pointer;
}

.giftcard .buying .frm .user-list li:hover {
  background: #f0f0f0;
}

.giftcard .buying .frm .user-list img {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-size: cover;
  background-position: 50% 50%;
}

.giftcard .buying .frm .user-list b {
  display: block;
}

.giftcard .buying .frm .user-list small {
  display: block;
  color: #999;
}

.giftcard .redeem .wrapper {
  padding: 100px 80px;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
  border-radius: 5px;
}

.giftcard .redeem .select-card {
  width: 373px;
  padding: 13px 0;
  margin: 0 auto;
}

.giftcard .redeem .select-card .shadow {
  width: 75%;
  border-radius: 0 0 3px 3px;
  background-position: -60px 169px;
  -webkit-box-shadow: inset 0 -65px 100px #FFF, inset -200px 0 100px #FFF;
          box-shadow: inset 0 -65px 100px #FFF, inset -200px 0 100px #FFF;
  left: auto;
  top: 50%;
  border-radius: 0 0 5px 5px;
  right: 50%;
  margin-top: -200px;
}

.giftcard .redeem .select-card .card {
  background-size: 768px 988px;
  height: 233px;
  left: 0;
  width: auto;
}

.giftcard .redeem .select-card .card.default {
  background-image: url("../../images/normal/giftcard_default.png");
  background-repeat: no-repeat;
  background-size: 373px 233px;
}

.giftcard .redeem .select-card .card3 {
  background-position: 0 -253px;
}

.giftcard .redeem .select-card .card4 {
  background-position: 100% -253px;
}

.giftcard .redeem .select-card .card5 {
  background-position: 0 -504px;
}

.giftcard .redeem .select-card .card6 {
  background-position: 100% -504px;
}

.giftcard .redeem .select-card .card7 {
  background-position: 0 -755px;
}

.giftcard .redeem .select-card .card8 {
  background-position: 100% -755px;
}

.giftcard .redeem .select-card .amount {
  font-size: 33px;
}

.giftcard .redeem .select-card .amount small {
  font-size: 16px;
}

.giftcard .redeem .frm, .giftcard .redeem .success {
  float: right;
  width: calc(100% - 420px);
  position: relative;
  padding: 18px 0;
}

.giftcard .redeem .frm .text {
  width: calc(100% - 90px);
}

.giftcard .redeem .frm fieldset {
  margin-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.giftcard .redeem .frm fieldset small {
  display: block;
  padding: 12px 0 23px;
  color: #8a8f9c;
  font-size: 12px;
}

.giftcard .redeem .frm p {
  font-size: 12px;
  color: #aaaeb8;
  line-height: 18px;
}

.giftcard .redeem .frm .btn-redeem {
  width: 82px;
  padding: 0;
  line-height: 39px;
  float: right;
}

.giftcard .redeem .frm h3 {
  padding: 10px 0 18px;
  font-size: 18px;
  font-weight: 600;
}

.giftcard .redeem .success h3 {
  font-size: 20px;
  color: #383d48;
  line-height: 26px;
  padding: 30px 0 20px;
}

.giftcard .redeem .success p {
  font-size: 14px;
  line-height: 18px;
  color: #383d48;
  padding: 0 0 45px;
}

.giftcard .redeem .btn-shop {
  margin-right: 6px;
}

.giftcard .notify {
  margin: 18px 0 0;
}

.giftcard .notify li {
  float: left;
  background: #f4f5f5;
  border-radius: 5px;
  width: calc((100% - 132px)/3);
  padding: 19px 15px 19px 19px;
  line-height: 18px;
  color: #8991A5;
  margin-bottom: 18px;
  -webkit-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px rgba(220, 221, 224, 0.7);
          box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px rgba(220, 221, 224, 0.7);
}

.giftcard .notify li + li {
  margin-left: 15px;
}

.giftcard .notify b {
  display: block;
  font-weight: bold;
  color: #515867;
  padding-bottom: 4px;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .giftcard.container.shop {
    padding-left: 0;
    padding-right: 0;
  }
  .giftcard .select-card, .giftcard .redeem .frm, .giftcard .redeem .success {
    float: none;
    width: auto;
  }
  .giftcard .redeem .frm, .giftcard .redeem .success {
    padding: 0 40px;
  }
  .giftcard .redeem .wrapper {
    padding: 30px 0;
    border-radius: 0;
  }
  .giftcard .notify {
    padding: 2px 20px 2px;
  }
  .giftcard .notify li {
    float: none;
    width: auto;
  }
  .giftcard .notify li + li {
    margin-left: 0;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .giftcard .card1 {
    background-image: url("../../images/retina/giftcard1.png");
  }
  .giftcard .card2 {
    background-image: url("../../images/retina/giftcard2.png");
  }
  .giftcard .card3 {
    background-image: url("../../images/retina/giftcard3.png");
  }
  .giftcard .card4 {
    background-image: url("../../images/retina/giftcard4.png");
  }
  .giftcard .card5 {
    background-image: url("../../images/retina/giftcard5.png");
  }
  .giftcard .card6 {
    background-image: url("../../images/retina/giftcard6.png");
  }
  .giftcard .card7 {
    background-image: url("../../images/retina/giftcard7.png");
  }
  .giftcard .card8 {
    background-image: url("../../images/retina/giftcard8.png");
  }
  .giftcard .card9 {
    background-image: url("../../images/retina/giftcard9.png");
  }
  .giftcard .card10 {
    background-image: url("../../images/retina/giftcard10.png");
  }
  .giftcard .redeem .select-card .card.default {
    background-image: url("../../images/retina/giftcard_default.png");
  }
  .giftcard .buying .card-list .prev i, .giftcard .buying .card-list .next i {
    background-image: url("../../images/retina/shop_index2.png");
  }
}
/*# sourceMappingURL=giftcard.css.map */