@charset "UTF-8";


.search #search-result-empty:before {background: url("../../images/normal/invite.png") no-repeat;background-size: 300px 150px;}
.search #search-result-empty.new:before {background: url("../../images/normal/brands.png") no-repeat;background-size: 100px 100px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.search #search-result-empty.new:before {background-image: url("../../images/retina/brands.png");}
	.search #search-result-empty:before {background-image: url("../../images/retina/invite.png");}
}
.search #search-result-empty {clear:both;padding:77px 0;text-align:center;}
.search #search-result-empty:before {content:'';display:block;width:48px;height:48px;background-position:-95px -60px;margin:0 auto 20px;}
.search #search-result-empty.new:before {width:34px;height:34px;background-position:0 -40px;margin:0 auto 23px;opacity:0.7;}
.search #search-result-empty h3 {font-weight:normal;font-size:18px;line-height:24px;padding-bottom:10px;color:#555b67;}
.search #search-result-empty p {font-size:14px;line-height:20px;color:#828790;}
.search #search-result-empty.new h3 {padding-bottom:6px;}
.search #search-result-empty.new p {font-size:15px;}
.search #search-result-empty p a {color:#828790;font-weight:bold;}

.search h2 {font-size:15px;font-weight:normal;color:#373d48;opacity:0.8;padding-bottom:12px;}
.top-result:after {content:'';clear:both;display:block;}
.top-result .wrapper {float:left;margin:0 0 25px 18px;width:219px;width: calc((100%/3) - 12px);width:-webkit-calc((100%/3) - 12px);width:-moz-calc((100%/3) - 12px);}
.top-result ul {padding:7px 0;}
.top-result .wrapper:first-of-type {margin-left:0;}
.top-result a.more { display: block; clear: both; color: #6B717D; font-size: 11px; text-align: center; text-transform: uppercase; font-weight: bold; line-height: 16px; padding: 13px 12px; border-top: 1px solid #f5f5f5; }
.top-result a.more:hover {color: #7D828C;}
.top-result a:hover {text-decoration:none;}
.top-result li {position: relative;}
.top-result li:after {content:'';clear:both;display:block;}
.top-result li:first-child {border-top:0;}
.top-result .username img {position:absolute;top:50%;left:13px;width:40px;height:40px;margin-top:-20px;background: no-repeat 50% 50% #f7f7f7;background-size:cover;border-radius:3px;}
.top-result .users .username img {border-radius:100%;}
.top-result .username:after {content: '';position: absolute;top: 0;right: 0;width: 30%;height: 100%;background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);pointer-events: none;}
.top-result .username {position: relative;display:block;padding: 10px 0 10px 64px;margin-right:10px;overflow:hidden;text-overflow:clip;font-size: 12px;line-height: 16px;color: #9fa4af;white-space: nowrap;}
.top-result .username b {display:block;color:#38424c;}

.search #content {width: 690px;width: calc(100% - 249px);width: -webkit-calc(100% - 249px);width: -moz-calc(100% - 249px);}
.search #content #content {width:auto;float:none;}
.search #sidebar {position:absolute;top:0;left:50%;margin-left: 242px;width:229px;}
.search #sidebar a.see-more {display:block;line-height:42px;font-size:11px;font-weight:bold;text-align:center;box-shadow:0 -1px 0 rgba(0,0,0,0.05);color:#6b717e;text-transform:uppercase;}
.search #sidebar a.see-more:hover {text-decoration:none;}
.search .users .follow, .search .users .following {width: 47px;height: 30px;text-indent: -1000em;position: absolute;right: 0;top: 50%;margin-top: -15px;}
.search .stream li, .search .stream li:nth-child(4n+1) {clear:none;width:219px;width: calc((100%/3) - 12px);width:-webkit-calc((100%/3) - 12px);width:-moz-calc((100%/3) - 12px);margin-left: 18px;}
.search .stream > li:nth-child(3n+1) {clear:both;margin-left:0;}
.search .followers-listing li, .search .followers-listing li:nth-child(4n+1) {clear:none;width: calc((100%/3) - 12px);width:-webkit-calc((100%/3) - 12px);width:-moz-calc((100%/3) - 12px);margin-left: 18px;}
.search .followers-listing > li:nth-child(3n+1) {clear:both;margin-left:0;}
.search .figure-item figure .figure.grid {height:220px;}