@charset "UTF-8";

/* images */
.search fieldset:after, .popup .popup_close, p.error:before, .search fieldset .btn-search, .search fieldset .btn-remove {background:url('../img/icon_theme.png') no-repeat;}

* {margin:0;padding:0;border:0;vertical-align:baseline;list-style:none;quotes:none;font-style:normal;outline:none;line-height:1.45em;}
body,textarea,input,button,select {font-family:"Lora", "Georgia","Times New Roman",Times,serif;}
a {text-decoration:none;}
button {cursor:pointer;}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.after:after {content:'';width:0;height:0;display:block;clear:both;overflow:hidden;}
.hidden, #accessibility-nav {position:absolute;top:-1000em;left:-1000em;overflow:hidden;width:0;height:0;}
.inner {width:970px;margin:0 auto;}
input.text,textarea.text, .selectBox select {-webkit-appearance: none; -moz-appearance: none; appearance: none;padding: 6px 13px;height:24px;border-radius:3px;}
.selectBox {display:inline-block;position:relative;overflow: hidden;}
.selectBox:after {position:absolute;top:50%;right: -15px;margin-top:-2px;-webkit-margin-end: 30px;z-index: 0;}
.selectBox select {-webkit-padding-end:30px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;vertical-align:top;padding: 8px  8px 8px 13px;height: 38px;position: relative;z-index: 1;background: none;}
p.error {position:relative;}
p.error:before {content:'';position:absolute;top:50%;left:-24px;width:11px;height:11px;background-position:-20px 0;margin-top:-5px;}
p.error .error-msg {position:absolute;top:12px;left:13px;width:415px;}
.buttons {color:#fff;text-align:center;border-radius:3px;line-height:2.9em;width:100%;display:block;}
.buttons:disabled {opacity:0.5;cursor:default;}

#wrap {min-width:970px;}
#loading-indicator {display:none;clear:both;text-align:center;}
#loading-indicator span {display:inline-block;background:url('../img/loader.gif') no-repeat 0 50%;width:68px;height:68px;text-indent:-1000em;overflow:hidden;}
#content {position:relative;max-width:1030px;margin:0 auto;}

/* header */
#header {position:relative;max-width:1030px;margin:0 auto;min-width:970px;}
#header .logo {text-align:center;font-weight:normal;padding:28px 0 15px;}
#header .navigation {padding-bottom:27px;text-align:center;}
#header .navigation b {display:block;height:0;overflow:hidden;}
#header .navigation li {display:inline-block;padding:0 22px;}
#header .navigation a {opacity:0.5;}
#header .navigation a.current, #header .navigation a:hover {opacity:1;}

/* footer */
#footer {clear:both;text-align:center;padding-top: 78px;padding-bottom: 62px;}
#footer .logo {padding: 0 0 30px;}
#footer .copyright {opacity:0.5;padding-top: 10px;}
#footer .sns li {position:relative;display:inline-block;padding:0 7px 0 11px;}
#footer .sns li:before {content:'|';position:absolute;top:50%;left:-1px;width:1px;height:10px;margin-top:-6px;font-size:10px;line-height:1em;}
#footer .sns li:first-child:before {display:none;}

/* popup */
body.fixed {overflow-y:auto;}
body.fixed #wrap {position:fixed;left:0;width:100%;}
#popup_container {display: none;position: fixed;top: 0;left: 0;z-index: 12;width: 100%;height: 100%;background: rgba(48, 51, 57, 0.95);opacity: 0;transition: opacity 0.2s;-moz-transition: opacity 0.2s;-webkit-transition: opacity 0.2s;-o-transition: opacity 0.2s;overflow: scroll;padding: 0 24px 24px 0;}
#popup_container .popup {display:none;}
.popup {background:#fff;border-radius:3px;margin:50px auto 0;}
.popup .popup_close {position:fixed;top:50px;right:50px;width:17px;height:17px;background-position:-40px 0;}
.page {display:none}

/* about */
#popup_container.merchant-about .popup.merchant-about {display:block;}
.popup.merchant-about {width:621px;}
.popup.merchant-about .title {text-align:center;padding:57px 0 18px;width:400px;margin:0 auto;border-bottom:2px solid;font-weight:normal}
.popup.merchant-about .title small, .popup.merchant-about .logo {display:none;}
.popup.merchant-about .introduce {padding:50px 75px 0;min-height:390px}
.popup.merchant-about p {padding-bottom:22px;}
.popup.merchant-about .slogan {border-top:1px solid #f0f0f0;text-align:center;padding:23px 0;}

/* policy */
#popup_container.merchant-policy .popup.merchant-policy {display:block;}
.merchant-policy {width:621px;}
.merchant-policy .title {text-align:center;text-transform:uppercase;padding:57px 0 27px;font-weight:normal;}
.merchant-policy .title:after {content:'';display:block;width:400px;margin:40px auto 0;width:400px;height:2px;background:#b29a76;}
.merchant-policy p {line-height:20px;padding-bottom:20px;color:#5d5d5d;}
.merchant-policy .agreement {padding:0 75px 50px;}
.merchant-policy h4 {font-weight:bold;text-transform:uppercase;padding:22px 0 23px;}

/* contact */
#popup_container.merchant-contact .popup.merchant-contact {display:block;}
.popup.merchant-contact {width:621px;}
.popup.merchant-contact .title {text-align:center;padding:57px 0 18px;width:400px;margin:0 auto;}
.popup.merchant-contact .title small {display:block;font-weight:normal;margin-top:-2px;}
.popup.merchant-contact address {border-top:1px solid #f0f0f0;padding:25px 92px;}
.popup.merchant-contact address b, .popup.merchant-contact address span {display:block;line-height:1.3em;}
.popup.merchant-contact fieldset {padding:34px 90px 40px;}
.popup.merchant-contact p {position:relative;margin-bottom:20px;}
.popup.merchant-contact p.error:before {margin:0;top:18px;}
.popup.merchant-contact .text {padding: 12px 13px;width: 415px;}
.popup.merchant-contact .text.msg {height:98px;}
.popup.merchant-contact .btn-send {margin-top:10px;}
.popup.merchant-contact .complete {line-height:0.8em;padding:322px 0;text-align:center;}
.popup.merchant-contact .complete b {display:block;}

/* home */
.home .cover {position:relative;height:380px;overflow:hidden;padding-bottom:70px;}
.home .cover .slide {position:relative;height:380px;overflow:hidden;white-space:nowrap;}
.home .cover .slide li{width:100%;margin: 0;padding:0;float: none;display: inline-block;height:auto;}
.home .cover img {max-width:100%;vertical-align:top;}
.home .cover .paging {position:absolute;width:100%;left:0;top:380px;text-align:center;}
.home .cover .paging a {display:inline-block;width:6px;height:6px;text-indent:-1000em;border-radius:3px;overflow:hidden;}
.home .copy {display:none;}
.featured h3:after {display:none;}
.minimum-list h3 {float:left;width:50%;}
.minimum-list h3:after {content:'|';margin-left:4px;}
.minimum-list li {position:relative;float:left;width:230px;height:230px;margin:16px 0 0 16px;text-align:center;line-height: 230px;display:table;}
.minimum-list a {vertical-align:middle;position:relative;z-index:1;display:table-cell;width:auto;padding:0 10px;}
.minimum-list img {width:100%;height:100%;background:no-repeat 50% 50%;background-size:cover;background-position:50% 50%;position: absolute;top: 0;left: 0;}
.home .featured li:first-child {width:477px;height:477px;margin-left:0;line-height: 475px;}
.minimum-list li:before {display:none;opacity:0;content:'';background:rgba(0,0,0,0.7);position:absolute;top:0;left:0;width:100%;height:100%;z-index: 0;}
.minimum-list a:before {content:'';opacity:0;position:absolute;top:0;left:0;width:100%;height:100%;background: rgba(0,0,0,0.7);z-index: 1;}
.minimum-list .price:after {position:absolute;content:'';width:60px;height:1px;top: -11px;left:50%;margin-left:-30px;opacity:0;}
.minimum-list li:hover a:before, .minimum-list li:hover:before, .minimum-list li:hover .price:after, .minimum-list li:hover .title, .minimum-list li:hover .username, .minimum-list li:hover .price {opacity:1;z-index: 1;}
.minimum-list .title {position: relative;font-weight:normal;opacity:0;}
.minimum-list .username {position: relative;opacity:0;}
.minimum-list .price {position: relative;display: block;margin-top: 25px;opacity:0;padding-bottom:7px;}
.minimum-list li:first-child {margin-left:0;}
.minimum-list .after {clear:both;}
.minimum-list .more {float:right;width:50%;text-indent:4px;padding:0;}
.minimum-list .count {position:absolute;top: 115px;left:0;width:100%;text-align:center;margin-top: -12px; height:24px;white-space:nowrap; overflow:hidden;text-overflow:ellipsis; opacity:0;z-index: 1;}
.minimum-list li:hover .count {opacity:1;}
.home .sale {padding: 54px 0 60px;}
.home .featured h3 {width:auto;float:none;text-align:center;}
.home .featured h3:after {display:none;}

/* sub */
.sub #header:after,.sub .search:after {content:'';width:100%;height:1px;display:block;clear:both;}
.search {position:relative;z-index:1;}
.search .sort li {position:relative;float:left;padding:0 20px 0 14px;}
.search .sort a {display:block;padding:0 16px;margin-bottom:7px;}
.search .sort .mn-sort {padding:18px 16px;margin:0;}
.search .sort small {display:none;position:absolute;top:59px;left:14px;border:1px solid rgba(0,0,0,0.06);white-space:nowrap;min-width:137px;background:#fff;padding:10px 0 2px;}
.search .sort li:hover small {display:block;}
.search .sort .mn-sort:after {display:inline-block;vertical-align:middle;margin:2px 0 0 8px;}
.search a.back {padding:18px 27px;float:left;}
.search a.back:before {display:inline-block;vertical-align:middle;margin:-3px 6px 0 0;}
.search fieldset {position:relative;float:right;padding:18px 30px 18px 0;}
.search fieldset input {width:229px;}
.search fieldset.searched:after {background-position: -20px 0px;}
.search fieldset .btn-search {content:'';position:absolute;top:50%;right:31px;width:12px;height:13px;margin-top:-7px;text-indent:-1000em;}
.search fieldset .btn-remove {display:none;width:8px;height:7px;vertical-align:middle;margin-left:3px;background-position:-60px 0;opacity:0.5;text-indent:-1000em;position: absolute;right: 31px;top: 50%;margin-top: -3px;}

.others h3 {text-align:center;}
.others {padding-bottom:33px;}

/* sub > list */
.list .cover, .list .tail-copy {display:none;}
.list .figure-list {clear:both;min-height:600px;}
.list .figure-list h2 {font-weight:normal;padding: 22px 0 8px;}
.list .figure-list h2 small {display:block;}
.list .stream li {float:left;text-align:center;padding: 25px 0 15px 15px;width: 313px;}
.list .stream li:nth-child(3n+1) {padding-left:0;clear:both;}
.list .stream .figcaption {display:block;padding: 12px 0 18px;}
.list .stream .title {display:block;padding: 0 0 9px;font-weight:normal;position: relative;}
.list .stream .title:after {content:'';position:absolute;bottom:0;left:50%;margin-left: -28px;width:56px;height:1px;}
.list .stream .price {display:block;padding: 10px 0 0;}
.list .stream img {width: 313px;height:477px;background:no-repeat 50% 50%;background-size:cover;vertical-align:top;}
.list .collection-list {padding: 52px 0 43px;}
.collection h2 {font-weight:normal;padding:40px 0 6px;width:970px;margin:0 auto;}
.collection .cover img {display:none;}
.collection-list li {height: auto;margin-bottom:30px;}
.collection-list li:nth-child(4n+1) {margin-left:0;}
.collection-list li:before {display:block;}
.collection-list a:before {display:none;}
.collection-list a {position:static;padding: 0;display: block;}
.collection-list img {display:block;height:230px;position: static;}
.collection-list li:before {height:230px;}
.collection-list .title {position:relative;display:block;opacity: 1;padding:14px 0 10px;}
.collection-list .title:after {content:'';position:absolute;bottom:0;left:50%;margin-left:-28px;width:56px;height:1px;}
.collection .collection-list {padding-bottom:56px;}

/* sub > product */
.things .figure-item .photo {position:relative;height:500px;width:500px;padding: 23px 0 85px;}
.things .figure-item .zoom {line-height:498px;}
.things .figure-item .zoom img {max-width:500px;max-height:500px;vertical-align:middle;}
.things .figure-item .figure-list {position:absolute;top: 534px;left: 0;}
.things .figure-item .figure-list li {float:left;margin-left:10px;}
.things .figure-item .figure-list li:first-child {margin-left:0;}
.things .figure-item .figure-list a {position:relative;display:block;opacity:0.5;}
.things .figure-item .figure-list img {width: 75px;height: 75px;vertical-align:top;background:no-repeat 50% 50%;background-size:cover;}
.things .figure-item .figure-list a.current {opacity:1;}
.things .figure-item .info {float:right;width:440px;}
.things .figure-item .title {line-height: 1.15em;font-weight:normal;margin: 30px 0 19px;margin-left: -6px;}
.things .figure-item .price {margin-bottom: 26px;}
.things .figure-item .price b {font-weight:normal;}
.things .figure-item .frm p {float:left;padding-bottom:20px;}
.things .figure-item .frm .label {display:block;padding: 4px 0 8px;}
.things .figure-item .frm .btn-cart {clear:both;}
.things .figure-item .frm .option {padding-right:20px;}
.things .figure-item .frm .option select {width: 298px;}
.things .figure-item .frm .qty .text {width:92px;padding: 7px 13px;}
.things .figure-item .frm .qty select {width:118px;}
.things .figure-item .frm .text, .things .figure-item .frm .selectBox {background:#fff;border:1px solid #efefef;}
.things .figure-item .detail {position:relative;padding-top:38px;}
.things .figure-item .detail li {float:left;line-height:1.4em;padding:0 15px;border-left:2px solid #f0f0f0;margin-bottom: 18px;}
.things .figure-item .detail li a {position:relative;display:block;}
.things .figure-item .detail li:first-of-type {padding-left:0;border-left:0;}
.things .figure-item .detail li a.current:after {position:absolute;bottom:1px;left:0;width:100%;height:1px;content:'';}
.things .figure-item .detail dl {clear:both;}
.things .figure-item .detail dd {clear:both;display:none;line-height:1.65em;}
.things .figure-item .detail dt {display:none;}
.things .figure-item .detail .current dd {display:block;}
.similar h3, .others h3 {text-align:center;width: auto;float: none;}
.similar h3:after, .others h3:after {display:none;}
.similar {padding:110px 0 33px;clear: both;}

#common-widget .cart_popup {right: 10px;background: #FFF;top: 50px;position: absolute;border-radius: 3px;-webkit-box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3),0 0 1px rgba(0, 0, 0, 0.4);-moz-box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3),0 0 1px rgba(0, 0, 0, 0.4);-ms-box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3),0 0 1px rgba(0, 0, 0, 0.4);-o-box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3),0 0 1px rgba(0, 0, 0, 0.4);box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3),0 0 1px rgba(0, 0, 0, 0.4);z-index: 11;opacity: 0;-webkit-transform-origin: 100% 0;transform-origin: 100% 0;transform: scale(0);-webkit-transform: scale(0);transform: scale(0);-webkit-transition: all 0.3s cubic-bezier(0.7, 1.2, 0.5, 1);transition: all 0.3s cubic-bezier(0.7, 1.2, 0.5, 1);}
#common-widget .cart_popup.show {opacity:1;-webkit-transform: scale(1);transform: scale(1);}

/* sub > search result */
.search-result h2 {font-weight:normal;padding: 20px 0 0;}
.search-result .no-result {margin-top:-6px;padding:0 0 250px;}
.search-result .no-result b {font-weight:normal;}

/* customize - text  */
*::-webkit-input-placeholder {color:#bbbbbb}
*:-moz-placeholder {color:#bbbbbb}
*:-ms-input-placeholder {color:#bbbbbb}
#footer, #footer a, .minimum-list li a {color:#fff;}
.things .figure-item .detail li a {color:#bbbbbb}
body, a, .things .figure-item .detail li a.current, .collection-list li a .title {color:#464646;} /* basic color */
.sort small a {color:#bfbfbf;}
.sort small a.current, .sort small a:hover {color:#ad936c;} /* point color */
p.error .error-msg {color:#ca2027;}
.minimum-list .count {color:#fff;}
#header .logo a {font-size:54px;}
#footer .logo, .popup.merchant-about .title,.merchant-policy .title, .popup.merchant-contact .title {font-size:40px;}
.things .figure-item .title {font-size:38px;}
.search-result h2, .collection h2, .list .figure-list h2 {font-size:28px;}
.popup.merchant-contact .title small, .buttons, .things .figure-item .price {font-size:20px;}
#header .navigation, .minimum-list h3, .minimum-list .more,.minimum-list .count, .minimum-list li a, .list .figure-list h2 small, .collection-list li, .popup.merchant-about .slogan, input.text,p.error .error-msg, textarea.text, p.error, .search .sort a, .search fieldset input, .others h3, .search-result .no-result, .search a.back, .selectBox select, .text {font-size:16px;}
.popup.merchant-about .introduce, .things .figure-item .detail,.merchant-policy p,.merchant-policy h4  {font-size:14px;}
#footer .sns {font-size:13px;}
.things .figure-item .frm .label {font-size:12px;}

/* custiomize arrow */
.selectBox:after, .search .sort .mn-sort:after, .search a.back:before {content:'';width:0;height:0;overflow:hidden;border:4px solid transparent;}
.selectBox:after, .search .sort .mn-sort:after {border-top-color:#b9b9b9;}
.search a.back:before {border-right-color:#b9b9b9;}

/* customize - background  */
#content, #header, .minimum-list .price:after {background:#fff;}
.sub #header:after,.sub .search:after {background:#ececec;}
body {background:#f8f8f8;}
.home .cover .paging a {background:#dedede;}
#footer {background:#2b2b2b;}
.home .cover .paging a.current {background:#464646;} /* basic color */ 
.buttons, .list .figure-list .title:after, .things .figure-item .detail a.current:after, .collection-list .title:after {background:#b29a76;} /* point color */
.popup.merchant-about .title {border-bottom-color:#b29a76;} /* point color */
.text,p.error .error-msg, .selectBox {background:#f0f0f0;} /* form */

/* customize - alignment  */
.things .figure-item .photo {float:left;}
.home h3, .collection-list h3 {text-align:right;}
.search-result h2 {text-align:left;}

/* sales price */
.minimum-list .price.sales small.before {font-size:1em;color: #b0b0b0;text-decoration:line-through;}
.minimum-list .price.sales {color: #fff;}
.list .stream .price.sales small.before, .things .figure-item .price.sales small.before, .cart .order-list tbody td.price.sales small.before, #common-widget .cart_popup tbody td.price.sales small.before {font-size:1em;color: #b0b0b0;text-decoration:line-through;font-weight:normal;}
.list .stream .price.sales, .things .figure-item .price.sales b, .order .order-list tbody td.price.sales, #common-widget .cart_popup tbody td.price.sales {color: #ca2027;}
.cart .order-list tbody td.price.sales small.before, #common-widget .cart_popup tbody td.price.sales small.before {display:block;}
