{% load pipeline_assets %}{% load i18n %}{% load humanize %}{% load seller_themes %}{% load fancy_custom_filters %}<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{seller_profile.brand_name}} - Reset Password</title>
	<link rel="apple-touch-icon" sizes="114x114" href="{% pipeline_url '_ui/images/ios-114.png' %}">
	<link rel="apple-touch-icon" sizes="57x57" href="{% pipeline_url '_ui/images/ios-57.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% pipeline_url '_ui/images/ios-72.png' %}">
	<link rel="shortcut icon" href="{% pipeline_url '_ui/images/favicon.ico' %}" type="image/x-icon" />
    {% pipeline_css 'themes/_common/css/checkout.css' %}
	{% pipeline_compressed_js 'shop_common.min.js' %}
</head>
<body>
<div id="checkout">
	<div id="reset-password" class="sign signin">
        {% if logo_url %}<h1 class="logo"><a href="{{ store_url }}"><img src="{{ logo_url }}" alt="" /></a></h1>{% endif %}
        <h2>Change Password</h2>
		<fieldset style="border-top:none;">
			<p><input type="password" name="new_password" class="text" placeholder="{% trans 'New password, at least 6 characters.' %}" />
            <span class="error-msg" data-msg-empty="{% trans 'Please set your password, at least 6 characters.' %}">{% trans 'Please set your password, at least 6 characters.' %}</span></p>
			<p><input type="password" name="confirm_password" class="text" placeholder="{% trans 'Confirm Password' %}" />
            <span class="error-msg" data-msg-empty="{% trans 'Please confirm your password.' %}">{% trans 'Please confirm your password.' %}</span></p>
			<div class="btn-area">
				<button class="btn-reset" disabled>{% trans 'Change Password' %}</button>
                <a href="{% url 'store_front_login' seller_name=owner.username %}" id="go-login" class="go-pw">{% trans 'Sign In' %}</a>  
            </div>
		</fieldset>
	</div>

<div id="fb-root"></div>
<script type="text/javascript">
jQuery(function ($) {
    var View = namespace('Fancy.View'), globals = namespace('Fancy.globals');

    View.ResetPassword = Backbone.View.extend({
		el : '#reset-password',
		events : {
			'click .btn-reset' : 'onReset',
			'click a.go-back' : 'onGoBack',
			'click span.error-msg' : 'onClickErrorMsg',
			'focus input' : 'onFocusInput',
			'keyup input' : 'onConfirm'
		},
		initialize : function(options) {
			_.bindAll(this, 'render');
		},
		close : function() {
			return this;
		},
		render : function() {
			return this;
		},
		onConfirm: function(e) {
			var $confirm_password = this.$('input[name=confirm_password]');
			var $new_password = this.$('input[name=new_password]');
			if ($new_password.val() == $confirm_password.val()) {
				this.$('.btn-reset').prop('disabled', false);
			} else {
				this.$('.btn-reset').prop('disabled', true);
			}
		},
		onReset: function(e){
			if(e.type=='keypress' && e.which != 13) return;

			var $this = this;
			var $target = $(e.currentTarget);
			var $new_password = this.$('input[name=new_password]');
			var $confirm_password = this.$('input[name=confirm_password]');
			var isValid = true;
			if(!$new_password.val() || $new_password.val().length < 6 ){
				var $errorMsg = $new_password.parent().addClass("error").find("span.error-msg");
				$errorMsg.text($errorMsg.attr("data-msg-empty"));
				isValid = false;
			}
			if($new_password.val() != $confirm_password.val()){
				var $errorMsg = $confirm_password.parent().addClass("error").find("span.error-msg");
				$errorMsg.text($errorMsg.attr("data-msg-empty"));
				isValid = false;
			}
			if(!isValid) return;
			$target[0].disabled = true;
			$this.$el.addClass('loading');
			$.post('{% url 'store_front_reset_password_json' seller_name=owner.username %}', 
				   {'password': $new_password.val(), 'code' : '{{reset_request.code}}', 'callback':''},
				   function(response){
					   if (response.status_code != undefined && response.status_code == 1) {
						   alert('Your password has been changed.');
                           $('#go-login')[0].click();
					   } else if (response.status_code != undefined && response.status_code == 0) {
						   alert(response.message);
					   }
					   $target[0].disabled = false;
					   $this.$el.removeClass('loading');
				   },
				   'json'
				  );
			
		},
		onGoBack: function(e){
            if (e) e.preventDefault();
			history.go(-1);
		},
		onClickErrorMsg: function(e){
			var $target = $(e.currentTarget);
			$target.parent().removeClass("error").find("input").trigger("focus");
		},
		onFocusInput: function(e){
			var $target = $(e.currentTarget);
			$target.parent().removeClass("error");
		}

	});


    namespace('Fancy.globals').viewResetPassword = new Fancy.View.ResetPassword();
});

</script>
{% include "seller_themes/_common/_tracking.html" %}
</body>
</html>
