@charset "UTF-8";

@import url("../../../common/css/font/interUI/inter-ui.css"); 

input[type="checkbox"] {-webkit-appearance: none;width:16px;height:16px;border:1px solid #D6D7DA;border-radius:3px;background:none;vertical-align: middle;}
input[type="checkbox"]:checked {background:url('../../../common/images/svg/ico-check-white.svg') no-repeat 50% 50% #ff4c5f;background-size:8px;border:0;}

.hidden {display:none;}
.sign, .sign .frm .buttons {font-family: 'Inter UI';}
.sign {position:relative;}
.sign:after {content:'';clear:both;display:block;}
.sign .slideshow {position:absolute;top:0;left:0;width: calc(100% - 520px);width: -webkit-calc(100% - 520px);width: -moz-calc(100% - 520px);width: -moz-calc(100% - 5px);idth: -moz-calc(100% - 416px);height:100%;overflow: hidden;border-radius: 5px 0 0 5px;opacity: 0.85;}
.sign .slideshow .slide-item {display:table;position:absolute;top:0;left: 0 !important;z-index:0;height:100%;width:100%;opacity: 0;transition: opacity 0.5s;-webkit-transition: opacity 0.5s;-moz-transition: opacity 0.5s;}
.sign .slideshow .slide-item[style="opacity: 0; left: 0px;"] {z-index:1;}
.sign .slideshow .slide-bg {display:table-cell;vertical-align:bottom;color:#fff;padding: 57px 30px;font-size: 16px;line-height: 23px;font-weight: 500;background: no-repeat 50% 50%;background-size: cover;}
.sign .slideshow .slide-bg p {position:relative;z-index: 1;display: none;}
.sign .slideshow .slide-bg b {display:block;font-size: 24px;line-height: 30px;padding-bottom: 8px;font-weight: 500;}
.sign .slideshow .pagination {position:absolute;bottom: 30px;left: 30px;height:4px;padding: 0;display: none;}
.sign .slideshow .pagination a {display:inline-block;width:35px;height:4px;vertical-align:top;background:#fff;opacity:0.2;text-indent: -1000em;}
.sign .slideshow .pagination a.current {opacity:1;}
.sign .signup:after {content:'';clear:both;display:block;}
.sign .sns .frm .terms {padding: 13px 0;}
.sign .sns .frm h3 {padding-bottom:20px;}
.sign .sns .frm fieldset p {padding-bottom: 10px;}
.sign .signup {float: right;display: table;position: relative;width: 520px;padding: 80px 50px 108px;box-sizing: border-box;height:720px;}
.sign .frm h3 {text-align:center;font-size: 16px;font-weight: 500;border: 0;margin: 0;padding: 0;}
.sign .frm h3 small {display:none;padding: 19px 0 0;font-size: 1em;color: #2d2d2d;}
.sign .frm h3 small.default {display:block;}
.sign .frm h3 b {display:none;}
.sign .frm h3:before {content:'';display:block;background: url("../../images/svg/logo.svg") no-repeat 50% 50%;width: 166px;height: 40px;margin: 0 auto;text-indent: -1000em;background-size: contain;}
.sign .frm input[type="text"], .sign .frm input.text:focus {background-color:transparent;}
.sign .frm a.find-pw {position:absolute;bottom: 28px;right: 11px;width: 22px;height:22px;border-radius: 100%;background:rgba(0,0,0,0.13);padding: 1px;}
.sign .frm a.find-pw em {display:block;height:22px;background:#fff;border-radius: 100%;text-align: center;line-height: 22px;font-weight: 700;color: rgba(27, 33, 40, 0.6);}
.sign .frm a.add {color:#1a1b1c;font-weight: 600;}
.sign .frm a.add small {color:#5F6366;font-weight: 400;}
.sign .frm .buttons[disabled] {background:#CECECE;}
.sign .frm .buttons {line-height:48px;display:block;position: absolute;left: 50px;width: calc(100% - 100px);bottom: 60px;}
.sign .frm .others {padding: 30px 0 0;line-height:20px;text-align:center;font-size: 13px;}
.sign .frm .others a {color:#2685fa;}
.sign .frm .others a.login {display:block;line-height: 40px;margin: 9px auto 0;font-size: 14px;font-weight:700;color:#3d4048;background:#f0f2f2;border-radius:3px;max-width: 126px;float: none;}
.sign .frm .terms a {float:none;width:auto;display:inline;font-size:11px;line-height: 16px;color: #1b2128;font-weight: 400;}
.sign .frm .signin .buttons {position:relative;bottom:0;left:0;width:100%;}
.sign .frm .signin fieldset {padding-top:30px;}	
.sign .frm .signin .sns {padding-top: 100px;}
.sign .frm .sns {padding-top: 20px;}
.sign .frm .sns:after {content:'';clear:both;display:block;}
.sign .frm .sns > a {float:left;margin-bottom:20px;line-height: 48px;width: 49%;width: calc(50% - 8px);width: -webkit-calc(50% - 8px);width: -moz-calc(50% - 8px);text-align: center;font-size: 14px;font-weight: 700;color: #fff;border-radius: 3px;}
.sign .frm .sns > a.btn-fb {background:#3b5998;}
.sign .frm .sns > a.btn-tw {float:right;background:#4099ff;}
.sign .frm .step3 h4:first-of-type {padding-top:0;}
.sign .frm .popup-close {width: 48px;height: 48px;right: -24px;top: -24px;}
.sign .frm .popup-close:before {content:'';display:block;background:url("../../../gear/images/svg/article_close.svg") no-repeat;width: 48px;height: 48px;margin: -24px 0 0 -24px;opacity: 1;}
.sign .frm .prev {position:absolute;top:0;left:0;padding: 34px 50px;opacity:0;transition: opacity 0.22s;-webkit-transition: opacity 0.22s;-moz-transition: opacity 0.22s;}
.sign .frm .prev:before {content:'';display:block;width: 10px;height: 17px;background:url("../../../common/images/sign_prev.png") no-repeat;opacity:0.8;}
.sign .frm .checklist {padding: 0 0 10px;}
.sign .frm .checklist li {line-height:18px;padding: 0;font-size: 12px;}
.sign .frm .checklist a {float:none;width:auto;display:inline;font-size:13px;line-height: 18px;color: #4978b3;font-weight: 400;}
.sign .frm input[type="text"], .sign .frm input.text, .sign .frm select {padding: 13px 15px;line-height: 20px;width: 100%;background-color: #F0F2F2;border-color: #F0F2F2;}
.sign .frm input[type="text"]:focus, .sign .frm input.text:focus, .sign .frm select:focus {background-color:transparent;}
.sign .frm .terms {font-size:11px;line-height:16px;color:#81848b;margin: 0 auto;padding: 20px 0 0;text-align: center;max-width: 260px;}
.sign .frm .btn-back {position:absolute;top:0;left:0;padding: 34px 50px;background: none;bottom: auto;width: auto;line-height: 19px;color: #7C8084;font-size: 14px;font-weight: 500;z-index:3;text-transform: none;}
.sign .frm .btn-back:before {content:'';display: inline-block;width: 6px;height: 9px;background:url("../../../common/images/sign_prev.png") no-repeat;background-size: contain;vertical-align: middle;margin: -3px 6px 0 0;}
.sign .frm .tags {padding-bottom: 10px;}
.sign .frm .tags:after {content:'';clear:both;display:block;}
.sign .frm .tags .btn-del:before {content:'';display:inline-block;vertical-align:middle;width:9px;height:9px;background: url('../../../common/images/svg/popup-close.svg') no-repeat;background-size: contain;}
.sign .frm .tags .btn-del {padding: 0 13px;display:inline-block;vertical-align:middle;margin:-3px -10px 0 0;}
.sign .frm .tags li {font-size:13px;margin-top:10px;float: left;border: 2px solid #F0F2F2;border-radius: 4px;padding: 0 10px;line-height: 31px;font-weight: 600;margin: 10px 10px 0 0;vertical-align: top;}
.sign .frm .uploader {position:relative;padding: 0;line-height: 48px;background: #F0F2F2;border-radius: 3px;color: rgba(47, 51, 59, .6);font-size: 14px;margin: 4px 0 6px;}
.sign .frm .uploader b {float:left;width: 60px;border-right: 2px solid #fff;padding: 0 15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight: 400;}
.sign .frm .uploader span {float:left;width: calc(100% - 122px);padding: 0 15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sign .frm .uploader input {position:absolute;left:0;top:0;opacity:0;width: 100%;height: 100%;}
.sign .frm .uploader.loading em {color:#fff;}
.sign .frm .uploader.loading:after {content:'';border: 2px solid #ccc;border-radius:100%;height: 14px;width: 14px;position:absolute;top:50%;left:50%;margin:-9px 0 0 -9px;animation: pulsate 1s ease-out;animation-iteration-count:infinite;-webkit-animation: pulsate 1s ease-out;-webkit-animation-iteration-count:infinite;-moz-animation: pulsate 1s ease-out;-moz-animation-iteration-count:infinite;background: none;z-index: 8;}
.sign .frm .uploader em {background:#fff;display:block;text-align: center;border: 1px solid #D6D7DA;border-radius: 3px;box-shadow: 0 1px 0 rgba(0,0,0,0.05);color: #2F333B;font-size: 14px;font-weight: 500;}
.sign .frm .uploader em:before {content:'→';display:inline-block;vertical-align:middle;transform: rotate(-90deg);margin: -3px 4px 0 0;}
.sign .frm fieldset+.buttons {margin-top:37px;}
.sign .frm fieldset+.buttons:last-child {margin-bottom:20px;}
.sign .frm fieldset p {position:relative;clear:both;padding-bottom: 16px;}
.sign .frm fieldset p.left {float:left;width:48%;width: -webkit-calc(50% - 8px);width: -moz-calc(50% - 8px);clear:none;}
.sign .frm fieldset p.right {float:right;width:48%;width: -webkit-calc(50% - 8px);width: -moz-calc(50% - 8px);clear:none;}
.sign .frm input[type="checkbox"] {vertical-align:top;margin-top: 9px;}
.sign .frm input[type="checkbox"]+label {display:inline-block;vertical-align: top;padding:7px 0 7px 4px;}
.sign .frm input[type="checkbox"]+label small {opacity:0.7;font-size:12px;position: relative;top: 2px;}
.sign .frm.email .error-msg .icon {background:#8bbf3a;}
.sign .frm .notify {text-align:center;font-size: 13px;line-height: 20px;}
.sign .frm .notify .caution {position:relative;display:block;padding-top: 10px;color: #FF4C5F;text-align:left;font-weight:500;background: rgba(255, 76, 95, .17);padding:13px 13px 13px 39px;border-radius: 3px;}
.sign .frm .notify .caution:before {content:'';position:absolute;left:15px;top:50%;margin-top:-9px;width:18px;height:18px;background:url('../../images/svg/ico-caution.svg') no-repeat;}
.sign .frm .features {position:relative;padding: 16px 20px;background:rgba(240, 242, 242, .4);border-radius:3px;margin: 6px 0 20px;width: auto;display: block;}
.sign .frm .features li {font-size:13px;line-height:20px;padding: 2px 0 2px 20px;position: relative;}
.sign .frm .features li small {color:#828589;}
.sign .frm .features li i {color:#FF4C5F;font-weight:500;position: absolute;top: 2px;left: 0;}
.sign .frm .features .format {position:absolute;top: 10px;right: 12px;font-weight: 600;}
.sign .frm .features .format span {display:inline-block;vertical-align:middle;padding:0 5px;line-height:18px;font-size:10px;color:#fff;background: #CECECE;border-radius: 3px;}
.sign .frm .success {text-align:center;background:#fff;position: absolute;top: 0;padding-top: 230px;left: 0;width: 100%;height: 100%;box-sizing: border-box;}
.sign .frm .success:before {content:'';display:block;background: url("../../images/svg/logo.svg") no-repeat 50% 50%;width: 166px;height: 40px;margin: 0 auto;text-indent: -1000em;background-size: contain;}
.sign .frm .success p {font-size:13px;line-height:22px;}
.sign .frm .success h4 {padding:52px 0 20px;}
.sign .frm .success h4:before {content:'';display:block;margin: 0 auto 20px;width: 29px;height: 29px;border-radius: 100%;background: #FF4C5F;}
.sign .frm .success h4:after {content:'';position:absolute;background: url('../../../gear/images/svg/ico-check-white2.svg') no-repeat 50% 50%;width: 12px;height: 10px;background-size: contain;left: 50%;margin-left: -6px;top: 37px;}
.sign .frm h3+.default {padding-top:0;}
.sign .frm .step1 .buttons {position:relative;bottom:0;left:0;width:100%;margin-top:20px;}
.sign .frm .step1 .others {padding-top:20px;}
.sign-form .error-msg {position:absolute;left:100%;top:0;width: 175px;background: #fff;box-shadow: 0 3px 20px rgba(0,0,0,0.1);margin-left: 15px;border: 1px solid rgba(0,0,0,0.1);border-radius: 3px;font-size: 13px;line-height: 20px;padding: 14px 20px 14px 40px;opacity: 0;visibility: hidden;transition: opacity 0.5s;-webkit-transition: opacity 0.5s;-moz-transition: opacity 0.5s;}
.sign-form .error-msg:before {content:'';position:absolute;top:12px;right:100%;border:8px solid transparent;border-right-color: rgba(0,0,0,0.1);}
.sign-form .error-msg:after {content:'';position:absolute;top:13px;right:100%;border:7px solid transparent;border-right-color: #fff;}
.sign-form .error-msg .icon {position:absolute;top:13px;left:13px;width:16px;height:16px;background:#dd3d38;border-radius:100%;}
.sign-form .error-msg .icon:before {content:'';position:absolute;width:2px;height:5px;background:#fff;border-radius:1px;left:50%;top:50%;margin:-4px 0 0 -1px;}
.sign-form .error-msg .icon:after {content:'';position:absolute;width:2px;height:2px;background:#fff;border-radius:1px;left:50%;top:50%;margin:2px 0 0 -1px;}
.sign-form .error {position:relative;z-index:1;}
.sign-form .error .error-msg {visibility: visible;opacity: 1;}
.sign-form p {position:relative;clear:both;padding-bottom: 16px;}
.sign-form p.left {float:left;width:48%;width: -webkit-calc(50% - 8px);width: -moz-calc(50% - 8px);clear:none;}
.sign-form p.right {float:right;width:48%;width: -webkit-calc(50% - 8px);width: -moz-calc(50% - 8px);clear:none;}

#popup_container.animation .popup.sign {-webkit-animation: show_popup .4s ease-in-out; -moz-animation: show_popup .4s ease-in-out; animation: show_popup .4s ease-in-out;}
#popup_container.closing_animation { overflow: hidden;-webkit-animation: close_popup_container .3s ease-in-out; -moz-animation: close_popup_container .3s ease-in-out; animation: close_popup_container .3s ease-in-out;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards; }
#popup_container.closing_animation .popup.sign {-webkit-animation: close_popup .3s ease-in-out; -moz-animation: close_popup .3s ease-in-out; animation: close_popup .3s ease-in-out;animation-fill-mode: forwards;-webkit-animation-fill-mode: forwards;}
#popup_container.sign {background:rgba(255,255,255,0.9);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;box-sizing: border-box;padding-top: 10px;}
#popup_container.sign .popup.sign {width: 1240px;background:#fff;display: block;max-width: none;border-radius: 5px;box-shadow: 0 3px 20px rgba(0,0,0,0.1);min-height: 720px;max-width: 90%;}
#popup_container .popup.sign .signup.email .frm h3:before {margin-bottom:0;}
.popup.sign .signin .sign .frm .others {padding: 22px 0 0;}
.popup.sign .signup h4 {text-align:center;font-size:16px;font-weight:500;color: #FF4C5F;padding: 28px 0 27px;background: #fff;position: relative;}
.popup.sign .signup .employment-information h4 {padding-top: 60px;}
.popup.sign .signup .professional-category .multi-text {margin-top:4px;}
.popup.sign .signup .professional-category ul.tags {min-height: 64px;}
.popup.sign .signup .frm {padding: 0;display: block;vertical-align: middle;text-align: left;}
.popup.sign .signup .frm:after {content:'';clear:both;display:block;}
.popup.sign .signup .frm > div {display: none;}
.popup.sign .signup .frm > div.default {transition: opacity 0.22s;-webkit-transition: opacity 0.22s;-moz-transition: opacity 0.22s;}
.popup.sign .signup .frm > div.signin {transition: height 0.22s, opacity 0.22s;}
.popup.sign .signup .frm > div.email .error-msg .icon {background:#8bbf3a;}
.popup.sign .signup .frm > div h3:before {display:none;}
.popup.sign .signup .frm > div.default, .popup.sign .signup.login .frm > div.signin, .popup.sign .signup.email .frm > div.email, .popup.sign .signup.seller .frm > div.seller, .popup.sign .signup.sns .frm > div.sns {display: block;}
.popup.sign .signup .frm .seller {-webkit-animation: fadePopup .22s linear;-moz-animation: fadePopup .22s linear;animation: fadePopup .22s linear;}
.popup.sign .signup .frm .seller h3 {font-size:14px;color:#8bbf3a;font-weight: 400;letter-spacing: 2px;}
.popup.sign .signup .frm .seller h3 b {margin-bottom:10px;}
.popup.sign .signup .frm .seller .terms {padding: 16px 0;}
.popup.sign .signup .frm .seller .error-msg .icon {background:#8bbf3a;}
.popup.sign .signup .frm .note textarea {display:block;width:100%;height: 114px;background: #F0F2F2;border: 0;resize: none;padding: 13px 15px;}
.popup.sign .signup.login .frm h3 small.default {display:none;}
.popup.sign .signup.login .frm h3 small.signin {display:block;}
.popup.sign .signup.email .frm > div.default, .popup.sign .signup.sns .frm > div.default, .popup.sign .signup.login .frm > div.default {display: none;}
.popup.sign .signup.email .frm h3 {padding-top:0;}
.popup.sign .signup.email .frm h3 small.default {display:none;}
.popup.sign .signup.email .frm h3 small.email {display:block;}
.popup.sign .signup.email .frm .prev {opacity:1;}
.popup.sign .signup.seller .frm h3 {color:#2da2c9;padding-top: 20px;font-size: 13px;letter-spacing: 0.1em;}
.popup.sign .signup.seller .frm h3 small {margin: -33px 0 0 180px;text-align: left;}
.popup.sign .signup.seller .frm > div.default {opacity: 0;visibility: hidden;}
.popup.sign .signup.seller .frm h3 small.default {display:none;}
.popup.sign .signup.seller .frm h3 small.seller {display:block;}
.popup.sign .signup.sns .frm .prev {opacity:1;}
.popup.sign .signup.sns .frm h3 small.default {display:none;}
.popup.sign .signup.sns .frm h3 small.sns {display:block;}
.popup.sign .signup.show .frm {overflow:hidden;}
.popup.sign .signup.show .frm > div {transition:left 0.22s;-webkit-transition:left 0.22s;-moz-transition:left 0.22s;}
.popup.sign .signup.show .frm > div.email, .popup.sign .signup.show .frm > div.sns {-webkit-animation: show_email .22s linear; -moz-animation: show_email .22s linear; animation: show_email .22s linear;}
.popup.sign .signup.show .frm > div.default {-webkit-animation: hide_default .22s linear; -moz-animation: hide_default .22s linear; animation: hide_default .22s linear;}
.popup.sign .signup.hide .frm {overflow:hidden;}
.popup.sign .signup.hide .frm > div {transition:left 0.22s;-webkit-transition:left 0.22s;-moz-transition:left 0.22s;}
.popup.sign .signup.hide .frm > div.email, .popup.sign .signup.hide .frm > div.sns {-webkit-animation: hide_email .22s linear; -moz-animation: hide_email .22s linear; animation: hide_email .22s linear;}
.popup.sign .signup.hide .frm > div.default {-webkit-animation: show_default .22s linear; -moz-animation: show_default .22s linear; animation: show_default .22s linear;}
.popup.sign .multi-text {text-transform:capitalize;position: relative;}
.popup.sign .multi-text .error-msg {text-transform:none;}
.popup.sign .multi-text .select-lists .selector {display:block;line-height: 20px;padding: 13px 15px;width: 100%;border: 1px solid #D6D7DA;margin: 0;border-radius: 3px;color: #393d4d;box-sizing: border-box;background: url("../../../common/images/svg/nav-dropdown.svg") no-repeat calc(100% - 13px) 50% #fff;background-size: 9px 7px;box-shadow: 0 1px 0 rgba(0,0,0,0.05);font-size: 14px;font-weight: 500;text-align: left;}
.popup.sign .multi-text ul.step-category {clear:both;}
.popup.sign .multi-text .select-lists .lists {left:0;margin-left:0;width:100%;}
.popup.sign .multi-text .select-lists {position:relative;margin-bottom: 6px;}
.popup.sign .multi-text .select-lists .trick {position:fixed;top:0;left:0;width:100%;height:100%;}
.popup.sign .multi-text .select-lists .add { position: relative; display: block; width: 21px; height: 21px; border-radius: 3px; border: 1px solid #b9cfe0; text-indent: -1000em; background: #fff; }
.popup.sign .multi-text .select-lists button.add {width:23px;height:23px;}
.popup.sign .multi-text .select-lists .add:before {content: '';position: absolute;top: 50%;left: 50%;width: 7px;height: 7px;background-position: -60px -60px;margin: -4px 0 0 -3px;}
.popup.sign .multi-text .select-lists .lists {position:absolute;left: 0;width: 100%;background: #fff;padding: 10px;box-shadow: 0 3px 20px rgba(0,0,0,0.1);border-radius: 3px;top: 100%;z-index: 2;display: none;box-sizing: border-box;max-height: 240px;overflow: auto;margin: 10px 0;}
.popup.sign .multi-text .select-lists .lists fieldset {position:relative;}
.popup.sign .multi-text .select-lists .lists fieldset input[type="text"]:focus, .popup.sign .multi-text .select-lists .lists fieldset.selected input[type="text"], .popup.sign .multi-text .select-lists .lists fieldset input.text:focus, .popup.sign .multi-text .select-lists .lists fieldset.selected input.text {background: rgba(190, 195, 200, .19);border-color: rgb(243, 244, 245);}
.popup.sign .multi-text .select-lists .lists fieldset input[type="text"], .popup.sign .multi-text .select-lists .lists fieldset input.text {padding: 13px 10px;line-height: 20px;width: 100%;background:#fff;border-color:#fff;}
.popup.sign .multi-text .select-lists .lists fieldset .add {position:absolute;top:0;right:0;width:30px;height:100%;text-indent:-1000em;background:none;border: 0;padding: 0;margin: 0;}
.popup.sign .multi-text .select-lists .lists fieldset .add:before {content:'';position:absolute;right:10px;top:50%;width:10px;height:2px;margin: -1px 0 0;border-radius:1px;background: #8E8F90;left: auto;}
.popup.sign .multi-text .select-lists .lists fieldset .add:after {content:'';position:absolute;right:14px;top:50%;width:2px;height:10px;margin: -5px 0 0 0;border-radius:1px;background: #8E8F90;}
.popup.sign .multi-text .select-lists .lists fieldset.selected .add:before {background:url("../../../common/images/svg/ico-check-white.svg") no-repeat 50% 50%;width:10px;height:8px;margin-top:-4px;background-size: contain;}
.popup.sign .multi-text .select-lists .lists fieldset.selected .add:after {display:none;}
.popup.sign .multi-text .select-lists .lists .add {border-color: #cbcfd1;position: absolute;top: 50%;right: 15px;width: 22px;height: 22px;margin-top: -11px;}
.popup.sign .multi-text .select-lists .lists .add em, .popup.sign .multi-text .add em, .popup.sign .multi-text .edit em {width:auto;z-index:3;display:none;position:absolute;white-space:nowrap;left:50%;bottom:30px;text-indent:0;padding:0 9px;font-size:11px;color:#fff;background:#2c3239;border-radius:3px;line-height:29px;}
.popup.sign .multi-text .select-lists .lists .add em:before, .multi-text .add em:before, .multi-text .edit em:before {content:'';position:absolute;top:100%;left:50%;border:4px solid transparent;border-top-color:#2c3239;margin-left:-4px;}
.popup.sign .multi-text .select-lists .lists .add:before {background-position: -70px -60px;}
.popup.sign .multi-text .select-lists .lists .add:hover em, .popup.sign .multi-text .add:hover em, .popup.sign .multi-text .edit:hover em {display:block;}
.popup.sign .multi-text .select-lists li {margin-top:5px;}
.popup.sign .multi-text .select-lists li:first-child {margin-top:0;}
.popup.sign .multi-text .select-lists li > a {position:relative;display:block;color: #1A1B1C;padding: 12px 10px;line-height: 19px;border-radius: 3px;}
.popup.sign .multi-text .select-lists li > a:hover {background: rgba(190, 195, 200, .19);}
.popup.sign .multi-text .select-lists li > a.selected {background: #ff4c5f;color:#fff;}
.popup.sign .multi-text .select-lists li > a:before {content:'';position:absolute;right:10px;top:50%;width:10px;height:2px;margin-top:-1px;border-radius:1px;background: #8E8F90;}
.popup.sign .multi-text .select-lists li > a:after {content:'';position:absolute;right:14px;top:50%;width:2px;height:10px;margin-top:-5px;border-radius:1px;background: #8E8F90;}
.popup.sign .multi-text .select-lists li > a.selected:before {background:url("../../../common/images/svg/ico-check-white.svg") no-repeat 50% 50%;width:10px;height:8px;margin-top:-4px;background-size: contain;}
.popup.sign .multi-text .select-lists li > a.selected:after {display:none;}
.popup.sign .region-tag .multi-text .select-lists li > a:after, .popup.sign .region-tag .multi-text .select-lists li > a:before {display:none;}
.popup.sign .seller.frm .terms {padding:26px 0;}
.popup.sign .seller.frm h3 {padding-bottom: 52px;}
.popup.sign .add.add-address:before {content:'+';}
.popup.sign .add.add-address.folded:before {content:'-';}
.popup.sign .region-tag {position:relative;}
.popup.sign .region-tag .multi-text .select-lists li>a {text-transform:uppercase;}
.popup.sign .professional-category .multi-text .select-lists li>a {text-transform:none;}

#popup_container.reset_pw {background:rgba(255,255,255,0.9);}
#popup_container.reset_pw .popup.reset_pw {display: block;position: absolute;margin: auto;width:416px;margin-left: auto !important;max-height: 280px;top: 0;left: 0;right: 0;bottom: 0;}
#popup_container.reset_pw .popup.reset_pw.sent {max-height:238px;}
.popup.reset_pw > div {padding:38px;display: none;background: #fff;border-radius: 5px;box-shadow: 0 3px 20px rgba(0,0,0,0.1);}
.popup.reset_pw h3 {font-size:22px;color: #1b2128;line-height: 30px;padding-bottom: 33px;}
.popup.reset_pw h3 small {display:block;font-weight:400;font-size:14px;line-height:22px;color: #2f333b;padding: 7px 0 0;}
.popup.reset_pw input[type="text"], .popup.reset_pw input.text {margin-bottom:16px;width:100%;line-height: 20px;padding: 14px 12px;}
.popup.reset_pw .buttons {display:block;padding:0;width:100%;font-size: 15px;font-weight: 700;line-height: 48px;}
.popup.reset_pw .default, .popup.reset_pw.sent .sent {display:block;}
.popup.reset_pw.sent .default {display:none;}

#popup_container.change_pw {background:rgba(255,255,255,0.9);}
#popup_container.change_pw .popup.change_pw {display: block;position: absolute;width:416px;margin-left: auto !important;max-height: 510px;left: 0;top: 64px;right: 0;margin: auto;bottom: 0;}
.popup.change_pw > div {padding:38px;background: #fff;border-radius: 5px;box-shadow: 0 3px 20px rgba(0,0,0,0.1);}
.popup.change_pw h3 {font-size:22px;color: #1b2128;line-height: 30px;padding-bottom: 33px;}
.popup.change_pw h3 small {display:block;font-weight:400;font-size:14px;line-height:22px;color: #2f333b;padding: 7px 0 0;}
.popup.change_pw input[type="text"], .popup.change_pw input.text {width:100%;line-height: 20px;padding: 14px 12px;}
.popup.change_pw .buttons {display:block;padding:0;width:100%;font-size: 15px;font-weight: 700;line-height: 48px;}
.popup.change_pw .userinfo {position: relative;font-size:13px;line-height:19px;text-align:center;padding: 38px 0 34px;border-bottom: 1px solid #e6e7e8;margin-bottom: 32px;}
.popup.change_pw .userinfo b {display:block;font-size:16px;}
.popup.change_pw .userinfo .avatar {position:absolute;width: 107px;height: 107px;padding:4px;background: #fff;left: 50%;top: -38px;margin: -57px 0 0 -57px;border-radius:100%;}
.popup.change_pw .userinfo .avatar img {height:107px;width:107px;background: no-repeat 50% 50%;background-size:cover;border-radius:100%;}

#popup_container.prompt_username .prompt_username {display: block;position: absolute;margin: auto;width: 340px;margin-left: auto !important;max-height: 180px;top: 0;left: 0;right: 0;bottom: 0;}
.popup.prompt_username {padding: 38px;display: none;background: #fff;border-radius: 5px;box-shadow: 0 3px 20px rgba(0,0,0,0.1);}
.popup.prompt_username h3 {font-size:22px;padding-bottom:33px;line-height:30px;}
.popup.prompt_username h3 small {display: block;font-weight: 400;font-size: 16px;line-height: 22px;color: #2f333b;padding: 7px 0 0;}
.popup.prompt_username input.text {width:100%;margin-bottom:16px;line-height:20px;padding: 14px 12px;}
.popup.prompt_username .buttons {display: block;padding: 0;width: 100%;font-size: 15px;font-weight: 700;line-height: 48px;}

#signup-form .step1, #signup-form .step2, #signup-form .step3, #signup-form .step4, #signup-form .step5 {display:none;}
#signup-form.step1 .step1, #signup-form.step2 .step2, #signup-form.step3 .step3, #signup-form.step4 .step4, #signup-form.step5 .step5 {display:block;}
#signup-form.step3 {background:#fff;padding-top: 0;}

@keyframes fadePopup {0% {opacity:0;} 100% {opacity:1;}}
@-moz-keyframes fadePopup {0% {opacity:0;} 100% {opacity:1;}}
@-webkit-keyframes fadePopup {0% {opacity:0;} 100% {opacity:1;}}
@keyframes show_popup {0% {opacity:0;transform: scale(0.9);} 100% {opacity:1;transform: scale(1);}}
@-moz-keyframes show_popup {0% {opacity:0;transform: scale(0.9);} 100% {opacity:1;transform: scale(1);}}
@-webkit-keyframes show_popup {0% {opacity:0;transform: scale(0.9);} 100% {opacity:1;transform: scale(1);}}
@keyframes close_popup {0% {opacity:1;transform: translateY(0px);} 100% {opacity:0;transform: translateY(50px);}}
@-moz-keyframes close_popup {0% {opacity:1;transform: translateY(0px);} 100% {opacity:0;transform: translateY(50px);}}
@-webkit-keyframes close_popup {0% {opacity:1;transform: translateY(0px);} 100% {opacity:0;transform: translateY(50px);}}
@keyframes close_popup_container {0% {opacity:1;} 100% {opacity:0;}}
@-moz-keyframes close_popup_container {0% {opacity:1;} 100% {opacity:0;}}
@-webkit-keyframes close_popup_container {0% {opacity:1;} 100% {opacity:0;}}

@keyframes show_email {0% {left:100%;} 100% {left:0;}}
@-moz-keyframes show_email {0% {left:100%;} 100% {left:0;}}
@-webkit-keyframes show_email {0% {left:100%;} 100% {left:0;}}
@keyframes hide_email {0% {left:0;} 100% {left:100%;}}
@-moz-keyframes hide_email {0% {left:0;} 100% {left:100%;}}
@-webkit-keyframes hide_email {0% {left:0;} 100% {left:100%;}}

@keyframes hide_default {0% {left:0;} 100% {left:-100%;}}
@-moz-keyframes hide_default {0% {left:0;} 100% {left:-100%;}}
@-webkit-keyframes hide_default {0% {left:0;} 100% {left:-100%;}}
@keyframes show_default {0% {left:-100%;} 100% {left:0;}}
@-moz-keyframes show_default {0% {left:-100%;} 100% {left:0;}}
@-webkit-keyframes show_default {0% {left:-100%;} 100% {left:0;}}

@media screen and (max-width: 1450px) {
	.sign-form .error-msg {left:auto;right:100%;margin:0 15px 0 0;}
	.sign-form .error-msg:before {border-color:transparent;border-left-color:rgba(0,0,0,0.1);right:auto;left:100%;}
	.sign-form .error-msg:after {border-color:transparent;border-left-color:#fff;right:auto;left:100%;}
}
@media screen and (max-height: 820px) {
	.popup.sign .region-tag .multi-text .select-lists .lists {top:auto;bottom:100%;}
}
@media screen and (max-height: 587px) {
	.popup.sign .signup .frm > h3 {padding-bottom:32px;}
	.popup.sign .signup .frm > div.default, .popup.sign .signup.login .frm > div.signin, .popup.sign .signup.email .frm > div.email, .popup.sign .signup.seller .frm > div.seller, .popup.sign .signup.sns .frm > div.sns {/* position:relative; */}
	.popup.sign .signup.email .frm > div.default, .popup.sign .signup.sns .frm > div.default, .popup.sign .signup.login .frm > div.default {position:absolute}
}
@media screen and (max-width: 800px) {
	.popup.sign .signup .frm > h3 {padding-bottom:32px;}
	.popup.sign .signup .frm > div.default, .popup.sign .signup.login .frm > div.signin, .popup.sign .signup.email .frm > div.email, .popup.sign .signup.seller .frm > div.seller, .popup.sign .signup.sns .frm > div.sns {/* position:relative; */}
	.popup.sign .signup.email .frm > div.default, .popup.sign .signup.sns .frm > div.default, .popup.sign .signup.login .frm > div.default {position:absolute}
	#popup_container.sign {padding-top:0;background: none !important;}
	.sign .frm .step1 .others {padding:0 0 20px;}
	.sign .signup {display:table-cell;vertical-align:middle;text-align:center;float: none;padding: 60px 0;width: auto;height: auto;position: relative;}
	.sign .frm .popup-close {right: 15px;top: 15px;}
	.sign .frm .buttons {position:relative;bottom:0;left:0;width:100%;margin:4px 0 20px;}
	.sign .frm .btn-back {position:absolute;width: auto;bottom: auto;padding: 20px 15px;}
	.sign .frm .sns, .sign .frm .signin .sns {padding-top:0;}
	.sign .frm .prev {padding:34px 15px;}
	.sign .frm .success {height: auto;position: relative;padding-top: 10px;margin-top: -70px;}
	.sign .frm .success:before {display:none;}
	.popup.sign .signup .employment-information h4 {padding-top:28px;}
	.sign .slideshow .slide-bg {padding: 45px 15px;background:none !important;}
	.sign .slideshow .pagination {left:15px;bottom:15px;}
	.sign .slideshow {position: absolute;height: 300px;width: 100%;border-radius: 0;top: auto;bottom: 0;display: none !important;}
	.sign .frm .features {padding-top:36px;}
	body.popup-on #wrap {display:none}
	#popup_container.sign .popup.sign {height:auto;max-height: none;min-height: 100%;left:0;margin: 0 !important;border-radius: 0;padding: 0;bottom: auto;width: 100%;right: auto;max-width: none;top:auto;transform: none;display: table;box-shadow: none;background: none;}
	.popup.change_pw > div, .popup.reset_pw > div {padding:18px;}
	.popup.sign .signup .frm {width:auto;float: none;display: block;padding: 0 15px;}
	.popup.sign .signup .frm > div {display:none;width: auto;position: static;}
	.popup.sign .signup.email .frm > div.default, .popup.sign .signup.sns .frm > div.default, .popup.sign .signup.login .frm > div.default {display:none;}
	.popup.sign .signup .frm > div.default, .popup.sign .signup.login .frm > div.signin, .popup.sign .signup.email .frm > div.email, .popup.sign .signup.seller .frm > div.seller, .popup.sign .signup.sns .frm > div.sns {display:block;}
}
