.after:after, .cart .user-add-item:after, .cart .cart-item-detail li:after, .cart .people_bought ul:after, .cart .recently_item ul:after, .checkout .checkout-header:after, .popup.edit_shipping_addr .checkout-shipping:after, .popup.edit_payment_card .checkout-payment:after, .popup.payment-provider ul:after {
  content: '';
  clear: both;
  display: block;
}

#header {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type="radio"]:checked {
  background: #000000;
  border: 1px solid #000000;
  -webkit-box-shadow: inset 0 0 0 3px #fff;
          box-shadow: inset 0 0 0 3px #fff;
}

.cart {
  max-width: none;
  background: #fff;
  padding-left: 0;
  padding-right: 0;
}

.cart .wrapper-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px 113px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cart .vat-include {
  text-align: center;
  padding-top: 24px;
  color: #8a8f9c;
  font-size: 12px;
  line-height: 18px;
}

.cart .empty-cart {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 40px 0 80px;
}

.cart .empty-cart b {
  display: block;
  font-size: 28px;
  line-height: 38px;
  padding-bottom: 20px;
}

.cart .empty-cart .btns-blue-embo {
  font-size: 20px;
  line-height: 56px;
  width: 300px;
  margin-top: 34px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart .reciept-summary {
  display: none;
  border-bottom: 1px solid #EBECED;
  padding-bottom: 16px;
}

.cart .reciept-summary .payment-reciept {
  padding-bottom: 12px;
}

.cart .cart-payment .apple-pay-button, .cart .cart-payment .btns-blue-embo, .cart .reciept-summary .apple-pay-button, .cart .reciept-summary .btns-blue-embo {
  width: 100%;
  border: 0;
  background: #2581E3;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
}

.cart .cart-payment .apple-pay-button, .cart .reciept-summary .apple-pay-button {
  margin: 0;
  height: 55px;
  color: #fff;
  background: #3F434B;
  border: 0;
}

.cart .cart-payment .apple-pay-button > .text, .cart .reciept-summary .apple-pay-button > .text {
  font-weight: bold;
  font-size: 18px;
}

.cart h1 {
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  padding: 20px 0 24px;
}

.cart .free-shipping {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  max-width: 630px;
  padding-bottom: 10px;
}

.cart .free-shipping .range, .cart .free-shipping .range i {
  display: block;
  height: 10px;
  border-radius: 2px;
}

.cart .free-shipping .range {
  background: #EBECED;
  margin-top: 13px;
}

.cart .free-shipping .range i {
  width: 0;
  background: #2581E3;
}

.cart .user-add-item input.text {
  float: left;
  width: calc(100% - 110px);
}

.cart .user-add-item .btn-add-item {
  padding: 0;
  width: 100px;
  line-height: 37px;
  float: right;
  font-size: 14px;
}

.cart .cart-payment {
  width: 330px;
  float: right;
  padding: 24px;
  border: 1px solid #EBECED;
  border-radius: 6px;
  margin: 16px 0 40px;
}

.cart .cart-payment h2 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  padding-bottom: 14px;
}

.cart .cart-payment.loading {
  min-height: 226px;
  position: relative;
}

.cart .cart-payment.loading * {
  opacity: 0;
}

.cart .cart-payment.loading:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  height: 20px;
  opacity: 1;
  width: 20px;
  margin-top: -8px;
  margin-left: -8px;
  line-height: 12px;
  -webkit-animation: pulsate 1s ease-in-out;
  animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.cart .payment-method li {
  font-size: 16px;
  line-height: 22px;
  padding: 14px 0;
  font-weight: 600;
}

.cart .payment-method li label:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0 20px;
  background: url("../../images/svg/ic-checkout.svg") no-repeat;
  width: 161px;
  height: 24px;
  float: right;
  position: static;
  border: 0;
}

.cart .payment-method li label[for="amex-express"]:after {
  background-position: -115px -25px;
  width: 45px;
}

.cart .payment-method li label[for="alipay"]:after {
  width: 20px;
  height: 20px;
  background: url("../../images/svg/alipay.svg") no-repeat 50% 50%;
  background-size: contain;
}

.cart .payment-method li label[for="crypto"]:after {
  background-position: -115px -55px;
  width: 50px;
}

.cart .payment-method li label[for="payment_type_paypal"]:after {
  width: 60px;
  height: 16px;
  background: url("../../images/svg/ic-paypal.svg") no-repeat;
}

.cart .payment-method li.select-google-payment label:after {
  width: 20px;
  height: 20px;
  background-position: -170px 0;
}

.cart .payment-method li.select-bitcoin-payment label:after {
  width: 23px;
  height: 23px;
  background-position: -115px -55px;
}

.cart .payment-method li input {
  margin-right: 8px;
}

.cart .payment-reciept {
  padding: 2px 0 20px;
}

.cart .payment-reciept li {
  padding: 4px 0;
  font-size: 16px;
  line-height: 22px;
}

.cart .payment-reciept li label {
  float: left;
}

.cart .payment-reciept li .price {
  float: right;
}

.cart .payment-reciept li small {
  display: block;
  font-size: 14px;
  line-height: 19px;
  padding-top: 4px;
  color: #c7c7c7;
}

.cart .payment-reciept li:after {
  content: '';
  clear: both;
  display: block;
}

.cart .payment-reciept li.total {
  padding-top: 15px;
  border-top: 1px solid #EBECED;
  margin-top: 11px;
}

.cart .cart-item {
  float: left;
  width: calc(100% - 385px);
  max-width: 770px;
}

.cart .cart-item-detail + .cart-item-detail, .cart .cart-item-detail li + li {
  border-top: 1px solid #EBECED;
}

.cart .cart-item-detail li {
  position: relative;
  padding: 32px 0 40px 136px;
  font-size: 14px;
  line-height: 19px;
  min-height: 140px;
}

.cart .cart-item-detail li .item {
  padding-top: 0;
}

.cart .cart-item-detail li .item img {
  position: absolute;
  top: 40px;
  left: 0;
  width: 120px;
  border-radius: 4px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.cart .cart-item-detail li .title {
  font-size: 16px;
  line-height: 22px;
  color: #3F434B;
  display: block;
  max-width: calc(100% - 300px);
}

.cart .cart-item-detail li .option {
  position: relative;
  max-width: calc(100% - 300px);
}

.cart .cart-item-detail li .option a {
  color: #3F434B;
}

.cart .cart-item-detail li .option select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.cart .cart-item-detail li .stock {
  color: #1CB12B;
}

.cart .cart-item-detail li .action a + a, .cart .cart-item-detail li .notification-cart a + a {
  margin-left: 24px;
}

.cart .cart-item-detail li .price {
  position: absolute;
  right: 0;
  top: 32px;
  width: 143px;
  text-align: right;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.cart .cart-item-detail li .qty {
  position: absolute;
  right: 143px;
  top: 32px;
  width: 142px;
  text-align: center;
}

.cart .cart-item-detail li .qty label {
  display: block;
  padding-bottom: 8px;
  text-align: left;
}

.cart .cart-item-detail li .qty a, .cart .cart-item-detail li .qty input {
  width: 38px;
  line-height: 22px;
  border: 0.8px solid #C7C7C7;
  border-radius: 2px;
  padding: 0;
  text-align: center;
  background: none;
}

.cart .cart-item-detail li .qty a:before, .cart .cart-item-detail li .qty .btn-up:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #3F434B;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cart .cart-item-detail li .qty a {
  position: relative;
  float: left;
  height: 22px;
}

.cart .cart-item-detail li .qty a:before {
  width: 11.25px;
  height: 0.75px;
}

.cart .cart-item-detail li .qty .btn-up {
  float: right;
}

.cart .cart-item-detail li .qty .btn-up:after {
  height: 11.25px;
  width: 0.75px;
}

.cart .cart-item-detail li .qty input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.cart .cart-item-detail li .personalization em, .cart .cart-item-detail li .personalization a {
  margin-left: 4px;
}

.cart .cart-item-detail li .notification-cart p {
  padding: 8px 0;
}

.cart .cart-item-detail li .notification-cart b {
  display: block;
  font-weight: 600;
}

.cart .cart-item-detail li .soldout, .cart .cart-item-detail li .unavailable, .cart .cart-item-detail li .notification-cart {
  color: #F43A3A;
}

.cart .cart-item-detail li .delivery {
  float: right;
  padding-top: 23px;
}

.cart .cart-item-detail li .gift {
  float: left;
  padding-top: 8px;
}

.cart .cart-item-detail li .gift textarea.text {
  width: 100%;
  height: 60px;
  display: none;
  -webkit-box-shadow: 0 0 0 0.8px #C4C4C4;
          box-shadow: 0 0 0 0.8px #C4C4C4;
  background: none;
  margin-top: 8px;
}

.cart .cart-item-detail li .gift .byte {
  text-align: right;
  padding-top: 4px;
  display: none;
  font-size: 12px;
  line-height: 16px;
}

.cart .cart-item-detail li .gift.show {
  width: 425px;
  float: none;
  max-width: 100%;
}

.cart .cart-item-detail li .gift.show textarea.text, .cart .cart-item-detail li .gift.show .byte {
  display: block;
}

.cart .cart-item-detail li > span {
  display: block;
  padding-top: 8px;
}

.cart .cart-item-detail li.add-back {
  padding: 24px 0;
  min-height: 0;
  line-height: 19px;
  text-align: center;
  font-size: 14px;
}

.cart .cart-item-detail li.add-back .undo_ {
  color: #2785fa;
  font-weight: 700;
  margin-top: 10px;
  font-size: 16px;
  background: none;
}

.cart .recommend {
  border-top: 0.8px solid #3F434B;
}

.cart .saved-later {
  position: relative;
  min-height: 288px;
}

.cart .saved-later.loading .cart-item-detail li {
  opacity: 0;
}

.cart .saved-later.loading:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  height: 20px;
  opacity: 1;
  width: 20px;
  margin-top: 48px;
  margin-left: -8px;
  line-height: 12px;
  -webkit-animation: pulsate 1s ease-in-out;
  animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.cart .saved-later .cart-item-detail {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  scroll-behavior: auto;
}

.cart .saved-later .cart-item-detail li {
  display: inline-block;
  vertical-align: top;
  min-height: 156px;
  width: calc(100%/3 - 47.5px);
  margin-right: 48px;
  font-size: 14px;
  line-height: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 196px;
  white-space: normal;
}

.cart .saved-later .cart-item-detail li .item {
  padding-top: 0;
}

.cart .saved-later .cart-item-detail li .item img {
  top: 0;
  height: 100%;
  width: 180px;
}

.cart .saved-later .cart-item-detail li .price {
  position: static;
  width: auto;
  text-align: left;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

.cart .saved-later .cart-item-detail li .title {
  font-size: 14px;
  line-height: 19px;
  max-width: none;
}

.cart .saved-later .cart-item-detail li .action .cart {
  display: block;
  width: 100%;
  margin-top: 8px;
  line-height: 35px;
  font-size: 14px;
  background: #2581E3;
  border: 0;
}

.cart .saved-later .cart-item-detail li .action .cart[disabled] {
  background: #92C0F1 !important;
  color: #fff;
}

.cart .saved-later .cart-item-detail li + li {
  border-top: 0;
}

.cart .saved-later h3 {
  padding-top: 32px;
}

.cart .saved-later .swiper-button-prev, .cart .saved-later .swiper-button-next, .cart .saved-later .prev, .cart .saved-later .next {
  cursor: pointer;
  width: 45px;
  height: 45px;
  top: 50%;
  position: absolute;
  margin-top: 40px;
  text-indent: -1000em;
  z-index: 1;
  left: -22px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 100%;
}

.cart .saved-later .swiper-button-prev:before, .cart .saved-later .swiper-button-next:before, .cart .saved-later .prev:before, .cart .saved-later .next:before {
  content: '';
  top: 50%;
  position: absolute;
  width: 12px;
  height: 21px;
  left: 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: -10px 0 0 -6px;
  background: url("../../images/svg/more-arrow.svg") no-repeat;
  background-size: contain;
}

.cart .saved-later .swiper-button-prev.disabled, .cart .saved-later .swiper-button-next.disabled, .cart .saved-later .prev.disabled, .cart .saved-later .next.disabled {
  display: none;
}

.cart .saved-later .swiper-button-next, .cart .saved-later .next {
  left: auto;
  right: -22px;
}

.cart .saved-later .swiper-button-next:before, .cart .saved-later .next:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.cart .saved-later h3, .cart .people_bought h3, .cart .recently_item h3 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  padding: 56px 0 40px;
}

.cart .people_bought li {
  float: left;
  margin-left: 50px;
  width: calc((100% - 200px)/5);
}

.cart .people_bought li:nth-child(5n+1) {
  margin-left: 0;
  clear: both;
}

.cart .recently_item {
  white-space: nowrap;
  font-size: 0;
  overflow-x: hidden;
}

.cart .recently_item li {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  width: calc((100% - 150px)/4);
  white-space: normal;
}

.cart .recently_item li:nth-child(1) {
  margin-left: 0;
}

.checkout {
  background: #fff;
}

.checkout.show_promotion #container-wrapper {
  padding-top: 0;
}

.checkout #header, .checkout #footer {
  display: none;
}

.checkout #sidebar {
  clear: right;
  width: 365px;
  float: right;
}

.checkout #sidebar .checkout-submit {
  display: block;
}

.checkout #content {
  float: left;
  width: calc(100% - 385px);
  max-width: 635px;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.checkout .cart {
  padding-top: 0;
}

.checkout .wrapper-content {
  max-width: 1110px;
}

.checkout .tooltip {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0 4px;
}

.checkout .tooltip:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url("../../images/svg/product-detail.svg") no-repeat -110px -110px;
}

.checkout .tooltip small {
  position: absolute;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #c4c4c4;
  padding: 10px;
  background: #fff;
  border-radius: 2px;
  left: 50%;
  bottom: 20px;
  display: none;
  color: #3F434B;
  width: 214px;
  margin-left: -118px;
}

.checkout .tooltip small:before, .checkout .tooltip small:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid transparent;
  border-top-color: #c4c4c4;
  margin-left: -14px;
  border-width: 10px 14px;
}

.checkout .tooltip small:after {
  border-top-color: #fff;
  border-width: 9px 13px;
  margin-left: -13px;
}

.checkout .tooltip:hover small {
  display: block;
}

.checkout input[type="email"], .checkout input[type="text"], .checkout input[type="tel"], .checkout textarea, .checkout select {
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 2px;
  line-height: 22px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

.checkout input[type="checkbox"] {
  margin-top: 17px;
  -webkit-box-shadow: inset 0 0 0 1px #c4c4c4;
          box-shadow: inset 0 0 0 1px #c4c4c4;
  width: 16px;
  height: 16px;
}

.checkout input[type="checkbox"]:checked {
  background: none;
}

.checkout input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 18px;
  margin: 16px 0 0 11px;
  max-width: calc(100% - 35px);
}

.checkout .step li {
  position: relative;
  float: left;
  width: calc(100%/3);
  text-align: center;
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
}

.checkout .step li.current:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 6px;
  background: #2581E3;
  border-radius: 2px;
}

.checkout .step:after {
  content: '';
  clear: both;
  display: block;
  height: 6px;
  background: #EBECED;
  border-radius: 2px;
  margin-bottom: 56px;
}

.checkout .checkout-header {
  padding: 46px 0 49px;
}

.checkout .checkout-header .logo {
  float: left;
  height: 22px;
  width: 110px;
  background: url("../../images/svg/logo.svg") no-repeat;
  background-size: contain;
  text-indent: -1000em;
}

.checkout .checkout-header .secure {
  font-size: 16px;
  line-height: 22px;
  float: right;
}

.checkout .checkout-header .secure:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 18px;
  margin: -8px 10px 0 0;
  background: url("../../images/svg/product-detail.svg") no-repeat -120px -150px;
}

.checkout .StripeElement .__PrivateStripeElement {
  margin: 0px;
  padding: 0px;
  border: none;
  display: block;
  background: transparent;
  position: relative;
  opacity: 1;
}

.checkout .StripeElement iframe {
  border: none;
  margin: 0px;
  padding: 0px;
  width: 1px;
  min-width: 100%;
  overflow: hidden;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  height: 16.8px;
}

.checkout .StripeElement .__PrivateStripeElement-input {
  border: none;
  display: block;
  position: absolute;
  height: 1px;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  opacity: 0;
  background: transparent;
  pointer-events: none;
  font-size: 16px;
}

.checkout h2.stit {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.checkout h3.stit {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  padding: 24px 0 16px;
}

.checkout .cart-item-detail li {
  font-size: 13px;
  line-height: 18px;
  min-height: 80px;
  padding: 0 0 0 115px;
}

.checkout .cart-item-detail li > span {
  padding-top: 2px;
}

.checkout .cart-item-detail li .item img {
  top: 0;
  height: 100%;
  width: 100px;
}

.checkout .cart-item-detail li .title {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  padding-bottom: 2px;
  max-width: none;
}

.checkout .cart-item-detail li .option {
  max-width: none;
}

.checkout .cart-item-detail li .qty, .checkout .cart-item-detail li .price {
  position: static;
  width: auto;
  text-align: left;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.checkout .cart-item-detail li + li {
  margin-top: 37px;
  border: 0;
}

.checkout .cart-item-detail li .delivery {
  float: right;
  font-style: normal;
}

.checkout .checkout-shipping, .checkout .checkout-payment, .checkout .checkout-review, .checkout .checkout-giftcard {
  font-size: 16px;
  line-height: 22px;
}

.checkout .checkout-shipping p, .checkout .checkout-payment p, .checkout .checkout-review p, .checkout .checkout-giftcard p {
  padding: 0;
}

.checkout .checkout-shipping .label, .checkout .checkout-payment .label, .checkout .checkout-review .label, .checkout .checkout-giftcard .label {
  display: block;
  padding: 24px 0 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.checkout .checkout-shipping .btns-blue-embo, .checkout .checkout-payment .btns-blue-embo, .checkout .checkout-review .btns-blue-embo, .checkout .checkout-giftcard .btns-blue-embo {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  line-height: 56px;
  background: #2581E3;
  border: 0;
  min-width: 240px;
}

.checkout .checkout-shipping .city {
  width: calc(100% - 400px);
  display: inline-block;
  vertical-align: top;
}

.checkout .checkout-shipping .state, .checkout .checkout-shipping .zipcode {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  width: 170px;
}

.checkout .checkout-shipping .zipcode {
  float: right;
}

.checkout .checkout-shipping .telephone {
  width: calc(100% - 400px);
  clear: both;
}

.checkout .checkout-shipping .contact .stit {
  padding: 32px 0 0;
}

.checkout .checkout-shipping a.add {
  margin-top: 6px;
}

.checkout .select_shipping li, .checkout .select_payment li {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  padding: 8px 0 8px 32px;
}

.checkout .select_shipping label, .checkout .select_payment label {
  cursor: pointer;
}

.checkout .select_shipping label .title, .checkout .select_payment label .title {
  font-weight: 400;
  display: block;
  max-width: calc(100% - 120px);
}

.checkout .select_shipping label small, .checkout .select_payment label small {
  display: block;
}

.checkout .select_shipping .btns, .checkout .select_payment .btns {
  position: absolute;
  top: 8px;
  right: 0;
}

.checkout .select_shipping .btns a, .checkout .select_payment .btns a {
  text-decoration: underline;
  color: #3F434B;
}

.checkout .select_shipping .btns a + a, .checkout .select_payment .btns a + a {
  margin-left: 28px;
}

.checkout .select_shipping input[type="radio"], .checkout .select_payment input[type="radio"] {
  position: absolute;
  top: 10px;
  left: 0;
  margin: 0;
  cursor: pointer;
}

.checkout .checkout-review h2.stit {
  padding-bottom: 8px;
  border-bottom: 1px solid #EBECED;
  margin-bottom: 8px;
}

.checkout .checkout-review h3.stit {
  float: left;
  clear: both;
  padding: 16px 0;
}

.checkout .checkout-review h3.stit + p {
  float: right;
  width: 405px;
  padding: 16px 40px 16px 0;
  position: relative;
}

.checkout .checkout-review .edit {
  position: absolute;
  top: 16px;
  right: 0;
  font-weight: 300;
  font-size: 16px;
  color: #3F434B;
  text-decoration: underline;
}

.checkout .checkout-review .cart-item-detail {
  clear: both;
  padding-top: 20px;
}

.checkout .checkout-review .cart-item-detail .stit {
  float: none;
  padding-bottom: 8px;
  margin-bottom: 24px;
  border-bottom: 1px solid #EBECED;
}

.checkout .checkout-review .cart-item-detail li > span {
  padding-top: 6px;
}

.checkout .checkout-review .cart-item-detail .price {
  float: left;
}

.checkout .checkout-review p + p {
  margin-top: 8px;
}

.checkout a.add {
  position: relative;
  display: block;
  color: #3F434B;
  padding-left: 22px;
}

.checkout a.add:before, .checkout a.add:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  width: 12px;
  height: 0.88px;
  background: #3F434B;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.checkout a.add:before {
  width: 0.88px;
  height: 12px;
}

.checkout .checkout-payment .number:before, .checkout .card:before {
  content: '';
  width: 45px;
  height: 30px;
  background: no-repeat 50% 50%;
  background-size: cover;
  border-radius: 4px;
}

.checkout .checkout-payment .number.visa:before, .checkout .card.visa:before {
  background-image: url("../../images/svg/ic_card_visa.svg");
}

.checkout .checkout-payment .number.amex:before, .checkout .card.amex:before {
  background-image: url("../../images/svg/ic_card_amex.svg");
}

.checkout .checkout-payment .number.discover:before, .checkout .card.discover:before {
  background-image: url("../../images/svg/ic_card_discover.svg");
}

.checkout .checkout-payment .number.mastercard:before, .checkout .card.mastercard:before {
  background-image: url("../../images/svg/ic_card_mc.svg");
}

.checkout .checkout-payment .number.alipay:before, .checkout .card.alipay:before {
  background-image: url("../../images/svg/alipay.svg");
}

.checkout .checkout-payment .number.paypal:before, .checkout .card.paypal:before {
  background-image: url("../../images/svg/ic-paypal.svg");
  height: 15px;
  background-size: contain;
}

.checkout .checkout-payment .number.giftcard:before, .checkout .card.giftcard:before {
  background-image: url("../../images/retina/banner_giftcard.png");
}

.checkout .card:before {
  display: inline-block;
  vertical-align: middle;
  margin: -3px 16px 0 0;
}

.checkout .checkout-payment .billing input[type="checkbox"], .checkout .checkout-payment .billing input[type="radio"] {
  margin-top: 17px;
}

.checkout .checkout-payment .billing input[type="checkbox"] + label, .checkout .checkout-payment .billing input[type="radio"] + label {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 22px;
  margin: 16px 0 0 9px;
}

.checkout .checkout-payment .billing small {
  font-size: 13px;
  line-height: 18px;
  padding: 8px 0 0 24px;
  display: block;
}

.checkout .checkout-payment .billing .stit {
  padding: 32px 0 0;
}

.checkout .checkout-payment .date, .checkout .checkout-payment .cvv {
  display: inline-block;
  vertical-align: top;
  width: 148px;
}

.checkout .checkout-payment .cvv {
  margin-left: 60px;
}

.checkout .checkout-payment .label {
  padding: 16px 0 8px;
}

.checkout .checkout-payment h3.stit {
  padding: 32px 0 0;
}

.checkout .checkout-payment a.add {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  margin-top: 20px;
  padding-left: 24px;
}

.checkout .checkout-payment a.add:after {
  left: 8px;
  width: 16px;
  margin-top: -2px;
}

.checkout .checkout-payment a.add:before {
  left: 8px;
  height: 16px;
  margin-top: -2px;
}

.checkout .checkout-payment p + .stit {
  padding-top: 32px;
}

.checkout .checkout-payment .pay-with-giftcard dd {
  padding-top: 10px;
  position: relative;
  display: none;
  max-width: 540px;
}

.checkout .checkout-payment .pay-with-giftcard p {
  padding: 8px 0 0;
  font-size: 13px;
  line-height: 18px;
  color: #2581E3;
  clear: both;
  font-weight: 700;
}

.checkout .checkout-payment .pay-with-giftcard .btn-apply {
  position: absolute;
  top: 10px;
  right: 0;
  line-height: 48px;
  color: #3F434B;
  font-size: 16px;
  font-weight: 600;
  background: none;
  padding: 0 32px;
}

.checkout .checkout-payment .pay-with-giftcard.show dt a:before {
  display: none;
}

.checkout .checkout-payment .pay-with-giftcard.show dd {
  display: block;
}

.checkout .checkout-payment .number {
  position: relative;
}

.checkout .checkout-payment .number:before {
  position: absolute;
  right: 24px;
  top: 55px;
}

.checkout .checkout-payment .select_shipping .btns {
  top: 8px;
}

.checkout .checkout-submit {
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  padding: 0 24px;
  display: none;
}

.checkout .checkout-submit .stit {
  padding: 11px 0;
  font-size: 20px;
  line-height: 28px;
  border-bottom: 1px solid #EBECED;
}

.checkout .checkout-submit .payment-reciept {
  padding: 12px 0;
}

.checkout .checkout-submit .payment-reciept li.total {
  padding-top: 12px;
  margin-top: 0;
  border: 0;
  font-weight: 700;
}

.checkout .preview-cart {
  border-top: 1px solid #E5E5E5;
  margin-top: 24px;
  border-bottom: 1px solid #E5E5E5;
}

.checkout .preview-cart dt {
  position: relative;
}

.checkout .preview-cart dt a {
  position: relative;
  z-index: 1;
  padding: 16px 0;
  display: block;
  color: #3F434B;
  font-size: 16px;
  line-height: 22px;
}

.checkout .preview-cart dt a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  background: url("../../images/svg/product-detail.svg") no-repeat -40px -110px;
  width: 9px;
  height: 14px;
  -webkit-transform: translate(50%, -50%) rotate(90deg);
          transform: translate(50%, -50%) rotate(90deg);
}

.checkout .preview-cart dt .total {
  display: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 16px;
}

.checkout .preview-cart dd {
  position: relative;
  display: none;
  padding-bottom: 24px;
}

.checkout .preview-cart .cart-item-detail {
  overflow: auto;
  max-height: 300px;
  padding-right: 38px;
}

.checkout .preview-cart .cart-item-detail li {
  padding-left: 88px;
  min-height: 64px;
}

.checkout .preview-cart .cart-item-detail li .item img {
  width: 80px;
}

.checkout .preview-cart .cart-item-detail li .price {
  float: right;
}

.checkout .preview-cart .cart-item-detail li .qty {
  float: left;
}

.checkout .preview-cart .cart-item-detail li:after {
  content: '';
  clear: both;
  display: block;
}

.checkout .preview-cart .cart-item-detail li + li {
  margin-top: 20px;
}

.checkout .preview-cart ::-webkit-scrollbar {
  background: #EBECED;
  border-radius: 2px;
}

.checkout .preview-cart.show dd {
  display: block;
}

.checkout .preview-cart.show dt a:after {
  -webkit-transform: translate(50%, -50%) rotate(-90deg);
          transform: translate(50%, -50%) rotate(-90deg);
}

.checkout .payment-coupon {
  position: relative;
  padding-top: 24px;
}

.checkout .payment-coupon .btn-apply {
  position: absolute;
  top: 24px;
  right: 24px;
  line-height: 48px;
  color: #3F434B;
  font-size: 16px;
  font-weight: 600;
  background: none;
}

.checkout .payment-coupon .list {
  font-size: 13px;
  line-height: 17px;
  color: #2581E3;
  padding-top: 8px;
}

.checkout .payment-coupon input {
  border-color: #E5E5E5;
}

.shipping-estimator.popup {
  text-align: right;
  padding: 24px;
  width: 330px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.shipping-estimator.popup .ltit {
  padding: 0 0 4px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  border: 0;
  color: #000;
}

.shipping-estimator.popup .btns-blue-embo {
  margin-top: 24px;
  font-size: 16px;
  line-height: 34px;
  font-weight: 400;
}

.shipping-estimator.popup select, .shipping-estimator.popup input {
  width: 100%;
  display: block;
  margin-top: 20px;
  -webkit-box-shadow: inset 0 0 0 0.8px #C4C4C4;
          box-shadow: inset 0 0 0 0.8px #C4C4C4;
  background-color: #fff;
  font-size: 16px;
}

.shipping-estimator.popup .ly-close {
  width: 52px;
  height: 54px;
}

.shipping-estimator.popup .ly-close:before, .shipping-estimator.popup .ly-close:after {
  content: '';
  opacity: 1;
  position: absolute;
  width: 13px;
  height: 1px;
  background: #3F434B;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  left: 50%;
  margin: 0 0 0 -6px;
}

.shipping-estimator.popup .ly-close:after {
  width: 1px;
  height: 13px;
  margin: -6px 0 0 0;
}

.shipping-estimator#popup_container .popup.shipping-estimator {
  display: block;
}

#popup_container.required_phone .popup.required_phone, #popup_container.add_gift_msg .popup.add_gift_msg, #popup_container.term_sdd .popup.term_sdd, #popup_container.edit-personalization .popup.edit-personalization, #popup_container.globee .popup.globee, #popup_container.sponsored .popup.sponsored, #popup_container.alipay_pending .popup.alipay_pending, #popup_container.edit_shipping_addr .popup.edit_shipping_addr, #popup_container.edit_payment_card .popup.edit_payment_card, #popup_container.payment-provider .popup.payment-provider, #popup_container.edit_seller_note .popup.edit_seller_note {
  display: block;
}

.popup.edit_shipping_addr, .popup.edit_payment_card, .popup.required_phone {
  width: 642px;
  background: #fff;
  border-radius: 5px;
}

.popup.edit_shipping_addr .btn-area, .popup.edit_payment_card .btn-area, .popup.required_phone .btn-area {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #f2f2f2;
}

.popup.edit_shipping_addr .btn-area button, .popup.edit_payment_card .btn-area button, .popup.required_phone .btn-area button {
  font-size: 12px;
  line-height: 31px;
  margin-left: 6px;
}

.popup.required_phone {
  width: 400px;
  font-size: 14px;
  line-height: 20px;
}

.popup.required_phone p {
  color: #232B39;
}

.popup.required_phone fieldset {
  padding: 15px 15px 5px;
}

.popup.required_phone .label {
  display: block;
  font-weight: bold;
  padding-bottom: 6px;
}

.popup.required_phone address {
  margin-bottom: 10px;
}

.popup.required_phone address, .popup.required_phone input[type="tel"], .popup.required_phone input[type="text"] {
  color: #232B39;
  background: none;
  padding: 13px 15px;
  line-height: 20px;
  -webkit-box-shadow: inset 0 0 0 2px #ebeced;
          box-shadow: inset 0 0 0 2px #ebeced;
  border-radius: 5px;
}

.popup.required_phone input[type="tel"], .popup.required_phone input[type="text"] {
  width: 100%;
  font-weight: 500;
}

.popup.required_phone input[type="tel"]:focus, .popup.required_phone input[type="text"]:focus {
  -webkit-box-shadow: inset 0 0 0 2px #c7cad0;
          box-shadow: inset 0 0 0 2px #c7cad0;
}

.popup.edit_shipping_addr .btn-area .btn-remove {
  float: left;
  margin: 0;
}

.popup.edit_shipping_addr .checkout-shipping {
  padding: 20px 20px 8px 5px;
}

.popup.edit_shipping_addr .checkout-shipping label {
  display: block;
  padding: 2px 0 8px;
  font-weight: 500;
}

.popup.edit_shipping_addr .checkout-shipping select, .popup.edit_shipping_addr .checkout-shipping input[type="tel"], .popup.edit_shipping_addr .checkout-shipping input[type="text"] {
  vertical-align: top;
  width: 100%;
}

.popup.edit_shipping_addr .checkout-shipping .primary {
  clear: both;
  width: auto;
  padding: 10px 0 4px;
}

.popup.edit_shipping_addr .checkout-shipping p {
  float: left;
  width: 49%;
  width: calc(50% - 15px);
  margin-left: 15px;
  padding-bottom: 12px;
}

.popup.edit_payment_card .checkout-shipping {
  clear: both;
}

.popup.edit_payment_card .checkout-payment {
  padding: 0 20px 8px 5px;
}

.popup.edit_payment_card .checkout-payment .billing {
  display: block;
  padding: 13px 12px 10px;
}

.popup.edit_payment_card label {
  display: block;
  padding: 2px 0 8px;
}

.popup.edit_payment_card select, .popup.edit_payment_card input[type="text"] {
  vertical-align: top;
  width: 100%;
}

.popup.edit_payment_card .exp select {
  width: calc(50% - 7px);
}

.popup.edit_payment_card .exp select + select {
  margin-left: 10px;
}

.popup.edit_payment_card p {
  float: left;
  width: 49%;
  width: calc(50% - 15px);
  margin-left: 15px;
  padding-bottom: 12px;
}

.popup.payment-provider {
  width: 415px;
  background: #fff;
  border-radius: 5px;
}

.popup.payment-provider .ly-close {
  top: 4px;
  right: 5px;
}

.popup.payment-provider p {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  padding: 39px 40px;
}

.popup.payment-provider ul {
  padding: 0 33px 28px;
}

.popup.payment-provider li {
  color: #9099A6;
  float: left;
  text-align: center;
  width: 49%;
  width: calc(50% - 14px);
  width: -moz-calc(50% - 14px);
  margin: 0 7px;
}

.popup.payment-provider li a {
  color: #9099A6;
  display: block;
  border: 1px solid rgba(186, 189, 196, 0.5);
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 10px;
}

.popup.payment-provider li a:before {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(220, 222, 225, 0.3);
  margin-bottom: 10px;
  height: 65px;
}

.popup.payment-provider li small {
  display: block;
  opacity: 0.7;
  font-size: 11px;
  line-height: 16px;
  padding: 6px 0px;
}

.popup.payment-provider li .crypto-bitcoin:before {
  background: url("../../images/svg/Bitcoin_logo.svg") no-repeat 50% 50%;
  background-size: 110px 23px;
}

.popup.payment-provider li .crypto-monero:before {
  background: url("../../images/svg/Monero-Logo.svg") no-repeat 50% 50%;
  background-size: 110px 30px;
}

.popup.edit_seller_note {
  width: 482px;
  background: #fff;
  border-radius: 5px;
}

.popup.edit_seller_note .btn-area {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #f2f2f2;
}

.popup.edit_seller_note .btn-area button {
  margin-left: 6px;
}

.popup.edit_seller_note textarea.text {
  display: block;
  height: 80px;
  width: 100%;
}

.popup.edit_seller_note textarea.text[disabled], .popup.edit_seller_note textarea.text.disabled {
  opacity: 0.5;
}

.popup.edit_seller_note fieldset {
  padding: 15px;
}

.popup.edit_seller_note fieldset p {
  padding-bottom: 0;
}

.popup.alipay_pending {
  width: 370px;
  background: #fff;
  border-radius: 5px;
}

.popup.alipay_pending p {
  padding: 90px 60px 70px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.popup.alipay_pending p:before {
  content: '';
  display: block;
  background: url("../../images/svg/logo-alipay-wide.svg") no-repeat;
  width: 134px;
  height: 48px;
  margin: 0 auto 37px;
  background-size: contain;
}

.popup.alipay_pending p:after {
  content: '';
  display: block;
  background: url("../../images/common/profile-spinner.gif") no-repeat;
  width: 24px;
  height: 24px;
  margin: 40px auto 0;
}

.popup.sponsored {
  width: 648px;
  background: none;
}

.popup.sponsored .cover {
  position: relative;
  z-index: 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  background: #15181c;
}

.popup.sponsored .cover:before {
  content: '';
  z-index: 1;
  width: 100%;
  height: 50%;
  top: 0;
  left: -50%;
  position: absolute;
  background: -o-linear-gradient(top, black, rgba(0, 0, 0, 0));
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  visibility: visible !important;
  opacity: 0.3;
}

.popup.sponsored .cover:after {
  content: '';
  z-index: 1;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 50%;
  position: absolute;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), black);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  visibility: visible !important;
  opacity: 0.3;
}

.popup.sponsored .tit {
  position: absolute;
  left: 0;
  top: 35px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.popup.sponsored .brand_cover_img {
  opacity: 0.8;
  vertical-align: top;
  width: 100%;
  height: 551px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.popup.sponsored .btn-cancel {
  position: relative;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.01);
  font-size: 14px;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background: #2184dc;
  border-radius: 0 0 5px 5px;
}

.popup.sponsored .brand {
  position: absolute;
  bottom: 75px;
  left: 0;
  width: 100%;
  text-align: center;
}

.popup.sponsored .brand small {
  display: block;
  font-size: 11px;
  color: #ffffff;
  opacity: 0.7;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.popup.sponsored .tagline {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 17px;
}

.popup.sponsored .brand_logo {
  display: block;
  width: 115px;
  margin: 0 auto;
}

.popup.globee {
  width: 360px;
  background: #fff;
}

.popup.edit-personalization {
  width: 415px;
  background: #fff;
  border-radius: 5px;
}

.popup.edit-personalization fieldset {
  padding: 15px;
}

.popup.edit-personalization textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100px;
}

.popup.edit-personalization .btn-area {
  text-align: right;
  padding: 15px;
  border-top: 1px solid #f2f2f2;
}

.popup.edit-personalization .btn-area button {
  margin-left: 6px;
}

.popup.term_sdd {
  width: 500px;
  border-radius: 5px;
  background: #fff;
}

.popup.term_sdd .agreement {
  padding: 15px;
}

.popup.term_sdd .agreement p + p {
  margin-top: 15px;
}

.popup.add_gift_msg {
  width: 482px;
  background: #fff;
  border-radius: 5px;
}

.popup.add_gift_msg .btn-area {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #f2f2f2;
}

.popup.add_gift_msg .btn-area button {
  margin-left: 6px;
}

.popup.add_gift_msg textarea.text {
  display: block;
  height: 80px;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup.add_gift_msg fieldset {
  padding: 15px 15px 0;
}

.popup.add_gift_msg fieldset p {
  padding-bottom: 15px;
  line-height: 24px;
}

.popup.add_gift_msg fieldset p input[type="checkbox"] {
  margin-right: 4px;
}

.popup.add_gift_msg fieldset label {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: -3px;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .cart .wrapper-content {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .cart .reciept-summary {
    display: block;
  }
  .cart .cart-item {
    float: none;
    width: auto;
    min-height: 0;
  }
  .cart .cart-payment {
    float: none;
    width: auto;
    border-radius: 0;
    border-width: 1px 0 0;
    border-color: #EBECED;
    padding: 16px 0;
  }
  .cart .cart-payment h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .cart .payment-method li {
    padding: 10px 0;
  }
  .cart h1 {
    font-size: 17px;
    line-height: 24px;
    padding: 0 0 10px;
  }
  .cart .free-shipping {
    font-size: 15px;
    line-height: 20px;
    padding: 24px 0 8px;
  }
  .cart .cart-item-detail li {
    padding: 16px 0 24px;
  }
  .cart .cart-item-detail li > span {
    padding-top: 4px;
  }
  .cart .cart-item-detail li .title {
    line-height: 20px;
    max-width: none;
  }
  .cart .cart-item-detail li .option {
    max-width: none;
  }
  .cart .cart-item-detail li .item img {
    position: static;
    float: left;
    width: 92px;
    height: 64px;
    margin: 0 14px 12px 0;
  }
  .cart .cart-item-detail li .price {
    position: static;
    width: auto;
    text-align: left;
    font-size: 14px;
    line-height: 19px;
  }
  .cart .cart-item-detail li .qty {
    position: static;
    width: auto;
    width: 136px;
  }
  .cart .cart-item-detail li .qty label {
    display: none;
  }
  .cart .cart-item-detail li .gift, .cart .cart-item-detail li .delivery {
    padding-top: 4px;
    float: none;
  }
  .cart .cart-item-detail li .action a + a, .cart .cart-item-detail li .notification-cart a + a {
    margin-left: 12px;
  }
  .cart .saved-later h3, .cart .people_bought h3, .cart .recently_item h3 {
    font-size: 17px;
    line-height: 24px;
    padding: 24px 0 16px;
  }
  .cart .saved-later li, .cart .people_bought li, .cart .recently_item li {
    width: 120px;
    margin-left: 16px;
    float: none;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
  .cart .saved-later li:nth-child(4n+1), .cart .saved-later li:nth-child(5n+1), .cart .people_bought li:nth-child(4n+1), .cart .people_bought li:nth-child(5n+1), .cart .recently_item li:nth-child(4n+1), .cart .recently_item li:nth-child(5n+1) {
    margin-left: 16px;
  }
  .cart .saved-later li:first-child, .cart .people_bought li:first-child, .cart .recently_item li:first-child {
    margin-left: 24px;
  }
  .cart .saved-later li:last-child, .cart .people_bought li:last-child, .cart .recently_item li:last-child {
    margin-right: 24px;
  }
  .cart .saved-later ul, .cart .people_bought ul, .cart .recently_item ul {
    white-space: nowrap;
    overflow: auto;
    margin: 0 -24px;
    font-size: 0;
    overflow-y: hidden;
  }
  .cart .recently_item {
    overflow: visible;
  }
  .cart .saved-later .cart-item-detail {
    overflow: auto;
  }
  .cart .saved-later .cart-item-detail li {
    padding: 0;
    margin-right: 0;
    width: 120px;
    margin-left: 16px;
  }
  .cart .saved-later .cart-item-detail li .title {
    font-weight: 600;
  }
  .cart .saved-later .cart-item-detail li .item img {
    height: auto;
    display: block;
    float: none;
    width: 100%;
  }
  .cart .saved-later .cart-item-detail li .action a + a, .cart .saved-later .cart-item-detail li .notification-cart a + a {
    margin-left: 16px;
  }
  .cart .saved-later .cart-item-detail li:first-child {
    margin-left: 24px;
  }
  .cart .saved-later .cart-item-detail li:last-child {
    margin-right: 24px;
  }
  .cart .saved-later .swiper-button-prev, .cart .saved-later .swiper-button-next {
    display: none;
  }
  .cart .cart-payment .apple-pay-button, .cart .cart-payment .btns-blue-embo, .cart .reciept-summary .apple-pay-button, .cart .reciept-summary .btns-blue-embo {
    font-size: 16px;
    line-height: 48px;
  }
  .cart .cart-payment .apple-pay-button, .cart .reciept-summary .apple-pay-button {
    height: 48px;
  }
  .cart .cart-payment .apple-pay-button > .text, .cart .reciept-summary .apple-pay-button > .text {
    font-size: 16px;
  }
  .cart .empty-cart {
    font-size: 15px;
    line-height: 20px;
  }
  .cart .empty-cart b {
    font-size: 24px;
    line-height: 28px;
  }
  .cart .empty-cart .btns-blue-embo {
    font-size: 16px;
    line-height: 48px;
  }
  .checkout .wrapper-content {
    padding-top: 59px;
  }
  .checkout #sidebar, .checkout #content {
    float: none;
    width: auto;
  }
  .checkout #sidebar .checkout-submit {
    display: none;
  }
  .checkout .checkout-submit {
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .checkout .checkout-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #fff;
    z-index: 9;
  }
  .checkout .checkout-header .secure {
    font-size: 14px;
    line-height: 19px;
  }
  .checkout .checkout-header .secure:before {
    width: 8.25px;
    height: 11.25px;
    margin-right: 8px;
    background-position: -48px -90px;
    background-size: 120px;
    margin-top: -5px;
  }
  .checkout .checkout-header .logo {
    width: 80px;
    height: 16px;
  }
  .checkout .preview-cart {
    margin-top: 0;
  }
  .checkout .preview-cart .cart-item-detail li {
    padding: 0;
  }
  .checkout .preview-cart .cart-item-detail li .item img {
    margin-bottom: 0;
  }
  .checkout .preview-cart .cart-item-detail li + li {
    margin-top: 16px;
  }
  .checkout .preview-cart dt a:after {
    position: static;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-left: 11px;
  }
  .checkout .preview-cart dt .total {
    display: block;
  }
  .checkout .preview-cart.show dt a:after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-top: -4px;
  }
  .checkout .payment-coupon {
    padding-top: 16px;
  }
  .checkout .payment-coupon .btn-apply {
    top: 16px;
    line-height: 40px;
  }
  .checkout .step li {
    font-size: 16px;
    line-height: 22px;
    padding-top: 32px;
  }
  .checkout .step:after {
    margin-bottom: 24px;
  }
  .checkout h2.stit {
    font-size: 16px;
    line-height: 22px;
  }
  .checkout .checkout-shipping .label, .checkout .checkout-payment .label, .checkout .checkout-review .label {
    font-size: 15px;
    line-height: 20px;
    padding: 16px 0 8px;
  }
  .checkout .checkout-shipping .btns-blue-embo, .checkout .checkout-payment .btns-blue-embo, .checkout .checkout-review .btns-blue-embo {
    margin-top: 30px;
    width: 100%;
    display: block;
    line-height: 48px;
  }
  .checkout .checkout-shipping .state, .checkout .checkout-shipping .city, .checkout .checkout-shipping .zipcode, .checkout .checkout-shipping .telephone {
    display: block;
    width: auto;
    margin-left: 0;
    float: none;
  }
  .checkout .checkout-review h2.stit, .checkout .checkout-review .cart-item-detail .stit {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .checkout .checkout-review h3.stit {
    float: none;
    padding: 16px 0 8px;
    font-size: 16px;
    line-height: 22px;
  }
  .checkout .checkout-review h3.stit + p {
    padding: 0 0 8px;
    float: none;
    font-size: 15px;
    line-height: 20px;
    width: auto;
  }
  .checkout .checkout-review .cart-item-detail {
    padding-top: 8px;
  }
  .checkout .checkout-review .cart-item-detail li {
    padding: 18px 0 6px;
  }
  .checkout .checkout-review .cart-item-detail li > span {
    padding-top: 1px;
  }
  .checkout .checkout-review .cart-item-detail li .qty {
    float: left;
    width: auto;
  }
  .checkout .checkout-review .cart-item-detail li .price {
    float: right;
  }
  .checkout .checkout-review .cart-item-detail li .delivery {
    clear: both;
  }
  .checkout .checkout-review .cart-item-detail li + li {
    margin-top: 0;
  }
  .checkout .checkout-review .edit {
    top: 0;
  }
  .checkout .checkout-payment .cvv {
    margin-left: 25px;
    width: calc(50% - 15px);
  }
  .checkout .checkout-payment .cvv .tooltip small {
    left: auto;
    right: -20px;
  }
  .checkout .checkout-payment .cvv .tooltip small:before {
    right: 11px;
    left: auto;
  }
  .checkout .checkout-payment .cvv .tooltip small:after {
    right: 12px;
    left: auto;
  }
  .checkout .checkout-payment .date {
    width: calc(50% - 15px);
  }
  .checkout .checkout-payment .number:before {
    top: 52px;
    right: 8px;
  }
  .checkout .checkout-payment .pay-with-giftcard .btn-apply {
    line-height: 40px;
    padding: 0 8px;
  }
  .checkout .checkout-payment .number:before, .checkout .card:before {
    width: 36px;
    height: 24px;
  }
  .checkout input[type="text"], .checkout input[type="tel"], .checkout textarea, .checkout select {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 340px) {
  .cart .wrapper-content, .checkout .checkout-header {
    padding-left: 14px;
    padding-right: 14px;
  }
  .cart .saved-later ul, .cart .people_bought ul, .cart .recently_item ul {
    margin: 0 -14px;
  }
  .cart .saved-later li:first-child, .cart .saved-later .cart-item-detail li:first-child, .cart .people_bought li:first-child, .cart .people_bought .cart-item-detail li:first-child, .cart .recently_item li:first-child, .cart .recently_item .cart-item-detail li:first-child {
    margin-left: 14px;
  }
  .cart .saved-later li:last-child, .cart .saved-later .cart-item-detail li:last-child, .cart .people_bought li:last-child, .cart .people_bought .cart-item-detail li:last-child, .cart .recently_item li:last-child, .cart .recently_item .cart-item-detail li:last-child {
    margin-right: 14px;
  }
}
/*# sourceMappingURL=cart.v3.css.map */