.after:after, #printArea .order-title:after, #printArea .order-title dl:after, #printArea .order-detail .cart-list:after, #printArea .order-detail .detail li:after, #printArea .order-detail .total-frm li:after {
  content: '';
  clear: both;
  display: block;
}

#printArea {
  background: #fff;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 920px;
  padding: 70px 0 113px;
}

#printArea.pack-receipt {
  padding-bottom: 113px;
  min-height: 850px;
}

#printArea.pack-receipt h1 {
  padding-top: 40px;
}

#printArea.pack-receipt h1:before {
  top: 40px;
}

#printArea.pack-receipt h1.seller {
  background: none;
  height: auto;
}

#printArea.pack-receipt h1.seller:before {
  display: none;
}

#printArea.pack-receipt h1.seller img {
  max-height: 67px;
  max-width: 300px;
  display: block;
}

#printArea .content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  page-break-before: always;
}

#printArea h1 {
  position: relative;
  text-indent: -1000em;
  max-width: 800px;
  margin: 0 auto;
  height: 67px;
  padding: 0 20px 40px;
}

#printArea h1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 300px;
  height: 67px;
  background: url("../../images/svg/logo_simbol.svg") no-repeat;
  background-size: cover;
}

#printArea .gift-title {
  text-align: center;
  font-size: 22px;
  padding-bottom: 40px;
}

#printArea .gift-title small {
  display: block;
  font-weight: 400;
  padding-bottom: 10px;
  font-size: 14px;
}

#printArea .order-title {
  padding-bottom: 20px;
}

#printArea .order-title dl {
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 20px;
}

#printArea .order-title dl.address {
  float: left;
  width: 50%;
}

#printArea .order-title dt {
  float: left;
  clear: both;
  width: 155px;
  padding: 1px 0;
  font-size: 15px;
}

#printArea .order-title dd {
  float: left;
  width: calc(100% - 155px);
  padding: 2px 0;
}

#printArea .order-detail {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 40px;
}

#printArea .order-detail + .order-title {
  margin: 40px 0 0;
}

#printArea .order-detail > ul {
  padding: 12px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#printArea .order-detail > ul b {
  font-size: 15px;
}

#printArea .order-detail .cart-list {
  width: 100%;
}

#printArea .order-detail .cart-list:nth-child(2) li b {
  display: block;
}

#printArea .order-detail .cart-list li {
  position: relative;
  float: right;
  width: 120px;
  text-align: right;
}

#printArea .order-detail .cart-list li b {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  padding: 0 0 25px;
  display: none;
}

#printArea .order-detail .cart-list li.title {
  float: left;
  width: calc(100% - 360px);
  text-align: left;
}

#printArea .order-detail .cart-list li.title b {
  display: block;
  padding: 0;
  position: static;
}

#printArea .order-detail .cart-list th {
  font-weight: 500;
  padding: 20px 0;
}

#printArea .order-detail .cart-list th.price, #printArea .order-detail .cart-list th.total, #printArea .order-detail .cart-list th.qty {
  text-align: right;
}

#printArea .order-detail .cart-list td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px 0;
  font-weight: bold;
  font-size: 15px;
}

#printArea .order-detail .cart-list td.price, #printArea .order-detail .cart-list td.total, #printArea .order-detail .cart-list td.qty {
  text-align: right;
}

#printArea .order-detail > ul:first-child, #printArea .order-detail .detail li:first-child td {
  border-top: 0;
}

#printArea .order-detail .detail {
  padding: 0;
  border: 0;
}

#printArea .order-detail .detail li {
  padding: 12px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#printArea .order-detail .detail li b {
  float: left;
  width: 155px;
}

#printArea .order-detail .total-frm ul {
  float: right;
  min-width: 265px;
}

#printArea .order-detail .total-frm li {
  padding: 12px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#printArea .order-detail .total-frm li:first-child {
  border-top: 0;
}

#printArea .order-detail .total-frm li.total {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}

#printArea .order-detail .total-frm li label {
  float: left;
  font-weight: bold;
  font-size: 15px;
}

#printArea .order-detail .total-frm li span {
  float: right;
}

#printArea .order-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 24px;
}

#printArea .order-footer b {
  font-size: 22px;
  padding-bottom: 5px;
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

@page {
  size: portrait;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}
/*# sourceMappingURL=printable.v4.css.map */