@charset "UTF-8";

h2.ptit, .wrapper {margin-bottom:18px;}
.wrapper .stit {padding: 10px 15px;color: #5D6470;background: #F4F5F6;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);font-size: 12px;line-height: 20px;border-bottom: 1px solid #E1E3E6;border-radius: 5px 5px 0 0;font-weight: bold;}
.ptit b {display:inline-block;vertical-align:middle;position:relative;margin-top: -3px;}
.ptit b a {display:block;padding-right: 15px;}
.ptit b a:after {content:'';position:absolute;right:0;top:50%;border: 4px solid transparent;border-top-color: #959ba4;margin-top: -3px;}
.ptit b a:before {content:'';position:absolute;right:-1px;top:50%;border: 5px solid transparent;border-top-color: #fff;margin-top: -3px;}
.ptit b select {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}

/* campain status */
.campain {position:relative;}
.campain #content {box-shadow:none;background:none;}
.campain .data-field {padding:20px;}

/* campain status */
.status .controller .controll-date a.date_.current:before {background:url("../../../_ui/images/normal/seller_dashboard.png") no-repeat;background-size:500px 300px;}
.status .controller {position:absolute;right: 10px;top: -55px;z-index: 2;}
.status .controller .date-range {position:relative;display:inline-block;line-height:27px;color:#7b7d80;font-weight:bold;background: #f7f7f7;background: -webkit-linear-gradient(top,#fefefe,#f7f7f7);background: -ms-linear-gradient(top,#fefefe,#f7f7f7);background: -moz-linear-gradient(top,#fefefe,#f7f7f7);background: -o-linear-gradient(top,#fefefe,#f7f7f7);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',endColorstr='#f7f7f7');padding:0 25px 0 10px;font-size:12px;border:1px solid;border-color:#d6d8d9 #d6d8d9 #cdcecf;border-radius: 3px;}
.status .controller .date-range:after {content:'';position:absolute;right:10px;top:50%;border:4px solid transparent;border-top-color:#8c9096;margin-top: -3px;}
.status .controller .controll-date {display:none;position:absolute;background:#fff;right:0;top:33px;border-radius:3px;box-shadow:0 0 0 1px rgba(0,0,0,0.15),0 2px 3px rgba(0,0,0,0.09);z-index:2;padding:8px 0;width: 238px;}
.status .controller .controll-date .after {position:relative;z-index:2;border-top:1px solid #ececed;padding-top:8px;margin-top:8px;}
.status .controller .controll-date a.date_ {display:block;padding:0 10px 0 30px;color:#717b84;font-size:13px;line-height:26px;position: relative;}
.status .controller .controll-date a.date_ {display: block;padding: 0 10px 0 36px;color: #717B84;font-size: 13px;line-height: 26px;position: relative;}
.status .controller .controll-date a.date_:hover {background:#f4f4f4;text-decoration:none;}
.status .controller .controll-date a.date_.current:before {content: '';position: absolute;width: 13px;height: 10px;background-position: -239px 0;left: 15px;top: 50%;margin-top: -5px;}
.status .controller .controll-date #datepickers {padding: 8px 0 0;display: block;position: static;box-shadow: none;}
.status .controller .controll-date #datepickers:after {content:'';clear:both;display:block;width:100%;height:0;}
.status .controller .controll-date #datepickers .k-days, .status .controller .controll-date #datepickers .k-title .k-caption, .status .controller .controll-date #datepickers .k-header {margin: 0 3px;width: 203px;padding: 0;}
.status .controller .controll-date input {border:1px solid #cdcfd1;color:#989aa0;background:#f8f8f8;width:94px;text-align:center;line-height:25px;border-radius:3px;}
.status .controller .controll-date .date_detail {padding: 7px 14px 6px;display: none;}
.status .controller .controll-date .start-date {margin:0 2px 0 0;}
.status .controller .controll-date .end-date {margin:0 0 0 2px;}
.status .controller #datepickers .k-header span, .status .controller #datepickers .k-days span {width: 28px;border-radius:3px;margin: 1px 1px 0 0;}
.status .controller #datepickers .k-header span {font-size:10px;color:#8a8f9c;}
.status .controller #datepickers .k-days .k-out-of-month {background:none !important;color:#cdd0d3 !important;}
.status .controller #datepickers .k-days span {color:#717b84;}
.status .controller #datepickers .k-days .k-range {background:none !important;color:#717b84 !important;}
.status .controller #datepickers .k-days .k-range:hover, .status .controller #datepickers .k-days span:hover {background:#f8f8f8 !important;}
.status .controller #datepickers .k-days .k-selected:hover, .status .controller #datepickers .k-days .k-selected {background:#6497cd !important;color:#fff !important;}
.status .current-state {display:table;margin: 0 0 16px;width:100%;border-spacing: 0;}
.status .current-state li {display:table-cell;width:33.33%;position:relative;border:0;border-radius:0;height:110px;text-align:center;vertical-align:middle;}
.status .current-state .label {padding: 0 9px;line-height: 27px;font-size: 10px;text-transform: uppercase;display: block;color:#979ca8;}
.status .current-state b {font-size:26px;color:#4e5461;padding: 10px 15px 0;display: block;}
.status .current-state small {padding:0 15px;}
.status .current-state li:before {content:'';position:absolute;right:0;top:50%;margin-top:-35px;height:70px;width:1px;background:#e0e0e0;opacity:0.3;}
.status .current-state li:last-of-type:before {display:none;}
.status .current-state a:hover {text-decoration:none;}
.status .current-state a:hover b {color: #4978b3;}
.status .graph {position:relative;padding: 0 0 7px 25px;}
.status .graph svg {position:relative;display: block;width:908px;height: 350px;}
.status .graph svg rect {stroke-width:0;fill: #5c89c2;border-radius:2px 2px 0 0;}
.status .graph svg .guest rect {fill: #f0f5f9;}
.status .graph .axis { shape-rendering: crispEdges; }
.status .graph .axis path { display: none;}
.status .graph .axis text { fill: #8a8d96; font-size: 11px; }
.status .graph [class^="y"] {color:#8a8d96;font-size:11px;transform: translate(12px,0);-webkit-transform: translate(12px,0);-moz-transform: translate(12px,0);}
.status .graph .y5 {top:38px;}
.status .graph .y4 {top:84px;}
.status .graph .y3 {top:130px;}
.status .graph .y2 {top:180px;}
.status .graph .y1 {top:226px;}
.status .graph .y.axis {transform: translateX(-6px);-webkit-transform: translateX(-6px);-moz-transform: translateX(-6px);}
.status .graph .y.axis line { stroke: #f5f5f5; stroke-width: 1; transform: translate(16px,0);-webkit-transform: translate(16px,0);-moz-transform: translate(16px,0);}
.status .graph .y.axis g:first-of-type line {stroke: #dddddd;transform: translate(6px,0);-webkit-transform: translate(6px,0);-moz-transform: translate(6px,0);}
.status .graph .x1 {left:76px;}
.status .graph .x2 {left:150px;}
.status .graph .x3 {left:220px;}
.status .graph .x4 {left:290px;}
.status .graph .x5 {left:360px;}
.status .graph .x6 {left:426px;}
.status .graph .x7 {left:499px;}
.status .graph .x8 {left:570px;}
.status .graph .x9 {left:640px;}
.status .graph .x10 {left:710px;}
.status .graph .x11 {left:780px;}
.status .graph .x12 {left:847px;}
.status .graph .x.axis line {stroke: #ddd; stroke-width: 1;}
.status .graph .x.axis g:first-of-type line {transform: translate(0);-webkit-transform: translate(0);-moz-transform: translate(0);}
.status .graph .tooltip {background:#1b1c20;padding: 9px 10px 8px;border-radius:3px;color:#a7a8ad;font-size:11px;line-height: 15px;height: auto;display: none;z-index: 2;text-align: left;      position: absolute;      box-shadow: 0 1px 3px rgba(0,0,0,0.3);min-width: 112px;}
.status .graph .tooltip span {position:static;display:block;color:#a7a8ad;font-size:11px;}
.status .graph .tooltip:after {content:'';position:absolute;bottom:-10px;left:50%;margin-left:-5px;border:5px solid transparent;border-top-color:#1b1c20;}
.status .graph .tooltip.ani {transition: top .2s, left .2s;-webkit-transition: top .2s, left .2s;-moz-transition: top .2s, left .2s;}
.status .graph .tooltip .value {display:block;color:#ffffff;line-height:19px;font-size: 15px;}
.status .graph .tooltip .label {font-size:12px;color:#d3d6dd;line-height:18px;font-weight:bold;display: block;}
.status .graph .tooltip .time {display: block;font-size: 11px;color: #a7a8ad;}
.status .chart .detail {font-size:11px;color:#777b84;padding:28px 27px 0;}
.status .chart .detail span {margin-right:17px;}
.status .chart .detail span:before {content:'';display:inline-block;vertical-align:middle;width:6px;height:6px;border-radius:2px;margin:-3px 5px 0 0;background:#c3ccd5;}
.status .chart .detail .user:before {background:#5c89c2;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.status .controller .controll-date a.date_.current:before {background-image:url("../../../_ui/images/retina/seller_dashboard.png") ;}
}

/* create campain */
.create .payment .select_payment label:before, .create .label .tooltip .icon {background: url("../../../_ui/images/normal/cart_new.png") no-repeat;background-size: 200px 200px;}
.create .payment .select_payment label.dc:before {background: url("../../../_ui/images/normal/cart.png") no-repeat;background-size:200px 200px;}
.create .sns-connect .title b:before, .create .campaign-content .upload .add:before, .campain .preview-content .tab i {background:url("../../../_ui/images/normal/user-icon.png") no-repeat;background-size:200px 200px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.create .payment .select_payment label:before, .create .label .tooltip .icon {background-image: url("../../../_ui/images/retina/cart_new.png");}
	.create .payment .select_payment label.dc:before {background-image: url("../../../_ui/images/retina/cart.png");}
	.create .sns-connect .title b:before, .create .campaign-content .upload .add:before, .campain .preview-content .tab i {background-image: url("../../../_ui/images/retina/user-icon.png");}
}
.create {position:relative;}
.create:after {content:'';clear:both;display:block;}
.create #sidebar {float:left;width:229px;}
.create #content {float:right;width:723px;width:calc(100% - 250px);width:-webkit-calc(100% - 250px);width:-moz-calc(100% - 250px);}
.create .faq {padding-bottom:19px;}
.create .faq dl {padding:19px 15px 0;font-size:12px;line-height:17px;color:#61687a;}
.create .faq dt {font-weight:bold;padding-bottom:5px;color:#383d48;}
.create input.text {background:#f8f8f8;}
.create input[type="text"].error {border-color: #ED1C24;background:#fff1e5;}
.create fieldset {padding:15px;}
.create .label {display:block;color:#393d4d;font-weight:bold;padding-bottom:6px;font-size: 12px;}
.create .label small {display:block;font-size:11px;color:#8a8f9c;font-weight: normal;padding-top: 3px;}
.create .label .tooltip {vertical-align:middle;margin-top: -2px;display: inline-block;}
.create .label .tooltip .icon {display:block;opacity:0.4;width:14px;height:14px;background-position: -110px -30px;}
.create .label .tooltip em {width: 170px;white-space: normal;padding: 11px 12px;left: 50%;margin-left: -97px;font-size: 12px;font-weight: normal;line-height: 18px;}
.create .payment .notify {padding:16px 17px;line-height:18px;font-size:13px;color: #a1a5b0;border-top:1px solid #f0f1f2}
.create .payment .notify:after {content:'';clear:both;display:block;}
.create .submisson input.text {width: 677px;background: #f8f8f8;}
.create .submisson li {color:#383d48;font-size:16px;line-height:18px;}
.create .submisson li > small {display:block;font-size:10px;color:#91969c;text-transform:uppercase;}
.create .submisson .budget .amount span {position:relative;display: inline-block;}
.create .submisson .budget .amount span:after {content:'$';position:absolute;top: 1px;left: 1px;background: #fff;line-height: 29px;height:29px;color: #8c9099;font-size: 13px;width: 30px;text-align: center;border-right: 1px solid #D9DBDD;}
.create .submisson .budget input {-webkit-appearance: none;margin: 0;padding: 5px 7px 5px 37px;line-height: 19px;border: 1px solid #D9DBDD;border-radius: 2px;font-size: 13px;background: #f8f8f8;color: #393D4D;vertical-align: middle;cursor: text;width: 98px;}
.create .submisson .budget input:focus {border-color: #ACBDCB !important;box-shadow: 0 0 0 2px rgba(78, 133, 184, 0.17) !important;background-color: #FFF !important;}
.create .submisson .budget .view input {position:static;padding-left: 7px;width: 128px;margin-right: 4px;}
.create .submisson .budget span.view {color:rgba(79, 86, 99, 0.5);}
.create .submisson .budget li.view input {width: 100px;margin-right:0;text-align: right;}
.create .submisson .budget li input {width: 131px;}
.create .submisson li.amount {float:left;}
.create .submisson li.view {float:right;text-align:right;}
.create .submisson .amount_range {border:1px solid #f0f1f1;border-radius:3px;padding:16px 14px 25px;}
.create .submisson p {padding-bottom:15px;}
.create .submisson ul {padding-bottom:20px;}
.create .submisson ul:after {content:'';clear:both;display:block;}
.create .sns-connect {padding:15px;}
.create .sns-connect .label {color: #393d4d;font-weight: bold;margin-bottom: 5px;}
.create .sns-connect li {position:relative;margin-bottom:10px;border-radius:3px;border:1px solid rgba(217, 220, 222, 0.5);padding: 15px 120px 15px 15px;line-height: 25px;font-size: 12px;color: #4f5663;}
.create .sns-connect .title b {font-size:13px;color: #393d4d;}
.create .sns-connect .title b:before {content:'';display:inline-block;vertical-align:middle;width: 21px;height: 21px;margin: -3px 6px 0 0;background-position: -85px -155px;}
.create .sns-connect .title b.tw:before {background-position: -110px -155px;}
.create .sns-connect .title b.in:before {background-position: -160px -155px;}
.create .sns-connect .title b.gg:before {background-position: -135px -155px;}
.create .sns-connect .btn-switch {position:absolute;top:50%;right:15px;width:54px;height:28px;border-radius: 14px;text-indent: -1000em;margin-top: -14px;}
.create .sns-connect .btn-switch:before {width:26px;height:26px;margin:-13px 0 0 0;left:1px;}
.create .sns-connect .btn-switch.on:before {left:27px;margin-left:0;}
.create .sns-connect a.edit {position:absolute;right:80px;top:50%;margin-top:-12px;}
.create .audience-tab .label {color: #393d4d;font-weight: bold;}
.create .audience-tab select {width:96px;}
.create .audience-tab {padding-bottom:15px;}
.create .audience-tab:after {content:'';clear:both;display:block;}
.create .audience-tab p {margin:12px 15px 0;padding: 0;}
.create .audience-tab .gender {float:left;margin-right:10px;}
.create .audience-tab .gender .selector {border:1px solid #d9dcde;border-radius:3px;line-height:29px;margin-top: 0;}
.create .audience-tab .gender .selector label {border-left:1px solid #d9dcde;padding:0 20px;color:rgba(79, 86, 99, 0.7);font-weight: bold;font-size: 12px;}
.create .audience-tab .gender .selector label.selected {color:rgba(79, 86, 99,1);background:#f8f8f8;}
.create .audience-tab .gender .selector label:first-of-type {border-left:0;}
.create .audience-tab .age {float:left;margin-left:0;}
.create .audience-tab input.text {width: 677px;background: #f8f8f8;}
.create .audience-tab .selector {display:block;margin-top: 5px;}
.create .audience-tab .selector input {position:absolute;top:-1000em;left:-1000em;visibility:hidden;opacity:0;}
.create .audience-tab .selector label {float:left;}
.create .audience-tab .selector:after {content:'';clear:both;display:block;}
.create .audience-tab .who-see .selector label {border-radius: 5px;text-align:center;margin-left:13px;box-shadow:inset 0 0 0 1px #d9dcde;width: 222px;font-size: 12px;line-height: 19px;padding: 21px 0;}
.create .audience-tab .who-see .selector label:first-of-type {margin-left:0;}
.create .audience-tab .who-see .selector label.selected {color:#287aca;box-shadow:inset 0 0 0 2px #287aca}
.create .audience-tab .who-see .selector label b {display:block;}
.create .campaign-content {padding-bottom:15px;}
.create .campaign-content:after {content:'';clear:both;display:block;}
.create .campaign-content p {margin:12px 15px 0 290px;padding: 0;}
.create .campaign-content .label {color: #393d4d;font-weight: bold;}
.create .campaign-content .image {margin-left:15px;position: relative;}
.create .campaign-content .image .label {padding-bottom:0;}
.create .campaign-content .title {float:left;margin-right: 0;}
.create .campaign-content .title input.text {width: 236px;}
.create .campaign-content .btn {float:left;margin-left: 15px;}
.create .campaign-content .btn select {width:150px;}
.create .campaign-content .description {clear:both;margin-top: 0;padding-top: 12px;}
.create .campaign-content .upload {position:absolute;left:0;top:100%;margin-top: 15px;width: 250px;height: 237px;}
.create .campaign-content .upload .add {position:absolute;width:248px;height: 149px;top:0;left:0;border:1px dashed #cfe1f3;padding: 86px 0 0;text-align: center;color: #619bd7;font-weight: bold;font-size: 12px;}
.create .campaign-content .upload .add:before {content:'';display:block;margin: 0 auto 20px;width: 33px;height: 33px;background-position:-150px -90px;}
.create .campaign-content .upload input {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.create .campaign-content .upload img {position:absolute;top:0;left:0;width:100%;height:100%;background:no-repeat 50% 50%;background-size:contain;}
.create .campaign-content .btn-area {position:static;margin: 15px 0 0;padding: 15px 15px 0;border-top: 1px solid #f0f0f2;}
.create .campaign-content input.text {width: 402px;}
.create .ui-slider {position:relative;}
.create .ui-slider i {position:absolute;top:50%;margin-top:-5px;width:1px;height:10px;background:#d6d6d6;opacity:0.3;}
.create .ui-slider:before {content: ''; display: block; z-index: 1; background: #F4F5F6; border: 1px solid #DBDBDC; border-radius: 2px; height: 4px; position: relative;}
.create .ui-slider-handle {position: absolute; margin: -10px 0 0 -5px; z-index: 2; width: 14px; height: 14px; border-radius: 100%; box-shadow: 0 0 0px 1px rgba(128, 139, 156, 0.42); background: #FFFFFF; cursor: pointer;}
.create .payment .saved {padding:15px;}
.create .payment .add_payment {float: left;font-size: 12px;}
.create .payment .select_payment {border: 1px solid #e9e9ea;border-radius: 3px;background: #f5f6f7;}
.create .payment .select_payment li {position:relative;border-bottom:1px solid #ebebec;}
.create .payment .select_payment li.selected:before {content:'';position: absolute;top:-1px;left: -1px;border:1px solid #e9e9ea;background:#fff;border-radius:3px;width: 100%;height: 100%;}
.create .payment .select_payment li:last-child {border-bottom:0;}
.create .payment .select_payment label {position: relative;color: #757882;line-height: 16px;padding: 15px 50px 13px 38px;display: block;}
.create .payment .select_payment input {position: absolute;top: 50%;left: 12px;margin-top: -7px;cursor: pointer;}
.create .payment .select_payment .edit {display:none;position: absolute;width: 25px;line-height: 25px;text-align: center;box-shadow: 0 2px 0 rgba(0,0,0,0.01),0 0 0 1px rgba(0,0,0,0.13);right: 16px;top: 50%;margin-top: -13px;border-radius: 2px;}
.create .payment .select_payment .edit:hover {box-shadow: 0 2px 0 rgba(0,0,0,0.01),0 0 0 1px rgba(0,0,0,0.2);}
.create .payment .select_payment .edit .icon {display:inline-block;width:10px;height:10px;background-position:-130px -30px;vertical-align:middle;margin-top:-3px;}
.create .payment .select_payment li.selected .edit {display:block;}
.create .payment .select_payment .title {font-size:13px;color:#393b42;}
.create .payment .select_payment small {font-weight:normal;color:#757882;}
.create .payment .select_payment .tooltip small {color:#fff;}
.create .payment .select_payment .name {position:absolute;top:16px;right: 85px;}
.create .payment .select_payment .exp {position: absolute;top: 16px;right: 12px;}
.create .payment .select_payment label:before {content: '';display: inline-block;vertical-align: middle;margin: -3px 6px -1px 0;width: 32px;height: 21px;}
.create .payment .select_payment label.visa:before {background-position:-80px 0;}
.create .payment .select_payment label.mastercard:before {background-position:-115px 0;}
.create .payment .select_payment label.amex:before {background-position:-150px 0;}
.create .payment .select_payment label.dc:before {background-position:-130px -120px;height:20px;box-shadow:0 0 0 1px rgba(0,0,0,0.07);border-radius: 2px;}
.create .payment .select_payment label.google:before {width:19px;height:20px;background-position:-30px 0;}
.create .payment .select_payment label.bitcoin:before {width:20px;height:20px;background-position:-55px 0;}
.create .btn-area {position:absolute;right:9px;padding:0;top:-57px;border:0;}
.create .btn-area button {line-height:30px;box-shadow:none;font-size:12px;margin:0;}

.new_payment .card_number:before, .new_payment .tooltip .icon {background: url("../../../_ui/images/normal/cart_new.png") no-repeat;background-size: 200px 200px;}
.new_payment fieldset {padding:15px 15px 0;}
.new_payment .checkout-shipping {padding: 10px 15px 15px;}
.new_payment .checkout-shipping fieldset {padding: 12px 15px 4px;background: #f8f8f8;border: 1px solid #D9DBDD;margin-top: 10px;border-radius: 3px;}
.new_payment .checkout-shipping input.text {width: 308px;background-color: #fff;}
.new_payment .save-payment-button-wrap {text-align: right;padding:16px 17px;border-top:1px solid #f0f1f2;margin: 15px -15px -15px;}
.new_payment .save-payment-button-wrap button {display: inline-block;font-size:12px;line-height:29px;}
.new_payment fieldset > p {float:left;padding-bottom:11px;width: calc(50% - 7px);width: -webit-calc(50% - 7px);width: -moz-calc(50% - 7px);}
.new_payment fieldset .city, .new_payment fieldset .line2, .new_payment fieldset .card_number {float:right;}
.new_payment fieldset > p.exp {width:auto;}
.new_payment select {width:90px;background-color:#f8f8f8;}
.new_payment select.year {width:100px;margin-left:8px;}
.new_payment fieldset .zipcode {margin-left:14px;width:90px;}
.new_payment fieldset .primary {padding: 5px 0 0;}
.new_payment .checkout-shipping select {width:324px;background-color: #fff;}
.new_payment .cvv {margin-left:14px;width: 109px;}
.new_payment .label {display:block;padding-bottom:6px;font-weight:normal;color:#888b94;}
.new_payment .focus .label {color:#393d4d;}
.new_payment .card_number {position:relative;}
.new_payment .card_number:before {opacity: 0;content: '';position: absolute;right: 5px;top: 25px;width: 32px;height: 21px;}
.new_payment .card_number.visa:before {opacity:1;background-position:-80px 0;}
.new_payment .card_number.mastercard:before {opacity:1;background-position:-115px 0;}
.new_payment .card_number.amex:before {opacity:1;background-position:-150px 0;}
.new_payment .tooltip {vertical-align:middle;margin-top: -2px;display: inline-block;}
.new_payment .tooltip .icon {display:block;opacity:0.4;width:14px;height:14px;background-position: -110px -30px;}
.new_payment .tooltip em {width: 170px;white-space: normal;padding: 11px 12px;left: 50%;margin-left: -97px;font-size: 12px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.new_payment .card_number:before, .new_payment .tooltip .icon {background-image:url("../../../_ui/images/retina/cart_new.png") ;}
}

.campain .list .tb-type4 .btn-cancel .icon {background: url("../../../_ui/images/normal/seller.png") no-repeat ;background-size: 250px 250px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.campain .list .tb-type4 .btn-cancel .icon {background-image: url("../../../_ui/images/normal/seller.png");}
}
.campain .list .btn-area { position: absolute; right: 7px; padding: 0; top: -57px; border: 0; }
.campain .list .btn-area button {line-height:27px;box-shadow:none;font-size:12px;margin:0;}
.campain .list .status.approved:before {background:#9fb2ca;}
.campain .list .status.rejected:before  {background:#d15353;}
.campain .list .status.live:before {background:#75a630;}
.campain .list .status.finished:before {background:#9fb2ca;}
.campain .list .tb-type4 td:last-child {position:relative;}
.campain .list .tb-type4 .btn-cancel {opacity:0;float:right;width:23px;line-height:23px;text-align:center;border:1px solid #e3e3e3;border-radius:2px;margin: -4px 0 -2px;}
.campain .list .tb-type4 .btn-cancel em {bottom:30px;left:50%;font-weight:bold;}
.campain .list .tb-type4 .btn-cancel .icon {background-position:-220px -90px;width:9px;height:9px;opacity:0.9;}
.campain .list .tb-type4 tr:hover .btn-cancel {opacity:1;}

#popup_container.campain_approve .popup.campain_approve {display:block;}
#popup_container .popup.campain_approve {background:#fff;border-radius:3px;width:350px;}
.popup.campain_approve .text {padding:15px;}
.popup.campain_approve .btn-area {padding:15px 9px 15px 15px;}

#popup_container.campain_reject .popup.campain_reject {display:block;}
#popup_container .popup.campain_reject {background:#fff;border-radius:3px;width:350px;}
.popup.campain_reject fieldset {padding:15px;}
.popup.campain_reject input.text {width:304px;}
.popup.campain_reject .btn-area {padding:15px 9px 15px 15px;}

.admin-user-frm {position:absolute;width:270px;left: 101%;top: 60px;z-index:9;cursor:move;}
.admin-user-frm label {display:block;font-size: 10px;text-transform: uppercase;color: #91969c;}
.admin-user-frm ul {padding:10px 15px;border-top:1px solid #f0f0f0;}
.admin-user-frm ul:first-of-type {border-top:0;}
.admin-user-frm li {padding:5px 0;}
.admin-user-frm dl {border-top:1px solid #f0f0f0;padding:12px 15px 15px;}
.admin-user-frm dd ul {padding: 5px 0 0;}

#popup_container.new_payment .popup.new_payment {display:block;}
#popup_container .popup.new_payment {width:700px;border-radius:3px;background:#fff;}
.popup.new_payment .checkout-shipping input.text {}
.popup.new_payment input.text {width: 100%;background:#f8f8f8;box-sizing: border-box;}
.popup.new_payment .checkout-shipping select {width: 313px;}
.popup.new_payment .checkout-shipping input { background-color: white; }
#content .new_payment .save-payment-button-wrap {text-align: right;padding-top: 10px;}
#content .new_payment .save-payment-button-wrap button {display: inline-block;}
#content .campaign-row .btn-cancel.tooltip em {margin-left: -55px;}
.trick {position:fixed;top:0;left:0;width:100%;height:100%;opacity:0;display:none;}
#graph .c3-grid line {stroke: #f5f5f5;}
#graph path.domain {display: none;}
#graph .c3-axis.c3-axis-y .tick line {display: none;}
#graph .c3-tooltip-container .tooltip.ani {display: block;}
#content .empty-orders-msg td {color: #A7A7A7;text-align: center;font-size: 14px;height: 170px;outline: none;}

.popup.audience-list .users a.btn-del:before, .create .audience-list .title:before, .create .tooltip .icon, .create .audience-add .btn-upload:after {background:url("../../../_ui/images/normal/product_new.png") no-repeat;background-size:200px 200px;}
.popup.audience-list .search:before {background:url("../../../_ui/images/normal/seller.png") no-repeat;background-size:250px 250px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.popup.audience-list .users a.btn-del:before, .create .audience-list .title:before, .create .tooltip .icon, .create .audience-add .btn-upload:after {background-image:url("../../../_ui/images/retina/product_new.png") ;}
	.popup.audience-list .search:before {background-image:url("../../../_ui/images/retina/seller.png") ;}
}

.create .tooltip .icon {width:14px;height:14px;display:block;opacity:0.4;background-position:-160px -100px;}
.create .label {font-weight:normal;color: rgba(57, 61, 77, 0.6);}
.create .focus .label {color:#393d4d;}
.create .submisson .label {color:#393d4d;font-weight:bold;}
.create .submisson .label small {display:block;font-weight:normal;font-size:11px;color:#8a8f9c;}
.create .audience {padding-bottom:18px;}
.create .audience-add {position:relative;margin:18px 18px 0;padding-right:223px;}
.create .audience-add .btn-upload {width:112px;position:absolute;right:0;bottom:0;padding:0;text-align:center;}
.create .audience-add .btn-upload:after {content:'';display:inline-block;width:7px;height:9px;background-position:-150px -100px;margin:-3px 0 0 4px;}
.create .audience-add .btn-add {width:87px;position:absolute;right:124px;bottom:0;padding:0;text-align:center;}
.create .audience-add .users {border: 1px solid #D9DBDD;border-radius: 2px;background: #F4F5F5;padding-bottom:3px;}
.create .audience-add .users .user {display:inline-block;vertical-align:middle;border:1px solid #bad0e1;border-radius:2px;line-height:21px;padding:0 5px;margin:3px 0 0 3px;background:#dbe6f2;}
.create .audience-add .users .new {position:relative;display:inline-block;vertical-align:middle;z-index: 2;}
.create .audience-add .users .new ul {position:absolute;top: 100%;left:10px;min-width: 190px;margin:17px 0 0 -95px;background:#fff;box-shadow:0 0 0 1px rgba(0,0,0,0.24),0 2px 8px rgba(0,0,0,0.09);border-radius:3px;}
.create .audience-add .users .new ul:before {content:'';position:absolute;left:50%;margin-left:-8px;border:8px solid transparent;border-bottom-color:rgba(0,0,0,0.24);bottom:100%;}
.create .audience-add .users .new ul:after {content:'';position:absolute;left:50%;margin-left:-7px;border:7px solid transparent;border-bottom-color:#fff;bottom:100%;}
.create .audience-add .users .new li {border-top:1px solid #f4f4f5;}
.create .audience-add .users .new li:first-child {border-top:0;}
.create .audience-add .users .new img {position:absolute;left:10px;top:50%;margin-top:-16px;width:32px;height:32px;border-radius:100%;background:no-repeat 50% 50%;}
.create .audience-add .users .new a {position:relative;display:block;font-size:13px;line-height:16px;color:#383d48;padding: 10px 10px 10px 50px;text-decoration:none;}
.create .audience-add .users .new small {display:block;font-size:12px;color:#999ea3}
.create .audience-add .users .new input {background:none;line-height:23px;width:100px;display:block;}
.create .audience-list {margin:18px 18px 0;border: 1px solid rgba(202, 204, 207, 0.3);border-radius:3px;}
.create .audience-list li {position:relative;border-top: 1px solid rgba(202, 204, 207, 0.3);line-height: 16px;padding: 18px 130px 18px 57px;}
.create .audience-list li:first-child {border-top:0;}
.create .audience-list li:before {content:'';position:absolute;top:50%;left:18px;width:29px;height:29px;border:1px solid #c0dcf5;border-radius:100%;margin-top:-15px;}
.create .audience-list .title label {display:block;color: #91969c;font-size: 10px;font-weight: normal;}
.create .audience-list .title:before {content:'';position:absolute;width:13px;height:13px;background-position:-180px -100px;left: 27px;top:50%;margin-top:-6px;}
.create .audience-list .btn-view {position:absolute;right:18px;top:50%;margin-top:-15px;}
.create .submisson .ui-slider-handle {width:10px;height:10px;border-radius:100%;box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15), 0 0 0 3px rgba(56, 133, 230, 0.4);position: absolute;margin: -8px 0 0 -4px;background: #5092e7;cursor: pointer;}

#popup_container.audience-list .popup.audience-list {display:block;}
#popup_container .popup.audience-list {width:450px;background: #fff;border-radius: 3px;}
.popup.audience-list .search {position:relative;padding:15px;}
.popup.audience-list .search:before {content:'';position:absolute;top:50%;width:12px;height:12px;background-position:-225px -15px;left: 23px;margin-top: -7px;}
.popup.audience-list .search input.text {height:auto;background:#f4f4f5;padding-left:25px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;width:100%;}
.popup.audience-list .users {border-top:1px solid #f4f4f5;max-height:365px;overflow:auto;padding-left:15px;}
.popup.audience-list .users li {position:relative;border-top:1px solid #f4f4f5;font-size:13px;line-height:16px;padding: 16px 16px 16px 52px;}
.popup.audience-list .users li:first-child {border-top:0;}
.popup.audience-list .users img {position:absolute;left:0;top:50%;margin-top: -20px;width: 40px;height: 40px;border-radius:100%;background:no-repeat 50% 50%;}
.popup.audience-list .users a {color:#383d48;text-decoration:none;}
.popup.audience-list .users small {display:block;font-size:12px;color:#999ea3}
.popup.audience-list .users a.btn-del {position:absolute;width: 29px;height: 29px;top: 50%;margin-top: -15px;right: 7px;text-indent: -1000em;}
.popup.audience-list .users a.btn-del:before {content:'';opacity:0.5;position:absolute;top:50%;left:50%;width:9px;height:11px;background-position:-90px 0;margin: -6px 0 0 -5px;}
.popup.audience-list .users a.btn-del em {right:100%;left:auto;text-indent:0;font-size:12px;line-height:28px;bottom:auto;top:50%;margin-top:-14px;padding:0 9px;border-radius:3px;}
.popup.audience-list .users a.btn-del em:after {left:100%;bottom:auto;top:50%;border:5px solid transparent;border-left-color:#222;margin:-5px 0 0 0;}

.popup.create_campaign a:before {background:url("../../../_ui/images/normal/editor_icons.png") no-repeat;background-size:200px 200px;}
#popup_container.create_campaign .popup.create_campaign {display:block;}
#popup_container .popup.create_campaign {width:500px;background: #fff;border-radius: 3px;}
.popup.create_campaign ul {padding:15px;}
.popup.create_campaign ul:after {content:'';clear:both;display:block;}
.popup.create_campaign li {position:relative;float:left;width:223px;border-radius:3px;height:223px;border:1px solid #e5e5e5;}
.popup.create_campaign li:nth-child(even) {float:right;}
.popup.create_campaign a {display:block;text-align:center;padding:175px 0 29px;line-height:20px;color:#989da6;font-size:14px;font-weight:600;}
.popup.create_campaign a:hover {text-decoration:none;}
.popup.create_campaign a:before {content:'';position:absolute;top:100px;left:50%;}
.popup.create_campaign a.new:before {width:48px;height:45px;margin:-23px 0 0 -24px;background-position:0 -90px;}
.popup.create_campaign a.sns:before {width:94px;height:42px;margin:-21px 0 0 -47px;background-position:-50px -90px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.popup.create_campaign a:before {background-image:url("../../../_ui/images/retina/editor_icons.png");}
}

.campain .preview-content .instagram .option .more span, .campain .preview-content .instagram .action span {background:url("../../../_ui/images/normal/instagram_preview.png") no-repeat;background-size:427px 389px;}
.campain .preview-content .facebook .action a:before, .campain .preview-content .facebook .option .more span  {background:url("../../../_ui/images/normal/facebook_preview.png") no-repeat;}
.campain .preview-content .facebook .reacted a {background:url("../../../_ui/images/normal/facebook_preview2.png") no-repeat;}
.social-preview #header {display:none;}
.social-preview #content {width:723px;margin:0 auto;}
.campain .preview-content .section {padding:30px 0;position:relative;}
.campain .preview-content .btn-edit {position:absolute;right: 17px;bottom:100%;margin-bottom: 18px;line-height: 29px;}
.campain .preview-content .tab {padding:0;background: none;box-shadow: inset 0 -1px 0 rgba(219, 219, 220, 0.3);}
.campain .preview-content .tab li {box-shadow: inset 1px 0 0 rgba(219, 219, 220, 0.3);}
.campain .preview-content .tab li:first-child {box-shadow:none;}
.campain .preview-content .tab a {background:none;box-shadow:none;font-size: 12px;color: #393d4d;padding: 24px 15px;}
.campain .preview-content .tab i {display: inline-block;vertical-align: middle;width: 21px;height: 21px;margin: -3px 8px 0 0;}
.campain .preview-content .tab i.fb {background-position: -85px -155px;}
.campain .preview-content .tab i.in {background-position: -160px -155px;}
.campain .preview-content .tab a.current {box-shadow: inset 0 -2px 0 #4595e3;}
.campain .preview-content article {width:410px;margin:0 auto;box-shadow: inset 0 0 0 1px rgba(0,0,0,0.07);position: relative;}
.campain .preview-content .thumbnail {display:block;position:relative;}
.campain .preview-content .thumbnail:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;box-shadow: inset 1px 0 rgba(0,0,0,0.03), inset -1px 0 rgba(0,0,0,0.03);}
.campain .preview-content .thumbnail img {max-width:100%;vertical-align:top;}
.campain .preview-content .instagram header {display:table;width:100%;height:60px;position: relative;}
.campain .preview-content .instagram header .option .more {padding:0 15px;line-height:60px;}
.campain .preview-content .instagram header .option .more span {width:13px;height:3px;background-position: -407px -228px;}
.campain .preview-content .instagram .username {position:relative;display:table-cell;vertical-align:middle;padding: 0 15px 0 57px;font-size: 12px;line-height: 15px;color: #1b2128;}
.campain .preview-content .instagram .username img {position:absolute;top:50%;left: 15px;width: 32px;height: 32px;border-radius: 100%;margin-top: -16px;}
.campain .preview-content .instagram .username .name {display:block;}
.campain .preview-content .instagram .detail {position:relative;}
.campain .preview-content .instagram .action {font-size: 13px;font-weight:600;padding: 15px 15px 10px;}
.campain .preview-content .instagram .action a {display:inline-block;vertical-align:middle;text-indent:-1000em;margin-left: 12px;}
.campain .preview-content .instagram .action a:first-of-type {margin-left:0;}
.campain .preview-content .instagram .action span {display:block;text-indent:-1000em;}
.campain .preview-content .instagram .action .heart {width:24px;height:21px;background-position: -197px -291px;}
.campain .preview-content .instagram .action .comment {width: 22px;height: 22px;background-position: -158px -339px;}
.campain .preview-content .instagram .action .share {width: 25px;height: 21px;background-position: -80px -365px;}
.campain .preview-content .instagram .hitinfo {font-size: 13px;font-weight:600;padding: 0 15px;}
.campain .preview-content .instagram .timeline {color:#8f9598;font-size:10px;padding: 0 15px 15px;line-height: 15px;}
.campain .preview-content .instagram .frm {margin:0 15px;padding: 16px 0;border-top: 1px solid #f2f2f2;}
.campain .preview-content .instagram .frm textarea {box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;resize:none;line-height: 18px;}
.campain .preview-content .instagram .comment ul {padding: 4px 15px;line-height: 18px;}
.campain .preview-content .instagram .comment li > a {font-weight:600;color: #393d4d;margin-right: 4px;}
.campain .preview-content .instagram .option {position:absolute;right:0;top: 0;}
.campain .preview-content .instagram .option .more {padding: 15px;background:none;}
.campain .preview-content .instagram .option .more span {display:inline-block;vertical-align:middle;width: 16px;height: 20px;text-indent:-1000em;background-position: -253px -291px;}	 
.campain .preview-content .facebook header {font-size:11px;line-height: 15px;color:#9197a3;padding:15px 50px 15px 57px;position: relative;}
.campain .preview-content .facebook .username {font-size: 12px;color: #1b2128;}
.campain .preview-content .facebook .username img {position:absolute;top:50%;left: 10px;width: 40px;height: 40px;margin-top: -20px;}
.campain .preview-content .facebook .option {position:absolute;right:0;top: 0;}
.campain .preview-content .facebook .option .more {padding: 12px 10px;background:none;}
.campain .preview-content .facebook .option .more span {display:inline-block;vertical-align:middle;width: 12px;height: 7px;text-indent:-1000em;background-position: -48px -149px;}
.campain .preview-content .facebook .userContent {padding: 0 10px 15px;line-height:18px;}
.campain .preview-content .facebook .hitinfo {float:right;font-size:11px;padding: 0 10px 0 0;}
.campain .preview-content .facebook .hitinfo a {color:#616770;line-height: 32px;margin-left: 6px;}
.campain .preview-content .facebook .reacted {float:left;padding: 8px 0 8px 10px;line-height: 32px;font-size: 11px;}
.campain .preview-content .facebook .reacted a {float:left;margin-left: -2px;box-shadow:0 0 0 2px #fff;width: 16px;height: 16px;border-radius: 100%;}
.campain .preview-content .facebook .reacted a:first-of-type {margin-left:0;}
.campain .preview-content .facebook .reacted a.more {line-height:16px;width:auto;box-shadow:none;margin-left: 6px;color: #616770;}
.campain .preview-content .facebook .reacted a.like {background-position: 0 -130px;}
.campain .preview-content .facebook .reacted a.sad {background-position: 0 -198px;}
.campain .preview-content .facebook .reacted a.wow {background-position: 0 -232px;}
.campain .preview-content .facebook .reacted span {display:none;}
.campain .preview-content .facebook .action {margin:0 10px;line-height: 32px;border-top: 1px solid #f2f2f2;clear: both;}
.campain .preview-content .facebook .action:after {content:'';clear:both;display:block;}
.campain .preview-content .facebook .action a {float:left;width:33.3%;text-align:center;color:#4b4f56;font-size:12px;}
.campain .preview-content .facebook .action a:before {content:'';display:inline-block;vertical-align:middle;margin: -3px 6px 0 0;opacity: 0.8;}
.campain .preview-content .facebook .action a:hover {text-decoration:none;}
.campain .preview-content .facebook .action .UFILikeLink:before {width:14px;height: 14px;background-position: -49px -39px;margin-top: -5px;}
.campain .preview-content .facebook .action .comment_link:before {width:14px;height: 13px;background-position: -49px -25px;}
.campain .preview-content .facebook .action .share_action_link:before {width:14px;height: 12px;background-position: -49px -100px;}


.popup.add_sns_page .tooltip .icon {background:url("../../../_ui/images/normal/seller_settings.png") no-repeat;background-size:120px 200px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.popup.add_sns_page .tooltip .icon {background-image:url("../../../_ui/images/retina/seller_settings.png");}
}
#popup_container.add_sns_page .popup.add_sns_page {display:block;}
#popup_container .popup.add_sns_page {width:500px;background:#fff;border-radius:3px;}
.popup.add_sns_page .data-frm {padding:15px;}
.popup.add_sns_page .data-frm .label {color: #393d4d;padding-bottom: 6px;}
.popup.add_sns_page .data-frm .tooltip em {left:50%;}
.popup.add_sns_page .data-frm .tooltip .icon {}
.popup.add_sns_page .data-frm input[type="text"] {width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;height:auto;}
.popup.add_sns_page .btn-area {text-align:right;padding: 15px 9px 15px 15px;}
.popup.add_sns_page .tooltip {display:inline-block;vertical-align:middle;margin:-3px 0 0 2px;}
.popup.add_sns_page .tooltip .icon {display:block;width:14px;height:14px;background-position:-95px -150px;opacity:0.4;}
