.popup.start-payment .gate a:before, .popup.start-payment .method.bank .powered:before, .popup.start-payment .method.bank .powered b {background:url('../../../_ui/images/normal/payout.png') no-repeat;background-size:150px 100px}
.make_payment {
	&#popup_container .popup.make_payment {display:block;}
	&.popup {background:#fff;width:450px;margin:0 auto;border-radius:3px;}
}
.sent_money {
	&#popup_container .popup.sent_money {display:block;}
	&.popup {
		background:#fff;width:374px;margin:0 auto;border-radius:3px;
		p.note textarea.text {height:50px;}
		p.date {
			input.text {padding-left:27px;}
			.calendar {display:block;position:relative;}
			.icon {position:absolute;top:8px;left:9px;width:11px;height:13px;background-position:-220px -30px}
		}
	}
}
.merchant_payout {
	&#popup_container .popup.merchant_payout {display:block;}
	&.popup {
		background:#fff;width:640px;margin:0 auto;border-radius:3px;
		div.merchant-payout-info { padding: 16px; }
		div.merchant-payout-header { margin-bottom: 12px; }
		span.merchant-payout-name { font-size: 130%; line-height: 130%; }
		span.merchant-payout-official { margin-left: 1em; font-size: 90%; color: #933; }
		dl { padding: 8px 0; }
		label { font-weight: bold; font-size: 105%; display: inline-block; min-width: 120px; }
		dd {
			padding: 8px 0 0 16px; 
			input.text { margin-bottom: 4px; }
		}
		.btn-area {border-top:1px solid #d5d7d9;text-align:right;padding:8px;}
		input.text { width: 160px; }
		select { width: 170px; }
	}
}
.wrapper {position: relative;background: #FFF;border-radius: 5px;overflow: hidden;box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);}

.edit_merchant {
	&#popup_container .popup.edit_merchant {display:block;}
	&.popup {
		background:#fff;width:540px;margin:0 auto;border-radius:3px;
		.merchant-info {padding:16px 15px 0 16px;}
		.summary {
			position:relative;padding:0 0 16px 78px;min-height:70px;border-bottom: 1px solid #f2f2f2;
			img {position:absolute;top:0;left:0;border-radius:5px;width:70px;height:70px;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1)}
			.sellername {display:block;padding:15px 0 3px;font-size:15px;}
			.category {
				display:block;padding-bottom:10px;
				.link, .link a {color:#39658e;}
			}
		}
		.storefront {
			padding-top:10px;
			ul {border-bottom: 1px solid #f2f2f2;padding: 5px 0 15px;}
			li {
				float:left;padding: 0 20px;line-height:18px;
				&:first-child {padding-left:0;}
				label {color:#999;display:block;font-size:10px;text-transform:uppercase;}
				input.text {padding: 5px;width: 53px;text-align: center;margin: -1px 0;line-height: 18px;}
				span {display:block;line-height: 20px;}
			}
		}
		.approved {padding-top:10px;}
		div.category {
			padding-top:13px;border-bottom:1px solid #f2f2f2;
			input {position:absolute;top:-1000em;left:-1000em;} 
			ul {padding:7px 0 16px;}
			li {float:left;margin:5px 5px 0 0;}
			label {display:block;padding:1px 9px;line-height:26px;border:1px solid #ebeced;border-radius:25px;background: #ebeced;}
			.selected label {background:#2685fa;border-color:#2685fa;color: #fff;}
		}
		.collection {
			border-bottom:1px solid #f2f2f2;padding:13px 0 15px;
			b {padding-bottom:11px}
			ul {clear:both;max-height:110px;overflow:auto;border:1px solid #f2f2f2;padding:4px 0;border-radius:3px;}
			input {position:absolute;top:-1000em;left:-1000em;} 
			label {
				position:relative;display:block;padding:0 24px;line-height:22px;color:#373d49;
				&:hover {background:#f5f6f8;box-shadow:0 1px 0 #f0f0f0,0 -1px 0 #f0f0f0;}
			}
			.selected label {
				font-weight:bold;
				&:before {content:'';position:absolute;top:50%;margin-top:-4px;width:8px;height:8px;left:9px;background:url("../../../_ui/images/normal/add.png") no-repeat -144px -166px;}
			}
		}
		.status {
			border-bottom:1px solid #f2f2f2;padding:13px 0;line-height:18px;
			b {padding-right:4px;}
		}
		.feature b.left, .category b.left, .collection b.left, .fee b.left {line-height:15px;}
		.feature span.right, .category span.right, .collection span.right, .directory span.right {margin-bottom:12px;color:#5f646d;font-weight:bold;font-size:12px;}
		.feature {
			padding:13px 0 15px;border-bottom:1px solid #f2f2f2;
			span.right {margin:0;}
		}
		.feature-list {
			clear:both;padding-top:12px;
			li {
				float:left;margin-left:1px;
				&:first-child {margin-left:0;}
			}
			img {width:84px;height:84px;vertical-align:top;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
		}
		.directory{
			padding:12px 0;
			span.right{margin:0;}
		}
		.btn-switch {vertical-align:middle;margin:-3px 0 0 5px;}
		.toggle-active {float:left;}
		.lnk-crm {display:none;}
		.fee {
			padding-top:14px;
			input.text {padding: 0;width: 40px;text-align: center;margin: -1px 0;line-height: 18px;}
		}
		&.crm {
			width:400px;background:#fff;border-radius:3px;
			.default {display:none;}
			.lnk-crm {display:block;}
			fieldset {
				padding:20px 14px;text-align:center;
				label {float:left;font-weight:bold;line-height:30px;}
				select {float:right;width:230px;}
			}
		}
	}
}