.store-update .date .icon {background:url('../../../_ui/images/normal/product_new.png') no-repeat;background-size:200px 200px;}
.store-update .search:before  {background:url('../../../_ui/images/normal/seller.png') no-repeat;background-size:250px 250px;}


.store-update .tab4 {padding:0 15px;}
.store-update .tab4 a {line-height:20px;padding:18px 10px;}
.store-update .search-frm {position:absolute;bottom:100%;right:0;padding:15px;margin: 0;}
.store-update .search-frm input.text {border:1px solid #d9dbdd;height: auto;padding: 4px 7px 4px 27px;background: #f8f8f8;width: 425px;}
.store-update .search {position:relative;}
.store-update .search:before {content:'';background-position:-225px -15px;position:absolute;top:50%;left: 10px;width:12px;height:12px;margin-top: -6px;}
.store-update .btn-post {display:inline-block;line-height: 27px;font-size:12px;font-weight:600;padding:0 10px;color: rgba(79, 87, 100, 0.8);border: 1px solid #d2d3d6;border-radius: 3px;border-bottom-color:#c3c5c9;box-shadow:0 1px 0 rgba(0,0,0,0.01);white-space:nowrap;background:#fff;}
.store-update .btn-post:hover {text-decoration:none;}
.store-update .table .text {position:relative;display: block;vertical-align:middle;margin-left:6px;width: 100%;max-height: 36px;overflow: hidden;}
.store-update .table .text a {position:absolute;top: 18px;left: 30px;background:#fff;width: 100%;width: calc(100% - 30px);}
.store-update .table .text a:before {content: '...';position: absolute;top: 0;right: 100%;width: 26px;height: 100%;background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), white 50%);background: linear-gradient(90deg, rgba(255,255,255,0) 0%, white 50%);pointer-events: none;text-align: right;padding-right: 4px;color: #4F5764;}
.store-update .table .text.more {max-height:none;}
.store-update .table .text.more a {display:none;}
.store-update .table .title {white-space:nowrap;overflow:hidden;display:block;text-overflow:ellipsis;}
.store-update .table tbody tr:nth-child(even) .text a {background: #f6f7f8;}
.store-update .table tbody tr:nth-child(even) .text a:before {background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), #f6f7f8 50%);background: linear-gradient(90deg, rgba(255,255,255,0), #f6f7f8 50%);}
.store-update .table img {width:38px;height:38px;border-radius:3px;background:no-repeat 50% 50%;background-size:contain;vertical-align: middle;}
.store-update .table td:last-child {text-align:center;}
.store-update .date .icon {display:inline-block;vertical-align:middle;width:12px;height:12px;background-position:-140px -60px;}
.store-update .date em {font-size:11px;line-height:17px;padding:8px 9px;left:50%;}
.store-update .date em b {display:block;}

.popup.add_domain {background:#fff;border-radius:3px;width:460px;}
.popup.add_domain input.text {width:100%;}

.popup.help {background:#fff;border-radius:3px;width:460px;}