
@font-face{ font-family: "Avenir Black"; src: url('../font/Avenir-Black.ttf');}
@font-face{ font-family: "Avenir BlackOblique"; src: url('../font/Avenir-BlackOblique.ttf');}
@font-face{ font-family: "Avenir Book"; src: url('../font/Avenir-Book.ttf');}
@font-face{ font-family: "Avenir BookOblique"; src: url('../font/Avenir-BookOblique.ttf');}
@font-face{ font-family: "Avenir Heavy"; src: url('../font/Avenir-Heavy.ttf');}
@font-face{ font-family: "Avenir HeavyOblique"; src: url('../font/Avenir-HeavyOblique.ttf');}
@font-face{ font-family: "Avenir Light"; src: url('../font/Avenir-Light.ttf');}
@font-face{ font-family: "Avenir LightOblique"; src: url('../font/Avenir-LightOblique.ttf');}
@font-face{ font-family: "AvenirLTStd Black"; src: url('../font/AvenirLTStd-Black.ttf');}
@font-face{ font-family: "AvenirLTStd BlackOblique"; src: url('../font/AvenirLTStd-BlackOblique.ttf');}
@font-face{ font-family: "AvenirLTStd Book"; src: url('../font/AvenirLTStd-Book.ttf');}
@font-face{ font-family: "AvenirLTStd BookOblique"; src: url('../font/AvenirLTStd-BookOblique.ttf');}
@font-face{ font-family: "AvenirLTStd Heavy"; src: url('../font/AvenirLTStd-Heavy.ttf');}
@font-face{ font-family: "AvenirLTStd HeavyOblique"; src: url('../font/AvenirLTStd-HeavyOblique.ttf');}
@font-face{ font-family: "AvenirLTStd Light"; src: url('../font/AvenirLTStd-Light.ttf');}
@font-face{ font-family: "AvenirLTStd LightOblique"; src: url('../font/AvenirLTStd-LightOblique.ttf');}
@font-face{ font-family: "AvenirLTStd Medium"; src: url('../font/AvenirLTStd-Medium.ttf');}
@font-face{ font-family: "AvenirLTStd MediumOblique"; src: url('../font/AvenirLTStd-MediumOblique.ttf');}
@font-face{ font-family: "AvenirLTStd Oblique"; src: url('../font/AvenirLTStd-Oblique.ttf');}
@font-face{ font-family: "AvenirLTStd Roman"; src: url('../font/AvenirLTStd-Roman.ttf');}
@font-face{ font-family: "Avenir Medium"; src: url('../font/Avenir-Medium.ttf');}
@font-face{ font-family: "Avenir MediumOblique"; src: url('../font/Avenir-MediumOblique.ttf');}
@font-face{ font-family: "Avenir Oblique"; src: url('../font/Avenir-Oblique.ttf');}
@font-face{ font-family: "Avenir Roman"; src: url('../font/Avenir-Roman.ttf');}
@font-face{ font-family: "Chalkboard"; src: url('../font/Chalkboard.ttf');}
@font-face{ font-family: "Chalkboard Bold"; src: url('../font/Chalkboard-Bold.ttf');}
@font-face{ font-family: "PrestigeEliteStd Bd"; src: url('../font/PrestigeEliteStd-Bd.ttf');}
@font-face{ font-family: "ThirstySoftBlack"; src: url('../font/ThirstySoftBlack.ttf');}
@font-face{ font-family: "ThirstySoftLight"; src: url('../font/ThirstySoftLight.ttf');}
@font-face{ font-family: "ThirstySoftMedium"; src: url('../font/ThirstySoftMedium.ttf');}
@font-face{ font-family: "ThirstySoftRegular"; src: url('../font/ThirstySoftRegular.ttf');}
@font-face{ font-family: "ThirstySoftRegular Bold"; src: url('../font/ThirstySoftRegular-Bold.ttf');}
@font-face{ font-family: "ThirstySoftExtrabold"; src: url('../font/ThirstySoftExtrabold.ttf');}