@charset "UTF-8";
.after:after, .featured .wishlist ul:after, .featured .merchant .merchant_thing:after, .featured .popular ul:after, .featured .sellon:after, .featured .get-app:after, .featured .invite:after, .featured .bookmarklet:after, .featured .chrome:after, .featured .newsletter:after, .featured .newsletter fieldset:after, .featured .invite fieldset:after, .featured .users li:after, .featured .users .users_thing:after, .featured .recommend li:after, .featured .categories .things:after, .featured .best_collection .things:after {
  content: '';
  clear: both;
  display: block;
}

#header.v2 .submenu-dropdown ul.featured {
  float: none;
  width: auto;
  padding: 0;
}

.featured {
  position: relative;
  width: 310px;
  float: right;
  z-index: 0;
  padding-bottom: 2px;
}

.featured .open_orders a:after, .featured .merchant .follow:before, .featured .merchant .following:before, .featured a.close:before, .featured .popular .select-category:before, .featured .paging a:before {
  background: url("../../images/svg/ic-items.svg") no-repeat;
  background-size: 100px 100px;
}

.featured .activites .signin p:before, .featured .activites .btn-signin:before {
  background: url("../../images/svg/ic-timeline.svg") no-repeat;
  background-size: 200px 200px;
}

.featured .newsletter p.success:before, .featured .newsletter .error .icon {
  background: url("../../images/normal/show_share2.png") no-repeat;
  background-size: 300px 200px;
}

.featured .bookmarklet .stit:before, .featured .get-app .btn-ios, .featured .get-app .btn-android {
  background: url("../../images/normal/get_app.png") no-repeat;
  background-size: 300px 500px;
}

.featured .activites .empty p:before, .featured .activity .notifications .empty.feed p:before {
  background: url("../../images/normal/header_new.png") no-repeat;
  background-size: 150px 100px;
}

.featured .chrome .stit, .featured .invite .stit, .featured .find-ff:before, .featured .get-app .stit, .featured .sellon:before, .featured .newsletter .stit {
  background: url("../../images/svg/sidebar-timeline.svg") no-repeat;
  background-size: 500px 300px;
}

.featured .notifications .photo.badge, .featured .notifications .photo.fancy, .featured .notifications .photo.ship {
  background: url("../../images/normal/icon_notification.png") no-repeat;
  background-size: 200px 40px;
}

.featured .users .ic-verified, .featured .notifications .ic-verified {
  background: url("../../images/svg/ic_user.svg") no-repeat;
  background-size: 100px 100px;
}

.featured.fixed {
  position: fixed;
  top: 118px;
  margin-top: 0;
  margin-bottom: 0;
  left: 50%;
  margin-left: 270px;
  padding-bottom: 70px;
}

.featured.bottom, .featured.fixedBottom {
  top: auto !important;
  bottom: 0;
}

.featured.stop {
  top: auto !important;
  bottom: 0;
  position: absolute;
}

.featured p {
  font-size: 13px;
  font-weight: 500;
}

.featured .newsletter .btn-subscribe, .featured .find-ff .btn-find, .featured .invite a.btn-invite, .featured .chrome .btn-add, .featured .bookmarklet .btn-install {
  display: block;
  line-height: 36px;
  border-radius: 18px;
  color: #2785fa;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background: #DAE9F6;
  margin: 0 15px;
}

.featured .sellon .btn-interested, .featured .get-app .btn-down {
  display: block;
  line-height: 36px;
  border-radius: 18px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background: #364C61;
  margin: 0 15px;
}

.featured .newsletter fieldset .btn-subscribe, .featured .invite fieldset .btn-invite {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 13px;
  line-height: 36px;
  background: none;
  color: #38424C;
  font-size: 13px;
  font-weight: bold;
  width: auto;
  margin: 0;
}

.featured .wrapper, .featured .cta > div {
  position: relative;
  background: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.03), 0 0px 0px 1px rgba(0, 0, 0, 0.01);
  margin-bottom: 18px;
  min-height: 228px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.featured .stit {
  display: block;
  color: #373d48;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 15px;
  border-bottom: 0;
  background: none;
  text-shadow: none;
  text-transform: none;
}

.featured .stit a {
  color: #373d48;
}

.featured .stit small {
  font-weight: 400;
  font-size: 12px;
}

.featured a.find, .featured a.more, .featured a.see-more {
  display: block;
  clear: both;
  color: #8a8f9c;
  text-transform: none;
  font-size: 13px;
  text-align: center;
  line-height: 18px;
  padding: 15px 12px;
  border-top: 1px solid #f5f6f7;
  font-weight: 600;
}

.featured a.find:hover, .featured a.more:hover, .featured a.see-more:hover {
  color: #7D828C;
}

.featured a.close {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 32px;
  height: 40px;
  direction: ltr;
  text-indent: -1000em;
  opacity: 0.3;
}

.featured a.close:hover {
  opacity: 0.8;
}

.featured a.close:before {
  content: '';
  position: absolute;
  right: 12px;
  top: 50%;
  width: 9px;
  height: 9px;
  margin-top: -5px;
  background-position: -55px 0;
}

.featured .paging {
  position: absolute;
  right: 0;
  top: 0px;
  height: 46px;
}

.featured .paging a {
  float: left;
  position: relative;
  border-left: 1px solid #f5f6f7;
  padding: 0 13px;
  margin-top: 13px;
  margin-bottom: 14px;
  width: 5px;
  height: 19px;
  direction: ltr;
  text-indent: -1000em;
}

.featured .paging a:first-child {
  border-left: 0;
}

.featured .paging a:before {
  position: absolute;
  width: 5px;
  height: 9px;
  top: 50%;
  left: 13px;
  content: '';
  margin-top: -5px;
  opacity: 0.7;
}

.featured .paging .prev:before {
  background-position: -20px 0;
}

.featured .paging .next:before {
  background-position: -30px 0;
}

.featured .paging .disabled:before {
  opacity: 0.3;
}

.featured .open_orders {
  min-height: 50px;
}

.featured .open_orders a {
  display: block;
  font-size: 13px;
  line-height: 20px;
  padding: 15px 15px 15px 40px;
  position: relative;
  color: #1D2129;
}

.featured .open_orders a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  width: 17px;
  height: 17px;
  border-radius: 2px;
  margin-top: -9px;
  background: url("../../../whitelabel/common/images/svg/dashboard_stit2.svg") no-repeat 50% 50% #6CC076;
}

.featured .open_orders a:after {
  position: absolute;
  width: 5px;
  height: 9px;
  top: 50%;
  right: 15px;
  content: '';
  margin-top: -5px;
  opacity: 0.7;
  background-position: -30px 0;
}

.featured .notifications {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 18px;
  min-height: 0;
}

.featured .notifications .empty {
  position: relative;
  padding-bottom: 41px;
  text-align: center;
  line-height: 150px;
}

.featured .notifications .empty p {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 17px;
  color: #8a8f9c;
  padding: 0 50px;
}

.featured .notifications .empty b {
  display: block;
  padding-bottom: 8px;
  font-size: 13px;
  line-height: 19px;
  color: #373d48;
}

.featured .notifications .empty a {
  border-top: 1px solid #f5f6f7;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: 10px 0;
  font-weight: bold;
  line-height: 20px;
  font-size: 12px;
  color: #373d48;
}

.featured .notifications ul {
  max-height: 450px;
  overflow: auto;
  overflow-x: hidden;
  margin-top: -12px;
}

.featured .notifications .noti-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
  width: 100%;
  padding-bottom: 16px;
  font-weight: 500;
}

.featured .notifications .noti-wrap img {
  width: 50px;
  display: block;
  margin-top: 5px;
}

.featured .notifications .ic-verified {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-position: -20px -20px;
}

.featured .notifications .photo {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.featured .notifications .photo.store {
  border-radius: 3px;
}

.featured .notifications .photo.fancy {
  border-radius: 3px;
  background-position: -164px -4px;
}

.featured .notifications .photo.badge {
  border-radius: 3px;
  background-position: -122px -3px;
}

.featured .notifications .photo.ship {
  border-radius: 3px;
  background-position: -80px -3px;
}

.featured .notifications li {
  line-height: 32px;
  position: relative;
  padding: 12px 10px 12px 55px;
  color: #373d48;
  border-top: 1px solid #f5f6f7;
  font-size: 13px;
}

.featured .notifications li .status {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: -3px 5px 0 0;
}

.featured .notifications li .status.none {
  display: none;
}

.featured .notifications li .status.mention {
  background-position: 0 -20px;
}

.featured .notifications li .status.fancyd {
  background-position: -19px 0;
}

.featured .notifications li .status.wanted {
  background-position: -19px -20px;
}

.featured .notifications li .status.following {
  background-position: -57px 0;
}

.featured .notifications li .status.following.store {
  background-position: -38px 0;
}

.featured .notifications li .status.joined {
  background-position: -57px -20px;
}

.featured .notifications li .date {
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  left: 0;
  color: #8a8f9c;
  font-weight: 500;
}

.featured .notifications li .username {
  font-weight: bold;
  color: #373d48;
}

.featured .notifications li a {
  color: #373d48;
}

.featured .notifications li span {
  display: block;
  color: #373d48;
}

.featured .notifications li span a {
  color: #373d48;
}

.featured .notifications li span.comment, .featured .notifications li span.comment a {
  color: #8a8f9c;
}

.featured .notifications li:hover {
  background: #FFFFFF;
}

.featured .notifications li:hover a {
  color: #373d48;
}

.featured .notifications li:first-child {
  border-top: 0;
}

.featured .notifications li:last-child {
  border-bottom: 0;
}

.featured .wishlist li {
  float: left;
  margin-bottom: 5px;
  width: calc((100% - 5px)/2);
}

.featured .wishlist li:nth-child(even) {
  float: right;
}

.featured .wishlist img {
  display: block;
  width: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.featured .wishlist ul {
  padding: 0 12px 7px 12px;
}

.featured .dashboard {
  line-height: 1em;
  border: 0;
  padding-bottom: 15px;
}

.featured .dashboard.loading .graph:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #fff;
  border-radius: 100% !important;
  height: 40px;
  opacity: 1;
  width: 40px;
  margin-top: -22px;
  margin-left: -22px;
  line-height: 40px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.featured .dashboard .brandname {
  padding: 0;
  position: absolute;
  z-index: 1;
  color: #fff;
  left: 14px;
  top: 18px;
  font-size: 16px;
}

.featured .dashboard .graph {
  position: relative;
  z-index: 0;
  background: #334361;
  margin-bottom: 15px;
  border-radius: 5px 5px 0 0;
  height: 254px;
}

.featured .dashboard .graph .count {
  position: absolute;
  color: #fff;
  font-size: 24px;
  right: 14px;
  top: 22px;
}

.featured .dashboard .graph label {
  top: 40px;
  color: #8a8f9c;
  position: absolute;
  left: 14px;
  font-size: 13px;
}

.featured .dashboard .graph svg {
  width: 100%;
  height: 254px;
  display: block;
}

.featured .dashboard .graph svg * {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.featured .dashboard .graph svg .circles rect {
  fill: #b2cce3;
  opacity: 0.2;
}

.featured .dashboard .graph svg .circles circle {
  opacity: 1;
  stroke-width: 1.2;
  fill: #334361;
  stroke: #448cda;
}

.featured .dashboard .graph svg .circles circle:hover {
  stroke: #448cda;
  stroke-width: 1.6;
  fill: #334361;
  opacity: 1;
}

.featured .dashboard .graph svg .circles:hover {
  opacity: 1;
}

.featured .dashboard .graph svg .circles:hover rect {
  opacity: 1;
}

.featured .dashboard .graph svg polygon {
  fill: #a8beda;
  opacity: 0.25;
  fill: #b2cce3;
}

.featured .dashboard .graph svg polygon.prev {
  fill: rgba(178, 204, 227, 0.2);
}

.featured .dashboard .graph svg polygon.current {
  fill: #c4d3e8;
  opacity: 1;
}

.featured .dashboard .graph svg path.line {
  stroke: #448cda;
}

.featured .dashboard .graph svg path.line.prev {
  stroke: rgba(68, 140, 218, 0.8);
  fill: transparent;
}

.featured .dashboard .graph svg path.area {
  fill: rgba(68, 140, 218, 0.15);
}

.featured .dashboard .graph svg path.area.prev {
  fill: rgba(68, 140, 218, 0.1);
}

.featured .dashboard .graph svg path#currently {
  stroke: #448cda;
  stroke-width: 1.2;
  fill: none;
}

.featured .dashboard .graph svg rect {
  fill: rgba(178, 204, 227, 0.2);
  opacity: 0;
}

.featured .dashboard .graph .axis {
  display: none;
  shape-rendering: crispEdges;
}

.featured .dashboard .graph .axis path {
  display: none;
}

.featured .dashboard .graph .axis text {
  fill: #8a8d96;
  font-size: 11px;
}

.featured .dashboard .graph .axis.y line {
  stroke: #f5f6f7;
  stroke-width: 1;
  -webkit-transform: translate(16px, 0);
          transform: translate(16px, 0);
}

.featured .dashboard .graph .axis.y g:first-of-type line {
  stroke: #dddddd;
  -webkit-transform: translate(6px, 0);
          transform: translate(6px, 0);
}

.featured .dashboard .graph .axis.x line {
  stroke: transparent;
  stroke-width: 1;
}

.featured .dashboard .graph .axis.x g:first-of-type line {
  stroke: #dddddd;
  -webkit-transform: translate(0px, -320px);
          transform: translate(0px, -320px);
}

.featured .dashboard .graph .line {
  left: 55px;
}

.featured .dashboard .graph .line.base1 {
  top: 46px;
  background: #ebeced;
}

.featured .dashboard .graph .line.base2 {
  top: 92px;
}

.featured .dashboard .graph .line.base3 {
  top: 138px;
}

.featured .dashboard .graph .line.base4 {
  top: 188px;
}

.featured .dashboard .graph .line.base5 {
  top: 233px;
  background: #ebeced;
}

.featured .dashboard .graph .tooltip {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.2);
  font-size: 11px;
  padding: 0 5px;
  white-space: nowrap;
  line-height: 20px;
}

.featured .dashboard .btn-go {
  display: block;
  line-height: 36px;
  border-radius: 18px;
  color: #373d47;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background: #f5f6f7;
  margin: 0 15px;
}

.featured .dashboard .tab {
  font-size: 0;
  letter-spacing: 0;
  position: absolute;
  bottom: 19px;
  left: 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  line-height: 29px;
}

.featured .dashboard .tab li {
  display: inline-block;
  vertical-align: top;
}

.featured .dashboard .tab a {
  font-weight: 600;
  display: block;
  padding: 0 12px;
  border-radius: 15px;
  line-height: 29px;
  color: #fff;
  opacity: .4;
  font-size: 13px;
}

.featured .dashboard .tab .current {
  opacity: 1;
  background: #29364F;
}

.featured .merchant ul {
  padding: 0 12px 2px;
  max-height: 523px;
  overflow: hidden;
}

.featured .merchant ul.more {
  max-height: none;
}

.featured .merchant li {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
}

.featured .merchant .sellername {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #8a8f9c;
  position: relative;
}

.featured .merchant .sellername .cover {
  display: block;
  height: 105px;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.05), inset -1px 0 0 rgba(0, 0, 0, 0.05);
          box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.05), inset -1px 0 0 rgba(0, 0, 0, 0.05);
  background: no-repeat 50% 50%;
  background-size: cover;
}

.featured .merchant .sellername img {
  position: absolute;
  bottom: 30px;
  left: 11px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: no-repeat 50% 50%;
  background-size: cover;
  background-color: #f7f7f7;
  margin-bottom: -20px;
}

.featured .merchant .sellername b {
  display: block;
  color: #373d48;
  margin: 0 120px 0 60px;
  padding-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.featured .merchant .sellername small {
  display: block;
  margin: 0 120px 0 60px;
  padding-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.featured .merchant .merchant_thing {
  clear: both;
  display: block;
  padding: 12px 0 0;
}

.featured .merchant .merchant_thing a {
  float: left;
  margin-left: 2px;
}

.featured .merchant .merchant_thing a:first-child {
  margin-left: 0;
}

.featured .merchant .merchant_thing span {
  display: block;
  width: 62px;
  height: 62px;
  border-radius: 0;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.featured .merchant .follow, .featured .merchant .following {
  border-radius: 18px;
  position: absolute;
  font-size: 13px;
  line-height: 36px;
  margin-bottom: -18px;
  padding: 0 14px;
  right: 11px;
  bottom: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #2785fa;
  color: #fff;
  border: 0;
}

.featured .merchant .follow:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -3px 7px 0 0;
  width: 10px;
  height: 10px;
  background-position: 0 -20px;
}

.featured .merchant .following {
  background: #ebeced;
  color: #373d48;
  text-shadow: none;
}

.featured .merchant .following:before {
  display: none;
}

.featured .popular {
  min-height: 404px;
}

.featured .popular ul {
  position: relative;
  margin: 0 5px 3px;
}

.featured .popular ul.loading {
  border: 0;
  min-height: 302px;
}

.featured .popular ul.loading:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #949597;
  border-radius: 100% !important;
  height: 20px;
  opacity: 1;
  width: 20px;
  margin-top: -12px;
  margin-left: -12px;
  line-height: 20px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.featured .popular ul.loading li {
  display: none;
}

.featured .popular li {
  position: relative;
  float: left;
  margin: 0 0 4px 4px;
  background: #ffffff;
  width: calc(50% - 3px);
  width: -moz-calc(50% - 3px);
}

.featured .popular li a {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  opacity: 0;
}

.featured .popular li a.on {
  z-index: 1;
  opacity: 1;
}

.featured .popular li a:first-child {
  position: relative;
}

.featured .popular li img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.featured .popular li:nth-child(odd) {
  clear: both;
  margin-left: 0;
}

.featured .popular li:nth-child(5), .featured .popular li:nth-child(6) {
  display: none;
}

.featured .popular .select-category {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  overflow: hidden;
  color: #6B717D;
  line-height: 50px;
  font-size: 13px;
  padding-right: 26px;
  font-weight: 500;
}

.featured .popular .select-category select {
  cursor: pointer;
  position: absolute;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 11px;
  padding: 0 29px 0 0;
  height: 100%;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  top: 0;
  right: 0;
}

.featured .popular .select-category:before {
  content: '';
  position: absolute;
  right: 13px;
  top: 50%;
  width: 7px;
  height: 4px;
  background-position: -40px -5px;
  margin-top: -2px;
  opacity: 0.4;
}

.featured .popular .select-category:hover:before {
  opacity: 0.7;
}

.featured .activites .btn-signin {
  position: relative;
  display: block;
  line-height: 38px;
  color: #38424C;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin: 0 5px 10px;
  width: 49%;
  width: calc(50% - 10px);
  float: left;
  border-radius: 5px;
  padding: 0 12px 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f5f6f7;
}

.featured .activites .btn-signin:before {
  content: '';
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 11px;
}

.featured .activites .btn-signin.fb {
  background: #4267b1;
  float: none;
  width: calc(100% - 10px);
  color: #fff;
}

.featured .activites .btn-signin.fb:before {
  width: 21px;
  height: 21px;
  margin-top: -11px;
  background-position: 0 -70px;
}

.featured .activites .btn-signin.tw:before {
  width: 20px;
  height: 16px;
  background-position: 0 -50px;
  margin-top: -8px;
}

.featured .activites .btn-signin.gg:before {
  width: 20px;
  height: 20px;
  background-position: -90px 0;
  margin-top: -10px;
}

.featured .activites .btn-register {
  display: block;
  clear: both;
  font-size: 13px;
  text-align: center;
  line-height: 18px;
  padding: 5px 0 13px;
  color: #8a8f9c;
  margin: 0 -10px;
  text-transform: none;
  font-weight: 600;
}

.featured .activites .btn-register:before {
  content: '';
  height: 1px;
  display: block;
  background: #f5f6f7;
  margin-bottom: 13px;
}

.featured .activites .signin {
  padding: 0 10px;
}

.featured .activites .signin p {
  color: #8a8f9c;
  line-height: 16px;
  text-align: center;
  padding: 36px 5px 27px;
}

.featured .activites .signin p:before {
  width: 60px;
  height: 60px;
  content: '';
  display: block;
  margin: 0 auto;
  background-position: -30px -30px;
}

.featured .activites .signin p b {
  display: block;
  color: #373d48;
  font-size: 14px;
  padding: 18px 0 4px;
}

.featured .activites .activity {
  height: 240px;
  overflow: auto;
  padding: 0 0 13px;
  position: relative;
}

.featured .activites .activity.loading {
  border: 0;
}

.featured .activites .activity.loading:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #949597;
  border-radius: 100% !important;
  height: 20px;
  opacity: 1;
  width: 20px;
  margin-top: -12px;
  margin-left: -12px;
  line-height: 20px;
  animation: pulsate 1s ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 1s ease-in-out;
  -moz-animation-iteration-count: infinite;
}

.featured .activites .activity.loading li {
  display: none;
}

.featured .activites .activity .activity-merchantpost .items {
  cursor: pointer;
}

.featured .activites .activity li {
  padding: 13px 10px 0 56px;
  line-height: 35px;
  position: relative;
}

.featured .activites .activity li.date-divider {
  margin-top: 13px;
  background: #FFF;
  -webkit-box-shadow: 0 -1px 0 #F1F1F1, 0 1px 0 #F1F1F1;
          box-shadow: 0 -1px 0 #F1F1F1, 0 1px 0 #F1F1F1;
  text-transform: uppercase;
  font-size: 9px;
  color: #979AA0;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin-left: 6px;
  line-height: 20px;
  min-height: 20px;
}

.featured .activites .activity li.date-divider:first-of-type {
  margin-top: 0;
}

.featured .activites .activity li:hover a {
  color: #4978b3;
}

.featured .activites .activity a {
  color: #38424c;
}

.featured .activites .activity a.username {
  font-weight: bold;
}

.featured .activites .activity .avatar {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  background-color: #f7f7f7;
}

.featured .activites .activity .avatar.store {
  border-radius: 5px;
}

.featured .activites .activity .noti-wrap {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle;
  color: #38424c;
  width: 100%;
}

.featured .activites .activity .items {
  display: block;
  padding-top: 5px;
  width: 100%;
}

.featured .activites .activity .items img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: no-repeat 50% 50%;
  background-size: cover;
  opacity: 0.8;
}

.featured .activites .activity .items img:hover {
  opacity: 1;
}

.featured .activites .empty p {
  line-height: 17px;
  color: #8a8f9c;
  padding: 50px 40px 36px;
  text-align: center;
}

.featured .activites .empty p:before {
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  background-position: -100px -50px;
  margin: 0 auto 18px;
}

.featured .activites .empty b {
  display: block;
  font-size: 13px;
  line-height: 19px;
  padding-bottom: 8px;
  color: #373d48;
}

.featured .article {
  height: 308px;
  overflow: hidden;
}

.featured .collection {
  min-height: 327px;
}

.featured .collection ul {
  position: relative;
  height: 277px;
  overflow: hidden;
}

.featured .collection li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  z-index: 0;
  display: none;
}

.featured .collection li img {
  position: relative;
  height: 203px;
  width: 100%;
  display: block;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.featured .collection li a {
  font-size: 13px;
  color: #373d48;
  display: block;
  position: relative;
  padding-bottom: 17px;
  line-height: 20px;
  height: 260px;
  font-weight: 500;
}

.featured .collection li b {
  display: block;
  font-size: 14px;
  padding: 17px 14px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  -webkit-animation: fadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
          animation: fadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
}

.featured .collection li small {
  display: block;
  padding: 0 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 18px;
  background: #fff;
  -webkit-animation: fadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
          animation: fadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
  color: #6B717D;
}

.featured .collection li .liked {
  position: absolute;
  bottom: 65px;
  left: 13px;
}

.featured .collection li .liked a {
  position: relative;
  padding: 0;
  float: left;
  margin-right: -10px;
  height: auto;
}

.featured .collection li .liked a:nth-child(1) {
  z-index: 5;
}

.featured .collection li .liked a:nth-child(2) {
  z-index: 4;
}

.featured .collection li .liked a:nth-child(3) {
  z-index: 3;
}

.featured .collection li .liked a:nth-child(4) {
  z-index: 2;
}

.featured .collection li .liked a:nth-child(5) {
  z-index: 1;
}

.featured .collection li .liked img {
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  border-radius: 100%;
}

.featured .collection li.current {
  display: block;
}

.featured .collection li.nextFadeIn, .featured .collection li.prevFadeIn {
  z-index: 1;
  display: block;
}

.featured .collection li.nextFadeIn > a img {
  -webkit-animation: slideNextfadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
          animation: slideNextfadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
}

.featured .collection li.prevFadeIn > a img {
  -webkit-animation: slidefadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
          animation: slidefadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
}

.featured .article_item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 0;
  background: none;
}

.featured .article_item a {
  display: block;
  position: relative;
}

.featured .article_item .description {
  padding: 2px 14px 14px;
  display: block;
  background: #fff;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6B717D;
  line-height: 18px;
  margin-bottom: 0;
  height: auto;
  -webkit-animation: fadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
          animation: fadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
  font-weight: 500;
}

.featured .article_item .description:before {
  right: 0;
  bottom: 0;
  top: auto;
}

.featured .article_item .description * {
  font-weight: normal !important;
  font-size: 12px !important;
  text-decoration: none;
}

.featured .article_item .cover {
  position: relative;
  width: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  height: 190px;
  display: block;
  border-radius: 0;
}

.featured .article_item .cover img {
  width: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  height: 190px;
  display: block;
  border-radius: 0;
}

.featured .article_item .title {
  display: block;
  position: relative;
  color: #2f333b;
  background: #fff;
  font-weight: bold;
  line-height: 20px;
  padding: 14px 14px 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  -webkit-animation: fadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
          animation: fadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
}

.featured .article_item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.featured .article_item.nextFadeIn, .featured .article_item.prevFadeIn {
  z-index: 1;
}

.featured .article_item.nextFadeIn .cover {
  -webkit-animation: slideNextfadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
          animation: slideNextfadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
}

.featured .article_item.prevFadeIn .cover {
  -webkit-animation: slidefadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
          animation: slidefadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
}

.featured .cta {
  display: block !important;
  margin-bottom: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  min-height: 0;
}

.featured .cta .bookmarklet {
  min-height: 0;
}

.featured .cta .who-to-follow {
  display: none !important;
  min-height: 268px;
}

.featured .cta .who-to-follow a.close {
  display: none;
}

.featured .cta .sellon {
  padding: 34px 0 15px;
  min-height: 268px;
}

.featured .cta .get-app {
  min-height: 268px;
  padding-top: 41px;
}

.featured .sellon .stit {
  display: none;
}

.featured .sellon p {
  color: #38424c;
  padding: 15px 0 18px;
  line-height: 17px;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
}

.featured .sellon:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 236px;
  height: 116px;
  background-position: -180px -140px;
}

.featured .get-app, .featured .invite, .featured .bookmarklet, .featured .chrome, .featured .newsletter {
  padding-bottom: 15px;
}

.featured .get-app p {
  color: #38424c;
  padding: 30px 15px 17px;
  line-height: 17px;
  text-align: center;
}

.featured .get-app .stit {
  display: block;
  padding: 0;
  width: 230px;
  height: 112px;
  margin: 0 auto;
  direction: ltr;
  text-indent: -1000em;
  background-position: -180px 0;
}

.featured .get-app .btn-ios, .featured .get-app .btn-android {
  float: left;
  height: 38px;
  margin: 11px 0 0 12px;
  width: calc(50% - 16px);
  width: -moz-calc(50% - 16px);
  direction: ltr;
  text-indent: -1000em;
}

.featured .get-app .btn-android {
  margin: 11px 12px 0 0;
  float: right;
  background-position: 0 -40px;
}

.featured .get-app .btn-down {
  width: calc(100% - 30px);
}

.featured .bookmarklet .stit:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: -3px 8px 0 0;
  background-position: -125px -20px;
  width: 16px;
  height: 16px;
}

.featured .bookmarklet p {
  color: #38424c;
  padding: 11px 12px 20px;
  line-height: 17px;
  text-align: center;
}

.featured .chrome {
  padding-top: 34px;
}

.featured .chrome .stit {
  width: 122px;
  height: 70px;
  direction: ltr;
  text-indent: -1000em;
  margin: 0 auto;
  padding: 0;
  background-position: 0 -80px;
}

.featured .chrome p {
  color: #38424C;
  padding: 21px 15px 18px;
  line-height: 17px;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

.featured .chrome .btn-add {
  background: #1973E7;
  color: #fff;
}

.featured .newsletter .stit {
  width: 165px;
  height: 102px;
  background-position: 0 30px;
  padding: 0;
  direction: ltr;
  text-indent: -1000em;
  margin: 0 auto 10px;
}

.featured .newsletter p {
  color: #38424c;
  padding: 11px 15px 20px;
  line-height: 17px;
  text-align: center;
}

.featured .newsletter .btn-subscribe {
  width: calc(100% - 30px);
}

.featured .newsletter p.success {
  padding: 18px 0 12px;
  color: #38424c;
  text-align: center;
}

.featured .newsletter p.success:before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-position: -230px -110px;
  margin: 0 auto 14px;
}

.featured .newsletter fieldset, .featured .invite fieldset {
  margin: 0 15px;
  position: relative;
}

.featured .newsletter fieldset input.text, .featured .invite fieldset input.text {
  width: 100%;
}

.featured .newsletter .error, .featured .invite .error {
  position: absolute;
  top: 100%;
  left: 13px;
  font-size: 12px;
  line-height: 18px;
  color: #4f5663;
  padding: 12px 12px 12px 38px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #448cda, 0 2px 8px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 0 1px #448cda, 0 2px 8px rgba(0, 0, 0, 0.09);
  z-index: 3;
  width: 194px;
  margin: 11px 0 0;
}

.featured .newsletter .error:before, .featured .invite .error:before {
  content: '';
  border: 9px solid transparent;
  border-bottom-color: #448cda;
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-left: -9px;
  left: 18px;
  margin: 0;
}

.featured .newsletter .error:after, .featured .invite .error:after {
  content: '';
  border: 8px solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-left: -8px;
  left: 19px;
  margin: 0;
}

.featured .newsletter .error .icon, .featured .invite .error .icon {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 16px;
  height: 16px;
  background-position: -210px -110px;
}

.featured .users .stit {
  padding-bottom: 9px;
}

.featured .users ul {
  max-height: 271px;
  overflow: hidden;
  padding: 0 15px 10px;
}

.featured .users ul.more {
  max-height: none;
}

.featured .users li {
  padding: 7px 0 8px;
  position: relative;
}

.featured .users li:first-child {
  border-top: 0;
}

.featured .users .ic-verified {
  margin: -3px 2px 0px 0px;
  display: inline-block;
  height: 15px;
  width: 15px;
  vertical-align: middle;
  background-position: -15px -15px;
  background-size: 75px 75px;
}

.featured .users .username {
  float: left;
  position: relative;
  padding: 2px 0 2px 50px;
  font-size: 13px;
  line-height: 18px;
  color: #9fa4af;
  white-space: nowrap;
  font-weight: 500;
}

.featured .users .username img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  background-color: #f7f7f7;
  margin-top: -20px;
}

.featured .users .username b {
  display: block;
  color: #38424c;
}

.featured .users .users_thing {
  clear: both;
  display: block;
  padding: 12px 0 0;
}

.featured .users .users_thing a {
  float: left;
  margin-left: 2px;
}

.featured .users .users_thing a:first-child {
  margin-left: 0;
}

.featured .users .users_thing span {
  display: block;
  width: 62px;
  height: 62px;
  border-radius: 0;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.featured .users .follow, .featured .users .following {
  clear: none;
  position: absolute;
  top: 50%;
  border: 0;
  background: none;
  padding: 0;
  margin-top: -14px;
  right: 0;
  color: #1E7EFC;
  font-weight: bold;
  font-size: 13px;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 28px;
}

.featured .users .following {
  color: #9fa4af;
}

.featured .users.recommend-lists .username img {
  border-radius: 5px;
}

.featured .recommend .stit {
  padding-bottom: 9px;
}

.featured .recommend ul {
  max-height: 220px;
  overflow: auto;
  padding: 0 13px 6px;
}

.featured .recommend ul.more {
  max-height: none;
}

.featured .recommend li {
  padding: 6px 0;
  position: relative;
}

.featured .recommend li.unread img {
  -webkit-box-shadow: 0 0 0 3px #2785fa, inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 3px #2785fa, inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.featured .recommend li img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  background-color: #f7f7f7;
  margin-top: -22px;
  border: 2px solid #fff;
  background-blend-mode: multiply;
}

.featured .recommend li a {
  display: block;
  position: relative;
  padding: 2px 0 2px 54px;
  font-size: 13px;
  line-height: 18px;
  color: #9fa4af;
  white-space: nowrap;
  font-weight: 500;
}

.featured .recommend li b {
  display: block;
  color: #38424c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.featured .find-ff {
  padding: 36px 0 15px;
}

.featured .find-ff .stit {
  display: none;
}

.featured .find-ff p {
  color: #38424c;
  line-height: 17px;
  text-align: center;
  padding: 22px 0 19px;
  max-width: 200px;
  margin: 0 auto;
}

.featured .find-ff:before {
  content: '';
  display: block;
  width: 175px;
  height: 66px;
  background-position: 0 -230px;
  margin: 0 auto;
}

.featured .invite {
  padding: 36px 0 15px;
}

.featured .invite .stit {
  width: 120px;
  height: 66px;
  direction: ltr;
  text-indent: -1000em;
  margin: 0 auto;
  padding: 0;
  background-position: 0 -155px;
}

.featured .invite p {
  color: #38424c;
  line-height: 17px;
  text-align: center;
  padding: 22px 15px 19px;
}

.featured .footer {
  padding: 0 2px 18px;
  margin-top: -2px;
}

.featured .footer li {
  display: inline-block;
  color: #8a8f9c;
  font-size: 12px;
  line-height: 19px;
}

.featured .footer li:after {
  content: '·';
  margin: 0 4px;
}

.featured .footer li:last-child:after {
  display: none;
}

.featured .footer a {
  color: #8a8f9c;
  font-weight: 500;
}

.featured .categories .things, .featured .best_collection .things {
  clear: both;
  display: block;
  padding-bottom: 14px;
}

.featured .categories .things a, .featured .best_collection .things a {
  float: left;
  margin-left: 2px;
  width: calc((100% - 6px)/4);
}

.featured .categories .things a:first-child, .featured .best_collection .things a:first-child {
  margin-left: 0;
}

.featured .categories .things span, .featured .best_collection .things span {
  width: 100%;
  height: 70px;
  display: block;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.featured .categories .title, .featured .best_collection .title {
  font-size: 12px;
  line-height: 18px;
  padding: 9px 0;
  display: block;
  font-weight: bold;
  color: #38424c;
}

.featured .categories ul, .featured .best_collection ul {
  padding: 0 12px;
}

.featured .categories li, .featured .best_collection li {
  border-top: 1px solid #f5f6f7;
}

.featured .categories li:first-child, .featured .best_collection li:first-child {
  border-top: 0;
}

.featured .categories .things a {
  padding-bottom: 14px;
}

.featured .banner {
  padding: 4px;
  min-height: 0;
}

.featured .banner img {
  width: 100%;
  vertical-align: top;
}

.featured .banner b {
  position: absolute;
  top: 118px;
  left: 0;
  width: 100%;
  color: #fff;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}

.featured .banner a {
  display: block;
  position: relative;
}

@-webkit-keyframes slideNextfadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideNextfadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slidefadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-64px);
            transform: translateX(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidefadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-64px);
            transform: translateX(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .featured .newsletter p.success:before, .featured .newsletter .error .icon {
    background-image: url("../../images/retina/show_share2.png");
  }
  .featured .bookmarklet .stit:before, .featured .chrome .stit:before, .featured .get-app .btn-ios, .featured .get-app .btn-android {
    background-image: url("../../images/retina/get_app.png");
  }
  .featured .activites .empty p:before, .featured .activity .notifications .empty.feed p:before {
    background-image: url("../../images/retina/header_new.png");
  }
  .featured .notifications li .photo.badge, .featured .notifications li .photo.fancy, .featured .notifications li .photo.ship {
    background-image: url("../../images/retina/icon_notification.png");
  }
}

@media screen and (max-width: 1250px) {
  .featured.fixed {
    left: auto;
    right: 45px;
  }
}

@media screen and (max-width: 800px) {
  .featured, .featured.fixed {
    position: static;
    width: auto;
    margin: 0 !important;
    padding: 0;
    float: none;
  }
  .menu-container #more-menu {
    right: -15px;
    left: auto;
  }
}
/*# sourceMappingURL=right_sidebar.v2.css.map */