@charset "UTF-8";

* {border:0;list-style:none;padding:0;margin:0;vertical-align:middle;}
a, a:hover {text-decoration:none;}
body {font-family:'Roboto';}
input,button,select {-webkit-appearance:none;font-family:'Roboto';box-sizing:border-box;-webkit-box-sizing:border-box;}

.sns-facebook {display:inline-block;vertical-align:middle;width:28px;height:28px;background:url('../images/sns-facebook.svg') no-repeat;background-size:contain;text-indent:-1000em;}
.sns-pinterest {display:inline-block;vertical-align:middle;width:28px;height:28px;background:url('../images/sns-pinterest.svg') no-repeat;background-size:contain;text-indent:-1000em;}
.sns-twitter {display:inline-block;vertical-align:middle;width:28px;height:28px;background:url('../images/sns-twitter.svg') no-repeat;background-size:contain;text-indent:-1000em;}
.sns-instagram {display:inline-block;vertical-align:middle;width:28px;height:28px;background:url('../images/sns-instagram.svg') no-repeat;background-size:contain;text-indent:-1000em;}

#header {position:fixed;top:0;left:0;width:100%;box-shadow:0 1px 0 rgba(0,0,0,0.1);background:#fff;z-index:10;}
#header .inner {padding:0 20px;}
#header .hearder-shpping {text-align:center;color:#fff;background:#718d86;padding:10px 0;line-height:17px;font-size:12px;}
#header .header-info:after {content:'';clear:both;display:block;}
#header .header-info .logo {float:left;margin-right:30px;padding:12px 0;}
#header .header-info .logo img {max-width:170px;}
#header .header-info .search {position:relative;float:left;width:calc(100% - 550px);width:-webkit-calc(100% - 550px);width:-moz-calc(100% - 550px);padding:15px 0;}
#header .header-info .search input {width:100%;background:#efefef;line-height:20px;padding:10px 10px 10px 45px;border-radius:3px;font-size:15px;}
#header .header-info .search:before {content:'';position:absolute;top:50%;left:15px;width:16px;height:16px;margin-top:-8px;background:url('../images/search-icon.svg') no-repeat;opacity:0.7;}
#header .header-info .principal li {float:left;}
#header .header-info .principal a {display:block;line-height:15px;font-size: 15px;color: #26272b;font-weight:600;padding:0 13px;}
#header .header-info .principal a:before {content:'';display:inline-block;vertical-align:middle;margin-right:10px;background-size:contain;background-position:50% 50%;}
#header .header-info .principal .wishlist a:before {width: 32px;height: 30px;background-image: url('../images/header-icons-wishlist.svg');}
#header .header-info .principal .signin a:before {width: 32px;height: 30px;background-image: url('../images/header-icons-account.svg');}
#header .header-info .principal .cart a:before {width: 32px;height: 30px;background-image: url('../images/header-icons-cart.svg');}
#header .header-info .principal .cart span {position:relative;}
#header .header-info .principal .cart .count {position:absolute;right:100%;top: -4px;color:#fff;background:#3b84cc;border:1px solid #fff;line-height:13px;font-size:11px;font-weight:bold;padding: 2px 5px;border-radius: 10px;margin-right: 5px;}
#header .header-info .principal .search {display:none;}
#header .header-info .principal span {display:inline-block;vertical-align:middle;}
#header .header-info .principal small {display:block;font-size:12px;font-weight:400;}
#header .header-info .principal {float:right;padding:20px 0;}
#header .navigation {clear:both;border-top:1px solid rgba(0,0,0,0.1);text-align:center;}
#header .navigation .inner > ul > li {position:relative;display:inline-block;vertical-align:middle;}
#header .navigation a {display:block;font-size:14px;line-height:20px;padding:13px 10px;color:#26272b;}
#header .navigation li:hover .sub {display:block;}
#header .navigation .sub {display:none;position: absolute;padding:20px 0;top: 100%;left: 0;text-align: left;white-space:nowrap;background: #fff;box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);}
#header .navigation .sub:before {content:'';position:absolute;top:20px;left:200px;width:1px;height:80%;height:calc(100% - 40px);height:-webkit-calc(100% - 40px);height:-moz-calc(100% - 40px);background:#000;opacity:0.1;}
#header .navigation .sub-cats > h4 {display:none;}
#header .navigation .sub-dropdown-menu {display:inline-block;vertical-align:top;white-space:normal;position:relative;min-width: 200px;margin-right: 180px;}
#header .navigation .sub-dropdown-menu h5 {font-weight:400;font-size: 14px;}
#header .navigation .sub-dropdown-menu li > a {display:block;padding:7px 10px;}
#header .navigation .sub-dropdown-menu li > div {position:absolute;left:100%;width:180px;top:0;display: none;}
#header .navigation .sub-dropdown-menu li:hover > div {display:block;} 
#header .navigation .sub-dropdown-menu li:hover > a {background:#fafafa;}
#header .navigation .sub-dropdown-menu li > div a {font-size:13px}
#header .navigation .sub-dropdown-menu li > div li:hover > a {box-shadow:inset 1px 0 0 rgba(0,0,0,0.1);}
#header .navigation .sub-cat-image {display:inline-block;vertical-align:top;padding:20px;white-space:normal;width:200px;}
#header .navigation .sub-cat-image a {padding:0;font-style:italic;color:#999;}
#header .navigation .sub-cat-image h4 {font-weight:400;color:#3b84cc;font-size:22px;padding:20px 0 5px;}
#header .navigation .salemenu a {color:#cc3333;}

#footer {background:#fff;border-top:1px solid rgba(0,0,0,0.1);}
#footer .inner {max-width:1120px;margin:0 auto;padding:0 15px;}
#footer .inner:after {content:'';clear:both;display:block;}
#footer .terms {font-size:12px;line-height:20px;padding:20px 0;background:#f8f8f7;}
#footer .terms .copyright {float:left;color:#484a51;}
#footer .terms .menu {float:right;}
#footer .terms .menu li {display:inline-block;vertical-align:middle;}
#footer .terms a {display:block;color:#484a51;padding:0 5px;}
#footer .newsletter {padding:52px 0;border-top:1px solid rgba(0,0,0,0.1);}
#footer .newsletter h2 {float:left;}
#footer .newsletter h2 b {display:block;font-size:20px;}
#footer .newsletter h2 small {font-size:12px;font-weight:400;opacity:0.7;}
#footer .newsletter fieldset {float:right;overflow:hidden;width:100%;max-width:435px;border:1px solid #9a9da0;border-radius:5px;}
#footer .newsletter .btn-join {float:right;background:#9a9da0;color:#fff;width:95px;line-height:20px;padding:14px 15px;}
#footer .newsletter input {float:left;width:80%;width:calc(100% - 95px);width:-webkit-calc(100% - 95px);width:-moz-calc(100% - 95px);padding:14px 15px;line-height:20px;}
#footer .footer-menu {padding:60px 0 30px;}
#footer .footer-menu dl {float:left;width:15%;width:calc((100% - 280px)/4);width:-webkit-calc((100% - 280px)/4);width:-moz-calc((100% - 280px)/4);}
#footer .footer-menu dl:first-child {width:280px;}
#footer .footer-menu .logo {padding-bottom:45px;}
#footer .footer-menu .logo img {width:160px;}
#footer .footer-menu dt {font-size:13px;text-transform:uppercase;line-height:24px;font-weight:600;}
#footer .footer-menu dt a {color:#000;}
#footer .footer-menu dd {font-size:14px;line-height:26px;font-weight:500;padding:11px 0 22px;color:#8d8e93;}
#footer .footer-menu dd a {color:#8d8e93;}
#footer .footer-menu .sns-facebook, #footer .footer-menu .sns-instagram, #footer .footer-menu .sns-pinterest,#footer .footer-menu .sns-twitter {opacity:0.6;}
#footer .footer-menu .sns-facebook:hover, #footer .footer-menu .sns-instagram:hover, #footer .footer-menu .sns-pinterest:hover, #footer .footer-menu .sns-twitter:hover {opacity:1;}

#container {padding:154px 0 0;background:#f8f8f7;}
#content {max-width:1120px;margin:0 auto;padding:0 15px 80px;}

.itemList:after {content:'';clear:both;display:block;}
.itemElement {background:#fff;border-bottom:2px solid #eaeae9;}
.itemElement .figure {display:block;}
.itemElement .figure img {width:100%;background:no-repeat 50% 50%;background-size:cover;display:block;}
.itemElement .figcaption {display:block;padding:18px 20px;}
.itemElement .category {color:#d4d4d7;display:block;font-size:11px;font-weight:400;text-transform:uppercase;padding-bottom:5px;}
.itemElement .title {display:block;font-size:15px;font-weight:500;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-bottom:10px;color:#000;}
.itemElement .price {display:block;font-size:14px;font-weight:600;color:#000;}
.itemElement .price .unit {display:inline-block;vertical-align:top;font-size:7px;}

.collectionList:after {content:'';clear:both;display:block;}
.collectionElement {background:#fff;border-bottom:2px solid #eaeae9;}
.collectionElement .figure {display:block;}
.collectionElement .figure img {width:100%;background:no-repeat 50% 50%;background-size:cover;display:block;}
.collectionElement .figcaption {display:block;padding:18px 20px;}
.collectionElement .title {display:block;font-size:15px;font-weight:500;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#000;}

.index h3 {clear:both;text-align:center;font-weight:400;font-size:22px;padding:73px 0 43px;}
.index .itemElement {float:left;margin-left:34px;width:28%;width: calc((100%/3) - 23px);width:-webkit-calc((100%/3) - 23px);width:-moz-calc((100%/3) - 23px);}
.index .itemElement:nth-child(3n+1) {margin-left:0;clear:both;}
.index .collectionElement {float:left;margin-left:25px;width:20%;width: calc(25% - 19px);width:-webkit-calc(25% - 19px);width:-moz-calc(25% - 19px);}
.index .collectionElement:nth-child(4n+1) {margin-left:0;clear:both;}
.index .banner {display:table;background:#fff;height:340px;width:100%;position: relative;margin-top:80px;border-bottom:2px solid #eaeae9;}
.index .banner .figure {display:table-cell;width:300px;width:calc(100% - 345px);width:-webkit-calc(100% - 345px);width:-moz-calc(100% - 345px);}
.index .banner .figure img {width:100%;background:no-repeat 50% 50%;background-size:cover;display:block;height:100%;}
.index .banner .figcaption {display:table-cell;width:345px;vertical-align:middle;text-align:center;} 
.index .banner .figcaption h3 {font-weight:bold;font-size:25px;color:#fff;padding:0 0 20px;}
.index .banner .figcaption h3 small {display:block;font-size:12px;opacity:0.5;text-transform:uppercase;padding-bottom:10px;}
.index .banner .figcaption p {margin:0 auto;color:#818181;}
.index .banner .figcaption .btn-shop {border-radius:3px;background:rgba(255,255,255,0.5);color:#fff;padding:0 23px;font-size:14px;font-weight:bold;display:inline-block;line-height:46px;}
.index .banner.big .figcaption {width:440px;height:450px;background:url('../images/index_newin_bg.png') no-repeat 0 100% #fff;background-size:contain;}
.index .banner.big .figcaption h3 {font-size:40px;color:#23476d;;}
.index .banner.big .figcaption h3 small {font-size:14px;color:#3b84cc;opacity:1;}
.index .banner.big .figcaption p {max-width:330px;font-size:20px;line-height:26px;padding-bottom:55px;}
.index .banner.big .figure {width:570px;width:calc(100% - 440px);width:-webkit-calc(100% - 440px);width:-moz-calc(100% - 440px);}
.index .banner.big .figcaption .btn-shop {background:#818181;}
.index .banner.sm {float:left;background:#de989d;width:70%;width:calc(100% - 285px);width:-webkit-calc(100% - 285px);width:-moz-calc(100% - 285px);}
.index .banner.mini {float:right;width:260px;}
.index .banner.mini .figure {position:absolute;top:0;left:0;width:100%;height:100%;}
.index .banner.mini .figcaption {position:relative;z-index:1;vertical-align: top;padding-top: 60px;}
.index .banner.mini .figcaption h3 {color:#494b52;}
.index .cover .category ul {display:table;width:100%;border-bottom:2px solid #eaeae9;background:#fff;height:185px;font-size:15px;}
.index .cover .category li {display:table-cell;vertical-align:middle;width:16%;width:calc(100%/6);width:-webkit-calc(100%/6);width:-moz-calc(100%/6);text-align:center;border-left:1px solid #eaeae9;}
.index .cover .category li:first-child {border-left:0;}
.index .cover .category img {display:block;width:110px;background:no-repeat 50% 50%;background-size:cover;margin:0 auto 10px;}
.index .cover .category a {color:#000;}

#slides {position:relative;}
.slidesjs-container {position:relative;height:520px;overflow:hidden;}
.slidesjs-container .slide-item {position:absolute;top:0;left:0;width:100%;height:100%;display:table;}
.slidesjs-container .slide-item a {display:table-cell;vertical-align:middle;color:#fff;text-align:center;position:relative;background:no-repeat 50% 50%;background-size:cover;}
.slidesjs-container .slide-item a:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.2;}
.slidesjs-container .title {display:block;font-size:50px;position:relative;padding-bottom:60px;}
.slidesjs-container .category {display:block;opacity:0.5;font-size:15px;font-weight:bold;position:relative;padding-bottom:13px;}
.slidesjs-container .btn-shop {border-radius:3px;background:#fff;color:#000;padding:0 23px;font-size:14px;font-weight:bold;display:inline-block;line-height:46px;position:relative;}
.slidesjs-pagination li {display:inline-block;vertical-align: top;margin: 0 4px;}
.slidesjs-pagination {position:absolute;bottom: 33px;left:0;width:100%;line-height: 4px;text-align:center;}
.slidesjs-pagination a {display:block;width:40px;height:4px;background:#fff;opacity:0.2;text-indent: -1000em;}
.slidesjs-pagination a.active {opacity:1;}
.slidesjs-navigation {position:absolute;top:50%;width:64px;height:64px;margin-top:-32px;text-indent:-1000em;opacity:0.2;}
.slidesjs-navigation:hover {opacity:0.6;}
.slidesjs-navigation.slidesjs-previous {left:40px;background:url('../images/arrow-left.svg') no-repeat;}
.slidesjs-navigation.slidesjs-next {right:40px;background:url('../images/arrow-right.svg') no-repeat;}
.slidesjs-navigation.slidesjs-play, .slidesjs-navigation.slidesjs-stop {display:none;}