@charset "UTF-8";

.newsletter .table input[type="checkbox"] {margin-right:10px;}
.newsletter .data-field {padding:20px;}

#popup_container.add_newsletter .popup.add_newsletter {display:block;}
.popup.add_newsletter {border-radius:3px;background:#fff;width:360px;}
.popup.add_newsletter .data-frm {padding:0 15px 15px;}
.popup.add_newsletter .data-frm p {padding:13px 0 0;}
.popup.add_newsletter .data-frm .label {display:block;font-weight:bold;padding-bottom:6px;font-size: 12px;}
.popup.add_newsletter .data-frm select {width:100%;background-color:#fff;}
.popup.add_newsletter .data-frm input {width:100%;}


#popup_container.viewcode_list .popup.viewcode_list {display:block;}
.popup.viewcode_list {border-radius:3px;background:#fff;width:460px;}
.popup.viewcode_list .data-frm {padding:0 15px 15px;}
.popup.viewcode_list .data-frm p {padding:13px 0 0;font-size:12px;line-height:17px;}
.popup.viewcode_list .data-frm .label {display:block;font-weight:bold;padding-bottom:6px;font-size: 12px;}
.popup.viewcode_list .data-frm textarea {width:100%;font-family: "SF Mono", monospace;height:176px;white-space: nowrap;}