
.campaign {
	.search-frm {
		select {float:left;width:160px;margin-left:12px;}
		.keyword {float:left;width:590px;width:calc(100% - 352px);width: -webkit-calc(100% - 352px);width:-moz-calc(100% - 352px);}
	}
	.btn-manage {
		&:before {content:'';display:inline-block;width:14px;height:14px;background: url("../../../_ui/images/normal/product_new.png") no-repeat -65px -160px;opacity:0.3;}
		&:hover:before {opacity:1;}
	}
}
@media screen and (-webkit-min-device-pixel-ratio:2){.campaign .btn-manage:before {background-image: url("../../../_ui/images/retina/product_new.png");}}
.campaign-manage {
	#content {box-shadow:none;border:0;background:none;}
	.stit {
		margin:0;
		small {font-weight:400;color:#91969c;}
	}
	.btn-area {position:absolute;top:0;right:20px;line-height:56px;}
	.wrapper  {clear: both;position: relative;background: #FFF;border-radius: 3px;box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.03);margin-bottom: 18px;}
	.store {
		.status {
			display:table;width:100%;height:67px;border-top:1px solid #f4f4f4;
			li {display:table-cell;width:25%;text-align:center;font-size:15px;line-height:19px;color:#383d48;vertical-align:middle;}
			label {display:block;text-transform:uppercase;font-size:10px;color:#91969c;}
		}
		h3 {
			padding: 29px 0 32px 108px;position:relative;
			b {font-size:24px;display: block;padding-bottom: 6px;}
			a {font-weight:400;font-size:13px;color:#91969c;}
			img {position:absolute;top:15px;left:15px;border-radius:3px;width:80px;height:80px;background:no-repeat 50% 50%;background-size:cover;}
		}
	}
}
.view_products {
	&#popup_container .popup.view_products {display:block;}
	&.popup {
		width:580px;background:#fff;border-radius:3px;
		.title {display:block;color:#4d525d;font-weight:bold;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
		.price {display:block;color:#8a8f9c;}
		ul {padding:8px 0;}
		li {position:relative;padding: 19px 100px 19px 90px;font-size:12px;line-height:19px;}
		img {position:absolute;top:50%;left:15px;width:60px;height:60px;border-radius:3px;margin-top:-30px;background:no-repeat 50% 50%;background-size:cover;}
		.btn-feature {position:absolute;right:15px;top:50%;margin-top:-15px;}
	}
}
.add_history {
	&#popup_container .popup.add_history {display:block;}
	&.popup {
		width:500px;background:#fff;border-radius:3px;
		.data-frm {padding-bottom:10px;}
		p.date {
			float:left;width:calc(50% - 5px);width:-webkit-calc(50% - 5px);width:-moz-calc(50% - 5px);
			&:last-child {float:right;}
		}
		.calendar {
			display:block;position:relative;
			&:before {content:'';width:11px;height:13px;background: url("../../../_ui/images/normal/seller.png") no-repeat -220px -30px;background-size: 250px 250px;position:absolute;top:50%;left:9px;margin-top:-7px;}
			input {padding-left:27px;}
		}
	}
	.sales_id { display:none; visibility: hidden; }
	&.with-product .sales_id { display:block; visibility: visible; }
}
@media screen and (-webkit-min-device-pixel-ratio:2){.popup.add_history .calendar:before {background-image: url("../../../_ui/images/retina/seller.png");}}
.admin-campaign-popup {
	&#popup_container .popup.admin-campaign-popup {display:block;}
	&.popup {
		width:540px;background:#fff;border-radius:3px;
		form {padding:0;}
		fieldset {padding:27px 30px 25px;background:#fff;}
		.frm-item {
			float:left;clear:both;width:100%;padding-bottom:5px;
			label {float:left;line-height: 32px;width: 100px;}
			input.text, input[type="text"], textarea, select, div.right {float:right;width: 300px;}
		}
		.hr {float:left;clear:both;width:100%;height:1px;margin-bottom:15px;position:relative;top:5px;background:#e4e8ec;}
		.select-date {
			display:inline-block;position:relative;padding: 0;vertical-align: top;
			&:before {content:'';position:absolute;background: url("../../../_ui/images/common/admin.png") no-repeat -25px 0;width: 17px;height: 18px;left: 9px;top: 50%;margin-top: -10px;}
			input.text, input[type="text"] {padding-left: 30px;width: 120px;}
		}
		.stit {padding: 0 0 14px;border: 0;margin: 0;}
	}
}
.campain_reject {
	&#popup_container .popup.campain_reject {display:block;}
	&.popup {width:400px;background:#fff;border-radius:3px;}
}
.campain_approve {
	&#popup_container .popup.campain_approve {display:block;}
	&.popup {
		width:400px;background:#fff;border-radius:3px;
		.text {padding:20px;}
		.search {
			padding:20px;
			input {width:100%;}
		}
	}
}
