.campaign .search-frm select {
  float: left;
  width: 160px;
  margin-left: 12px;
}

.campaign .search-frm .keyword {
  float: left;
  width: 590px;
  width: calc(100% - 352px);
  width: -moz-calc(100% - 352px);
}

.campaign .btn-manage:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../../../_ui/images/normal/product_new.png") no-repeat -65px -160px;
  opacity: 0.3;
}

.campaign .btn-manage:hover:before {
  opacity: 1;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .campaign .btn-manage:before {
    background-image: url("../../../_ui/images/retina/product_new.png");
  }
}

.campaign-manage #content {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  background: none;
}

.campaign-manage .stit {
  margin: 0;
}

.campaign-manage .stit small {
  font-weight: 400;
  color: #91969c;
}

.campaign-manage .btn-area {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 56px;
}

.campaign-manage .wrapper {
  clear: both;
  position: relative;
  background: #FFF;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.03);
  margin-bottom: 18px;
}

.campaign-manage .store .status {
  display: table;
  width: 100%;
  height: 67px;
  border-top: 1px solid #f4f4f4;
}

.campaign-manage .store .status li {
  display: table-cell;
  width: 25%;
  text-align: center;
  font-size: 15px;
  line-height: 19px;
  color: #383d48;
  vertical-align: middle;
}

.campaign-manage .store .status label {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  color: #91969c;
}

.campaign-manage .store h3 {
  padding: 29px 0 32px 108px;
  position: relative;
}

.campaign-manage .store h3 b {
  font-size: 24px;
  display: block;
  padding-bottom: 6px;
}

.campaign-manage .store h3 a {
  font-weight: 400;
  font-size: 13px;
  color: #91969c;
}

.campaign-manage .store h3 img {
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 3px;
  width: 80px;
  height: 80px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.view_products#popup_container .popup.view_products {
  display: block;
}

.view_products.popup {
  width: 580px;
  background: #fff;
  border-radius: 3px;
}

.view_products.popup .title {
  display: block;
  color: #4d525d;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view_products.popup .price {
  display: block;
  color: #8a8f9c;
}

.view_products.popup ul {
  padding: 8px 0;
}

.view_products.popup li {
  position: relative;
  padding: 19px 100px 19px 90px;
  font-size: 12px;
  line-height: 19px;
}

.view_products.popup img {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  margin-top: -30px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.view_products.popup .btn-feature {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -15px;
}

.add_history#popup_container .popup.add_history {
  display: block;
}

.add_history.popup {
  width: 500px;
  background: #fff;
  border-radius: 3px;
}

.add_history.popup .data-frm {
  padding-bottom: 10px;
}

.add_history.popup p.date {
  float: left;
  width: calc(50% - 5px);
  width: -moz-calc(50% - 5px);
}

.add_history.popup p.date:last-child {
  float: right;
}

.add_history.popup .calendar {
  display: block;
  position: relative;
}

.add_history.popup .calendar:before {
  content: '';
  width: 11px;
  height: 13px;
  background: url("../../../_ui/images/normal/seller.png") no-repeat -220px -30px;
  background-size: 250px 250px;
  position: absolute;
  top: 50%;
  left: 9px;
  margin-top: -7px;
}

.add_history.popup .calendar input {
  padding-left: 27px;
}

.add_history .sales_id {
  display: none;
  visibility: hidden;
}

.add_history.with-product .sales_id {
  display: block;
  visibility: visible;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .popup.add_history .calendar:before {
    background-image: url("../../../_ui/images/retina/seller.png");
  }
}

.admin-campaign-popup#popup_container .popup.admin-campaign-popup {
  display: block;
}

.admin-campaign-popup.popup {
  width: 540px;
  background: #fff;
  border-radius: 3px;
}

.admin-campaign-popup.popup form {
  padding: 0;
}

.admin-campaign-popup.popup fieldset {
  padding: 27px 30px 25px;
  background: #fff;
}

.admin-campaign-popup.popup .frm-item {
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 5px;
}

.admin-campaign-popup.popup .frm-item label {
  float: left;
  line-height: 32px;
  width: 100px;
}

.admin-campaign-popup.popup .frm-item input.text, .admin-campaign-popup.popup .frm-item input[type="text"], .admin-campaign-popup.popup .frm-item textarea, .admin-campaign-popup.popup .frm-item select, .admin-campaign-popup.popup .frm-item div.right {
  float: right;
  width: 300px;
}

.admin-campaign-popup.popup .hr {
  float: left;
  clear: both;
  width: 100%;
  height: 1px;
  margin-bottom: 15px;
  position: relative;
  top: 5px;
  background: #e4e8ec;
}

.admin-campaign-popup.popup .select-date {
  display: inline-block;
  position: relative;
  padding: 0;
  vertical-align: top;
}

.admin-campaign-popup.popup .select-date:before {
  content: '';
  position: absolute;
  background: url("../../../_ui/images/common/admin.png") no-repeat -25px 0;
  width: 17px;
  height: 18px;
  left: 9px;
  top: 50%;
  margin-top: -10px;
}

.admin-campaign-popup.popup .select-date input.text, .admin-campaign-popup.popup .select-date input[type="text"] {
  padding-left: 30px;
  width: 120px;
}

.admin-campaign-popup.popup .stit {
  padding: 0 0 14px;
  border: 0;
  margin: 0;
}

.campain_reject#popup_container .popup.campain_reject {
  display: block;
}

.campain_reject.popup {
  width: 400px;
  background: #fff;
  border-radius: 3px;
}

.campain_approve#popup_container .popup.campain_approve {
  display: block;
}

.campain_approve.popup {
  width: 400px;
  background: #fff;
  border-radius: 3px;
}

.campain_approve.popup .text {
  padding: 20px;
}

.campain_approve.popup .search {
  padding: 20px;
}

.campain_approve.popup .search input {
  width: 100%;
}
/*# sourceMappingURL=campaign_manager.css.map */