html,body {height:100%;}

.schedule .calendar .detail .empty p:before, .schedule .features .type:before, .schedule .manager .dropdown-menu:after, .schedule .features .detail dt span.count:after, .schedule .feature-type .dropdown-menu:after, .schedule .calendar .paging a.prev:before, .schedule .calendar .paging a.next:before {background: url("../../../_ui/images/normal/campaigns.png") no-repeat;background-size:300px 300px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
.schedule .calendar .detail .empty p:before, .schedule .features .type:before, .schedule .manager .dropdown-menu:after, .schedule .features .detail dt span.count:after, .schedule .feature-type .dropdown-menu:after, .schedule .calendar .paging a.prev:before, .schedule .calendar .paging a.next:before {background-image: url("../../../_ui/images/retina/campaigns.png") ;}
}

.schedule .manager .dropdown-menu {font-size:12px;line-height:15px;color:#37414c;display: block;height: 30px;}
.schedule .manager .dropdown-menu b {float:left;}
.schedule .manager .dropdown-menu small {display:block;font-size:11px;font-weight:400;color:#9099a6;}
.schedule .manager .dropdown-menu .avatar {float:left;padding-right:19px;}
.schedule .manager .dropdown-menu .avatar img {width:30px;height:30px;float:right;position:relative;margin-right:-10px;box-shadow:0 0 0 2px #fff;border-radius:100%;}
.schedule .manager .dropdown-menu:after {content:'';float:left;opacity: 0.6;margin: 12px 0 0 14px;width: 9px;height: 5px;opacity:0.6;background-position:-10px -15px;vertical-align: middle;border: 0;}
.schedule .manager .dropdown {left:auto;right:0;top:100%;}
.schedule {position:absolute;top: 0;height:600px;height:calc(100% - 155px);height:-webkit-calc(100% - 155px);height:-moz-calc(100% - 155px);left:0;width:100%;}
.schedule .wrapper-content {width: 970px;margin:0 auto;background:#fff;display: table;height: 100%;box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);border-radius: 3px;padding: 0;}
.schedule #sidebar {position:relative;display:table-cell;width:275px;}
.schedule #content {position:relative;display:table-cell;width:695px;width:calc(100% - 275px);width:-webkit-calc(100% - 275px);width:-moz-calc(100% - 275px);border-left:1px solid #ededed;}
.schedule h3 {padding:15px 17px;line-height:21px;font-size:15px;}
.schedule h3 small {font-weight:normal;}
.schedule .search {border-bottom:1px solid #ededed;padding:0 17px 17px;}
.schedule .search .keyword {display:block;}
.schedule .search:after {content:'';clear:both;display:block;}
.schedule div.detail {position:absolute;bottom:0;left:0;width:100%;height:499px;overflow:auto;height: calc(100% - 101px);height:-webkit-calc(100% - 101px);height:-moz-calc(100% - 101px);}
.schedule .items {display:table;width:100%;padding:0;position: relative;z-index:0;}
.schedule .items .text {display:block;position:relative;padding:7px 0 7px 58px;}
.schedule .items:hover {z-index:2;}
.schedule .items a {padding:0 10px;vertical-align:middle;display:table-cell;position:relative;font-size:11px;line-height:15px;color:#9099a6;height: 50px;}
.schedule .items img {border-radius:3px;display:block;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);background:no-repeat 50% 50%;background-size:cover;width:50px;position:absolute;top:50%;left:0;margin-top:-25px;}
.schedule .items .tit {display:block;font-weight:500;color:#37414c;font-size:12px;}
.schedule .items .placement {display: block;font-size:14px;padding:11px 0 16px;line-height:20px;margin-bottom:15px;color:#37414c;font-weight:bold;text-align:center;border-bottom: 1px solid #ededed;}
.schedule .items .placement .type {position:absolute;top:-15px;left:50%;margin:0 0 0 -15px;width:30px;height:30px;}
.schedule .current_date {line-height:18px;font-size:12px;font-weight:600;border-bottom:1px solid #ededed;position: relative;z-index: 2;}
.schedule .current_date:after {content:'';clear:both;display:block;}
.schedule .current_date > span {display:none;}
.schedule .current_date em {float:left;width:calc((100%/7) - 20px);padding:10px;color:#9099a6;}
.schedule .current_date small {font-weight:400;}
.schedule .current_date .day em {float:none;width:auto;display: block;color: #393d4d;}
.schedule .current_date .day .theme {position:relative;display:block;text-align:center;font-weight:600;line-height:17px;padding:15px;background: #fbfbfb;border-top: 1px solid #ededed;}
.schedule .current_date .day .theme a {background:#fff;display:block;margin:-15px;padding:15px;width:100%;}
.schedule .current_date .day .theme.opened a:before {content:'';position:fixed;top:0;left:0;width:100%;height:100%;background: #ebeced;opacity: 0.34;}
.schedule .feature-type {position:absolute;top:0;right:0;z-index: 3;}
.schedule .feature-type .dropdown {left:auto;right:0;margin-top:-5px;min-width: 0;white-space: nowrap;}
.schedule .feature-type .dropdown-menu {display:block;padding:17px 17px 13px;line-height:21px;font-size:12px;color:#4c4f5d;font-weight:600;}
.schedule .feature-type .dropdown-menu:after {content:'';display: inline-block;margin: -2px 0 0 6px;width: 9px;height: 5px;opacity:0.6;background-position:-10px -15px;vertical-align: middle;border: 0;}	 
.schedule .type {position:absolute;top:50%;width:18px;height:18px;background:#9aa4ae;left: 9px;border-radius:100%;margin-top:-9px;}
.schedule .type:after {content:'';position:absolute;top:0;width: 100%;height: 100%;left:0;background: no-repeat;background-size: contain;}
.schedule .product .type {background:#4f6274;}
.schedule .store .type {background:#65c07d;}
.schedule .key .type {background:#2994ed;}
.schedule .facebook .type {background:#406199;}
.schedule .twitter .type {background:#1da1f2;}
.schedule .summary .type {background: rgba(242, 242, 242, .9);}
.schedule .product .summary .type {background:rgba(79, 98, 116, .9);}
.schedule .store .summary .type {background:rgba(101, 192, 125, .9);}
.schedule .key .summary .type {background:rgba(41, 148, 237, .9);}
.schedule .facebook .summary .type {background:rgba(64, 97, 153, .9);}
.schedule .twitter .summary .type {background:rgba(29, 161, 242, .9);}
.schedule .timeline .type:after {background-image: url('../../../_ui/images/svg/schedule-timeline.svg');}
.schedule .mobile .type:after {background-image: url('../../../_ui/images/svg/schedule-mobile-explore.svg');}
.schedule .explore .type:after {background-image: url('../../../_ui/images/svg/schedule-explore.svg');}
.schedule .collection .type:after {background-image: url('../../../_ui/images/svg/schedule-collection.svg');}
.schedule .facebook .type:after {background-image: url('../../../_ui/images/svg/schedule-facebook.svg');}
.schedule .twitter .type:after {background-image: url('../../../_ui/images/svg/schedule-twitter.svg');}
.schedule .key .type:after {background-image: url('../../../_ui/images/svg/campaigns_key_moment.svg');}
.schedule .dm .type:after {background-image: url('../../../_ui/images/svg/schedule-newsletter.svg');}
.schedule .sidebar .type:after {background-image: url('../../../_ui/images/svg/schedule-sidebar.svg');}
.schedule .calendar .search {position:relative;padding-left:207px;text-align: center;}
.schedule .calendar .search .keyword {float:right;width:190px;}
.schedule .calendar .search a {position:relative;float:left;padding: 0 10px;color: #97a0ac;border-left: 1px solid #d9dbdd;font-size: 12px;min-height:29px;line-height:29px;text-align:center;font-weight:600;}
.schedule .calendar .search a.current {color:#37414c;}
.schedule .calendar .search a.current:before {content:'';position:absolute;top:100%;left:0;width:100%;margin-top:-1px;height:2px;background:#2994ed;}
.schedule .calendar .search a.current:first-child:before {border-bottom-left-radius:3px;}
.schedule .calendar .search a.current:last-child:before {border-bottom-right-radius:3px;}
.schedule .calendar .search a:first-child {border-left:0;}
.schedule .calendar .paging {position:absolute;top:0;left:17px;border:1px solid #d9dbdd;border-radius:3px;box-shadow:0 1px 1px rgba(0,0,0,0.05);}
.schedule .calendar .paging a {min-width: 13px;padding:0 8px;color:#37414c;}
.schedule .calendar .paging a.prev, .schedule .calendar .paging a.next {text-indent:-1000em;position: relative;}
.schedule .calendar .paging a.prev:before, .schedule .calendar .paging a.next:before {content:'';position:absolute;top:50%;left:50%;margin: -5px 0 0 -2px;width:5px;height: 10px;background-position: -140px -15px;}
.schedule .calendar .paging a.next:before {background-position: -150px -15px;}
.schedule .calendar .calendar-type {margin:0 auto;line-height:29px;border:1px solid #d9dbdd;border-radius:3px;box-shadow:0 1px 1px rgba(0,0,0,0.05);display: inline-block;vertical-align: top;}
.schedule .calendar .calendar-type a {min-width: 40px;}
.schedule .calendar .calendar-type:after {content:'';clear:both;display:block;}
.schedule .calendar > .detail {background:#fbfbfb;height: calc(100% - 140px);height:-webkit-calc(100% - 140px);height:-moz-calc(100% - 140px);}
.schedule .calendar.dm-calendar .view-week {height: calc(100% - 203px);height: -webkit-calc(100% - 203px);height: -moz-calc(100% - 203px);border-top: 1px solid #ededed;box-shadow: inset 0 1px 0 rgba(230, 231, 232, .2);}
.schedule .calendar.dm-calendar .view-day {background:#fff;border-top: 1px solid #ededed;box-shadow: inset 0 1px 0 rgba(230, 231, 232, .2);height: calc(100% - 188px);height: -webkit-calc(100% - 188px);height: -moz-calc(100% - 188px);}
.schedule .calendar ul.theme {position:absolute;top: 140px;left:0;width:100%;display:table;}
.schedule .calendar ul.theme li {display:table-cell;z-index:0;width:calc(100%/7);font-size:12px;height: 46px;background:#fbfbfb;vertical-align: middle;padding: 8px 10px;text-align: center;border-left: 1px solid rgba(237, 237, 237, 0.9);position: relative;line-height:15px;font-weight:600;color:#4c4f5d;}
.schedule .calendar ul.theme li.empty {background:#fff;}
.schedule .calendar ul.theme li.opened {z-index:1;}
.schedule .calendar ul.theme li:first-child {border-left:0;}
.schedule .calendar ul.theme:after, .schedule .calendar .detail ul:after {content:'';clear:both;display:block;}
.schedule .calendar ul.theme .opened a:before {content:'';position:fixed;top:0;left:0;width:100%;height:100%;background: #ebeced;opacity: 0.34;}
.schedule .calendar .add-theme {position:absolute;display:none;border-radius:3px;border-radius:3px;background:#fff;box-shadow:0 0 0 1px rgba(0,0,0,0.11),0 7px 15px rgba(0,0,0,0.07);width:270px;margin-left:-135px;top:100%;margin-top:20px;left: 50%;}
.schedule .calendar .add-theme:before {content:'';position:absolute;bottom:100%;left:50%;margin-left:-11px;border:11px solid transparent;border-bottom-color:rgba(0,0,0,0.11);}
.schedule .calendar .add-theme:after {content:'';position:absolute;bottom:100%;left:50%;margin-left:-10px;border:10px solid transparent;border-bottom-color:#fff;}
.schedule .calendar .add-theme input {padding:15px 12px;line-height:20px;font-size:13px;width:100%;background:none;border:0;box-shadow:none;}
.schedule .calendar .add-theme input:focus {background:none !important;border:0 !important;box-shadow:none !important;}
.schedule .calendar .opened .add-theme {display:block;}
.schedule .calendar .detail .empty {position:absolute;top:0;left:0;width:100%;height:100%;display:table;z-index:1;}
.schedule .calendar .detail .empty p {position:relative;display:table-cell;vertical-align:middle;text-align:center;font-weight:500;font-size:12px;color:#9099a6;line-height:22px;}
.schedule .calendar .detail .empty p:before {content:'';display:block;width:110px;height:30px;background-position:-190px -30px;margin:0 auto 17px;}
.schedule .calendar .detail .empty p b {display:block;font-size:18px;color:#37414c;font-weight:700;padding-bottom:5px;}
.schedule .calendar.dm-calendar .detail .empty p:before {background-position:-230px 0;width:70px;}
.schedule .calendar .detail.view-day .month {padding:1px 8px 15px;}
.schedule .calendar .detail.view-week {background: #fff;}
.schedule .calendar .detail.view-week .month {display:table;width:100%;height:100%;}
.schedule .calendar .month {position:relative;z-index:1;}
.schedule .calendar .monthly {display:none;}
.schedule .calendar .monthly .type em {font-weight:400;position:absolute;display:none;margin-bottom:15px;bottom:100%;left:50%;font-size:13px;line-height:18px;color:#9099a6;padding:15px;white-space:nowrap;border-radius:3px;background:#fff;box-shadow:0 0 0 1px rgba(0,0,0,0.11),0 7px 15px rgba(0,0,0,0.07);transform:translateX(-50%);}
.schedule .calendar .monthly .type em b {display:block;font-size:16px;font-weight:500;color:#37414c;}
.schedule .calendar .monthly .type em:before {content:'';position:absolute;top:100%;left:50%;margin-left:-11px;border:11px solid transparent;border-top-color:rgba(0,0,0,0.11);}
.schedule .calendar .monthly .type em:after {content:'';position:absolute;top:100%;left:50%;margin-left:-10px;border:10px solid transparent;border-top-color:#fff;}
.schedule .calendar .monthly .type:hover {z-index:2;}
.schedule .calendar .monthly .type:hover em {display:block;}
.schedule .calendar .view-week li {float:left;width:15%;width:calc((100%/7) - 10px);padding:0 5px 5px;}
.schedule .calendar .view-week .items.add {background:#fff;box-shadow: inset 0 0 0 2px rgba(68, 135, 194, 0.2);}	 
.schedule .calendar .view-week .items.add a {height:auto;}
.schedule .calendar .view-week .items.add a:before, .schedule .calendar .view-week .items.add a:after {content:'';position:absolute;top:50%;left:50%;width:2px;height:12px;background: #2994ed;margin:-6px 0 0 -1px;}
.schedule .calendar .view-week .items.add a:after {width:12px;height:2px;margin:-1px 0 0 -6px;}
.schedule .calendar .view-week .grid {content:'';position:absolute;top:0;left: calc(100%/7);z-index:0;box-shadow: 1px 0 0 #d9dbdd;height:100%;border-left:1px solid #d9dbdd;width: calc(100%/7);opacity: 0.4;box-sizing: border-box;}
.schedule .calendar .view-week .grid:before {content:'';position:absolute;top:0;width: 100%;border-left:1px solid #d9dbdd;box-shadow: 1px 0 0 #d9dbdd;height:100%;left: 200%;margin-left: 1px;box-sizing: border-box;}
.schedule .calendar .view-week .grid:after {content:'';position:absolute;top:0;width: 100%;border-left:1px solid #d9dbdd;box-shadow: 1px 0 0 #d9dbdd;height:100%;left: 400%;margin-left: 2px;}
.schedule .calendar .view-week .items {margin-top:5px ;height:38px;padding: 0;border-radius: 3px;background: rgba(226, 230, 238, 0.9);width: 100%;}) - 1px);}
.schedule .calendar .view-week .items:after {content:'';clear:both;display:block;}
.schedule .calendar .view-week .items .summary {position:relative;display: table-cell;padding: 4px 0px 4px 72px;vertical-align:middle;border-radius: 4px;}
.schedule .calendar .view-week .items .summary img {position:absolute;top:50%;left:33px;margin-top:-15px;width:26px;height:26px;border:2px solid #fff;}
.schedule .calendar .view-week .items .summary b {display:none;font-size:11px;font-weight:500;}
.schedule .calendar .view-week .items .detail {display:none;position:absolute;overflow:visible;bottom: 100%;margin: 0 0 10px -132px;width: 240px;border-radius:3px;background:#fff;box-shadow:0 0 0 1px rgba(0,0,0,0.11),0 7px 15px rgba(0,0,0,0.07);padding: 15px;height: auto;left:50%;}
.schedule .calendar .view-week .items .detail:before {content:'';position:absolute;top:100%;left:50%;margin-left:-11px;border:11px solid transparent;border-top-color:rgba(0,0,0,0.11);}
.schedule .calendar .view-week .items .detail:after {content:'';position:absolute;top:100%;left:50%;margin-left:-10px;border:10px solid transparent;border-top-color:#fff;}
.schedule .calendar .view-week .items:nth-of-type(1) .detail, .schedule .calendar .view-week .items:nth-of-type(2) .detail, .schedule .calendar .view-week .items:nth-of-type(3) .detail, .schedule .calendar .view-week .items:nth-of-type(4) .detail {top: 100%;bottom:auto;margin-top: 10px;}
.schedule .calendar .view-week .items:nth-of-type(1) .detail:before, .schedule .calendar .view-week .items:nth-of-type(2) .detail:before, .schedule .calendar .view-week .items:nth-of-type(3) .detail:before, .schedule .calendar .view-week .items:nth-of-type(4) .detail:before {display:none;top:auto;bottom:100%;border-color:transparent;border-bottom-color:rgba(0,0,0,0.11);}
.schedule .calendar .view-week .items:nth-of-type(1) .detail:after, .schedule .calendar .view-week .items:nth-of-type(2) .detail:after, .schedule .calendar .view-week .items:nth-of-type(3) .detail:after, .schedule .calendar .view-week .items:nth-of-type(4) .detail:after {display:none;top:auto;bottom:100%;border-color:transparent;border-bottom-color:#fff;}
.schedule .calendar .view-week li:nth-of-type(7n+1) .items .detail {left:0;margin-left:0;}
.schedule .calendar .view-week li:nth-of-type(7n+1) .items .detail:before, .schedule .calendar .view-week li:nth-of-type(7n+1) .items .detail:after {display:block;left:48px;}
.schedule .calendar .view-week li:nth-of-type(7n) .items .detail {left:auto;right:0;}
.schedule .calendar .view-week li:nth-of-type(7n) .items .detail:before, .schedule .calendar .view-week li:nth-of-type(7n) .items .detail:after {display:block;left:auto;right:40px;margin-right:-11px;}
.schedule .calendar .view-week li:nth-of-type(7n) .items .detail:after {margin-right:-10px;}
.schedule .calendar .view-week .items:hover .detail {display:block;}
.schedule .calendar .view-week .collapse {position:static;opacity:0;visibility: hidden;}
.schedule .calendar .view-week .expand .summary b {display:inline-block;margin-top: -4px;vertical-align:middle;}
.schedule .calendar .view-week .expand.cols-7 {width:700%;width:calc(((100% + 10px) * 7) - 10px);}
.schedule .calendar .view-week .expand.cols-6 {width:600%;width:calc(((100% + 10px) * 6) - 10px);}
.schedule .calendar .view-week .expand.cols-5 {width:500%;width:calc(((100% + 10px) * 5) - 10px);}
.schedule .calendar .view-week .expand.cols-4 {width:400%;width:calc(((100% + 10px) * 4) - 10px);}
.schedule .calendar .view-week .expand.cols-3 {width:300%;width:calc(((100% + 10px) * 3) - 10px);}
.schedule .calendar .view-week .expand.cols-2 {width:200%;width:calc(((100% + 10px) * 2) - 10px);}
.schedule .calendar .view-week .home_item .summary b {color:#4f6274;}
.schedule .calendar .view-week .home_store .summary b {color:#5eb648;}
.schedule .calendar .view-week .explore_store .summary b {color:#5eb648;}
.schedule .calendar .view-week .explore .summary b {color:#6f56a7;}
.schedule .calendar .view-week .theme_collection .summary b {color:#2994ed;}
.schedule .calendar .view-week .collection .summary b {color:#6f56a7;}
.schedule .calendar .view-week .holiday .summary b {color:#2994ed;}
.schedule .calendar .view-week .placement small {display:block;}
.schedule .calendar .view-month .monthly {display:block;}
.schedule .calendar .view-month .monthly > b {font-size:12px;font-weight:400;color:#9099a6;display:block;padding-bottom:2px;}
.schedule .calendar .view-month .monthly .items {float:left;clear:both;width:48%;width: calc(50% - 2px);margin-top:5px;height: auto;display: block;padding: 0;border:0;}
.schedule .calendar .view-month .monthly .items .type:after {left: 0;}
.schedule .calendar .view-month .monthly .items .type {position:relative;top:0;left:0;display:block;padding-left:15px;border-radius: 9px;text-align: center;color: #fff;font-size: 11px;font-weight: 600;line-height: 18px;margin: 0;width: auto;}
.schedule .calendar .view-month .monthly .items:nth-of-type(even) {clear:none;float:right;}
.schedule .calendar .view-month p.items {display:none;}
.schedule .calendar .view-month {background:#fff;}
.schedule .calendar .view-month li {position:relative;float:left;width:15%;width:calc((100%/7) - 23px);padding:9px 11px;height:88px;border-bottom:1px solid #d9dbdd;border-right:1px solid #d9dbdd;}
.schedule .calendar .view-month li.pass:after {content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#ebeced;opacity:0.2}
.schedule .calendar .view-month li.today:after {content:'';position:absolute;top:-1px;left:-1px;width:3px;height:100%;padding:1px 0;background:#2994ed;}
.schedule .calendar .view-month li:nth-child(7n) {border-right:0;width:calc((100%/7) - 22px);}
.schedule .calendar .view-month li:nth-child(7n) .monthly .type em {transform:translate(0);right:0;left:auto;}
.schedule .calendar .view-month li:nth-child(7n) .monthly .type em:after {left:auto;right:10px;}
.schedule .calendar .view-month li:nth-child(7n) .monthly .type em:before {left:auto;right:9px;}
.schedule .calendar .view-month li:nth-child(7n+1) .monthly .type em {transform:translate(0);left:0;;}
.schedule .calendar .view-month li:nth-child(7n+1) .monthly .type em:after {left:10px;margin-left:0;}
.schedule .calendar .view-month li:nth-child(7n+1) .monthly .type em:before {left:9px;margin-left:0;}
.schedule .calendar .view-day .placement {position:absolute;top:50%;right:20px;margin-top:-15px;padding: 0;border: 0;}
.schedule .calendar .view-day .placement small {display:none;}
.schedule .calendar .view-day .items {float:left;width:45%;width: calc(50% - 14px);width: -webkit-calc(50% - 14px);width: -moz-calc(50% - 14px);margin:14px 7px 0;background:#fff;border-radius:3px;box-shadow:inset 0 0 0 1px rgba(0,0,0,0.09), 0 3px 5px rgba(0,0,0,0.05);height:80px;}
.schedule .calendar .view-day .items a {padding:0 15px;}
.schedule .calendar .view-day .items .summary {position:absolute;height:100%;top:0;left:0;width:3px;background:none;}
.schedule .calendar .view-day .items .summary .type {position:absolute;top:0;left:0;width:100%;height:100%;border-radius:3px 0 0 3px;opacity:0.6;box-shadow:inset 1px 0 0 rgba(0,0,0,0.1)}
.schedule .calendar .view-day .items .summary .type:after {display:none;}
.schedule .calendar .view-day .items .summary img, .schedule .calendar .view-day .items .summary b {display:none;}
.schedule .calendar .view-day .items .type {width:30px;height:30px;position:relative;margin:0;left:0;top:0;display: block;}
.schedule .calendar .view-day .items.add a {box-shadow: inset 0 0 0 2px rgba(68, 135, 194, 0.2);border-radius:3px;}
.schedule .calendar .view-day .items.add a:before, .schedule .calendar .view-day .items.add a:after {content:'';position:absolute;top:50%;left:50%;width:2px;height:12px;background: #2994ed;margin:-6px 0 0 -1px;}
.schedule .calendar .view-day .items.add a:after {width:12px;height:2px;margin:-1px 0 0 -6px;}
.schedule .features .detail dl {border-bottom:1px solid #ededed;}
.schedule .features .detail dt a {display:table;width:100%;color: #4c4f5d;font-weight: 600;font-size: 12px;}
.schedule .features .detail dt span {display:table-cell;vertical-align:middle;}
.schedule .features .detail dt span.avatar {padding: 10px 8px 10px 17px;width:30px;}
.schedule .features .detail dt span.avatar img {border-radius:3px;display:block;background:no-repeat 50% 50%;background-size:cover;width:30px;}
.schedule .features .detail dt span.count {text-align:right;font-size:11px;color:#9099a6;font-weight:500;padding-right:10px;}
.schedule .features .detail dt span.count:after {content:'';display: inline-block;margin: -2px 0 0 6px;width: 9px;height: 5px;opacity:0.6;background-position:-10px -15px;vertical-align: middle;border: 0;}
.schedule .features .detail .show dt span.count:after {background-position:-160px -15px;}
.schedule .features .detail dd {display:none;padding: 7px 0 7px 7px;border-top: 1px solid #ededed;background:#fbfbfb;}
.schedule .features .detail .show dt span.count:after {background-position:-160px -15px;}
.schedule .features .detail .show dd {display:block;}
.schedule .features .detail .stit {margin:0;background:none;border: 0;padding: 8px 10px 3px;line-height:18px;font-size:11px;font-weight:500;color:#4c4f5d;}
.schedule .features .detail .items a {padding:7px 10px;}
.schedule .features dt .type {width:30px;height:30px;left:0;top:0;position:relative;display:block;margin: 0;}
.schedule .features dd .type {left:0;top:0;position:relative;margin:-3px 5px 0 0;display:inline-block;vertical-align:middle;}
.schedule .features .items .summary {display:none;}
.schedule .features .items .placement {display:none;}
.schedule .ui-dragable-placeholder {position:fixed;z-index:9;}
.schedule .ui-dragable-placeholder .items a {padding:10px;}
.schedule .ui-dragable-placeholder .items {width:330px;border-radius:5px;background:rgba(255,255,255,0.9);box-shadow:0 1px 10px rgba(0,0,0,0.09),0 0 0 2px #2994ed;}
.schedule .ui-dragable-placeholder .items .summary {display:none;}
.schedule .ui-dragable-placeholder .items .type {width:30px;height:30px;position:relative;margin:0;left:0;top:0;display: block;}
.schedule .ui-dragable-placeholder .items .placement {position:absolute;top:50%;right:20px;margin-top:-15px;padding: 0;border: 0;}
.schedule .ui-dragable-placeholder .items .placement small {display:none;}
