
body.signup, .signup #container-wrapper {background:#fff;}
body.login {display:table;background:#fff;}
body.signup, .signup select, .signup input, .signup button, .signup :before {font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;}

.signup .frm input[type="checkbox"] {background:url('../../../_ui/images/svg/checkbox.svg') no-repeat;background-size:contain;}
.signup .frm .captcha .btns-gray-embo:before {background:url('../../../_ui/images/normal/refresh.png') no-repeat;background-size:14px 12px;}
.signup #header h1 .logo {background: url('../../../_ui/images/svg/logotype.svg') no-repeat;background-size: contain;}
.signup #header h1:hover {opacity:1;}
.signup .frm select {background: url('../../../_ui/images/svg/dropdown.svg') no-repeat 97% 50%;background-size:13px 7px;background-position:calc(100% - 16px) 50%;background-position:-webkit-calc(100% - 16px) 50%;background-position:-moz-calc(100% - 16px) 50%;}
.signup h2 {display:none;text-align:center;padding-bottom: 20px;font-size: 30px;font-weight: 600;}
.signup #header {background:#fff;height: 90px;box-shadow: 0 1px 1px 0 rgba(0,0,0,.08);-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.08);-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.08);border:0;}
.signup #header a {color:#494e58;}
.signup #header h1 {color: #9ba3af;font-size: 24px;font-weight: normal;padding: 30px 0 30px 35px;line-height: 29px;}
.signup #header h1 b {font-weight:300;color: #9ba3af;}
.signup #header h1 em {display:none;}
.signup #header h1 .logo {display:inline-block;width: 132px;height: 30px;margin:-6px 3px 0 0;vertical-align:middle;padding: 0;float: none;text-indent: -1000em;}
.signup #header .inner {max-width: none;padding: 0;}
.signup #header a.help {float:right;font-size: 14px;line-height: 29px;padding: 30px 35px 30px 0;color: #2785fa;}
.signup #container-wrapper {position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: table;}
.signup .container {display:table-cell;vertical-align:middle;position:relative;padding: 180px 15px;}
.signup #content {max-width:760px;margin:0 auto;}
.signup .step li {display: none;font-size: 20px;color: #2f333b;font-weight: 600;padding-bottom: 25px;}
.signup .step small {display:block;text-align:center;padding-bottom: 95px;font-size: 30px;font-weight: 600;}
.signup .step small:after {display:block;text-align:center;font-weight:400;font-size: 17px;color: #9099a6;line-height: 20px;padding-top: 20px;}
.signup .step li:after {content:'';position:fixed;top:90px;left:0;width:25%;height:2px;background:#2785fa;z-index: 10;}
.signup .step li.order1 small:after {content:'Step 1 of 3'}
.signup .step li.order2 small:after {content:'Step 2 of 3'}
.signup .step li.order3 small:after {content:'Step 3 of 3'}
.signup .step li.order4 small:after {content:'Step 4 of 4'}
.signup .step li.between small:after {display:none;}
.signup .step li.between small {padding-bottom:0;}
.signup .step li.between:after {width:100%;}
.signup .step li.between em {display:block;text-align:center;font-weight:400;font-size: 17px;color: #2785fa;line-height: 20px;padding: 20px 0 15px;opacity:0.9;}
.signup .step li.order2:after {padding-left:25%;animation: step 1s ease-out;-webkit-animation: step 1s ease-out;-moz-animation: step 1s ease-out;}
.signup .step li.order3:after {padding-left:50%;animation: step 1s ease-out;-webkit-animation: step 1s ease-out;-moz-animation: step 1s ease-out;}
.signup .step li.order4:after {padding-left:75%;animation: step 1s ease-out;-webkit-animation: step 1s ease-out;-moz-animation: step 1s ease-out;}
.signup .step1 li.order1, .signup .step2 li.order2, .signup .step3 li.order3, .signup .step4 li.order4, .signup .between li.between {display:block;}
.signup .step1 .step_1, .signup .step2 .step_2, .signup .step3 .step_3, .signup .step4 .step_4, .signup .between .between {display:block;}
.signup .frm {padding: 0;display:none;line-height:20px;font-size:14px;color:#383d48;}
.signup .frm p {position:relative;padding-bottom:20px;}
.signup .frm .billing_same {color: #9099a6;font-size: 14px;}
.signup .frm .comment {font-size:13px;opacity:0.3;position:absolute;right:12px;top:12px;}
.signup .frm .btn-area {position: fixed;right: 0;bottom: 0;box-shadow: 0 -1px 0 rgba(0,0,0,0.1);padding: 19px 35px;box-sizing: border-box;-webkit-box-sizing: border-box;width: 100%;text-align: right;background: #fff;}
.signup .frm .btn-area .btn-green {line-height: 49px;border:0;min-width:122px;padding:0 25px;font-size: 15px;height: auto;box-shadow: none;background: #77c68c;text-shadow: none;}
.signup .frm .btn-area .btn-green[disabled] {background: #cacaca;}
.signup .frm .btn-area .btn-green[disabled]:active {color: white;}
.signup .frm .btn-area a.btn-green {color:#fff;}
.signup .frm .btn-area a.btn-green:hover {text-decoration:none;}
.signup .frm .btn-area .btn-back {border-radius: 3px;color:#383d48;font-weight:bold;float: left;position: relative;line-height: 52px;background: #eeeeee;padding: 0 35px;font-size: 16px;}
.signup .frm .terms {clear:both;padding: 5px 0 0 36px;font-size:15px;color:#9099a6;}
.signup .frm .terms a {color:#2785fa;font-weight:500;}
.signup .frm .terms input {position:absolute;top:5px;left:0;}
.signup .frm input[type="checkbox"] {width: 28px;height: 28px;vertical-align: middle;margin: -3px 5px 0 0;box-shadow: none;border: 0;cursor:pointer;}
.signup .frm input[type="checkbox"]:checked {background-image:url('../../../_ui/images/svg/checkbox-selected.svg');}
.signup .frm input.text, .signup .frm textarea.text {width: 100%;font-size:15px;padding: 13px 15px;line-height: 22px;border: 0;background: none;box-shadow: 0 0 0 2px #dfe5e9;}
.signup .frm textarea.text {height:100px;}
.signup .frm select {width: 100%;height: auto;font-size: 15px;padding: 13px 15px;line-height: 22px;border: 0;background-color: transparent;box-shadow: 0 0 0 2px #dfe5e9;}
.signup .frm select[disabled] {background:#f8f8f8;}
.signup .frm .state, .signup .frm .city, .signup .frm .addr_1, .signup .frm .store, .signup .frm .email {float:left;width: 370px;width: calc(50% - 10px);width: -webkit-calc(50% - 10px);width: -moz-calc(50% - 10px);}
.signup .frm .confirm_nb, .signup .frm .country, .signup .frm .code, .signup .frm .addr_2, .signup .frm .username, .signup .frm .name, .signup .frm .pw {float:right;width: 370px;width: calc(50% - 10px);width: -webkit-calc(50% - 10px);width: -moz-calc(50% - 10px);}
.signup .frm .btn-confirm {line-height: 42px;margin-left: 10px;width: 156px;font-size: 14px;padding:0;border-radius: 3px;font-weight: 600;}
.signup .frm .captcha {display:block;text-align:center;clear:both;border-top: 1px solid #f2f2f2;padding: 20px 0 10px;}
.signup .frm .captcha:after {content:'';clear:both;display:block;}
.signup .frm .captcha img {display: block;margin: 0 auto 10px;}
.signup .frm .captcha .btns-gray-embo {text-transform: capitalize;text-align: center;padding: 0 12px;margin-right: 6px;line-height: 42px;font-size: 13px;}
.signup .frm .captcha .btns-gray-embo:before {content:'';display:inline-block;width:14px;height:14px;vertical-align: middle;margin: 0px 5px 0 0;}
.signup .frm .captcha input.text {width: 286px;display: inline-block;}
.signup .frm.between .features {font-size:15px;font-size:14.5px;line-height:20px;max-width:637px;margin: 0 auto;padding-bottom: 40px;}
.signup .frm.between .features:after {content:'';clear:both;display:block;}
.signup .frm.between .features li {float:left;width:50%;box-sizing:border-box;padding: 9px 0 9px 24px;position:relative;}
.signup .frm.between .features li:before {content:'';position:absolute;background:url('../../../whitelabel/gear/images/svg/ico-check.svg') no-repeat;width:11px;height:9px;left:0;top:15px;}
.signup .frm.between .images {text-align:center;font-size: 0;letter-spacing: 0;overflow: hidden;}
.signup .frm.between .images li {position:relative;display:inline-block;vertical-align:top;width: auto;float: none;max-width: calc(100%/3);}
.signup .frm.between .images b {position:absolute;bottom: 0;left:0;width:100%;font-size:15px;font-weight: 400;}
.signup .frm.between .images img {display: block;margin: 0 0 43px;width: 100%;height: 420px;object-fit: contain;padding: 0 50px;position: relative;left: 50%;transform: translateX(-50%);}
.signup .frm.between .images li .brandname {position:absolute;transform: scale(.5);left: 50%;}
.signup .frm.between .images .storefront .brandname {font-size: 17px;font-weight:600;color:#110401;width: 586px;margin-left: -293px;top: 113px;}
.signup .frm.between .images .email .brandname {color:#fff;font-size: 28px;margin-left: -196px;text-align: center;top: 207px;width: 392px;}
.signup .frm.between .images .email .brandname small {font-size:6px;display:block;}
.signup .frm.between .images .product .brandname {color:#9CA3AB;font-size: 13px;width: 380px;bottom: 144px;margin-left: -190px;text-align: left;box-sizing: border-box;padding: 0 15px;}
.signup .frm.between.new .images img {margin-bottom: -37px;}
.signup .between #content {max-width: none;}
.signup .frm .phone {clear:both;}
.signup .frm .phone input.text {width: 100%;}
.signup .frm .another {position:absolute;bottom:-36px;left:0;width:100%;text-align:center;padding:0;}
.signup .frm .label {display:block;font-weight:500;color:#9099a6;font-size:14px;padding-bottom:7px;}
.signup .step2 .frm .label {display:block;font-size:20px;font-weight:600;color: #2f333b;padding-bottom:20px;}
.signup .step2 .frm .label small {display:block;font-weight: 500;font-size:14px;color: #9099a6;padding-top: 10px;}
.signup .step2 .frm .label a.more {font-size:13px;}
.signup .frm .label.header {font-size: 20px;color: #2f333b;font-weight: 600;padding: 20px 0 15px;clear: both;}
.signup .frm .label.header:first-child {padding: 0 0 35px;margin-top: -25px;}
.signup .frm .label.header small {display:block;font-weight: 500;color: #9099a6;font-size: 14px;padding-top:10px;}
.signup .step4 .frm .card_number {float:left;width:50%;}
.signup .step4 .frm .card_cvv {float:left;clear:none;width:100px;margin-left:20px;}
.signup .step4 .frm .card_exp_month, .signup .step4 .frm .card_exp_year {float:left;clear:none;margin-left:20px;width:calc(((50% - 120px)/2) - 20px);width:-webkit-calc(((50% - 120px)/2) - 20px);width:-moz-calc(((50% - 120px)/2) - 20px);}
.signup .step4 .frm .card_exp_year {padding-top:27px;}
.signup .frm .category {padding: 15px 0 18px;}
.signup .frm .category:after {content:'';display:block;clear:both;}
.signup .frm .category li {position:relative;float:left;width: 25%;font-size: 14px;color: #9099a6;padding: 4px 0 18px 38px;font-weight: 500;box-sizing: border-box;}
.signup .frm .category li input {position:absolute;top: 3px;left:0;}
.signup .frm .sales {padding-bottom:20px;clear:both;}
.signup .frm .sales:after {content:'';display:block;clear:both;}
.signup .frm .sales input.text {background:#eff7ff;color:#5794d1;font-weight:600;box-shadow: 0 0 0 2px #d0deec;}
.signup .frm .sales input.text:hover, .signup .frm .sales input.text:focus {background:#eff7ff !important;box-shadow:0 0 0 2px #d0deec !important;border-color:#d0deec !important}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.signup .frm .captcha .btns-gray-embo:before {background-image:url('../../../_ui/images/retina/refresh.png');}
}
@media screen and (max-width: 720px) {
	.signup #header h1 {padding:10px 0 10px 15px;font-size: 14px;}
	.signup #header a.help {padding:10px 15px 10px 0;}
	.signup #header {height:50px;}
	.signup .frm .btn-area {padding:15px;}
	.signup .step li:after {top:50px;}
	.signup .container {padding: 90px 20px 100px;}
	.signup .frm .category li {width:50%;}
	.signup .step small {padding-bottom:40px;}
	.signup .step4 .frm .card_cvv {margin-left:0;width:80px;}
	.signup .step4 .frm .card_exp_month, .signup .step4 .frm .card_exp_year {width: calc(50% - 60px);width:-webkit-calc(50% - 60px);width:-moz-calc(50% - 60px);}
	.signup .step4 .frm .card_number, .signup .frm .state, .signup .frm .city, .signup .frm .addr_1, .signup .frm .store, .signup .frm .email, .signup .frm .confirm_nb, .signup .frm .country, .signup .frm .code, .signup .frm .addr_2, .signup .frm .username, .signup .frm .name, .signup .frm .pw {float:none;width:auto;}
	.signup .frm.between .images li {display:block;max-width: none;}
	.signup .frm.between .features li {float:none;width:auto;}
	.signup .frm.between.new .images li {padding-bottom:40px;}
	.signup .frm.between.new .images img {margin-bottom:-50px;}
}

@-webkit-keyframes step {0% {width:0;} 100% {width:25%;}}
@-moz-keyframes step {0% {width:0;} 100% {width:25%;}}
@keyframes step {0% {width:0;} 100% {width:25%;}}

#login {position:absolute;top:0;left:0;width:100%;height:100%;background:#2f333b;display:table;font-family:-apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;}
#login input {font-family:-apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;font-weight:500;width:100%;border-radius:5px;background:#fff;box-sizing:border-box;-webkit-box-sizing:border-box;line-height:20px;padding:14px 15px;border:2px solid #dfe5e9;font-size: 15px;}
#login input.error {border-color:#e34a4a;}
#login input::-webkit-input-placeholder {color:#9099a6;}
#login input:-moz-placeholder {color:#9099a6;}
#login input:-ms-input-placeholder {color:#9099a6;}
#login input:focus {border-color:#7ab5ea;}
#login .wrapper {display:table-cell;vertical-align:top;padding: 95px 10px 120px;background:none;}
#login .logo {padding-bottom:50px;}
#login .logo img {display:block;border-radius:3px;width:117px;height:117px;margin:0 auto;box-shadow:0 19px 45px rgba(0,0,0,0.1);}
#login .storefront-url {position:absolute;left:0;bottom:50px;width:100%;text-align:center;opacity:0.35;color:#fff;font-size:15px;}
#login .storefront-url a {color:#fff;}
#login .frm {max-width:370px;padding:55px 30px 0;margin:0 auto;box-shadow:0 19px 45px rgba(0,0,0,0.1);border-radius:3px;background:#fff;}
#login .frm h2 {padding:0 0 28px;font-size:22px;line-height:28px;}
#login .frm h2 small {display:block;font-weight:400;font-size:18px;color:#9099a6;}
#login .frm .others {font-size:15px;line-height:20px;padding:25px 0;color:#9099a6;font-weight:500;text-align:center;}
#login .frm .others a {color:#2f333b;}
#login .frm .label {display:block;font-size:15px;padding-bottom:6px;font-weight:500;color: #9099a6;}
#login .frm p {position:relative;padding-bottom:16px;}
#login .btn-login {line-height:52px;color:#fff;background:#65c07d;display:block;width:100%;border-radius:3px;font-size:16px;font-weight:bold;}
#login .btn-login:hover {background:#5fb475;}

@media screen and (max-width: 720px) {
	#login .frm {padding:30px 15px 0;}
	#login .wrapper {padding-top:50px}
}
