.customer .data-field {padding:20px;}
.customer .customer-name > div {position:relative;}

.empty-result .icon {background: url('../../../_ui/images/normal/seller-empty.png') no-repeat;background-size: 250px 250px;}
.empty-result {position:relative;padding:123px 0;text-align:center;}
.empty-result p {color:#999ca8;font-size:16px;padding:25px 0;}
.empty-result .icon {display:block;margin:0 auto 5px;width:124px;height:92px;}

.customer-detail .customer-detail .contact:before, .customer-detail .recent .device .icon, .customer-detail .recent .device .icon {background:url("../../../_ui/images/normal/seller_order.png") no-repeat;background-size:100px 400px}
.customer-detail .controller .btn-msg:before {background:url("../../../_ui/images/normal/user-icon.png") no-repeat;background-size:200px 200px;}
.customer-detail #content {float:left;width:650px;background:none;box-shadow:none;width:calc(100% - 320px);}
.customer-detail #sidebar {float:right;width:302px;}
.customer-detail .ptit {margin-bottom:18px;}
.customer-detail .wrapper {position: relative;background: #FFF;border-radius: 3px;box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);margin-bottom:18px;width:auto;border:0;float:none;}
.customer-detail .wrapper-content {position:relative;}
.customer-detail .stit {color:#373d48;font-size:12px;padding:13px 14px;line-height:17px;border-bottom:1px solid #f4f4f4;}
.customer-detail .btn-edit {position:absolute;right:14px;top:14px;font-size:12px;line-height:17px;}
.customer-detail .controller {top: 7px;position: absolute;right: 8px;}
.customer-detail .controller .btn-msg {margin-left:6px;}
.customer-detail .controller .btn-msg:before {content:'';display:inline-block;vertical-align:middle;width:14px;height:10px;background-position:-140px -80px;margin:-3px 6px 0 0;opacity:0.8;}
.customer-detail .customer-detail {height:auto;color:#6c7484;font-size:13px;line-height:20px;}
.customer-detail .customer-detail .label {display:block;color:#404651;font-size:10px;text-transform:uppercase;}
.customer-detail .customer-detail .stit {margin-bottom:15px;}
.customer-detail .customer-detail address, .customer-detail .customer-detail > div {padding:0 14px;}
.customer-detail .customer-detail address, .customer-detail .customer-detail > div:last-child {padding-bottom:15px;}
.customer-detail .customer-detail .contact:before {content:'';display:inline-block;width:9px;height: 15px;background-position:-60px -40px;vertical-align:middle;margin:-3px 7px 0 0;}
.customer-detail .customer-detail .ipaddr:before {content:'IP';display:inline-block;width:9px;text-align:center;font-weight:bold;font-size:10px;vertical-align:middle;margin: -2px 7px 0 0;}
.customer-detail .customer-detail .email:before {content:'';display:inline-block;width:16px;height: 12px;background: url("../../../_ui/images/normal/seller.png") no-repeat -110px -40px;vertical-align:middle;background-size:250px 250px;margin:-3px 3px 0 0;}
.customer-detail .customer-note {min-height:0;}
.customer-detail .customer-note .note {padding:11px 14px;color:#6c7484;font-size:13px;line-height:20px;}
.customer-detail .customer-note .note.empty {padding:50px 14px;color:#8a8f9c;text-align: center;}
.customer-detail .recent .stit {margin-bottom:15px;}
.customer-detail .recent .table {margin:0 15px;}
.customer-detail .recent .pagination4 {margin:0 15px;}
.customer-detail .recent .tb-type4 td:last-child {text-align:center;}
.customer-detail .recent {padding-bottom:15px;}
.customer-detail .recent .device {display: block;vertical-align:middle;}
.customer-detail .recent .device .icon {display:block;opacity:0.6;margin: 0 auto;}
.customer-detail .recent .device .icon.tablet {width:18px;height: 15px;background-position:-80px -80px;}
.customer-detail .recent .device .icon.desktop {width: 17px;height: 15px;background-position:-80px -100px;}
.customer-detail .recent .device .icon.mobile {width:11px;height:17px;background-position:-80px -120px;}
.customer-detail .recent .device em { z-index: 1; margin-left: -72px; }
.customer-detail .recent .device:hover .icon {opacity:1;}
.customer-detail .orders {display:table;border-top:1px solid #f4f4f4;width:100%;}
.customer-detail .orders li {display:table-cell;font-size:15px;line-height:19px;width:25%;text-align:center;height:68px;padding-bottom:4px;vertical-align:middle;color:#383d48;}
.customer-detail .orders .label {color:#91969c;display:block;font-size:10px;text-transform:uppercase;}
.customer-detail .user {position:relative;padding:40px 20px 40px 124px;display:block;}
.customer-detail .user a:hover {text-decoration:none;}
.customer-detail .user .location {display:block;color:#8a8f9c;font-size:13px;padding-top: 6px;}
.customer-detail .user .username {color:#38424c;font-size:24px;}
.customer-detail .user .label {display:inline-block;font-weight:bold;font-size:10px;text-transform:uppercase;line-height:14px;padding:0 3px;border-radius:2px;vertical-align: middle;margin: -7px 0 0 1px;}
.customer-detail .user .label.vip {color:#fff;background:#6c92c3;box-shadow:inset 0 0 0 1px #6388b8;}
.customer-detail .user .label.gift {color:#999;background:#fff;box-shadow:inset 0 0 0 1px #ddd;}
.customer-detail .user img {position:absolute;top:50%;width:84px;height:84px;border-radius:100%;left:20px;top:50%;margin-top:-42px;background:no-repeat 50% 50%;background-size:cover;}
.customer-detail .tb-type4 .status.recieved:before {background:#99cf9b;}

#popup_container.customer-note .popup.customer-note {display:block;}
#popup_container .popup.customer-note {width:482px;background:#fff;border-radius:3px;float: none;min-height: 0;border: 0;}
.popup.customer-note .ltit {margin-bottom:15px;}
.popup.customer-note .text {padding:7px;background:#f8f8f8;width: 436px;margin:0 15px 15px;}
.popup.customer-note .btn-area {top:0;display: block;padding: 15px;}

@media screen and (max-width: 900px) {
	.customer-detail .controller {position:static;padding-bottom:15px;}
	.customer-detail .controller .btn-msg {margin:10px 0 0;}
	.customer-detail #content, .customer-detail #sidebar {float:none;width:auto;}
	.customer-detail .recent {padding:0;}
	.customer-detail .recent table {border-radius:0;border:0;}
	.customer-detail .recent .table, .customer-detail .recent .stit {margin:0;}
	.customer-detail .recent tbody tr {position:relative;}
	.customer-detail .recent .status {position:absolute;right:10px;top:50%;line-height: 20px;bottom: auto;margin-top: -10px;}
	.customer-detail .recent td.price {font-size:15px;}
	.customer-detail .recent td.id a {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
	.customer-detail .recent td.device {display:none;}
	.customer .controller {position:absolute;}
	.customer .controller .btns-gray-embo {padding:0 10px;}
	.customer .table td:not([class]) {display:none;}
	.customer .table td.orders, .customer .table td.price {display:inline;}
	.customer .table td.orders:after {content:'orders';}
	.customer .table td.price:after {content:'spent';}
	.customer .table td.price:before {content:'·';margin-right:4px;}
	.customer .table td.price b {font-weight:400;}
	.customer .table tbody tr {padding-left:60px;position: relative;}
	.customer .data-field {padding:0;}
	.customer .search-frm {padding:15px 15px 0;}
	.customer .table table {border-left:0;border-right:0;border-radius:0;}
	.customer .data-field [class^="pagination"] {padding:0 15px 18px;}
	.customer .customer-name .relative > a, .customer .buyer .relative > a {font-weight:bold;font-size:13px;}
	.customer .customer-name .relative > a:before, .customer .buyer .relative > a:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;}
	.customer .customer-name > div {position:static;}
	.customer .userinfo-tooltip .user {padding:0;text-align:left;font-size:13px;display: inherit;}
	.customer .userinfo-tooltip .username {display:none;}
	.customer .userinfo-tooltip .user img {left: 10px;margin:-21px 0 0;width:42px;height:42px;top:50%;border: 0;}
	.customer .userinfo-tooltip {background:none;display:block;visibility: visible;position: static;padding: 0;width: auto;opacity: 1;margin: 0;box-shadow: none;display: inline;}
	.customer .data-field .userinfo-tooltip .contact, .customer .data-field .userinfo-tooltip .total, .customer .data-field .userinfo-tooltip .cover, .customer .data-field .userinfo-tooltip:before, .customer .data-field .userinfo-tooltip:after {display: none;}
}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.empty-result .icon {background-image: url('../../../_ui/images/retina/seller-empty.png');}
	.customer-detail .customer-detail .contact:before, .customer-detail .recent .device .icon, .customer-detail .recent .device .icon {background-image:url("../../../_ui/images/retina/seller_order.png");}
	.customer-detail .controller .btn-msg:before {background-image:url("../../../_ui/images/retina/user-icon.png");}
	.customer-detail .customer-detail .email:before {background-image: url("../../../_ui/images/retina/seller.png");}
}