
.order-return .data-field {padding: 20px;}
.order-return tbody td.return-info {padding:0;}
.order-return tbody td.return-info dl {display:none;border-top: 1px solid #ebeced;}
.order-return tbody td.return-info.show dl {display:block;}
.order-return tbody td.check input, .order-return tbody tr:hover td.check label , .order-return thead th.check label {display:none;}
.order-return tbody tr:hover td.check input, .order-return tbody td.check label {display:inline-block;}
.order-return table tbody tr:nth-child(4n+1) td, .order-return table tbody tr:nth-child(4n+2) td {background:#fff;box-shadow: none;}
.order-return table tbody tr:nth-child(4n+3) td, .order-return table tbody tr:nth-child(4n+4) td {background:#f9f9f9;box-shadow: none;}
.order-return td.return-info b.tit_adds {display:inline-block;padding-bottom:4px;}
.order-return .return-info a:hover {text-decoration:none;}
.order-return .return-info dt {padding: 12px 10px;line-height:17px;color:#91969c;}
.order-return .return-info dt small {font-size:11px;}
.order-return .return-info dt b {font-size:13px;display:block;color:#383d48;}
.order-return .return-info dd.buttons {float:right;padding:18px 0;}
.order-return .return-info dd.buttons a {display:inline-block;vertical-align:middle;padding:0 7px;border:1px solid #dddddd;border-radius:2px;background:#f6f6f6;color:#6a6c73;font-weight:bold;font-size:11px;line-height:22px;}
.order-return .return-info dd.buttons a:hover {background:#ededed;}
.order-return .return-info dd.details {clear:both;border-top: 1px solid #ebeced;padding: 15px 10px 0;}
.order-return .return-info .tooltip em {left:50%;bottom:28px;}
.order-return .return-info .btn-edit .icon, .order-return .return-info .btn-note .icon {display:inline-block;width:10px;height:10px;background-position:0 0;opacity:0.8;margin:-3px 7px 0 0;}
.order-return .return-info .btn-reject .icon {width:12px;height:12px;background-position:0 -55px;}
.order-return .return-info .btn-close .icon {width:9px;height:9px;background-position:-40px 0;opacity:0.8;}
.order-return .return-info .table table {border: 1px solid #e3e4e6;margin-bottom:15px;}
.order-return .return-info table {border:0;}
.order-return .return-info thead th {border:0;border-bottom:1px solid #d7d9db;color:#525665;font-size:11px;}
.order-return .return-info tbody td {padding:11px 9px;border:0;border:0;border-bottom:1px solid #e3e4e6;font-size:13px;line-height:18px;vertical-align:top;}
.order-return .return-info small.id {color:#91969c;font-size:13px;}
.order-return .return-info thead th.qty {text-align:center;padding:6px 50px 6px 0;}
.order-return .return-info tbody td.return-detail {font-size:12px;}
.order-return .return-info tbody td.qty {width:55px;padding:11px 50px 11px 0;text-align:center;}
.order-return .return-info tbody tr:last-child td {border:0;}
.order-return .return-info .item {height:49px;vertical-align:middle;}
.order-return .return-info .item a {display:inline-block;position:relative;padding-left:62px;color:#383d48;}
.order-return .return-info .item img {position:absolute;top:50%;margin-top:-24px;left:1px;width:49px;height:49px;background:no-repeat 50% 50%;background-size:cover;}
.order-return .return-info h3 {padding:5px 0 13px;font-size:13px;}
.order-return .return-info a.change_adds {display:inline-block;margin-top:4px;}
.order-return .return-info .item span.qty {font-size:11px;}
.order-return .return-info .item span.qty b {color:#91969c;font-weight:normal;}
.order-return .return-info .tooltip.note em {bottom:22px;}

@media screen and (max-width: 900px) {
    .order-return .data-field {padding:0;}
    .order-return .search-frm {padding:15px 15px 0;}
    .order-return .search-frm .sort {top: 56px;}
    .order-return .search-frm .left {width:calc(100% - 74px);}
    .order-return .table thead {z-index:2;}
    .order-return .table thead th {display:none;}
    .order-return .table thead .id, .order-return .table thead .order, .order-return .table thead .date {display:block;}
    .order-return .table tbody td.order, .order-return .table tbody td.user, .order-return .table tbody td.rma {display:none;}
    .order-return .table tbody td.id, .order-return .table tbody td.date {display:inline;}
    .order-return .table tbody td.id a:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;}
    .order-return .table tbody td.return-info dl {display:block;border-top: 0;}
    .order-return .table tbody td.return-info dt, .order-return .return-info thead.show {display:none;}
    .order-return .return-info .item {height:auto;padding: 10px 0;min-height: 59px;border: 0;}
    .order-return table[class^="tb-"] thead {top:100px}
    .order-return .return-info dd.details {padding:0;border: 0;}
    .order-return .return-info dd.details .table table {border:0;margin:0;}
    .order-return .return-info dd.details .table table tr {padding:0;background: none;}
    .order-return .table table {border-left:0;border-right:0;border-radius:0;}
    .order-return .table tbody tr:nth-child(4n+1), .order-return .table tbody tr:nth-child(4n+2) {background:#fff;}
    .order-return .table tbody tr[detail-id]:nth-child(4n+1) {border-bottom:1px solid #f1f1f1;}
    .order-return .table tbody tr[detail-id]:nth-child(4n+3) {border-bottom:1px solid #eee;}
    .order-return .table tbody tr:nth-child(4n+3), .order-return .table tbody tr:nth-child(4n+4) {background:#f9f9f9;}
    .order-return .table tbody tr:hover td, .order-return .table tbody tr:nth-child(4n+1) td, .order-return tbody .table tr:nth-child(4n+2) td, .order-return tbody .table tr:nth-child(4n+3) td, .order-return .table tbody tr:nth-child(4n+4) td {background:none;}
    .order-return .return-info dd.details .return-detail, .order-return .return-info dd.details .table+.table {display:none;}
}
.popup.return_process .step3 .complete:before, .popup.return_process .select_shipping fieldset.other .file-list li:before, .popup.return_process .select_shipping fieldset.other .file-list li .remove, .popup.mark-arrived .data-frm .item .label .tooltip .icon, .purchases .payment .customer:after, .purchases .payment .contact li:before, .purchases h3.summary:before, .purchases h3.summary .close, .popup.return_process .step b:before, .popup.return_process .howto .icon, .purchases .order-detail a.view:after, .popup.complete_return .tit:before, .purchases .reason .photo {background:url('../../../_ui/images/normal/return.png') no-repeat;background-size:300px 400px;}
.purchases .note .btn-note .icon {background: url('../../../_ui/images/normal/seller.png') no-repeat ;background-size: 250px 250px;}

.purchases {padding-top:0;}
.purchases #sidebar {width:250px;float:right;}
.purchases #content {width:700px;float:left;background: #FFF;border-radius: 3px;box-shadow: 0 2px 0px rgba(0, 0, 0, 0.015), 0 0 0 1px #DBDBDC;-webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.015), 0 0 0 1px #DBDBDC;-moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.015), 0 0 0 1px #DBDBDC;width: calc(100% - 270px);width: -webkit-calc(100% - 270px);width: -moz-calc(100% - 270px);}
.purchases {padding: 0 0 18px;position: relative;}
.purchases:after {content:'';clear:both;display:block;}
.purchases .stit {padding: 10px 17px;color: #656973;background: #F4F5F6;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);font-size: 13px;line-height: 20px;border-bottom: 1px solid #E1E3E6;border-radius: 3px 3px 0 0;font-weight: bold;}
.purchases .btn-area {background:#f9f9f9;text-align:left;padding:13px 16px;border-radius: 0 0 3px 3px;}
.purchases .btn-area button {font-size:12px;line-height:28px;}
.purchases .btn-area .btns-blue-embo {float: right;margin-right: 0;}
.purchases .note {position:relative;}
.purchases .note .btn-note {position:absolute;top:0;right:0;padding:15px;}
.purchases .note .btn-note .icon {display:block;width:11px;height:11px;background-position:-198px -152px;}
.purchases .note p.text {display:block;padding:14px 18px 15px;font-size:13px;line-height:18px;}
.purchases .label {display:block;font-size:10px;color:#91969c;text-transform:uppercase;}
.purchases .payment li {;font-size:13px;line-height:18px;}
.purchases .payment .info {padding-top:12px;}
.purchases .payment .info li {padding:4px 16px 8px}
.purchases .payment .customer {color: #393d4d;font-weight:bold}
.purchases .payment .customer:after {content:'';display:inline-block;width:11px;height:8px;vertical-align:middle;background-position:-30px 0;margin: -3px 0 0 4px;}
.purchases .payment .label {padding-bottom:2px;}
.purchases .payment .contact li {position:relative;color:#656973;padding:2px 16px 2px 38px;}
.purchases .payment .contact li:before {content:'';position:absolute;top:50%;}
.purchases .payment .contact li.email:before {width:13px;height:10px;left:16px;margin-top:-5px;background-position:-30px -10px;}
.purchases .payment .contact li.tel:before {width:9px;height:14px;left:18px;margin-top:-7px;background-position: -45px -1px;}
.purchases .payment .contact {padding-bottom:14px;}
.purchases .payment .reciept {padding:14px 16px 10px;color:#393b42;border-top:1px dotted #e6e6e6;}
.purchases .payment .reciept li {padding:2px 0;}
.purchases .payment .reciept li:after {content:'';clear:both;display:block;}
.purchases .payment .reciept label {float:left;}
.purchases .payment .reciept b {float:right;font-weight:normal;}
.purchases .payment .reciept li.total label, .purchases .payment .reciept li.total b{font-weight:bold;}
.purchases .payment .reciept .discount {clear:both;color:#66676e;padding-top:8px;}
.purchases .payment .reciept .discount:before {content:'';display:block;width:100%;height:2px;background:#eaeaeb;margin-bottom:12px;}
.purchases .reason, .purchases .order-detail {position:relative;margin:0 16px 15px;border:1px solid #dbdbdc;border-radius: 3px;}
.purchases .reason .stit, .purchases .order-detail .stit {padding: 11px 15px 9px;font-size: 12px;}
.purchases .reason dd {position:relative;font-size:13px;line-height: 40px;color:#383d48;padding:13px 13px 13px 66px;}
.purchases .reason p {padding:0;line-height: 20px;display: inline-block;vertical-align: middle;}
.purchases .reason .photo {position:absolute;top:15px;left:15px;width:36px;height:36px;border-radius:100%;background-position:-220px 0;}
.purchases .reason .date {position: absolute;color: #656973;font-size: 12px;right: 15px;top: -30px;line-height: 20px;}
.purchases h3.summary {font-size: 22px;font-weight: normal;color: #383D48;padding: 20px 18px 16px 76px;border-bottom: 1px solid #ECECEC;margin-bottom: 16px;position: relative;}
.purchases h3.summary:before {content:'';width: 43px;height: 44px;top:50%;margin-top: -21px;left: 17px;position: absolute;background-position: -250px -80px;}
.purchases h3.summary.refused:before {background-position:-200px -80px;}
.purchases h3.summary.received:before {background-position:-200px -130px;}
.purchases h3.summary.exchange:before {background-position:-250px -130px;}
.purchases h3.summary.received small:before, .purchases h3.summary.awaiting small:before {content:'·';margin-right:4px;}
.purchases h3.summary small {display:block;font-size:13px;line-height:19px;color:#878a92;}
.purchases h3.summary small a {font-weight:bold;color:#878a92;}
.purchases h3.summary .close {position:absolute;width:50px;height:50px;right:20px;top:50%;margin-top:-25px;background-position:-60px 0;}
.purchases h3.summary .btns {position:absolute;right:18px;top:50%;margin-top:-20px;padding:5px 0;background:#fff;}
.purchases h3.summary .btns a {line-height:28px;}
.purchases h3.summary .btns a+a {margin-left:6px;}
.purchases .order-detail .item {width:100%;}
.purchases .order-detail .item td {position:relative;vertical-align:top;border-top:1px dotted #e3e3e3;padding:22px 0 15px;font-size:13px;line-height:18px;text-align:center;}
.purchases .order-detail .item a {color:#393b42;}
.purchases .order-detail .item tr:first-child td {border-top:0;}
.purchases .order-detail .item img {width:99px;height:99px;background:no-repeat 50% 50%;background-size:cover;margin: -6px auto;display: block;}
.purchases .order-detail .item .title {text-align:left;padding-left:3px;}
.purchases .order-detail .item .title b {display:block;padding:0 0 2px;}
.purchases .order-detail .item .title .option {display:block;padding-bottom:14px;}
.purchases .order-detail .item .title .option label {color:#91969c;}
.purchases .order-detail .item .title span {display:inline-block;vertical-align:top;}
.purchases .order-detail .item .title span.date {padding-right:39px;}
.purchases .order-detail .item .label {margin-bottom:-4px;}
.purchases .order-detail .item .exchange {text-align:right;padding-right:18px;}
.purchases .order-detail a.view {position:absolute;right:16px;top: 11px;font-size:12px;font-weight:bold;color:#4f5663;line-height: 20px;}
.purchases .order-detail a.view:hover {text-decoration:none;}
.purchases .order-detail a.view:after {content:'';display:inline-block;width:5px;height:9px;vertical-align:middle;background-position:-50px -20px;margin:-3px 0 0 9px;}
.purchases .refund {margin:0 16px 16px;border-radius: 3px;color:#866825;font-size:13px;line-height:19px;padding:14px;background:#fcf5d9;border:1px solid #dcd7be;}
.purchases .refund b {display:block;color:#6f5827;}
.purchases .controller .next, .purchases .controller .prev {background: #F4F4F5;background: -webkit-linear-gradient(top,#FFF,#F9F9F9);background: -ms-linear-gradient(top,#FFFFFF,#f9f9f9);background: -moz-linear-gradient(top,#FFFFFF,#f9f9f9);background: -o-linear-gradient(top,#FFFFFF,#f9f9f9);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#f9f9f9');}
.purchases .controller .next[disabled] span, .purchases .controller .prev[disabled] span {opacity:0.5;}
.purchases .controller .next span, .purchases .controller .prev span {display:inline-block;vertical-align:middle;margin-top:-2px;text-indent:-1000em;width:0;height:0;overflow:hidden;border:5px solid transparent;}
.purchases .controller .next {padding: 0 7px 0 11px;}
.purchases .controller .next span {border-left-color:#8a8d94;}
.purchases .controller .prev {padding: 0 11px 0 7px;}
.purchases .controller .prev span {border-right-color:#8a8d94;}
@media screen and (max-width: 900px) {
    .purchases h3.summary .btns {position:static;display:block;margin: 0;}
    .purchases .order-detail .item tr {display:block;padding: 13px 10px 10px;position:relative;}
    .purchases .order-detail .item tr+tr {border-top: 1px dotted #e3e3e3;}
    .purchases .order-detail .item td {display:inline;position: static;padding: 0;border: 0;}
    .purchases .order-detail .item .exchange {padding:0;}
    .purchases .order-detail .item img {width:40px;height:40px;display: inline-block;margin: -3px 0 0;}
    .purchases .order-detail .item .title span.date {position:absolute;top:10px;right:10px;padding: 0;}
    .purchases .order-detail .item .title .option {padding-bottom:4px;}
    .purchases .reason .date, .purchases .reason p {position:static;display: block;}
    .purchases h3.summary {font-size:18px;padding: 10px 10px 10px 65px;}
    .purchases h3.summary:before {left:10px;}
    .purchases h3.summary.received small:before, .purchases h3.summary.awaiting small:before {display:none;}
}
#popup_container.request_deniedt .popup.request_deniedt {display:block;}
.popup.request_deniedt {width:500px;background:#fff;border-radius:3px;}
.popup.request_deniedt textarea.text {height: 86px;display:block;width: 100%;}
.popup.request_deniedt .data-frm {padding:12px 15px 15px;}
.popup.request_deniedt .data-frm .data-cont {float:none;width:auto;padding: 0;}
.popup.request_deniedt .btn-area {padding:15px 9px 15px 15px;}
.popup.request_deniedt .label {display:block;padding-bottom:6px;font-weight:bold;font-size:12px;}

#popup_container.add_return_note .popup.add_return_note {display:block;}
.popup.add_return_note {width:500px;background:#fff;border-radius:3px;}
.popup.add_return_note .note {padding:15px;}
.popup.add_return_note textarea.text {display:block;height: 88px;background: #f9f9f9;width: 100%;}
.popup.add_return_note .btn-area {padding:15px 9px 15px 15px;}
.popup.add_return_note .btn-area button {line-height:28px;font-size:13px;}

#popup_container.modify-condition .popup.modify-condition {display:block;}
.popup.modify-condition {width:540px;background:#fff;border-radius:3px;}
.popup.modify-condition .condition-content {padding:15px 15px 15px 20px;}
.popup.modify-condition label {min-width:140px;}
.popup.modify-condition input {height: 16px;padding-top: 4px;padding-bottom: 6px;}

#popup_container.return_process .popup.return_process {display:block;}
.popup.return_process {width:500px;background:#fff;border-radius:3px;}
.popup.return_process .data-frm {padding:0;}
.popup.return_process .data-frm .data-cont {display:none;float:none;width:auto;padding: 0;}
.popup.return_process .btn-area {padding:15px 9px 15px 15px;}
.popup.return_process .step {width:100%;display:table;text-align:center;border-bottom:1px solid #e9eaed;}
.popup.return_process .step li {display:table-cell;vertical-align:middle;height:58px;font-size:15px;width: 33.3%;}
.popup.return_process .step b {font-weight:normal;display:block;position:relative;color:#414650;opacity:0.5;}
.popup.return_process .step b:before {content:'';position:absolute;width:5px;height:9px;left:-2px;top:50%;margin-top:-5px;background-position:-50px -20px;}
.popup.return_process .step li:first-child b:before {display:none;}
.popup.return_process .step1 .step .fst b, .popup.return_process .step2 .step .scd b, .popup.return_process .step3 .step .last b {font-weight:bold;opacity:1;}
.popup.return_process .title {padding:22px 0 ;text-align:center;font-size:12px; line-height:22px;}
.popup.return_process .title b {font-size:14px;display:block;}
.popup.return_process fieldset {display:none;border:1px solid #e3e4e6;background:#f9f9f9;border-radius:3px;margin:0 15px 15px;}
.popup.return_process input.text {padding:5px 7px;}
.popup.return_process .howto {padding:0 15px 15px;}
.popup.return_process .howto:after {content:'';clear:both;display:block;}
.popup.return_process .howto li {float:left;width:226px;font-size:14px;text-align:center;color:#9ba0a9;}
.popup.return_process .howto a {color:#9ba0a9;display:block;height:177px;padding-top:49px;border:1px solid #e5e5e5;border-radius:3px;text-decoration:none;}
.popup.return_process .howto li:last-child {float:right;}
.popup.return_process .howto .icon {display:block;margin:0 auto 33px;height:94px;}
.popup.return_process select, .popup.return_process input.text {background-color:#fff;vertical-align:top;}
.popup.return_process .select_address fieldset.warehouse {padding:14px 15px 15px;}
.popup.return_process .select_address fieldset.warehouse select {width:100%;}
.popup.return_process .select_address fieldset.other {padding:14px 15px 5px 9px;}
.popup.return_process .select_address fieldset.other .label {padding-left:6px;}
.popup.return_process .select_address fieldset.other input.text {margin:0 0 10px 6px;width:198px;}
.popup.return_process .select_address fieldset.other input.name {width: 422px;}
.popup.return_process .select_address fieldset.other select {width:214px;margin:0 0 10px 6px;}
.popup.return_process .select_address fieldset.other select.state {width:130px;}
.popup.return_process .select_address fieldset.other input.zip {width: 58px;}
.popup.return_process .select_address .howto .warehouse .icon {width:113px;background-position:0 -80px;}
.popup.return_process .select_address .howto .other .icon {width: 116px;background-position: -130px -270px;height: 115px;margin: -14px auto 26px;}
.popup.return_process .select_shipping .howto .fedex .icon {width:80px;height:96px;background-position:0 -180px;margin:-5px auto 37px;}
.popup.return_process .select_shipping .howto .other .icon {width:84px;height:84px;background-position:-85px -180px;margin: 0 auto 44px;}
.popup.return_process .select_shipping .btn-area .btn-back {float:left;}
.popup.return_process .select_shipping fieldset.fedex {padding: 14px 0 0 0;}
.popup.return_process .select_shipping fieldset.fedex p {display:inline-block;vertical-align:top;padding: 0 0 15px 15px;}
.popup.return_process .select_shipping fieldset.fedex select {width:293px;}
.popup.return_process .select_shipping fieldset.fedex input.text {width: 110px;}
.popup.return_process .select_shipping fieldset.fedex .btn-area {padding:15px;line-height:30px;font-size:13px;text-align:right;color:#4f5663;background:#fdfdfd;border-top:1px solid #e3e4e6;}
.popup.return_process .select_shipping fieldset.fedex .btn-area label {padding-right:20px;}
.popup.return_process .select_shipping fieldset.fedex .btn-area b small {font-size: 10px;}
.popup.return_process .select_shipping fieldset.fedex .btns-gray-embo {float:left;}
.popup.return_process .select_shipping fieldset.other {padding: 14px 0 0 0;}
.popup.return_process .select_shipping fieldset.other p {display:inline-block;vertical-align:top;padding: 0 0 15px 15px;}
.popup.return_process .select_shipping fieldset.other select {width:210px;}
.popup.return_process .select_shipping fieldset.other input.tracking {width: 422px;}
.popup.return_process .select_shipping fieldset.other .uploader {white-space:nowrap;position:relative;display:block;border: 1px solid #ccced1;border-radius: 3px;}
.popup.return_process .select_shipping fieldset.other .uploader .btns-white {border-radius:3px 0 0 3px;border: 0;line-height: 29px;box-shadow: none;}
.popup.return_process .select_shipping fieldset.other .uploader input.text {width: 351px;margin-left:-4px;border: 0;border-left: 1px solid #ccced1;border-radius: 0 3px 3px 0;}
.popup.return_process .select_shipping fieldset.other .uploader input[type="file"] {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.popup.return_process .select_shipping fieldset.other .file-list {padding:0 0 15px 15px;}
.popup.return_process .select_shipping fieldset.other .file-list a {color:#4978b3}
.popup.return_process .select_shipping fieldset.other .file-list li:before {content:'';display:inline-block;width:12px;height: 14px;background-position: -30px -20px;vertical-align:middle;margin: -3px 4px 0 0;}
.popup.return_process .select_shipping fieldset.other .file-list li .remove {display:inline-block;width:9px;height:9px;background-position:0 -35px;vertical-align:middle;margin:-3px 0 0 4px;text-indent:-1000em;}
.popup.return_process .label {display:block;font-weight:bold;font-size:12px;padding-bottom:6px;}
.popup.return_process .warehouse .howto .warehouse, .popup.return_process .other .howto .other, .popup.return_process .fedex .howto .fedex {background:#fafafa;color:#4978b3;}
.popup.return_process .step3 .complete, .popup.return_process .step2 .select_shipping, .popup.return_process .step1 .select_address, .popup.return_process .warehouse .select_address fieldset.warehouse, .popup.return_process .other .select_address fieldset.other, .popup.return_process .fedex .select_shipping fieldset.fedex, .popup.return_process .other .select_shipping fieldset.other {display:block;}
.popup.return_process .step3 .complete {text-align:center;padding:76px 0;}
.popup.return_process .step3 .complete:before {content:'';display:block;width: 120px;height: 82px;background-position: 0 -280px;margin:0 auto 24px;}
.popup.return_process .step3 .complete p.tit {font-size:18px;line-height:20px;padding-bottom:4px;color:#5e6771;}
.popup.return_process .step3 .complete p {font-size: 14px;line-height: 18px;padding-bottom: 18px;color: #5E6771;width: 400px;margin: 0 auto;}
.popup.return_process .step3 .complete .btns-blue-embo {margin-top:24px;}

#popup_container.reject-order .popup.reject-order {display:block;}
.popup.reject-order {width:412px;background:#fff;border-radius:3px;}
.popup.reject-order .data-frm {padding:12px 15px 15px;}
.popup.reject-order textarea.text {width:366px;height:160px;display:block;}
.popup.reject-order .btn-area {padding:10px 9px 10px 15px;text-align:right;}

@media screen and (max-width: 800px) {
	.purchases #sidebar {float:none;width:auto;margin-top: 18px;}
	.purchases #content {float:none;width:auto;}
	.create .btn-area {top: 0;width: 100%;right: 0;}
	.purchases .btn-area .btns-blue-embo {float:none;width:100%;margin-bottom: 10px;}
	.purchases .controller {position:absolute;top: -68px;right:15px;}
	.purchases .controller .next, .purchases .controller .prev {float:left;clear:none;width:auto;border-top-width: 1px;border-radius:0 5px 5px 0;}
	.purchases .controller .prev {border-right-width:0;border-radius:5px 0 0 5px;}
	.purchases .order-detail dd {overflow:auto;}
	h2.ptit b {display:block;}
}

.popup.complete_return .card-info .card-number .card {background:url('../../../_ui/images/normal/checkout.png') no-repeat;background-size:220px 310px;}
.popup.complete_return .tit:before {background:url('../../../_ui/images/normal/return.png') no-repeat;background-size:300px 400px;}
#popup_container.complete_return .popup.complete_return {display:block;}
.popup.complete_return {width:500px;background:#fff;border-radius:3px;}
.popup.complete_return .btn-area {padding:15px 9px 15px 15px;}
.popup.complete_return .btn-area .btn-cancel {float:left;}
.popup.complete_return .tit {font-size:12px;line-height:16px;color:#4f5663;text-align:center;padding:33px 0 26px;}
.popup.complete_return .tit:before {content:'';display:block;width:69px;height:55px;margin:0 auto 27px;background-position:-170px -180px}
.popup.complete_return .tit b {display:block;padding:3px 0 6px;}
.popup.complete_return .card-info, .popup.complete_return .price {position:relative;border:1px solid #dbdbdc;background:#f9f9f9;border-radius:3px;margin:0 15px 15px;}
.popup.complete_return label {display:block;font-size:10px;color:#91969c;text-transform:uppercase;}
.popup.complete_return li {float:left;padding:10px 0 0 18px;line-height:18px;}
.popup.complete_return .card-info .after {padding:8px 0 12px;background:#fff;border-radius:0 0 3px 3px;border-top:1px solid #e1e3e6;}
.popup.complete_return .card-info .after:after {content:'';clear:both;display:block;}
.popup.complete_return .card-info li {width:140px;}
.popup.complete_return .card-info .card-adds {float:right;width:290px;}
.popup.complete_return .card-info .card-number {font-size:16px;line-height:27px;padding:18px 18px 17px;display: block;font-weight: normal;}
.popup.complete_return .card-info .card-number .card {display:inline-block;width:42px;height:26px;vertical-align:middle;margin: -3px 6px 0 0;}
.popup.complete_return .card-info .card-number .card.visa {background-position:-32px -242px;}
.popup.complete_return .card-info .card-number .card.mastercard {background-position:-79px -242px;}
.popup.complete_return .card-info .card-number .card.amex, .popup.complete_return .card-info .card-number .card.american {background-position:-126px -242px;}
.popup.complete_return .card-info .btns-gray-embo {position:absolute;top:16px;right:18px;}
.popup.complete_return .price .after {padding-bottom:10px;}
.popup.complete_return .price li {width: 260px;}
.popup.complete_return .price .refund .exclude {color:#91969c;}
.popup.complete_return .price .refund {padding-right:18px;width:154px;color:#393b42;}
.popup.complete_return .price .refund span {display:block;text-align:right;padding:2px 0;clear:both;}
.popup.complete_return .price .refund b {float:left;font-weight:normal;}
.popup.complete_return .price .total_amount {text-align:left;clear:both;background:#fff;padding:13px 10px;border-radius:0 0 3px 3px;border-top:1px solid #e1e3e6;font-size:16px;color:#393b42;font-weight: bold;}
.popup.complete_return .price .total_amount input {margin-left:9px;background: #f9f9f9;text-align: right;font-weight: bold;color: #383d48;width: 124px;}
.popup.complete_return .price .total_amount small {float:right;padding-top: 5px;}
.popup.complete_return .price .total_amount p { font-size: 12px;font-weight: normal;color: #777;}
.popup.complete_return .price .total_amount b {font-size:13px;line-height:31px;}
.popup.complete_return .price .total_amount select {float:left;width:150px;}

.popup.update_card .label .ic-q {background: url('../../../_ui/images/normal/seller.png') no-repeat ;background-size: 250px 250px;}
.popup.update_card .btn-delete .ic-delete {background:url('../../../_ui/images/normal/checkout.png') no-repeat;background-size:220px 310px;}
#popup_container.update_card .update_card {display:block;}
.popup.update_card {background:#fff;width:460px;margin:0 auto;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 0px 13px rgba(0, 0, 0, 0.5);;border-radius:3px;}
.popup.update_card fieldset {padding:15px;}
.popup.update_card fieldset p {display:inline-block;padding:0 2px 3px;vertical-align:top;}
.popup.update_card fieldset p span.error {display: block;font-size: 11px;color: #ff0000;margin: -5px 0 7px;}
.popup.update_card .label .ic-q {display:inline-block;vertical-align:middle;width:12px;height:12px;background-position:-14px -40px;margin-top:-3px;}
.popup.update_card .label {display:block;padding-bottom:6px;font-weight:bold;font-size:12px;position:relative;display:inline-block;}
.popup.update_card .label .tooltip {color:#fff;position:absolute;font-weight:bold;z-index:0;font-size:11px;white-space:normal;width:200px;margin-left:-112px;line-height:15px;left:50%;padding: 7px 12px;background: #2c3239;box-shadow: 0 1px 1px rgba(0,0,0,0.1);border-radius: 3px;bottom: 100%;display: none;margin-bottom: 10px;}
.popup.update_card .label:hover .tooltip {display:block;z-index:1;}
.popup.update_card .label .tooltip:after {content:'';border:5px solid transparent;position:absolute;bottom:-10px;left:50%;margin-left:-5px;border-top-color:#2c3239;}
.popup.update_card div.error {background: #faf0ce;padding: 6px 10px;margin-bottom: 10px;color: #ff0000;}
.popup.update_card select{margin-bottom:7px;}
.popup.update_card .text {margin-bottom:7px;background:#f8f8f8;box-shadow:none;border:1px solid #cacccf;width: 100%;}
.popup.update_card .text:focus {background:#fff;}
.popup.update_card .label {display:block;position:relative;color:#63696e;padding:2px 0 3px;}
.popup.update_card input.fullname, .popup.update_card input.tag {width:193px;}
.popup.update_card input.add1,.popup.update_card input.add2,.popup.update_card input.cardname {width: 426px;}
.popup.update_card .tooltip em {width:200px;white-space:normal;line-height:15px;margin-left:-100px;padding:5px;}
.popup.update_card .btn-area {margin:0;background:none;padding: 14px 10px 14px 17px;width:auto;box-shadow:none;border-top:1px solid #e6e8ea;text-align:right;}
.popup.update_card .btn-delete {border-radius:2px;border:1px solid #cccecf;color:#383d48;background:#fff;font-weight:bold;padding:0 12px;line-height:28px;margin-right:4px;box-shadow:0 1px 0 #f2f2f2;}
.popup.update_card .btn-delete {padding: 0;width: 29px;text-align: center;height: 29px;margin: 0 0 1px 1px;border-radius: 3px;box-shadow: 0 1px 0 #fafafa;}
.popup.update_card .btn-delete .ic-delete {display: inline-block;width: 9px;height: 12px;background-position: -88px -5px;vertical-align: middle;margin-top: -4px;}
.popup.update_card .btn-delete[disabled] {cursor:default;opacity:.5;filter:alpha(opacity=50);}
.popup.update_card .select-country {width:426px;}
.popup.update_card .select-adds {width:392px;vertical-align:top;}
.popup.update_card .city, .popup.update_card .phone {width:230px;}
.popup.update_card .select-state {width:131px;}
.popup.update_card .zip {width: 80px;}
.popup.update_card fieldset .saved {margin:0 -15px 15px;padding:0 17px 12px;border-bottom:1px solid #ebebed;width:426px;}
.popup.update_card fieldset .tit {display:block;padding-bottom:10px;font-weight:bold;color:#383d48;}
.popup.update_card input.cardnum {width:180px;}
.popup.update_card input.cvv {width: 80px;}
.popup.update_card input.state, .popup.update_card select[name="state"] {width:188px;}
.popup.update_card select.select-month {width:66px;margin-right:4px;}
.popup.update_card select.select-year {width:76px;}
.popup.update_card .tit.scd {padding-top:14px;}

.popup.mark-arrived .data-frm .item .label .tooltip .icon {background:url('../../../_ui/images/normal/return.png') no-repeat;background-size:300px 400px;}
#popup_container.mark-arrived .popup.mark-arrived {display:block;}
.popup.mark-arrived {width:700px;background:#fff;border-radius:3px;}
.popup.mark-arrived .item img {position:absolute;top:50%;left:0;width:60px;height:60px;margin-top:-30px;}
.popup.mark-arrived .item a {display:block;position:relative;padding-left:72px;color: #9399a4;}
.popup.mark-arrived .item a:hover {text-decoration:none;}
.popup.mark-arrived .item .title {display:block;font-size:13px;font-weight:normal;}
.popup.mark-arrived .item .title, .popup.mark-arrived .item .option, .popup.mark-arrived .tb-type4 .item .sales-id {color: #4f5764;}
.popup.mark-arrived .item .id {color: #9399a4;}
.popup.mark-arrived input.text.qty {width:40px;text-align:center;background-color:#f8f8f8;}
.popup.mark-arrived select {width:176px;}
.popup.mark-arrived input.text.note {width: 100%;background-color:#f8f8f8;}
.popup.mark-arrived .tb-type2 thead th, .popup.mark-arrived .tb-type2 tbody td {text-align:center;}
.popup.mark-arrived .tb-type2 tbody td {border-left:1px solid #f2f3f3;}
.popup.mark-arrived .tb-type2 tbody td.item, .popup.mark-arrived .tb-type2 tbody td.note {text-align:left;border-left:0;}
.popup.mark-arrived .tb-type2 thead th.item {text-align:left;}
.popup.mark-arrived .data-field {padding:15px;}
.popup.mark-arrived .btn-area {padding:15px 9px 15px 15px;text-align:right;}
.popup.mark-arrived .data-frm {padding:0 15px 15px;}
.popup.mark-arrived .data-frm .data-cont {float:none;width:auto;}
.popup.mark-arrived .data-frm .item {position:relative;border:1px solid #dbdbdc;border-radius:3px;margin-top:15px;padding:18px 15px 15px 148px;line-height: 18px;}
.popup.mark-arrived .data-frm .item a {position:static;}
.popup.mark-arrived .data-frm .item img {top:15px;left:15px;width:118px;height:118px;margin:0;background-size:cover;}
.popup.mark-arrived .data-frm .item span.note {display:block;border-top:1px dotted #e3e3e3;margin-top: 10px;padding-top: 15px;}
.popup.mark-arrived .data-frm .item .label {display:block;font-size:12px;font-weight:bold;padding-bottom:6px;}
.popup.mark-arrived .data-frm .item .condition {position:absolute;top:18px;right:15px;}
.popup.mark-arrived .data-frm .item .condition select {width:143px;}
.popup.mark-arrived .data-frm .item .qty {position:absolute;top:18px;right:169px;}
.popup.mark-arrived .data-frm .item .qty input.text {width:76px;}
.popup.mark-arrived .data-frm .item .order-id {display:block;color:#91969c;padding-bottom: 2px;}
.popup.mark-arrived .data-frm .item .option {display:block;padding-top: 2px;min-height:18px;}
.popup.mark-arrived .data-frm .item .option label {color:#91969c;}
.popup.mark-arrived .data-frm .item .label .tooltip {z-index:12;}
.popup.mark-arrived .data-frm .item .label .tooltip .icon {width:14px;height:14px;background-position:0 -50px;opacity:0.3;}
.popup.mark-arrived .data-frm .item .label .tooltip em {padding:12px 15px;width:184px;margin-left: -101px !important;bottom: 25px;font-size: 12px;font-weight: normal;white-space: normal;}
.popup.mark-arrived .data-frm .item .label .tooltip em:after {border-width:5px;margin-left:-5px;bottom:-10px;}
.popup.mark-arrived .data-frm .item .label .tooltip em b {display:block;padding-bottom:7px;}

@media screen and (-webkit-min-device-pixel-ratio:2){
	.popup.return_process .step3 .complete:before, .popup.return_process .select_shipping fieldset.other .file-list li:before, .popup.return_process .select_shipping fieldset.other .file-list li .remove, .popup.mark-arrived .data-frm .item .label .tooltip .icon, .purchases .payment .customer:after, .purchases .payment .contact li:before, .purchases h3.summary:before, .purchases h3.summary .close, .popup.return_process .step b:before, .popup.return_process .howto .icon, .purchases .order-detail a.view:after, .popup.complete_return .tit:before, .purchases .reason .photo {background-image:url('../../../_ui/images/retina/return.png') ;}
	.purchases .note .btn-note .icon {background-image: url('../../../_ui/images/retina/seller.png');}
	.popup.complete_return .card-info .card-number .card {background-image:url('../../../_ui/images/retina/checkout.png');}
	.popup.complete_return .tit:before {background-image:url('../../../_ui/images/retina/return.png');}
	.popup.update_card .label .ic-q {background-image: url('../../../_ui/images/retina/seller.png');}
	.popup.update_card .btn-delete .ic-delete {background-image:url('../../../_ui/images/retina/checkout.png');}
	.popup.mark-arrived .data-frm .item .label .tooltip .icon {background-image:url('../../../_ui/images/retina/return.png');}
}

