
.custom-pages td a {color:#3C91FA;text-decoration:underline;}
.custom-pages td .title {display:block;position:relative;text-decoration:none;color:#151618;padding-left:47px;}
.custom-pages td .title small {display:block;font-size:11px;opacity:0.55;}
.custom-pages td .title b {display:block;font-weight:400;}
.custom-pages td .title img {width:36px;height:36px;border-radius:3px;position:absolute;left:0;top:50%;margin-top:-18px;background: no-repeat 50% 50% #f5f5f5;background-size: cover;}
.custom-pages .setting-menu:hover {z-index:0;}
.custom-pages .setting-menu.opened:hover {z-index:1;}
.custom-pages .setting-menu.opened > a i:before {content:'';position:fixed;top:0;left:0;width:100%;height:100%;}
.custom-pages .setting-menu {width:29px;opacity: 1;margin:0 auto;}
.custom-pages .setting-menu > a {display:block;width:27px;line-height: 25px;text-align:center;border:1px solid transparent;border-radius: 3px;padding-bottom: 2px;}
.custom-pages .setting-menu > a i {opacity:0.5;display:inline-block;vertical-align:middle;width:3px;height:3px;margin:-3px 0 0 0;background:#000;border-radius:100%;}
.custom-pages .setting-menu > a:before {opacity:0.5;content:'';display:inline-block;vertical-align:middle;width:3px;height:3px;margin:-3px 2px 0 0;background:#000;border-radius:100%;}
.custom-pages .setting-menu > a:after {opacity:0.5;content:'';display:inline-block;vertical-align:middle;width:3px;height:3px;margin:-3px 0 0 2px;background:#000;border-radius:100%;}
.custom-pages .setting-menu:hover > a, .custom-pages .setting-menu.opened > a {border-color:#D6D7DA;}
.custom-pages .setting-menu:hover > a:before, .custom-pages .setting-menu:hover > a:after, .custom-pages .setting-menu:hover > a i {opacity:0.7;}
.custom-pages .setting-menu > ul:before {content:'';position:absolute;border:12px solid transparent;bottom:100%;right:23px;border-bottom-color:rgba(0,0,0,0.1);}
.custom-pages .setting-menu > ul:after {content:'';position:absolute;border:11px solid transparent;bottom:100%;right:24px;border-bottom-color:#fff;}
.custom-pages .setting-menu > ul {margin-top:15px;min-width:154px;white-space:nowrap;border-radius:3px;box-shadow:0 0 0 1px rgba(0,0,0,0.05), 0 2px 5px rgba(0,0,0,0.15);padding: 10px 0;right: -21px;z-index: 3;}
.custom-pages .setting-menu li a:hover {text-decoration:underline;}
.custom-pages .setting-menu li a {text-decoration:none;box-shadow:none;color:#151618;padding: 2px 17px;}
.custom-pages .setting-menu li a[disabled] { opacity:0.5; }
.custom-pages .search input {width:220px;border-color:#F4F5F5;margin:-3px 0 0 20px}

#popup_container.edit-slug .popup.edit-slug {display:block;}
#popup_container .popup.edit-slug {width:400px;background:#fff;border-radius:3px;}
.popup.edit-slug .ly-close {right: -24px;width: 48px;top: -24px;height: 48px;opacity: 1;}
.popup.edit-slug .ly-close .ic-del-black {width:48px;height:48px;background:url('../../../whitelabel/common/images/svg/fullscreen_close.svg') no-repeat;background-size:contain;opacity: 1;}
.popup.edit-slug fieldset {padding: 35px 30px 18px;}
.popup.edit-slug p {position:relative;padding:0;}
.popup.edit-slug p small {position:absolute;top:0;left:10px;color: #9BA0A6;line-height: 34px;}
.popup.edit-slug input {width:100%;padding-left: 56px;border-color:#F4F5F5;line-height: 23px;}
.popup.edit-slug h3 {font-size: 16px;color: #1b2128;line-height: 26px;padding-bottom: 15px;}
.popup.edit-slug h3 small {display:block;font-size: 13px;color:#979fac;font-weight: 400;line-height: 20px;}
.popup.edit-slug .btn-area {border:0;padding: 0 30px 30px;background: none;box-shadow: none;}

#popup_container.add_giveaway .popup.add_giveaway {display:block;}
#popup_container .popup.add_giveaway {width:720px;background:#fff;border-radius:3px;}
.popup.add_giveaway .ly-close {right: -24px;width: 48px;top: -24px;height: 48px;opacity: 1;}
.popup.add_giveaway .ly-close .ic-del-black {width:48px;height:48px;background:url('../../../whitelabel/common/images/svg/fullscreen_close.svg') no-repeat;background-size:contain;opacity: 1;}
.popup.add_giveaway h3 {font-size: 22px;color: #1b2128;line-height: 26px;padding:36px 30px 25px;}
.popup.add_giveaway .data-frm {padding:0 20px 12px;}
.popup.add_giveaway .data-frm:after {content:'';clear:both;display:block;}
.popup.add_giveaway .data-frm p {padding-bottom:18px;}
.popup.add_giveaway .data-frm .label small {font-weight:normal;float:right;font-size: 12px;}
.popup.add_giveaway .data-frm .uploader {display:block;position:relative;border-radius:4px;border: 1px solid #f4f4f4;height: 196px;text-align: center;}
.popup.add_giveaway .data-frm .uploader .comment:before {content:'→';transform: rotate(-90deg);opacity:0.35;font-family: 'Inter UI';font-weight: 400;vertical-align: middle;font-size:60px;padding-bottom: 10px;display: block;color: #000;}
.popup.add_giveaway .data-frm .uploader input {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;z-index: 1;}
.popup.add_giveaway .data-frm .uploader img {position: absolute;width:100%;height:100%;background: no-repeat 50% 50% #fff;background-size:contain;top: 0;left: 0;}
.popup.add_giveaway .data-frm .uploader .comment {font-size:11px;opacity:0.5;display: block;padding-top: 36px;}
.popup.add_giveaway .data-frm .uploader .remove {background:url('../../../whitelabel/common/images/svg/fullscreen_close.svg') no-repeat;background-size:contain;position: absolute;top: 5px;right: 5px;width: 40px;height: 40px;text-indent: -1000em;z-index: 1;}
.popup.add_giveaway .data-frm .url {display:block;position:relative;}
.popup.add_giveaway .data-frm .url input {padding-left: 69px;}
.popup.add_giveaway .data-frm .url small {position:absolute;left:10px;top:0;opacity:0.7;line-height: 32px;}
.popup.add_giveaway .data-frm input {width:100%;display:block;border-color:#F4F5F5;}
.popup.add_giveaway .data-frm textarea {width:100%;height:80px;resize:none;display:block;border-color:#F4F5F5;}
.popup.add_giveaway .data-frm fieldset {padding:0 10px;float:left;width:50%;box-sizing:border-box;}
.popup.add_giveaway .btn-area {border:0;padding:0 30px 30px;background: none;box-shadow: none;}
.popup.add_giveaway .btn-area .btn-switch {float:left;width:22px;height:13px;margin-top: 10px;}
.popup.add_giveaway .btn-area .btn-switch.on:before {left:50%;margin-left:0;}
.popup.add_giveaway .btn-area .btn-switch.on span {opacity:1;}
.popup.add_giveaway .btn-area .btn-switch:before {width:9px;height:9px;left:2px;margin-left:0;margin-top:-5px}
.popup.add_giveaway .btn-area .btn-switch span {position:absolute;left:100%;text-indent:0;white-space: nowrap;top: 0;font-size: 13px;font-weight: bold;padding-left: 10px;text-transform: none;opacity: 0.5;}

#popup_container.add_submissions .popup.add_submissions {display:block;}
#popup_container .popup.add_submissions {width:410px;background:#fff;border-radius: 5px;margin-top: 0 !important;top: 50%;transform: translateY(-50%);}
.popup.add_submissions .ly-close {right: -24px;width: 48px;top: -24px;height: 48px;opacity: 1;}
.popup.add_submissions .ly-close .ic-del-black {width:48px;height:48px;background:url('../../../whitelabel/common/images/svg/fullscreen_close.svg') no-repeat;background-size:contain;opacity: 1;}
.popup.add_submissions h3 {font-size: 20px;color: #1b2128;line-height: 26px;padding: 30px 30px 15px;}
.popup.add_submissions h3 small {font-size: 13px;display:block;font-weight: 400;}
.popup.add_submissions ul {padding: 0 15px 15px;overflow:auto;max-height: 420px;}
.popup.add_submissions li {position:relative;padding: 10px 15px;color:#8D8D8D;font-size:11px;line-height: 15px;border-radius: 5px;}
.popup.add_submissions li:after {content:'';clear:both;display:block;}
.popup.add_submissions li a:not(.btns-blue-embo) {display:block;padding: 6px 100px 9px 62px;color: #8D8D8D;position: relative;}
.popup.add_submissions li:hover {background: rgba(247, 247, 247, .4);}
.popup.add_submissions li:hover .btns-blue-embo {opacity:1;}
.popup.add_submissions .btns-blue-embo {opacity:0;position:absolute;top:50%;right: 15px;margin-top: -16px;}
.popup.add_submissions .avatar {position:absolute;width:50px;top:50%;margin-top:-25px;left:0;border-radius:100%;background:no-repeat 50% 50%;background-size:cover;}
.popup.add_submissions .title {display:block;font-size:14px;color:#333333;line-height: 19px;padding-bottom: 1px;}
.popup.add_submissions ::-webkit-scrollbar, .popup.add_submissions ::-webkit-scrollbar-thumb {width:7px;height:7px;border-radius:4px;}
.popup.add_submissions ::-webkit-scrollbar, .popup.add_submissions ::-webkit-scrollbar-track-piece {background:transparent;}
.popup.add_submissions ::-webkit-scrollbar-thumb {background:rgba(0,0,0,0);}
.popup.add_submissions :hover::-webkit-scrollbar-thumb {background:rgba(0,0,0,0.3);}
.popup.add_submissions ::-webkit-scrollbar-button {display: none;}

.manage-reviews ul[class^="tab"] {border-radius:3px;padding:0;box-shadow:0 0 0 1px #D6D7DA;border: 0;}
.manage-reviews ul[class^="tab"] a {line-height:31px;color: rgba(26, 27, 29, .4);padding: 0 15px;font-weight: 500;}
.manage-reviews ul[class^="tab"] a:hover {font-weight:500;}
.manage-reviews ul[class^="tab"] a.current {color:#1A1B1D;}
.manage-reviews ul[class^="tab"] li:first-of-type a {border-top-left-radius:3px;border-bottom-left-radius:3px;}
.manage-reviews ul[class^="tab"] li:last-of-type a {border-top-right-radius:3px;border-bottom-right-radius:3px;}
.manage-reviews ul[class^="tab"] li+li {border-left:1px solid rgba(214, 215, 218, .45);}
.manage-reviews td .rate, .manage-reviews td .rate:before {background: url('../../../whitelabel/common/images/svg/sprite.detail.v2.merge.svg') no-repeat;background-size: 140px 140px;}
.manage-reviews td .rate {position:relative;display:block;width: 67px;height: 11px;text-indent: -1000em;background-position: -25px -50px;}
.manage-reviews td .rate:before {content:'';position:absolute;top:0;left:0;height:100%;background-position: -25px -63px;background-color: #fff;}
.manage-reviews td .rate.rating5:before {width:100%;}
.manage-reviews td .rate.rating4:before {width:75%;}
.manage-reviews td .rate.rating3:before {width:50%;}
.manage-reviews td .rate.rating2:before {width:25%;}
.manage-reviews td .title {display:block;width:240px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#151618;text-decoration:none;padding:9px 0 9px 47px;}
.manage-reviews td img {width:36px;height:36px;border-radius:3px;background:no-repeat 50% 50%;background-size:cover;vertical-align:middle;}
.manage-reviews td .detail {display:none;}
.manage-reviews td .review {width:260px;}
.manage-reviews td .review * {display:inline;}
.manage-reviews td .review .writer+*:before {content:':';color:#151618;margin:0 4px 0 -4px;}
.manage-reviews td .review .more {text-decoration:none;margin-left:-4px;}
.manage-reviews td .review .more:before {content:'...';color:#151618;margin-right:4px;}

#popup_container.review-detail .popup.review-detail {display:block;}
#popup_container .popup.review-detail {width:410px;background:#fff;border-radius:3px;}
.popup.review-detail .ly-close {right: -24px;width: 48px;top: -24px;height: 48px;opacity: 1;}
.popup.review-detail .ly-close .ic-del-black {width:48px;height:48px;background:url('../../../whitelabel/common/images/svg/fullscreen_close.svg') no-repeat;background-size:contain;opacity: 1;}
.popup.review-detail .detail {padding:0 30px 20px;}
.popup.review-detail .review-figure {padding-top:25px;}
.popup.review-detail .review-figure img {width:60px;height:60px;border-radius:3px;display:block;background:no-repeat 50% 50%;background-size:cover;}
.popup.review-detail .review-figure .figure {display:inline-block;vertical-align:top;position:relative;}
.popup.review-detail .review-figure .figure+.figure {margin-left:6px;}
.popup.review-detail .review-figure .figure .remove {display:none;position:absolute;text-indent:-1000em;top:-17px;right:-17px;width:34px;height:34px;background:url('../../../whitelabel/common/images/svg/fullscreen_close.svg') no-repeat;background-size:contain;}
.popup.review-detail .review-figure .figure:hover .remove {display:block;}
.popup.review-detail .review-figure .figure:hover .img:before {content:'';position:absolute;top:0;left:0;width:100%;height:100%;border-radius:3px;background:#000;opacity:0.3;}
.popup.review-detail .review-figure .figure:hover .img:after {content:'';background: url('../../../_ui/images/normal/header_new.png') no-repeat 0 -21px;background-size:150px 100px;position:absolute;top:50%;left:50%;width: 14px;height: 14px;margin: -7px 0 0 -7px;}
.popup.review-detail .review-body {padding-top:25px;font-size:13px;line-height:20px;}
.popup.review-detail .review-body p+p {margin-top:20px;}
.popup.review-detail .review-author .avatar {position:absolute;left:0;top:50%;margin-top:-25px;width:50px;height:50px;border-radius:100%;background:no-repeat 50% 50%;background-size:cover;}
.popup.review-detail .review-author {position:relative;padding: 7px 0 7px 62px;font-size:11px;color:#8D8D8D;}
.popup.review-detail .review-author .writer {display:block;color:#333;font-weight:bold;font-size:14px;text-decoration:none;padding-bottom: 3px;}
.popup.review-detail h3 {font-size: 18px;color: #1b2128;line-height: 26px;padding:30px;}
.popup.review-detail .btn-area {padding:0 25px 25px;border: 0;}

#popup_container.zoom_img .popup.zoom_img {display:block;}
#popup_container .popup.zoom_img {position: fixed;margin:0 !important;top: 0;left: 0;width: 100%;height: 100%;}
.popup.zoom_img div {display:table;width:100%;height:100%;text-align:center;}
.popup.zoom_img span {display:inline-block;position:relative;}
.popup.zoom_img figure {display: table-cell;position: relative;vertical-align: middle;}
.popup.zoom_img .back {position:absolute;top:-24px;right:-24px;width: 48px;height: 48px;background:url("../../../whitelabel/common/images/svg/fullscreen_close.svg") no-repeat;background-size:contain;opacity: 1;}
.popup.zoom_img .back:before {content:'';position:fixed;top: 0;left: 0;width: 100%;height: 100%;}
.popup.zoom_img img {display:block;border-radius:3px;margin: 0 auto;}
