
.trending_tool .table .btn-random:before, .popup.add_trending_item .btn-area .btn-delete:before {background: url("../../../_ui/images/normal/seller.png") no-repeat;background-size: 250px 250px;}
.trending_tool .move:before {background: url('../../../_ui/images/normal/product_new.png') no-repeat ;background-size: 200px 200px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.trending_tool .table .btn-random:before, .popup.add_trending_item .btn-area .btn-delete:before {background-image: url("../../../_ui/images/retina/seller.png") ;}
	.trending_tool .move:before {background-image: url("../../../_ui/images/retina/product_new.png") ;}
}

.trending_tool .empty {padding:107px 0;text-align:center;}
.trending_tool .empty p {font-size:20px;color:#767a81;padding:0 0 27px;}
.trending_tool .empty .btn-add {background: #FDFDFD;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdfdfd', GradientType=0);background: -webkit-linear-gradient(top,#FFF,#FDFDFD);background: -moz-linear-gradient(top,#ffffff,#fdfdfd);background: -o-linear-gradient(top,#ffffff,#fdfdfd);background-image: -ms-linear-gradient(#ffffff,#fdfdfd);border: 1px solid #D2D2D4;border-bottom-color: #C5C7C9;line-height: 34px;overflow: hidden;border-radius: 3px;font-weight: bold;color: #5a616f;padding: 0 15px;box-shadow: 0 0 3px rgba(0,0,0,0.03);}
.trending_tool #content {background:none;box-shadow:none;}
.trending_tool .data-field {position: relative;background: #FFF;border-radius: 3px;-moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.015), 0 0 0 1px #DBDBDC;box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);-moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);}
.trending_tool .ptit {margin-bottom:18px;}
.trending_tool .btns-gray-embo {border-left-width:0px;float:left;border-radius:0;}
.trending_tool .btns-gray-embo:first-of-type {border-left-width:1px;border-top-left-radius:3px;border-bottom-left-radius:3px;}
.trending_tool .btns-gray-embo:last-of-type {border-top-right-radius:3px;border-bottom-right-radius:3px;}
.trending_tool .move {display:inline-block;vertical-align:middle;opacity: 0.3;margin: -3px 0 0 -8px;padding:0 8px;}
.trending_tool .move:before {display:block;content:'';width:5px;height:11px;background-position:-60px -15px;}
.trending_tool .table .icon {display: none;}
.trending_tool .table .btn-random:before {content:'';display:inline-block;vertical-align:middle;margin:-3px -4px 0;width:15px;height:11px;background-position: -89px -18px;}
.trending_tool .btn-area {padding-top:15px;}

#popup_container.add_trending_item .popup.add_trending_item {display:block;}
#popup_container .popup.add_trending_item {width:690px;background:#fff;border-radius:3px;}
.popup.add_trending_item .data-frm {padding:13px 15px 5px;}
.popup.add_trending_item .data-frm {padding:4px 15px 15px 5px;}
.popup.add_trending_item .data-frm p:last-of-type {float:none;width:auto;}
.popup.add_trending_item .data-frm .description {margin-left:10px;}
.popup.add_trending_item .data-frm .label {display:block;padding:13px 0 6px;}
.popup.add_trending_item .data-frm p {float:left;width: 325px;margin-left:10px;}
.popup.add_trending_item .data-frm select {width:100%;}
.popup.add_trending_item .data-frm .text {width: 100%;}
.popup.add_trending_item .data-frm textarea.text {width: 100%;height:203px;}
.popup.add_trending_item .btn-area {padding:15px;text-align:right;border-top:1px solid #f1f1f2;}
.popup.add_trending_item .btn-area button {margin:0 0 0 4px;line-height:30px;font-size:12px;}
.popup.add_trending_item .btn-area .btn-delete {float:left;margin:0;}
.popup.add_trending_item .btn-area .btn-delete:before {content:'';display:inline-block;width:9px;height:11px;background-position:-220px -70px;vertical-align:middle;margin:-3px 6px 0 0;}
