<div class="wrapper statistics">
    <h3 class="stit">Search</h3>
    <div class="inner">

        <div class="pagination">
            <button class="prev disabled">Previous</button>
            <button class="next">Next</button>
        </div>
    </div>
</div>
<div class="loading"><img class='loading-img' /></div>